[2017-06-09 09:46] zet809 opened #3243 "[CRL E2E] To support service node pool for petitboot and grub2 +rh7.3 diskless"
@immarvin had verified service node pool doesn't work for petitboot and grub2. This task is used to trace the fixing of the issue.
The modification for grub2 is lower priority.

[2017-06-09 09:48] chenglch commented on #3081
Not sure how to detect the race condition and it is hard to debug as the db cache layer has been existed for a very long time.

[2017-06-09 09:49] zet809 commented on #3221
hi, @immarvin , as you had verified SN pool doesn't work for petitboot and grub2, I had opened a task #3243 to trace the fixing of this part. Pls fell free to modify the description of that task. Thx!

[2017-06-09 11:22] whowutwut commented on #3184
I think if the plan is to keep the cases just have them commented out so they are not executed

[2017-06-09 11:28] whowutwut commented on #3205
Sure will try to monitor when ITC machines arrive

[2017-06-09 11:46] whowutwut commented on #3233
@cganglin  Yes, this is because you created more service node definitions than are really there, so it indicates an error because we cannot communicate to the service nodes defined.

[2017-06-09 11:46] #3233 closed

[2017-06-09 11:52] whowutwut commented on #3202
So @immarvin  said

But I think this is a generic issue for xCAT rpms because we ship a lower version of `perl-SOAP-Lite` and the EPEL configures a repo that ships a later one.

The bigger problem in my opinion, is that if we do not update the `perl-SOAP-Lite` and the user has the dependencies resolved where it can resolve this:
[code]
Then a later version of this library is installed and we are n

[2017-06-09 14:29] arjones85 opened #3244 "Syncfiles fails on diskless nodes as a ".statelite" folder is always made at genimage time"
On booting up a diskless node, I discovered that the genimage process is always creating a ".statelite" folder in the root of the image. As a result, syncfiles sees this folder and fails to run as it believes the node is a statelite node.

Please fix. Thanks!

[2017-06-09 15:46] whowutwut opened #3246 "[OpenBMC] Milestone for 2.13.5"
This Epic will track items to be delivered in 2.13.5 release of xCAT

[2017-06-09 15:49] whowutwut opened #3247 "[OpenBMC] Milestone for 2.13.6"
This Epic will track items to be delivered in 2.13.6 release of xCAT

[2017-06-09 15:56] whowutwut opened #3248 "[OpenBMC] Milestone for 2.13.4"
This Epic will track items to be delivered in 2.13.4 release of xCAT

[2017-06-09 16:04] whowutwut opened #3249 "[OpenBMC] Milestone for 2.13.3"
This Epic will track items to be delivered in 2.13.6 release of xCAT

[2017-06-09 16:11] #3249 closed

[2017-06-09 16:12] whowutwut commented on #2932
This is ongoing and currently scheduled out to End of July.

[2017-06-09 16:15] whowutwut commented on #2933
Fedora 26 release is scheduled https://fedoraproject.org/wiki/Releases/26/Schedule currently states 7/11. So let's target this issue for then. The work can be completed ahead

[2017-06-09 16:16] #3248 closed

[2017-06-12 02:10] zet809 commented on #2933
Thx @whowutwut

[2017-06-12 03:33] zet809 commented on #2818
hi, @gurevichmark , thx for your information, I give the wrong issue number, it shall be #3158

[2017-06-12 04:48] neo954 commented on #3202
@whowutwut, Here is another workaround. You can do `yum update --exclude=perl-SOAP-Lite` if you already have `perl-SOAP-Lite-0.710.08-1.noarch` installed on your system. Unfortunately, there is no way to specify the repository when use `--exclude` argument of `yum` from command line. So, if it is a brand new install of xCAT, it is doomed. No perfect solution.

Clearly, we don't want to adapting xC

[2017-06-12 05:07] neo954 commented on #3202
There is no black magic in `go-xcat`. When you run `go-xcat update`, it runs something like the following command under the hood.

    # yum update $(rpm -q --qf '%{name}\n' perl-xCAT xCAT xCAT-buildkit \

The script `go-xcat` just helps the user configure the yum repositories of `xcat-core` and `xcat-dep`. If after the yum repositories of `xcat-core` and `xcat-dep` were set up. And the command of

[2017-06-12 05:16] neo954 commented on #3202
Maybe we can update the rpm dependency of package `perl-xCAT`, and add version information into it.

Currently, we have ...

    # rpm -qR perl-xCAT | grep SOAP
    perl(SOAP::Lite)

We can update it to ...

    perl(SOAP::Lite) < 1.0.0-0

This will prevent the end user update package `perl-SOAP-Lite` beyond version 1.0-0.

[2017-06-12 05:48] hu-weihua opened #3250 "[FVT] Support inserting customize content into regular project mail report in automation framework"
what to do:

* Support inserting customize content into regular project mail report in automation framework.
* include mail content and attachment.

[2017-06-12 06:13] xuweibj commented on #3164
https://github.com/xuweibj/openbmc_simulator

[2017-06-12 12:34] zet809 commented on #2930
Close this task and reopen it if we plan to put effort to find the root cause.

[2017-06-12 12:34] #2930 closed

[2017-06-12 12:38] #3157 closed

[2017-06-13 07:11] immarvin commented on #3244
hi @bybai , would you please take a look at this?

[2017-06-13 09:20] hu-weihua commented on #3081
I think this issue maybe have the same reason with issue #2957

[2017-06-13 09:25] bybai commented on #3244
Hi @arjones85 , thanks you found this issue, will fix this soon.

[2017-06-13 09:33] bybai commented on #3244
Hi @arjones85,  Could you comment these code in `/install/postscripts/syncfiles`? that can work around this issue.
[code]

[2017-06-13 09:55] bybai commented on #3244
I looked into `genimage`, after `genimage`, there is `rootimg/.statelite` dir, since genimage works for both statelite and stateless, so I will enhance `packimage` to exclude this `rootimg/.statelite` dir.

[2017-06-13 19:33] cxhong opened #3254 "Couldn't find ID in the discinfo database"
I am trying to run copycds for rhels 7.0 iso.  it couldn't find ID in the discinfo database, but it was define in there.

[code]
captured logs from xcatd:
[code]
[code]

[2017-06-13 23:09] cganglin opened #3255 "8335-GTB (Minsky) and 8335-GCA (Firestone) reboot starts install which keeps looping"
Using dev build xCAT 2.13.5.  These 2 nodes are Service Nodes and when rebooted went into a rinstall loop.  What from the Mgt Node needs to be looked at to debug this behaviour?

[2017-06-14 01:45] robin2008 commented on #3255
@zet809

could you give some advice?   The MN is upgrade to latest dev build, and also  done the package upgrade on service node.  (The environment has 4 SN provisioned already)

Now to reboot two of the SN (the other two are both off),  the SN will go into genesis process:
[code]

And we can check:
[code]
on one of the console:
[code]

[2017-06-14 02:49] junxiawang commented on #3184
@whowutwut ,in testcase's framework  I will add such cases's:"uuid" output.One is "No uuid information is available" if not surpported and another is output have no than one lines but could not have "No uuid information is available" if this option surpported .

[2017-06-14 03:35] immarvin commented on #3254
fixed in https://github.com/xcat2/xcat-core/pull/3256

[2017-06-14 05:42] immarvin commented on #3254
fixed in https://github.com/xcat2/xcat-core/pull/3258

[2017-06-14 06:33] zet809 commented on #3255
hi, @cganglin , have you run "makehosts <sn1-sn4>" before starting hardware discover? The root cause is the dhcp lease entry for sn1-sn4 hadn't been generated on MN after switch-based node discovery. May need to spend sometime to recreate this issue in your environment.

[2017-06-14 06:38] bybai commented on #3011
Based on LTC comments, I uploaded unsuccessful and successful log.

[2017-06-14 06:43] robin2008 commented on #3218
Here for discussion:

Global share mode:  normally used in smaller scalable cluster, say 1000 compute nodes.

1, Normally using FLAT in provisioning network
2, Table 'site': sharedtftp=1, disjointdhcps=0, installloc=/install
3, Table servicenode to define SN: nameserver=1, dhcpserver=1, tftpserver=1, nfsserver=1, conserver=1
4, Only 1 network is defined. And DHCP on service node will not server “d

[2017-06-14 06:43] robin2008 commented on #3218
@immarvin help to take a look first.

[2017-06-14 07:14] bybai commented on #3244
Hi @arjones85, I tried to reproduce this issue in my environment, but I cannot reproduce it. I want to confirm the following:
1) Could you give me how to reproduce this issue detail steps?
2) What is your xcat version and OS version?

After `genimage` command, there is `rootimg/.statelite` dir; Then I execute `packaimge <osimage>` command, `packimage` does not pack `rootimg/.statelite` dir into ro

[2017-06-14 10:27] whowutwut commented on #3202
I guess if there's no harm in allowing for `Requires: perl(Class::Inspector)` to install... then we can just leave this issue alone if the dependency is resolved.  Otherwise, if we want to block the install of a later version, then we can make the changes that are suggested `< 1.0.0-0` to ensure that we install the version from `xcat-deps`...   I don't think we should spend too much time on this s

[2017-06-14 10:31] whowutwut commented on #2969
Yes, let's bring it up today.

[2017-06-14 14:00] cxhong commented on #3254
Verified the fixes.  Thanks.

[2017-06-14 14:00] #3254 closed

[2017-06-14 19:21] cxhong opened #3260 "The Site table attribute snmpc for community string can't apply to all the switches in the cluster"
This issue is reported from research system.  This system has different kinds of switches.  The site attribute for the snmp community string that xcat should use when communicating with the switches is
[code]
but for Mellanox IB switch, the community string is "_public_"

the xcatprobe switch_macmap produces timeouts for the ib switches
[code]

[2017-06-14 21:25] arjones85 commented on #3244
Hello,

I am out this week, however commenting out the if statement for checking if .statelite exits is what I did to correct the issue. The packimage *is* including the statelite folder in the gzip for my version of xcat.

I can get you the exact version next week when I am back in town. Thanks!

⁣

Sent from my Android device​

On Jun 14, 2017, 2:14 AM, at 2:14 AM, Yuan Bai <notifications@github

[2017-06-15 01:52] bybai commented on #3011
Hi @whowutwut , I got comments from LTC as following:
[code]

[2017-06-15 01:59] junxiawang commented on #2616
@bybai
Now the issue still exist
After sles12.2 statelite installtion:
On management node:
xdsh c910f03c11k14 hostname

c910f03c11k14: linux
------> could not get hostname on sles12.2 statelite installation hierarchy by nfs

[2017-06-15 03:07] zet809 commented on #3260
Which version of snmp used for Mellanox IB switch? All of those switches are using snmp v1?
If yes, they shall set "password" attribute of switches table as the correct community string for the specified switch node.

[2017-06-15 03:33] bybai commented on #2616
The litefile_sles.csv in autotest case is not updated as my issue described. Fixed in #3263

[2017-06-15 06:22] cganglin opened #3264 "bmcdiscovery error"
Using xCAT 2.13.5.
Compute Nodes are Minsky
All compute nodes are in the same state - bmc set to dhcp.  Dhcp address received from MN without issues.
When i do discovery I get the below message
[code]
If i run the command immediately after the node is discovered OK.  Wait a little and run bmcdiscover and the error is produced again.  Is this something to be concerned about?

[2017-06-15 06:43] neo954 commented on #2859
I tried to recreate this bug on a ppc64le environment with RHEL7.3 and latest xCAT stable version 2.13.4 GA edition.

Here are the steps of how to recreate this bug. Launch a `sleep 99` jobs on any of the compute node, and then restart `xcatd` immediately.

    xdsh c910f03c01p10 'sleep 99' &
    service xcatd restart

After `xcatd` restarted, as the output shown below, there was an `xcatd SSL` pr

[2017-06-15 06:46] neo954 commented on #2859
From the example above, It is clear that the feature of xCAT fast-restart is not tested/verified properly. It is not work as end user expect.

[2017-06-15 07:33] zet809 commented on #3218
Hi, @robin2008 , some questions:
For 1. Global share mode
    1. What does "All installation request will be redirected to server node pool randomly" mean?
    2."For CN, not required to define servicenode, xcatmaster, tftpserver, nfsserver. For those attributes, the node will use whoever responds to its boot request as its master.", it is true for pxe on x86_64, but doesn't work for power petitbo

[2017-06-15 08:31] neo954 commented on #2859
Here is the testing of another scenario.

Run `copycds` against an ISO file.

    # copycds /path/to/RHEL-7.3-Server-ppc64le-dvd1-stable.iso
    Copying media to /install/rhels7.3/ppc64le
    3.38%

And, while the `copycds` command above was running, restart `xcatd` from another terminal.

    # service xcatd restart
    Restarting xcatd (via systemctl):                          [  OK  ]

After th

[2017-06-15 08:42] neo954 commented on #2859
Conclusion, the feature of `xcatd` fast-restart does not work as expect. In some situations, it does cause trouble.

I suggest we abandon the xCAT fast-restart feature, since it cause more problems than it solved. I suggest we move to `systemd` with the pull request #2648 @robin2008 made.

[2017-06-15 08:59] zet809 commented on #3264
hi, @xuweibj , will you pls take a look at this issue? Thx!

[2017-06-15 09:06] immarvin commented on #3243
PR created https://github.com/xcat2/xcat-core/pull/3268

[2017-06-15 09:10] xuweibj commented on #3264
Hi @cganglin , could you help to run ``nmap 10.10.1.106 -p 2200 -Pn`` and show me the result?

[2017-06-15 09:16] bybai commented on #3090
I sent new confignetwork framework desing through mail.

[2017-06-15 09:23] bybai commented on #3190
As discussed in new confignetwork framework design, "--script" is to use a full script to replace this framework, seems not helpful for us.  Move this into icebox.

[2017-06-15 09:31] zet809 commented on #3150
hi, @whowutwut , what do you think about @immarvin, @robin2008 and mine idea?

[2017-06-15 09:32] tingtli opened #3269 "[FVT]Add missed cases for hardware control bundle"
Reviewed all the hardware control cases , we missed following cases. Need to realize them in the test bucket.

CEC with HMC:
rpower_onstandby

BMC:
rpower_softoff
rpower_wake    (delayed for low priority)
rpower_suspend_w_o_r  (delayed for low priority)

rinv_mprom
rinv_guid
rinv_dimm

[2017-06-15 09:33] bybai commented on #3197
Hi @whowutwut, What is your opinion about above comments?  If we can use another script to re-check the interfaces linked or not after the CN is booted, confignetwork is a good option, now I am working on new confignetwork enhancements, I can add this check in confignetwork.

[2017-06-15 09:33] tingtli opened #3270 "[FVT]:refine rpower cases in test bucket."
Review rpower cases in current test bucket and find the cases are not formatted well and miss some information. Need to refine all the rpower cases.
[code]

[2017-06-15 10:21] zet809 commented on #3221
Hi, @immarvin , it seems we didn't plan to verify `snmove` in this sprint, so if the code for Service node pool is done, pls switch to other tasks. Thx!

[2017-06-15 11:02] whowutwut commented on #3255
@cganglin You should be able to use `xcatprobe detect_dhcpd -i <interface> -m 98:be:94:07:be:99` and see whether an iP is handed out on the Dynamic Range. If it is, we have to figure out why it's not set in the predefined node.  After that, we need to check the dhcpd lease file...
@zet809 This might be what I was talking about in the meeting last night.

@cganglin let me and @cxhong know when you

[2017-06-15 12:58] whowutwut commented on #2803
Closing for now, please re-open if the issue persists.

[2017-06-15 12:58] #2803 closed

[2017-06-15 16:14] whowutwut commented on #2969
@zet809  I'm not sure that we need to reset the BMC for openbmc.  We should attempt to call ReST and until we get back `OK 200` we will just block... or wait...    Is this sufficient?

[2017-06-15 17:53] whowutwut commented on #3194
I've put the following files in GSA staging area:

### Linux
[code]

And removing the corresponding 1.8.17-x version:
[code]

### Debian
[code]

Removing the 1.8.17 version...
[code]

@zet809  @chenglch What are these files here?  Can I delete them?
[code]

[2017-06-15 18:52] cxhong commented on #3260
yes, set "password" attribute of switches table as the correct community string worked for this case.
I will go through the xcat code make sure we used snmppassword instead of community string.

[2017-06-15 18:58] gurevichmark commented on #3159
Fixed by PR#3261

[2017-06-15 19:00] gurevichmark opened #3273 "[openbmc]rflash support for firmware file activate"
OpenBMC `rflash` command support - priority 3:

Activate uploaded file
`rflash <node> <id> --activate`

If activating the PNOR, compute side should be powered off before activating the update.

[2017-06-15 19:44] whowutwut opened #3274 "[DEV] rinv does not handle the firmware output well when multiple images are on the BMC"
When the BMC contains multiple firmware images, the output for `rinv firm` does not look pretty.

[code]

[2017-06-15 20:16] whowutwut commented on #3274
@gurevichmark Should we only display the active image and let rflash display the list?  Or just display all... and formatted better.

[2017-06-16 02:12] tingtli opened #3276 "[FVT]:sync up rinv manpage and help information"
With the latest xCAT 2.13.5 build. I found rinv manpage and help information is not the same. See the BMC/MPA specific part.

The manpage has more options than help information.

[code]

[code]

[2017-06-16 02:13] tingtli commented on #3276
@zet809  Please take a look, thanks!

[2017-06-16 02:39] daniceexi commented on #2859
@robin2008 please take a look of the behaviour that found by @neo954 and figure out the root cause, then we can discuss the final decision.

[2017-06-16 03:02] whowutwut commented on #3276
@gurevichmark If you have some down time here and there to look into this, please feel free to take the issue.

[2017-06-16 03:02] cganglin opened #3277 "Feature Request - How to verify the Service Nodes are really used to service commands etc"
I know I can put xcat in debug mode but that should be a last resort.  I know I can see in the /tftpboot/petitboot/<nodename> file on MN to see the SN that will service the node build.  What I would like to know is if there is a way to verify when I run commands from MN to CN it uses the correct SN.  I tailed the cluster log and ran uptime across all of my nodes but the only thing that showed in t

[2017-06-16 03:06] cganglin commented on #3277
Additonal question - is there a list of commands that will be serviced by the SN or everything run from the MN with destination to a CN goes via SN?

[2017-06-16 03:10] whowutwut commented on #3150
@immarvin  I think this is a good start, but even if we add it to the postscript , the user is able to set `postscript=""` and it will clear it out.  This is something that doesn't happen with the default attirbutes.

@zet809 If we can set a attribute in the osimage definition to indicate that it's an osimage for Service Nodes, and then from that , we run the correct postscript automatically, i th

[2017-06-16 03:28] bybai commented on #2616
Verified in autotest environment.

[2017-06-16 03:28] #2616 closed

[2017-06-16 03:35] hu-weihua commented on #3270
I don't think we need to open one bug specially, maybe it is ok to refer the pull request to task. But that is fine, I have merged the pull request.

[2017-06-16 04:24] hu-weihua commented on #3269
This issue  is related task #3181

[2017-06-16 05:29] neo954 commented on #3194
@vhu, I believe for the Debian repository, the files under directory `./xcat-dep/pool/main/i/ipmitool-xcat/` need to be updated as well. Or maybe they are hard links to files under directory `./debs/`.

[2017-06-16 05:39] immarvin commented on #3277
2 options:
1. run ``cat /var/log/xcat/cluster.log|grep 'xCAT: Allowing'|grep -v 'from localhost'`` on MN
2. run ``xdsh  service cat  /var/log/xcat/commands.log`` or ``xdsh  service -s tail -f /var/log/xcat/commands.log`` to monitor the request dispatched to the service node in "service" group

[2017-06-16 05:43] chenglch commented on #3194
I do not know the purpose of these files. Seems we haven't updated them for a long time.

[2017-06-16 06:58] tingtli commented on #3270
Since the code is merged. Close this bug.

[2017-06-16 06:58] #3270 closed

[2017-06-16 07:14] zet809 commented on #3194
I think the ./xcat-dep directory in the same directory with ./debs is generated wrongly and shall be removed. You can see the xcat-genesis-base are also very old.
# find ./xcat-dep -name "xcat-genesis-*"
./xcat-dep/pool/main/x/xcat-genesis-base-ppc64
./xcat-dep/pool/main/x/xcat-genesis-base-ppc64/xcat-genesis-base-ppc64_2.9-snap201503171145_all.deb
./xcat-dep/pool/main/x/xcat-genesis-base-amd64
./

[2017-06-16 08:25] zet809 commented on #3276
The manpage is more accurate, but seems pci/bios/mac are dropped.
[code]

[2017-06-16 08:55] zet809 commented on #2833
Duplicated with #3266. So, close this one.

[2017-06-16 14:05] gurevichmark commented on #3274
I think for `rinv firm` we should just display currently active image and let `rflash --list` display all of them. I feel this will be more consistent with ipmi output.

[2017-06-16 14:35] cganglin opened #3279 "xCAT allowed illegal character in postscript"
I found that xCAT 2.13.5 allowed a space while adding the postscript information to node definition, because of this I could not build and subsequently couldn't open consoles etc and didn't get an error while inputting.
I cut and paste the following:
[code]
When i tried building i kept getting the following which was hard to figure out because everything looked good.
[code]

I finally found the 2

[2017-06-16 14:54] cganglin commented on #3279
![2017-06-16_08-40-43](https://user-images.githubusercontent.com/28903850/27231857-40410d60-5271-11e7-977d-c31124057c1f.png)

My write up may have my pointers (^) showing at the wrong place.  Preview this picture to see where I had the spaces - denoted by the orange markers

[2017-06-16 15:16] whowutwut commented on #3194
Ok I'll remove the ipmitool-xcat ones and build xcat-deps. let's see what happens.

[2017-06-16 15:18] whowutwut commented on #3194
Did someone create those two updated ones?
[code]

[2017-06-16 15:28] cganglin commented on #3255
From working with Er Tao, it seem the issues may have been with the dhcp.leases file, but I will let him add his findings.

[2017-06-16 16:15] whowutwut commented on #3194
Created new xcat-dep off of the 6/15/17 daily build.

This new xcat-dep is required with the changes merged in #3252 .

If you see the following problem on your system after installing the development build:
[code]
Upgrade conserver and run `makeconservercf`
[code]

### LINUX

Under: `/media/xcat/build/xcat2_autobuild_daily_builds/20170616.0615/linux_rpm/devel/src/xcat-core` executed `/builddep.sh

[2017-06-16 17:45] cxhong commented on #3260
verified different community string on research system.  If default community string is different for switches, need to add the community string to snmppassword attribute in the switches table, for example:
[code]

[2017-06-16 17:51] gurevichmark opened #3281 "[openbmc]rflash support for firmware command - man page and usage"
Update man page and usage for openbmc `rflash` command.

[2017-06-19 01:55] immarvin commented on #3279
hi @cganglin ,how did you add the "hardeths" and "confignics -s" to the postscripts? ``chdef -p``?

[2017-06-19 01:59] bybai commented on #2797
Hi @neo954 , Could you help verify it?

[2017-06-19 02:16] bybai opened #3283 "configeth produces errors but returns with 0 return code."
configeth produces errors but returns with 0 return code.
Copy related info from #3108:
It's not until I manually run confignics -s using updatenode <node> '-P confignics -s' that error messages come out.

[code]

[2017-06-19 02:31] tingtli commented on #3276
Seems diag and mparom are also not supported.

[2017-06-19 03:21] tingtli commented on #3276
@gurevichmark  Would you also please take a look at the option explanation. Seems we don't have dimm and mparom explanation in the manpage details.

[2017-06-19 03:29] zet809 commented on #2969
I think this is fine. I had tried 'curl' to login the OpenBMC after reboot, after the IP is pingable, the curl request will hung and returned "200 OK" in the end.

[2017-06-19 03:47] cganglin commented on #3279
Yes

[2017-06-19 05:16] immarvin commented on #3279
would you please provide the ``chdef`` command to create the resulted "postscripts" attribute? The white spaces can not be added unless the white spaces are specified by yourself.

[2017-06-19 05:41] hu-weihua commented on #2833
@zet809 , This is a task, #3266 is a pull request for this task. this is not duplicate. I will reopen it.

[2017-06-19 05:51] neo954 opened #3284 "While selinux on KVM host was reconfigured from `enforcing' to `disabled', rpower failed to power previous created KVM guest on."
**Software environment**

* xCAT management node runs xCAT 2.13.4 GA edition on ppc64le or x86-64 architecture
* KVM host with RHEL 7.3 + RHV 4.1 on ppc64le or x86-64 architecture

**Recreation steps**

On the KVM host, enable selinux. Make sure it is in the *enforcing* state.

    [root@kvmhost ~] # getenforce
    Enforcing

On the xCAT management node, create one KVM guest on the KVM host with c

[2017-06-19 05:58] #3184 closed

[2017-06-19 05:58] #2690 closed

[2017-06-19 05:58] #3250 closed

[2017-06-19 06:01] neo954 commented on #3284
While a KVM guest was created while selinux set to *enforcing*, a `seclabel` section similar to the following was added to the definition XML of the KVM guest.

    <seclabel type='dynamic' model='selinux' relabel='yes'>
      <label>system_u:system_r:svirt_t:s0:c408,c616</label>
      <imagelabel>system_u:object_r:svirt_image_t:s0:c408,c616</imagelabel>
    </seclabel>

And xCAT saved this XML to

[2017-06-19 06:02] hu-weihua commented on #2836
@tingtli , could you paste the link of our release accptable criteria here? thanks

[2017-06-19 06:04] neo954 commented on #3284
A simple workaround of this issue is run `rmvm` and then `mkvm` against the affected KVM guest. This will remove the XML copy saved in xCAT database, and recreate the KVM guest while selinux is disabled on the KVM host. After the KVM guest re-creation, it can be powered on straight-forward.

[2017-06-19 06:13] #2836 closed

[2017-06-19 06:22] zet809 commented on #3274
I agree with @gurevichmark that only display all firmware information with `rflash` to keep consistent with what ipmi do.

[2017-06-19 06:40] tingtli commented on #2836
This is the link for this task
https://w3-connections.ibm.com/wikis/home?lang=en#!/wiki/xCAT/page/End of cycle regression process and release criteria

[2017-06-19 07:38] chenglch commented on #3193
Close this one as investigation is done.
We can track conserver work item with #3239

[2017-06-19 07:38] #3193 closed

[2017-06-19 08:55] immarvin commented on #2493
hi @gurevichmark , I get some chance to look into this during the verification of SN pool. The ip address instead of hostname of the tftpserver  is written to the ``yaboot/petitboot/grub2/xnba/....`` config file under ``/tftpboot``, I am this is due to some of the network boot loader requires IP address instead of hostname in the configuration file.

[2017-06-19 10:13] #2737 closed

[2017-06-19 14:10] whowutwut commented on #3194
One problem here is that we are missing some documentation steps for updating the xcat-deps..
I can create a pull request for this...  We need the following commands to pick up the `ipmitool-xcat` and `conserver-xcat` packages

[code]

[2017-06-19 14:15] whowutwut opened #3286 "Conserver-xcat should be required to update to 8.2.1 after code change in PR #3252"
With PR #3252 , we broke compatibility with older versions of conserver.   Using the new xCAT code with the older version of conserver results in this msg:

[code]

The pull request should require a > 8.2.1 change in the spec file so we pull in the updated version of conserver when updating xCAT.

[2017-06-19 14:18] whowutwut commented on #3286
@neo954 @hu-weihua  I don't think our migration testing catches this, does it?   Essentially, we are running a 2.13.4 base and pointing to the xcat-core and xcat-deps public repo.  Update xCAT and see if functions still run.  Here because conserver is not updated at the same time as #3252 , it breaks conserver...

[2017-06-19 14:31] whowutwut commented on #3274
Ok, sounds good.  Here's the planned sample output that we will display for rinv..
[code]

[2017-06-19 14:47] #3274 closed

[2017-06-19 14:48] whowutwut commented on #2836
@tingtli That URL is malformed..

[2017-06-19 15:40] whowutwut opened #3289 "Changing site table attributes using chdef does not return the correct message"
This is just one sample, but I'm thinking that this behavior may applies to most attributes for the site table.

I was using the `chdef`  command to change attributes for the site table and the message returned does not reflect correctly on the behavior...

[code]

Looking at the value afterwards, it has made the change:
[code]

[2017-06-19 18:08] gurevichmark commented on #3276
@tingtli Do we have any systems that are "BMC/MPA" managed ?
@zet809 Which xCAT .pm module handles the processing of "BMC/MPA" managed computes ?

[2017-06-19 20:43] #3159 closed

[2017-06-20 01:56] bybai commented on #3244
Hi @arjones85 Could you provide the version of xCAT ?  Could you check if there is `./.statelite*` is in packimage.pm like I described in above comments? Thanks

[2017-06-20 02:08] tingtli commented on #3276
You can take my nodes. MN:c910f04x36. cn:c910f04x29

[2017-06-20 02:41] cganglin commented on #3279
This is the command but again as I mentioned before, I wrote the commands out then cut and paste

 chdef sn4 -t node -o sn4 -m postscripts="mlnxofed_ib_install.v2 -p /install/ofed/MLNX_OFED_LINUX-3.4-2.0.0.1-rhel7.3-ppc64le.iso,  hardeths,  confignics -s,configiba.1port"

[2017-06-20 03:32] hu-weihua commented on #3286
@whowutwut , actually, we did not have any case against ``conserver`` and ``rflash``  in daily regression up to now. it belongs to totally manual case. Because it is hard for a automatic case to monitor console.  Not to mention the migration. You brought up a good question.  I will try to find out a way to automatically test it. maybe monitor ``/var/log/consoles/CN`` is a option

[2017-06-20 06:52] tingtli commented on #3269
It is fixed by #PR 3285.

[2017-06-20 06:52] #3269 closed

[2017-06-20 07:31] daniceexi commented on #3284
@neo954 What caused this ``While selinux on KVM host was reconfigured from `enforcing' to `disabled'``?

[2017-06-20 07:43] #3210 closed

[2017-06-20 08:05] tingtli commented on #3181
Since PR# 3271 is merged. I will close this one.

[2017-06-20 08:05] #3181 closed

[2017-06-20 08:45] bybai commented on #3011
"udevadm info --attribute-walk --name=/dev/sda" in %pre section of kickst can work well when firmware is skiboot-5.6.0-rc2 on p9euh02.

[2017-06-20 09:48] bybai commented on #3011
Fixed in #3204, will verify in autotest env.

[2017-06-20 09:50] bybai commented on #3090
Finished design discussion through mail, so close this task.

[2017-06-20 09:50] #3090 closed

[2017-06-20 10:23] neo954 commented on #3286
@whowutwut,

Actually, xCAT team did not expect the end user to mix older version `xcat-core` and newer version `xcat-dep` or vice versa. xCAT team expect the end user use `xcat-core` and `xcat-dep` matching each other.

I do not think xCAT provides such forward/backward compatible by mixing old `xcat-dep` and new `xcat-core`.

In the old days, xCAT packages all have broken package dependency decl

[2017-06-20 11:10] whowutwut commented on #3286
@chenglch does the pull request fix the error message that is listed in the initial description?   It's not clear from the pull request information and I'm not familiar with that code. So does this mean any version of conserver should work?

So  in this issue I suggested to make a spec file change to pull in the updated version and your pull request Fixes a calculation errro. Is that the plan of a

[2017-06-20 11:23] whowutwut commented on #3286
@neo954 Would like to see @chenglch response to the question above...

But... we support `yum update` and we support the ability to update from the daily build each day.  What had happened is we created a new xcat-dep package and made changes to conserver.  So the daily build of xcat-core without the updated `conserver-xcat` caused that problem above in the initial post.

If that problem was unint

[2017-06-20 11:23] chenglch commented on #3286
@whowutwut , yes, from the pull request #3252, I check the `console/conserver` version at first and then keep or modify the `conserver.cf` or `console.rc` based on the version number. But I made a mistake whiling comparing the version numbers. This pull request fixed it.

So If we just upgrade `xcat-core` separately, `conserver` should work correctly.

[2017-06-20 11:26] whowutwut commented on #3286
@chenglch  Thanks, I  do still think we want to help the users get to the correct level or conserver and ipmitool.  Because the only way to do that today is with 2 commands

[code]

I think it's error prone to have two commands executed to update the product.  Perhaps we need to find a way to get a package list that is case-insensitive and then install using that package list..

Why would we NOT w

[2017-06-20 11:31] chenglch commented on #3286
@whowutwut , We have some discussion for the two options in pull request #3252, most of us think it's more friendly to users.

[2017-06-20 13:10] whowutwut commented on #3197
@bybai  I re-provisioned the node yesterday and things looked OK.  I wonder what had happened before?  The networks that had physical cables connected had "ONBOOT=yes" and the networks that did not have physical cables connected was left "ONBOOT=no"  So I think this is sufficient for now.   I'm ok to close this out...

Could it be possible that I was using an older version of xCAT on the mgmt node

[2017-06-20 19:26] arjones85 commented on #3244
Hello,

My problematic xCAT version is 2.13.3.

This is correct and consistent with what I see.

This does not happen for me, the .statelite directory is still there in the archive. My packimage.pm dpes have the following in it:

    # the files specified for statelite should be excluded
    my @excludeStatelite = ("./etc/init.d/statelite", "./etc/rc.sysinit.backup", "./.statelite*", "./.default*"

[2017-06-20 19:38] whowutwut opened #3295 "[openbmc] rspconfig - support setting the ip address to DHCP for the BMC"
This task tracks the support for adding to rspconfig to set the BMC IP address to DHCP.

* ~~Power off compute hosts~~  - Currently for OpenPower, we do not power off the compute node when we reset the BMC IP address back to DHCP.  Should we consider this?
* Reset the BMC IP address back to DHCP

[2017-06-20 20:32] gurevichmark commented on #3276
@tingtli and @zet809 I looked at the node definition for c910f04x29. It has `mgt=ipmi`.
Does this mean MPA is a x86 architecture BMC, managed using ipmi ?

[2017-06-21 02:06] xuweibj commented on #3220
Test environment:
MN: c910f03c11k08

Results:
100 IP: rpower on 6s; rpower stat: 1s
1000 IP: rpower on 60s; rpower stat: 15s
5000 IP: rpower on 305s; rpower stat: 74s

[2017-06-21 02:07] xuweibj commented on #3220
The task was finished in pull request #3265

[2017-06-21 02:09] immarvin commented on #3289
hi @chenglch , would you please take a look  at this? thanks

[2017-06-21 02:11] robin2008 commented on #3274
Is it possible to make the output of firmware information similar as garrison and firestone, as they are OPAL too.
[code]
And maybe for the "Additional Info" for the System Firmware (HOST Software), we can have a flag for it to be shown or hidden.  Not sure if "-V" could be used for this purpose. Till now, I didn't see any difference w/ or w/o -V for `rinv foo firm`

[2017-06-21 02:12] #3277 closed

[2017-06-21 02:18] immarvin commented on #3279
hi @cganglin , thanks for your information.

@zet809 , from my point of view, I do not think  extra spaces in ``postscripts`` will break anything. would you please take a look why the extra spaces in ``postscripts`` will cause discovery failure?

thanks

[2017-06-21 02:28] bybai commented on #3197
Hi @whowutwut ， May be the following typo issue affects your previous result. I am agree with you to close this issue now. If you hit problem later, we can reopen this issue.
[code]

[2017-06-21 02:29] neo954 commented on #3286
@whowutwut, Actually, you can do it in one command.

    yum update '*xCAT*' '*xcat*'

[2017-06-21 02:36] #3197 closed

[2017-06-21 02:37] whowutwut commented on #3274
Sure will look into this to sync up the output and create a pull request...

If we really want the support for verbose. I think another issue should be opened for that. "firm" is an option to rinv and we need to think about what verbose would provide with the rinv command in general. Seems like no options prints all. Them firm already reduces the subset. Then -V to add more. This needs some though

[2017-06-21 02:45] bybai commented on #3244
Hi @arjones85 , thanks your details comments. I found there was no `./.default` and `./.statebackup` under rootimg. In packimage.pm, directories `./.statelite`, `./.default` and `./.statebackup` are all in exclude list, why only left `./.statelite` directory? It is curious to me, I will look into it later.

[2017-06-21 02:55] chenglch commented on #3289
This error is imported by the pull request #3045, @zet809

[2017-06-21 03:34] zet809 commented on #3295
Hi, @whowutwut , I don't think we need to power off the compute node when reset BMC back to DHCP. 1. If we keep host is powering on, we can check the dynamic IP BMC got through the host.
2. From my point of view, the changing of BMC ip shall not affect the host.

[2017-06-21 05:36] junxiawang opened #3297 "[fvt]2.13.5 rinstall could not set runcmd and runimg's currchain if using “ rinstall noderange "runcmd=cmdtest,shell"”"
env:all os
build:
c910f04x35v05:/opt/xcat/share/xcat/tools/autotest/testcase/genesis # lsxcatd -v
Version 2.13.5 (git commit 6720675b21440e30d56f7b4e491352f4587c6617, built Tue Jun 20 06:15:47 EDT 2017)
c910f04x35v05:/opt/xcat/share/xcat/tools/autotest/testcase/genesis #
How to reproduce:
[code]

[2017-06-21 06:16] tingtli commented on #3276
@gurevichmark  MPA is for Flex system.  Seems we don't have flex system now. c910f04x29 is a x86 architecture server which was managed by BMC with ipmi protocols.

[2017-06-21 09:24] #3164 closed

[2017-06-21 09:24] #3220 closed

[2017-06-21 10:26] neo954 opened #3304 "Command nodeset exit zero when hit error"
It is xCAT 2.13.4 GA edition. The compute node is x86-64 KVM guest, `netboot` attribute is `xnba`. This test case is intentional checking the exit code when the hostname cannot be resolved.

    [root@c910f02c03p27 ~]# nodeset testnode1 osimage=rhels6.6-x86_64-install-compute
    testnode1: install rhels6.6-x86_64-compute
    Warning: The hostname testnode1 of node testnode1 could not be resolved.

[2017-06-21 10:47] whowutwut commented on #3276
We do. @neo954 has some. Frame5 u1 is a flex chassis

[2017-06-21 10:51] whowutwut commented on #3297
👍 @junxiawang is this manually caught or was this caught in automation. . ?

[2017-06-21 16:42] cxhong opened #3305 "Add VLAN and MTU to switch_macmap command"
We like to add Vlan and MTU for switch_macmap.  currently,  it only supports neighbor mac and node name
[code]

[2017-06-21 17:05] whowutwut commented on #3274
@robin2008  I looked into this more today.  I  had forgotten the reason it was formatted this way and it came back to me while I investigated this today.    In the ipmi version, we have code that is making calls and holding data separated and then printing it out.

In the Rest code, we call a single command to get all the firmware levels and then sort it best we can.  To keep the data in the right

[2017-06-21 17:42] gurevichmark commented on #3276
Fixed by PR #3307

[2017-06-21 17:45] whowutwut commented on #3243
@zet809  I'm not sure I understand the problem here.   What part of service node pools does not work?
I'm reading the following documentation: http://xcat-docs.readthedocs.io/en/stable/advanced/hierarchy/define_service_node.html?#service-node-pools

Is it the `servicenode` keyword?
Is it the `sharedtftp` site attribute?

[2017-06-21 17:57] whowutwut commented on #2933
@zet809 Trying to track the remaining tasks for this ...

- [ ] Put the beta version of xCAT genesis base on xcat.org
For this, did you create `files/xcat/xcat-dep/2.x_Linux/beta` on xcat.org?   If so, let's upload the beta version of xCAT-genesis-base there and cross this off..
- [ ] After Fedora26 GA, rebuild the xCAT-genesis base   (only for RHEL 7.x ppc64le platform)
- [ ] Include it in the xc

[2017-06-21 18:25] whowutwut commented on #3205
No change on the ITC machines, still all zeros being reported back...  going to move this to the next release to continue tracking.

[2017-06-21 18:37] whowutwut commented on #3305
This task can be split to 2 pull request if it helps to speed up the development of the code or partially integrate (VLAN has higher priority, then MTU) but this kind of information is useful when we are trying to set up the cluster to ensure that the switches are configured correctly.

[2017-06-21 19:04] whowutwut commented on #3046
I'm able to run getadapters now...

[code]

and it adds the following:
[code]

How do we consume this data?
The mellanox adapter is set to ethernet mode but it seems like we are not able to detect this in the genesis kernel and provide a name for this?

[2017-06-21 19:23] gurevichmark commented on #3046
I think man page for `getadapter` has some information on how the information is used.

[2017-06-21 19:24] gurevichmark commented on #3046
I also feel we need to add some warning to the `getadapter` man page to tell the user that their node might be booted into genesis when `getadapter` is invoked. Users might think this is a simple query command and not realize their node might get rebooted.

[2017-06-21 19:43] whowutwut opened #3308 "[openbmc] rspconfig - Support a way to send the ssh keys over to the BMC"
Currently there's no REST command to upload a public key to the BMC.

Rather than wait for this support, leverage the `rspconfig node sshcfg` option to use Expect for now to send over the ssh key so we can passwordless ssh to the BMC

*Note* May need to create the `/root/.ssh` directory since that is missing from openbmc at the time of this writing

[2017-06-21 19:44] whowutwut opened #3309 "[openbmc] rspconfig - support configuration of the BMC hostname"
The default is `witherspoon` when the firmware is flashed, need to be able to set some value in `/etc/hostname`

Externals:

`rspconfig <node> hostname=newhostname`

[2017-06-21 20:49] whowutwut commented on #3255
I think this is related to multiple adapters on the node configured to be on the same network subnet.  xCAT noboot option does not work on filtering out multiple requests on the same adapter.

I think this is where VLAN should be used to separate the two adapters that appear.  @zet809  Please re-open if you have more info and if this is really a bug or a configuration issue.

[2017-06-21 20:49] #3255 closed

[2017-06-21 20:49] whowutwut commented on #3202
If not fixing, lets close.

[2017-06-21 21:05] whowutwut commented on #3120
Moving this out, since it does not currently affect general usage.

[2017-06-21 22:00] whowutwut commented on #3295
@zet809 Thanks for the comments, that is a valid point.  In the re-discovery scripts that I have written for P8 OpenPower nodes,  I normally just use raw commands  directly to BMC to reset to DHCP, but I will change those to use `rpower <> off` then `rspconfig`

[2017-06-22 02:13] whowutwut opened #3310 "[openbmc] After firmware update, very first call to BMC results in 503: Service Unavailable"
I'm opening this issue so that we can track this to see whether the problem is something in the xCAT implementation of something with the firmware.   There is an upcoming code drop for more flash support in the BMC so perhaps things will change once the firmware is flashed via REST...

After a flash of the openbmc firmware, the very first call from xCAT ,  ` rpower <node> stat` always results in 5

[2017-06-22 03:13] hu-weihua opened #3313 "[FVT] genimage failed in sles"
``genimage`` failed in sles11.4 and sles12.2 in automation environment.

xCAT version : ``Version 2.13.5 (git commit b8c402c86a23ce0203bcc8da8712f89ebd4eb305, built Wed Jun 21 06:15:37 EDT 2017)``

Below are some important log from ``sles12.2-ppc64le"

    ....
    ailed to connect to bus: No such file or directory
    Failed to connect to bus: No such file or directory
    Enter the dracut mode.

[2017-06-22 03:15] immarvin commented on #3313
fixed in https://github.com/xcat2/xcat-core/issues/3313

[2017-06-22 03:27] junxiawang commented on #3297
@whowutwut  as autotest sometimes failed so I find the root cause manually.

[2017-06-22 03:34] chenglch commented on #3046
@whowutwut , these data will be used by `confignetwork`, the data format for `mac` and `pci` is wrong and I will open a pull request to fix it.

Currently `getadapter` do not support `mellanox adapter`, maybe I need a test machine  to have a try and make it as a feature request to enhance `getadapter`.

[2017-06-22 03:56] whowutwut commented on #3286
Attempt to verify the issue...

# Install earlier build of xCAT 2.13.4 and make sure rcons works...

[code]

### Then update to 6/19/17 build and re-create the problem
[code]

### Update to 6/21/17 build
[code]

## Does not seem to work...
[code]

@chenglch Any ideas?
You can access this machine 10.3.31.112

[2017-06-22 04:35] samveen commented on #3074
@immarvin In the end we used a hackish method to work around the issue.
Network definition:
[code]
Please notice the `mgtifname=!remote!ens1f101`. This interfaces doesn't actually exist: I'm just using this string as a hack to allow creation of a new shared network.
This created an independent `shared-network` as below:
    shared-network ens1f101 {
      subnet 10.81.101.0 netmask 255.255.255.0 {

[2017-06-22 05:31] chenglch commented on #3286
@whowutwut , I try to install 2.13.4 then upgrade to the latest build on my own env.
[code]
I do not encounter the problem like you mentioned.

I guess you install the stable xcat 2.13.4 at first , then upgrade to `6/19/17` build, at last upgrade to `6/21/17`.
If so, the step is wrong. Both `6/19/17` and `6/21/17` are development build, they are not stable. As `6/19/17` contains the bug that I hav

[2017-06-22 06:45] zet809 commented on #3243
Hi, @whowutwut , if there are multiple service node specified in 'servicenode' attribute, makedhcp will fail since it simply try to translate the string in 'servicenode' attribute to IP address. It of course will failed that *multiple service nodes* can not be *a* valid hostname, and no IP address will be got.
As mentioned in the pull request #3268, the *servicenode* is only used when dispatch req

[2017-06-22 07:19] zet809 commented on #2933
Hi, @whowutwut , I had rebuilt the xCAT-genesis-base and uploaded it onto xcat.org.
For the next 2 things you mentioned above, I'd like to reuse this task to trace them and had updated the description of this task.

[2017-06-22 08:12] xuweibj opened #3315 "Add delay before response in OpenBMC Simulator"

[2017-06-22 08:13] #3213 closed

[2017-06-22 08:13] #3239 closed

[2017-06-22 08:13] #3194 closed

[2017-06-22 08:14] zet809 commented on #2350
Hi, fixed with #2998, so close this issue.

[2017-06-22 08:14] #2350 closed

[2017-06-22 08:16] neo954 opened #3316 "`No object definitions have been created or modified' printed by chdef when change site table"
With xCAT 2.13.4 GA build. While use `chdef` to change the attribute in the `site` table. It print out `No object definitions have been created or modified.`, but actually `chdef` did change the attributes.

    # chdef -t site master=10.2.3.27 nameservers=10.0.0.103
    No object definitions have been created or modified.
    # echo $?
    0

[2017-06-22 08:23] tingtli commented on #1871
@junxiawang Do you have updates for this bug?

[2017-06-22 08:25] #3175 closed

[2017-06-22 08:25] #2833 closed

[2017-06-22 08:26] #2904 closed

[2017-06-22 09:46] zet809 commented on #3316
Duplicated with #3289

[2017-06-22 09:46] bybai commented on #3242
This is not makehosts issue.  The test case has problem.

[2017-06-22 09:47] #3316 closed

[2017-06-22 09:52] #3242 closed

[2017-06-22 13:43] whowutwut commented on #2933
@zet809  👍  I like this plan.

Adding in the URL for reference: http://xcat.org/files/xcat/xcat-dep/2.x_Linux/beta/xCAT-genesis-base-ppc64-2.13.5-snap201706220300.noarch.rpm

[2017-06-22 15:49] gurevichmark opened #3318 "[openbmc] Support firmware update rflash in hierarchical environment."
Potentially need to transfer/copy update file to the appropriate service node, before executing REST call.

[2017-06-22 18:42] ChristopherWalker opened #3319 "noderange in xCAT commands might be broken by shell expansion"
Having just tried to reprovision two nodes (dn22 and dn23), I've reprovisioned dn2 instead.

The command I ran was:

[root@mgt.apocrita consoles]# rinstall dn[22-23] --osimage="apocrita-centos7.3-x86_64-install-compute" -u
Provision node(s): dn2

Needless to say, this hasn't been popular with the user running jobs on the node. This of course would work correctly with differently named files in the

[2017-06-22 19:48] whowutwut commented on #3308
This issue should be put on hold until we get confirmation on which milestone https://github.com/openbmc/openbmc/issues/1517 will be targeted for.  Should know more next week.

[2017-06-22 23:18] markprez opened #3320 "[CUSTOMER] bmcdiscover not finding water cooled ITC witherspoon"
Version 2.13.5 (git commit 5416a7546ed2ba551a0f98f02d28fb822bfe6e27, built Fri Jun  2 06:15:51 EDT 20
dhcp leases:
[code]

[code]

ssh to 9.114.82.96, it is the witherspoon BMC.

[2017-06-23 00:08] tingtli commented on #3276
I've verified with the latest build. It's ok to close
[code]

[2017-06-23 00:08] #3276 closed

[2017-06-23 00:48] whowutwut commented on #3320
@markprez  Yes, I also came across this. IF you update to today's build, it should have a Warning message, but that still doesn't resolve the problem.  I just created a pull request that will let us get by the bmcdiscover, but the VPD information is not programmed into the ITC machines which is also a problem.

If you have a cronus setup, maybe we can use that to program on the MTM and Serial into

[2017-06-23 01:02] whowutwut commented on #3318
Could this be resolved by having a process in place for it?
* Use a shared filesystem
* Rsync the firmware images to the service nodes before running the --upload?

[2017-06-23 01:18] whowutwut commented on #3305
We can also split this into multiple pull request that add support for mellanox Ethernet switch then cumulus Linux is switched so we can get function in quicker. @zet809 do you have any cycles to look at this?

[2017-06-23 02:44] immarvin commented on #3313
verified with autotest

[2017-06-23 02:44] #3313 closed

[2017-06-23 02:49] neo954 commented on #2127
This issue is against Lenovo shipped xCAT. For now, I will close this one.

[2017-06-23 02:49] #2127 closed

[2017-06-23 03:20] immarvin commented on #3176
The verification steps:
1. on mn, clean out any static dhcp lease for switch
  ``makedhcp -d mid05tor10``
2. predefine <onie switch>  ：
····
# lsdef mid05tor10
Object name: mid05tor10
    groups=switch,edge_switch
    ip=172.21.205.10
    mgt=switch
    nodetype=switch
    postbootscripts=otherpkgs
    postscripts=syslog,remoteshell,syncfiles
    switch=mgmtsw01
    switchport=10
····
3. ``makehos

[2017-06-23 03:41] whowutwut opened #3322 "Create a xcat-dep public repo for development builds, similar to xcat-core"
Without a development build of xcat-dep, we always have risk of breaking existing customer who are using the public repos:  Examples
* https://sourceforge.net/p/xcat/mailman/xcat-user/thread/3DCC7A4E-F88D-4BA2-8387-588E3799894D%40brown.edu/#msg35907923
* https://github.com/xcat2/xcat-dep/issues/18

This work will involve many pieces of xCAT..
 * first should define a manual process before the auto

[2017-06-23 06:57] junxiawang commented on #3126
verified

[2017-06-23 06:57] #3126 closed

[2017-06-23 07:18] zet809 commented on #3151
Any updates for this issue?

[2017-06-23 07:19] zet809 commented on #3182
Move the 2.13.6

[2017-06-23 07:21] zet809 commented on #3176
Let's move this task to done and close it after FVT is finished.

[2017-06-23 07:24] zet809 commented on #3150
@immarvin will verify whether "servicenode" script works in the middle of a group of postscripts, so move to next release.

[2017-06-23 07:25] zet809 commented on #2851
Move the next release.

[2017-06-23 07:50] zet809 commented on #2108
Issue #2810 and #3051 is used to enhance bmcsetup for OpenBMC based servers, so close this one.

[2017-06-23 07:50] #2108 closed

[2017-06-23 07:54] zet809 commented on #3279
hi, @cganglin , can you show me the 'chain' attribute? Thx!

[2017-06-23 07:59] tingtli commented on #3212
Verified on fs3.  Here is the steps
1. Verified version
[code]
2. on fs3, clean the dhcp lease
[code]

3. predefine the switch node
[code]

4. run makehosts to add this node to /etc/hosts
[code]
5. ssh to the switch with default user/pw and run "sudo ztp -R" to enable ZTP

6. reboot switch with "sudo reboot"

7. wait several minutes

8. verify that switch has been discovered and configured
[code]

[2017-06-23 08:00] tingtli commented on #3176
I did a quick verification with today's build. Please refer to #3212

[2017-06-23 08:03] zet809 commented on #3289
hi, @whowutwut , I had fixed this issue in Pull Request #3301 , will you pls help to verify this defect? Thx!

[2017-06-23 08:04] zet809 commented on #3286
Hi, @neo954 , had your test covered this scenario? If not, will you pls verify this defect? Thx!

[2017-06-23 08:07] zet809 commented on #3260
Hi, @cxhong , the fix is merged, will you pls verify?

[2017-06-23 08:11] immarvin opened #3324 "Wrong grub2 config file will be generated when node.tftpserver="<xcatmaster>""
when node.tftpserver="<xcatmaster>",  the " /tftpboot/boot/grub2/c910f03c17k42" is
[code]

[2017-06-23 08:13] immarvin commented on #3324
fixed in https://github.com/xcat2/xcat-core/pull/3323

[2017-06-23 08:27] hu-weihua commented on #3065
The first version plan has been denied in on CDL little group meet, will find a better solution in next sprint.

[2017-06-23 08:29] hu-weihua commented on #3057
Due to the plan of category bundle has been denied, it seems using symbolic ink maybe is not a good idea. so close this task.

[2017-06-23 08:29] #3057 closed

[2017-06-23 08:30] robin2008 commented on #3151
It is simple to add an extra attribute into xcatinfo.
To modify the "mypostscript.tmpl" to add
[code]
Then we can have mypostscript have the variable, and then update the existing post scripts to update xcatinfo.

Now my concerns is that do we require it?  It seems CSM want to have such feature.

[2017-06-23 08:31] hu-weihua commented on #3066
Not finished in 2.13.5sprint2, move it to 2.13.6 sprint1

[2017-06-23 08:39] hu-weihua commented on #3099
This task will last to 2.13.6 sprint1 first week (the 2.13.5 release week).  so move this to 2.13.6

[2017-06-23 08:54] zet809 commented on #2969
hi, @whowutwut and @gurevichmark , will this step be included in rflash?

[2017-06-23 09:00] hu-weihua opened #3325 "2.13.5 release process"
what to do:

*  End of cycle regression process: https://w3-connections.ibm.com/wikis/home?lang=en#!/wiki/xCAT/page/End%20of%20cycle%20regression%20process
*  merge master branch to 2.13 branch
*  refine release notes: https://github.com/xcat2/xcat-core/wiki/XCAT_2.13.5_Release_Notes
 * go through release process for 2.13.5: xcat2/xcat.org#63

Finish this job in 2.13.6 sprint1 first week.

[2017-06-23 09:08] #3071 closed

[2017-06-23 09:08] #3188 closed

[2017-06-23 09:11] #3286 closed

[2017-06-23 09:18] hu-weihua commented on #3212
@tingtli has finished the basic verification, @neo954 need to do detailed test in 2.13.6 sprint1 first week.

[2017-06-23 09:23] #3221 closed

[2017-06-23 09:24] #3243 closed

[2017-06-23 09:24] hu-weihua opened #3326 "[FVT] Develop a tool to calculate test caes increase"
what to do:

* generate a case increase report of last few sprints by hand.
* develop a tool to calculate test case increase, will use it in every end of sprint to generate report

[2017-06-23 09:33] #3214 closed

[2017-06-23 09:35] immarvin commented on #3150
hi @whowutwut , I verified the provision of rhels7.3-ppc64le-install-service on the following node

[code]

The provision finished successfully

So ``servicenode `` do not need to be the last PS

[2017-06-23 09:37] immarvin commented on #3279
verified that the extra spaces in the ``postscripts`` won't hurt anything for ``nodeset`` and node provision

[2017-06-23 12:38] cxhong commented on #3279
@cganglin,  I think there was something else caused your issue at that time.  the service node on our test system also has space for the postscripts.
[code]

[2017-06-23 12:41] #3260 closed

[2017-06-23 13:00] cxhong commented on #3212
We need to run another test, remove all the configuration file, reinstall OS, then install license file.

[2017-06-23 13:09] neo954 commented on #2797
Verified on xCAT build `2.13.5-snap201706210615`. This bug was fixed. I will closed this one.

[2017-06-23 13:09] #2797 closed

[2017-06-23 13:46] gurevichmark commented on #2969
Not sure about `rflash` yet. BMC team was talking about some "progress indicator" that we can monitor after firmware update.

[2017-06-23 14:55] robin2008 commented on #3151
@whowutwut do we still require this ?

[2017-06-24 02:37] cxhong commented on #3305
I worked on vlan for Mellanox Ethernet and cumulus switch.  for cumulus switch, it seems didn't support vdot1qVlanCurrentTabe  from snmp command .  It only can query dot1qPortVlanTable with PVID 1.

I had issues with git hub to open a PR, so here is output will look like for switch_macmap command.

Cumulus switch:
[code]
Mellanox Ethernet:
[code]
For BNT switch:
[code]

[2017-06-25 06:11] neo954 commented on #3286
@zet809, The only problem we still have is that the new xcat-dep, cannot support old xcat-core.

    xcat-core 2.13.5    can work with xcat-dep 2.13.5 which ships conserver-xcat-8.2.1
    xcat-core 2.13.5    can work with xcat-dep 2.13.4 which ships conserver-xcat-8.1.16
    xcat-core 2.13.4    can work with xcat-dep 2.13.4 which ships conserver-xcat-8.1.16
    xcat-core 2.13.4 CANNOT work with xc

[2017-06-26 03:01] xuweibj opened #3327 "When run bmcdiscover, show bmcdiscover plugin bug"
------START::bmcdiscover_h::Time:Sun Jun 25 09:50:11 2017------

FILENAME:/opt/xcat/bin/../share/xcat/tools/autotest/testcase//bmcdiscover/cases0

RUN:bmcdiscover -h [Sun Jun 25 09:50:11 2017]
ElapsedTime:1 sec
RETURN rc = 1
OUTPUT:
Error: bmcdiscover plugin bug, pid 29886, process description: 'xcatd SSL: bmcdiscover for root@localhost: bmcdiscover instance' with error 'Not a HASH reference at /o

[2017-06-26 03:20] zet809 opened #3329 "[CORAL] Refine end to end steps for Alpha"
1. The steps is based on https://github.ibm.com/vhu/c910env/tree/master/notes/coral/end2end
2. Some of the steps in the doc above are work around and have not detailed configuration step, need to break down them to be executable commands and steps.
3. For non-supported/not well supported commands or features, implement or enhance them. Based on step2.

- [ ] Transient hostname short and long issue

[2017-06-26 03:29] zet809 opened #3330 "[HW support]Boston server verification"
Based on IPMI interface.
Which OS will be used for CRL?
The test cases ready? @hu-weihua

[2017-06-26 04:12] samveen commented on #3325
@hu-weihua @tingtli @whowutwut Just to clarify, The `2.13.5` release will be unreachable from `HEAD` on `master` branch(for the purposes of `git describe`), right? (Tail end of the discission on #2886 )

[2017-06-26 06:29] tingtli commented on #3325
@samveen  Yes.  2.13.5 will be released this Friday. It will be unreachable from HEAD on master branch. You can see the 2.13.5 tag on 2.13 branch.

[2017-06-26 11:43] junxiawang opened #3335 "[fvt]x86_64 physical machine could not powering on"
env:
1. x86_64 physical machine:
c910f04x18
[root@c910f04x30v02 ~]# lsdef c910f04x18
Object name: c910f04x18
    arch=x86_64
    bmc=10.4.18.254
    cons=ipmi
    currchain=boot
    currstate=install rhels7.3-x86_64-compute
    groups=ipmi
    installnic=mac
    ip=10.4.18.1
    mac=40:F2:E9:0A:4E:C4
    mgt=ipmi
    monserver=c910f04x30v02
    netboot=xnba
    nfsserver=c910f04x30v02
    os=rhels

[2017-06-26 13:31] whowutwut commented on #3329
@zet809  I think you assigned a wrong issue as a blocking in ZenHub, can you double check.  I removed it for now.

[2017-06-26 15:13] zet809 commented on #3305
hi, @cxhong , it seems the OID 1.3.6.1.2.1.2.2.1.4  can be used to check the mtu on the switches.
But our code seems need to be modified a little to access this OID.
[code]

[2017-06-26 15:59] whowutwut opened #3336 "bmcdiscover, performance issues on first call to OpenBMC REST service?"
I'm pretty sure this is related to #3310, because I updated the firmware to 1724A, and I'm not sure if this was the first executed REST call.

Instead of having a 503 response, we did get a response, but it took a long time to respond against a single IP address.

Creating these issues to go back and validate these scenario if we do find the underlying reason:

First attempt to run `bmcdiscover` r

[2017-06-26 15:59] whowutwut commented on #3336
FYI @zet809 @xuweibj @gurevichmark

[2017-06-26 19:51] whowutwut commented on #3335
Opened Sev3 defect to the lab: SW394099

[2017-06-26 19:52] whowutwut commented on #3335
For future, please open lab hardware related issues to our c910env repo to track internally.

[2017-06-26 19:52] #3335 closed

[2017-06-26 20:20] gurevichmark commented on #3281
Include some sentences in man page stating that in the hierarchical environment the update file should be accessible to the SN, either using shared storage or manually copying the file to the SN from MN.

[2017-06-27 01:30] zet809 opened #3338 "[openbmc]refine rsetboot based on latest RESTful interface and firmware"
Based on openbmc interface: https://github.com/openbmc/openbmc/issues/1548

[2017-06-27 01:31] zet809 opened #3339 "[OpenBMC] Support rspconfig to set IP/NETMASK/GATEWAY using REST Interface"
Based on openbmc issue: https://github.com/openbmc/openbmc/issues/1831

Edited here by @whowutwut

---------------------------

My UT code is on `stratton01` at `/root/c910env/notes/openbmc/UT/Network/frame6u05`

Run the following:

[code]

For example, we have this setting:
[code]

Then the process is first we have to create a new IP object to change it...  Change the IP to 10.6.5.253

[code]

It

[2017-06-27 01:44] xuweibj commented on #3327
Verified in automation.

[2017-06-27 01:44] #3327 closed

[2017-06-27 02:14] junxiawang commented on #2186
@tingtli Now in our installation testcase we do not verify ntp server ready or not? So I do not know should we need to modify the ntp verification for installation testcase.

[2017-06-27 02:41] hu-weihua opened #3340 "[FVT] Add test cases for confignetwork (vlan、bond、bridge)"
What to do:

* [ ] offer a test cases scope
* [ ] add test cases for testing vlan
* [ ] add test cases for testing bond
* [ ] add test cases for testing bridge

[2017-06-27 02:47] hu-weihua commented on #3340
close this task, it is duplicate with #3217  #3216 #3215

[2017-06-27 02:47] #3340 closed

[2017-06-27 03:12] hu-weihua opened #3341 "[FVT] Offer a document : How to Add New Cluster into a Existed Automation Environment"
What to do:

* [ ]  finish document ``How to Add New Cluster into a Existed Automation Environment`` under https://github.ibm.com/xcat2/team_process/tree/master/FVT.  Format : MD

[2017-06-27 03:15] hu-weihua opened #3342 "[FVT] Offer a document : How to Add New project into Jenkins"
What to do:

* [ ]  finish document ``How to Add New project into Jenkins`` under https://github.ibm.com/xcat2/team_process/tree/master/FVT.  Format : MD

[2017-06-27 03:30] hu-weihua opened #3343 "[FVT] add test case for issue 3254: Couldn't find ID in the discinfo database"
What to do:
* [ ] offer a test cases scope
* [ ] add test cases for issue #3254

[2017-06-27 03:35] hu-weihua opened #3344 "[FVT] add test cases for issue 3047 : Regular Expression broken it lastest development build"
What to do:
* [ ] offer a test cases scope
* [ ] add test cases for issue #3047

[2017-06-27 03:44] hu-weihua opened #3345 "[FVT] add test case for issue 2948: rpower commands run against OpenPower BMC should be blocked if not supported"
What to do:
* [x] offer a test cases scope
* [x] add test cases for issue #2948

[2017-06-27 04:00] hu-weihua opened #3346 "[FVT] add test case for issue 2037: changing xcat from to postgres threw away node switch information."
What to do:
* [ ] offer a test cases scope
* [ ] add test cases for issue #2037

[2017-06-27 04:08] hu-weihua opened #3347 "[FVT] add test case for issue 1950: Setting the ipmi password incorrectly in the site table causes infinite loop in rpower: Unauthorized name"
What to do:
* [ ] offer a test cases scope
* [ ] add test cases for issue #1950

[2017-06-27 04:11] #3315 closed

[2017-06-27 07:04] zet809 opened #3348 "[CORAL]Verify installation of Pegas EA2 with Kernel Patch 4.11.0-8 on P9 WSP"
Trace the task:https://github.ibm.com/vhu/c910env/issues/64

[2017-06-27 07:05] zet809 opened #3349 "[CORAL]CumulusLinux is NOT configured correctly with regards to VLAN"
Trace the task: https://github.ibm.com/vhu/c910env/issues/74

[2017-06-27 07:05] zet809 opened #3350 "[CORAL]Document the E2E for P9 ITC WSP Discovery"
Trace the task: https://github.ibm.com/vhu/c910env/issues/72

[2017-06-27 08:06] #2442 closed

[2017-06-27 08:35] hu-weihua opened #3352 "[FVT] Run hardware discovery regression test manually for 2.13.5 release"
what to do:
* [x]  test hardware discovery manually for 2.13.5 release
* [x] verify pull request #3353

[2017-06-27 10:17] bybai commented on #3348
I verified diskless with new kernel patch on p9euh01, I got successful, I updated steps in https://github.ibm.com/vhu/c910env/issues/64.
I will start to diskful installation next day.

[2017-06-27 13:57] whowutwut commented on #3352
fs1 environment is a good place to run this.

We have scripts that will execute the whole discovery process hands off for a single machine under fs1...
https://github.ibm.com/vhu/c910env/blob/master/discovery/common/discover_single_node.sh

[2017-06-27 15:10] cxhong commented on #3349
port7 tagged to 553 vlan only.  in the file /etc/network/interfaces.d/xCAT.intf
[code]
Need to remove "bridge-access 553" to accept both vlan 1 and vlan 553.

The compute node is up and running again.

[2017-06-27 15:10] #3349 closed

[2017-06-27 18:30] gurevichmark commented on #3308
It appears that no REST API will be available in the near future, so for now will implement `scp`

[2017-06-27 19:33] gurevichmark commented on #3308
Thinking of using `sshpass` command that should already be there. If not, can be installed with `yum -y install sshpass`. The `sshpass` allows passing of password on the command line. `BMC_PW` will be extracted from xCAT `passwd` table

1. Create a `.ssh` directory on BMC:
   `sshpass -p <BMC_PW> ssh <BMC_IP> "mkdir -p ~/.ssh"`

2. Copy `id_rsa.pub` file from MN to BMC:
   `sshpass -p <BMC_PW> scp

[2017-06-27 19:44] whowutwut opened #3356 "Discovery message for P9 node does not help debug User configuration error."
Running discovery on p9 ITC machines, In xCAT Genesis, the XML request returns bad response..

The XML request is the following:
[code]

And in xCAT genesis, we get
[code]

From `/var/log/xcat/cluster.log` the following error message is seen:
[code]

After some debug, I found the root cause is really that `mgt=ipmi` where `mgt=openbmc` should have been used.  So since from xCAT genesis, we set `<i

[2017-06-27 20:29] whowutwut opened #3358 "chdef of mgmt type from ipmi to openbmc does not move required information"
I have a node incorrectly defined with `mgt=ipmi` , the bmc value is set in the ipmi table...

[code]

When I change this mgt=openbmc, the entry does not move to the correct table...

[code]

But if I change it together, it does...
[code]

[2017-06-27 20:33] whowutwut commented on #3325
Sorry,  I haven't had a chance to look into this.  @samveen  I had given this some thought but I wanted to run some tests in my own repo first before we do it in xCAT.

If we tag the release in the master branch before we merge `master` -> `<release branch>. I think the tag will persist.  Really we want the tags on the master so `git describe` works.  What I'm not sure is the process if we create

[2017-06-27 20:41] whowutwut commented on #3308
@gurevichmark So we don't have sshpass.  @cxhong  may have downloaded it...   I think if we really want to leverage more of this utility, we would want to consider shipping this in xcat-deps.  @chenglch any ideas about this?

[2017-06-27 20:42] whowutwut commented on #3308
Maybe not in the normal OS
[code]

[2017-06-27 20:43] whowutwut commented on #3349
Thanks @cxhong  I didn't look at the switch port for the config, just the overall config.

[2017-06-28 01:26] #3356 closed

[2017-06-28 01:47] chenglch commented on #3308
For redhat , `sshpass` is shipped in epel repo,  I think we can download the rpms from epel repo for different systems and upload them to GSA directly.

@neo954, is this the correct way to avoid of the conflict like #3202

[2017-06-28 01:53] immarvin commented on #3324
verified with rhels7.3-ppc64l4

[2017-06-28 01:53] #3324 closed

[2017-06-28 01:54] immarvin commented on #3358
hi @xuweibj ,would you please take a look at this? thanks

[2017-06-28 02:32] tingtli commented on #3216
confignetwork for vlan case list:
confignetwork_vlan_eth0
CN has Ethernet nic eth0, user wants to confgure 2 vlans, Configure vlan eth0.6 60.5.106.9 and eth0.7 70.5.106.9 based on ethernet nic eth0

[2017-06-28 02:33] tingtli commented on #3215
confignetwork configuring bond case list:
confignetwork_bond_eth2_eth3
CN has 2 Ethernet nics, eth2 and eth3, user configures bond bond0 using ethernet nic eth2 and eth3

[2017-06-28 02:49] tingtli commented on #3217
confignetwork configuring bridge test cases list:
1.confignetwork_2eth_bridge_br0
CN has 2 Ethernet nics eth2 and eth3, user want to configure bond bond0 using eth2 and eth3, creates bridge br0 based on bond0
2.confignetwork__2eth_bridge_br22_br33
CN has 2 Ethernet nics eth2 and eth3, user wants to bond them as bond0, then make vlan bond0.2 and bond0.3, using bond0.2 create bridge br22,using bond0

[2017-06-28 02:55] junxiawang commented on #3347
Add new testcase:
rpower_ipmi_wrongpasswd

[2017-06-28 03:09] zet809 commented on #3358
Hi, @whowutwut , when specify bmc and mgt together, each parameter shall be judged about which table it shall be set. For example, for bmc, the *def code will check the mgt of the node and determine which table shall this attribute be set.
But, if no bmc attribute specified, only the mgt attribute be set in nodehm, then nothing more will be done for *def command.
If we have *def command read out a

[2017-06-28 03:22] junxiawang commented on #3345
Need to add testcase:
rpower_softoff_OpenpowerBmc
rpower_wake_OpenpowerBmc
rpower_suspend_OpenpowerBmc
rpower_errorcommand_OpenpowerBmc

[2017-06-28 04:32] samveen opened #3359 "Incorrect `sourcing` of xcatlib.sh by postscripts"
I get the following error while running `makeroutes` with `xCAT-2.13.2`

[code]

I believe it has something to do with the fact that most postscripts include xcatlib.sh as below:

[code]

[2017-06-28 05:59] junxiawang commented on #1871
merged in #3266

[2017-06-28 07:32] tingtli commented on #3352
@whowutwut Yes, thanks. I am using the script to run the verification.

[2017-06-28 07:39] tingtli commented on #3352
Run verification on fs1 and found the node definition is not written to database.
[code]
run some test against this node,
[code]

[2017-06-28 07:58] tingtli commented on #1871
Verified this with latest build.
[code]

[2017-06-28 07:58] #1871 closed

[2017-06-28 08:09] immarvin opened #3361 "Create Documentation for ZTP based ONIE switch setup"
Acceptance criteria:
1. The documentation covers the steps to ZTP based ONIE switch discovery and configuration
2. The documentation be merged to master

[2017-06-28 08:11] immarvin commented on #3361
PR https://github.com/xcat2/xcat-core/pull/3362

[2017-06-28 08:21] tingtli commented on #3352
Then i rename this node to node1 and define it manually.
[code]
And go ahead to discover it.
[code]
At last frame45cn07 is discovered.
[code]

[2017-06-28 08:23] tingtli commented on #3352
@zet809 would you please take a look why node node-8335-gta-0000000002100fda is not defined in the fs1 database?

[2017-06-28 08:45] xuweibj commented on #3295
https://github.com/openbmc/docs/blob/master/dbus-interfaces.md#orgopenbmcnetworkmanager

[2017-06-28 09:57] zet809 opened #3363 "[CORAL]Investigate NC-SI as a possible alternative to VLAN"
Trace the task: https://github.ibm.com/vhu/c910env/issues/75

[2017-06-28 10:10] hu-weihua commented on #3343
The requirement is not clear, remove from 2.13.6 first.

[2017-06-28 10:28] hu-weihua opened #3365 "[FVT] FVT of confignetworks"
what to do:

* [ ] new feature verification test for ``confignetwork``

[2017-06-28 10:34] zet809 commented on #3329
Hi, @whowutwut , you are right, it shall be #3218

[2017-06-28 10:51] whowutwut commented on #3352
This serial number is strange.  I think we affected this with bmc discover changes. Before we never got all the Zeros in the string...

[2017-06-28 10:56] whowutwut commented on #3295
@xuweibj did you look into that URL? If you think you have a command to execute I can help execute it if we think we may mess up the configuration where we will not be able to recover IP  address.  I have a serial cable plugged into the box elder board on mid05tor12cn02 so that would be the machine we should try this on

[2017-06-28 11:04] whowutwut commented on #3343
@hu-weihua I don't think the test case requested only affects rhels 7.0 but maybe the way to handle this is to make the code change bad was fixed in the pull request and see if we have a test case that can be created to detect the copyds issue on other ISO files that are more current. That is what we want to detect. If something broke the copycds command in general

[2017-06-28 12:08] samveen commented on #3074
Closing this, as this is not exactly an xCAT issue.

[2017-06-28 12:08] #3074 closed

[2017-06-28 13:00] amrabdelaziem opened #3366 "Error in deploy sysclone image"
[root@mnode ~]# imgcapture compute03 -t sysclone -o centos7clone1Checking if systemimager packages are installed on mnode.
Checking if systemimager packages are installed on compute03.
Preparing osimage centos7clone1 on compute03.
Getting osimage "centos7clone1" from compute03 to mnode.
Using the existing osimage "centos7clone1" defined on mnode.

[root@mnode ~]# chdef -t osimage -o centos7clone1\

[2017-06-28 18:29] gurevichmark commented on #3308
There might be a simpler solution. Instead of `sshpass` utility I can use existing xCAT method:
`my $output = xCAT::RShellAPI::run_remote_shell_api($node, $username, $passwd, $telnet, $verbose, @ARGV[ 1 .. $#ARGV ]);`

The usage example is in `xCAT-server/sbin/rshell_api` tool.

[2017-06-29 00:40] whowutwut opened #3368 "noboot option does not seem to be working correctly to disable on the various interfaces"
Opening this issue on behalf of @cganglin.  He mentioned to @cxhong  today that the noboot doesn't seem to be working and we investigated it a little.   I think there might be some problem....

Here's an example...
[code]

[code]

So we have dhcp running on the 172.X network,
[code]

If i set noboot on enP3p3s0, it works.. if I set noboot on enP3p3s0d1, it does not, let's just set it on both for s

[2017-06-29 00:43] whowutwut commented on #3368
I tried to look at if anything changed in the code recently, but i didn't see anything obvious...

[2017-06-29 00:54] whowutwut commented on #3320
@markprez  This should work now.  Also tagging @david-shapiro FYI.

Until we figure out what VPD information is going to be burned into the machine, we created this `export XCAT_DEV_WITHERSPOON=TRUE` variable into the code that will remove the MTM value and cause the discovered node definition to be a unique string.  This is to bypass the 000000000 that is being returned today.  More info here:  h

[2017-06-29 00:54] #3320 closed

[2017-06-29 00:56] whowutwut commented on #2664
@gurevichmark I think the development for this function is complete.  If things change from the openbmc code, we should just open issues to track this, or should we keep this epic open for another release?

[2017-06-29 01:12] bybai commented on #3215
Yes, It is enough.

[2017-06-29 01:14] bybai commented on #3216
It  is correct.

[2017-06-29 01:18] chenglch commented on #3352
I have checked the node definition in `nodelist` table, the definition is strange, the `disable` column is filled with `1`.
@tingtli , could you check which step update this column?

[code]

[2017-06-29 01:44] bybai commented on #3217
This is enough for valid cases. You'd better add some invalid cases.

[2017-06-29 01:56] bybai commented on #3359
@samveen , I can reproduce this in my env. Except this error,  I noticed that `makeroutes` can configure the routes correctly , could you confirm this?
In my env:
[code]

[2017-06-29 02:04] cxhong opened #3369 "Add support to config cumulus switch via switchdiscover --setup command"
--setup option for switchdiscover command will help to config the BNT and Mellanox switch.  we need to add this support for cumulus switch also.  once --setup option specified, it will
1) enable snmp
2) config basic switch interface
3) config static ip address

[2017-06-29 02:57] whowutwut commented on #3352
The comment about the serial number I made above maybe is OK,  I don't think I modified anything, but maybe I did in the past try to reset the serial number...  and it finally took effect??  Fru 3 returns that info...
[code]
So it's not anything in bmcdiscover code that's padding zeros. .  So i think that part is OK.  We can run on other nodes and see if the same effect happens...

Does not happen

[2017-06-29 03:01] whowutwut commented on #3352
@tingtli After discovery we should have a msg that removes the discovered node definition that I'm not seeing.. For example....
[code]

[2017-06-29 03:04] tingtli commented on #3352
@whowutwut  I don't think we have that message. The pre-defined node is still there.

[2017-06-29 03:11] whowutwut commented on #3368
Seems like on my VM it's working as expected...
[code]

[2017-06-29 03:25] samveen commented on #3359
@bybai Yes, The routes are configured correctly.

[2017-06-29 03:35] xuweibj commented on #3295
Hi @whowutwut ,
1. To set BMC to DHCP:
[code]
It will not get any response and hung there.
Now ``mid05tor12cn02`` bmc ip is ``172.20.253.105``.

2. Check Address Type:
[code]

[2017-06-29 03:41] whowutwut commented on #3295
Nice!! Thanks!  That's unfortunate that it hangs. The ipmitool command returned so we could get back out .. :-(. Can we put that curl cmd into ip=dhcp command or does xcat not handle that hang well?

[2017-06-29 03:54] neo954 commented on #3322
The following two directories have been created manually. But we still need to update our build script and promote script.

http://xcat.org/files/xcat/repos/yum/devel/xcat-dep/
http://xcat.org/files/xcat/repos/apt/devel/xcat-dep/

[2017-06-29 05:40] xuweibj commented on #3295
Now, we did not have code working on ``ip=dhcp``, I think we need to find a method to handle this. Sorry, I did not know how to set it back to static, now we cannot try again.

[2017-06-29 06:29] xuweibj commented on #3339
1. Get IP information:
[code]
2. Set IP/netmask/gateway
[code]
Will not response and hang.

**Question**:
How to get NIC name?

[2017-06-29 06:44] tingtli commented on #3352
it is interesting. After i upgrade xCAT to today's build. seems all works fine. and there is removing message.
[code]

[2017-06-29 07:16] robin2008 commented on #3368
Seems code error in get_nic_ip,  it will delete the former IP interface entry when there is other interfaces w/o IP.
[code]
There might be some historic cause to use below codes,  but it requires to be reset the $interface variable when starting parsing new interface lines.
To create PR https://github.com/xcat2/xcat-core/pull/3371 for it.

[2017-06-29 07:42] bybai commented on #3359
Hi @samveen, thanks your response, since it does not block your function usage, I will put this issue into our sprint plan to fix it.

[2017-06-29 07:55] robin2008 commented on #3368
[code]

[2017-06-29 09:17] daniceexi commented on #3339
@xuweibj will you check the issue with openbmc team?

[2017-06-29 09:39] robin2008 commented on #3368
@tingtli  this is already committed in 2.13 branch in PR #3372

[2017-06-29 15:41] whowutwut commented on #3308
Yea, for now let's just take the easiest/quickest implementation path that doesn't pull in dependencies, then revisit this when the REST command is provided.

[2017-06-29 15:49] gurevichmark opened #3373 "[HW support]Boston server verification (rflash firmware)"
Boston servers might not work with `.hpm` update files.
xCAT might need to detect Boston server model number and do `rflash` differently

[2017-06-29 15:53] gurevichmark opened #3374 "[HW support]Boston server Brick Protection"
Implement `rflash --recover` function to recover firmware update failure on Boston server BMC.
Issue description: https://github.ibm.com/vhu/c910env/blob/master/notes/supermicro_boston.md

[2017-06-29 19:59] gurevichmark commented on #2664
I agree, from what is known now about openbmc, the implementation of `sinv` is finished.

[2017-06-29 19:59] #2664 closed

[2017-06-30 08:57] robin2008 commented on #3368
Passed with Version 2.13.5 (git commit c95b277a4adb1ddb2499e9313017fc66c900e067)

[2017-06-30 08:58] #3368 closed

[2017-06-30 14:05] whowutwut commented on #3289
Verified on todays development build...
[code]

Looks good for the above scenario.
[code]

[2017-06-30 14:05] #3289 closed

[2017-06-30 14:13] whowutwut opened #3382 "Play out the end to end scenario and use case for the getadapter command"
Creating this issue to close out #3046,  As @gurevichmark pointed out in https://github.com/xcat2/xcat-core/issues/3046#issuecomment-310179977, `getadapter` call is quite destructive on the target node.
* If diskful, it will reboot the node into genesis kernel, losing access to node
* If diskless, it will reboot the node into genesis kernel, losing all transient data on the node.

I think the node

[2017-06-30 14:14] whowutwut commented on #3046
Opened another issue to track lingering questions, will close out since I was able to run `getadapter` on the node after the changes, which was the initial reported problem for this issue.

[2017-06-30 14:14] #3046 closed

[2017-06-30 14:17] whowutwut commented on #3358
OK,  I think this issue is a result of a mixed environment where we have some compute nodes mgt by IPMI and some mgt by OPENBMC, but the regex groups that it's part of does not differentiate between the two.  IF that was configured, we should not run into this problem.

A group for p8 with `mgt=ipmi,cons=ipmi` and a group for p9 with `mgt=openbmc,cons=openbmc` would have resolved it.

Will update

[2017-06-30 14:17] #3358 closed

[2017-06-30 14:19] gurevichmark commented on #3382
I think #1 from above is already done.
Currently the man page shows:

![image](https://user-images.githubusercontent.com/16106630/27739675-77762ad8-5d7d-11e7-85b1-d07f7e353eb5.png)

[2017-06-30 15:18] chenglch commented on #3382
Actually, `getadapter` is a feature that has not been completed. Our original plan is to make it work with `configure network` which is a work item we are refactoring currently.

Now, I do not think the original design is a correct,  from my experience of `ansible`,  it can retrieve the adapter information via ssh, maybe we could think about how to implement `getadapter` in this way if newer `conf

[2017-06-30 15:54] whowutwut commented on #3297
@junxiawang If the environment is ALL OS, we should put the examples from the PPC64 LE related OS, to prove the issue and ensure we are focused on the correct priority.

[2017-06-30 15:55] whowutwut commented on #3264
Closing this out, @cganglin  Please re-open this if you continue to see issues using the latest builds.

[2017-06-30 15:55] #3264 closed

[2017-06-30 16:01] whowutwut commented on #2816
With the above pull requests, I think we can close out this initial support task and open issues as we find problems or changes in the openbmc framework.

[2017-06-30 16:01] #2816 closed

[2017-06-30 16:40] gurevichmark commented on #3382
@chenglch I thought the main use of get `adapter` is to use it before provisioning a node with OS, so that adapter information can be entered into the node definition. That is why I thought we had to boot into genesis.

[2017-06-30 17:21] whowutwut commented on #3382
agree with @gurevichmark   I thought the initial plan was to figure out the predictable naming of the adapter based on the physical pci location...  Maybe we need to revisit this command altogether and come up with a use case and work to complete the use case.

[2017-06-30 17:22] whowutwut commented on #3361
@immarvin  Isn't this complete with #3362?  Why is it target for 2.13.6 release?

[2017-06-30 18:19] cganglin commented on #3264
Sorry,was swamp for some time. Now 2.13.5 is official will try everything again and give feedback. Thanks again @whowutwut

[2017-06-30 21:00] whowutwut opened #3383 "rspconfig allows get/set commands in the same string, allowing network config errors on typo"
When running `rspconfig` found a few things that did not sit well.

[code]

1) netmask doesn't have a = between netmask and 255.0.0.0 and the command did not error on this. So I assumed it was OKAY.  But really it did not set it.    I think we should check the arguments and all must be OK before we run any commands, After this is set, I'm no longer able to ping the BMC to change it becasue I moved

[2017-07-02 00:18] ladams00 opened #3384 "Install Error: Deploying 'go-xcat' on Ubuntu Xenial amd64 LXD Container"
Greetings,

I've attempted to install xCAT via latest 'go-xcat' script into an Ubuntu Xenial amd64 LXD container.  I've yet to test the install on ppc64el with LXD.  Based on the '/tmp/go-xcat.log' output, I suspect it may have something to do with the security containment of devices that xcat-genesis-base-ppc64 deb package is trying to create.

[code]

I will attempt to try again, but this time w

[2017-07-02 02:37] ladams00 commented on #3384
I've found some resolution :-) So modifying the container to run in privileged mode certainly takes care of the issue with device creation I have reported above.  Upon trying to deploy again, I encountered an NFS issue that was easily remedied thanks to Tycho Anderson and Shilpa Kaul's discussion thread here: https://lists.ubuntu.com/archives/juju/2016-June/007471.html

In it's entirety, here's wh

[2017-07-03 01:17] chenglch commented on #3382
I think we should divided the usage scenario into two category considering the the usage of`configure network`.

1. Before provision: the script of `getadapter` could be put into the command list of genesis discovery, so that the machine could run `getadapter` during the discovery stage. In this case, `configure network` can work based on the nics information detected by the `getadapter` before pr

[2017-07-03 02:13] immarvin commented on #3384
interesting work. thanks for your info @ladams00 , xCAT team also did some work to run xCAT in Docker container.

The Doc can be found in http://xcat-docs.readthedocs.io/en/stable/advanced/docker/dockerized_xcat/dockerized_xcat.html

The helper and hacking scripts for "dockerized" xCAT can be found in https://github.com/immarvin/xcat-docker, hope this can help you to do the similar thing in LXC

[2017-07-03 02:17] immarvin commented on #3361
hi @whowutwut , it is complete. This task is done in 2.13.6 sprint1 though the PR is targeted for 2.13.5 release, so the milestone is 2.13.6 here.

[2017-07-03 05:40] #3325 closed

[2017-07-03 05:41] #3098 closed

[2017-07-03 05:41] #3099 closed

[2017-07-03 05:43] neo954 commented on #3212
The basic ZTP procedure has been verified with xCAT 2.13.5 RC2 build.

But I think the scenario I tested and verified is not a typical user scenario. Since all cumulus switch shipped from Mellanox will have operating system installed and ZTP feature disable. Unless the end users choose to reinstall operating system on their cumulus switch, there is no chance the ZTP feature to be used.

Below are

[2017-07-03 05:46] #3352 closed

[2017-07-03 05:56] neo954 commented on #3344
One test case will be added for typical scenario.

The test case will be named mkdef_regex_nicsip. It will verify if regular expression is support in the nicips attribute in node definitions. As the problem reported in issue #3047.

[2017-07-03 08:50] robin2008 commented on #3207
As this corner case is hard to simulate,  we can only verify it with UT.

[2017-07-03 08:50] #3207 closed

[2017-07-03 08:56] robin2008 commented on #1174
Did we verify this issue with 2.13.5?

[2017-07-03 08:57] #3011 closed

[2017-07-03 08:58] robin2008 commented on #3011
Yuan have already verified in autotest env, and it works.

[2017-07-03 09:00] robin2008 commented on #3176
@neo954 Do you finish all testing?  if yes, we can close this ticket.

[2017-07-03 09:55] robin2008 commented on #3077
As this is an upstream known issue,  it is better to document it.

[2017-07-03 10:02] robin2008 commented on #640
bond, vlan, bridge is 2.13.6 feature of confignetworks,  move it to 2.13.6
@bybai Please confirm is it covered in current scope?

[2017-07-03 10:07] robin2008 commented on #641
Bonding is considered in 2.13.6 of confignetworks.

[2017-07-03 11:02] robin2008 commented on #3082
In most of the time, DNS plugin (ddns.pm) will restart named first and then start it again.
There might be time racing there, especially on the legacy SysV system. As a result, the previous named is listening on the port and new daemon won't work.

Better to add a sleep there if requires both restart and start.

[2017-07-04 02:31] xuweibj commented on #3383
Hi @whowutwut , if the node is P9, setting is not supported even using ipmi now.
For 1, my idea is to check arguments that do not allow setting and getting at the same time in one command. How do you think?
For 2, after setting will get the value from BMC. So the output will like that. We assume that the response for setting ip/gateway is OK from BMC using ipmi, and then try to get ip/gateway valu

[2017-07-04 03:19] samveen opened #3387 "Possibly Incorrectly tagged release : `2.13.5` (unannotated)"
The  release tag `2.13.5` is not an annotated tag (so doesn't show up in `git describe`,unless using the `--tags` option).

Contrasting against the `2.13.1` tag
[code]

Please notice that the `2.13.1` tag has an additional annotation against it, which is missing from the `2.13.5` tag.

[code]

[2017-07-04 03:28] robin2008 commented on #3082
Fix it in PR #3388

[2017-07-04 05:12] zet809 commented on #3366
Hi, @hu-weihua , will you pls take a look at this issue? Thx!

[2017-07-04 05:38] daniceexi commented on #3382
@chenglch 's proposal looks good.

[2017-07-04 05:56] robin2008 commented on #3218
Adding the document in box:
`https://ibm.box.com/s/o923g7tzyxzvdzunh2gr1dkvx6w1fze2`

[2017-07-04 05:59] robin2008 commented on #2742
low priority, move to next major release.

[2017-07-04 06:03] zet809 commented on #3218
Lets close this task as the investigation work is done.

[2017-07-04 06:03] #3218 closed

[2017-07-04 06:03] robin2008 commented on #3246
3146 is rescheduled to 2.13.7, all sub-tasks in this EPIC is finished.

[2017-07-04 06:09] robin2008 commented on #3094
@hu-weihua  Do we have concrete reproduce steps?   Or is this issue observed in our daily testing during 2.13.5

[2017-07-04 06:16] robin2008 commented on #3198
@gurevichmark @immarvin   are we still working on it?

[2017-07-04 06:28] zet809 commented on #3176
Confirmed with @neo954 , the scope for this task is completed. So close this task.

[2017-07-04 06:28] #3176 closed

[2017-07-04 06:33] zet809 commented on #3077
Move to next sprint for document update.

[2017-07-04 06:55] robin2008 commented on #3191
[code]

[2017-07-04 06:55] #3191 closed

[2017-07-04 06:59] #3359 closed

[2017-07-04 07:03] #3082 closed

[2017-07-04 07:16] zet809 commented on #3244
Move the next release for more investigation.

[2017-07-04 07:19] zet809 commented on #1174
Will be covered by issue #3382, so close this one.

[2017-07-04 07:19] #1174 closed

[2017-07-04 07:19] zet809 commented on #3382
The issue #1174 will be covered by this task.

[2017-07-04 07:53] zet809 commented on #3387
Hi, @samveen , updated, pls help to verify. Thx!

[2017-07-04 08:17] amrabdelaziem commented on #3366
I can't solve the problem yet also with new release 2.13.5.
if anyone can help!

[2017-07-04 09:15] robin2008 commented on #3329
Update xCAT MN section based on 2.13.5

[2017-07-04 12:09] samveen commented on #3387
Looks good.

[2017-07-04 12:09] #3387 closed

[2017-07-04 12:18] samveen opened #3392 "[support] `mysql`/`mariadb` package requirement"
As part of the hierarchical cluster installation, the section for installation on redhat suggests the following packages:

[code]
The other OS sections don't mention `mariadb-bench*` or `mariadb-devel*` or similar packages (`-dev` or similar either). Can I get more details about why these 2 package are part of the requirements?

The same question applies to `mysql-bench*` and `mysql-devel*` packag

[2017-07-04 20:02] whowutwut commented on #3392
@cxhong, it looks like I did those changes to the requirements list, but I'm not sure where it came from. Did we have some issues when we tried the install?    I don't think xCAT specifically requires this `-bench` package.

[2017-07-04 20:06] whowutwut commented on #3387
@zet809  Please ensure that we also add the process to into the release documentation so that we can consistently tag this correctly in the future.

[2017-07-04 20:35] whowutwut commented on #3244
@zet809  Let's start to allow owners to modify the milestones based on their prioritization of the work.   @bybai If this is something that is not in your scope of work, you can remove the milestone or pick one that is further out but one that we can really have a harder target on.  If the investigation is not done, then we probably should not target the next sprint for completion.

[2017-07-04 20:38] whowutwut commented on #3384
@immarvin Is there anything that we need to change in our documentation from this issue? It looks like it was moved to the icebox in zenhub, if that's the case, we should just close the issue and mark it as "won't fix"

[2017-07-04 20:48] whowutwut commented on #3383
@xuweibj  This is not run against a P9 machine...   It's run against a OpenPower P8 machine.

1.  Is that what happened? It was displaying the values because I left out the `=`?    I don't think so because I think I ran this again afterwards and by default, it prints the existing value when I am setting values.. .

But yes, I think we should NOT allow setting and getting in the same command.

2.

[2017-07-04 20:53] whowutwut commented on #3347
@hu-weihua @zet809 I'm still not convinced that we should be opening additional issues to track work on adding testcases that slipped through... .  I think by utilizing the "testcase:requested" and "testcase:added" labels, we can avoid having this extra issue in the middle.  The Pull request 3385 should be linking directly to 1950 and from 1950's perspective, we can see that a testcase was added d

[2017-07-05 01:15] xuweibj commented on #3383
If it's run against P8, I think we need to check whether IP/Gateway is not correct value as setting.
For the command like that, the flow is as below:

``set BMC IP -> get BMC IP (If set successfully, the output will be the new value) -> get netmask -> set gateway -> get gateway (If set successfully, the output will be the new value)``

For ``255.0.0.0``, it is not valid subcommand, will not enter

[2017-07-05 01:22] whowutwut commented on #3383
The command above in the original post is correct. The error is that I forgot to put an = between netmask and 255.0.0.0.  So the IP address and gateway was set.  But since the netmask was not set due to the typo. I was unable to communicate with the new IP address of the BMC due to my machine having a different 2nd octet.

So my point is that if we have multiple arguments and it's not all set or a

[2017-07-05 02:22] immarvin commented on #3384
hi @whowutwut , I think we do not need to make any change.  We do not have any plan or customer requirement on running xcat inside LXD(another type of LXC based container technology like Docker).

Anyway, it is an interesting work,  if @ladams00 would like to keep on updating on the steps and solutions on this thread during his investigation, maybe we can keep this ticket open but do not put it in

[2017-07-05 02:41] xuweibj opened #3394 "Confignetwork cases failed in automation"
1. ubuntu16.04.1-ppc64el

confignetwork_secondarynic_updatenode, confignetwork_secondarynic_nicextraparams_updatenode, confignetwork_niccustomscripts, confignetwork_secondarynic_thirdnic_multiplevalue_updatenode

2. sles12.2-ppc64le

confignetwork_s_installnic_secondarynic_updatenode, confignetwork_niccustomscripts

3. rhels7.3-ppc64le

confignetwork_s_installnic_secondarynic_updatenode, confignet

[2017-07-05 03:16] bybai commented on #3394
I checked all the failed test cases. These failures are not caused by confignetwork code. Since these test cases are first running on all the platforms, there are little failures in some output check. All the failed testcases should be enhanced for autotest env.

[2017-07-05 03:23] xuweibj commented on #3383
Hi @whowutwut , Ertao have tried this command on fs1. The output is: (The old netmask is 255.0.0.0)

[code]

So if set successfully, will show new IP/Gateway. The result is from response of ipmi command. So I do know why in this issue you get the old value when you set successfully.

[2017-07-05 03:49] samveen commented on #3392
The `mariadb-devel-5.*` and the `unixODBC-devel` (from `unixODBC*`) packages aren't needed either, from what I can make out.

[2017-07-05 05:05] samveen opened #3399 "Travis CI issue"
The Travis CI is failing with the following error:

[code]

I expect something went wrong with `build-ubunturepo`.

[2017-07-05 05:08] zet809 commented on #3244
OK, I agree.

[2017-07-05 08:22] tingtli commented on #3394
Fixed in PR#3402

[2017-07-05 08:52] zet809 commented on #3387
Hi, @whowutwut , updated.

[2017-07-05 23:24] whowutwut commented on #3383
@xuweibj  I double checked it, and seems like the IP address did get set with the netmask.   So having a = or a space is OK?

[code]

Maybe I did not wait long enough to try pinging this new IP address....

[2017-07-06 00:03] whowutwut opened #3405 "rinv reports plugin bug with communicating with openbmc"
I am not able to re-create this and I'm not sure what the cause is.  But if this helps to point to some piece in our code that we should be handling a little better, it might be good to check.

[code]

[2017-07-06 00:04] whowutwut commented on #3383
I wlll double check that and see if i can re-create it.

[2017-07-06 00:42] whowutwut opened #3406 "Clean up the discovered node definition work around for P9 discovery"
Is it possible to modify the node discovery to look for the `node-<IP -> HEX>` discovered node definitions as part of hardware discovery?

The issue here is that I'm not 100% confident that we will be able to rely on the model type serial number of these OpenBMC boxes because the VPD information is not avail until you boot the compute side. Then only the serial number appears.   The Model number i

[2017-07-06 00:43] whowutwut commented on #3406
@zet809  I assigned this to you for now.  If you agree and think someone else should work on it , please reassign.

[2017-07-06 00:56] whowutwut opened #3408 "dodiscovery sending findme packet 4 times for each node"
In genesis, we see the following messages:

[code]

Then on xCAT `cluster.log`, we also see 4 request obtained:
[code]

[2017-07-06 04:43] cganglin opened #3409 "Makehosts doesn't seem to handle regex properly"
In service group i have the following regex
[code]

When node definition values are correct, but after running makehosts and checking /etc/hosts the below is what i get:

[code]
Any ideas what to debug

[2017-07-06 04:49] cganglin commented on #3409
Using xcat 2.13.5

[2017-07-06 05:48] immarvin commented on #3409
This defect can be easily recreated with xcat 2.13.5 GA version.

hi @bybai , would you please take a look at this? thanks

[2017-07-06 05:49] zet809 commented on #3409
Hi, @cganglin , this is a known issue(Duplicated with #2578 ) and we haven't fixed it yet.

[2017-07-06 05:50] cganglin commented on #3409
Hi @zet809 Is there any kind of workaround for the time being, if not I have to manually update /etc/hosts and not run makehosts?

[2017-07-06 05:50] zet809 commented on #2578
Hi, @bybai , we have user encountered this issue and created defect #3409, so I close this one and use #3409 to trace this issue. Thx!

[2017-07-06 05:52] neo954 commented on #3006
Two months passed, the issue is still there. @zet809, do you have time working on this?

[2017-07-06 06:34] neo954 opened #3411 "[FVT] xcattest treats all nonexistent test cases as `Passed`"
Currently, `xcattest` treats all nonexistent test cases as `Passed`. Which is not good. Since there may be misspelling in the bundle files. In that case, misspelled test cases will be counted as `Passed`.

I suggest, treats all nonexistent test cases as `No Run`.

    # xcattest -t nonexistent_test_case,blah,foo,bar,baz,quux
    xCAT automated test started at Thu Jul  6 02:23:02 2017
    *********

[2017-07-06 08:08] chenglch commented on #3195
The main changes for this item can be found in the commit below:
https://github.com/chenglch/xcat3/commit/c1608a55d6daf2efdc4900aad6265243bd75d5d4

[2017-07-06 08:10] chenglch commented on #3196
The main changes for this item can be found in the commits below:
https://github.com/chenglch/xcat3/commit/f3871f06a0b362b2d409e36c683fadbb745191cd
https://github.com/chenglch/xcat3/commit/8455e588bd13c859845d5d5c179eb5977845b4f1

[2017-07-06 08:56] tingtli commented on #3216
PR #3413

[2017-07-06 08:57] tingtli commented on #3215
PR #3413

[2017-07-06 09:39] zet809 opened #3414 "[CORAL]incorrect petitboot configuration for nodeset shell in flat hierarchical"
The xcatd in petitboot configuration file shall be in the same subnet with CN.
[root@fs3 xcat]# lsdef mid05tor12cn04 -i ip -c
mid05tor12cn04: ip=172.20.140.4
[root@fs3 ~]# cat /tftpboot/petitboot/mid05tor12cn04
#shell
default xCAT Genesis shell
label xCAT Genesis shell
	kernel http://172.20.253.27:80/tftpboot/xcat/genesis.kernel.ppc64
	initrd http://172.20.253.27:80/tftpboot/xcat/genesis.fs.ppc64.

[2017-07-06 10:12] zet809 commented on #3406
OK, I see, it is a good idea to use the IP to match the temporary BMC node.

[2017-07-06 10:39] whowutwut commented on #2578
@zet809  I don't think we should close this one.  We should use this one to fix the problem and get it into xCAT. This parent issue has been around since Jan and this one was opened in March.  This is required for large cluster so we need to make this high priority. Having the multiple issues referenced should show that it's affecting multiple users.  Let's see if we can have a hard target for 2.1

[2017-07-06 10:43] whowutwut commented on #3409
To reduce the scope, We should create a reference page that shows which keywords in the node definition should have regular expression supported and which ones do not .

Of the ones that should be supported, we should test whether it's broken or not.     We can then prioritize which ones should be fixed now and which ones are lower priority.

@hu-weihua We need to have some regular expression test

[2017-07-06 10:46] whowutwut commented on #3414
@zet809  Let me sync up with @cxhong  today and look at the end to end steps.  Is this to avoid the need to set the master node attribute for the node definitions since we have different operating networks?   In reality, it should not be the master but <xcatmaster> for the network.. could be service node.

[2017-07-06 10:50] whowutwut commented on #3196
@chenglch I change the numbered list to check boxes.  Which items are resolved by the commits? All of them?

[2017-07-06 11:01] chenglch commented on #3196
@whowutwut, yes all of the items have been implemented, which means the prototype can be used to provision a very simple diskful system for OpenPOWER servers.

[2017-07-06 11:04] whowutwut commented on #3406
You mentioned on the call that we need to be able to figure this out from the host.   So the MT/Serial could be done...   This temporary DHCP IP address will change after we made discovery and restarted network... , is that a problem in the removal?

[2017-07-06 11:13] whowutwut commented on #3006
@gurevichmark If you have some down time, perhaps you can pick up this issue and remove the owners if you do.

[2017-07-06 11:19] whowutwut commented on #3330
@zet809  PGS

[2017-07-06 13:02] zet809 commented on #3406
The Dynamic ip for the host will be changed during the node is booting into petitboot and genesis kernel, but the Dynamic IP for the BMC won't be changed until expired. So, i think it won't be a problem to remove the temporary BMC node.

[2017-07-06 23:34] daniceexi opened #3417 "[CI] Add format check for man page and document change"
I prefer that we could add the check in the CI check for the new added/modified man page and document to make sure the format is correct.

Since rebuild all the .rst doc need a long time to finish, could we just check the modified or new added one?

[2017-07-07 12:17] gurevichmark commented on #3006
I will take a look

[2017-07-07 16:01] whowutwut commented on #3383
I spent some time here to try and understand what is going on.  @xuweibj  You are right, on fs1 the behavior seems to be correct.  I really can't explain why the output is what it is from fs3.  It seems that it printed the BMC information, instead of what we pass it from the command.  I can't explain that.

So if the output is really what we set in the command line, then it's OK.

Not allowing the

[2017-07-07 16:25] whowutwut commented on #3383
Alright, recreated....

[code]

Node definition:
[code]

Then let's check the configuration:
[code]

Now I want to fix this node for the netmask and gateway...
[code]

So it prints out the netmask and gateway that is set on the BMC instead of the intended one the command line...

[2017-07-08 01:55] daniceexi commented on #3408
I saw that the sending of ``fineme`` package was followed by 'restart network', was it the case that the network was not ready when sending the ``fineme`` so all the sent packages were cached in the buffer. Then when the network was ready, all the packages were sent out almost in same time.

We can see that in the xcat log, all the findme requests were handled in second.

[2017-07-08 18:19] whowutwut commented on #2719
Sorry for the late reply, is `/var/ on a separate partition on the compute nodes that we install?  I have to check a more recent install but I think we have single partitions for /  and /var is part of that.  This means that `/var/log/messages` can grow for long running server and fill up the disk space to 100%

You are right that we can't control how management nodes are installed by other users,

[2017-07-10 07:17] immarvin commented on #3414
fixed in https://github.com/xcat2/xcat-core/pull/3419

[2017-07-10 08:01] bybai commented on #3409
Hi @cganglin , currently, the work around is to manually update /etc/hosts . For this `makehosts` issue, I start to fix it within this sprint. Thanks

[2017-07-10 08:18] #3361 closed

[2017-07-10 09:24] zet809 commented on #3408
But you can see that there was nearly 20 seconds between the first xcat.discovery.blade log and xcat.discovery.switch log. Something hung? Need to investigate.

[2017-07-10 11:05] robin2008 commented on #3151
Here,  we can store the sn group into xcatinfo if noderes.servicenode is defined for this node.
[code]
But it seems the facing IP of those nodes are better to be used in CN side. If using different subnet between SN and CN,  the short host name of SN is not the one binding the right IP.

It is still an performance issue to get the right CN facing IP of the SNs,  for example, xcatd on sn01 can only

[2017-07-10 14:35] whowutwut opened #3420 "Changes required to support more detailed firmware information for LC Big Data boxes"
Support display of PNOR side for S822LC for Big Data boxes
These are boxes using Supermicro Firmware.

[code]

Only the BMC firmware is displayed, but PNOR side is not.

[2017-07-10 14:36] whowutwut commented on #3420
Assigned to @zet809  for now, will also take a look if I have some cycles

[2017-07-10 14:40] whowutwut opened #3421 "rflash support for code update on Supermicro based firmware, LC box "for BigData""
The IBM S822LC for Big Data boxes use firmware update procedures different than the "for HPC" boxes where a `pUpdate` tool is used instead of `ipmitool`.

I think a hpm file may be supplied but we probably want to rely on the recommended process from the knowledge center.  https://www.ibm.com/support/knowledgecenter/POWER8/p8eit/p8eit_fixes_kickoff.htm

Need to define the external changes to rflas

[2017-07-10 14:42] whowutwut commented on #3308
@gurevichmark I tried this out, and currently this is still in the `unsupported()` code path, is there a way to expose this option only to the user and block other options? Can we do that fine grain blocking?

[2017-07-10 14:55] gurevichmark commented on #3420
I think this is part of Adriana's firmware update work.
Once her code for firmware update is finished, both Host and BMC firmware levels should be returned.

[2017-07-10 14:57] whowutwut commented on #3420
@gurevichmark No, it's on IPMI managed boxes running Supermicro's firmware, not AMI or OpenBMC.

[2017-07-10 15:11] gurevichmark commented on #3421
Will we need to include the `pUpdate` with xCAT deps ? Or just ask the user to download from "Fix Central" ?

As for externals, we could use something similar to how "PPC" does it, buy specifying a `-d directory` option. In our case we would expect the `bmc.bin` and `pnor.bin` files to be in that directory.
OR
We could accept both files as input to `rflash` command, perhaps something like:
`rflash

[2017-07-10 16:29] whowutwut opened #3422 "OpenBMC support for softoff breaks xCAT rpower command"
In recent OpenbBMC builds, the activation of softoff support for controlling the servers breaks xCAT rpower support.

The following needs to be done, and tracking with this issue.
1)  Change the rpower off to be "hard off" to the chassis instead of the host
2)  rpower stat needs to be aware of the chassis power off
[code]
However rpower state is not looking at chassis state and returns "on"
[code]

[2017-07-10 18:12] gurevichmark commented on #3308
Implemented by PR #3424

[2017-07-10 18:55] whowutwut commented on #3422
Issue:
1.  Resolved by #3423
2.  Dependent on: openbmc/openbmc#1933, Need owner
3.  Need Owner

[2017-07-10 20:16] whowutwut commented on #3422
Repoening, still want to use this issue to track the softoff function

[2017-07-11 02:17] xuweibj commented on #3383
Hi @whowutwut , I added ipmitool command in code to check result, got result as below:

[code]

Just as you got, **Subnet Mask             : 255.0.0.0**, **Default Gateway IP      : 50.2.5.3**, though we set it successfully we got old value from BMC even use ipmitool command. It seems that this BMC has some problem.

[2017-07-11 02:54] samveen commented on #2493
@immarvin Maybe move this to newer milestone?

[2017-07-11 02:55] samveen commented on #2798
@immarvin Maybe move this to a newer milestone (and other open issues in the `2.13.5` milestone)?

[2017-07-11 03:19] immarvin commented on #2798
hi @bybai , is there any update on this ticket? is the newly opened tasks finished?

@samveen , thanks for reminder.

[2017-07-11 03:21] bybai opened #3426 "confignetwork support configure a specified ethernet network interface"
Feature request:
Currently, when `confignetwork/confignics` configure installnic, it find installnic ip from dhcp lease file, then configure this ip as installnic ip; During `switchdiscover --setup`, the dhcp lease contain one tmp ip for installnic, it may not be the final ip, but `confignetwork/confignics` will configure the tmp ip for the installnic, in this case, `confignetwork/confignics` lose

[2017-07-11 05:24] daniceexi commented on #3426
@bybai why the configntwork is run for a node which is running in genesis ? (discovery )

[2017-07-11 06:02] #3422 closed

[2017-07-11 06:25] hu-weihua commented on #3399
@samveen, thanks for your information. We have updated the code. could you help to verify again? thanks.

[2017-07-11 06:42] #3345 closed

[2017-07-11 06:55] robin2008 opened #3428 "kickstart file is not correct in hierarchy mode"
In an hierarchy mode with service pool:
site.master = 172.21.

For nodes under sn01 and sn02,  and with below settings:
    noderes.servicenode=sn01,sn02
    noderes.xcatmaster=''

In the design (not using share /install),  the kickstart file generated on sn01 and sn02 should using the CN facing IP address (172.20.x.x),  but now  it contains the IP of site.master.  It will cause installation faile

[2017-07-11 07:13] tingtli opened #3429 "[FVT]confignetwork returns 0 when there are error in the script"
xCAT 2.13.5
1. config network table and nics table
[code]

2. run updatenode -P confignetwork and get the error
[code]

[2017-07-11 07:18] tingtli opened #3430 "[FVT]:confignetwork could not config network if MTU is not set"
xCAT 2.13.5
[code]

1. config nics and networks table.
[code]
2. run updatenode -P confignetwork and get the error
[code]

[2017-07-11 07:56] chenglch commented on #3421
I haven't found the download link of `pUpdate` from Fix Central. I found the `pUpdate` tarball from login node. I think it is difficult to ship the binary files in the `xcat-dep`, so I prefer the way to make it as the externals.

For externals, I prefer the way to pass a directory argument which contains the `pUpdate`, `bmc.bin` and `poor.bin` files.  Maybe we do not need `-d` as a option. We can

[2017-07-11 08:18] bybai opened #3433 "[FVT]add test case for issue 3409 Makehosts doesn't seem to handle regex properly"
Add test case for issue #3409
* Discussed with team member; Support there is only one regex in nicips.
* Does not support there are multiple nicips for one nic, and nicips contain regex.

what to do:
* [ ] offer test case list and description
* [ ] implement these test cases

[2017-07-11 08:56] immarvin commented on #3384
no update for 1 week, close this ticket now; please reopen it if any update

[2017-07-11 08:56] #3384 closed

[2017-07-11 13:38] whowutwut commented on #3421
@chenglch When I go to the fix central site above and select Power -> Scale Out LC -> 8001-22C and select OP825 and select the version 2.10...  Then continue to the download page for it...

![image](https://user-images.githubusercontent.com/10049070/28070965-9f14b65c-661c-11e7-8bc8-ee3a674e2991.png)

It's available to be downloaded with the firmware.  I don't think we should ship it because if it

[2017-07-11 13:39] whowutwut commented on #3421
@chenglch passing a directory seems to be a good idea...  will keep the arguments more simple.   We can detect the files and then continue based on the `pUpdate,bin,pnor` being found or `hpm` for ipmi...

[2017-07-11 13:59] whowutwut commented on #3428
@robin2008 Is this a feature that we need ? Or the "work around" is just a documentation/configuration error that we have?

@daniceexi, you mentioned that `xcatmaster` on the nodedefintion controls the mgmt/sn that the compute node goes to.  So if that is the way to resolve it, we should just fix the documented process so the users know how to configure a hierarchy environment where the SN -> CN n

[2017-07-11 15:00] robin2008 commented on #3428
This is a feature we want for service node pool,  it means to auto-detect the value of `xcatmaster` when  `xcatmaster` is not set. It will grant service node pool  the capability of failover for OS installation.

We have already fix such issue  for dhcp lease/grub2/petitboot (if not set,  using the CN facing IP address by default), and then it could works for stateless provision.  Now for stateful

[2017-07-11 19:14] whowutwut commented on #3120
Looks like this issue came unexpectedly in the recent firmware update, I forgot I had created this issue, but will link the related issues/pull requests to this and close it out.

[2017-07-11 19:19] whowutwut opened #3436 "[openbmc] Support reboot of the BMC out of band with a rpower command"
The openbmc API provides us a way to reset the BMC out of band using a REST call.  [BMC.interface.yaml](https://github.com/openbmc/phosphor-dbus-interfaces/blob/master/xyz/openbmc_project/State/BMC.interface.yaml)

I think this is similar to the function we get when running `ipmitool -H x.x.x.x -I lanplus -U XXX -P XXX mc reset cold`.

## Proposed Externals
[code]

[2017-07-11 19:32] whowutwut opened #3437 "go-xcat, without the required packages has a bunch of tee error messages"
Ran go-xcat using version 1.0.20, I see these error messages coming out:

[code]

[2017-07-11 19:36] whowutwut commented on #3051
@zet809  Could you follow up with the openbmc team again on this one?

[2017-07-12 01:43] xuweibj commented on #3436
Reboot:
[code]
Get bmc status:
[code]

[2017-07-12 02:39] whowutwut commented on #3436
@xuweibj have you noticed  the BMC in a not ready state?   Maybe with the bmcstate we can observe it easer

[2017-07-12 02:43] robin2008 commented on #3428
Actually,  there is still another issue here.  If using shared /install for both MN and SN,  the file generated on one SN will be overridden by another SN as the file name is the same.

Discussed with @immarvin before,  we may need to figure out if there are any method to handle it.

[2017-07-12 02:54] xuweibj commented on #3436
@whowutwut After reboot when we can connect BMC again. Output is as below:
[code]

[2017-07-12 03:23] robin2008 commented on #3436
@xuweibj is it the below behavior?

[code]

[2017-07-12 05:04] xuweibj commented on #3436
@robin2008 Yes. But for rpower bmcreboot as below:
[code]

[2017-07-12 07:00] #3394 closed

[2017-07-12 07:29] immarvin opened #3440 "[CRL E2E]verify and refine the switch discovery process for edge TOR switches"
For onie switches, "switchdisover --setup" will configure the switch upon successful discovery. The E2E section on TOR switch disovery and configuration should be refined and verified

Accetptance:
1.  finish the refinement of TOR switch discovery and configuration
2. finish the verification of TOR switch discovery and configuration steps according to the E2E Doc

[2017-07-12 07:50] tingtli commented on #3217
Fixed in PR #3441.

[2017-07-12 07:57] #3409 closed

[2017-07-12 07:57] bybai commented on #3426
Hi @daniceexi , This feature is coming from `switchdiscover --setup`;  In `configonie --all` scripts,  it need change ip to static. Currently,  `configonie` use `$cmd = "updatenode $csw -P hardeths,enablesnmp,configinterface";` , we recommend use `confignetwork`, but `confignetwork` has issue. So I opened this feature request.  Here I mean `switchdiscover`.

[2017-07-12 08:14] daniceexi commented on #3426
@bybai get it, thanks.

[2017-07-12 08:19] neo954 commented on #3182
Access the Web UI of the zabbix monitor tool at http://10.3.1.11/zabbix/
with default Zabbix administrator account `Admin`/`zabbix`.

[2017-07-12 08:56] immarvin commented on #3150
hi @whowutwut , The PR is https://github.com/xcat2/xcat-core/pull/3442

[2017-07-12 08:58] zet809 commented on #2933
The new package is available at https://xcat.org/files/xcat/xcat-dep/2.x_Linux/beta/xCAT-genesis-base-ppc64-2.13.6-snap201707120359.noarch.rpm
The issue is,
- [ ] No suitable mlnx-en driver for Fedora 26, still finding.
- [ ] The i40e driver included in Fedora26 is newer than documented, so remove the section in the builldrpm script.

[2017-07-12 08:58] neo954 commented on #3437
I will look into this one.

[2017-07-12 08:59] zet809 commented on #3406
hi, @whowutwut , any idea?

[2017-07-12 09:12] #3066 closed

[2017-07-12 09:18] #3182 closed

[2017-07-12 09:18] #3212 closed

[2017-07-12 10:00] zet809 opened #3444 "The tasks for 2.13.5 release process"
We have do 4 RC build for 2.13.5 release, in order to summary what and how may work had been done, create this Epic to include all the task for 2.13.5 release.

[2017-07-12 14:26] whowutwut commented on #3382
@chenglch @daniceexi @zet809

I am not quite understanding the flow @chenglch proposed above.  Let's discuss this tonight.

[2017-07-12 15:03] whowutwut commented on #3383
@xuweibj Thanks for following up, so it looks like this is an issue with the SMC servers...  or a support issue since we have not validated this ...

@zet809 Comparing Boston with Firestone, it looks like the IPMI commands are the same...
[code]

[code]

We do a SET LAN before we do  a GET LAN configuration.  Perhaps there is a time delay between when the SET is called and when the GET will reflec

[2017-07-12 15:08] whowutwut opened #3445 "[SMC] rspconfig on supermicro servers does not display the new configuration values"
Details are in #3383, but this seems to be a support issue and not a bug, so moving this secondary problem to a new issue.  When setting the BMC attributes on a Boston server, we find that the OLD settings are printed out, NOT the new settings:

[code]

[2017-07-12 15:09] whowutwut commented on #3383
Opened new issue to track the feature support, using this issue to handle the change to not allow GET/SET in the same line.

[2017-07-12 18:37] whowutwut commented on #3444
@zet809 Did you mean this for 2.13.6?

[2017-07-12 18:41] gurevichmark commented on #3420
@zet809 I think another pull request is needed for this issue - to fix the `rflash -c` output.
Currently it returns:
[code]

[2017-07-12 19:51] whowutwut opened #3446 "rspconfig sshcfg does not work for OpenPower P8 servers"
Running command:
[code]

The OpenPower BMC user is sysadmin...  and Trying to log in, prompts password..
[code]

If we don't support this, should we at least block the option?  Bug/Feature?

[2017-07-12 20:40] whowutwut opened #3447 "[openbmc] rbeacon support"
This issue is open to track rbeacon support.

Discussion about LED is ongoing here: https://github.com/openbmc/openbmc/issues/1934

Should be able to implement the code changes, however, I haven't been able to see the LED take effect when the API is called.    Once I can successfully do that with Curl, will post my findings here and create a pull request.

[2017-07-12 21:42] whowutwut commented on #3182
:+1:  Very neat

[2017-07-12 21:45] whowutwut commented on #2933
@zet809 Do we need the mlnx-en driver in xCAT-genesis?  Is there a pull request for xcat-dep we should cross reference?

[2017-07-12 22:26] kcgthb opened #3449 "Support for dynamic groups in tables?"
Hi,

I'd like to know if there's any plan to support dynamic groups as the "node" attribute in tables, such as `nodehm`.

We create dynamic groups based on nodes' hardware characteristics, such as manufacturer and model (from the MTM node attribute), and we would like to specify different options for hardware management for each of those groups.

Thanks!

[2017-07-13 01:55] bybai commented on #3409
Hi @cganglin , I fixed this issue in #3432 code. You can have a try if you have time. Thanks.

[2017-07-13 02:25] whowutwut commented on #3406
@zet809 do you mean use the MAC address to generate a temp bmc node definition name? We don't have that with bmc discover.

I wonder if there is any unique ID we can use on the openbmc. Haven't figured any out yet..

[2017-07-13 02:27] whowutwut commented on #3436
Yea i guess we won't ever get the NotReady state because the rest service won't be running for us to query 😀

[2017-07-13 03:31] neo954 commented on #3437
@vhu, I cannot recreate your problem.

The script `go-xcat` use a temporary directory as its working place. In your case, it is `/tmp/go-xcat.45qYjTRF`. Actually, the only way I can recreate the problem is remove its temporary directory where the script is running.

So here is the re-creation steps.

1. Run the script

   # /tmp/go-xcat --xcat-version devel update
   Operating system:   linux
   A

[2017-07-13 03:31] zet809 commented on #3449
Hi, @kcgthb , not exactly sure your requirement.
How do you create the dynamic groups?
Is it work for you to use 'chdef -t group <group_name> <key>=<value> ...' to specify different attribute for different groups?

[2017-07-13 03:37] neo954 commented on #3437
Even in this case, I don't think it is bug. The error message shows what it mean.

[2017-07-13 04:36] samveen commented on #3399
Looks good.

[2017-07-13 04:36] #3399 closed

[2017-07-13 04:43] samveen commented on #3408
To add to the `4` times observation, while debugging some network issue during discovery, I noticed that the following:

[code]

`doxcat` is running `4` child processes. Maybe that's the root cause?

[2017-07-13 06:06] tingtli commented on #3365
The test scenarios includes
1) installnic and secondarynic configurations on rhels/suse/ubuntu platforms.  Manually run case confignetwork_s_installnic_diskful, confignetwork_s_installnic_diskless and confignetwork_secondarynic_diskless since they are not put in the daily run bundle.
2) run verification for vlan, bond and bridge cases

[2017-07-13 07:44] chenglch commented on #3382
I divided the `getadapter` work into two parts.

#### As a part of discovery
To make `getadapter` work during discovery stage, `getadapter` can be set in the chain table and it can be looked as a script running after `findme`. When the `findme` is done, the predefine node has already built the `mac-node` relationship in the `mac` table. As `getadapter` script will inspect all the information inclu

[2017-07-13 08:17] zet809 commented on #2933
The newer mlnx-en driver that Fedora shipped was  required by someone long time several months ago, if I can find suitable driver, I can include it in xCAT-genesis.
If not, maybe we shall just include the drvier shipped by Fedora26.
The script related to build xcat-genesis-base had been modified in 2.13.4 I think, I will create a new PR for the modification mentioned above.

[2017-07-13 08:52] #3338 closed

[2017-07-13 08:55] neo954 commented on #2443
After upgrade all the KVM host to RHEL 7.3+RHV 4.1, I think the problem is solved. For now, I intend to close this issue.

Please feel free the reopen this issue if someone hit this problem again. But I believe upgrade PowerKVM 2.x/3.x to RHEL 7.3+RHV4.1 is the key point.

[2017-07-13 08:55] #2443 closed

[2017-07-13 09:21] #3420 closed

[2017-07-13 09:26] #3305 closed

[2017-07-13 09:27] #3440 closed

[2017-07-13 09:28] #3414 closed

[2017-07-13 09:29] #3217 closed

[2017-07-13 09:29] #3365 closed

[2017-07-13 09:29] #3216 closed

[2017-07-13 09:29] #3215 closed

[2017-07-13 10:53] whowutwut commented on #3420
@zet809 can you comment on Marks question above?

[2017-07-13 11:42] samveen commented on #3190
@bybai Maybe change the milestone to one of the future ones?

[2017-07-13 11:43] samveen commented on #3198
@immarvin Maybe change the milestone to one of the future ones for this one too?

[2017-07-13 13:14] samveen commented on #3449
@kcgthb If I understand you correctly, is what you want a method to specify attributes on which nodes may be grouped auto-magically? (for example if a node has an attribute `switch=VNDC-LSW-00101`, then I want it to be part of a group `VNRackA1`)?

[2017-07-13 14:11] gurevichmark commented on #3446
It is more pervasive than that. It appears ipmi.pm does not do any parameter/flag verification for `rspconfig`.
For example, the following does not display any error messages and returns RC=0:

[code]

[2017-07-13 15:44] cganglin commented on #3409
Ok, which drop of the code I would need to use to get this change?

[2017-07-13 15:56] cganglin commented on #3279
Ok. Thanks for looking into this

[2017-07-13 15:56] #3279 closed

[2017-07-13 15:58] kcgthb commented on #3449
## Dynamic groups

Well, we do use the "dynamic group" feature of xCAT. It's documented here: https://sourceforge.net/p/xcat/wiki/Node_Group_Support/#creating-a-dynamic-node-group

(I know it's an old page, but the feature still works, and better keep working... :))

We define dynamic groups in the `nodegroup` table, with entries like this:
[code]
So all the nodes with the string "Supermicro" in t

[2017-07-13 17:20] whowutwut commented on #3437
Thanks for checking

[2017-07-13 17:20] #3437 closed

[2017-07-13 17:53] whowutwut commented on #3409
@cganglin  It was merged 1 day ago so if you update to today's build, should be there.

[2017-07-13 17:54] whowutwut commented on #3446
Ah ok.  So maybe we should first fix the parsing?

If this has not been supported on OpenPower IPMI, maybe we should disable it, if possible.

[2017-07-13 19:45] #3344 closed

[2017-07-14 00:28] whowutwut commented on #3198
What's the decision on what we should have the default behavior be?

[2017-07-14 02:05] immarvin commented on #3150
verified by autotest

[2017-07-14 02:05] #3150 closed

[2017-07-14 02:10] immarvin commented on #3198
hi @robin2008 @whowutwut , this is an interesting problem on language level, I did some debug and provided some debugging hints, but did not have time to investigate further.

hi @gurevichmark ,  any update on this?  Is this a still a blocking issue?

[2017-07-14 02:10] bybai commented on #3190
Hi @samveen, we do not have requirement for this feature, xCAT other function can realize this function. So this task is moved into icebox. Thanks.

[2017-07-14 02:14] bybai commented on #3430
This issue affect new auto test cases, so will fix this in this sprint.

[2017-07-14 03:17] hu-weihua commented on #3433
hi @bybai, if you want add some test cases for your some issue, just need to add ``testcase_requested`` label in your issue, do not need to open a task. When FVT make work plan, we will go through ``testcase_requested`` label to plan task.

I will use this task you create this time.  thanks.

[2017-07-14 03:20] hu-weihua commented on #3409
@whowutwut, I will plan to add test case for this in 2.13.6 sprint2. thanks

[2017-07-14 04:50] immarvin commented on #3363
Created a slide to introduce NC-SI:  on https://ibm.ent.box.com/folder/32140983329

[2017-07-14 04:53] samveen opened #3453 "[Support] Expected format of `/sys/devices/virtual/dmi/id/product_name`"
Due to a comment on #3449 , I took a look at the my site's `VPD` and found that `vpd.mtm` is empty for ALL nodes. Taking a look at `xCAT-genesis-scripts/bin/dodiscovery`, I found that it expects the `/sys/devices/virtual/dmi/id/product_name` file to contain `[` and `]`. Can you give me an example of what the expected format of the contents of this file are?

[2017-07-14 04:55] immarvin commented on #3453
hi @zet809 , would you please answer the question? thx

[2017-07-14 06:14] samveen commented on #3449
Ah. I think I understand the question now. Rephrasing the question:
`Is it possible to add support for setting inheritable attributes for dynamic groups?`

[2017-07-14 06:20] bybai commented on #3429
@tingtli , this bug is duplicate with #3455 .  The root cause is that : if there is no mtu configured in networks table, the ifcfg-* files have wrong labels, that cause some error messages print out. So the fix is in #3455.

[2017-07-14 06:21] #3429 closed

[2017-07-14 06:33] robin2008 commented on #3088
Introduce a new site attribute for the mode:
[code]
For example:
[code]

If (**sharedtftp=0, disjointnetboot=1, assume all in same subnet**), and run `nodeset cn01,cn02 osimage ` on mn.
on sn01,  the petitboot/grub2/xnba for cn01,cn04 will be generated, but no cn02 and cn03
on sn02,  the petitboot/grub2/xnba for cn02,cn04 will be generated, but no cn01 and cn03
on MN, all nodes are be handled.

if

[2017-07-14 06:39] robin2008 commented on #3088
Fix this by PR #3456

[2017-07-14 07:00] chenglch commented on #3449
Hi @kcgthb , I think dynamic group can be looked as a group tag which help select the nodes which match the condition string in the `wherevals` column of node group table.
[code]
Dynamic group do not work like the static group which accept the attribute definition and allow the node inherit the attribute from group. It is just a tag represent a collection of nodes and the node members can be chang

[2017-07-14 07:16] samveen commented on #3449
@chenglch How do I get a list of dynamic groups that a node qualifies for?  That might make your suggested solution easier to work with.

[2017-07-14 07:29] chenglch commented on #3449
@samveen, you are right, I think xcat has not provided a command or a option to find the dynamic groups from node.
Maybe we can enhance `lsdef <noderange>` command to print the information for dynamic groups.

[2017-07-14 07:33] bybai commented on #3430
The root cause is:
 In the  `get_network_attr`, when there is no value for one attribute in networks table, it will print `[E] Fail to get $attrname for network $netname`. For example, if there is no value for MTU, after executing "_mtu=`get_network_attr $xcatnet mtu`", the result is as "_mtu=[E] Fail to get "" for network "mtu" " . The _mtu got the wrong value, the wrong value make _mtu is not nu

[2017-07-14 07:54] zet809 commented on #3420
hi, @gurevichmark , seems the checking logic miss something.
It is null before
[code]
But, after run ipmitool hpm check, the rflash works:
[code]

[2017-07-14 07:59] neo954 commented on #3189
Manually verified with the latest daily build. It is good.

[2017-07-14 08:11] zet809 opened #3460 "Changes required for 'rflash -c' to support more detailed firmware information for LC Big Data boxes"
Add-on fix for issue #3420

In this issue, the 'rflash -c' will be take into account.

It is null before
[code]
But, after run ipmitool hpm check
[code]
The rflash works:
[code]

[2017-07-14 08:38] robin2008 commented on #3088
Need corresponding test case to cover it.

[2017-07-14 08:41] zet809 commented on #3453
HI, @samveen , the file looks like this:
[code]

[2017-07-14 09:10] #3189 closed

[2017-07-14 09:15] #3342 closed

[2017-07-14 09:28] #3348 closed

[2017-07-14 09:30] #3363 closed

[2017-07-14 09:39] robin2008 commented on #3151
@whowutwut I still keep the current design to just use the node attribute (noderes.servicenode),
so that there are more flexibility for admin to use IPs or nodenames he wants (the CN could access)

I've verified on the fs3 environment, and to close it first. If you have any concerns or comments, please open it again.

[2017-07-14 09:39] #3151 closed

[2017-07-14 10:30] samveen commented on #3453
@immarvin @zet809 Thank you for the quick response.

As luck would have it, the issue I face are fixed already by PRs #2479 and #2712  ( included in `xCAT-2.13.3`, while we use `xCAT-2.13.2`)

Closing this.

[2017-07-14 10:30] #3453 closed

[2017-07-14 13:29] gurevichmark commented on #3198
It is not blocking. I was able to work around this issue.
The problem is that I noticed this accidentally with `rflash` command, and there might be other xCAT commands with this issue.
Does FVT run testcases for xCAT commands with invalid arguments/flags, expecting some error message and RC != 0 ?

[2017-07-14 15:27] gurevichmark commented on #3421
Implemented by PR #3463

[2017-07-14 17:52] kcgthb commented on #3449
@chenglch Thanks for the suggestion. I would obviously prefer not to create any static group for this, because that's the whole point of having dynamic groups in the first place. :)

I understand that xCAT currently doesn't allow setting inheritable attributes for dynamic groups, but I think it would make a great addition. Dynamic groups allow to define sets of nodes based on specific properties,

[2017-07-14 21:27] whowutwut opened #3464 "[OpenBMC] Modify bmcdiscover to use MAC address of the BMC?"
Opening this issue to track this.  Perhaps we can use the MAC address to get something unique off the boxelder board...

[2017-07-14 21:40] whowutwut commented on #3464
With the current Firmware, there's NO mac address, but it looks promising....

[code]

[2017-07-14 21:46] whowutwut commented on #3464
Opened this issue to ask FW team.
https://github.com/openbmc/openbmc/issues/1968

[2017-07-16 23:57] daniceexi commented on #3342
@hu-weihua One of my question is what's rule to put a doc in github.com or github.ibm.com?

[2017-07-17 00:21] whowutwut commented on #3342
@daniceexi  This is an internal process of xCAT tools, so it should be github.ibm.com, which is the URL that @hu-weihua  used....

However, I don't know why we are opening issues in the public GitHub to track this, we can open issues for this in the internal repos..   Unless we are trying to trace all work on the external site.. which i'm not sure I agree with.

[2017-07-17 02:33] zet809 commented on #3464
hi, @whowutwut , in bmcdiscover, we use nmap to scan the UPing host IP from an IP range. From the output, it can also return the MAC address for the IP. I think we can modify the bmcdiscover.pm a little to get the MAC address for a specified IP easily. What is you idea?
[code]

[2017-07-17 05:34] xuweibj opened #3466 "rinstall plugin bug when setup SN on sles12.2 ppc64le"
sles12.2
ppc64le

[code]

[2017-07-17 05:49] daniceexi commented on #3342
@whowutwut I am OK with our current way to store our docs. As I mentioned before that I'd like we could put all the docs in public github if there's no specific confidential content to easy the management.

[2017-07-17 06:35] #3347 closed

[2017-07-17 06:59] zet809 commented on #3444
Hi, @whowutwut , no, it is used to record the effort we put for the 2.13.5 release. We have made 4 RC build, and involved lots of FVT effort. So, we want to collect all the issue, fix, items do for 2.13.5 release.

[2017-07-17 07:02] bybai commented on #3283
Checked by new autotest cases.

[2017-07-17 07:02] #3283 closed

[2017-07-17 07:38] hu-weihua opened #3467 "[FVT] Make Travis CI system work"
what to do:

* Make Travis CI system on line to work.

[2017-07-17 07:39] #3467 closed

[2017-07-17 11:02] whowutwut commented on #3436
Let's put this pending and give me a chance to verify when I am looking at the console to the bmc  on the machine and I will close it out.

[2017-07-17 13:19] whowutwut opened #3468 "Extend the `bmcstate` option to the OpenPower IPMI implementation to show "bmc ready""
With the introduction of the `bmcstate` option to OpenPower - OpenBMC in https://github.com/xcat2/xcat-core/pull/3435, it allows us to check that the BMC is in ready state.  We can also extend this support to the earlier models of the OpenPower IPMI servers.

- [ ]  IBM OpenPower S822LC for Big Data (Briggs/Stratton/Boston
    TBD to find the command.

- [ ]  IBM OpenPower S822LC for HPC (Fireston

[2017-07-17 16:35] whowutwut commented on #3436
Verified with the following builds:
[code]

With a screen session open directly to the BMC, and watching the console, reboot the BMC:
[code]

This worked!

During the reboot time, `rpower` returned 503, but some calls actually take a very long time to return

[code]

Doing a ctrl-c out of this, also causes some issues.  Need to be able to handle this better in xCAT, will open another issue for tha

[2017-07-17 16:35] #3436 closed

[2017-07-17 16:39] whowutwut opened #3469 "[OpenBMC] When running commands, ctrl-c/ctrl-z causes zombie processes"
This issue is opened for OpenBMC to narrow the focus, but may be applicable to xCAT in general in how we are handling aborts from command line.

When a command takes a long time to return, either due to to 503 Service Unavailable, or Timeout trying to connect to the BMC, a ctrl-c during this time does not get cleaned up correctly.

While the BMC is rebooting, here's the inconsistent times that it

[2017-07-17 16:51] whowutwut commented on #3383
Verified on 7/17 daily build.

OK to close.

[code]

[2017-07-17 16:51] #3383 closed

[2017-07-17 17:38] whowutwut commented on #3295
Opened an issue over on openbmc https://github.com/openbmc/openbmc/issues/1952 , this endpoint needs to be exposed first.   The ones referenced above by @xuweibj  is pointing at the wrong endpoint.

[2017-07-17 18:48] gurevichmark commented on #3339
@xuweibj Have you started any work on this issue? If not, I can take it.

[2017-07-18 01:30] zet809 opened #3470 "[CORAL]Attempt to VLAN tag manually using the latest OpenBMC build"
Trace the issue https://github.ibm.com/vhu/c910env/issues/93.

[2017-07-18 01:32] zet809 opened #3471 "[CORAL]Bring Up the Power9 Servers in xCAT fs3 cluster"
Trace the issue https://github.ibm.com/vhu/c910env/issues/84

- [x] U03 - mid05tor12cn02 (**P9 ITC**) #72 --> HELP! Kernel Panic when installing PEGAS
                                                                     Diskless/Diskful works, but have kernel error
- [x] U05 - mid05tor12cn04 (**P9 ITC**) #88 --> HELP! need to install OS here...
- [x] U11 - mid05tor12cn11 (**P9 ITC**) #87  --> HELP

[2017-07-18 01:35] zet809 opened #3472 "[CORAL]Understand xCAT genesis and how it discovers MAC if multiple NICS get Genesis"
Trace the issue https://github.ibm.com/vhu/c910env/issues/100

[2017-07-18 01:36] zet809 opened #3473 "[CORAL]Minsky CN under fs3 has incorrect BMC properties"
Trace the issue https://github.ibm.com/vhu/c910env/issues/101

[2017-07-18 01:52] zet809 commented on #3405
Hi, @xuweibj , why not set pending label for this defect after it is fixed?

[2017-07-18 01:53] robin2008 opened #3474 "[Usability] The nodeset output cannot tell where the message it coming from"
The message is bad, can't tell where the message it coming from. my assumptions below...
[code]
Note:  need to cover other actions too, for example, stat

Trace https://github.ibm.com/vhu/c910env/issues/77

[2017-07-18 01:57] zet809 opened #3475 "enhance the usability of hardware discovery process"
1. summarize the issue encountered for hardware discovery
 * what issue had been encountered?
 * Why those issue happened?
 * Can we improve it? How?

[2017-07-18 02:00] immarvin opened #3476 "[CRL] work out the full scenario of Cumulus switches usage in Coral with a Design Thinking methodology"
Currently, we have finished the following features on Cumulus Switch Support:
1. the Cumulus Switch discovery and configuration with (a) the "switchdiscover --setup" and (b) ztp based
2. the Cumulus os provision
3.  switch configuration management method with ``xdcp`` and ``xdsh``
4.  provides ``configonie`` for switch configuration, which includes
(1) config passwordless root ssh
(2) install lice

[2017-07-18 02:08] hu-weihua opened #3477 "[FVT] automatize node discovery test"
what to do:

* [x] offer a test solution, include hardware and network requirement.
* [x] offer test case list, include detailed description and prerequisite.
* [x]  cover some test against ``chain`` and ``getadapter``
* [x]  implement these test cases
* [x] Test these test cases in target environment

[2017-07-18 02:24] hu-weihua opened #3478 "[FVT] automatize GPU test"
what to do:

* [x] offer a test solution, include hardware requirement.
* [x] offer test case list, include detailed description and prerequisite.
* [x]  implement these test cases
* [x] Test these test cases in target environment

[2017-07-18 02:29] hu-weihua opened #3479 "[FVT] add the new test case which were added in 2.13.6 sprint 2 into suitable bundles"
what to do:

* [ ] calculate the new test case added in  2.13.6 sprint 2
* [ ] add the new test case which were added in 2.13.6 sprint 2 into suitable bundles

[2017-07-18 02:40] hu-weihua opened #3480 "[FVT] add test case for issue 3414 : incorrect petitboot configuration for nodeset shell in flat hierarchical"
Add test case for issue #3414
what to do:

* [x] offer test case list and description
* [ ] implement these test cases

[2017-07-18 02:44] hu-weihua opened #3481 "[FVT] add test case for issue 3289: Changing site table attributes using chdef does not return the correct message"
Add test case for issue #3289
what to do:

* [ ] offer test case list and description
* [ ] implement these test cases

[2017-07-18 02:48] zet809 commented on #1267
1. verify the steps for manually MN migration
2. update document on RTD

[2017-07-18 02:52] hu-weihua opened #3482 "[FVT] add test case for issue 1939: linux orderly shutdown not noticed by xcat."
Add test case for issue #1939
what to do:

* [ ] offer test case list and description
* [ ] implement these test cases

[2017-07-18 03:01] hu-weihua opened #3483 "[FVT] add test case for issue 1002 : lsvm command does not work for kvm VMs"
Add test case for issue #1002
what to do:

* [ ] offer test case list and description
* [ ] implement these test cases

[2017-07-18 03:07] zet809 opened #3484 "[CORAL]investigate the MN HA requirement in CORAL"
Need to investigate which HA solution is required in CORAL.
1. #1267
2. shared data
3. #3938
...

[2017-07-18 03:08] hu-weihua opened #3485 "[FVT] add test case for issue 922: Ping not working for non root users on Diskless PowerKVM guests"
Add test case for issue #922
what to do:

* [ ] offer test case list and description
* [ ] implement these test cases

[2017-07-18 03:12] bybai commented on #1267
The sourceforge doc: https://sourceforge.net/p/xcat/wiki/XCAT_Documentation/

[2017-07-18 03:14] bybai commented on #640
I think #3189 nicextraparam can support customize attribute in ifcfg-* files. It can cover this issue.

[2017-07-18 03:23] zet809 commented on #3464
Can be dealt in #3406

[2017-07-18 03:34] whowutwut commented on #3464
@zet809 if we can get the MAC address that might be a good way to create a unique node definition for discovery while we figure out what the boxelder board will have burned on

[2017-07-18 03:37] bybai commented on #2798
Hi @samveen and @ralphbellofatto ,
This feature is included in 2.13.6. confignetwork realize configure Ethernet ip just like confignics.  Will add integrate configib later.

[2017-07-18 04:34] zet809 commented on #3330
Close this defect and open new one to go through the New Hardware support checklist.

[2017-07-18 04:34] #3330 closed

[2017-07-18 04:36] zet809 commented on #3350
Close this task and open defect if there is issue encountered in the hardware discovery process.

[2017-07-18 04:36] #3350 closed

[2017-07-18 04:48] zet809 opened #3486 "[HW support]go through new hardware support checklist for Boston server"
* [x] The rflash #3373
Pls follow the checklist https://w3-connections.ibm.com/wikis/home?lang=en#!/wiki/xCAT/page/New%20Hardware%20Support%20Checklist

Pls modify the checklist below with the command/cases for the specified items.
* [x] bmcsetup verifcation

[2017-07-18 04:58] hu-weihua opened #3487 "[FVT] add test case for issue 3088 : nodeset improvement"
Add test case for issue #3456
what to do:

* [ ] offer test case list and description
* [ ] implement these test cases
* [ ] verify issue #3088 before 2.13.6 release

[2017-07-18 05:49] xuweibj commented on #3405
The issue was fixed in pull request #3431

[2017-07-18 06:11] hu-weihua opened #3488 "[FVT] add test case for new feature 3426 :confignetwork support configure a specified ethernet network interface"
what to do:

* [ ] offer test case list and description
* [ ] implement these test cases
* [ ] verify this issue for 2.13.6 release

[2017-07-18 08:05] hu-weihua opened #3490 "[FVT] "rscan <hmc> -w" will delete ip attribute of node which was defined ahead"
**Environment**:
* ``xcat version`` : 2.13.6 (git commit 42fe5c7bf8b86bf81fe8bfe689ce07fe2a721344, built Mon Jul 17 06:15:45 EDT 2017)
* ``arch `` : ppc64

**Bug description:**

If predefine a lpar node which have IP attribute,  then run ``rscan <hmc> -w`` command,  the IP attribute will be deleted. It is unreasonable.

**How to reproduce:**
*  predefine a node

       Object name: c910f02c01p07

[2017-07-18 08:09] hu-weihua commented on #3490
This is the root cause of test case  ``makehosts_null``,  ``makehosts_l`` and `` makehosts_n`` failure in automation environment.

[2017-07-18 08:35] hu-weihua commented on #3094
@immarvin and @robin2008, it is timing issue. If ``rinstall`` can execute every step ideally, everything is fine. But if it failed to terminate sub process, ``rinstall`` will hung forever. We have hit this problem many times in automation environment. I do not think it is a very small probability event.

[2017-07-18 09:19] zet809 opened #3492 "[FVT]add local bridge on hypervisor and append it to the vm node defintion"

[2017-07-18 12:30] robin2008 commented on #3474
There are mainly two parts of messages are required be handled.
1, Normal output.
For this kind of output, currently it is using `<node>: <action or stat>`.  without service node, the output could be well handled by `xcoll`, for example,
[code]
However, if there are service nodes, the message cannot tell which is from. It is required us to add the information. And there are two options:

1. the fo

[2017-07-18 15:24] whowutwut opened #3494 "xCAT-genesis should use predictable naming instead of old style interface names"
When doing discovery in xCAT Genesis, the resulting information added to the pre-defined node definition uses the interface names that is running in the Genesis Kernel...

For example: `eth2`

[code]

However, the discovery data knows about the PCI information,
[code]

eth2 is `0001:01:00.4` so it should really be : `enP1p1s0f4`

[2017-07-18 17:32] whowutwut opened #3495 "OpenBMC commands does not work in hierarchy, plugin bug."
Using todays build:
[code]

I think in an hierarchy environment, there is problems with openbmc support

### IPMI managed
[code]

### OPENBMC managed

[code]

Perhaps caused by #3450?

[2017-07-18 18:59] whowutwut opened #3496 "OpenBMC debug not available when we are in configured for HIERARCHY"
For OpenBMC, we have used XCATBYPASS=1 to print out debug information and the rest calls... with Hierarchy we can't use it.

[code]

Can we convert the openbmc code to use the `site.xcatdebugmode=1`, similar to how we are doing things for `[ipmi_debug]` calls?

Need a way to get some information about to deubg the openbmc code in a hierarchy environment.

[2017-07-18 19:35] whowutwut opened #3497 "[openbmc] reventlog does not make too much sense"
Looks like development was claimed to be complete in https://github.com/xcat2/xcat-core/issues/2892 so Open this as a bug.

1) The code is not exposed to the users, but development is done, please open it up.
[code]

2) The format does not really make sense....

[code]

Why is there so many Event.Event?   What is the number in the output?

[2017-07-18 19:45] whowutwut commented on #3464
@zet809 Yes, can we have someone implement this support so we can try to remove this work around for ITC boxes.  the boxelder boards should have MAC address restful, so we want to check that first, then fall back on using the nmap...  unless this performs quicker than the rest call.  IT seems like we are already running a rest call against the BMC, so maybe there's no difference...  ?

[2017-07-18 20:28] whowutwut commented on #3495
Could this be caused by:
[code]

a space there?

[2017-07-18 21:14] markprez opened #3498 "p9 rpower off/on of a hung node does not recycle a hung OS."
p9 rpower off/on of a hung node does not recycle a hung OS.
Levels:
Updated xCAT to latest dev build and currently running 1724a on a water cooled witherpoon:
[root@c685mgt02 ~]# lsxcatd -v
Version 2.13.6 (git commit 6ca241c9d0d361895d2246f410910248a1b06fbc, built Tue Jul 18 06:15:37 EDT 2017)

[code]

Description:
c685f4n02 hung around 15:30 and the user tried an rpower off/on around 16:00.
They

[2017-07-18 22:26] whowutwut commented on #3474
If the compute node is managed by a single service node then we should only see one instance of the node in the output? Not 3..? Correct?

[2017-07-19 00:19] xuweibj commented on #3495
Hi @whowutwut , the code on sn01 did not include changes in #3450. So it can not send msg back, will prin error msg like this.

[2017-07-19 00:32] whowutwut commented on #3495
Oh ok. Thanks! Can you update the code on sn01 and let's close this

[2017-07-19 00:54] xuweibj commented on #3466
[code]

[2017-07-19 01:29] xuweibj commented on #3495
After updated code on sn01, it works well.

[code]

[2017-07-19 01:30] #3495 closed

[2017-07-19 01:47] immarvin commented on #3498
hi @xuweibj , would you please take a look at this?

[2017-07-19 01:51] immarvin commented on #3494
if the nic name the same as the nic name inside genesis, interesting that the nic name in genesis is not predictable naming, is it caused by the genesis udev rule or kernel version? or is there any kernel option like "net.ifname=0" to prohibit the predictable naming

[2017-07-19 02:17] hu-weihua opened #3499 "[FVT] Run hardware discovery regression test manually for 2.13.6 release"
what to do:

* [ ]  test hardware discovery manually for 2.13.6 release. If discovery automated has done, using automation to cover this task

[2017-07-19 02:18] immarvin commented on #3474
hi @whowutwut , according to the current code logic, ``nodeset`` request will be forwarded the MN and all the service nodes in the cluster.

[2017-07-19 02:39] whowutwut commented on #3498
@xuweibj Just to provide you some information...  I know for the firmware levels that are > 1724A/B, the "soft off" function was implemented in the openbmc side and so sending a transition OFF to the host object, results in soft off.    I supported this in https://github.com/xcat2/xcat-core/pull/3425

During this  "timeout" period for softoff, I don't think we can send a transition OFF to the chas

[2017-07-19 02:44] whowutwut commented on #3494
Yes, the nic name that is stored in `discoverydata` is the same as what we see when we are in the xCAT genesis kernel...   not sure why it's not using the predictable naming, i *think* this is based on Fedora26.   Need to check the rpm....

[2017-07-19 02:45] whowutwut commented on #3495
Thanks @xuweibj

Is there a way we could bubble this error up to the user?  It's not easy to debug this if xCAT on the MN and SN are mismatched....    How far off does the version need to be to not work?

[2017-07-19 02:45] hu-weihua opened #3500 "The tasks for 2.13.6 release process"
This epic include all the tasks for 2.13.6 release process.
The expected run time is 2017/8/7 - 2017/8/11

[2017-07-19 02:45] whowutwut commented on #3466
@xuweibj  Is this the same issue as #3495 ??

[2017-07-19 02:50] robin2008 commented on #3474
For nodeset/makedhcp,  the current logic is to broadcast to all SN in the cluster. (Not only the servicenode defined for this node)

But we have disjoint mode for this kind of command,  for example, disjointdhcps for makedhcp (already exists), disjointnetboot for nodeset (new introduced in #3088 )

with this settings,  SN only handle their own children, and ignore others.

For for query, we still

[2017-07-19 02:50] whowutwut commented on #3405
Thanks, I  will verify.

[2017-07-19 02:51] whowutwut commented on #3486
@zet809 Is there an internal doc we are following for this... , if so, let's link the URL

[2017-07-19 02:53] hu-weihua opened #3501 "[FVT] run regression against ppc64le and x86 physical machine for 2.13.6 release"
Run regression against ppc64le and x86 physical machine for 2.13.6 release

what to do:

* [ ] Run basic hardware control and diskful+flat , diskless+flat ,statelite+flat provision
* [ ] verify rcons / rflash manually

[2017-07-19 03:01] xuweibj commented on #3466
@whowutwut This is not the same. This occured when installed SN.

[2017-07-19 03:01] hu-weihua opened #3502 "[FVT] test basic function against go-xcat and migration manually for 2.13.6 release"
What to do:
*  [ ] test basic function which were not covered by automation against go-xcat
   * go_xcat_local_repo_case7
   * go_cat_with_x
   * go_xcat_with_xcat-version-1
   *  go_xcat_online_repo_case6
*  [ ] test migration against rhels7.3+ppc64le for 2.13.6 release
   *  2.13.1->2.13.6
   *  2.13.2->2.13.6
   *  2.13.3->2.13.6
   *  2.13.4->2.13.6
   *  2.13.5->2.13.6
   *  2.12.4->2.13.6

[2017-07-19 03:04] hu-weihua opened #3503 "2.13.6 release process"
what to do:

* [x] End of cycle regression process: https://w3-connections.ibm.com/wikis/home?lang=en#!/wiki/xCAT/page/End%20of%20cycle%20regression%20process
* [x] merge master branch to 2.13 branch
* [x] refine release notes: https://github.com/xcat2/xcat-core/wiki/XCAT_2.13.6_Release_Notes
* [x] go through release process below for 2.13.6 :

## Preparation

* [x]  Update the xCAT release notes

[2017-07-19 03:08] junxiawang commented on #3485
Testcase need to modify:reg_linux_diskless_installation_flat

[2017-07-19 03:19] immarvin commented on #3466
this issue occurs when deploy VM

[2017-07-19 03:20] junxiawang commented on #3483
Cases need to add:
lsvm_vm
lsvm_kvmhost
lsvm_h
lsvm_a
lsvm_all
lsvm_noderanage
Cases need to modify:
lsvm_node

[2017-07-19 05:01] junxiawang commented on #3482
Cases need to modify:
xdsh_node_reboot
xdsh_node_poweroff

[2017-07-19 05:10] xuweibj commented on #3498
I think I did not get the point. Is this that when run rpower off or on, got nothing msg on the screen for a long time? Or run rpower successfully, but the nodes did not off or on?

[2017-07-19 05:11] junxiawang commented on #3480
cases need to modify:
nodeset_shell_incorrectmasterip

[2017-07-19 05:20] junxiawang commented on #3481
Cases need to add:
chdef_site_check

[2017-07-19 06:07] samveen opened #3504 "[Support] Allowing value `reboot` in `chain` attribute"
I cannot trace any particular commit where the value of `reboot` was removed as a valid value for the `chain` attribute, and the reason why. All I get are documentation changes about this change.

Can I get the reason why this value was removed?

Note: `xCAT-2.9.1` has this as a valid value, and `xCAT-2.13.2` does not. The `dodestiny` script still supports this value, but `xcatd` returns `Unknown

[2017-07-19 06:42] xuweibj commented on #3336
Hi @whowutwut , Is this issue still existed? Which MN and CN could I use to debug?

[2017-07-19 08:37] robin2008 commented on #3474
Here are some summaries of today's discussion meeting.

1, Try to find a general method for such kinds of output. (to handle it in xcatd), the format should be like:
**`[name:] [(sn):] <info data>`**
**`[name:] [(sn):] <Error data>`**

**Note:**
   - if the message is coming from myself,  does not output `[(sn):]`
   - the _sn_ could be name or IP if it cannot be resolvable.

2, To enhance nodeset

[2017-07-19 08:49] neo954 commented on #3492
The following pull request was submitted.
https://github.ibm.com/xcat2/jenkins/pull/120

[2017-07-19 08:49] robin2008 commented on #3088
Updated the conclusion in today's review meeting:
 - Not introduce an extra `disjointnetboot`, but to use `disjointdhcps` directly to control both DHCP and nodeset.

 - And we still need to introduce a new flag to query the unmanaged CNs in case there are non-clean files. For example,  `nodeset <noderange> stat -a`

 - Also to introduce a new subcommand to do the clean-up unmanaged nodes. For exam

[2017-07-19 08:56] immarvin commented on #3094
fixed in https://github.com/xcat2/xcat-core/pull/3507

[2017-07-19 08:56] immarvin commented on #3466
fixed in https://github.com/xcat2/xcat-core/pull/3507

[2017-07-19 08:57] immarvin commented on #3466
since this is a block issue in daily autotest, change the priority to "high"

[2017-07-19 08:59] immarvin commented on #3094
since this is a block issue in daily autotest, change the priority to "high"

[2017-07-19 09:16] hu-weihua commented on #3065
Due to we hit resource problem in 2.13.6 sprint 2. so drop this item in this sprint. Will put it on schedule again at right time.

[2017-07-19 09:17] hu-weihua commented on #3326
Due to we hit resource problem in 2.13.6 sprint 2. so drop this item in this sprint. Will put it on schedule again at right time.

[2017-07-19 09:18] hu-weihua commented on #3341
Due to we hit resource problem in 2.13.6 sprint 2. so drop this item in this sprint. Will put it on schedule again at right time.

[2017-07-19 10:00] zet809 commented on #3297
Fixed in pull request #3491

[2017-07-19 10:02] zet809 commented on #3490
Fixed in pull request #3493

[2017-07-19 10:14] zet809 commented on #3494
Hi, victor, the new xcat-genesis-base package is available at fs3:/tmp/xCAT-genesis-base-ppc64-2.13.6-snap201707190550.noarch.rpm
haven't upload to xcat.org yet, will do it tomorrow.

[2017-07-19 13:30] whowutwut commented on #3498
@xuweibj  With the problem @markprez  mentioned

1) something hung on the OS side
2) rpower <> off is run,  CurrentPowerState=Off,  CurrentHostState=Running,   This is probably a issue reporting correct states with openbmc in https://github.com/openbmc/openbmc/issues/1933.  But if CurrentPowerState=Off, the power should be off to the chassis.
3) At this point, rpower on does not work anymore...
4)

[2017-07-19 15:57] samveen commented on #3494
Is the `x86_64` genesis built on Fedora26 too as well?

[2017-07-19 16:13] whowutwut commented on #3336
@xuweibj Sorry, I forgot to cross link with issues that I opened up on the openbmc team after I re-created it outside of xCAT code... . https://github.com/openbmc/openbmc/issues/1881 .

It's a firmware design issue and there's nothing that xCAT code can do to change this... so let's close it.

[2017-07-19 16:13] #3336 closed

[2017-07-19 16:15] whowutwut commented on #3336
So summary, there's no fix going in for xCAT, and this is dependent on any changes in openbmc to resolve this issue.

[2017-07-19 16:19] whowutwut commented on #3494
@samveen No, we have not re-built it for that....  Was only looking to update the ppc64 version and we started creating beta builds here:  http://xcat.org/files/xcat/xcat-dep/2.x_Linux/beta/

If this update something you are interested in for x86_64?

[2017-07-19 16:24] whowutwut commented on #3494
@zet809 Do we think there's any risk if we update the xcat-dep to use the new xCAT-genesis base so we don't need to use the rpms in beta?   Actually, I just checked xcat.org and @neo954 restructured this so we have a devel area here: http://xcat.org/files/xcat/repos/yum/devel/xcat-dep/

I don't know if any of the automation promotion scripts exist that will promote xcat-dep.. so @hu-weihua we need

[2017-07-19 18:16] whowutwut commented on #3498
Talked to Andrew, there's some bug

So the best way to power off is to do a "softoff" until the bug is fixed.  @markprez This means you should be doing `rpower <> softoff` instead of off for now.  As long as we are running 1728 and higher, the softoff timer is reduced to 5 minutes so if the OS hangs, the most it will wait is 5 minutes before cold off is sent.

There's no fix planned for xCAT, but

[2017-07-19 20:01] gurevichmark commented on #3295
This will basically be a "reset" action. When openbmc issue 1952 is implemented, it will reset ip to DHCP along with resetting other BMC attributes.

[2017-07-19 21:43] #3369 closed

[2017-07-20 01:48] immarvin commented on #3466
The verification is covered by daily autotest:
[code]

the internal exception of libvirt is successfully captured and reported by ``rinstall``

close this ticket

[2017-07-20 01:48] #3466 closed

[2017-07-20 01:49] immarvin commented on #3094
The verification is covered by daily autotest:
[code]

the internal exception of libvirt is successfully captured and reported by ``rinstall``

close this ticket

[2017-07-20 01:49] #3094 closed

[2017-07-20 03:39] whowutwut commented on #3473
I'm not sure how this one happened, so let's close this and re-open if we continue to encounter it...

[2017-07-20 03:39] #3473 closed

[2017-07-20 07:31] zet809 commented on #3494
Hi, @whowutwut , have uploaded, it is available at https://xcat.org/files/xcat/xcat-dep/2.x_Linux/beta/xCAT-genesis-base-ppc64-2.13.6-snap201707190550.noarch.rpm

[2017-07-20 08:43] zet809 opened #3513 "The document about build genesis locally with latest RH MN"
As mentioned in #2933
To support mlx4_en driver for genesis base OS newer than Fedora 24, there is no tar ball available to build from.
This task is used to trace the issue that build xcat-genesis-base locally on the RH MN.
We plan to only support the latest RH OS to minimize our maintance effort.

[2017-07-20 09:06] #3430 closed

[2017-07-20 09:12] #3492 closed

[2017-07-20 09:17] #3297 closed

[2017-07-20 09:18] #3490 closed

[2017-07-20 10:06] zet809 commented on #3494
After some search, it seems it is very hard to support newer mlx4-en driver on Fedora26 ppc64. If user want to use it, he either need to reinstall older genesis-base or build genesis-base locally(Opened task #3513 to trace).

[2017-07-20 10:15] zet809 commented on #2933
After some search, there is no suitable mlnx-en driver available for Fedora26 ppc64.
So, for the user have Mlanxo ethernet device to user newer mlx4-en driver, he have to either switch to older xcat-genesis-base when latest xcat is installed or keep using xCAT 2.13.2.
To switch to the older xcat-genesis-base, you have to:

[2017-07-20 11:30] samveen commented on #3494
@whowutwut The title of the ticket contains `genesis should use predictable naming` so I expected that it would be for all platforms,

[2017-07-20 13:02] whowutwut opened #3515 "How to ensure that xCAT code levels are kept in sync in Hierarchy Environment, Doc improvements needed"
How do we ensure that the xCAT MN node image and the xCAT SN images are kept in sync?

It seems like in order to install the service node image, we have to have a xcat-core/xcat-dep repos.  If they are mismatched and incompatible, then the message is not clear as to the real problem.

How do we flag and bubble these issues up to the admin...  For example, a plugin bug message doesn't indicate the

[2017-07-20 13:25] whowutwut commented on #3464
MTM/Serial is not available until first IPL boot, we cannot rely on this, See: https://github.com/openbmc/openbmc/issues/1829

[2017-07-20 13:29] whowutwut commented on #3406
I think this should not block #3464  but the priority implementation should be...

- [ ] Use MTM/Serial, if there
- [ ] Fall back to MAC address (REST, if 00:00:00... then nmap value
- [ ] Ensure MAC address is cleaned up
- [ ] Don't use the IP address -> HEX

[2017-07-20 15:29] cxhong opened #3516 "[HW Support] Coral PDU support"
To support Coral PDU, the xCAT need to provide following functions:
1) discover PDU
2) config PDU with passwordless
3) change dhcp ip address to static ip address
4) change hostname
5) able to power off/on each relay of PDU (there are 3 relay, each relay connect to two compute nodes)
6) query power information
7) Document coral PDU process

[2017-07-20 16:01] gurevichmark commented on #3310
Ran some experiments with `p9euh02` - 10.6.9.254

Some observations:
1. It takes about 1 minute after rebooting BMC before it is pingable
2. It takes about 30 seconds after BMC is pingable before REST service is available
3. The very first login request takes 12 seconds to complete, each subsequent login request takes 0.4 seconds to complete.

[2017-07-20 16:06] gurevichmark commented on #3310
I think this issue can be closed now. I am not seeing "503: Service Unavailable" error anymore.

[2017-07-20 17:08] whowutwut commented on #3310
Interesting. I didn't think they were planning on changing anything from the firmware side... ok let's close

[2017-07-20 18:53] whowutwut opened #3517 "servicenode postscript does not detect errors and bubble up."
Somewhat related to #3150....  but now that the `servicenode` postscript is added to the node definition, xCAT is not able to detect errors when running the servicenode postscript and bubble up the error code...

Recreate error...
1. Provision a service node and make sure it comes up OK...
2.  copycds a new osimage
2. Forget to add the xcat software into the otherpkgdir (intentionally)
3. Provisio

[2017-07-20 18:57] whowutwut commented on #3494
@samveen , good point.

@zet809  Regarding the mlnx4.. .what about having xCAT dep for rh7.4 and leave rh7 alone?    Is this too much change?  Or even temporarily calling it pegas...   this way we won't affect normal users who do not need to change to fedora26...

[2017-07-21 01:22] #3496 closed

[2017-07-21 01:44] daniceexi commented on #3515
Is the command **xcatprobe xcatmn** a good place for this purpose that user run it by manual instead of our xcatd or plugin to check it dynamically.

[2017-07-21 05:23] immarvin commented on #3517
hi @whowutwut , the status "powering-on" after provision indicates there is some problem while the sn02 tried to report its status during provision. I think this is a issue under the scenario that there are multiple nics within same subnet on the provisioned node.

the journal log of xcatd on fs3 uncovered the real problem:
[code]

the information above shows that the ip address of sn02 which conn

[2017-07-21 05:34] immarvin commented on #3517
might need to find a way to associate all the hostname or aliases of all the nics on a node

[2017-07-21 06:03] zet809 commented on #3406
Hi, @whowutwut , we'd like to use this issue to trace all the items related to using BMC MAC address as the unique ID to search BMC node for a host. I had updated description of this issue with more detailed information, pls take a look at.

[2017-07-21 07:54] immarvin commented on #3515
hi @whowutwut @daniceexi , I have another proposal:
While customer invokes the commands which will be forwarded  from MN to SN, if the version of MN does not match the version of SN, a warning like
``Warning: <SN>: my xCAT version "Version 2.13.5 (git commit c66de1d8e0fd979700a71a09fb081a89595xxf7b, built Fri Jun 18 02:08:59 EDT 2017)" does not match the forwarder's xCAT version "Version 2.13.5 (g

[2017-07-21 07:57] chenglch opened #3523 "[dev]Evaluate the performance of DB subroutine in concurrent scenario( analyze the db performance for updateflag or diskless boot up stage)"
Construct node environment with 100, 1000, 5000 nodes ( 2 scenario, has group attribute or just node attribute).
Try to get/set the attribute for the node with multiple (1, 5, 10, 30) requests simultaneously.
Compare the request time with cache process(xcatd: DB Access) and the time without cache process.

The following subroutines will be included in the analysis cases:
- getNodeAttribs
- setNode

[2017-07-21 08:21] immarvin commented on #3319
The steps to recreate:
[code]

this is caused by the shell expansion, ``nd[22-23]`` will be expanded to "nd2" and "nd3" under the working directory while running xCAT commands before it passed to ARGV of xCAT-client bins

Turn off the shell expansion might help. but it will modify the user environment and can not be accepted.  Modify the manpage and Documentation to make user aware of this

[2017-07-21 08:21] immarvin commented on #3319
fixed in https://github.com/xcat2/xcat-core/pull/3524

[2017-07-21 17:03] whowutwut commented on #3421
Closing this, asking folks in the lab to execute this whenever possible.  Issues will be opened if needed.

[2017-07-21 17:03] #3421 closed

[2017-07-21 17:52] whowutwut opened #3526 "Add check for xCAT-genesis based on Fedora 26 in "xcatprobe xcatmn""
While we figure out the details about how to incorporate a new xCAT-genesis base....  One way to ensure we have the correct xCAT-genesis base is to add a check to xcatprobe....

Use Case:

If running on RHEL 7.4 OS, when we run `xcatprobe xcatmn`, print an error if the xCAT-genesis base for ppc64le is NOT at the Fedora 26 beta level.

[2017-07-21 17:54] whowutwut commented on #3526
@gurevichmark If you have some time to quickly implement this, feel free to take it...

@zet809 FYI.

The files are here:  http://xcat.org/files/xcat/xcat-dep/2.x_Linux/beta/
[code]
Problem here is that we can't tell from the name..... investigating...

[2017-07-21 17:56] whowutwut commented on #3526
No way to tell from query...
[code]

[2017-07-21 20:53] gurevichmark commented on #3483
The list of testcases looks good to me.

[2017-07-23 14:03] daniceexi commented on #3526
I am a little concern of check the version of genesis base on the version of the OS of xCAT MN. xCAT genesis is used for CN.

[2017-07-23 15:49] whowutwut commented on #3526
Isn't the purpose of the probe to try to determine problem in configuration? It can be a warning instead of error..... We can also lump together multiple checks before we come up with the conclusion for the probe check

Another one is to look for openbmc mgt defined in the compute nodes.  This means at least p9 or newer.   But none of this is fool proof because if no compute nodes are defined yet,

[2017-07-24 01:18] daniceexi commented on #3526
I understand your points. And I agree we must do something to reduce the potential error especially that caused by the configuration error. This is why we added the story to precheck the configuration of discovery base on the failures that we encountered or customer's.

[2017-07-24 04:06] samveen commented on #3526
Maybe add in a check against the rpm macro `%dist` ?

[2017-07-24 05:36] hu-weihua commented on #3433
@neo954 , could you list your test plan in the comment, you have delayed than origin plan one week. One more thing, please discuss your test plan with @bybai first before you paste you plan in comment. thanks

[2017-07-24 05:41] hu-weihua commented on #3487
@neo954, could you list your test plan in the comment, you have delayed than origin plan one week. One more thing, please discuss your test plan with @robin2008  first before you paste you plan in comment. thanks

[2017-07-24 06:22] neo954 commented on #3478
The following test cases will be added.

    enable_cuda_diskfull_rhels
    enable_cuda_diskless_rhels
    enable_cuda_diskfull_ubuntu
    enable_cuda_diskless_ubuntu
    update_cuda_diskfull_rhels

[2017-07-24 06:38] zet809 commented on #3504
Hi, @samveen , will you pls try 'boot' instead of 'reboot'?

[2017-07-24 06:55] zet809 commented on #3494
Hi, @whowutwut , for devel version of xcat-dep, I think it is OK to have a single pegas-ppc64le or rh7.4-pegas repo, but I don't think we shall include more that 1 genesis-base in xcat-dep tar ball for release.
So, currently, we may need to provide a link that can download older version of xCAT-genesis-base-ppc64 based on Fedora 24. What is your idea?

[2017-07-24 07:17] #3382 closed

[2017-07-24 07:26] bybai commented on #3072
As discussion in meeting, this is not need to manually test, close this task.

[2017-07-24 07:26] #3072 closed

[2017-07-24 07:56] samveen commented on #3504
@zet809 I use the chain `runcmd=bmcsetup,runimage=register_inventory,reboot,shell`. I need the reboot so that the server reboots and goes back to `shell` (back into genesis), otherwise, the nodes keep sending discovery packets to the server, overwriting the `discoverydata.method` to `undef` (due to bugs in `doxcat` that cause multiple instances of `doxcat` to spawn.).

From what I can make out on

[2017-07-24 09:01] zet809 commented on #3504
hi, @samveen , from my point of view, if the node go into runcmd, it won't send discovery package any more.
And, you shall not use reboot or boot in the chain attribute.After runimage, the genesis will go to shell automatically. If reboot/boot is used, it will cause the host boot into harddisk OS if there is OS installed.

[2017-07-24 09:10] bybai commented on #3426
Hi @cxhong , Could you review the pull request #3528?
This pull request is for `configonie` to replace `hardeths`, could you have a try and give me more comments?

[2017-07-24 09:29] samveen commented on #3504
@zet809 That is why I want to understand why `reboot` was removed, because from what I see in `xCAT-2.9.1`, reboot just forces a reboot back into genesis.

[2017-07-24 15:15] gurevichmark commented on #3339
Implemented query function for the `rspconfig` command under PR #3530
Another pull request will be added to implement attribute setting for `rspconfig` command.

[2017-07-24 19:44] kcgthb opened #3532 "addkcmdline for deployed kernel only?"
Hi!

I'm wondering if there's a way to specify kernel arguments that would be **only** used for the deployed kernel after installation, but not for the installation kernel itself.

As far as I understand things, the `addkcmdline` field in the `linuximage` or `bootparms` tables are used to pass arguments to the deployment kernel, and can also be used after installation for the deployed kernel if pr

[2017-07-25 02:08] immarvin commented on #3532
hi @kcgthb , the kernel options in ``addkcmdline`` with prefix ``R::`` will apply to the provisioned kernel only.

[2017-07-25 07:30] zet809 commented on #3406
Hi, @whowutwut , do you think we can close this task?

[2017-07-25 07:49] zet809 commented on #3464
hi, @whowutwut , yes we have running a rest call to BMC to get MTMS, seems the enumerate method can get both MAC and MTMS info if there is. In this case, I agree with you that we can use the MAC address can show in the return information of the rest call.

[2017-07-25 08:20] chenglch commented on #3523
I paste some case code and the some result as the comment, I will change this comment if I make some progress for the performance profiling. Currently, 6 cpu cores are used in the test environment.
`GET 6` means running get method to access database table with 6 processes simultaneously.
`SET 6` means running set method to access database table with 6 processes simultaneously.

Currently, the perf

[2017-07-25 09:19] zet809 commented on #3471
Close this task as all the ITC node are up and running.

[2017-07-25 09:19] #3471 closed

[2017-07-25 09:21] immarvin commented on #3408
looked into the code logic of doxcat and dodiscovery , from the MN log @whowutwut pasted,
[code]

interesting that the ``findme`` request is processed 4 times, but ``Jul  5 20:42:12 fs3 xcat[112335]: xcat.discovery.nodediscover: mid05tor12cn04 has been discovered`` only appears once. After this log entry, the ``restart`` response will be sent to discovering compute nodes to terminate the ``dodisco

[2017-07-25 10:56] samveen commented on #2856
I found that a `local-repository.tmpl` (used by `addsiteyum`) *is* created, but instead of being stored in `/install/postscripts/repos/centos7.3/$ARCH` as expected, it is being stored in the  ``/install/centos7.3/$ARCH/`

[2017-07-25 13:29] daniceexi commented on #3408
There should be a retry in the dodiscovery, we need to take a look of the try period.

[2017-07-25 13:57] cxhong opened #3534 "Support user defined authorization for PDU"
PDU provides default username and password for login access.  xCAT PDU node definition will provide username and password if user changed/added New PDU authorization.  Currently,  PDU didn't support  this:
[code]
Same as SNMP v3,  besides default SNMPv3 setting, xCAT didn't store user defined authorization.

[2017-07-25 17:52] kcgthb opened #3535 "rinstall/winstall -c doesn't open console"
Hi!

I'd like to report that `rinstall -c <node>` or `winstall -c <noderang>` don't seem to open any console once the provision starts, contrary to the man pages.

Example:
[code]
It's immediately back to the prompt, no console is opened. `rcons` and `wcons` work correctly when invoked individually.

[2017-07-25 18:21] kcgthb commented on #3532
Oh ok, thanks, I thought they would be used for both the installation and provisioned kernel. Maybe it would be worth clarifying the documentation?

Thanks!

[2017-07-26 01:02] whowutwut commented on #3406
@cxhong and I plan to do some test with this tomorrow. If all looks ok will close out

[2017-07-26 03:07] bybai commented on #3426
fixed in pull request #3528

[2017-07-26 03:07] immarvin commented on #3532
hi @kcgthb , updated the description, please review https://github.com/xcat2/xcat-core/pull/3536

[2017-07-26 06:50] robin2008 commented on #2859
Now new distro will use systemd,  there is no restart, but stop and start.
In stop action, all daemons are killed by systemd.

[2017-07-26 06:54] zet809 commented on #3204
Hi, @gurevichmark
For item2, from the IPMI specification, the output "boot override inactive" indicate the returned data is invalid or locked. And `rsetboot stat` will return what option is enabled right now, if error got, it will output "boot override inactive".
[code]
For item 3, if the `rsetboot state` doesn't return "Network", it shall boot from harddisk if there is OS installed. For the issue

[2017-07-26 07:51] zet809 commented on #3460
Fixed in #3540

[2017-07-26 08:24] bybai commented on #3426
From @cxhong , she verified this enhancements, I will closed it.

I verified this PR on one of cumulus switch
[code]
looks good. I will merge the code

[2017-07-26 08:24] #3426 closed

[2017-07-26 08:31] immarvin commented on #3408
from the clusters.log on MN, the xcat.discovery.switch spent about 20 seconds, most of the time was spent on the get switch macmap for 1st time(no cache), before it finished and sent out "discovered" request, any incoming ``findme`` request will be saved and processed later.  On the CN side, after dodiscovery sent out the ``findme`` request, it will sleep 5 seconds then check the existence of "/re

[2017-07-26 08:38] immarvin commented on #3408
a question left is that from the clusters.log slice provided by @whowutwut , we did not observed any log entry like ``fs3 xcat[13508]: Failed to notify 172.20.253.103 that it's actually mid05tor12cn13.`` or  ``fs3 xcat[14577]: xcat.discovery.nodediscover: mid05tor12cn02 has been discovered`` for the following 3 requests, have you applied any grep filtering against the clusters.log? @whowutwut

[2017-07-26 09:28] immarvin commented on #3408
2 proposal on this:

1.  add a while loop in ``dodiscovery`` on checking the existence of '/restart' after send out the ``findme`` request before  next retry. this is better than simply increasing the sleep time in the current code.

2. enhance the request cache mechanism for the incoming sequential discovery requests, only cache the requests with different source ip with the request in processing

[2017-07-26 09:36] immarvin commented on #3517
hi @whowutwut , since the network plan has been changed  and there won't be 2 NICs on SN in the provision network anymore, can we change the priority to "LOW"?

[2017-07-26 09:52] zet809 commented on #3408
Hi, @immarvin , the code in `dodiscovery` will checking the existence of '/restart' before send out another `findme` request.
I like the 2nd proposal.

[2017-07-26 10:20] immarvin commented on #3408
hi @whowutwut , the current logic is
[code]

maybe we can change it to
[code]

[2017-07-26 14:59] whowutwut opened #3542 "Create test cases to ensure that CSM required info is not removed from /opt/xcat/xcatinfo"
The CSM software has a requirement on xCAT to leverage information that we save into the `/opt/xcat/xcatinfo` file,

Currently the following keywords are required:

### Diskless
* NODE
* IMAGENAME
* IMAGEUUID
* SERVICEGROUP

### Diskful
* NODE
* SERVICEGROUP

Need to create a set of testcases to ensure that the following is covered:
1. Values are not regressed and removed from the code base
2. Upd

[2017-07-26 15:00] whowutwut commented on #3542
Assign to @hu-weihua  , feel free to delegate ..

[2017-07-26 15:10] whowutwut commented on #3408
@immarvin Yes, when I was searching the logs, i used `grep xcat.discovery <log file>`.  Sorry should have put that in the post...    That was a logger message name that was added a few releases back to try and clean up the discovery logs.  Is something missing with that tag?

If I understand the proposal correctly, I think what we want to do is to give xCAT a chance to discover the node and react

[2017-07-26 15:49] whowutwut commented on #3526
@samveen  Thanks! let me try that out... or @zet809  can you try it out if i can't get to it today...

@cxhong  hit this problem when running through the E2E and the result is that the naming of the devices in `lspci` and genesis discovery won't match RHEL 7.4 ...

[2017-07-26 19:01] whowutwut opened #3543 "Need to fully understand rcons in openbmc environment"
There's something that we don't quite understand with conserver and how it interacts with the openbmc ssh port...   I need someone to really understand if we are doing things correctly and when we need to re-run makeconservercf ....

With OpenBMC ssh port to expose the console, we should be able to have multiple console sessions opened.   Here are some snips of what I have seen some issues with bu

[2017-07-26 21:12] cxhong opened #3544 "Failed to install otherpkgs to service node"
I am trying to provision service node with pegas images
[code]

the node provisioned, but status failed with

[code]
I manually used updatenode command,  confignics return 0, but otherpkgs returned 1.
[code]

[2017-07-26 21:47] whowutwut commented on #3544
Related to  #3517 where servicenode postscripts does not bubble up the correct error... except here we are not dealing with multiple NICS.   The `servicenode` postscript does not install xCAT on the SN due to some other errors, maybe yum... and the error isn't reported up.

 xCAT is not installed on sn02...

[code]

Running updatenode to run the `servicenode` postscripts:
[code]

So my point here

[2017-07-27 03:01] immarvin commented on #3544
hi @whowutwut , the installation of xCATsn is in otherpkgs instead of servicenode. the ``servicenode`` in postscript is run before 1st reboot, the ``otherpkgs `` in postbootscript os run during the 1st reboot.  From the environment I can find that``otherpkgs `` failed and the node status is "failed", so I do not think this is a problem in ``servicenode`` script.

[2017-07-27 03:18] immarvin commented on #3544
The root cause of the installation failure of xCATsn by ``otherpkgs`` is that someone replaced xCAT-genesis-base-ppc64-2.13.2-snap201702150049.noarch.rpm with  xCAT-genesis-base-ppc64-2.13.6-snap201707190550.noarch.rpm under " /install/post/otherpkgs/rhels7.4-ea3/ppc64le/xcat/xcat-dep/r" , but did not replace the symbol links under the sub directories, and did not update the repo under "os/arch".

[2017-07-27 04:49] zet809 commented on #3504
Can you show me the output of 'nodeset <node> reboot' with xCAT-2.9.1, from the code, I don't think it works.

[2017-07-27 05:24] samveen commented on #3504
I am unable to set the state with `nodeset`
[code]
However, the value behaves as expected when in the `chain` attribute for a node:
[code]

[2017-07-27 05:57] robin2008 commented on #3474
As most of xCAT CLI does not have such pain, to reduce the impact to current customer usage. Better to use an on-demand option to enable it.

**New design:**
Highlevel:
1, Every response object will be rendered with the name of running Mn or Sn.
2, Each xCAT Plugin could have the capability to disable it when it does not want to show the name.
3, In CLI side, to show the server name prefix when gi

[2017-07-27 05:58] zet809 commented on #3513
Before the build process is available,  the steps below can be used to install xCAT-genesis-base based on Fedora 24 with mlx-en driver verson 3.2-1.0.1.1.
[code]

[2017-07-27 08:02] chenglch commented on #3523
I encountered the error like below when I adding some cases to evaluate the performance for set/getAttributes subroutines.
[code]
This is a same issue with #2529, as the code of xCAT is unreliable in most of plugins and library( without error checking), I plan to add some retry mechanism internally.

[2017-07-27 08:24] zet809 commented on #3445
It seems to be the firmware implementation is not as we expected for other BMCs. For system X, OpenPOWER, after set BMC ip/net/mask, the new value can be read immediately even through it is not activated yet. I'd like to change to low priority. What is your idea @whowutwut ?

[2017-07-27 08:25] zet809 commented on #2933
I'd like to close this task since #3513 had been opened to trace building genesis-base on latest RH on MN. And the package had been uploaded to GSA. What do you think, @whowutwut ?

[2017-07-27 08:36] robin2008 commented on #3474
Fix it by PR #3547.
And it requires test case to cover available CLI,  we need another PR for the test cases.

[2017-07-27 08:44] neo954 opened #3549 "Failed to connect to compute node via ssh, even if the nodestat shows sshd."
The problem can be recreated with the latest 2.13.5 GA build.

Here is a piece of `bash` script to recreate the problem

    COMPUTE_NODE="c910f03c01p10"
    OSIMAGE_NAME="rhels7.3-ppc64le-netboot-compute"

    makedhcp -n
    rinstall "${COMPUTE_NODE}" "osimage=${OSIMAGE_NAME}"

    NETBOOT_TIMEOUT=600
    declare -i WAIT=0

    while sleep 5
    do
            (( WAIT += 5 ))
            nodesta

[2017-07-27 08:45] neo954 commented on #3549
The proper behavior I expect is that the compute node can be connected via ssh immediately after the state of the node changed to `sshd`.

[2017-07-27 09:03] robin2008 commented on #2859
For upgrade,  I would suggest to restart xCAT fully,  we can document that customer need to pay attention to the running jobs before he upgrade xCAT.

Then we can kill xcatd and its children safely.

[2017-07-27 09:03] neo954 commented on #3549
Some time, I get `Permission denied`.

    c910f03c01p10: Permission denied (publickey,gssapi-keyex,gssapi-with-mic,password).

[2017-07-27 09:08] neo954 commented on #3549
Reduce the sleep time will increase the chance of failing. For a fast recreation, consider reduce the sleep time to `1` or `0.01`.

[2017-07-27 13:19] cxhong commented on #3544
Thanks @immarvin .  I will close this issue.

[2017-07-27 13:19] #3544 closed

[2017-07-27 14:23] gurevichmark commented on #3204
Based on the interlock conversation with @zet809 yesterday:
1. Still need to investigate boot order changes after the xCAT upgrade. However, one thing to note is that by default `rsetboot` sets the boot order only for the next provision. After the provision is done, boot order is reset to default. `rsetboot -p` can be used to set a persistent boot order.

2. `boot override inactive` message is act

[2017-07-27 14:26] gurevichmark commented on #3204
@zet809 Is there a way to query what the "default" boot order is for each machine ? My thinking is that instead of displaying `BIOS default` message from `rsetboot stat` we can display what the actual setting is for the default ?

[2017-07-27 19:48] gurevichmark commented on #3273
Implemented in Pull Request #3550

[2017-07-27 19:51] gurevichmark commented on #3310
Reopening. Starting to see this issue again.
It appears that the first time login is attempted by xCAT command "503: Service Unavailable" is returned. Subsequent login attempt is fine.
This problem does not happen with login attempt when using a `curl` command. It take some time to complete, but eventually succeeds and "503: Service Unavailable" is never returned.

[2017-07-27 22:56] whowutwut commented on #2933
@zet809 Sure, we can close this if tracking the remaining items in another issue.

[2017-07-27 22:56] #2933 closed

[2017-07-27 23:01] whowutwut commented on #3494
@cxhong  I think the current versions of xCAT-genesis-base that we are testing with have the new predictable naming,   Can you confirm and if so, let's close this out.

Opening another issue to track the x86_64 @samveen

[2017-07-27 23:02] whowutwut opened #3551 "Update xCAT-Genesis-base across the product to use version based on Fedora26"
This track the creation of xCAT-genesis-base from discussions https://github.com/xcat2/xcat-core/issues/3494

Target 2.13.6?

- [x] ppc64 - Created a version to support P9 servers https://github.com/xcat2/xcat-core/issues/2933
    - does not include mlnx drivers and i40e, cannot find.. (https://github.com/xcat2/xcat-core/pull/3514)
- [ ] x86_64 - @samveen requested that we update both to Fedora26

[2017-07-27 23:03] whowutwut commented on #3551
@immarvin re-built a version of xcat-dep yesterday:

https://xcat.org/files/xcat/xcat-dep/2.x_Ubuntu/xcat-dep-ubuntu-201707270619.tar.bz2
https://xcat.org/files/xcat/xcat-dep/2.x_Linux/xcat-dep-201707270523.tar.bz2

[2017-07-27 23:06] whowutwut commented on #3551
@immarvin Is this version reflected in
the public repo?
   * http://xcat.org/files/xcat/repos/yum/xcat-dep/

Or the devel one?
 * http://xcat.org/files/xcat/repos/yum/devel/xcat-dep/

@neo954 made changes to create these repos...

[2017-07-27 23:20] cxhong commented on #3544
yeh, I rediscovered and provisioned SN02 with today's Development build and new xcat-dep.  worked great.

[2017-07-28 01:28] whowutwut opened #3552 "xCAT Logging is inconsistent between MN and SN"
The logs are inconsistent in where we are storing them in the MN and SN.  This is just an example and we should ensure that other logs are correctly placed.

On the MN, the discovery logs appear in `/var/log/xcat/cluster.log`

[code]

On SN,  they are in `/var/log/messages`  .

[code]

[2017-07-28 01:38] whowutwut commented on #3494
Verified in the discoverydata table that we are getting the predictable naming:
[code]

[2017-07-28 01:38] #3494 closed

[2017-07-28 01:40] whowutwut commented on #3406
Verified on this build:
[code]

Looks good!

[code]

[2017-07-28 01:40] #3406 closed

[2017-07-28 01:42] whowutwut commented on #3464
@xuweibj  I assigned this to you since you worked on the MAC implementation in #3406, I think we can close this one out , seems like a duplicate... ?

[2017-07-28 01:48] whowutwut commented on #3526
Trying on a spec file:
[code]

Results in:
[code]

This is on RHEL 7.0 x86_64.. so doesn't really have the effect that we want...  @zet809 can you ping me your fedora26 build machine?

[2017-07-28 02:43] immarvin commented on #3551
hi @whowutwut , the version reflected in http://xcat.org/files/xcat/repos/yum/xcat-dep/

[2017-07-28 02:43] whowutwut commented on #3544
I still think that it would be wise to have some sort of output in the `servicenode` postscript that either confirms that xCAT-sn was installed OK or prints an error......   and we have something in the log...

[2017-07-28 02:46] whowutwut commented on #3517
@immarvin not sure why it was the network that caused the problem?   Do you mean that the xCAT-sn software was successfully installed? or it did not install because of connection issues and the real problem is the connection issue?

In any case, whatever the reason that causes the rpms to not get installed on the node, shouldn't we have the `servicenode` postscript print either a success message o

[2017-07-28 02:47] immarvin commented on #3544
``servicenode`` script is run before the xCATsn is installed, so it is impossible to check this

[2017-07-28 02:47] whowutwut commented on #3517
If we do step 3

but we don't have a complicated networking, the servicenode postscript will return non zero?

[2017-07-28 03:01] immarvin commented on #3517
the xCATsn package is installed by ``otherpkgs`` which is a **postbootscript**,  ``servicenode`` is a **postscript** .  **postbootscript** is run at the end of os provision but before the 1st reboot, **postbootscript** is run at the end of 1st reboot, so there is no chance for ``servicenode`` to check the installation of xCATsn. in fact ``servicenode`` script obtained some SSL certs, ssh keys and

[2017-07-28 03:07] immarvin commented on #3517
``not sure why it was the network that caused the problem? `` ,  the problem is updateflag. according to the xcatd code logic, when the cn report its status with ``updateflag``, a TCP socket will be established to MN, then MN will perform a reverse DNS lookup against the source ip address of the socket to identify which node is reporting its status. IF there are 2 NICs on CN inside the same subnet

[2017-07-28 05:26] #3532 closed

[2017-07-28 06:05] xuweibj opened #3554 "Enhance xcatprobe discovery precheck"
* [x] 1. Check genesis files
        1.1 If there is NIC with lable ``noboot`` in site table (dhcpinterface), check whether has files for that ip range under tftpdir. If has, show warning message.
        1.2 Check genesis packages Version, if build in environment ".fc26", print msg.
        1.3 Check time of initrd file whether later than package install. If not, remind to run ``mknb``.
* [x] 2.

[2017-07-28 06:27] zet809 opened #3555 "[FVT] New OS support for Redhat7.4"
The RH7.4 GA ISO are available on login node. Pls go through the new OS checklist for it.

Please reference the template here: https://w3-connections.ibm.com/wikis/home?lang=en#!/wiki/xCAT/page/New%20OS%20Support%20Checklists

[2017-07-28 06:36] zet809 commented on #3526
Hi, @whowutwut , the build server for Fedora 26 is 10.3.5.3
I had added the info above to the xCAT-genesis-base.spec file within PR #3514
The rpm information looks like this right now:
[code]

[2017-07-28 07:04] zet809 commented on #3526
Since the genesis-base will be deployed on CN, I suggest we check whether genesis-base is based on Fedora 26 in `xcatprobe discovery` subcommand. What is your idea?
Task #3554 planed to include this checking.

[2017-07-28 07:18] zet809 commented on #3204
No, if the boot order is set to `BIOS default`, it can not get what the real order is. It need to be check in BIOS.

[2017-07-28 08:10] zet809 commented on #3551
Hi, @whowutwut , no newer mlx-en driver available for Fedora newer than Fedora 24.

[2017-07-28 08:13] zet809 commented on #3504
Will you pls boot the node up and have it run into genesis shell?
Then, let it go through the chain and show me the output from rcons?

[2017-07-28 08:18] junxiawang commented on #3486
I will use boston02  to do test

[2017-07-31 03:25] hu-weihua commented on #3433
@neo954, TWO weeks have passed of this sprint. You still didn't update anything for this task. Could you update what is you plan for this task?

[2017-07-31 03:25] hu-weihua commented on #3487
@neo954, TWO weeks have passed of this sprint. You still didn't update anything for this task. Could you update what is you plan for this task?

[2017-07-31 03:26] hu-weihua commented on #3488
@neo954, TWO weeks have passed of this sprint. You still didn't update anything for this task. Could you update what is you plan for this task?

[2017-07-31 04:21] samveen commented on #3551
The newer mlx-en driver are be available on RHEL/Centos 7.x. Why not use that as base for genesis? (Centos instead of RHEL to bypass potential licensing issues).

[2017-07-31 04:53] neo954 commented on #3488
Will add one test case to testing `confignetwork` against non-install-NIC scenario.

[2017-07-31 06:11] zet809 commented on #3464
Hi, @whowutwut , you are right that this issue is duplicated with #3406, so I close this one.

[2017-07-31 06:11] #3464 closed

[2017-07-31 06:14] robin2008 commented on #3487
Disjoint mode Design is already finalized. The test case need to cover below scenario with SNs at least:

sharedtftp=0, disjointdhcps=1 :
   - w/ dhcpserver/dynamic range defined in networks
   - w/o dhcpserver/dynamic range defined in networks
dhcpserver will handled whole node range, and other sn will handle its own children.

 sharedtftp=0, disjointdhcps=0:
The nodeset request will be dispatche