[2016-11-18 00:53] ralphbellofatto commented on #2167
I believe the problem  is in this file:

/install/postscripts/xcatpostinit1.install

which is part of the xcat-core rpm.

for a temporary fix made the following change in /install/postscripts/xcatpostinit1.install,

change ALL occurances of RUNBOOTSCRIPT with RUNBOOTSCRIPTS
And change this line to:
[code]

It was very important to put the extra ' characters in the "'yes'" otherwise it would not co

[2016-11-18 02:19] chudegao commented on #2161
Thanks @immarvin , @neo954 . Good analysis and I think it make sense. As it's uncommon negative case. I think we can keep current design.

[2016-11-18 03:02] bybai commented on #2112
Hi @kcgthb ,
Let me explain the whole thing first:

The disable in networks table means comment out that line.
In your example,  if "external" network is disable, the same meaning with "external" is not exist in networks table. How does makehosts find "external" domain?

If the node ip network is not defined in the networks table, makehosts will append domain from site table for this node. That is

[2016-11-18 03:05] bybai commented on #2025
Hi @whowutwut ,
I will bring it back, thanks.

[2016-11-18 03:35] daniceexi commented on #2161
@immarvin do we want to make persistent active of dhclient on CN as default setting?

[2016-11-18 04:31] immarvin commented on #2161
hi @daniceexi , I think we'd better keep the default behavior of the operating system.

one problem I can see to keep persistent active:

if a machine has a batch of NICs, but the application only need several nics up. If we make dhclient persistent, all the unused NICs will keep on sending DHCP DISCOVER broadcasts.  In a large cluster, this might be a problem.

[2016-11-18 06:11] immarvin commented on #2161
hi @chudegao , if you are ok with the ticket, please close it

[2016-11-18 09:05] immarvin commented on #2167
fixed in https://github.com/xcat2/xcat-core/pull/2169

[2016-11-18 12:27] whowutwut commented on #2128
@pdlun92 can you work on this? We have limited access to the machines but we should  verify if we have the correct driver in genesis or if we were in some error mode on fs4...and if not try to add and get time on the machine to test for 2.13..

[2016-11-18 14:12] whowutwut commented on #1738
Who is working on this? And can we get an estimated date when it will be implemented?  Last comment was 1 month ago. @daniceexi

[2016-11-18 14:50] whowutwut opened #2170 "Investigate and understand the scaling properties of the httpd server when transfering the diskless rootimg.gz file"

[2016-11-18 16:21] whowutwut commented on #2148
Sorry, I thought I had replied to this.  The change was merged in and any time now, if you pull it, you should have the new version. (if set to development repo)

[2016-11-18 16:22] whowutwut commented on #1905
@daniceexi  Seems like we are not planning anytime soon to adopt a new naming convention for the xCAT rpms.  Jarrod is able to build his versions based on the code change with the new convention, so should we just close this issue?

[2016-11-18 16:47] whowutwut commented on #976
Unassign myself, i don't have time to do this Issue.

[2016-11-18 17:15] #2148 closed

[2016-11-18 17:16] markprez commented on #2148
We can close this.

[2016-11-18 19:52] whowutwut commented on #532
Is there any documentation that we  have to assist users in installing Ubuntu with out public mirror?

[2016-11-18 20:09] whowutwut commented on #2083
While I may tend to agree, but I think in our discovery scripts, we are cleaning everything out and starting again...   since FVT taking this environment right now, I  don't know if i can re-create it any time soon...

[2016-11-18 20:18] pdlun92 commented on #2128
I will verify the driver version on genesis and talk to PCM team about borrowing time to verify

[2016-11-19 00:44] kcgthb commented on #2112
Hi @bybai

Thanks for the explanation, I understand the mechanism. But since the "external" network is disabled, shouldn't the generation of the `/etc/hosts` entries be completely disabled for that network?

Because in the current situation the generated entry is wrong (it's not in the correct domain, as the `10.0.2.x` IP range is not in the `default` domain)

I understand that an IP may be set in

[2016-11-19 12:35] immarvin opened #2174 "[DEV] several issues on generating grub.cfg-xxx when netboot="grub2""
1. when node.installnic="xx-xx-xx-xx-xx-xx", there is no /tftpboot/boot/grub2/grub.cfg-01-xx-xx-xx-xx-xx-xx genrated.

2. for the grub config file  " /tftpboot/boot/grub2/grub.cfg-<node ip in hex>" , the characters in <node ip in hex> should be in upper case
[code]

[2016-11-19 12:50] immarvin commented on #2174
fixed in https://github.com/xcat2/xcat-core/pull/2175

[2016-11-19 12:50] immarvin commented on #1502
fixed in https://github.com/xcat2/xcat-core/pull/2175

[2016-11-19 12:55] immarvin commented on #1502
hi @samveen , with the fix in https://github.com/xcat2/xcat-core/pull/2175,  when the node definition is like this:
[code]

[2016-11-19 16:44] ralphbellofatto opened #2176 "redhat 7.3 diskful install xcatprobe osdeploy reports failure."
Using the example setup for rh7.3 supplied by xcat when we perform the copycds we get the following failure:

[code]

We did the following to set this up.

[code]

[code]

and this shows:
[code]

attached are the log file, the output of the xcatprobe and the console log for this event:
[rh73-prov-err.zip](https://github.com/xcat2/xcat-core/files/601569/rh73-prov-err.zip)

[2016-11-19 19:28] ralphbellofatto opened #2177 "xcatprobe osdeploy fails to report postscript file errors..."
xcatprobe osdeploy fails to show error message from postscripts and postbootscripts when file does not exist..

[code]

[code]

[code]

[code]

osprobe reports:
[code]

We see this in the /var/log/xcat/xcat.log file

[code]

but in the output of the xcatprobe osdepoly we don't se any indication of this problem.

[code]

nowhere in this listing does the reason for the failure reported by lsdef
[cod

[2016-11-21 03:04] #2174 closed

[2016-11-21 03:15] immarvin commented on #2025
fixed in https://github.com/xcat2/xcat-core/pull/2178

[2016-11-21 05:20] daniceexi commented on #1905
@whowutwut do we see the goodness to adopt the change that include git ID in the rpm name?

[2016-11-21 08:26] xuweibj commented on #2176
Hi @ralphbellofatto ,

In our code, considers CN's restart as the start of os provision. If there is no log of restart, will show the error message ``Without provision process during rollback time window``.
And now only ``rpower``, ``rnetboot`` and ``rinstall`` are considered as restart.
But here use ``xdsh c460login02 reboot`` to restart CN, so did not show correct message.

We will discuss how t

[2016-11-21 08:30] xuweibj commented on #2177
Hi @ralphbellofatto ,

This issue is similar with #2176 , in our code, did not get the start of os provision, so show error message ``Without provision process during rollback time window``.

If get the start of provision, the error message will show the last stage ``running_postbootscripts``.

We will discuss how to solve it.

[2016-11-21 10:59] tingtli commented on #1738
@whowutwut
To fix this issue , we need to resolve 2 problems.
1. Show "Not run" cases in the title of notification mail. This include following code change in xcatjktest before mn installation
    1.1 Get xcat-core tar ball and extract it.
    1.2 Get xCAT-test package and extract it to get the bundle files for each os
    1.3 Put bundle files in specified directory and let the upper framework rea

[2016-11-21 13:20] ralphbellofatto commented on #2176
What is the command for a compute node "restart"??

[2016-11-21 13:26] ralphbellofatto commented on #2177
well, yes it is similar to https://github.com/xcat2/xcat-core/issues/2176,

However what we are reporting here is that we had a failure in the boot sequence that is reported back to xcat as:
[code]

the osimage was miss-configured and the postscripts and postbootscripts did not execute.
However the xcat.log file showed the fact that it could not process the postscripts.

[code]

Yet the `xcatprobe

[2016-11-21 13:42] junxiawang commented on #1137
pull requst 2180 and tingting please help review

[2016-11-21 21:01] pdlun92 commented on #1849
@zet809 can someone in china look in to this with POK vacation coming up?  Thanks

[2016-11-21 21:07] whowutwut commented on #1738
@tingtli  Yes, I think that is good.    I have been asking for larger tasks to be broken down into smaller pieces so that we can move the overall task to completion.  As we have time to work on some of the pieces, we can associate the pull requests to the issue.  Each day we can see the changes in the Jenkins report, then modify as needed.

[2016-11-22 01:13] xuweibj commented on #2176
@ralphbellofatto , sorry maybe I did not explain well.

In our environment, after ``nodeset`` command, we usually use ``rpower  c460login02 boot`` or ``rpower c460login02 reset`` on MN to restart CN. If the arch of CN is ppc64, use ``rnetboot``.

In this case, you used ``xdsh c460login02 reboot``, so I just want to know whether there is other command you usually use.

[2016-11-22 01:26] xuweibj commented on #2177
@ralphbellofatto , yes this is not same with #2176, but if that issue is fixed, ``xcatprobe osdeploy`` will show the error message like this:

[code]
It will show the last stage, for this case means it had started to run postbootscripts, but not completed.
I think maybe the message above is not enough too, but better than now.

[2016-11-22 02:11] tingtli commented on #1936
I have verified with the 2.12.4 build on rhels7.3 ppc64le
[code]
This is what i did
1. install xcat 2.12.4 and config mn
2. genimage rhels7.3-ppc64le-netboot-compute
3. During genimage, press ctrl+c
4. execute grep -i install /proc/mounts and get nothing

[code]
@immarvin  Is this verification ok? Let me know your comments.

[2016-11-22 02:17] tingtli commented on #1770
@junxiawang  will help verify this bug.

[2016-11-22 02:17] tingtli commented on #1801
@junxiawang will you please help verify this bug

[2016-11-22 02:21] tingtli commented on #1963
@caomengmeng When you run os provision verifications on baremetal machine, would you please verify this bug? Thanks!

[2016-11-22 02:51] #1137 closed

[2016-11-22 02:53] junxiawang commented on #1137
Code modify has been merged
https://github.com/xcat2/xcat-core/pull/2180
modify switchdiscovery cases for issue 1137 #2180

[2016-11-22 03:09] junxiawang opened #2181 "[fvt]2.13 testcases releating to statelite osimage need to do the environment precheck,if the statelite osimage has already been in test environment"
env:all os
build:[root@c910f02c08p08 testcase]# lsxcatd -v
Version 2.13 (git commit 6653dfdc6acc292cf7ccd8e053263009a6ea960a, built Mon Nov 21 06:15:37 EST 2016)
[root@c910f02c08p08 testcase]#
How to reproduce:
[code]

[2016-11-22 03:32] hu-weihua commented on #2176
@ralphbellofatto ,  when we designed the ``osdeploy``, we assumed customer hope to diagnose what happened when they deploy brand new server.  So in this case the only way they can use to boot server is using ``xCAT`` remote control command ``rpower`` (except boot server manually or they can do remote control by leveraging other tools except ``xCAT``, these two scenarios we can't support. at least

[2016-11-22 05:54] penguhyang opened #2182 "redhat7.2 stateless provision lack some of logs about xcatroot"
lack of logs compare with redhat6.7
[code]

[2016-11-22 05:59] hu-weihua commented on #2177
@ralphbellofatto , this issue exposes 2 issues of ``osdelpoy``. @xuweibj has mentioned above.

One is same as issue #2176, we missed  boot method ``xdsh <node> reboot``.

Another is we didn't check the return value of every ``script``, no matter ``postscript`` or ``postbootscript``.  We will take it into account and refine our process next.  Any other comments are welcome. thanks.

[2016-11-22 06:16] immarvin commented on #1890
fixed in https://github.com/xcat2/xcat-core/pull/2168

[2016-11-22 06:35] junxiawang opened #2183 "[fvt]2.13 mypostscript syntax error in subroutine run_ps on sles11.4"
Env:sles11.4
c910f02c01p14:~ # uname -a
Linux c910f02c01p14 3.0.101-63-ppc64 #1 SMP Tue Jun 23 16:02:31 UTC 2015 (4b89d0c) ppc64 ppc64 ppc64 GNU/Linux

Build:c910f02c01p14:~ # lsxcatd -v
Version 2.13 (git commit 6653dfdc6acc292cf7ccd8e053263009a6ea960a, built Mon Nov 21 06:15:37 EST 2016)

How to reproduce:
[code]

[2016-11-22 06:42] junxiawang opened #2184 "[fvt]2.13 testcase confignics need modified on sles environment"
Env:sles11.4
c910f02c01p14:/opt/xcat/share/xcat/tools/autotest/result # uname -a
Linux c910f02c01p14 3.0.101-63-ppc64 #1 SMP Tue Jun 23 16:02:31 UTC 2015 (4b89d0c) ppc64 ppc64 ppc64 GNU/Linux
c910f02c01p14:/opt/xcat/share/xcat/tools/autotest/result #

Build:c910f02c01p14:~ # lsxcatd -v
Version 2.13 (git commit 6653dfdc6acc292cf7ccd8e053263009a6ea960a, built Mon Nov 21 06:15:37 EST 2016)
c910f02c01

[2016-11-22 06:54] junxiawang opened #2186 "[fvt]test case:reg_linux_diskfull_installation_flat need to modify how to check ntp service ready or not on sles environment"
Env:sles
c910f02c01p14:~ # uname -a
Linux c910f02c01p14 3.0.101-63-ppc64 #1 SMP Tue Jun 23 16:02:31 UTC 2015 (4b89d0c) ppc64 ppc64 ppc64 GNU/Linux

Build:c910f02c01p14:~ # lsxcatd -v
Version 2.13 (git commit 6653dfdc6acc292cf7ccd8e053263009a6ea960a, built Mon Nov 21 06:15:37 EST 2016)

How to reproduce:
[code]

[2016-11-22 07:12] chenglch commented on #2024
<img width="1197" alt="nodeset" src="https://cloud.githubusercontent.com/assets/7165199/20514026/a9fa3424-b0c4-11e6-8f35-45d7d955aab2.png">

I tested `nodeset` command with 10 kvm nodes, above is the statistic graph which show the majority time spent by the subroutines.
The subroutine `setNodeAttribs`, `subvars` and `copyAndAddCustomizations` cost most time as they are running in a for loop `forea

[2016-11-22 07:45] chenglch commented on #1849
If there is some machine can be used to run `rflash`, I can add  some debug message and make the main process running in the background.

[2016-11-22 08:01] junxiawang opened #2188 "[fvt] nodeset node diskless image failed for could not find the diskless image"
Env:sles ubuntu
Build:c910f02c01p14:~ # lsxcatd  -v
Version 2.13 (git commit 6653dfdc6acc292cf7ccd8e053263009a6ea960a, built Mon Nov 21 06:15:37 EST 2016)
c910f02c01p14:~ #

[2016-11-22 08:07] immarvin commented on #2188
fixed in https://github.com/xcat2/xcat-core/pull/2189

[2016-11-22 13:01] ralphbellofatto commented on #2176
Is it possible for that very last message to reflect the status=failed,status=booted field that is in the lsdef -i status?

[2016-11-22 13:03] ralphbellofatto commented on #2176
also, you you may not need to look at the command itself xdsh xxx reboot, but instead look for the message that comes back when the shutdown happens.

You are already displaying that status in the lsdef -i status field as the node reboots, so that actually sounds like the best place to detect that transition.

[2016-11-22 13:05] ralphbellofatto commented on #1936
Is there also a check for this in the "rmimage" command?

[2016-11-22 14:29] ralphbellofatto commented on #1801
To test this, create a lot of new nodes with the following template:
[code]

then do this (which will restart the conserver).
[code]

[code]
[root@c460mgt01 ralphbel]#  grep "Console up" -A3 /var/log/consoles/c460c* | grep "Nov 22 09" | tee /tmp/consoleup.log
/var/log/consoles/c460c001:[-- Console up -- Tue Nov 22 09:09:15 2016]
/var/log/consoles/c460c001-[Tue Nov 22 09:10:05 2016]Info: SOL payloa

[2016-11-22 18:24] whowutwut commented on #1849
@chenglch  You can run this on any of the machines under fs1 or fs4..  just do not interrupt the rflahs process, we still have not gotten the machine back from when we bricked the BMC.  :)  @pdlun92  can we flash on and off the same firmware levels?

[2016-11-23 03:06] immarvin commented on #1936
hi @ralphbellofatto , yes

@tingtli , the command to check should better be ``grep -F '/install' /proc/mounts``

[2016-11-23 07:44] xuweibj commented on #2106
I modified configuration of fs4's iptables.

[code]

And this issue did not reproduce. So close.

[2016-11-23 08:23] junxiawang opened #2193 "[fvt]2.13:xcatprobe xcatmn could not probe mn's dns status"
Env:all os

Build:
[root@c910f03c05k09 tmp]# lsxcatd -v
Version 2.13 (git commit 96eb4b04fb91a5c2b9c60e330724d37744bbea3a, built Tue Nov 22 10:50:47 EST 2016)
[root@c910f03c05k09 tmp]#

How to reproduce:
[code]

[2016-11-23 14:38] neo954 commented on #1547
Since @zet809 did not spend time on this issue. I tried to fix this issue by myself.

[2016-11-24 01:12] daniceexi commented on #1547
@neo954 That's good. But we may not put this change in the 2.13 release since it's a little risky.

[2016-11-24 03:04] chenglch commented on #1801
Yes, this is a problem that conserver will maintain a process for each node and the process forked by conserver will send request to xcatd(this step need 3 processes) which also occupied a  lot of cpu and memory resources.  This is advantage of confluent which leverage the `eventlet` to avoid too many processes.

We are trying to monitor the resource usage when restarting the conserver to see how

[2016-11-24 05:29] immarvin commented on #2104
fixed in https://github.com/xcat2/xcat-core/pull/2196

[2016-11-24 06:23] tingtli opened #2197 "[FVT]update statelite cases since statelite image defintion is bring back to default osimage"
We need to update all statelite cases since statelite image "OS-ARCH-statelite-compute"  is bring back to default osimage when copycds.

[2016-11-24 07:24] zet809 commented on #2108
@williamspatrick Hi, patrick, we think it is OK for us to 'ipmitool lan set 1 access on' to activate all the configurations. Just some questions:
1. Does a 'ipmitool lan set 1 ipsrc static' mean the starting of network configuration?
2. If no 'access on', all the configuration after 'ipsrc static' won't be activated? And the original configuration still can be used to access the BMC out-of-band? I

[2016-11-24 07:32] immarvin commented on #1770
cannot be recreated
unless you run ``xcatconfig -c``

[2016-11-24 07:44] hu-weihua commented on #2193
@junxiawang , this issue has been fixed by PR#2193, could you help to verify it? thanks

[2016-11-24 07:59] neo954 commented on #1547
@daniceexi That is fine. Just merge this pull request after xCAT 2.13 GA.

[2016-11-24 07:59] neo954 commented on #1548
Since @zet809 did not spend time on this issue. I tried to fix this issue by myself.

[2016-11-24 09:01] xuweibj commented on #2106
CN's route table:
[code]

50.3.25.1 is CN's gateway, so 50.0.0.* can ping 192.168.3.25 though 50.3.25.1 .

If set iptables like below, CN can not ping 192.168.3.25.
[code]
If so, only 192.168.*.* can send log to MN.

[2016-11-24 09:25] caomengmeng opened #2201 "[FVT]rcons message are not as excepted when install rh7.3 p8le diskful"
Description: Install rh7.3 diskful p8le with latest daily build in physical machine.
ENV.:
[code]
After CN is booted, the message through rcons  are below:
there are messages following: ``localhost login:``, but it should be only the ``login:``
[code]

[2016-11-24 12:26] ralphbellofatto commented on #1801
ok, well, at least with 80 new nodes, the time it takes to get a lock is relatively acceptable to what it was.

What is the status of confluent, and do you know if it will be recommended to be deployed with CORAL?

[2016-11-24 13:33] immarvin commented on #2201
the kernel messages will be shown on ``rcons`` by default, this is not a bug

[2016-11-25 02:41] tingtli commented on #2184
@junxiawang
I use /etc/sysconfig/network*/ to cover the different sles and rhels.  * means both /etc/sysconfig/network/  and other format which * could represent.

The failure is because of bug #2183. So the files for eth4 is not create. Then the cat for this file failed. I will close this bug.

[2016-11-25 02:41] #2184 closed

[2016-11-25 02:54] immarvin commented on #2072
fixed in https://github.com/xcat2/xcat-core/pull/2199 by @hu-weihua

[2016-11-25 03:03] tingtli commented on #1871
Since this bug is for some enhancement for xCAT-test code. It is not required by 2.13. Move to next release.

[2016-11-25 03:14] zet809 commented on #1365
In fact, I have no idea of what the cipher privileges do. From the code, it seems for a string 'Cipher Suite Priv Max   : cXaaaaaaaaaaXXX', it just disable the first 2 characters, and enable the 3rd and 4th characters, keep the other characters.

[2016-11-25 03:15] tingtli commented on #2062
Verified with xCAT 2.13
[code]

[2016-11-25 03:15] #2062 closed

[2016-11-25 03:23] tingtli commented on #1625
This is fixed by https://github.ibm.com/xcat2/jenkins/pull/28

[2016-11-25 03:23] #1625 closed

[2016-11-25 03:35] bybai commented on #2112
Hi @kcgthb ，
I know your description clearly. Our makehosts command manpage is as following, it needs node hostname, node ip and network domain name to work correctly. Why not you add the correct network into networks table?

makehosts updates the /etc/hosts file based on information stored in the xCAT database object definitions.
       The main three bits of information needed are: node hostname

[2016-11-25 03:38] hu-weihua commented on #1764
@samveen I think this issue has been fixed in xCAT2.10, the commit number is ``ae636e0afa917a28387363987abf7dabd4f3edf6``. Could you upgrade to latest xCAT and try again?
I will close this issue, If you still hit this issue, you can contact us again. thanks.

[2016-11-25 03:40] #1764 closed

[2016-11-25 06:19] tingtli commented on #2181
this is duplicated to #2197 close it.

[2016-11-25 06:19] #2181 closed

[2016-11-25 06:28] tingtli commented on #1939
@neo954  Please review and verify this bug. Thanks!

[2016-11-25 07:23] neo954 commented on #1939
Verified with the 2.12.4 GA build. This issue was fixed. I will close this issue.

[2016-11-25 07:23] #1939 closed

[2016-11-25 08:31] tingtli commented on #445
@bybai  Please take a look. Thanks!

[2016-11-25 08:33] junxiawang opened #2204 "[fvt]diskfull provison node status always booting"
Env:
ubuntu 14.04 ppc64le
ubuntu 16.04 ppc64le
ubuntu 14.04.3 ppc64le
ubutu 16.04 x86-64
ubuntu 16.04 p8le
sles11.4 ppc64
Build:c910f02c01p14:~ # lsxcatd -v
Version 2.13 (git commit 49e6f4ba89a280099caa222cc6f46ee3afb23ae1, built Thu Nov 24 06:15:37 EST 2016)
c910f02c01p14:~ #

How to reproduce:
[code]

[2016-11-26 17:39] aaronknister commented on #2089
hi @immarvin I work for CSRA (formerly CSGov, formerly CSC). I wouldn't be surprised if they have a  corporate CLA in place given how much various folks in the company make use of xCAT.

[2016-11-28 03:17] xuweibj commented on #1546
Have talked with @junxiawang , worked as design. Close this.

[2016-11-28 03:17] #1546 closed

[2016-11-28 05:41] #1734 closed

[2016-11-28 06:34] zet809 commented on #1567
Add @hu-weihua and @xuweibj in this discussion.

[2016-11-28 07:22] bybai commented on #445
hi @tingtli , I need the proper server with RAID, could you have one?

[2016-11-28 07:25] immarvin commented on #1770
close this issue, please reopen it when you find it

[2016-11-28 07:25] #1770 closed

[2016-11-28 07:27] bybai commented on #2025
fixed in #2178

[2016-11-28 07:27] #2025 closed

[2016-11-28 07:29] penguhyang opened #2205 "Getting more done in GitHub with ZenHub"
Hola! @penguhyang has created a [ZenHub](http://www.zenhub.com) account for the **xcat2** organization. ZenHub is the only project management tool integrated natively in GitHub – created specifically for fast-moving, software-driven teams.

----

#### How do I use ZenHub?

To get set up with ZenHub, all you have to do is **[download the browser extension](https://www.zenhub.com?utm_source=ZHOnboar

[2016-11-28 07:59] bybai commented on #2090
Hi @aaronknister ,

Thanks your advice, I will look into this in 2.13.1.

[2016-11-28 08:02] #2205 closed

[2016-11-28 08:07] bybai opened #2206 "[customer]add comments in /etc/named.conf indicating that it is generated by xCAT"
One of my colleagues recently changed the nameserver in /etc/named.conf.

This change was then overwritten when we ran makedns.

Could comments be added to this file indicating that it is generated by
xCAT please to help prevent this sort of thing in future.

Thanks,

Chris

[2016-11-28 14:41] immarvin commented on #2183
fixed in https://github.com/xcat2/xcat-core/pull/2207

[2016-11-28 21:04] whowutwut opened #2209 "[CUSTOMER] Clearly define the method for configuration of RAID using xCAT .tmpl files"
In the current releases of xCAT the partitioning file is changed and should be pulled out of the .tmpl file.   Need to document the proper way for customers to configure a simple RAID1.

- ship a template script for RAID1 in xCAT
- Inform the users how to find the persistent disk name
https://access.redhat.com/documentation/en-US/Red_Hat_Enterprise_Linux/7/html/Storage_Administration_Guide/persist

[2016-11-28 21:05] whowutwut commented on #2209
@zet809  we need to address this for 2.13 release.

[2016-11-28 21:17] kcgthb commented on #2112
Hi @bybai

Right, so if the network is commented in the `networks` table, why take another (wrong) domain name (the one in the `site` table) rather than not adding the entry in `/etc/hosts`?

I strongly believe it would be much safer to display a warning and not adding the host entry rather than generating incorrect information, don't you think?

[2016-11-29 02:14] immarvin commented on #2209
hi @whowutwut , I think we should recommend user to use the "partitionfile" of "osimage" for customization raid/partition during provision instead of template. We can ship some  basic partition script so that user can use directly or create customized partition file based on it.

[2016-11-29 06:31] zet809 commented on #2209
Hi, @whowutwut and @immarvin It seems to me that the configuring RAID is a feature request for xCAT, I don't think it is and will be a common feature for xCAT. Why not put the script example onto a public repo such as https://github.com/xcat2 for user to download freely, and in our readthedoc document there is an advanced topic to describe this function?
Then, if there is a new requirement, we can

[2016-11-29 06:43] zet809 commented on #2209
I have created a repo https://github.com/xcat2/scripts to store the scripts for special user cases.

[2016-11-29 06:49] tingtli commented on #2197
It is verified in autotest environment. Close it.

[2016-11-29 06:49] #2197 closed

[2016-11-29 06:59] hu-weihua commented on #2176
@ralphbellofatto , sorry for replay later.

We have ever taken these status into account, such like  ``powering-on`` and ``powering-off``. But unfortunately,  we don't always have these status in the log when we trigger reboot through different command. The other thing is we allow customer to configure if show these status in site table.  So after investigate all the platform and scenario, we choo

[2016-11-29 07:11] tingtli commented on #1998
Verified.
[code]

[2016-11-29 07:11] #1998 closed

[2016-11-29 07:40] immarvin commented on #2204
fixed in https://github.com/xcat2/xcat-core/pull/2212

[2016-11-29 07:50] junxiawang opened #2213 "[fvt]xcatprobe xcatmn hierarchy will exit and not check sn's environment if no master value in site table"
Env:ppc64le rhels7.3
Build:[root@c910f03c05k09 ppc64le]# lsxcatd  -v
Version 2.13 (git commit 30488810f3ebbba8f54979cce966b605fd89f46d, built Mon Nov 28 06:34:38 EST 2016)
How to reproduce:
[code]

[2016-11-29 07:54] bybai commented on #2112
Hi @kcgthb ,
The domain name in the site table is the default one.  If you do not want to use the default domain in site table during makehosts, you can `chdef -t site domain=` then execute makehosts command, the default domain will not be added in /etc/hosts.

[2016-11-29 07:54] immarvin commented on #2209
how about naming the repo to "xcat-extensions"? since this repo is to store all the stuff for specific use cases contributed either by xCAT dev team and customers.

[2016-11-29 08:00] bybai commented on #2142
Hi @kcgthb ,
This requirement is added in my list, Have discussed a better user interface for both #2142 and #1086.

[2016-11-29 08:33] hu-weihua commented on #2213
@junxiawang , I think ``xcatmn`` works well in your test scenario.

  1 ``xcatmn`` has reported what the detailed problem is and the report is correct.

  2  Due to ``There isn't 'master' definition in 'site' table ``, so when we check SN, SN didn't return any message back.  So the final output didn't show any information about SN.  it does not mean we did not do the check on SN.

I think the outp

[2016-11-29 08:35] immarvin commented on #2209
the draft of the documentation https://github.com/xcat2/xcat-core/pull/2211

[2016-11-29 08:57] chenglch commented on #2024
I have updated the test results on http://10.5.101.10:8086 with running nodeset command on 50 nodes. It takes more than 30 seconds to complete. `setNodeAttribs` method is invoked 150 times which takes about 18 seconds

[2016-11-29 09:13] SStar1314 commented on #2104
Close this issue for now, need to verify this on xCAT 2.13.

[2016-11-29 09:13] #2104 closed

[2016-11-29 12:53] ralphbellofatto commented on #2176
I thought the purpose of the command "xcatprobe osdeploy" was to report the progress of the boot.  The boot here was successful, yet the osprobe deploy reported it as failure.

the user has to then know that the failure reported by osdeploy may be wrong and subsequently check the lsdef -i status for that node.  That seems broken to me...

[2016-11-29 13:26] immarvin opened #2216 "[FVT] on ubuntu 16.04.1 compute node, the xcatpostinit1.service failed to start"
on ubuntu 16.04.1 compute node, the xcatpostinit1.service failed to start:

[code]

[2016-11-29 13:27] immarvin commented on #2216
fixed in https://github.com/xcat2/xcat-core/pull/2215

[2016-11-29 15:25] LudovicEnault opened #2219 "Environment variable set for a kit used in all postscripts"
Hello,

When a kit is configured with an environment variable (for example ESSL kit: http://xcat-docs.readthedocs.io/en/stable/advanced/kit/hpc/software/essl.html), the variable is exported in all postscripts. The expectation would be that the variable is set only for the kit, not for all the kits or postscripts.

A simple script to check is the following:
xcatmn # cat /install/postscripts/env.sh

[2016-11-29 15:35] cxhong commented on #1652
@zet809 , Can u add suggestion what enhancement we need?
 Those are issues have been fixed
#1947 , #1912 , #1906 , #1893 , #1892 , #1878 , #1732

[2016-11-29 16:42] whowutwut commented on #1547
@daniceexi @neo954  I don't think we want to merge this after the 2.13 GA..  I'm not sure we want to change the numbering of the RPM in a minor release of xCAT... we should consider moving this to 2.14.. or possible  creating a branch.. but this would cause additional effort for development.

[2016-11-29 16:48] LudovicEnault commented on #2219
P.S.: Same behavior with xCAT 2.12.4

[2016-11-29 16:52] pdlun92 opened #2220 "Add output to genesis-builder's buildrpm file to check i40e driver version"
Output for genesis-builder's `buildrpm` file contains instructions to make sure that correct mlnx driver version is installed on build machine.  With #2128, build machine will now have to contain instructions to check version of i40e driver before update as well.

[2016-11-29 18:16] gurevichmark commented on #2024
So it takes about 1 min to nodeset 100 nodes.
On 5000 node CORAL system nodeset will take about 1 hour ?

[2016-11-29 19:22] whowutwut commented on #1936
@ralphbellofatto  Are you able to validate this in your environment?

[2016-11-29 19:22] whowutwut commented on #1963
@ralphbellofatto  Are you able to validate this in your environment?

[2016-11-29 19:23] whowutwut commented on #2037
I'm going to close this one, please re-open if issues persist

[2016-11-29 19:23] #2037 closed

[2016-11-29 19:24] whowutwut commented on #1801
Closing this out.  @ralphbellofatto If the BMC could directly redirect console output using syslog, would that be a good alternative for this?  If so, maybe we can open a new issue to track that..

[2016-11-29 19:24] #1801 closed

[2016-11-29 19:24] whowutwut commented on #685
no response, closing out.

[2016-11-29 19:24] #685 closed

[2016-11-29 19:25] whowutwut commented on #1785
@neo954  Can you please verify this and close out since we are close to the 2.13 release...

[2016-11-29 19:42] ralphbellofatto commented on #1936
this seems to be ok, i have not seen a stray mount in a root image since the update.

[2016-11-29 19:43] ralphbellofatto commented on #1963
console output has been stable since the most recent updates.

[2016-11-29 19:46] ralphbellofatto commented on #1801
Getting a scale-able console log needs to be something that is needed for CORAL before they scale up to their 4k nodes.

One thing that will be very important in rsyslog is that the node has to be identified in the system by its lsf name.

Past attempts to have the BMC send stuff directly to rsyslog (not the console log, but other stuff), logged the information under the BMC's ip address, which ma

[2016-11-29 19:54] #2220 closed

[2016-11-29 19:56] cxhong opened #2225 "[CUSTOMER] Stale rootimg.gz file left in the rootimg dir caused node boot failed."
This issue found from PMR 08785,999,000 - unable to provision diskless nodes.

On the customer system,  the stale rootimg.gz left in the rootimg dir:
[code]
nodeset command picked up rootimg.gz instead of rootimg.cpio.gz and  failed to reprovision node.

I create a test osimage, copy rootimg.cpio.gz to rootimg.gz and ran rmimage command.
the rmimage didn't remove rootimg.gz
[code]

and kcmline aft

[2016-11-29 20:57] whowutwut opened #2226 "Provide a way to reset the IPMI based OpenPower BMCs back to factory through xCAT"
Create a way to reset the IPMI based BMC back to DHCP from within xCAT command

The recommended steps are:
[code]

Some things to consider
- do we need to define bmc node definitions? What happens if they have one defined?
- How does this flow into the hardware discovery process?
- nodeset offline, should that reset the BMC?

[2016-11-30 01:04] whowutwut commented on #2209
@zet809  I don't necessarily agree that it's a new feature request, because in the compute.tmpl files have been provided by xCAT for a long time.  In there, we provide samples for RAID.  If we change the way we are passing the partitioning scheme to using linuximage.partitionfile, then we need to clean up the default partition file that we ship, so that we do not confuse the end user.

Also from t

[2016-11-30 01:51] chenglch commented on #2024
Not exactly, I got this result on my own virtual machine and the database is sqlite. The performance graph only shows where the bottleneck is in our code logic. On 5000 node CORAL system, service nodes are used, I guess it will not takes that long, but updating database for so many tables may be a problem.

[2016-11-30 02:31] whowutwut commented on #2209
I'd like to also add that the disk on the RHEL 7.3 OS side is named differently on Firestone/Minsky...

On Firestone, the disks are sdj and sdk.  But on Minsky, they are sda and sdb...

Garrison is sda/sdb...
[code]
Firestone is sdj/sdk
[code]

[2016-11-30 02:49] tingtli opened #2227 "[FVT]:buildkit returns Global symbol "$rmpdir" requires explicit package name"
xCAT 2.13 , tested on ubuntu14.04.4 and ubuntu16.04. But this should be a general problem.

[code]
Just execute buildkit and get the error.
[code]

[2016-11-30 02:59] immarvin commented on #2225
fixed in https://github.com/xcat2/xcat-core/pull/2228/files

[2016-11-30 03:32] caomengmeng opened #2230 "[FVT]Ubuntu xCAT-test installation spelling is change to be xcat-test"
Description: Failed to install xcat-test, for the spelling is changed from xCAT-test to xcat-test
[code]

[2016-11-30 04:59] whowutwut commented on #2230
I think all the Ubuntu packages have been changed to lower case, is that right @neo954 ?

[2016-11-30 05:40] tingtli commented on #1873
@bybai  There fix does not work on hierarchy statelite. Please take a look at it.

[2016-11-30 05:42] caomengmeng opened #2231 "[FVT]Failed to generate osimage definiton for sles11.4-x86_64-statelite-compute after copycds"
Description:
Failed to include the ``sles11.4-x86_64-statelite-compute`` after run ```copycds /SLES-11-SP4-DVD-x86_64-GM-DVD1.iso```

Test ENV. : xCAT 2.13 on Nov 30 build in x86 sles11.4

[2016-11-30 06:16] tingtli opened #2232 "[FVT]:setupntp is failed in postscripts nfs based statelite CN"
xCAT 2.13  rhels7.3

Steps to reproduce
1. install xCAT 2.13
[code]
2. Define cn
3. copycds to get the default statelite osimage
[code]
4. define litefile
[code]
5. nodeset osimage to cn and boot up cn. After cn booted up. the status is failed but not booted
[code]
6.

[2016-11-30 07:33] junxiawang opened #2233 "[fvt]sles11.4 mknb.pm had compilation errors"
env:sles11.4 x86_64
build:c910f04x30v24:/opt/xcat # lsxcatd -v
Version 2.13 (git commit f7ec4dde7f97f8f588413a186a17f5426cc88314, built Tue Nov 29 08:50:45 EST 2016)
c910f04x30v24:/opt/xcat #
How to reproduce:
[code]

[2016-11-30 08:50] zet809 commented on #2226
@whowutwut Hi, Victor, in fact, our command 'rspconfig <node> ip=dhcp' is used to have BMC get IP through DHCP. I think the command list above is used to reset the BMC back to factory status.
For the question above, here are my thought:
1. No need to define bmc node, can run again a host node definition directly. If have one BMC node defined, implement this command means teh BMC node useless any m

[2016-11-30 09:19] caomengmeng commented on #1963
Discussed with @chenglch , this issue is the same with:  https://github.com/xcat2/xcat-core/issues/685

The verification is below:
1. rpower node reset
2. rcons node  in one screen
3. makeconservercf in another screen
4. run rcons in the step2 screen in 60 seconds after step 3, it will not shutdown automated
4. track the /var/log/consoles/node log, to make sure there is no log like this : ``SOL se

[2016-11-30 09:19] #1963 closed

[2016-11-30 09:20] #2153 closed

[2016-11-30 09:20] #2159 closed

[2016-11-30 10:17] bybai commented on #2232
Hi @tingtli ,
The status failed is caused by setupntp:
1, login compute node:
[root@c910f03fsp03v04 xcat]# vi xcat.log
xcatdsklspost: updating VPD database
xcatdsklspost: failed to download mypostscript.<nodename>, trying to call getpostscript.awk...
Wed Nov 30 09:57:31 UTC 2016 Running postbootscript: syslog
sed: couldn't open temporary file /etc/sed8Z0Nhs: Read-only file system
Wed Nov 30 09:57:

[2016-11-30 11:07] bybai commented on #1873
hi @tingtli ,
The fix can work well in hierarchy statelite, the autotest case should be modified.

1, [root@c910f03fsp03v02 ~]# lsdef c910f03fsp03v04 -i status,servicenode
Object name: c910f03fsp03v04
    servicenode=c910f03fsp03v03
    status=booted
2, After CN is booted in statelite:
[root@c910f03fsp03v04 ~]# df
Filesystem                                                         1K-blocks    Used

[2016-11-30 11:24] bybai commented on #1873
Hi @tingtli and @caomengmeng ,
The autotest case should be enhanced
1, In SN, umount -l /install is better;
2, After /install dir is added into /etc/exports, it is better to restart nfs service;
3, Added a test dir in litefile:
"ALL","/test/","persistent",,
4, after liteimg, rsync /install:
rsync -auv --exclude 'autoinst' /install c910f03fsp03v03:/
5, check the result:
In CN:
touch a file in /test

[2016-11-30 12:53] tingtli commented on #1873
@bybai
It seems that  hierarchy ramdisk statelite have issue.  NFS based hierarchy statelite has no issue.

[2016-11-30 17:17] whowutwut opened #2239 "Need to require a certain version of xCAT-genesis-base with the recent changes"
It has come to my attention that we have made some changes in the xCAT-genesis-base that should force users to make sure that the correct xCAT-genesis-base is in sync with the code and hard stop with the dependencies if the xcat-dep repo is not updated.

So for example, in 2.12.4, we moved function from dhclient-scripts -> doxcat.  With this move, xCAT-genesis-scripts RPM should require a version

[2016-11-30 17:42] whowutwut commented on #1616
Thanks I think alerting issues or platforms that we do not support in a error message in `go-xcat` is the best way to avoid another table we need to maintain.

[2016-11-30 17:42] #1616 closed

[2016-11-30 20:50] pdlun92 commented on #1849
Working to verify this now.  Don't think it is necessary for FVT to spend time on this issue.

[2016-12-01 02:31] pdlun92 commented on #2128
Used a fedora 23 build machine with i40e version 1.5.16 installed to build xCAT genesis base rpm.  I installed this rpm on a Stratton management node.  The correct driver version is found in the directory provided by this rpm.
[code]
I then ran `mknb`.
[code]
Upon running `nodeset shell` on another Stratton machine the node was able to receive genesis but was unable to boot into it.  I was able to

[2016-12-01 03:38] tingtli opened #2241 "[FVT]:statelite persistent directory has node's long hostname. should be short name"
xCAT 2.13 on both rhels and sles
Steps to reproduce.
1. configure mn
2. define node and provision the node to a statelite node. Set some directory in the litefile table as persistent.
3. After the node boots up, check the persistent directory and found the directory has long directory
[code]

[2016-12-01 04:26] bybai commented on #2241
fixed in https://github.com/xcat2/xcat-core/pull/2240

[2016-12-01 05:39] zet809 commented on #2128
@pdlun92  It seems the xCAT-genesis-base-ppc64-2.12-snap201611291557.noarch.rpm you build have some problems.
Here is the files within the xCAT-genesis-base for 3 versions:
1. rpm -qpl xCAT-genesis-base-ppc64-2.12-snap201611291557.noarch.rpm | wc -l
1415               ==>The package is build by you, much more files
2. rpm -qpl xCAT-genesis-base-ppc64-2.12-snap201611230134.noarch.rpm | wc -l
1321

[2016-12-01 05:43] whowutwut commented on #2128
@zet809  Did you install use a new install fedora23 or an existing one you have running somewhere... ? I'm wondering what is causing the differences if following the same steps?

[2016-12-01 06:19] tingtli commented on #2232
This is also failed on diskless node. Here is some logs
[code]

[2016-12-01 06:32] zet809 commented on #2128
Use the existing one, 10.3.5.3.

[2016-12-01 07:18] neo954 commented on #1785
Verified with xCAT-genesis-base-ppc64-2.12-snap201610250931.noarch. The problem was fixed. I will close this issue.

[2016-12-01 07:18] #1785 closed

[2016-12-01 08:34] caomengmeng commented on #1849
run rflash node /path and below logs are created:

[code]
After the rflash is completed:
[code]
Then rpower on the node, within 5 minutes, try to rerun the rflash command, error messages return.
[code]
When rflash is running, stop the screen, then rflash will continue to executed, and successfully.
But when rflash is running, do the Ctrl+C , then rflash is stopped, @chenglch will fix it.

[2016-12-01 13:49] tingtli commented on #2232
@cxhong  Would you please take a look at this defect. Thanks!

[2016-12-01 14:14] whowutwut commented on #1936
Thanks @ralphbellofatto

[2016-12-01 14:14] #1936 closed

[2016-12-01 17:12] whowutwut commented on #1849
@caomengmeng   Can you clarify the last step...

* When rflash is running, stop the screen, then rflash will continue to executed, and successfully.
* But when rflash is running, do the Ctrl+C , then rflash is stopped, @chenglch will fix it.

What does the first point mean?

Regarding the 2nd doing the ctrl-c, let's remove this from the process..  I don't think we should do this and possibly maybe

[2016-12-01 18:36] whowutwut opened #2245 "Investigate the scalability of rflash on the OpenPower boxes"
Opening this issue to track and understand from xCAT's point of view, how does `rflash` command scales up for OpenPower LE boxes and perhaps understand the best practices when doing firmware flash.

- What, if any, overhead is added when doing the firmware flash under the `rflash` command vs doing the firmware flash using ipmitool directly
- As we run rflash against more nodes in a noderange, does

[2016-12-01 19:08] cxhong commented on #2232
I created a statelite compute node.  I think there is permission issue for the statelite os image.
how can we explain this?
[code]
I have no issue to start/stop ntpd service, but couldn't enable it.
[code]

@tingtli , for diskless node, did u run on sles?  it works for redhat.

[2016-12-01 21:07] whowutwut commented on #1849
@caomengmeng  OK, with the help of the Firmware team we were able to recover cn18 by re-flashing the PNOR side of the firmware.  Uma said that we may have also been able to recover this by re-flashing the firmware again but this required a physical power cable reset on the BMC after it's done.   It was most likely caused by the ctrl-c and probably should not be doing this... cn17 and cn18 are back

[2016-12-02 02:16] chenglch commented on #1849
@whowutwut , with my last patch, `ctrl-c` has been ignored at xcatd side and mengmeng will test this today. When the user runs `rflash` at client side, maybe `ctrl-c` will be sent by accident, with the patch, xcat client process is terminated, but the `rflash processes` at xcatd side will continue.

[2016-12-02 04:20] caomengmeng commented on #1849
Verified with latest build
[code]
Steps:
1. run ``flash node /npm-path``
2. after the node is being ``updating firmware`` status
3. do ``Ctrl+C`` to close the process
4. confirm that the rflash is being running, and firmware will successfully update.
[code]

[2016-12-02 04:20] #1849 closed

[2016-12-02 06:25] tingtli commented on #2232
@cxhong  I am sorry. I should mark the os for the diskless. I think this only occurs on sles12.1
When the diskless node boots up. i can see ntp service is not started. And there is some hints in the message.
[code]

[2016-12-02 07:57] bybai commented on #2232
Hi @cxhong ,
After I added 2 lines into litefile, setupntp can be successful.
"ALL","/etc/systemd/system/multi-user.target.wants/","tmpfs",,
"ALL","/usr/lib/systemd/system/ntpd.service","tmpfs",,

After statelite node is booted, the log in CN /var/log/xcat/xcat.log

+ '[' -z 'systemctl enable  ntpd' ']'
+ eval systemctl enable ntpd
++ systemctl enable ntpd
Created symlink from /etc/systemd/system/

[2016-12-02 08:04] tingtli opened #2248 "[FVT]:setupntp failed on sles12.1 diskless node"
xCAT 2.13. SLES12.1
Steps to reproduce
1. Config mn and define cn
2. define setup ntp on cn
[code]

3. Diskless boot CN and find ntp is not started on cn
[code]

4. Check the log
[code]

[2016-12-02 08:05] tingtli commented on #2232
@cxhong @bybai  I will leave this bug to trace ntp issue on statelite but  open a new bug #2248
to trace the issue on sles12.1 stateless.

[2016-12-02 08:46] junxiawang commented on #2232
I have verified the bug

[2016-12-02 09:08] immarvin commented on #1139
user need to remove the existing osimage by ``rmimage`` before you run ``genimage``

[2016-12-02 22:30] whowutwut commented on #2239
After doing some initial investigation, The initial confusion about the customer potentially running the wrong code base was incorrect.  They are running the 2.12.4 xcat-core and xcat-dep.

The 2.12.4 GA was Nov 11, 2016 and the commit made by @xuweibj  in https://github.com/xcat2/xcat-core/pull/2064 was merged  on Nov 4, so  I thought the changes were in place for 2.12.4 release....  However, the

[2016-12-03 01:53] caomengmeng opened #2251 "[FVT] Failed to get node message in /var/lib/dhcpd/dhcpd.leases after run makedhcp -a"
Using latest daily build to run diskfull installation by automation
[code]
After run ``makedhcp -a`` and waiting for 10 seconds, failed to get CN node message in ``/var/lib/dhcpd/dhcpd.leases``
[code]
But after more than 10 seconds the node message is shown.

[2016-12-05 02:02] whowutwut commented on #2251
Does `makedhcp -a` trigger the compute nodes to renew a lease?

[2016-12-05 02:05] whowutwut commented on #2226
@zet809  Thanks for that, let me take a closer look at the rspconfig command you mentioned above.

[2016-12-05 03:10] caomengmeng commented on #2251
@whowutwut
It is happened when trying to install diskful flat in CN, all previous steps are below:
[code]

It seems to be a timing issue, the CN is booted finally. And the CN node message is shown later in /var/lib/dhcpd/dhcpd.leases.
As no build during the last 2 days, will continue to trace this issue this week with automation test result.

[2016-12-05 05:44] zet809 commented on #2248
@cxhong Hi, casandra, will you pls help to take a look at this issue?
My findings are:
1.  It seems the following command failed within setupntp script:
# rcntpd ntptimeset
Time could not be synchronized
 2. If adding a outside ntp server for ntp.conf on either MN or CN, it will succeed. So, it seems to be the ntp server on Management Node is not configured correctly.
Once the MN is ready (For sle

[2016-12-05 05:51] immarvin commented on #2251
hi @caomengmeng , what's the check ``3. RUN: cat /var/lib/dhcpd/dhcpd.leases|grep c910f04x12v04
`` for? validate the ``makedhcp -a`` ?

[2016-12-05 05:56] immarvin commented on #2209
fixed in https://github.com/xcat2/xcat-core/pull/2211 and https://github.com/xcat2/xcat-extensions/pull/1

[2016-12-05 06:18] immarvin commented on #2232
hi @junxiawang @bybai ,

``"ALL","/usr/lib/systemd/system/ntpd.service","tmpfs",,`` is not mandatory

[2016-12-05 06:18] caomengmeng commented on #2230
Yes, so automation test cases should also be updated, this issue is for that.
And completed, so close it.

[2016-12-05 06:18] #2230 closed

[2016-12-05 06:18] #2201 closed

[2016-12-05 06:21] caomengmeng commented on #1886
As it is not reproduced during last months, so just close it

[2016-12-05 06:21] #1886 closed

[2016-12-05 09:27] zet809 commented on #2239
@whowutwut Hi, Victor, you are right the pull request made by Xu Wei shall be put in the xcat-genesis-base for 2.12.4 release.
Do you think we shall support this function in this release?

[2016-12-05 13:16] #1110 closed

[2016-12-05 15:17] whowutwut commented on #2231
I think we should enable this for the 2.13 release so it is available for test/dev if needed.

[2016-12-05 16:56] arif-ali opened #2258 "Genesis image should now be centos7"
Hi chaps,

We've had numerous issues the past year, that would have helped to have the genesis image to be el7, I would suggest that we should do this, as at the moment, we have build a runimage image in el6 first, and find an el6 machine to do this on.

We should also add IB drivers into it, so that we are able to discover via 100G ethernet as well as 10G and 1G

thanks,
Arif

[2016-12-05 22:35] whowutwut commented on #2258
Hi @arif-ali   Interesting timing....  I spent a good amount of time today re-creating the build machine to xCAT-genesis-base using CentOS 6.6...   I think @zet809 added IB drivers into the ppc64 genesis kernel.   Let me give it a quick try tonight and discuss with the team.  We are 1 week away from the 2.13 GA and not sure if we want to do it now.. but maybe it's the best time...  .  Would you ha

[2016-12-05 22:42] whowutwut commented on #2258
@arif-ali  which version of centos are you using 7.0, 7.1, 7.2?

[2016-12-05 23:16] arif-ali commented on #2258
Well, I have a workaround at the moment, that will hopefully work for the customer, which they will try tomorrow, i.e.

[code]

But no doubt, if we gave the customer to test the genesis image with a el7, then they would be happy to test. I doubt much that the version of CentOS will matter much in this specific case, as for runimage, the shared libraries would just work. The key things I think, tha

[2016-12-06 01:25] whowutwut commented on #2251
:+1:  @immarvin

[2016-12-06 02:02] immarvin opened #2262 "[DEV] invalid condition to validate the result in "runcmdinstaller" test case"
[code]

[2016-12-06 03:10] immarvin opened #2263 "[DEV] go-xcat test case in ubuntu16.04.1 still obtain apt.key from SourceForge"
xCAT doc mentioned:
[code]

however, we are still downloading apt.key from SF, which is not stable enough.
[code]

[2016-12-06 03:19] immarvin commented on #2263
what's more, the downloading of apt.key should try several times to avoid the case failure due to network failure

[2016-12-06 03:27] whowutwut commented on #2258
@zet809  I took a quick look at this, the last two commits in my forked copy are the changes needed for mlx5_core and building xCAT-genesis-base on CentOS7.2 on x86_64.
https://github.com/whowutwut/xcat-core/commits/centos7_genbase , e6af2b4cf1269ebcbc1d125120661c73095eb9dc and 8943c7fb41f6bd938456146440859e9a25f39b07

I haven't gotten around to looking into hfi1 driver, it looks like we have to d

[2016-12-06 03:29] caomengmeng opened #2264 "[FVT] update buildkit related case when the reponame is not the same with local host"
Description: when run the ``buildkit buildrepo reponame``
the reponame is not the same with the local host, so there is a remainder message below with word "error",  it is correct, so test cases should be updated: buildkit_buildrepo_all, buildkit_buildrepo_ubuntu

[code]

[2016-12-06 03:29] immarvin opened #2265 "[DEV] use ``makedhcp -q <node>`` to validate the ``makedhcp`` result in test cases"
please use ``makedhcp -q <node>`` to validate the ``makedhcp`` result in test cases

[code]

[2016-12-06 03:30] whowutwut commented on #2128
@pdlun92  Can you verify that the new xCAT-genesis-base can `nodeset shell` to the Briggs & Stratton box?

[2016-12-06 06:01] neo954 commented on #2248
On SLES 12.1, `ntp-4.2.8p4-1.3.ppc64le` was shipped. We met NTP bugzilla bug number 2965 [1].  `ntpd` doesn't synchronize to local clock anymore in version 4.2.8p4. NTP version 4.2.8p5 fixed this bug [2].

[1] https://bugs.ntp.org/show_bug.cgi?id=2965
[2] https://www.eecis.udel.edu/~ntp/ntp_spool/ntp4/ChangeLog-stable

Thus, this is an upstream bug. Which is not xCAT related issue. Case closed.

[2016-12-06 06:14] bybai commented on #2264
Yes , correct.

Best Regards
--------------------------------------------------
Yuan Bai (白媛)

CSTL HPC System Management Development
Tel:86-10-82451401
E-mail: bybai@cn.ibm.com
Address: IBM ZGC Campus. Ring Building 28,
         ZhongGuanCun Software Park,No.8 Dong Bei Wang West Road, Haidian
District,
         Beijing P.R.China 100193

IBM环宇大厦
北京市海淀区东北旺西路8号，中关村软件园28号楼
邮编:100193

From:	caomengmen

[2016-12-06 06:22] tingtli commented on #2264
@caomengmeng  Please update the test cases. Thanks!

[2016-12-06 06:44] tingtli commented on #2263
Fixed in #2266

[2016-12-06 08:17] immarvin commented on #2265
fixed in https://github.com/xcat2/xcat-core/pull/2270#issuecomment-265085551

[2016-12-06 08:18] immarvin commented on #2264
fixed in https://github.com/xcat2/xcat-core/pull/2267

[2016-12-06 08:32] junxiawang commented on #2251
fixed in https://github.com/xcat2/xcat-core/pull/2270

[2016-12-06 08:43] arif-ali commented on #2258
@whowutwut I looked at the hfi1 driver yesterday, and from the VM I am running, it locates it in `kernel/drivers/staging/hfi1/hfi1.ko`, however, I am running the latest release of the centos7.2 kernel from updates, where I am on `3.10.0-327.36.3.el7.x86_64`

I believe the CentOS 7.3 is built in the CR repo, and you should be able to get a somewhat 7.3 base in, if you wanted to, and that should (ma

[2016-12-06 09:11] #2263 closed

[2016-12-06 09:26] immarvin commented on #2262
fixed in https://github.com/xcat2/xcat-core/pull/2273

[2016-12-06 09:34] daniceexi commented on #2248
So we should add a restriction in the 2.13 release notes for sles12.1.

[2016-12-06 14:29] arif-ali commented on #2258
@whowutwut Could you get us a test image, as our work-around didn't work, and we need to get the customer up and running with the `mlx5_core` driver working correctly

[2016-12-06 16:31] arif-ali commented on #2258
@whowutwut I tried to do a few things, and I managed to create a genesis rpm using the following diff from your repo

[code]

The resulting RPM is http://yum.ocf.co.uk/rh7/xCAT-genesis-base-x86_64-2.13ocf-snap201612061622.noarch.rpm

[2016-12-06 17:33] pdlun92 commented on #2128
Was able to verify with latest xCAT-genesis-base for ppc64 from xcat-dep.
[code]
stratton22 is able to boot in to genesis with correct DHCP IP on NIC.

Closing this issue

[2016-12-06 17:34] #2128 closed

[2016-12-06 18:44] #1932 closed

[2016-12-06 21:23] whowutwut commented on #2258
@arif-ali Were you able to provide this to your customer?  Did it work?

[2016-12-06 21:44] whowutwut commented on #2258
@zet809  what are your thoughts on this.  Will try and catch you online later if I can.

[2016-12-06 21:58] pdlun92 commented on #1491
Have observed output from successful and failed discovery attempts, using `xcatprobe discovery` during discovery and `xcatprobe discovery -r` as well as `xcatprobe osdeploy -r` afterwords, all for debug.

My feedback is entirely positive.  The outline of steps is very useful and clear.
Only suggestion would be to correct some typos in output, but overall the changes are great!

IST team will be ru

[2016-12-06 22:34] arif-ali commented on #2258
@whowutwut, I built it in my xCAT vm, and tested it on an internal VM network, and I was able to boot it, which was the main thing. I was able to see that the `mlx5_core` and `hfi1` modules were available, which was the other main thing

For us, it was the end of the day, so will only find out tomorrow UK time, to see if it actually worked for them. I will keep you posted

[2016-12-07 01:52] samveen commented on #2258
@whowutwut @arif-ali We're already using a centos 7 based image in my organization for the last year. I'll see if I can get my teammate who did this magic to share his secret sauce if any.

[2016-12-07 02:48] #2265 closed

[2016-12-07 02:48] #2264 closed

[2016-12-07 02:49] #2262 closed

[2016-12-07 06:42] tingtli commented on #2248
@zet809  I think we have the same issue on sles11.4.  The version is ntp-4.2.8p2-2.18
If you add restriction, please also add sles11.4

[2016-12-07 06:49] immarvin opened #2281 "[DEV]"updatenode -P" does not return the correct return code"
[code]

[2016-12-07 07:00] immarvin opened #2282 "[DEV] "makentp -a" always return 1"
[code]

[2016-12-07 07:03] immarvin commented on #2282
fixed in https://github.com/xcat2/xcat-core/pull/2283

[2016-12-07 07:17] zet809 commented on #2239
@whowutwut Hi, Victor, the pull request #2284 can fix this issue that depend on a specified version and higher. The requires shall be like ">= Epoch:Version".

[2016-12-07 08:20] tingtli opened #2286 "[FVT]:go-xcat failed with Digest verification failed"
xCAT 2.13 sles11.4 and ubuntu16.04.1

[code]

[2016-12-07 08:21] tingtli commented on #2286
@whowutwut @zet809 @neo954  Please take a look

[2016-12-07 09:06] immarvin opened #2287 "[DEV]genimage failed due to incorrect lock file path"
[code]

[2016-12-07 09:21] tingtli commented on #2286
Some errors on other platform
[code]

[2016-12-07 09:22] tingtli commented on #2286
@neo954  As we discussed , please sync the xcat-dep to xcat.org. And we will rerun the test. Thanks!
I think both linux and Ubuntu should be rsynced.

[2016-12-07 09:25] #2287 closed

[2016-12-07 09:32] zet809 commented on #2258
@whowutwut Hi, Victor, 1. as mentioned in another defect, we may need to include all the available driver on the builder host within genesis package, 2. if centos can support ppc64le, we can change our genesis ppc64 host to be centos.

[2016-12-07 12:26] whowutwut commented on #2286
Is this resolved? I thought we saw this last time and it was caused by pointing to c910loginx03 and there is something wrong with that node.

[2016-12-07 14:09] daniceexi commented on #2286
Now @zet809 and @neo954 though it caused by the sync failure when rsync dependencies from build server to xcat.org. Redo can fix this issue. @neo954 mentioned that add more options for 'rsync' command might help.

[2016-12-07 14:18] immarvin commented on #2286
@neo954 has updated xcat-dep online repo under https://xcat.org/files/xcat/repos/yum/xcat-dep/ with the compressed xcat-dep tarball at about 17:00 CN time this afternoon, we verified that the sha1 hash of the package and the sha1 in the repodata xml have been the same now.

@whowutwut , you mentioned `` it was caused by pointing to c910loginx03 and there is something wrong with that node.``, how d

[2016-12-07 14:43] cxhong commented on #2248
assign to @zet809 for add restriction in the 2.13 release notes

[2016-12-07 15:09] whowutwut commented on #2286
@immarvin @zet809 @neo954  I will re-send the email that I sent out 9/29 regarding this issue.  There's something that is different between loginx01 and loginx03, I believe it's caused by whatever is installed by the team on loginx03 where we do not have those changes on loginx01...

On @tingtli node, I ran `go-xcat` to make sure I can hit the same digest problem...
[code]

Then changed the defaul

[2016-12-07 15:32] immarvin opened #2290 "[DEV] "wget https://xcat.org/files/go-xcat -O - >/tmp/go-xcat" complains "no certificate subject alternative name matches""
following the usage of go-xcat in http://xcat.org/download.html#xcat-core:

[code]

either of the following commands is ok, we need to update the http://xcat.org/download.html#xcat-core page
[code]

[2016-12-07 16:50] arif-ali commented on #2258
@whowutwut just to confirm, the RPM, that I compiled has worked for the customer in question, so thanks for all your help.

I will keep that available for my customers, but if there is an official one as well, that would make things a little easier as well

[2016-12-07 18:14] whowutwut opened #2291 "SLES 12.2 installer does not begin unattended installs on xCAT 2.12.4"
I'm trying to install SLES 12. SP2 on a x86_64 virtual machine from a ppc64 MGMT node.  Looking at the `rcons` console, it hangs here...

[code]

Then on another window, I ssh to c910f04x42vm11 and it says ` run 'yast.ssh' to start the installation` so executing that command begins the txt based installation, but then after reboot, there's still an extra step..

[code]

We need to verify that ther

[2016-12-07 18:43] whowutwut commented on #2291
By the way, the SLES 12.2 does not complete the install after going back in. Stuck on post processing for a long time.

[2016-12-07 20:28] whowutwut commented on #2290
@immarvin  I've seen this issue dating back to 5/5/16 when we switched to a SSL certificate from Let's Encrypt and had talked to @daniceexi  about this.  But didn't investigate further.  I was almost thinking we should just not use https.    But doing more investigation on this today, it seems like only certain OS experience this.

 RHEL 7.3 **DOES NOT** have a problem
[code]

SLES 12.x **DOES** h

[2016-12-08 01:41] immarvin commented on #2291
hi @whowutwut ,please turn off the xcatdebugmode by ``chdef -t site -o clustersite xcatdebugmode=0``

[2016-12-08 02:33] whowutwut commented on #2291
:+1:  Thank you! sorry about that.

[2016-12-08 02:33] #2291 closed

[2016-12-08 02:59] whowutwut commented on #2239
@zet809 Thanks for that.  I did not try that one out.    I will close this as I have tried the current release candidate versions and it does pull in the genesis-base

[2016-12-08 02:59] #2239 closed

[2016-12-08 04:17] #2216 closed

[2016-12-08 04:18] #2282 closed

[2016-12-08 04:19] #2209 closed

[2016-12-08 04:19] #2225 closed

[2016-12-08 04:19] #2204 closed

[2016-12-08 04:19] #2167 closed

[2016-12-08 04:19] #1416 closed

[2016-12-08 04:20] #2188 closed

[2016-12-08 05:48] immarvin commented on #2290
fixed in  https://github.com/xcat2/xcat.org/pull/41 , https://github.com/xcat2/xcat-extensions/pull/3

[2016-12-08 06:34] immarvin commented on #2248
the same issue can be recreated on sles12.2, which shippes ntp-4.2.8p8-14.1.ppc64le

[code]

[2016-12-08 07:23] immarvin commented on #2248
is this a typo?

[code]

[2016-12-08 07:32] daniceexi commented on #2248
truly, it's a bug I think.

[2016-12-08 07:38] djzort opened #2293 "xcat-ui rpm?"
Code is still there and being update: https://github.com/xcat2/xcat-core/tree/master/xCAT-UI

I am curious why there is no xcat-ui rpm in http://xcat.org/files/xcat/repos/yum/latest/xcat-core/ ?

[2016-12-08 09:12] neo954 commented on #2248
Hello @zet809, @tingtli @immarvin and all,

Please notice the NTP bugzilla bug number 2965 [1] I mentioned above is for NTP version 4.2.8p4 **ONLY**.

To make things clear, this bug does not exist for NTP version prior to 4.2.8p3. See the first comment of the bug report, I quoted below`... This still used to work in 4.2.8p3. ...`. And this bug was fixed in NTP version 4.2.8p5. As mentioned in the

[2016-12-08 09:20] neo954 commented on #2248
If we still have problem on SLES 11.4 or SLES 12.1. We may need to open another bug.

[2016-12-08 19:31] whowutwut opened #2295 "Move and validate xCAT statelite documentation over to RTD"
The current statelite documentation is on SourceForge Wiki:
https://sourceforge.net/p/xcat/wiki/XCAT_Linux_Statelite/

This issue tracks the movement of the documentation over to RTD
If we think this is a large amount of work ,we can switch this to an Epic

[2016-12-09 02:49] zet809 opened #2296 "[DEV]bmcdiscovery return incorrect mtm and serial number for B&S servers"
The fru 0 of B&S server looks like this:
[code]
Our bmcdiscovery wrongly get Product Part Number and Product Serial as the mtm and serial:
[code]

[2016-12-09 03:17] junxiawang opened #2297 "[fvt]sles12.2 mysqlsetup -i could not work"
env:sles12.2
build:
c910f04x30v24:~ # lsdef -v
lsdef - Version 2.13.0 (git commit baf1b4b73da49a0cb4dd71873dfe6d9d70a4794d, built Wed Dec  7 04:35:35 EST 2016)

How to reproduce:
[code]
actually, the mysqld is running
[code]

[2016-12-09 03:26] immarvin commented on #2297
fixed in https://github.com/xcat2/xcat-core/pull/2298

[2016-12-09 05:42] daniceexi commented on #2293
The code is there for zVM usage. Common xCAT version has stopped the support of xcat-ui functions.

[2016-12-09 05:55] junxiawang opened #2299 "[fvt]xcatprobe xcatmn do not clear the /etc/hosts if no usefull cn node to check dhcp in the environment"
env:all os
build:[root@c712f1n05 subcmds]# lsxcatd -v
Version 2.13.0 (git commit 99da40c22a1b442a60eb346ee337442d155df2fb, built Tue Dec  6 05:00:44 EST 2016)
[root@c712f1n05 subcmds]#
How to reproduce:
[code]

[2016-12-09 06:17] hu-weihua commented on #2299
@junxiawang , this issue have been fixed by pull request 2300, Cloud you verify it? thanks.

[2016-12-11 14:27] #2290 closed

[2016-12-12 19:25] gurevichmark opened #2302 "makeconserver -d should display an error if no noderange specified"
The man page for `makeconserver -d` shows that *noderange* is a required parameter, but the code allows running `makeconserver -d` and no error is displayed.
This is confusing, as the user might think that **all** node entries were removed from `/etc/conserver.cf` file.

The fix to this issue could be either to display an error when *noderange* is not specified, or change `makeconserver -d` to rem

[2016-12-13 03:06] 824380210 opened #2303 "copycds with centos 1611 iso image with wrong template call"
OS :CentOS 1611 + xCAT 2.13.0

copycds -n centos7.3 CentOS-7-x86_64-DVD-1611.iso   did not build a correct linuximage object

[root@mgt ~]# lsdef -t osimage -o centos7.3-x86_64-install-compute
Object name: centos7.3-x86_64-install-compute
    imagetype=linux
    osarch=x86_64
    osdistroname=centos7.3-x86_64
    osname=Linux
    osvers=centos7.3
    otherpkgdir=/install/post/otherpkgs/centos7.3/x

[2016-12-13 13:23] whowutwut opened #2304 "xcatprobe subcommands are not consistent in their naming"
The current list of sub commands are not consistent in their naming convention with a dash or underscore...

- detect_dhcpd
- switch-macmap
- code_template

Please correct while this is still beta.

[2016-12-13 14:05] whowutwut commented on #2286
Rejected Issue, closing out

[2016-12-13 14:05] #2286 closed

[2016-12-13 14:07] whowutwut commented on #2116
@hu-weihua  I think if we identify an issue as invalid, we should just close it.  If the originator does not agree, they can always comment and re-open.  I'll let you close this one.

[2016-12-13 14:08] whowutwut commented on #2010
This is under discussion, will remove a milestone until we come up with a descision to reduce issue movement

[2016-12-13 16:37] whowutwut opened #2306 "Need to clean up the temporary xCAT node during discovery regarding rcons"
When `consoleondemand` is set to `no`, there is persistent connections open to each node that is created using the `makeconservercf` command.  Once these nodes are in the `/etc/conserver.cf` configuration file, they cannot be removed after the node definitions are removed.

In our documentation, we have an error in the docs, it should be referencing the node-XXXX-XXXX definition...
http://xcat-doc

[2016-12-13 19:10] whowutwut commented on #2083
Closing this out, let's see if we see any new reports of this

[2016-12-13 19:10] #2083 closed

[2016-12-13 19:11] whowutwut commented on #62
@daniceexi  I can check the PDUs that we have in our frames, it looks like they can be connected, but need to investigate.

[2016-12-14 00:16] daniceexi commented on #62
@whowutwut Good. Someone can take some investigation first. Is this PDU management required by Coral?

[2016-12-14 02:14] #2116 closed

[2016-12-14 06:38] neo954 commented on #2248
Looked into the NTP problem on SLES 12.2. The local clock worked fluently, without any problem. But it may take up to ten minutes to get its first clock synchronize after the `ntpd` started up.

    # ntpq -pn
         remote           refid      st t when poll reach   delay   offset  jitter
    ==============================================================================
     *127.127.1.0     .L

[2016-12-14 06:48] hu-weihua commented on #2304
@whowutwut , this issue has been fixed by PR #2309. Could you help to verify it? thanks.

[2016-12-14 07:21] immarvin commented on #2248
hi @neo954 , on your latest comment, how did you run setupntp, "update node -P" or in postscript during provision?

[2016-12-14 07:27] neo954 commented on #2248
@immarvin, on the management node, run `makentp`. And then wait.

[2016-12-14 08:18] caomengmeng opened #2310 "[FVT]Please update case, failed to install xCAT 2.11 on ubuntu16.04 x86"
Description: Failed to install 2.11 xCAT with go-xcat using ``/go-xcat -x 2.11 -y install`` on ubuntu16.04-x86_64, because xCAT 2.11 not support Ubuntu Xenial.
Please update test case
[code]

[2016-12-15 01:58] tingtli commented on #2241
it is verified by the automation test. Close it.

[2016-12-15 01:58] #2241 closed

[2016-12-15 02:03] tingtli commented on #2232
I think although this is fixed on rhels, we need to verify this on sles . Move to next release.

[2016-12-15 02:05] tingtli commented on #2248
@neo, i have a question, why the remote is  *127.127.1.0 ?

[2016-12-15 08:54] tingtli commented on #2227
This is verified by autotest. Close it.

[2016-12-15 08:54] #2227 closed

[2016-12-15 15:41] mattaezell commented on #62
With all the BMC issues we've been having, I would say yes, this will be required for CORAL to be successful.  We can worry about how to exactly manage the PDUs that we will get later - what I think is important for now is setting up the framework for how this will work in xCAT.

In the _nodehm_ table, should the 'power' column allow a comma-separated list of management plugins?  Should we add a n

[2016-12-15 18:30] whowutwut commented on #2110
I have verified using the following version

[code]

There are dependencies now:
[code]

I'm good with this.

[2016-12-15 18:30] #2110 closed

[2016-12-15 18:31] whowutwut commented on #1890
@tingtli  If @khm  cannot verify this for the 2.13.0 release, can you verify and close out?

[2016-12-15 18:31] whowutwut commented on #2183
@junxiawang  please verify and close out this issue asap.

[2016-12-15 18:32] whowutwut commented on #1873
@caomengmeng  please verify and close out this issue asap.

[2016-12-15 18:32] whowutwut commented on #2072
@tingtli  Can you help verify and close this out, or assign to someone in test to verify and close?

[2016-12-15 18:39] whowutwut commented on #2193
@hu-weihua  Since I was testing xcatprobe command I also help to verify this.   I do have some comments...

It looks like DNS is being checked now....
[code]

And if I stop `named` we do see an error....
[code]

However, the messages do not make much sense to me.  I think we should change the mesages to:
[code]

Because "DNS service works well" is saying that it's working well already.  Instead of

[2016-12-15 18:39] #2193 closed

[2016-12-15 18:47] whowutwut opened #2320 "Request changing xcatprobe xcatmn output messages for checking services"
@hu-weihua  From my last comment in Issue #2193 , I think we should improve this messages for checking services can be improved..

Looking at the current output:

[code]

It seems like we are writing statements and then the response is "OK" or "FAIL".

Looking at the full list, I have some problem with the following messages:

* Important directory is configured correctly

  What is the important

[2016-12-15 18:58] whowutwut commented on #1596
It's been open from July, so I will close.  Please re-open if there is plans to implement this by PCM team.

[2016-12-15 18:58] #1596 closed

[2016-12-15 18:59] whowutwut commented on #1889
No objection to @immarvin suggestions, closing out this.

[2016-12-15 18:59] #1889 closed

[2016-12-15 19:11] whowutwut commented on #1905
@daniceexi Yes, I do see some good in this.

* allows us to know exactly which commits are in the RPM (without the need to install)
* a lot easier to read than the snap<date> format

The advantage of having the snap<date> is that during development, I can build xCAT multiple times and be able to do a yum update on the RPMs, where a git commit numbering scheme would require a commit to git before a

[2016-12-15 19:19] khm commented on #1890
Sorry; didn't know you were waiting on my feedback.  This looks excellent.  Thanks so much for the quick implementation!

[2016-12-15 19:19] #1890 closed

[2016-12-15 19:36] cxhong commented on #2248
The clock synchronization needs more than 10 mins is affected by CONFIG_RTC_SYSTOHC.
[code]
on sles12.2 test system:

[code]

[2016-12-15 21:34] gurevichmark commented on #2302
Since it appears that `conserver.pm` already has code to remove all the xCAT entries from /etc/conserver.cf file, the pull request #2321 will enable that. This way `makeconservercf -d` will remove all the xCAT node entries from /etc/conserver.cf file if no *noderange* is specified.

[2016-12-16 03:11] daniceexi commented on #1905
@whowutwut Good. If we want to adopt this change, two options:

* As you mentioned in the previous comment that for daily build we also adopt the commit ID in the rpm name to replace the snap date. In this way, we need to put effort to see how to do the release number bump up automatically.

* Use a compromised way that keep the daily build to use the snap date in the rpm name.

Which one do you p

[2016-12-16 07:11] neo954 commented on #2072
It was verified against xCAT version 2.13. I will close this one.

[2016-12-16 07:11] #2072 closed

[2016-12-16 07:44] hu-weihua commented on #2320
@whowutwut ， thanks for your comments. I will refine the output of ``xcatmn`` depending on your comments.

[2016-12-16 07:45] caomengmeng opened #2322 "[FVT]Failed to install SN in sles12.2 p8le and X86"
Description: Failed to setup SN with latest daily build in sles12.2 p8le and X86
[code]

In sles 12.3 p8le and X86_64, the SN is booted, but xcatd is not running.
[code]
Discussed with @immarvin and he is tracking this issue now with automation test environment.

[2016-12-16 07:57] neo954 commented on #2248
@cxhong, On RHEL 6.x, 7.x, Ubuntu 14.04.x, 16.04.x, every Linux distro has `CONFIG_RTC_SYSTOHC=y` in its kernel settings. It is the default kerne settings. This discovery explains nothing.

[2016-12-16 09:09] caomengmeng commented on #2231
Works well now, so close it

[2016-12-16 09:09] #2231 closed

[2016-12-16 09:09] caomengmeng commented on #1873
@whowutwut Works well now and close it

[2016-12-16 09:09] #1873 closed

[2016-12-16 09:10] caomengmeng commented on #1974
works well now, and close it

[2016-12-16 09:10] #1974 closed

[2016-12-16 09:12] caomengmeng commented on #2251
works well now

[2016-12-16 09:12] #2251 closed

[2016-12-16 15:16] immarvin opened #2325 "[CUSTOMER] updateflag.awk fail with timeout or be blocked with "Retrying flag update" when provisioning a bunch of node"
the is reported from the customer,  when they reprovision 516 nodes concurrently, some nodes delayed a significant time to update its status, and several nodes failed to update their status to "booted". in the xcat.log, they observed this:
[code]

[2016-12-16 15:19] immarvin commented on #2325
fixed in https://github.com/xcat2/xcat-core/pull/2326

[2016-12-16 16:50] whowutwut opened #2327 "[CUSTOMER] - ntp code in doxcat causing discovery delays up to 15 minutes"
Customer reported this issue during hardware discovery of 50+ nodes where a few seem to take 15 minutes before actually getting discovered.

The logs provided are in the `doxcat` code

[code]

Looking at the message around this, the only possible code path where we would wait is in the ntp code where we are attempting to sync the clock in the genesis kernel, then sync the hwclock on the server so

[2016-12-16 17:23] cxhong commented on #2248
well, that's what I read from online.
anyway,  you can google "linux kernel 11 minute mode" to see if something is useful

[2016-12-16 18:09] #2302 closed

[2016-12-16 21:44] whowutwut commented on #725
No response for some time, will close.  Feel free to re-open if needed.

[2016-12-16 21:44] #725 closed

[2016-12-16 21:46] whowutwut commented on #1491
@pdlun92  Can we close this out, is it verified?

[2016-12-16 22:00] cxhong commented on #2248
#2328 had few fixes for makentp and setupntp,  but sync time for MN still needs around 11 mins and CN seems fast, like between 3 to 5 mins from ntpq -p command
[code]

[2016-12-17 21:00] robers97 opened #2329 "copycds manpage document not complete"
I'm try to get xcat to accept centos7.3 ppc64le.

copycds doesn't recognize the ISO with -n centos73 and -a ppc64le supplied.

The man page says you can edit /opt/xcat/lib/perl/xCAT/data/discinfo.pm to recognize new OSs, but it doesn't tell you how to calculate the first value of the hash for the distnames array.

%distnames = (
    "1310229985.226287" => "centos6",
    "1323560292.885204" => "cen

[2016-12-17 21:13] whowutwut commented on #2329
Hi Steve, If you can mount the centos iso file:

[code]

Then you should find the identifier in a hidden file under the root .iso image... `ls -ltra /tmp/test`
I don't recall the name, but maybe like some discinfo file.   Then add that line to the discinfo.pm file you referenced above.

Give that a try and i'll see if you can't find it, i'll try to look more closely.

[2016-12-17 22:19] dletai commented on #62
Don't forget each node has dual power, and conservative links are
      to 2 different PDUs - that means any rpower hardxxx would have to
      control 2 ports - 1 on each pdu.

    On 15/12//2016 17:41, Matt Ezell wrote:

        Is this PDU management required by Coral?

      With all the BMC issues we've been having, I would say yes,
        this will be required for CORAL to be successful. We

[2016-12-19 02:08] immarvin commented on #2329
hi @whowutwut @robers97 , @penguhyang is trying to enhance the copycds to recognize centos iso automatically, just like what we did for rhels. the issue is https://github.com/xcat2/xcat-core/issues/2303

[2016-12-19 02:13] immarvin commented on #2297
hi @junxiawang , please verify the issue

[2016-12-19 02:13] #2003 closed

[2016-12-19 02:14] immarvin commented on #1982
no response from @rathdowney  for 2 months, will close this ticket first, please reopen it if recreated.

[2016-12-19 02:14] #1982 closed

[2016-12-19 02:15] immarvin commented on #1981
no response, close this ticket first, please reopen it if you need

[2016-12-19 02:15] #1981 closed

[2016-12-19 02:15] #1937 closed

[2016-12-19 02:16] immarvin commented on #1919
please reopen this ticket if need

[2016-12-19 02:16] #1919 closed

[2016-12-19 02:17] immarvin commented on #1843
no response, close this first, please reopen it if need

[2016-12-19 02:17] #1843 closed

[2016-12-19 02:18] immarvin commented on #1648
close this ticker first, please reopen it if need

[2016-12-19 02:18] #1648 closed

[2016-12-19 02:19] immarvin commented on #1379
hi @neo954 @daniceexi , any update on this?

[2016-12-19 02:20] #1139 closed

[2016-12-19 07:03] bybai commented on #2232
litefile
redhat6 needs:
    "ALL","/etc/rc3.d/","tmpfs",,
    "ALL","/etc/rc2.d/","tmpfs",,
    "ALL","/etc/rc4.d/","tmpfs",,
    "ALL","/etc/rc5.d/","tmpfs",,

sles11 needs:
"ALL","/etc/init.d/rc3.d/","tmpfs",,
"ALL","/etc/init.d/rc5.d/","tmpfs",,

[2016-12-19 07:56] #2233 closed

[2016-12-19 07:56] #2183 closed

[2016-12-19 08:03] tingtli commented on #2310
Fixed on #2332

[2016-12-19 08:14] zet809 commented on #581
We have work around for this defect, so close and reopen it when needed.

[2016-12-19 08:14] #581 closed

[2016-12-19 08:20] zet809 commented on #1813
@billwaj The code had been included in xCAT 2.12.4, will you pls close this defect if verified? Thx a lot !

[2016-12-19 08:23] caomengmeng commented on #2310
Closed

[2016-12-19 08:23] #2310 closed

[2016-12-19 08:31] zet809 commented on #2296
@xuweibj Hi, xu wei, will you pls take a look at this issue? Thx!

[2016-12-19 08:46] zet809 commented on #2306
@whowutwut It is true that we need to use 'makeconservercf -d <tmp_bmc_node>' to remove the entry from conserver.cf. But the problem is, every 'makeconservercf -d <tmp_bmc_node>' will cause a restart of conserver, which means, in the worst case, a monitoring console session will be restart 1-2 hundreds of times when there is temporary bmc node removing.

[2016-12-19 08:55] bybai commented on #2232
In sles12.1:
chdef -t site extntpservers=9.114.120.1
makentp -a

the setupntp can work well, so do not need to update litefile for sles12.1

[2016-12-19 21:50] whowutwut commented on #2306
@zet809, @gurevichmark fixed issue #2302, which I think removes all entries from the conserver.cf file if it was created by xCAT if nothing is specified for the range.  I think this might be another solution.

What would xcatprobe do for us?  It will identify the nodes, but what is the process for removing it and stop the conserver process from continuing to log a console that doesn't exist?

[2016-12-19 21:55] whowutwut commented on #1502
@tingtli  Can we have someone verify this and close it as well? Thanks!

[2016-12-20 06:23] zet809 commented on #2306
@whowutwut When I review @gurevichmark 's pull request, I found that if the node haven't been defined, its entry in conserver.cf can not be removed. So, your proposal seems don't work.
So, it seems the only place to remove conserver entry about temporary BMC node is remove the conserver entry before remove node definition within the discovery process.
Or, add another option for makeconsevercf to r

[2016-12-20 06:29] daniceexi commented on #1379
@neo954 Please update the status.

[2016-12-21 03:32] xuweibj opened #2335 "[DEV] rinv command get error message on Habanero"
[code]
[code]

[2016-12-21 07:11] immarvin commented on #2141
no response, close this first, please reopen it if need

[2016-12-21 07:32] tingtli opened #2336 "[FVT]:xcatprobe does not give dhcp information when mac attribute has several values."
xCAT 2.13.0
mac attribute is specified as follows.

[code]
On another screen, check the status
[code]

[2016-12-21 07:42] tingtli opened #2337 "[FVT]"/tftpboot/boot/grub2/grub.cfg-<MAC>" is not consistent with "/tftpboot/boot/grub2/grub.cfg-<IP>" and "/tftpboot/boot/grub2/<node>" on "nodeset""
xCAT 2.13.0 on rhels
How to reproduce
1. use xcatdebugmode default value "1". The provision works normally
2.  set xcatdebugmode to "2" in site table and the provision stops at following screen.
[code]
3. Set xcatdebugmode to "1" and run nodeset, then boot cn to reinstall the node, but the screen is still same with when debugmode is 2

[2016-12-21 07:54] immarvin commented on #2325
another PR related to this issue https://github.com/xcat2/xcat-core/pull/2318

[2016-12-21 08:11] tingtli commented on #1502
with @immarvin 's comments, I verified this bug when the node definition is as follows
[code]
The provision succeeds.  I will close this bug.

[2016-12-21 08:11] #1502 closed

[2016-12-21 09:07] immarvin commented on #2337
fixed in https://github.com/xcat2/xcat-core/pull/2341

[2016-12-21 09:12] CJCShadowsan commented on #2141
Sorry, totally missed this.

The version of perl-Net-DNS that xcat-dep installs is 0.80 - the version I have to roll back to in order to get perl-Net-DNS to work is 0.72 (bundled in with the OS).

[2016-12-21 09:16] CJCShadowsan commented on #2141
Btw - I can't re-open this issue, because a contributor closed it - if you could re-open this for me, that'd be great.

[2016-12-21 09:21] immarvin commented on #2337
"/tftpboot/boot/grub2/grub.cfg-<MAC>" is not consistent with  "/tftpboot/boot/grub2/grub.cfg-<IP>" and "/tftpboot/boot/grub2/<node>" on "nodeset"

steps to reproduce:
[code]

[2016-12-21 10:26] arif-ali opened #2342 "Unable to open kickstart file"
Below transcript taken from IRC

<D_FOY> I've just upgraded xcat to 2.12.4 and upon stateful installs I'm getting this error "Unable to open input kickstart file: Could not open/read file:///tmp/partitioning". Has anyone experienced something similar?

<arif-ali> D_FOY, did you manage to resolve your partitioning issue?

<D_FOY> arif-ali, I did the new pre.rh is calling it /tmp/partitionfile but t

[2016-12-21 10:31] arif-ali commented on #2342
<D_FOY> I haven't upgraded to that yet just incase there are any bugs. The issue only occured with rhels6 which uses pre.rh and rhels7 uses a pre.rh.rhels7 so no issue occured with rhels7

[2016-12-21 15:58] mattaezell opened #2343 "Allow bmcsetup to be run outside of genesis"
There are a couple reasons why you might want to run bmcsetup while nodes are online (in an osimage, not genesis)
- You forgot to put _runcmd=bmcsetup_ in the chain table
- You want to change the BMC username/password

I was able to copy the relevant scripts to the node and modify them to run outside of genesis
- Change the logging to remove genesis (cosmetic only)
- Remove /tmp/ipmicfg.xml at the

[2016-12-22 01:41] adambertsch opened #2345 "doxcat not waiting long enough before ALLUP_NICS query during provisioning"
In xcat-core/xCAT-genssis-scripts/bin/doxcat there's a section around line 197 that tries to get the names of all of the interfaces that have link UP.  It then starts a dhclient for each of those interfaces.  If no interfaces are found, it sleeps and tries again.

The problem appears to be that if one interface is up, but the others are not, we can continue.  If you don't have link up yet on the i

[2016-12-22 01:43] immarvin commented on #2345
hi @zet809 ,would you please take a look at this?

[2016-12-22 01:52] immarvin commented on #2343
hi @zet809 would you please take a look at this?

[2016-12-22 02:03] zet809 commented on #2345
@adambertsch Can you show me the version of xcat-genesis-base you are using with "rpm -qa | grep -i xcat-genesis-base" for RH and 'dpkg -l |  grep -i xcat-genesis-base' for ubuntu? We had fixed this issue in a xCAT-genesis-base Nov 23 build.

[2016-12-22 02:28] immarvin commented on #2342
hi @arif-ali ,seems D_FOY is using the customized template for osimage, there are some modification in default template file shipped in xCAT.

if this is the case, please see ``diff <custimied tmpl> <xCAT shipped tmpl>`` for the modifications, he might need to update the customized template file  based on the latest version of the template file.

If the customization is on partition scheme, xCAT s

[2016-12-22 02:51] adambertsch commented on #2345
We're on RHEL, and the version is the 2.12.4 release (IBM Garrison ESP supported level), although the code I was looking at above was xcat-core master from today.

[root@rzmanta22 ~]# rpm -qa |grep -i xcat-genesis-base
xCAT-genesis-base-x86_64-2.12-snap201607221057.noarch
xCAT-genesis-base-ppc64-2.12-snap201610250931.noarch
[root@rzmanta22 ~]#

Looks like the snap is older than your fix.  I will s

[2016-12-22 02:57] adambertsch commented on #2345
I looked at the fix for #1640 and it looks like it might be a subtly different issue.

My issue is that there is a 10Gb fiber nic with link, and 2x 1Gb copper nic with link.  But the fiber nic comes up first.  However, the 10Gb fiber nic is an external connection, and DHCP is over the internal 1Gb management nic.  So we dhclient to 10Gb and move on, with dhclient never running on the copper nics.

[2016-12-22 03:04] adambertsch commented on #2345
It appears that the 10Gb nic comes up about 23 seconds after boot, where the 1Gb comes up about 29 seconds after boot.  If the first time we run through this part of doxcat is between 23 and 29 seconds we fail.  If it is before 23 second we delay and it works OK, and if after 29 seconds everyone is up and we are OK.

[2016-12-22 03:29] zet809 commented on #2345
@adambertsch Hi, it is not about issue 1640, the pull request #2187 is the correct fix this defect.
In the fix, we will wait 2+number_of_nics seconds for all the LINKed NICs to be UP.

[2016-12-22 04:36] #2337 closed

[2016-12-22 06:35] tingtli opened #2346 "[FVT]update script pre_deploy_sn to support PostgreSQL database in automation test bucket"
We need to support both Mysql and PostgreSQL in automaton bucket. Need to update pre_deploy_sn to run PostgreSQL setup script.

[code]

[2016-12-22 07:54] zet809 commented on #2343
@mattaezell I have modified the 2 scripts: bmcsetup and getipmi to work both within genesis and as postscript for diskful/diskless OS provisioning. They are available at #2347
We need to discuss whether include them in xCAT-server package directly.

[2016-12-22 08:00] xuweibj opened #2348 "[DEV] bmcdiscover did not report password wrong when no password input for Tuleta"
[code]

More infomation:

[code]

[2016-12-22 08:39] Obihoernchen commented on #2325
Is it feasible (without causing other problems) to cherry-pick both PRs for 2.12.3?

[2016-12-22 18:46] adambertsch commented on #2345
Got it.  Closing with my thanks!

[2016-12-22 18:46] #2345 closed

[2016-12-22 22:43] jjinjin123 opened #2350 "Wcons IPMI not working due to xcat code"
This problem occurs with xCAT 2.12.2.
The script (/opt/xcat/share/xcat/cons/ipmi) will query the BMC on a node and if it detects that the manufacturer id is 343 (intel), then it will use the -o intelplus option with ipmitool. But this function breaks conserver connections to one of our system.
Fixed by modifying the code thus:

if ($isintel) {
##Disabled as breaks Terri
#$inteloption = " -o intelp

[2016-12-23 02:08] zet809 commented on #2350
@jjinjin123 Which kind of server your system is? No an inter produced BMC?
Will you pls show me the output of 'ipmitool ... mc info'?

[2016-12-23 07:51] tingtli commented on #2248
@cxhong  Doest that mean we need to wait about 10 minutes after CN's provision, then run setupntp?

[2016-12-27 02:37] #2303 closed

[2016-12-27 02:42] #2329 closed

[2016-12-27 02:55] tingtli opened #2354 "[FVT]:use variable in migration cases to check the latest version other than LATEST_VERSION"
We need to run migration test for the prior version to stable version and development version.
Need to update migration cases to support different "latest version". Please don't use check:output=~$$LATEST_VERSION in case redhat_migration and sles_migration

[2016-12-28 10:10] junxiawang opened #2355 "[fvt]2.13.1 system logs need to return to control node if one case stopped in auto test environment"
env:all os
build:latest build
How to reproduce:
[code]

[2017-01-03 01:14] tingtli commented on #2336
I've verified this with xcat 2.13.1. Close it.

[2017-01-03 01:14] #2336 closed

[2017-01-03 08:07] chenglch commented on #2078
hi @immavin,  I think no need to add comments about this, a developer should understand the scope of a local variable.

[2017-01-03 08:07] #2078 closed

[2017-01-03 16:11] whowutwut opened #2362 "[CUSTOMER] If packimage is not run, osimage in the chain table will fail on netboot images"
xCAT provides the ability for the `chain` table attribute to automatically install an operating system by using the `osimage` keyword in the chain table.  For example:

[code]

for diskful installs, this is OK, but for diskless installs, if the osimage is not prepared, the error message is quite cryptic and hard to figure out the cause.

The logs would show a cryptic msg similar to:

[code]

But l

[2017-01-03 16:21] gurevichmark commented on #2306
@zet809 I did some testing on the Dec 27 build of xCAT.

The ` makeconservercf -d` removes all entries between **#xCAT BEGIN** and **#xCAT END** tags from `/etc/conserver.cf` file. It does not seem to care if there is a definition for that node in xCAT.

[2017-01-03 17:58] #1491 closed

[2017-01-03 20:16] cxhong commented on #2248
That's what I saw on the SLES system:
1) took 5 to 11 mins to sync the time for MN after run makentp on MN
2) took 3 to 5 mins to sync the time for CN after run "updatenode CN -P setupntp" on MN

[2017-01-03 20:29] gurevichmark commented on #1365
Can not recreate this problem.
Appears to work on Garrison (frame23cn18) and Firestone (frame45cn14):

[code]

[2017-01-03 20:54] whowutwut commented on #1365
Thanks @gurevichmark  Let's close and re-open if we see it again,

[2017-01-03 20:54] #1365 closed

[2017-01-03 21:47] gurevichmark commented on #2139
@zet809 After a long vacation break :-) I am looking at working on this issue again.

So to refresh my memory:

- The changes that we discussed above: if we use 'vm﻿storagemodel=virtio', the diskname shall be 'vda' rather than 'sda', does it matter if `cpumodel` is `ppc64` or `ppc64le` ? OR should these changes be made only when `cpumodel` is `ppc64` ?
- What are the possible valid values for `vm﻿

[2017-01-03 23:52] jjinjin123 commented on #2350
Sorry for delay.
SGI UV10

[root@terri ~]# ipmitool mc info
Device ID                 : 33
Device Revision           : 1
Firmware Revision         : 0.20
IPMI Version              : 2.0
Manufacturer ID           : 343
Manufacturer Name         : Intel Corporation
Product ID                : 64 (0x0040)
Product Name              : Unknown (0x40)
Device Available          : yes
Provides Device SDRs

[2017-01-04 03:03] hu-weihua commented on #2355
@junxiawang, I have fixed this issue by PR #50 in ibm github, could you verify it?

One more thing, could you open all issues against auto test framework in ibm internal github, it's a better option. thanks.

[2017-01-04 03:10] tingtli commented on #2355
@junxiawang  Please open the automation related(xcatjktest, test.sh, configuration files etc) defect under
https://github.ibm.com/xcat2/jenkins/issues

[2017-01-04 03:23] immarvin commented on #2322
cannot be recreated

[2017-01-04 05:24] zet809 commented on #1813
The code have been included in xCAT 2.12.4, so close this defect.

[2017-01-04 05:24] #1813 closed

[2017-01-04 06:00] zet809 commented on #1567
Split this issue into 2 parts:
1. for the parameter error, can be included in xcatprobe discovery subcommand
2. for the not matching MAC address, may need to work with xcatprobe switch-macmap in Ansible process.
So, in this defect, we will focus on the 1st issue, and @xuweibj  will you pls open another defect to trace the 2nd issue? Thx a lot!

[2017-01-04 06:05] xuweibj opened #2364 "[DEV] No node defined for a switch & switchport which got MAC address"
The 2nd part of issue #1567
The situation is, when doing switch based hardware discovery, a MAC address passed through a switchport, but there is no pre-defined node matching this switchport.
This issue is supposed to be fixed with tools like Ansible to integrate xcatprobe discovery and xcatprobe switch-macmap subcommands.

[2017-01-04 06:23] zet809 commented on #232
Hi, @whowutwut , 'env -i' will start a script with an empty environment, but if user need to read xCAT exported environment variables, nothing can be got.

So, I think the correct method is renamed the name of those variables by:
1. send out a notification in maillist that we will rename the variables
2. mention the renaming in our release notes(such as 2.13.1 release notes if we'd like to impleme

[2017-01-04 16:23] whowutwut commented on #232
Can we create a staggered approach, where we start take the existing variables that we are exporting that we plan to change and echo out a WARN message into the logs.... then export the new variable, For example...

[code]

Once this is in place, we can send a note out to the xcat-users email distribution and start mentioning it in the release notes.

Also, in the xcatprobe utility, add a check th

[2017-01-04 16:26] whowutwut commented on #2350
@jjohnson42  Any idea about this one?

[2017-01-04 16:29] whowutwut commented on #2322
@caomengmeng  Please re-open if it occurs again

[2017-01-04 17:06] whowutwut commented on #2335
@xuweibj  Are you currently working on this? which team are we borrowing these nodes from?

[2017-01-04 19:00] ConstipatedNinja opened #2368 "Syncfiles cannot create symlinks"
It appears that the syncfiles function can't place down symlinks. Writing a script to handle one or two symlink creations is no big deal, but for the sake of having everything in the same place I would love it if the functionality could be added to produce symlinks via syncfiles.

Thanks!

[2017-01-05 01:39] xuweibj commented on #2335
@whowutwut I haven't started my work on this. I will discuss with Ertao whether fix it in this sprint.

[2017-01-05 02:40] immarvin commented on #2325
hi @Obihoernchen , the PR https://github.com/xcat2/xcat-core/pull/2326 have some problems during review.
It is ok to cherry-pick the PR https://github.com/xcat2/xcat-core/pull/2318 for 2.12.3

[2017-01-05 04:05] daniceexi commented on #2368
Use postscript of syncfiles can satisfy your requirement.
http://xcat-docs.readthedocs.io/en/stable/guides/admin-guides/manage_clusters/common/deployment/syncfile/syncfile_synclist_file.html#postscript-support

[2017-01-05 05:24] immarvin commented on #2322
can not find ``mysqlsetup -u -f /tmp/servicenodes`` in xCAT-test/autotest/testcase/installation/pre_deploy_sn and  xCAT-test/autotest/testcase/installation/SN_setup_case, which is the mandatory step in http://xcat-docs.readthedocs.io/en/stable/advanced/hierarchy/databases/mysql_configure.html

[2017-01-05 05:36] immarvin commented on #2322
this is a issue in test case, can someone in FVT take a look?

[2017-01-05 06:00] tingtli commented on #2322
@immarvin  I think this is realized by following command which is in pre_deploy_sn
$cmd = "echo \"GRANT ALL on xcatdb.* TO xcatadmin@\'%\'  IDENTIFIED BY \'12345\'\;\" | mysql -u root -p12345";

[2017-01-05 06:24] tingtli commented on #2232
It is verified by autotest. Close it.

[2017-01-05 06:24] #2232 closed

[2017-01-05 06:30] tingtli commented on #1958
Reference to #PR2349
i will close this bug. If there is any problem, will reopen it.

[2017-01-05 06:30] #1958 closed

[2017-01-05 06:40] #2090 closed

[2017-01-05 07:28] immarvin commented on #2090
fixed in https://github.com/xcat2/xcat-core/pull/2369

[2017-01-05 08:14] hu-weihua commented on #2320
@whowutwut , I have refine the code depending on your comment by PR #2370. Could you help to review the change, thanks.

[2017-01-05 15:43] whowutwut commented on #2335
I was just wondering who owns the c712 system?  I am not aware of any Habaneros that we have in our  possession.

[2017-01-05 15:59] Obihoernchen commented on #2325
I did some more research on this because it was way too annoying to have those issues every boot.

First of all I've patched xcatd of all our 2.12.3 service xcat nodes with https://github.com/xcat2/xcat-core/pull/2318/commits/3d3f367f69d18e09e849101d7110e16536cc2030

Now I don't see the `xcatd: possible BUG encountered by xCAT DB worker SIGPIPE xcatd: [...]` error anymore.
But it doesn't seem to f

[2017-01-05 18:30] cxhong commented on #1652
I will close this issue for now.  will open new issue if there need modification.

[2017-01-05 18:30] #1652 closed

[2017-01-05 18:31] cxhong commented on #2219
it's required new design, will move to 2.14.

[2017-01-05 19:48] whowutwut commented on #1738
Tracking this in our testing framework on GHE https://github.ibm.com/xcat2/jenkins/issues/57

[2017-01-05 19:48] #1738 closed

[2017-01-05 20:52] whowutwut commented on #2325
@Obihoernchen  I just cherry-picked commit 3d3f367f69d18e09e849101d7110e16536cc2030 to the 2.12 branch.  (#2318) The snapshot builds will be created for 2.12 which is at version 2.12.4 version but there's currently no plan to release a 2.12.4 version at this time.

[2017-01-06 02:22] #2206 closed

[2017-01-06 02:36] tingtli opened #2371 "[FVT]:enhancement: cumulus switch could not be configured correctly if it uses the default onie switch type"
Following Cumulus documentation. Use following command to create a switch definition
[code]
Use script configucumulus to config the ssh for root and get the switch type error

[code]

Check the script, it should match cumulus as the switchtype
[code]
Modify the switch type to cumulus and the ssh could be configured.
[code]

I think we need to add the switchtype description in the documentation if

[2017-01-06 03:01] tingtli opened #2372 "[FVT]: Fix some typo in cumulus documentation"
Please fix some typo in the documentation.
Remove "~:" in following section

[code]
[code]

[2017-01-06 03:14] tingtli opened #2373 "[FVT]:enhancement: give correct postscript and postbootscript when the template is onieswitch"
Use --template to create a switch template and get following definition
[code]
Since we don't support switch to use otherpkgs and syslog,remoteshell and syncfiles at the moment. How about make the value blank. then if users use the definition, they could not wondering why they need to remove it.

[2017-01-06 04:55] immarvin commented on #2372
hi @tingtli , ``~:`` is a prompt for bash, it is used to differentiate the command and its output

[2017-01-06 05:06] immarvin commented on #2371
fixed in https://github.com/xcat2/xcat-core/pull/2375/files

[2017-01-06 05:13] #2371 closed

[2017-01-06 09:32] zet809 commented on #232
@whowutwut I agree with you, and if we can add them before the 2.13.1 release, it will be better.

[2017-01-09 03:13] chenglch commented on #2362
Hi @tingtli, can you help recreate this issue in our test environment? From the description above, I can not locate where the real error is.

[2017-01-09 06:05] tingtli commented on #2372
@immarvin  i  understand. But in the documentation, you use ~: in some sections but not use it in others. Please keep consistent.

[2017-01-09 06:10] immarvin commented on #2372
only the commands with output listed in the doc are started with ``~:``

[2017-01-09 06:37] tingtli opened #2377 "[FVT]makedns add redundant message in /etc/named.conf"
xCAT 2.13.1
[code]
Steps to reproduce
1. add a new network definition in networks table
[code]
2. run makedns -n and there is a message added to /etc/named.conf
[code]
3. add a node to /etc/hosts
[code]
4. run makedns and get another message in the /etc/named.conf
[code]

[2017-01-09 08:18] tingtli commented on #2354
This is fixed by #2361. Close it.

[2017-01-09 08:18] #2354 closed

[2017-01-09 08:21] immarvin commented on #2342
no response, close this issue first, please reopen it any update, thanks

[2017-01-09 08:59] #2297 closed

[2017-01-09 12:40] zet809 commented on #2362
@whowutwut Hi, victor, it seems the result got by nextdestiny had already ncluded useful messages. It would  return 3 error messages, the 1st one pointed to the root cause. And the last is got from xcatd.

Maybe just outputting the 1st error message is reasonable? What is your idea?

[xCAT Genesis running on frame45cn14 /]# /bin/nextdestiny 192.168.3.29:3001

  <error>**No packed image for platfor

[2017-01-09 13:03] zet809 commented on #2139
@gurevichmark Hi, Mark, sorry for the delayed response. My answers are:
1. shall be 'vda' no matter what the cpumodel is. It means for ppc64, ppc64le, x86_64, it shall be vda if using 'vm﻿storagemodel=virtio'.
2. I think it can be 'scsi' or 'virtio', but 'scsi' will be used by default.
3. Oh, maybe my mistake, you can see the 'bus' attribute after powering on the VM.

[2017-01-10 03:31] whowutwut commented on #2362
@zet809  I believe those messages that we see when we execute it manually in the genesis kernel  are not saved in any xCAT log files except for the `commands.log` so if we can make the messages more transparent in `/var/log/messages` or `/var/log/xcat/cluster.log` , it should be OK.

As we talked on the phone, maybe it is better to gracefully exit instead of the die which causes the plugin bug.  T

[2017-01-10 06:05] immarvin commented on #2373
fix in https://github.com/xcat2/xcat-core/pull/2381

[2017-01-10 07:08] immarvin opened #2382 "[DEV] "rinstall" should give more exact message when dhcpd is not started"
in ``xCAT-server/lib/xcat/plugins/rinstall.pm``:
[code]

[2017-01-10 08:02] junxiawang opened #2384 "[fvt]2.13.1 xcatprobe xcatmn need modify firefall and diskspace check's output"
env:rhels7.3 ppc64le
build:
 lsxcatd -v
Version 2.13.1 (git commit bce3ec37e0762a1f9dbe8828c10ef7dac80c51a4, built Fri Jan  6 06:16:18 EST 2017)
How to reproduce:
[code]

[2017-01-10 08:11] immarvin commented on #2382
fixed

[2017-01-10 08:46] hu-weihua commented on #2384
@junxiawang , Could you verify it? thanks

[2017-01-10 08:47] junxiawang opened #2387 "[fvt]2.13.1 xcatd could not be started if kill all xcat deamons"
env:rhels7.3 ppc64le
build:Version 2.13.1 (git commit bce3ec37e0762a1f9dbe8828c10ef7dac80c51a4, built Fri Jan  6 06:16:18 EST 2017)
How to reproduce:
[code]

[2017-01-10 08:58] junxiawang commented on #2387
xcatd could not started if xcatd deamons are killed from  xcat version 2.13*

[2017-01-10 09:26] immarvin commented on #2387
this remove ``/var/run/xcatd.pid`` then start

[2017-01-10 09:35] zet809 commented on #2362
@whowutwut Hi, victor, a small take with @hu-weihua shows that we don't need to write the redundant error message into log files other than commands.log. So within pull request #2388, I just remove the incorrect error message about xcatd.

[2017-01-10 15:00] junxiawang commented on #2387
but service xcatd start will no error message even if xcatd could not be started

[2017-01-10 15:23] junxiawang opened #2391 "[fvt]2.13.1 xcatprobe xcatmn need modify the dhcp's probe result's format"
env:rhels7.3 ppc64le
build:
Version 2.13.1 (git commit bce3ec37e0762a1f9dbe8828c10ef7dac80c51a4, built Fri Jan  6 06:16:18 EST 2017)
How to reproduce:
[code]

[2017-01-10 15:48] Phhere opened #2392 "Unsupported character in bootparams.addkcmdline"
It is not possible to use the character "," in bootparams.addkcmdline. It alsways gets replaces by a space in elilo files.
I need it for UV2000 to set some console parameters like
`earlyprintk=ttyS0,115200n8` console=ttyS0,115200n`

Affected Version:
Version 2.11.1 (git commit b6e4c8ca1847bf574d7e86687d74a7f2576d428a, built Thu Apr 14 09:32:27 EDT 2016)

[2017-01-10 17:17] davemx-5 commented on #2342
Hi immarvin. D_FOY here. I was using a custom template previously. Then set about changing everthing to xCAT defaults before I upgraded. Everything was running fine before the upgrade with the standard xCAT template. However issue only occurred when I upgraded xCAT, then it began to complain about /tmp/partitioning vs /tmp/partitionfile. The error was silenced by putting in place the previous pre.

[2017-01-10 18:53] cxhong commented on #2335
The Habaneros system is used fru id 43 to get firmware information,  our current ipmi.pm code used fru id 47.
[code]

fru 47 and fru 43 output from Habaneros system:
[code]
fru 47 and fru 43 output from garrison system:
[code]

[2017-01-10 20:13] gurevichmark commented on #2139
@zet809 a few more questions:
- I am a little confused what you meant when you said "*Changing to 'ppc64$' only will work.*" in the initial description of this problem.
- To me it seems the logic should be as follows. Please correct if wrong:
   - if vm﻿storagemodel=virtio then prefix is "**vd**" no matter what cpu model is
   - if vmstoragemodel=scsi then prefix is "**sd**" no matther what cpu mo

[2017-01-11 00:47] immarvin commented on #2377
please paste the link of PR after the PR is created

[2017-01-11 00:47] immarvin commented on #2382
please paste the link of PR after the PR is created

[2017-01-11 01:06] immarvin commented on #2342
response from D_FOY:
[code]

[2017-01-11 01:16] immarvin commented on #2342
hi @davemx-5 , the default template file shipped by xcat is ``/opt/xcat/share/xcat/install/rh/compute.rhels6.x86_64.tmpl``, is ``/install/apocrita/templates/sl6/compute.rhels6.x86_64.tmpl`` different with it?

[2017-01-11 01:45] bybai commented on #2377
https://github.com/xcat2/xcat-core/pull/2378

[2017-01-11 01:50] tingtli opened #2396 "[FVT]:configcumulus --switches edgecoresw1 --all could not find the license file"
xCAT 2.13

This is not included in the cumulus documentation. I just run some test for the script. It is a nice to have function. So, i open this in 2.13.2.

[code]
Take a look at the help information.
[code]

[2017-01-11 01:59] immarvin commented on #2396
only the ``configcumulus --switches switchnames --ssh`` is the documented option, the rest options should be supported by postsctipts,  is it ok to remove the other options? @cxhong

[2017-01-11 02:21] zet809 commented on #2139
1. If I remember correctly, the ppc64 hypervisor doesn't support virtio. You can verify that with pkvm2.x
2. Correct
3. For the vmstoragemodel, it doesn't related to the ARCH of the hypervisor. So for x86_64, it can also use the sd* by default
4. In fact, hd* is for another kind of bus, maybe ata. Currently, most servers using scsi bus for disk IO.
5. I remember just uncomment the code above will

[2017-01-11 02:24] immarvin commented on #2392
fixed in https://github.com/xcat2/xcat-core/pull/2397

[2017-01-11 02:47] tingtli opened #2398 "[FVT]:makentp -a returns NTP maynot be synchronized on servicenode"
xCAT 2.13.1
Seems I only see this problem on sles11.4.   Here is the steps to reproduce it.

1. Setup mn and install SN
[code]
2. Config SN with following configuration. Make sure setupntp=1 on servicenode
[code]
3. make sure MN has correctly ntp server
[code]
4. make sure ntp attributes in site table is correctly configured
[code]
5. run makentp on mn
[code]
6. login serivce node to take a look
[

[2017-01-11 06:08] immarvin commented on #2398
seems the same scenario with https://github.com/xcat2/xcat-core/issues/2248

[2017-01-11 06:18] tingtli commented on #2398
@immarvin  although the warning message is the same, i don't  think they are the same.
Bug 2248 could not be reproduced if MN ntp server is stable and CN's clock could sync with MN at last. But seems SN could not.

[2017-01-11 06:46] immarvin commented on #2398
hi @cxhong , you mentioned the following message in the https://github.com/xcat2/xcat-core/issues/2248
[code]

will ``/usr/sbin/rcntp ntptimeset`` block and wait before time synced, or it will try once and fail?

if the answer is the later, can we set a timeout value(such as 20 min) and retry ``/usr/sbin/rcntp ntptimeset`` in a loop in setupntp?

[2017-01-11 08:48] chenglch commented on #2387
This is default behavior of systemd

[2017-01-11 09:46] daniceexi commented on #2387
Do we want to refine the start script to skip this problem?

[2017-01-11 12:21] immarvin commented on #2387
the work around is ``service xcatd restart``

[2017-01-11 15:24] davemx-5 commented on #2342
hi @immarvin, yes there was a difference I was using the old rhels6 template with the new pre.rh which was the problem. It's solved now and running as normal. Thank you for your help. It's a very silly mistake!ha

[2017-01-11 16:29] whowutwut commented on #2342
I think this is resolved, so closing, please re-open if needed.

[2017-01-11 16:29] #2342 closed

[2017-01-11 19:12] whowutwut commented on #2387
Can we look into changing to a systemd script for xcatd?

[2017-01-11 19:34] whowutwut commented on #2382
I think this should be in pending and moved it... correct @penguhyang ?

[2017-01-11 19:43] cxhong commented on #2398
currently, makentp command or setupntp postscripts will just try once, doesnt' have retry.
makentp -a will setup NTP server for both management node and the service node.  from issue #2248, we discovered MN has to wait 5 to 11 mins to sync the time,  so makentp -a command for set up service node will not work since MN time is not sync yet.

I think we should not use makentp -a to set NTP server fo

[2017-01-11 20:12] cxhong commented on #2398
ran this on my test system:
1) MN NTP server is synced.
[code]
2) run "makentp -a"
[code]
on the service node, /etc/ntp.conf is updated, but no ntpd service is running.

3) after wait for 5 mins,  the time is synced on the MN again
[code]
4) then run updatenode
[code]
5) ntpd is running on the service node, but time is not sync yet.
[code]
6) service node is synced after 4 mins
[code]

@immarvin ,

[2017-01-11 21:13] cxhong commented on #2396
I like to keep those options around until cumulus switch process is well defined.

[2017-01-12 02:14] immarvin commented on #2398
hi @cxhong , since ``makentp -a`` invoke "setupntp" postscript on SN, so this is a problem in ``setupntp`` instead of ``makentp`` .  Even when the ntp on MN has been synced, it might still need some time for CN or SN running "setupntp" to sync the time, it is a problem to try only once, I think we should add some retry+timeout logic around ``/usr/sbin/rcntp ntptimeset``

[2017-01-12 02:56] zet809 commented on #2108
Move to next release to trace the discussion.

[2017-01-12 06:43] zet809 commented on #2306
Hi, @gurevichmark you are right that ` makeconservercf -d` will removes all entries.
And @whowutwut , we can use this command to remove all entries, but it is a little hard to mention it in our document since our document is per node based. I think we can keep the document as it is, and if there is user concerns, we can tell them to use this command after hardware discovery is done. What is your i

[2017-01-12 06:58] junxiawang opened #2404 "[fvt]2.13.2 docker's cases need to modify for docker's version updated to 1.12.6"
env:ubuntu
build:
Version 2.13.1 (git commit 62bd7a4072bb629ede16974272c993f4e707765f, built Wed Jan 11 08:47:14 EST 2017)
How to reproduce:
[code]

[2017-01-12 07:40] #2355 closed

[2017-01-12 07:41] #2391 closed

[2017-01-12 07:41] #2384 closed

[2017-01-12 07:42] #2299 closed

[2017-01-12 07:42] tingtli commented on #2377
It is verified by daily run autotest. Close it.

[2017-01-12 07:42] #2377 closed

[2017-01-12 07:48] zet809 commented on #2258
Will rebuild genesis-base based on Centos7.3 in next release.

[2017-01-12 07:49] zet809 commented on #232
I think we need to add the notifications as @whowutwut suggested in next release.

[2017-01-12 07:54] zet809 commented on #1862
Close this defect first and reopen it if reproduced.

[2017-01-12 07:54] #1862 closed

[2017-01-12 07:55] zet809 commented on #713
Move to next release to rebuild xcat-genesis-base based on CentOS 7.3 and include all drivers.

[2017-01-12 07:55] Phhere opened #2406 "Support for package groups in otherpkgs"
It would be great when support for package groups would be available in otherpkgs like in ospkgs

[2017-01-12 08:19] junxiawang commented on #1887
I will modify the testcase for docker version changed ref:https://github.com/xcat2/xcat-core/issues/2404

[2017-01-12 08:20] #1887 closed

[2017-01-12 08:31] caomengmeng commented on #2322
Confirmed with @immarvin, it is failed for xCAT code bug, and @immarvin is tracking it.

[2017-01-12 09:22] tingtli commented on #2398
@cxhong  Yes. If we use "updatenode SN -P setupntp". SN could be  synced after several mins.
The problem is makentp -a could not work as design.

[2017-01-12 20:09] chuckbrazie opened #2407 "XCAT UI needs to use secure cookies and delete cookies when logging out"
In security scans for z/VM the xCAT GUI cookies were flagged as not using secure and not being cleaned up when you select logout from the GUI. I have the changed files for z/VM and will submit a pull request. I thought it would be good to track this with an issue. If you do not want me to open issues for items I merge, let me know, thanks.

[2017-01-12 23:51] whowutwut commented on #2226
@zet809 I ran this today and it seemed to work OK. The compute side does not power off when we run the command. Should we consider powering off the compute side. What would be the use case to reset the BMC and leave compute side on...

My thoughts is that this machine will be physically moved and maybe the user wants to reset to make discovery easier when installed again...

[2017-01-13 03:17] immarvin commented on #2406
hi @Phhere , where are the package groups in? the os iso?

[2017-01-13 05:02] zet809 commented on #2226
Hi, @whowutwut In more of cases, BMC and host are two independent modules, the configuration of BMC shall not affect the running of the host. If the firmware of BMC is changed, and host need to get some data from firmware, I do think the host shall be rebooted.
For your thought, after think it over, I agree powering off the server is what shall do next. But the option 'ip=dhcp' shall be modified t

[2017-01-13 05:05] zet809 commented on #2335
@cxhong Thx for your information, casandra, we need to think over how to fix it.

[2017-01-13 07:44] Phhere commented on #2406
In my case the package groups came from the hardware vendor iso for some additional kernel modules and so on. I unpacked the iso and integrated it into the custom repo and included the groups in repodata

[2017-01-13 07:57] immarvin commented on #2406
please provide the linux distribution of your compute nodes, as well as a sample otherpkglist including the package groups if convenient.

[2017-01-13 08:18] Phhere commented on #2406
Redhat 7.3
Hardware: SGI UV 2000
otherpkglist:
`
iozone
iperf
htop
lldpd
#NEW_INSTALL_LIST#
gpfs.base-4.2.0-0
gpfs.docs
gpfs.ext
gpfs.gpl
gpfs.msg.en_US
#NEW_INSTALL_LIST#
gpfs.base-4.2.0-2
#NEW_INSTALL_LIST#
@SGI MPI
@SGI Foundation Software
`
The Problem maybe is that i put the groups into subfolders of the otherpkgdir

[2017-01-13 08:47] tingtli commented on #2373
Fixed and verified on xCAT 2.13.1 GA release

[2017-01-13 08:47] #2373 closed

[2017-01-13 08:48] tingtli commented on #2346
Move to 2.13.2 since this is not high priority

[2017-01-13 08:51] tingtli commented on #2372
Ok. I will close it.

[2017-01-13 08:51] #2372 closed

[2017-01-13 11:29] tingtli opened #2409 "Migration on sles12.* failes. xCAT-genesis-scripts-ppc64 gives vendor change issue"
This issue happens on sles12.1 and sles12.2
Here is the steps
1. Install xCAT 2.13 1/5 build
[code]
2. download xcat 2.13.1 1/11 build and create the new repo
[code]
3. Update xCAT-genesis-scripts-ppc64 and get the result.
[code]
4. Choose 1 and the installation go ahead
[code]

[2017-01-13 14:21] neo954 commented on #2409
We do change the vendor name from `IBM Corp` to `IBM Corp.` in pull request #2195. This change is in order to fix an improper spelling. `Corp.` is the correct spelling for abbreviation of `Corporation`. We used to mis-spelling it as `Corp`, which is incorrect.

[2017-01-13 14:22] neo954 commented on #2409
We can update the Release Notes of xCAT 2.13.1, and add a description for this issue.

[2017-01-13 14:25] neo954 commented on #2409
I propose we leave this issue as is. Due to this is a not a bug but a side effect.

[2017-01-13 14:34] whowutwut commented on #2409
@neo954  Agreed. We do want to make the vendor name consistent in the RPMs and users would just need to accept it on upgrade. On install it's not an issue.

[2017-01-13 14:38] #2409 closed

[2017-01-13 15:03] whowutwut commented on #71
@cxhong  This one should be pending right?  Was included in 2.13.1...

[2017-01-13 15:06] whowutwut commented on #532
is this still something that is valid we should spend resources on or is it an incorrect configuration in DNS that causes it? @daniceexi ?

[2017-01-13 15:06] #532 closed

[2017-01-13 15:10] whowutwut commented on #2293
To manually build the xCAT UI, after cloning the xcat-core repo...

[code]

there will be some compiler.jar file dependency that may cause the build to fail. @chuckbrazie @bybai  I know where this compiler.jar is in our build environment but how do external users obtain this?
[code]

[2017-01-13 15:13] whowutwut commented on #2028
Let's re-open this when we have more idea about the xCAT-csm RPM contents

[2017-01-13 15:13] #2028 closed

[2017-01-13 16:01] neo954 commented on #1618
These two repositories are not duplicated. One is named `xcat-core`, the other is named `xcat-2-core`. They have different repository name, different location. So everything is fine.

It is just like you can have two different online repository, which are pointed to two different RHEL online mirror sites. No harm.

[2017-01-13 16:05] neo954 commented on #2248
@cxhong, I think what you saw on the SLES system is just the normal behavior of ntp daemon.

[2017-01-13 20:36] whowutwut opened #2412 "Regular Expression expansion is not support for nicips keywords"
Doing some testing today, it looks like the `nicips.<interface>` keyword in the group is not able to expand regular expressions.  Here's a simple example...

[code]

Creating a test node....
[code]

As you can see, the ip field expanded correctly, but the `nicips.eth1` field did not.
I think all the IP related keywords should support this expansion....

Are there other keywords that should support

[2017-01-13 20:53] whowutwut commented on #2226
@zet809  i'm not sure I understand the last question.   `ip=dhcp` seems to be a good option that would restore the BMC back to "factory" settings, meaning wipe out any configuration and restore network settings to DHCP mode.

[2017-01-16 02:54] zet809 commented on #2412
Hi, @whowutwut , @chenglch has experience about how to inherit attributes from groups, I'd like him to take a look at this issue.

[2017-01-16 03:03] immarvin commented on #2406
hi @Phhere , if you put the groups into subfolders of otherpkgdir, the pkglist entries can be specified as ``<subdirname>/@<groupname>``

[2017-01-16 03:20] bybai commented on #2293
hi @whowutwut ,
We do not support xcat-ui now, I think we can close this.

[2017-01-16 07:09] #2161 closed

[2017-01-16 07:10] immarvin commented on #2161
Talked with @chudegao , this issue has been resolved, close it

[2017-01-16 07:15] neo954 commented on #2161
Thanks, @immarvin

[2017-01-16 17:03] markprez opened #2414 "Power8 node replacement procedure."
When replacing a power8le node or the BMC of a power8le node, we need a procedure or tools for plugging the node in and have it discovered/provisioned using the existing node definition.

[2017-01-16 18:19] whowutwut commented on #2414
I agree that we should have some documentation here on the process of replacing a OpenPower compute node when we have xCAT configured with some hardware discovery method...   Just thinking out loud, I thin a high level process is the following:

1. Machine is identified to be replaced

2. Set the machine's BMC to DHCP (Should we power off compute side? #2226))

[code]

3. Clear the mac address (If

[2017-01-16 18:48] markprez commented on #2414
COMMENT in step 2
1. Machine is identified to be replaced

2. **_New node's BMCs should be set to use DHCP, this step would be needed if a BMC was already configured statically  you wanted to reset it to DHCP._**

Set the machine's BMC to DHCP (Should we power off compute side? #2226))
rspconfig <noderange> ip=dhcp

3.   Clear the mac address (If the node is being replaced, a new mac address shoul

[2017-01-16 20:51] whowutwut commented on #2414
@markprez  I think in our situation, we're expecting the replacement machine to be coming from MFG so the server should be configured and default to be in DHCP mode.    Step 2 was to set the current machine being replaced (going out of the frame) to DHCP in order to more easily move it to another frame/rack in the datacenter and avoid the need to manually connect by Serial cable to undo the static

[2017-01-17 18:36] cxhong commented on #2398
if command /usr/sbin/rcntp ntptimeset failed,  should not exit the setupntp postscript, instead of continue configure the service node and start up the ntpd service for the SN.  Once the MN is synced,  the SN will  sync too.

[2017-01-17 19:23] whowutwut commented on #2398
I agree with @cxhong , if `makentp -a` is re-starting the NTP server on the management node, then it will never be "ready" to provide the service nodes synchronization.  In this case we should just continue and configure the ntp daemons correctly so that it will sync the times on the nodes once the MN is ready.

[2017-01-17 20:27] whowutwut commented on #1203
Removing the milestone because I'm not sure when this will be looked at.

[2017-01-17 20:40] whowutwut commented on #1618
Closing this issue as I don't think we will fix this unless something urgent is brought up by users.

[2017-01-17 20:40] #1618 closed

[2017-01-17 20:42] whowutwut commented on #392
Probably need to rethink this issue or open smaller issues, this one risks never being completed and pushed out forever.

[2017-01-18 01:57] immarvin commented on #2281
fixed in https://github.com/xcat2/xcat-core/pull/2360

[2017-01-18 02:42] #2382 closed

[2017-01-18 02:42] #2281 closed

[2017-01-18 02:58] immarvin commented on #2398
ok ,if ``makentp`` is to setup ntp server and not guarantee the time is synced on the command completion,  should we make the similar change for ``makentp`` to prevent the "unsync-exit on error" error on management node?
[code]

[2017-01-18 03:16] zet809 commented on #2343
Those 2 script had been included in xcat package, so close this defect.

[2017-01-18 03:16] #2343 closed

[2017-01-18 03:19] zet809 commented on #2327
I think we can close this defect first, if there is still issues after customer verified with our fix, reopen it.

[2017-01-18 03:23] whowutwut commented on #2327
@zet809   Just want to mention is that the changes made doesn't actually do anything with regards to reducing the 15 minute time required to sync the clock. It only makes it more transparent to the user what the code is actually doing during this wait time.

[2017-01-18 05:44] zet809 commented on #2327
@whowutwut Yes, you are right. There are some logs added in the doxcat script, then if the issue happened again, we will know whether the genesis hung for the ntp reason.

[2017-01-18 05:46] bybai commented on #2293
Since xcat does not support xcat-ui， close this issue.

[2017-01-18 05:46] #2293 closed

[2017-01-18 05:47] zet809 commented on #1567
I think we can close this defect, there is another defect opened to trace the 2nd scenario that "for the not matching MAC address, may need to work with xcatprobe switch-macmap in Ansible process."

[2017-01-18 05:47] #1567 closed

[2017-01-18 05:53] xuweibj commented on #2296
Verified, so close.

[2017-01-18 05:53] #2296 closed

[2017-01-18 06:01] bybai commented on #2112
Since xcat should have a default one for domain name, domain name in the site table is default one. Close this issue now.

[2017-01-18 06:01] #2112 closed

[2017-01-18 06:06] immarvin commented on #2392
hi @Phhere ,would you please verify the fix? thanks

[2017-01-18 06:29] tingtli commented on #2398
@cxhong  If we don't return the status but just give the messages to users, Then we could not help user understand if the ntp server is correctly configured.   Users need to double check themselves.  So, i think, to make this command more friendly. We probably needs to do either one
1. Wait about 15 mins in  setupntp until ntp service is correctly setup or timeout
or 2. In the  warning message, gi

[2017-01-18 06:31] tingtli commented on #1548
From the end user's perspective, i verified this bug using apt-get install xcat.  It  could installed all xCAT packages. I think we can close this one
[code]

[2017-01-18 07:17] hu-weihua commented on #2320
@whowutwut , could you help to verify this issue? if there is not problem, could you close this issue? thanks.

[2017-01-18 07:18] hu-weihua commented on #2304
@whowutwut , could you help to verify this issue? if there is not problem, could you close this issue? thanks.

[2017-01-18 18:11] cxhong commented on #2398
@immarvin , for the MN,  I think we should return and ask users to check the expntpservers, since we don't have control of expntpservers.  I will modify the error message.
@tingtli I will update the message, but will not consider first options.

[2017-01-18 18:53] whowutwut commented on #2320
Closing this out.  The output is improved.

I did have a few more very minor comments that I will just document here.  I won't open an issue for it.

1)  Maybe delete "All" and just write "xCAT daemons are running"
[code]

2)  Change the `<mn>` to be in sync with the summary spelling `<MN>`

3) The "do summary" should just be changed to "Summary", and maybe changing the output message to "Checking

[2017-01-18 18:53] #2320 closed

[2017-01-18 18:54] whowutwut commented on #2304
Looks good with the 1/5/17 build, Thanks!

[2017-01-18 18:54] #2304 closed

[2017-01-18 20:41] gurevichmark commented on #2139
Pull request #2421 fixes this issue.
After some testing it appears that `ppc64` and `ppc64le` support `vmstoragemodel=virtio`.
Therefore, when `vmstoragemodel=virtio` the disk prefix will be set to `vd*` no matter what `cpumodel` of the hypervisor host is.
If `vmstoragemodel=virtio` is not set, default to `vmstoragemodel=scsi`, which will result in disk prefix to be set to `sd*`

[2017-01-18 20:53] fyhertz opened #2422 "Missing command in genesis image"
Hi,

xcat version: 2.13.2 (git commit 4c72fee5435fa53f40f31b41df5809b4c55e4f6b, built Tue Jan 17 06:17:05 EST 2017)

Running on ubuntu 16.04 x86_64

When running bmcsetup on a compute node, running genesis image built with mknb x86_64:
`[xCAT Genesis running on node103 /]# bmcsetup
/bin/bmcsetup: line 107: which: command not found
No ipmitool find, please install it first
`

The command "which" is

[2017-01-18 21:07] whowutwut commented on #2422
@fyhertz Thanks for bringing this to our attention

[2017-01-18 23:18] aaronknister commented on #2090
thanks @immarvin and @bybai !

[2017-01-19 02:09] kcgthb opened #2423 "Customize /etc/named.conf"
Hi!

I'm wondering if there's any way in `makedns` to customize the generated `named.conf` file?

I'm thinking including custom, site-specific directives, such as custom configuration options, logging directives, or zone delegation? It could be done by having a `/etc/named.conf.local` file whose contents would be appended to the generated `/etc/named.conf` file.

The same principle could ideally b

[2017-01-19 03:25] zet809 commented on #2422
@fyhertz Thanks very much for your finding, it is a defect for our script, have fixed in pull request #2424

[2017-01-19 20:31] kcgthb commented on #2423
Actually, a mechanism to include external configuration is kind of required, as the generated `named.conf` file currently misses some of the required configuration.

For instance, Redhat provides a `/etc/named.rfc1912.zones` file which provides zone configuration for zones recommended by RFC 1912. This is missing from the `named.conf` file generated by `makedns`. As a result, resolving `localhost`

[2017-01-19 21:13] cxhong commented on #62
we discussed this on the team meeting today.  xCAT will provide few commands to manage the PDU.
1) add node attribute  to have pdu information which contains pduname and outlet number
   pdu=pdu1:1, pdu2:1
2) rpower cn01 pduoff    ---- will power off outlet 1 off for pdu1 and pdu2  in this case
3) rpower cn01 pduon     ---- will power on outlet 1 on for pdu1 and pdu2 in this case
4) rpower cnm01 p

[2017-01-20 08:16] samveen opened #2427 "[feature request]site option to specify external rsyslog server"
**TLDR;**
Is it possible to add the option of specifying an external rsyslog server instead of using the xCAT master node/service node?

**Background:**
I'm looking to push all my server logs into a log analysis framework and instead of running the bridge app (between the rsyslog and the log analysis framework) on the xCAT management node, I'd like to run it on a seperate dedicated node.
I am hopi

[2017-01-20 08:37] zet809 commented on #2427
Hi, @hu-weihua and @immarvin , will you pls take a look at this requirement? Thx a lot!

[2017-01-20 08:58] caomengmeng commented on #2322
Update description: the latest information is : SN is booted, but xcat failed to work in sles12.2 x86 and p8le.
After run ```updatenode SN```, xcat in SN works well

[2017-01-20 09:04] immarvin commented on #2427
hi @samveen , since all the logs inside the cluster will be forwarded to MN, how about simply redirect all the logs on MN to the syslog server by modifying the syslog,conf on MN?

is your syslog server reachable from compute nodes or service nodes?

[2017-01-20 23:09] kcgthb opened #2435 "makentp generates insecure configuration"
`makentp` generates insecure default configuration, as it:
1. listen on all interfaces, and there doesn't seem to be a way in XCAT to specify that the MN NTP server should be restricted to specific interfaces (similar to `site.dnsinterfaces`)
2. no restriction of any type is included in the generated `ntp.conf`, especially a way to disable the monitoring facility that can be used in amplification

[2017-01-22 10:23] arif-ali opened #2436 "tftp continued after xcatd shutdown"
I have seen in numerous situations, where xcatd controls the tftp, to start, abut fails to stop it. I've had to on occasions kill the service, so that it releases the lock to the deirectory, it is using.

[code]

Could we have a look at this, for the next release, so that we don't have this problem

[2017-01-23 03:14] samveen commented on #2427
@immarvin That is definitely one option. However, given that a lot of services are already running on the xCAT server, I would love the ability to cut it out of the `log` loop completely.

[2017-01-23 08:11] immarvin commented on #2427
hi @samveen , there are a lot of cluster related logs on MN, for example, log of http server, dhcp/bootp dialogues, xCAT commands log... etc, will you expect these logs to be redirected to the log server so that they can be processed with the logs from the compute nodes and service nodes ?

[2017-01-23 09:10] immarvin commented on #2436
hi @arif-ali , you mentioned that ``I've had to on occasions kill the service, so that it releases the lock to the deirectory``, what do you mean by "the lock to the deirectory"? can you explain more?

thanks

[2017-01-23 16:48] #2407 closed

[2017-01-23 19:56] kcgthb opened #2441 "xdsh doesn't read credentials from the passwd table for Infiniband switches"
Hi,

The documentation at https://xcat-docs.readthedocs.io/en/stable/advanced/networks/infiniband/switch_configuration.html says:

While this works great for Ethernet switches, it does not for Infiniband switches. This is probably related to that test: https://github.com/xcat2/xcat-core/blob/master/perl-xCAT/xCAT/DSHCLI.pm#L982
which only gets credential information from the `passwd` table for `Et

[2017-01-23 20:45] dletai commented on #62
I don't think pdustat should be part of just rpower - logically it belongs to nodestat or perhaps rvitals, as that's where any stats of the node are expected to show.

BTW, I can perform tests on our current PDUs, but unfortunately our cluster is not connected to the internet, so I can't provide direct access to it.

[2017-01-23 21:37] cxhong commented on #2441
when config switch's username and passwd, xcat will pick up from sshusername of the switch attribute,  if didn't define there, then will pick the username and password from the passwd table.  same way for EthSwitch and IBSwitch.    Can u give me sample example how did u use it?

[2017-01-23 22:19] kcgthb commented on #2441
@cxhong I don't have any username nor password defined in the `switches` table for my Infiniband switches, nor for my Ethernet switches. I'd like to only use the `passwd` table instead, as indicated in the documentation.

I have a `switch` entry in the `passwd` table:
[code]

This works very well for Ethernet switches:
[code]
(see how it automatically picked up the "admin" username)

But it doesn'

[2017-01-23 23:52] arif-ali commented on #2436
I have setup HA with drbd setup, on various customer solutions. The drbd device is mounted under `/xcatdrbd`. When manually failing over from one machine to the other, on occasions, this service will still run, and therefore still hold onto it, as opened files. I am able to grab this information, by running `fuser -m /xcatdrbd`, and this usually points to a person logged in, and in one of the dire

[2017-01-24 01:46] caomengmeng opened #2442 "[FVT]Update nodeset_cmdline test case"
@junxiawang please help to update nodeset_cmdline case for below fail point. It can be reproduced.
ENV: rh6.8 X86
Failed case: nodeset_cmdline
Details:
[code]

[2017-01-24 02:25] caomengmeng opened #2443 "[FVT] CN powering-on not booted on virtual machines (both x86_64 and ppc64le)"
Test ENV.: sles12.2 p8le with latest build
[code]
Test Case: packimage_m_tar_c_gzip
Details: Failed to boot the CN while running in autotest daily run. but can be passed when rerun.
This can be reproduced, so just submit an issue to track?
As these packimage test cases are run after the diskless installation cases in other arch: ppc64, x86.  Not sure if it is the same reason.
Steps:
[code]
Result:

[2017-01-24 02:49] immarvin commented on #2443
please make sure the steps to reproduce manually is clear or hold the environment so that we can grab more information, otherwise, just opening an issue with the information mentioned in your mail does not help  to solve the issue
------------------------------------------------------------------------------YANG Song (杨嵩)IBM China System Technology LaboratoryTel: 86-10-82452903Email: yangsbj@cn.ib

[2017-01-24 03:21] daniceexi commented on #2443
I agree with yangsong.

 Using IBM Verse, send from my iPhone.

 在 2017年1月24日，上午10:50:12，notifications@github.com 写道：

 From: notifications@github.com
 To: xcat-core@noreply.github.com
 Cc: subscribed@noreply.github.com
 Date: 2017年1月24日 上午10:50:12
 Subject: Re: [xcat2/xcat-core] [FVT] packimage_m_tar_c_gzip cases failed for CN powering-on not booted (#2443)

   please make sure the steps to repro

[2017-01-24 03:40] caomengmeng commented on #2443
@immarvin @daniceexi Add the steps above.
 I am debugging it now, in the ubuntu test environment to make sure if it is the test order problem.
Please read the description and label,  don't think it is necessary now to let others out of FVT to be involved.

[2017-01-24 04:23] junxiawang commented on #2442
I rerun the testcase but could not reproduce ,and I will add debug information  to get the root cause for this case failed.

[2017-01-24 08:37] hu-weihua commented on #62
@dletai , thanks for your advice, it make sense.

I think your PDUs should support SNMP. Could you help to collect your produce's MIB for us, we appreciate it very much. If there is some sensitive information, using XXXX to replace it is ok. thanks.

      yum -y install net-snmp-utils
      snmpwalk -v<2c> -c<public> -mALL <pduip> <xxxxmib>

[2017-01-24 08:43] immarvin commented on #2436
hi @arif-ali ,thanks for your info, we will consider this request in xCAT 2.13.2 release

[2017-01-24 14:25] whowutwut commented on #841
I just tried to install Ubuntu 14.04.3 on a ppc64le node and I'm not able to install packages after the install for the same reason `apt-get install git` does not find the git package.  What was the solution here, or there is none?

[2017-01-24 19:46] cxhong commented on #2441
Thanks @kcgthb , I will make modification.

[2017-01-25 23:50] thiell opened #2446 "/etc/hostname not properly set?"
Hi,

I use xCAT 2.12.3 to deploy both physical nodes and VMs on a new cluster and I am currently using CentOS 7.3 as the Linux distro. Although `hostname` returns the proper node hostname after it is deployed, I noticed that all nodes deployed with xCAT have the default `/etc/hostname` content with `localhost.localdomain`. Also, there is an example of `hostnamectl status` on such deployed node:
[c

[2017-01-27 14:58] tweenysodd opened #2449 "<rpower node boot> - powering-off"
Hi,

I was performing a routine update, and issued 'rpower compute boot' to the 6 compute nodes. Only 5 of them came back, the last one shows status=powering-off, even if the node is physically turned on or off. The rpower, nodestat, and lsdef commands consistently show power is on or off, when the node power beacon goes on or off, but for the status. sshd isn't running on the node either. Any sug

[2017-01-27 15:56] whowutwut commented on #2449
Hi @tweenysodd  What Os/Architecture are your machines and which version of xCAT? (`lsxcatd -a`)
Trying to read between the lines, so the `rpower <node> status` comes back OK and reflects the correct state of the machine?  Can you give us some samples of the command outputs?

[2017-01-27 16:10] tweenysodd commented on #2449
Hi @whowutwut I'm running a Centos 6.7 cluster, and xCAT is running v 2.10.
Here are some samples (the node at hand is lenovo03):
lsdef lenovo03 -i status
Object name: lenovo03
    status=powering-off

nodestat lenovo03
lenovo03: noping

ssh lenovo03 -vvv
OpenSSH_5.3p1, OpenSSL 1.0.1e-fips 11 Feb 2013
debug1: Reading configuration data /root/.ssh/config
debug1: Reading configuration data /etc/ssh/

[2017-01-27 16:37] whowutwut commented on #2449
@tweenysodd  Humm.. the fact that  stat returns seem to indicate that you should be connecting to the IMM correctly.    But just to verify...  can you make sure the following works...

[code]

So it's possible that the networking from the compute node is not configured correctly for the postscripts to report back the correct status...  Can you remote console to the machine  ? (using `rcons`) to ta

[2017-01-27 17:22] tweenysodd commented on #2449
I doubt the nodes were set up for bmcs, because the nodes are of the lenovo NeXtScale nx360m5 model. I did try rcons lenovo03 earlier, the output stops at:
rcons lenovo03
[Enter `^Ec?' for help]
I'm going to attempt connecting a serial cable to the node, and physically connect to the node.

[2017-01-27 17:28] tweenysodd commented on #2449
lsdef lenovo03
Object name: lenovo03
    arch=x86_64
    bmc=lenovo03-imm
    bmcport=1
    chain=runcmd=bmcsetup,shell
    cons=ipmi
    cpucount=20
    cputype=Intel(R) Xeon(R) CPU E5-2650 v3 @ 2.30GHz
    currstate=netboot centos6.7-x86_64-compute
    disksize=sda:4995GB
    groups=ipmi,compute,all
    initrd=xcat/osimage/centos6.7-x86_64-netboot-compute/initrd-stateless.gz
    ip=10.0.1.3

[2017-01-27 17:30] whowutwut commented on #2449
you can check `tabdump passwd | grep ipmi` for the user/pass, defaults are sometimes `USERID` and `PASSW0RD` (with a zero)   If you can ping the IMM , you could point to it from a browser and see if you can log into the IMM web portal to get remote console (assuming you have that function activated)

[2017-01-27 17:51] tweenysodd commented on #2449
That helped a lot! Thanks. The ipmitool-xcat commands returned everything as set up. The chassis power is on for the node.
I'm in the IMM web portal for the node. The general stats are all normal. Anything I should look for in particular when I drop a remote console?

[2017-01-27 18:09] tweenysodd commented on #2449
I managed to connect a physical console to the node. Upon rpower lenovo03 boot, the screen shows 'System initializing memory', and stays at that. Thoughts?

[2017-01-27 18:19] whowutwut commented on #2449
Humm. not sure..  @jjohnson42  Do you have any ideas about this machine stuck in "system initializing memory?"

[2017-01-28 01:04] kcgthb opened #2450 "The "switches" table doesn't support groups"
### Issue
The `switches` table doesn't support specifying groups as the first field. It could be very useful for installation with many similar switches.

### Observed behavior
If I define the `switchtype` for a group name in the `switches` table:
[code]
the nodes belonging to this group don't inherit the switchtype:
[code]

### Expected behavior
[code]

[2017-01-29 01:48] tweenysodd commented on #2449
The node powers on and off (green LED) as expected, with "rpower lenovo03 boot", or "rpower lenovo03 off/on". "lsdef lenovo03  -i status" is stuck at powering-off and the physical console stays at "system initializing memory". The IMM web portal for the node says everything is normal. This is where I'm at.

[2017-01-29 02:38] tweenysodd commented on #2449
UPDATE:
Using the IMM web portal, I dug through the events log - "Memory Logging Limit Removed for memory device 1 in Group 1 on Subsystem System Memory". This message was reported only on lenovo03, during the parallel power off, and power on for all compute nodes. I believe this explains why the console is stuck at "system initializing memory".

[2017-01-29 16:33] jonathanmills opened #2451 "bmcsetup bash test syntax error line 256"
You must have a blank space before a ']' in line 256, like so:

[code]

[2017-01-29 16:36] jonathanmills commented on #2422
I discovered this the hard way last night, in 2.13.1.  Glad someone's already patched it.

[2017-01-31 18:00] whowutwut commented on #2446
Thanks for reporting this,.  I am able to re-create this same behavior in the latest version of xCAT.

xCAT, by default is going to leave the compute nodes as DHCP.  In this case, you see the Transient hostname is set based on the response from DHCP.  The Static is NOT set as you point out and `/etc/hostname` is left as the OS default of `localhost.localdomain`.

To have xCAT set the provisioning

[2017-01-31 18:53] whowutwut commented on #2451
Thanks for pointing this out, will fix this

[2017-01-31 21:12] tweenysodd commented on #2449
The DIMM stick had to be replaced, all is good now.

[2017-01-31 21:12] #2449 closed

[2017-01-31 21:51] whowutwut commented on #2449
Great ! thanks for letting us know

[2017-02-01 14:59] mattaezell opened #2455 "xdsh should report down nodes"
When xdsh is run against a group, remote hosts that fail are silently ignored.  Is there an option (and a way to make it default) that hosts that do not respond are noted?

Current output:
  \# xdsh compute /bin/true
  \#

Expected output:
\# xdsh compute /bin/true
compute02: host did not respond
\#

[2017-02-01 16:12] gurevichmark commented on #2455
Matt, have you tried the `-v` flag for the `xdsh` ?

[2017-02-01 17:42] mattaezell commented on #2455
Thanks, that appears to be exactly what I need.  Is there any way to make that behavior default?  Just making an alias is not straightforward since the noderange needs to go between `xdsh` and `-v`, but I guess I could do a bash function...
`xdshv () { nr=$1; shift; xdsh $nr -v $@; }`

[2017-02-01 19:12] dletai commented on #62
Attached the snmpwalk result
[pdu.snmp.txt](https://github.com/xcat2/xcat-core/files/745856/pdu.snmp.txt)

This is the corresponding mib file
[ibmdpi_v01.3_1.mib.txt](https://github.com/xcat2/xcat-core/files/745858/ibmdpi_v01.3_1.mib.txt)

[2017-02-02 19:37] gurevichmark commented on #2455
Matt, we would like to keep default the same, in case users have scripts using `xdsh` and might not expect additional output the "verify" would produce.
What if we added an environment variable DSH_VERIFY. It would control the display of "verify" and could be overwritten by specifying `-v` flag ?

[2017-02-06 02:19] bybai commented on #2295
It was merged. closed this issue.

[2017-02-06 02:19] #2295 closed

[2017-02-06 04:15] neo954 commented on #1548
@tingtli, You did not do the correct verification testing. Instead of test of install xCAT in a brand new environment, you need to test of use `apt-get install xcat` to **upgrade** xCAT. Please read the original bug report more carefully.

BTW, Install xCAT in a brand new environment with `apt-get install xcat` always works.

[2017-02-06 05:58] immarvin opened #2459 "[DEV]"xcatd: install monitor" process(listening on ipv6 socket) will die on status update from node failed on reverse dns lookup"
steps to reproduce:
1.  on a rhels7.3 mn with at least 1 nic with ipv6 enabled
[code]
2. install the package "perl-IO-Socket-INET6" and "perl-Socket6" , then restart xcatd
3. make sure the xcatd processes are listening on ipv6 stack:
[code]
4. then run "/xcatpost/updateflag.awk" from a node whose hostname can not be reverse lookup on ``nslookup <ip>``
[code]
5. then the process "xcatd: install mon

[2017-02-06 06:05] immarvin commented on #2459
``inet_ntoa`` is an ipv4 function, will cause the caller process die with message ``Bad arg length for Socket::inet_ntoa, length is 16, should be 4 at /opt/xcat/sbin/xcatd line 397`` when a ipv6 network address is passed

[2017-02-06 06:07] immarvin commented on #2459
fixed in https://github.com/xcat2/xcat-core/pull/2460

[2017-02-06 06:20] immarvin commented on #2436
fixed in https://github.com/xcat2/xcat-core/pull/2447

[2017-02-06 08:15] hu-weihua commented on #62
@dletai , thanks for your information, it's helpful.

[2017-02-06 09:50] arif-ali commented on #2436
Thanks @immarvin

[2017-02-06 21:40] kcgthb commented on #2142
Hi @bybai

I was wondering if you had any news about this? I would really be able to have the ability to define nodes with the same short hostname on different interfaces/networks.

Thanks!

[2017-02-07 05:41] junxiawang opened #2463 "[2.13.2]tftp service will down after xcatd started for a while on sles11.4 and rhels6.8 ppc64"
env:sles11.4 rhels6.8 ppc64
build:[root@c910f02c01p14 ~]# lsxcatd -v
Version 2.13.2 (git commit d7ca3e7b69befa71c7ce73a66b1da9c7aad6d059, built Mon Feb  6 06:15:41 EST 2017)
How to reproduce：
[code]

[2017-02-07 06:53] immarvin commented on #2450
hi @bybai ,would you please take a look at this?

thanks

[2017-02-07 07:27] bybai commented on #2142
Hi @kcgthb ,
I start to work on this now, thanks.

[2017-02-07 08:57] chenglch commented on #2463
Hi @junxiawang , I can not recreate this problem with your step, please check that if this issue only occurs when you run `service xcatd restart`.

[2017-02-07 18:19] kcgthb commented on #2142
Hi @bybai

I think I actually found a workaround for this. Defining an extra nic alias for the interface in the `nics` table that is the short hostname will provide the expected result:

For instance, given the following objects (note how `nicaliases.bmc` is set to the node name)
[code]
then the generated `/etc/hosts` contains an alias for the BMC interface which is set to the short hostname:
[cod

[2017-02-08 02:32] immarvin commented on #2406
no response, close this issue

[2017-02-08 02:32] #2406 closed

[2017-02-08 06:15] junxiawang opened #2466 "[fvt]2.13.2 need to modify the outout when start xcatd"
env:all os
build:c910f02c01p13:~ # lsxcatd  -v
Version 2.13.2 (git commit e05ae84ee0676779c83185cb52fbd7ddac737c48, built Tue Feb  7 06:15:50 EST 2017)
c910f02c01p13:~ #
How to reproduce:
[code]

[2017-02-08 08:16] junxiawang opened #2467 "[fvt]2.13.2 need to modify testcase about alias setting"
env:all os
build:[root@c910f02c01p14 xCAT_plugin]# lsxcatd -v
Version 2.13.2 (git commit e05ae84ee0676779c83185cb52fbd7ddac737c48, built Tue Feb  7 06:15:50 EST 2017)
[root@c910f02c01p14 xCAT_plugin]#
How to reproduce:
[code]

[2017-02-08 08:55] bybai commented on #2142
Hi @kcgthb ,
Your work around can resolve your problem. I guess there is no ip attribute in your node definition.
So there is only one line with sh-sl01 in /etc/hosts.   If there is ip attribute,  there will be 2 sh-sl01 in /etc/hosts in your example:
[code]

In my example, there are 2 testnode in /etc/hosts, so the work around is not a general method for hostname in different domains.

[2017-02-08 16:42] kcgthb commented on #2142
Hi @bybai,

My bad, I left out the main interface to focus on the alternate `bmc` interface (with the `--nics` option of `lsdef`). But the node does have an ip attribute:
[code]
and the resulting `/etc/hosts` file contains two lines for that host, one for each interface, as you noted:
[code]

There are 2 lines with the `sh-sl01` alias, but that's allows `makedns` to generate the correct entries on

[2017-02-08 17:06] gurevichmark opened #2469 "Assigning a node to a group does not append group's postscipts to the node's postscript attibute."
If a node's `postscripts` attribute contains an additional postscript (something in addition to the default set), the assignment of this node to a group, does not append the group's postscripts to the node.

Working correctly - `servicenode` postsctipt get added to the node's `postscripts` attribute:
[code]

Problem - `servicenode` postsctipt does not get added to the node's `postscripts` attribut

[2017-02-08 18:54] Obihoernchen opened #2470 "[Feature Request] Add root tmpfs NUMA memory allocation policy option to genimage"
## Reason
Even memory allocation distribution across all NUMA nodes in a compute node is really important to achieve the best performance possible. Especially for memory bound code. Uneven distribution can cause a lot of NUMA misses which lowers performance.
Stateless images can get kinda big which makes it really hard to evenly distribute everything (ramdisk, interconnect, remote file system, wor

[2017-02-09 02:06] wwzhubj opened #2472 "Set static BMC IP using dhcp provided IP address can not work."
I want to install a Garrison node via
http://xcat-docs.readthedocs.io/en/latest/guides/admin-guides/manage_clusters/ppc64le/discovery/mtms/discovery_using_dhcp.html
But Failed.
The log is :
[code]
[code]

[2017-02-09 06:01] zet809 commented on #2472
@wwzhubj Seems configuration error, the pre-defined node shall not have nodetype=mp hwtype=bmc attributes.

[2017-02-09 06:09] wwzhubj commented on #2472
The node define has several problem:
1. the bmc ip and node ip are same.
2.  "nodetype=mp" and "hwtype"=bmc" are for bmc define, not for a node.
After correct the node define, the node can be installed correctly.

[2017-02-09 06:09] #2472 closed

[2017-02-09 06:34] immarvin commented on #2470
@Obihoernchen , which linux distribution  do you expect?

[2017-02-09 07:01] Obihoernchen commented on #2470
@immarvin auch an option would be useful for every linux distribution. But we use and tested our "workaround"  with SLES 11.

[2017-02-09 07:43] immarvin opened #2473 "[DEV] "updatenode <node> -P" will complain "msgutil_r: command not found" if no "/xcatpost" on <node>"
[code]

[2017-02-09 07:48] tingtli commented on #2467
@junxiawang  This is not a case issue. This is because on the mn, it used a /etc/hosts file which is copied from control node. But on control node, the hosts file is modified by someone. I've updates the /etc/hosts on control node. It should has no conflict now.

[2017-02-09 07:48] #2467 closed

[2017-02-09 07:55] immarvin commented on #2473
fixed in https://github.com/xcat2/xcat-core/pull/2474

[2017-02-09 09:11] Obihoernchen commented on #2470
If we add such an option we should check whether the mount was successful and mount without the mpol option if it isn't.
Because mounting the fs with a wrong/incompatible mpol option is going to fail. For instance the [Cluster On Die (COD)](https://software.intel.com/en-us/articles/intel-xeon-processor-e5-2600-v4-product-family-technical-overview) function of Intel can modify the number of availab

[2017-02-09 11:19] daniceexi commented on #2472
Ertao, is it possible to find the potential issue by code? If yes, we could  add it in xcatprobe.

 Using IBM Verse, send from my iPhone.

 在 2017年2月9日，下午2:10:48，notifications@github.com 写道：

 From: notifications@github.com
 To: xcat-core@noreply.github.com
 Cc: subscribed@noreply.github.com
 Date: 2017年2月9日 下午2:10:48
 Subject: Re: [xcat2/xcat-core] Set static BMC IP using dhcp provided IP address

[2017-02-10 00:30] cxhong opened #2475 "[Customer] Can't locate Getopt /Std.pm during genesis discovery"
Lab Service reported this error during genesis discovery:
[code]
Here is xCAT version on their system:
[code]

[2017-02-10 01:50] immarvin commented on #2475
hi @zet809 , would you please take a look at this?

[2017-02-10 02:16] zet809 commented on #2472
Yes, xcatprobe discovery can check the node definition in pre-check progress, but there is no option to run pre-check only. I think we shall provide this option to check the node definitions before starting hardware discovery, so I ask @xuweibj to add an option for doing pre-checking only.

[2017-02-10 06:48] bybai commented on #2473
I am ok to merge it.

[2017-02-10 06:48] #2473 closed

[2017-02-10 08:33] bybai commented on #2142
Hi @kcgthb ,
I think the following enhancements can  cover both issues #1086 and #2142:
After enhancements, makehosts will generate the default values in /etc/hosts as following:

If otherinterfaces is configured : -bmc:10.11.0.11, /etc/hosts is as :
[code]

If otherinterfaces is configured: :10.11.0.11, /etc/hosts is as:
[code]

what is about your idea?

[2017-02-10 18:46] whowutwut commented on #2475
Assigned to @neo954  This issue occurs when running code changed by PR https://github.com/xcat2/xcat-core/pull/2333

[2017-02-10 20:03] whowutwut commented on #2472
@wwzhubj  I'm trying to figure out how the steps went wrong in your procedures.. if you had following the documentation, how did you end up with those attributes defined?  We don't have any examples of `hwtype` or `nodetype`.  Were you using a already defined node definition to start?

Since Oct , 2016, we have removed bmcdiscover from even printing the hwtype=mp line...  https://github.com/xcat2/

[2017-02-11 00:56] kcgthb commented on #2142
Looks interesting indeed, thanks!

[2017-02-13 02:09] immarvin commented on #2470
hi @penguhyang , please take a look at this request

[2017-02-13 19:29] whowutwut commented on #2392
@tingtli  Can you help find someone in FVT to validate this fix so we can close the issue?

[2017-02-13 19:29] whowutwut commented on #2177
@ralphbellofatto If you have a chance to verify this, please close out,  Otherwise, @tingtli  Can you help find someone in FVT to validate this fix so we can close the issue?

[2017-02-13 19:30] whowutwut commented on #2176
@ralphbellofatto  If you have a chance to verify this, please feel free to close, otherwise @tingtli  Can you help find someone in FVT to validate this fix so we can close the issue?

[2017-02-13 19:30] whowutwut commented on #1947
@junxiawang  This issue is pending, can you verify and if OK close out?

[2017-02-13 19:31] whowutwut commented on #1548
@tingtli  I think we need to rerun the verification.

[2017-02-13 19:31] whowutwut commented on #1174
@gurevichmark  can you help verify and close if it looks OK

[2017-02-13 19:32] whowutwut commented on #71
@neo954  Can you help verify and close out of OK . thanks

[2017-02-13 20:32] whowutwut commented on #2436
On a simple test, it seems to stop `tftp`
[code]

I will close for now, please re-open if you see issues

[2017-02-13 20:32] #2436 closed

[2017-02-13 21:08] whowutwut commented on #2414
@markprez  I created a simple page for documenting, is this sufficient, or requires a bit more information? I'm trying to keep it fairly generic for larger xCAT customers

https://github.com/whowutwut/xcat-core/commit/79e8de9b9f7f5b0b47f6192b8d5be98944802f26

[2017-02-13 22:02] markprez commented on #2414
This looks good. I think you may want to clear the serial number as well. If this process was used for swapping nodes or moving them there is a problem if the serial number is in the database. Discovery will find the serial number before it does switch based discovery, this could cause a moved node to be configured with its original node information.

[2017-02-14 02:32] tingtli commented on #2392
@junxiawang Please help verify this bug. Thanks!

[2017-02-14 03:32] #2392 closed

[2017-02-14 05:46] tingtli commented on #1548
This is the detailed verification steps
1. Install xCAT 2.12 on Ubuntu14.04.4 node
[code]
2. Setup correct 2.13.2 repo on this node
3. Install xCAT 2.13.2 on this node
[code]
@neo954 Please take a look to see if this is ok for the verification.

[2017-02-14 06:01] daniceexi commented on #2414
I think the procedure should depend on the node discovery method.

* for the switch based discovery, we don't need to clean up the mtms and mac address for node definition, both of them will be replaced when a new node is plugged in.
* for the mtms based discovery, we need to replace the mtms to be the new node's

[2017-02-14 06:38] tingtli commented on #2443
@caomengmeng  I think this is not a case problem. This  is an issue for power 8 le virtual machine. I will work with er tao to trace this problem.

[2017-02-14 07:25] tingtli commented on #2398
From the test result. It seems that re-run will help to configure the ntp service.
@cxhong @immarvin What is your decision for this issue? To change code for makentp or to prohibit the makentp -a but use updatenode to sync service node?

[2017-02-14 09:56] zet809 commented on #2475
I need to rebuild xcat-genesis-base to include those libraries.

[2017-02-14 21:56] gurevichmark commented on #1174
Nope. Still not working for a VM.

It seems that PR #1303 just fixed the error message displayed, but I still can not get `getadapter` command to return anything:

1. For VM, the `getadapter` reboots the VM, but does **not** go into genesis and the command just hangs.
2. For a real server, the `getadapter` reboots the server, but it just enters this state:
[code]
And keeps retrying forever, the `g

[2017-02-14 21:58] gurevichmark commented on #1174
Assigning to @zet809 so he can choose the right person to work on this issue.

[2017-02-15 01:33] whowutwut commented on #2475
Is this something that we have looked into potentially using containers to help simplify the re-build process of the dependencies?

[2017-02-15 01:35] whowutwut commented on #2414
@markprez  interesting comments.  I wasn't really looking at the scenario where we are moving machines around, but you bring up valid points.  @daniceexi  Thanks for the comments, will make some additional changes and create a pull request.

[2017-02-15 06:04] junxiawang opened #2482 "[fvt]2.13.2 xcatprobe osdeploy need to modify the usage"
env:rhels7.3 ppc64le
build:
[root@c910f03c05k09 xcat-core]# lsxcatd -v
Version 2.13.2 (git commit c707c7a003c196725f4b957fa100f9f4ea85286f, built Tue Feb 14 06:16:04 EST 2017)
[root@c910f03c05k09 xcat-core]#
How to reproduce:
[code]

[2017-02-15 07:08] wwzhubj commented on #2472
@whowutwut ,Because I added "-w " option, but in upper document , it is only "-z".
bmcdiscover --range 172.30.0.1 -z > predefined.stanzas

[2017-02-15 07:54] wwzhubj opened #2483 "installation loop when there are 2 provision networks."
We have two networks for provision. One is public, The other one is private.
Garrison nodes are installed from private network.
Firestone nodes are installed from public network.
In this environment, the site parameters:
"master","c712ems5",,
"nameservers","c712ems5",,
When they are set with public network ip, the installation will loop when provision garrison nodes.
When set them with private ip,

[2017-02-15 08:30] immarvin commented on #2483
hi @wwzhubj , would you please provide the node definition of a Garrison node and a Firestone node?

[2017-02-15 09:24] zet809 commented on #2475
No, for genesis-base-ppc64, I was using my CN which had been installed Fedora23 before.

[2017-02-15 12:33] wwzhubj commented on #2483
firestone node:
[code]
Garrison node:
[code]

[2017-02-15 20:47] whowutwut opened #2485 "Provide a way for administrators to easily set IP address on the ONIE switches to static"
Looks like in the current ONIE switch support, it does not statically set the IP address on the switch and will leave the ``interfaces`` file as DHCP.

[code]

To give the administrators flexibility, I attempted to run the ``hardeths`` postscript to set the IP address static,  It seems like it does not work for debian based OS.

[code]

Why, also do we return exit code 0 in this situation? Is it t

[2017-02-15 20:59] whowutwut opened #2486 "confignetwork does not seem to set the IP addresses of bond0"
Not sure if I'm executing these steps correctly here...   I set the following attributes for the node:

[code]

Then I run the ``confignetwork`` postscript, that executes successfully and I do see the bonded interface created, but without an IP address

[code]

This is all that is created...
[code]

Once I add the following into the ifcfg-bond0, and reload the adapter, it shows up...

[code]

I th

[2017-02-15 21:10] cxhong commented on #2485
$OSVER didn't populate for postrictips on the cumulus switch.  We need to add different method to check for cumulus switch.

[2017-02-16 01:02] bybai commented on #2486
Hi Victor,

I think you do not add network for your node.
You should add nicnetworks.bond0, and add this networks in the network table.
[code]

[2017-02-16 04:23] whowutwut commented on #2486
@bybai Thanks! I thought I was missing something.  I didn't realize that we needed to define all the additional networks that we want to configure.  Let me give that a try... I was following the documentation under here: http://xcat-docs.readthedocs.io/en/stable/guides/admin-guides/manage_clusters/ppc64le/diskless/customize_image/cfg_network.html

Perhaps I will make some changes to the doc in a P

[2017-02-16 04:54] bybai commented on #2486
Hi @whowutwut , If we want to configure ip for network adapter, we should add nicnetworks for the network adapter. We should add this into doc.

[2017-02-16 06:09] junxiawang opened #2487 "[fvt]2.13.2 xcat install monitor process hang and could not reort the node status"
env:rhels7.3 ppc64le
build:[root@c910f03c05k09 ~]# lsxcatd -v
Version 2.13.2 (git commit c707c7a003c196725f4b957fa100f9f4ea85286f, built Tue Feb 14 06:16:04 EST 2017)
[root@c910f03c05k09 ~]#
How to reproduce:
[code]

[2017-02-16 06:21] immarvin commented on #2487
fixed in https://github.com/xcat2/xcat-core/pull/2488

[2017-02-16 06:24] #2487 closed

[2017-02-16 07:59] junxiawang opened #2489 "[fvt]2.13.2 xcatprobe osdeploy -p origin :BOOTLOADER time wrong"
env:rhels
build:
[root@c910f03c05k09 powerpc-ieee1275]# lsxcatd -v
Version 2.13.2 (git commit c707c7a003c196725f4b957fa100f9f4ea85286f, built Tue Feb 14 06:16:04 EST 2017)
[root@c910f03c05k09 powerpc-ieee1275]#
How to reproduce:
[code]

[2017-02-16 08:43] immarvin commented on #2483
please set the proper "nameservers" for the private network and public network in the networks table.
[code]

[2017-02-16 08:58] immarvin opened #2490 "[DEV]syntax error in " /opt/xcat//lib/perl//xCAT/PPC.pm""
[code]

[2017-02-16 13:54] immarvin commented on #2490
hi @cxhong , this issue might be caused by the PR https://github.com/xcat2/xcat-core/pull/2481

[2017-02-16 14:14] arif-ali commented on #2436
nice one, thanks for testing it @whowutwut

[2017-02-16 15:06] cxhong commented on #2490
Thanks, YangSong.

[2017-02-16 18:18] gurevichmark opened #2492 "When "site" attribute "sharedtftp" is false, the "nodeset" command fails"
It seem that when `site` attribute `sharedtftp` is true, the `nodeset` command works as expected.
But when `sharedtftp` is false an error is displayed:

[code]

[2017-02-16 18:23] gurevichmark commented on #2492
Assigning to @zet809 so that he can assign this issue to the right person.

[2017-02-16 19:10] gurevichmark opened #2493 "Nodeset rejects incorrect value for "tftpserver" attribute, but still puts it into the config file"
1. When non-resolvable name is specified for `tftpserver` node attribute, `nodeset` command returns an error. But the entry is put into petitboot config file for the rootimg:

[code]

2. On the other hand, the `nfsserver` node attribute is accepted with a non-resolvable name and no error is reported. The value is put into petitboot config file for the kernel and initrd:

[code]

Resulting config f

[2017-02-16 19:12] gurevichmark commented on #2493
Assigning to @zet809 so that he can assign this issue to the right person.

[2017-02-16 20:53] whowutwut commented on #2443
@tingtli @zet809 Can you post some investigation progress here..  Do we need to put some more resources into this? This affects the autobuild and we need to resolve it quickly.  Can @gurevichmark  help?   Can you send us the ppc64le VM environment for RHELS 7.3?

[2017-02-17 05:40] wwzhubj commented on #2483
The issue still exist after set the proper "nameserver" in networks table.

[2017-02-17 07:06] junxiawang opened #2497 "[fvt]2.13.2 xcatprobe osdeploy performance: if probe partial osdeploy the stage start time and phase time are inaccurate"
env:all
build:[root@c910f03c05k09 ~]# lsxcatd -v
Version 2.13.2 (git commit c707c7a003c196725f4b957fa100f9f4ea85286f, built Tue Feb 14 06:16:04 EST 2017)
[root@c910f03c05k09 ~]#
How to reproduce:
[code]

[2017-02-17 09:09] neo954 commented on #2475
Tested `xCAT-genesis-base-ppc64-2.13.2-snap201702150049.noarch` on a PowerVM LPAR. And get the following error message

    [xCAT Genesis running on (none) /]# ntp-wait                                   Unexpected first line <System error>

[2017-02-17 09:13] neo954 commented on #2475
Anyway, the `ntp-wait` can be run in the genesis now. We still need to solve the network problem for PowerVM LPAR, which need linux kernel module `ibmveth`. It is another problem.

[2017-02-17 09:15] neo954 commented on #2475
@zet809, Please continue working on rebuild `xCAT-genesis-base-ppc64` and `xCAT-genesis-base-x86_64` with ...

  * Use CentOS 7.3 as the base Linux distro, and
  * Include all the Linux kernel modules that CentOS 7.3 shipped.

[2017-02-17 14:58] whowutwut opened #2499 "[openbmc] Support ssh based console in conserver"
For openbmc, the SOL consoles is moving away from ``ipmitool sol active`` to ssh based on a port opened on the BMC.   This issue requests adding in very quick and basic support for ssh console so we can be ready to test it out once we get machines running openbmc.

From my investigation, it seems like we can scaffold and just use the normal ssh port to do testing, and the concept is identical.   F

[2017-02-17 14:59] whowutwut commented on #2499
I target the 2.13.2 milestone, we don't need FVT to test this until we get some real machines with openbmc firmware.  This just allows us to be ready with what we can do before machines arrive.

[2017-02-17 15:24] whowutwut opened #2500 "[FEATURE] FVT - Create framework for executing and saving performance testcase data"
I'd like to request some testcases be created to record performance so we can start gathering data with each testing run of the product.  If FVT team can help at least set up the framework where others can start adding in test content, that would be a good starting point.

Focus Platform:   RHELS 7.x (ppc64le)

So, in my mind , i envision adding some bundle name to the rhels7 ppc64le bundle so tha

[2017-02-17 15:44] gurevichmark opened #2501 ""pping" command flag "-f" displays an error"
xCAT man page for pping shows that `-f | --use_fping` option can be used.

When trying it, I get:

[code]

[2017-02-17 15:45] gurevichmark commented on #2501
Assigning to @zet809 so that he can assign this issue to the right person.

[2017-02-20 01:03] whowutwut commented on #2472
Ok thanks for the info. I think we also do not print those messages anymore to stdout so if you are using the latest version of xcat your predefined nodes template file should not have those internal keywords in them

[2017-02-20 03:23] chenglch commented on #2024
After optimizing the performance to update the database table, 30 percent better than the original version. See the detail http://10.5.101.10:8086/

[2017-02-20 05:22] immarvin commented on #2024
hi @chenglch , the index on the url you pasted can not be accessed

[2017-02-20 13:37] tingtli opened #2506 "[FVT]: attribute machinetpye is not deleted completely when nodetype=pdu"
I found an interested thing when i test pdu on fs1.  When i create a pdu object , then define it with machinetype, then delele it, then create a pud with the same attribute, the machinetype is added to this pdu object automatically.
Here is the steps.
1. Define a pdu object
[code]
2. Give the pdu object machinetype
[code]

3. noderm f5pdu3
[code]
4. define f5pdu5 again, machinetype is automaticall

[2017-02-20 14:07] cxhong commented on #2506
noderm seems can't remove object from pdu table
[code]

but remdef command works find:
[code]

[2017-02-20 15:21] whowutwut opened #2507 "buildinfo file in the bz2 does not show correct VERSION for xCAT"
Unless I'm downloading the incorrect file, the ``buildinfo`` is still using 2.13.1 ... should be 2.13.2...since it's the snap shot builds.  File is generated in buildcore.sh..  (and buildubuntu... )

[code]

@zet809  @tingtli  can we have someone look at this.   I'll try if I get a chance...  if there is no owner, then i'm not looking at it right now.

[2017-02-20 17:13] cxhong commented on #2506
noderm command didn't work for switches neither.

[2017-02-20 19:39] cxhong commented on #2499
Created a new plugin and cons for openbmc to support this feature
[code]
when command `rcons openbmc1`  is running, it will call
[code]
and `cons/openbmc` will execute `ssh` command as victor described above.
[code]

it looks like we couldn't pass in the `password` and complained `Pseudo-terminal will not be allocated because stdin is not a terminal.` .  So I downloaded `sshpass` command, then cha

[2017-02-20 20:40] whowutwut opened #2508 "rmdef takes a very long time to remove objects in xCAT DB when the DB is populated, nodeset offline is cause"
Creating some dummy entries into xCAT, created 1000 node definitions very quickly...

[code]

Removing it was another story.   I tried to first use a wildcard noderange, and  I thought xCAT hung and killed it....
[code]

I think after the investigation, it's probably just that it was going to take a very long time to remove the definitions.    DB is Postgres

Here's some investigation data....

[c

[2017-02-20 20:53] whowutwut commented on #2506
@cxhong can you open another issue for ``noderm`` not working against switches?

@tingtli  Is there any autotest cases that test noderm for the various node object? It seems like this slipped through our test environment.

[2017-02-20 21:12] whowutwut commented on #2499
I'd rather find another solution first, sent a note to the firmware team to see if we could possibly set up ssh keys for passwordless ssh before we start thinking about adding another package to the dependencies.. let's see what comes back

[2017-02-20 21:15] whowutwut commented on #2475
@zet809 @neo954 we have issue #2258 to track this.    If we think it's higher priority, we should probably move it up in the backlog and see if someone can work on it.

[2017-02-20 21:53] monyaaltuwaigi opened #2509 "xcat and VirtualBox"
i am trying to use xcat with VirtualBox, when i use the rpower command i receive this error Error: vm01: No connection to the web service @ http://10.0.2.2:18083/.

can anybody help me to solve this problem?

[2017-02-21 00:44] whowutwut commented on #2501
@zet809 if you think someone can fix this in this release please assign it. Otherwise let's move it to 2.13.3.  @tingtli can you verify if we have any test cases that test this?

[2017-02-21 00:47] whowutwut commented on #2483
@immarvin @wwzhubj in Petitboot can you check what is being sent to the compute node on which interface? I made some changes to make it clear which network is sending the genesis kernel but we never changed anything for the file we created in /tftpboot/petitboot. What is sent over and over causing the loop?

[2017-02-21 01:54] kcgthb opened #2512 "[RFE] INCLUDE: directive in synclists"
Hi!

Package lists (`pkglist` and `otherpkglist`) already support this, so would it be possible to add an `INCLUDE:` directive in `synclists`, to include other synclists?

Something like this:
[code]
And the `INCLUDE:` line would be replaced by the contents of `/path/to/other/synclist` at execution time.

Thanks!

[2017-02-21 02:02] immarvin commented on #2506
hi @whowutwut @tingtli , I think ``rmdef`` is the recommended way to manipulate objects,  I do not see "noderm xxx" brings too much convenience than "rmdef -t pdu xxxx" from  a user's perspective.
In fact, it will cost us a lot maintenance effort to provide such worthless flexibility, I don't think it worth us to put effort on enhance``noderm`` to support PDU or swtich objects.

[2017-02-21 06:18] tingtli commented on #2507
@whowutwut  I think this is because the Version in 2.13 branch is still 2.13.1.
When we released 2.13.1, we ONLY update the master's Version file to 2.13.2, but not update Version file to 2.13.2 in 2.13 branch.
See Versions' log
On branch master
[code]
On 2.13 branch
[code]

[2017-02-21 06:49] tingtli opened #2513 "[FVT]: Add pdu to object type"
Since pdu is a new object xCAT support, we should add it to object types definition
[code]

[2017-02-21 06:52] tingtli commented on #2506
@whowutwut  we only have noderm cases to delete node object. No cases for switch and pdu object.

[2017-02-21 07:07] zet809 commented on #2499
@whowutwut Maybe there is option within ssh that can specify password for a host, @immarvin can help to find this option.

[2017-02-21 20:46] cxhong commented on #2506
Change name of pdu table attributes from pdu.pdu to pdu.node will fix this issue since pdu table is newly supported.  We can't do that for switches table,  once change attribute from switches.switch to switches.node, it will lost all the current information in the switches table.  Do u think will be too risk to make changes for switches table?
anyway, there are actions can take to restore the swit

[2017-02-21 22:37] whowutwut commented on #2412
I am running with build:
[code]

and the node definition has:

[code]

and running `makehosts` , I see the following generated in `/etc/hosts`...
[code]

Will update to the latest and validate this again with the fix.

[2017-02-22 01:59] tingtli opened #2519 "[FVT]:xCAT 2.13.2 installation failes for xCAT-genesis-scripts dependency requires failure"
xCAT 2.13.2 installation failes for xCAT-genesis-scripts dependency requires failure
[code]

[2017-02-22 02:00] tingtli commented on #2519
This is fixed with the new dep tar ball
http://xcat.org/files/xcat/xcat-dep/2.x_Linux/xcat-dep-201702211334.tar.bz2

[2017-02-22 02:00] #2519 closed

[2017-02-22 02:08] whowutwut commented on #2509
Hi @monyaaltuwaigi  can you provide a little more information .. I'm not sure anyone has tried this out.
Do you have xcat installed on a vm using virtual box and trying to control other VMs created in virtual box?

Can we see some node definition for vm01?

[2017-02-22 02:08] whowutwut commented on #2024
@chenglch  can you upload a screen shot showing the improvements? Would be interesting to see

[2017-02-22 02:11] whowutwut commented on #2486
@bybai yea I think @gurevichmark tried your suggestion today. I'll see if he can create a PR to change some of the wording in the docs

[2017-02-22 03:13] zet809 commented on #2501
It seems the fping package shall be installed to support fping functions.
[root@xcat]# rpm -aq |grep fping
[root@xcat]# pping -f frame23
Cannot open fping pipe: No such file or directory at /opt/xcat/bin/pping line 165.
[root@xcat]# yum install fping
...
[root@xcat]# rpm -aq |grep fping
fping-2.4b2_to-2.ppc64le
[root@xcat]# pping -f frame23
frame23cn03: ping
frame23cn05: ping
frame23cn16: ping
fra

[2017-02-22 04:32] samveen opened #2521 "`makedhcp` fails for nodes on remote networks"
When I try to `makedhcp` for a node for a `!remote!` network, the lease configuration isn't added to the DHCPD lease file.

As per the man page for the `networks` table, the format of the field `mgtifname` is as follows:
[code]

However, the check for `mgtifname` in `NetworkUtils::nodeonmynet` does a string equivalence for `!remote!` instead of checking whether the field contains `!remote!`.
[code

[2017-02-22 05:19] chenglch commented on #2412
@whowutwut , is the nics value from `lsdef <node>` correct?  If so, I think `makehosts` and `configurenics` get the nics attributes from nics table directly, they should be enhanced in the other patch. @bybai , any idea?

[2017-02-22 05:26] #2521 closed

[2017-02-22 05:41] bybai commented on #2412
@chenglch , yes, makehosts and confignics should be enhanced at the same time.

[2017-02-22 05:58] wwzhubj commented on #2483
The petiboot shows two xCAT option:
[code]
[code]

[2017-02-22 06:10] chenglch commented on #2024
These mainly focus on the subroutine of setAttris to update data in the database.
original
![nodeset_old](https://cloud.githubusercontent.com/assets/7165199/23199102/4c5ecd76-f907-11e6-8ae8-f888f8b71cda.jpg)

after
![nodeset_new](https://cloud.githubusercontent.com/assets/7165199/23199227/41bf5592-f908-11e6-938b-3978553b8566.jpg)

[2017-02-22 06:44] tingtli commented on #2506
@cxhong  with the PR#2158, seems we didn't fix this problem totally.

If we use " mkdef pdu2 groups=pdu nodetype=pdu machinetype=1u", pdu2 is added to pdu table
[code]

But if we use "mkdef pdu6 groups=pdu nodetype=pdu", seems pud6 is not added to pdu table.
[code]

[2017-02-22 07:51] junxiawang opened #2528 "[fvt]2.13.2 install xcat Error loading module /opt/xcat/lib/perl/xCAT_plugin/rhevm.pm"
env: all os
build:[root@c910f04x12v02 ~]# lsxcatd -v
Version 2.13.2 (git commit bf47335dccb7dd365fb175e219c2c325b6bd46e0, built Tue Feb 21 07:16:03 EST 2017)
[root@c910f04x12
How to reproduce:
[code]

[2017-02-22 08:05] zet809 commented on #2528
@hu-weihua Will you pls help to take a look at this issue? Thx!

[2017-02-22 08:11] junxiawang opened #2529 "[fvt]2.13.2 Database handle not defined after xcat installed on rhels7.3 ppc64le"
env: rhels 7.3 ppc64le
build:[root@c910f03c17k27 ~]# lsxcatd -v
Version 2.13.2 (git commit bf47335dccb7dd365fb175e219c2c325b6bd46e0, built Tue Feb 21 07:16:03 EST 2017)
[root@c910f03c17k27 ~]#

How to reproduce:
[code]

[2017-02-22 09:11] chenglch commented on #2529
I looked into the environment, this problem can not be recreated. @junxiawang Can you check the database connection manually when this error happens?

[2017-02-22 14:22] gurevichmark commented on #2486
Yes. I will create a pull request, once we figure out the correct set of steps for bonding

[2017-02-22 21:36] gurevichmark commented on #2486
Fixed by PR #2534

[2017-02-22 22:11] ChristopherWalker opened #2535 "MTU in networks table not carried through to static config with confignics -s"
https://github.com/xcat2/xcat-core/pull/1933 says it will "Add a MTU column to the networks table. If set, this will configure the MTU in DHCP so that nodes will have the correct MTU during provisioning. "

This works, however the MTU is lost if "confignics -s" is used to set the IP address statically.

It is possible to set this explicitly with something like:
nicextraparams.eth0=MTU=9000
 - but

[2017-02-23 02:03] bybai commented on #2535
Hi @ChristopherWalker ,
Thanks your issue, I want to confirm the following:
1, Does adding a MTU column in networks table and setting nicextraparams work around your issue?
2, Your request is to use MTU from networks table and remove nicextraparams, "confignics -s" should configure MTU in the compute node?

[2017-02-23 02:37] zet809 commented on #1174
@chenglch Hi, Cheng long, pls talk a look at this issue, thx!

[2017-02-23 03:36] gurevichmark commented on #2508
So most likely `rmdef` takes longer because it issues `nodeset offline` as implemented for #1524.

@whowutwut @chenglch @zet809 @daniceexi What do you guys think ? Should we not do `nodeset offline` when user issues `rmdef`. The problem then, is that there could be lots of `/tftpboot` config files left over on MN and no easy way to clean them up.

[2017-02-23 04:17] ChristopherWalker commented on #2535
On Thu, 23 Feb 2017 at 02:03, Yuan Bai <notifications@github.com> wrote:

Yes.

Yes, that's exactly right.

It may be easier to implement this by using the MTU that dhcp has provided.

I guess for completeness that if mtu is set in nicextraparams that should
override the other values.

Chris

[2017-02-23 06:19] junxiawang opened #2540 "[fvt]2.13.3 xcatprobe osdeploy -n NODE:If NODE using illegal string such as "-h" , osdeploy did not handle this scenario"
env:all os
build:
[root@c910f03c05k100 ~]# lsxcatd -v
Version 2.13.2 (git commit bf47335dccb7dd365fb175e219c2c325b6bd46e0, built Tue Feb 21 07:16:03 EST 2017)
[root@c910f03c05k100 ~]#
How to reproduce:
[code]

[2017-02-23 07:19] #2528 closed

[2017-02-23 07:20] #2497 closed

[2017-02-23 07:25] #1947 closed

[2017-02-23 07:26] #2404 closed

[2017-02-23 07:27] #2463 closed

[2017-02-23 07:28] #2482 closed

[2017-02-23 07:28] #2466 closed

[2017-02-23 07:31] tingtli commented on #2513
Verified can closed.

[2017-02-23 07:31] #2513 closed

[2017-02-23 07:32] tingtli commented on #2507
@whowutwut  Do you think this could be fixed?

[2017-02-23 07:34] tingtli commented on #2506
Verified with xCAT 2.13.2 2/23 build.
[code]

[2017-02-23 07:34] #2506 closed

[2017-02-23 07:35] tingtli commented on #2396
@cxhong @immarvin  I could not find /opt/xcat/share/xcat/scripts/configcumulus in today's build, why?

[2017-02-23 07:41] tingtli commented on #2346
We need to run some test for this fix. Move to 2.13.3

[2017-02-23 07:44] tingtli commented on #2442
@caomengmeng  please take a look and see if it should be closed

[2017-02-23 07:47] tingtli commented on #2489
@junxiawang  please verify and close it. Thanks!

[2017-02-23 07:54] immarvin commented on #2396
renamed to configonie see https://github.com/xcat2/xcat-core/commit/f843dcad3cc9484674caa4d75a877ce333f23226

[2017-02-23 07:57] #2489 closed

[2017-02-23 14:48] cxhong commented on #2396
@tingtli ,  yes,  it changed to /opt/xcat/share/xcat/scripts/configonie at PR #2395

[2017-02-23 15:00] whowutwut opened #2543 "[go-xcat] If machine cannot connect to xcat.org, can we print a better failure message?"
I had a machine that does not have DNS service for xcat.org, so we need to manually add it.  However, the message failure for go-xcat does not help me figure out what is wrong.

[code]

Only after I add xcat.org into /etc/hosts, do we get the script to continue..

[code]

Perhaps a better message would be useful.

[2017-02-23 18:11] whowutwut commented on #2412
Running an updated build...  before
[code]

After with  `201702212146` build

[code]

So the regular expressions are resolved successfully now.  but the issues brought up above still exists.

[code]

I'm going to remove the pending, let's keep this issue open to track work to fix `makehosts` `configurenics` to get those working...

[2017-02-23 18:25] #2501 closed

[2017-02-23 18:38] whowutwut commented on #2508
Yes, looks like this is the reasons.

I did a quick verification test by commenting out the code a section of code in `DBobjectdefs.pm` around line 4261.

[code]

The original purpose of this change was to really help the user clean up pieces that xCAT touches while the node definition still exists and we have the knwledge/ability to do so.... but this drastically affects the performance of the `r

[2017-02-23 19:19] kcgthb opened #2544 "Duplicated output of postscripts in /var/log/xcat/xcat.log"
Hi!

It seems that postscripts execution generates duplicated output in `/var/log/xcat/xcat.log` (at least for stateful installation of RHEL 7 nodes).

[code]
After (successfull) deployment, when SSH'ing to the node to look at the log file, you can see that each postscript line is outputted twice:
[code]

I tried to look at `/xcatpost/mypostscript` but couldn't find why lines would be duplicated i

[2017-02-23 20:01] whowutwut commented on #2327
@zet809 @neo954 So with the JEMT Garrison under fs4, I think I hit this problem again trying to test out HW discovery to validate some defects for 2.13.2...   This is very frustrating and I still don't understand why we don't simply run a `ntpd -g -x -q` to attempt to sync the clocks, if failed, it continues.

Few things I do not like about the new spinning shell....  I am no longer able to copy a

[2017-02-23 20:08] whowutwut commented on #71
@neo954 Please try and verify and close this out so we can close out 2.13.1... we are about to release 2.13.2

[2017-02-23 20:08] whowutwut commented on #1548
@neo954 Please try and verify the above and close out if ok, we are about to release 2.13.2.

[2017-02-23 20:11] whowutwut commented on #2176
@xuweibj @hu-weihua  I'm looked more closely at this issue and it seems like there was no code changes resulting from this.  Was the pending added by mistake? I'm going to move this to future release...  we either need to agree we will not fix this or agree on providing something that makes sense based on the feedback from @ralphbellofatto

[2017-02-23 20:12] whowutwut commented on #2177
Same as with the other issue, I think the pending was added by mistake since there is discussions that some change is needed but no pull request has been added to this.  Will move to next release.

[2017-02-23 20:21] whowutwut commented on #2327
@neo954 @zet809  after 30+ minutes it's still waiting, I think something is not configured correctly on fs4 but I will leave this node so you guys can take a look.. . ``rcons node-8335-gtb-211402a`` to see the ntpd waiting...

[2017-02-23 20:22] kcgthb commented on #2544
Oh well, I figured it out.

In the generated `/xcatpost/mypostscript*` scripts, the `run_ps()` function that is in charge of executing postscripts explicitly logs output to `/var/log/xcat/xcat.log`
[code]
These scripts are generated by the [`post.xcat`](https://github.com/xcat2/xcat-core/blob/master/xCAT-server/share/xcat/install/scripts/post.xcat#L218) script, which is called in the kickstart fil

[2017-02-23 20:39] gurevichmark commented on #2139
@zet809 Pull request was merged. Can you close this issue if you feel it is resolved.

[2017-02-23 21:30] mattaezell commented on #2455
Mark - sorry for not getting back to you sooner.  Yes, I think a `DSH_VERIFY=1` environment variable, or even `DSH_OPTIONS='-v'` that could hold arbitrary command line switches to apply by default, would work for me.

[2017-02-23 22:17] ralphbellofatto commented on #2176
If we provide this feature to probe the os deployment it should not be reporting a failure that then the user has to know to ignore.

[2017-02-23 22:19] ralphbellofatto commented on #2177
same comment, if the postscrpts report failure, the osdeploy should not fail to report it.

[2017-02-24 01:08] xuweibj commented on #2176
@whowutwut I'm sorry, I forgot fill this issue number in #2308.
@ralphbellofatto , I think for this issue, it should not report failure. Do you mean this should report failure? I feel a little confused.

[2017-02-24 01:21] ralphbellofatto commented on #2176
if the boot was successful the osprobe should report success, as of when this was written, a successful boot at our site was reported as failure.

There is another bug report, where we have the final xcat status report for the post scripts reports failed, and the osprobe fails to show the error.

[2017-02-24 01:32] xuweibj commented on #2176
Hi @ralphbellofatto , which version do you use now? We have tested many times, do you still use ``xdsh node reboot`` command?

[2017-02-24 01:48] ralphbellofatto commented on #2176
xdsh node reboot, yes...

I have not tested it since it filed this bug report...

[2017-02-24 02:03] zet809 commented on #2543
@neo954 Hi, Gong jie, pls take a look at this issue, thx!

[2017-02-24 02:06] daniceexi commented on #2508
Yes, looks like we prefer to make this behaviour to be default. Then adding an option to disable the offline action sounds good. So that large cluster customer can use it when they are concerning the performance of rmdef. But be sure that the description for this option is understandable for customer to know what happens inside otherwise they would have worry to use it.
ThanksBest Regards---------

[2017-02-24 02:23] xuweibj commented on #2176
@whowutwut We have fixed this and #2177 in 2.13.1, and FVT have verified. @ralphbellofatto Do you want to verify it? Or our FVT will close this issue.

[2017-02-24 03:11] junxiawang commented on #2177
@whowutwut  I have verified this bug for a while and if postscrpts report failure, the osdeploy will report it ，such as:

[c910f03c05k0221] 21:38:32 provision completed.(c910f03c05k0221)
[c910f03c05k0221] 21:38:32 provision completed                                                                    [ OK ]
All nodes specified to monitor, have finished OS provision process

[2017-02-24 03:17] whowutwut commented on #2176
@xuweibj If you have validated it, can you paste the new behavior in here to demonstrate the external behavior changes that have been made. Then Ralph can validate if it's sufficient to close the issue.

[2017-02-24 03:33] ceckhoff opened #2549 "mkdef fails to create osimage definition when a "." is in the image name"
Currently unable to create any osimage definition that contains a "." in the object type name.  This was not an issue in earlier releases but now can not import or create new deifintions that matches object types that are used by the copycds command.

root@xcat ~]# cat rhels6.8-rescue
# <xCAT data object stanza file>

rhels6.8-rescue:
    objtype=osimage
    exlist=/opt/xcat/share/xcat/netboot/rh/

[2017-02-24 03:51] immarvin commented on #2549
seems duplicate with https://github.com/xcat2/xcat-core/issues/2131

[2017-02-24 05:05] dspatil7768 opened #2550 "Discovery packet file is ready - Sending the discovery packet to xCAT - Sleeping 5 seconds [REPEAT]"
Hello, I'm new to xCAT. I have installed the latest version of xCAT and  Linux which are given below:
- xcat-core-2.13.1-linux.tar  xcat-dep-2.13.2-linux.tar
- Centos 7.2.1511 (Core)
Also, I have added one object node.
-------------------------------------------------
[root@xcatmn xcat]# lsdef cn1
Object name: cn1
    arch=x86_64
    bmc=192.168.220.143
    bmcpassword=123456
    bmcusername=root

[2017-02-24 05:50] zet809 commented on #2550
Can you show me the content of site table with "tabdump site"? If not work, pls use "XCATBYPASS=1 tabdump site". Thx!

[2017-02-24 05:56] zet809 commented on #2483
It seems the MASTER in site table is resolved to be 9.114.x,x. Then for CN in 9.114.x.x subnet, no such issue. But for CN in 192.168.x.x, the script can not access xcatd through 9.114.x.x, then it failed to send updateflag to MN. That is why the installation looping.

[2017-02-24 05:59] zet809 commented on #2483
@immarvin  and @whowutwut  To resolve this issue, do you think it is possible that to set a keyword <FACINGIP> or something to the master entry in site table, then resolve it to be the ip address of MN that facing the node that required?

[2017-02-24 06:17] zet809 commented on #2508
@daniceexi I think it is a good idea that add an option for rmdef to disable the running of nodeset. It can be added in the sprint plan of next sprint.

[2017-02-24 07:17] zet809 commented on #2475
The whole perl library had been included in xcat-genesis-base-2.13.2 build, @neo954 If you have verified, will you pls close this defect? Thx!

[2017-02-24 07:23] zet809 commented on #2451
I think we can close this defect as we have verified a lot with the modified script.

[2017-02-24 07:23] #2451 closed

[2017-02-24 08:25] penguhyang commented on #2544
@kcgthb Thanks for investigation.
The root cause is
1. In the generated /xcatpost/mypostscript* scripts, the output of run_ps() (Output by "echo" in the function here) will be redirected to /var/log/xcat/xcat.log.
2. In the run_ps function, msgutil_r write info to the same log file.
Our solution is removing the ``echo`` command within the run_ps() function

[2017-02-24 09:32] tingtli commented on #2443
Here is some information summary for this issue
1.
Machines always powering on:
c910f03c17k27 c910f03c17k28 c910f03c17k29
c910f03c17k22 c910f03c17k23 c910f03c17k24
c910f04x12v02 c910f04x12v03 c910f04x12v04
c910f04x14v02 c910f04x14v03 c910f04x14v04
2.
On kvmhost:
root@c910f03c17k27 ~]# ssh c910f03c17
Last login: Fri Feb 24 00:56:41 2017 from c910f03c17k27
[root@c910f03c17 ~]# df
Filesystem

[2017-02-24 18:36] whowutwut commented on #2485
Using the rc2 candidate build, and wiping out the config on the cumulus OS switch

[code]

Running hard eth postscript...

[code]

Looks good.  Will close issue

[2017-02-24 18:36] #2485 closed

[2017-02-24 18:43] whowutwut commented on #2362
@zet809  I'm trying to verify this out.. but  Based on the description in PR #2388, I can't tell the intended behavior. Also from the conversation above, I can't tell the intended fix provided for this issue?  Is it just to remove the "died" message and then continue to only provide a message in commands.log?

From our investigation yesterday, it seems like there's no improvement inside the genesi

[2017-02-24 18:50] adambertsch commented on #2362
I was the customer who opened this PMR.  The intent here is that the main log, instead of saying "died" might say something like:  File not found <location of packed image>, have genimage and packimage been run?

[2017-02-24 18:52] adambertsch commented on #2362
Basically the content from commands.log is what we should see presented immediately, since the current log message with the perl die() output doesn't point us towards anything useful.  It would also be reasonable to put a pointer to commands.log in the die() output.  Basically spelunking in the source to find out why it didn't work shouldn't be necessary.

[2017-02-24 18:57] whowutwut opened #2555 "Reusing the hardeths postscript for Cumulus Linux Switch OS added unsupported keyword"
Using the xCAT ``hardeths`` postscript, added in 2.13.2 #2485 ... works, but an unsupported keyword is added to the `/etc/network/interfaces` file.

[code]

The error comes out when we run `ifreload -a` on the Cumulus Switch
[code]

After removing that line and running `ifreload -a`, no error message comes out...

[code]

[2017-02-24 22:25] kcgthb opened #2557 "sendmsg is not defined in /opt/xcat/lib/perl/xCAT/Template.pm"
The `sendmsg` function is not declared (nor imported) in `/opt/xcat/lib/perl/xCAT/Template.pm`

As a result, all error messages supposedly sent back to the client are lost, and trying to use `sendmsg` results in the following being logged in `/var/log/xcat/cluster.log`:
[code]

[2017-02-24 22:49] kcgthb opened #2558 "Support for encrypted passwords in the passwd table is broken"
According to [the documentation]( https://xcat-docs.readthedocs.io/en/stable/guides/admin-guides/manage_clusters/ppc64le/configure/password.html#configure-passwords), one can store encrypted password in the `passwd` table. The provided example (using `openssl passwd -1` generates password hashes using `md5`.

Now, with #2168, the default crypt method for passwords in the `passwd` table seem to be

[2017-02-24 23:07] kcgthb commented on #2558
Also the helpfile for the `passwd` table says:
[code]
Maybe it should say instead that the "cryptmethod" field indicates the method that xCAT will use to generate the encrypted password, and that the password should be stored in plain-text.
Unless this is not the intended usage, but I didn't find any place in the code where the "cryptmethod" value would be used to determine how a hashed password w

[2017-02-24 23:36] kcgthb commented on #2558
I'm proposing a tentative fix in #2559.

[2017-02-25 00:18] whowutwut commented on #2362
@adambertsch Thanks! Agreed. The error should  be propagated up