[2018-05-16 06:27] robin2008 commented on #5153
To address it in #5215

[2018-05-16 06:33] tingtli commented on #4855
The test case is in #PR  https://github.com/xcat2/xcat-core/pull/5216

[2018-05-16 07:19] neo954 opened #5217 "With `updatenode -F -r /usr/bin/scp`, failed to replace directory with regular file"
This bug is against xCAT `2.14.1-snap201805090615`.

**How to recreate the bug**

Prepare the test environment
[code]

Bug recreation steps

[code]

**What actually happened**

This test scenario try to replace a directory on the target compute node with a regular file while using `updatenode -F -r /usr/bin/scp`. In this case, `scp` complained `Is a directory` and failed to copy the file.

**What

[2018-05-16 07:51] bybai commented on #5192
@immarvin, I found if ping permission is "-rwsr-xr-x" in rootimg, ping can work for non-root user in nfs-based statelite system. no need to add "/bin/ping" into litefile table. And add /bin/ping into litefile table is not correct way to resolve the issue.  For nfs-based statelite system,  our design limits many permissions by defaults, for example, when we want to add non-root user, we should use

[2018-05-16 09:28] bybai commented on #5200
@mattaezell , we have 2 changes in new code:
1, change default action is to "will not restart ib driver (including openibd) as default"
2, if `/etc/rdma/rdma.conf` or `/etc/infiniband/openib.conf` is changed by `configib` script, will restart ib driver.

[2018-05-16 10:26] bybai commented on #5192
In statelite OS scenario, if user want to change permission for one file, for example, /bin/ping. User should do 2 solutions:
**solution 1:**
1, add /bin/ping into `litefile` table like following, then /bin/ping permission is not ro.
[code]
2, make changes for /bin/ping after the node is booting, it can work by non-root user:
[code]
**solution 2**
Directly change permission as following for usr/bi

[2018-05-16 13:52] cxhong commented on #5213
can u try this command on the system?
[code]
we are supporting `.1.3.6.1.4.1.2.6.223.8.2.2.1.11` and `.1.3.6.1.4.1.2.6.223.8.2.2.1.13`  mibs for PduOutletState

[2018-05-16 15:42] gurevichmark commented on #3960
Updated comments in the checklist. Also `Newell` should be used as a node name instead of Witherspoon.

[2018-05-16 18:03] cxhong commented on #4989
the command behavior is different from CLI and Plugin routine.
using error case of `chdef` as example, when called from plugin routine,  the output of defch_usage() will  treat as `error` and return to client as-is.   but for CLI,  each line in the defch_usage() will treat as ARRAY of `info`, when return to client, the client will add `\n` to each message.  in the client.pm:
[code]
I don't know if

[2018-05-17 01:52] robin2008 commented on #4989
why we need print the error message from `chdef`? it is required to check the parameters before passing them to `chdef`.  Also print the error `command` when it pass our check and it still failed, so that user could easily know the cause.

[2018-05-17 02:03] cxhong commented on #4989
nothing changed if user run `chdef` from command line, it will show error message and chdef usage as before.
Ertao's PR#4992 will not call chdef if `bmcdiscover` command has invalid node object.
in the PR#5220,  I modified if chdef failed in the `bmcdiscover` plugin, it will print out error message but not chdef usage
[code]

[2018-05-17 02:43] GeoKM commented on #5213
Hi,

I tried the following
snmpwalk -v2c -cpublic -mALL PDU-R10A IBM-PDU-MIB::ibmPduOutletState -O n 2>&1 |grep IBM

and got the following.

Cannot find module (IBM-PDU-MIB): At line 0 in (none)
IBM-PDU-MIB::ibmPduOutletState: Unknown Object Identifier

Does that mean I have failed to install something on the system and the actual MIB's are not installed?

Thanks for any help you can give?

[2018-05-17 03:08] bybai commented on #5200
Hi @mattaezell, I made this enhance for configib, it is merged in  https://github.com/xcat2/xcat-core/pull/5219, could you apply the latest code and have a try in your environment?

[2018-05-17 03:44] mattaezell commented on #5200
Thanks @bybai

In our current setup, we just blindly comment out the restart.  I think your fix looks correct, but unfortunately I don't think we will be able to run with your updated version for a while.

[2018-05-17 09:17] #5170 closed

[2018-05-17 15:25] cxhong commented on #5213
The mib file should be located in the /usr/share/snmp/mibs, depends version of PDU, the file name will be something like this:  `ibmdpi_v01.3_3.mib`.  xCAT used OID, so I don't think you need to have mib files installed.    can u try this:
[code]
checked `ibmdpi_v01.3_3.mib` file,  the above OID is for outlet status.

[2018-05-17 19:36] cxhong commented on #5213
@GeoKM , currently, xCAT only return the state if it is `on` or `off`, all other state return empty string.
I opened a PR and add more output of PDU outlet status.  those are the state/value defined in the mib file:
[code]
xcat only display on/off, all other state

[2018-05-18 02:00] hu-weihua commented on #5198
have been fixed by #5204, close this one.

[2018-05-18 02:00] #5198 closed

[2018-05-18 02:29] GeoKM commented on #5213
Hi, 8-)

The only files in /usr/share/snmp/mibs are

root@xCAT-A:/usr/share/snmp/mibs# ls
GNOME-SMI.txt                        miblist.txt                NET-SNMP-PASS-MIB.txt             SNMP-TLS-TM-MIB.txt   UCD-IPFWACC-MIB.txt
IANA-ADDRESS-FAMILY-NUMBERS-MIB.txt  NET-SNMP-AGENT-MIB.txt     NET-SNMP-PERIODIC-NOTIFY-MIB.txt  SNMP-TSM-MIB.txt      UCD-SNMP-MIB-OLD.txt
IANAifType-MIB.txt

[2018-05-18 06:34] hu-weihua opened #5227 "Non-root user can not run ping on ubuntu 14.4.4 diskless"
Non-root user can not run ``ping`` on ubuntu 14.4.4 diskless node.

The related process are
[code]

 The same problem happened with ``-c gzip`` and ``-c xz``.

[2018-05-18 13:41] cxhong commented on #5213
the OID of ibmPduOutletState on  my version of `ibmdpi_v01.3_3.mib`  file is  `223.8.2.2.1.11`  :(
xCAT supports `223.8.2.2.1.13`, but only if ibmPduSoftwareVersion  has `sLEN`
[code]
Can u check above command on your system?
I need to talk to IBM engineer about this issue.
for now you can use `snmpset` command to power off/on , or you can modify the xCAT on the xCATMN .  change `223.8.2.2.1.11` t

[2018-05-21 02:36] zet809 commented on #5177
hi, @cxhong , any update for this issue? Thx!

[2018-05-21 02:46] zet809 commented on #5150
hi, @gurevichmark , will you pls check whether the tabch or tabdump still hung with Xu Bin's fix. It seems the build after "May 12" have include the fix.

[2018-05-21 04:51] neo954 commented on #3960
The typical user scenario in my mind is ...

* Based on xCAT `rflash` document, the end user can prepare the firmware files for updating in advance, before he/she can have a chance to run `rflash` against the real machine.

Thus, I think rely on the error message of `rflash` is not good enough. That is due to the end user has to have a real machine, and run `rflash` against it, before he/she can g

[2018-05-21 05:01] immarvin commented on #5227
fixed in https://github.com/xcat2/xcat-core/pull/5230

[2018-05-21 05:14] GeoKM commented on #5213
Hi again 8-)

Yep I get the following

root@xCAT-A:~# snmpwalk -v1 -cpublic PDU-R10A IBM-PDU-MIB::ibmPduSoftwareVersion
IBM-PDU-MIB::ibmPduSoftwareVersion.0 = STRING: OPDP_sIBM_v01.3_3
root@xCAT-A:~# snmpwalk -v1 -cpublic PDU-R10A .1.3.6.1.4.1.2.6.223.7.3.0
iso.3.6.1.4.1.2.6.223.7.3.0 = STRING: "OPDP_sIBM_v01.3_3"

So my PDU’s identify as OPDP_sIBM_v01.3_3 and pdu.pm is following the logic path fo

[2018-05-21 07:42] bybai commented on #3701
@whowutwut, I looked into  latest verion `MLNX_OFED_LINUX-4.3-1.0.1.1-rhel7.5alternate-ppc64le.iso`, cannot reproduce it, so I closed this issue. We can keep an eye at it later.

[2018-05-21 15:52] gurevichmark commented on #5150
@zet809  Running with May 16 build, I am still seeing problems:

1. For `tabch` using invalid attribute name like `networkxyz` used to hang, now it exits with no error and RC0:
[code]
2. For `tabdump` using invalid attribute name like `netmaskxyz` used to hang, now it exits with a messy error message:
[code]

Looking at PR #5184, it states that this issue is only partially fixed. Is there another

[2018-05-22 02:12] immarvin commented on #5177
hi @cxhong , the data transfered during discovery is compressed file, please run `gzip -9 /tmp/discopacket` against the larger packet and check whether the size of `discopacket.gz` exceeded 1500 B, thanks

[2018-05-22 02:19] tingtli opened #5233 "[FVT]: add exlist explanation in osimage table description"
I didn't find the exlist attribute in osimage table description when execute "tabdump -d osimage". Please add it , thanks!

[2018-05-22 02:30] immarvin commented on #5233
the `exlist` attribute is in `linux image` table,
see
[code]

[2018-05-22 05:35] zet809 commented on #5150
OK, I see, it just fix the hung problem, not return a useful error message.
Will try to fix it tomorrow

[2018-05-22 05:45] hu-weihua commented on #5227
has been verified in automation environment. thanks @immarvin

[2018-05-22 05:45] #5227 closed

[2018-05-22 07:46] immarvin opened #5235 "[feature] expect "xcattest -t/-b" can generate a bundle including all the failed cases found on each run"
this is a scenario I found during running xcat-inventory regression:
I run `XCATTEST_DSTMN=10.3.5.8 xcattest -b /home/xcat-inventory.bundle.all`,  found 4 error cases,

[code]

then I have to look into `/opt/xcat/bin/../share/xcat/tools/autotest/result//failedcases.20180522031513` and find out the failed cases and fix them, then I have to rerun the cases to verify the fix is ok, but I do not want

[2018-05-22 08:25] immarvin commented on #5214
fixed in https://github.com/xcat2/xcat-core/pull/5237

[2018-05-22 08:26] immarvin commented on #5217
fixed in https://github.com/xcat2/xcat-core/pull/5237

[2018-05-22 10:15] hu-weihua commented on #5235
@immarvin every time, we run xcattest, it will generate 3 files under ``/opt/xcat/share/xcat/tools/autotest/result``, they are:
[code]
All failed cases are saved in file ``failedcases.*******``. Run below command can get what you want
[code]

[2018-05-22 13:30] tingtli opened #5238 "[FVT]xcat-inventory: provide warning message if provision_mode is not provided for osimage which is exported."
xcat 2.14.1

When execute import for an osimage defition. It gives out that the provision mode is not given in yaml file.  Go back to export command, it should give out warning message that if provision_mode is not given for osimage export.

[code]
Here is the export command
[code]

[2018-05-22 19:36] whowutwut commented on #3960
Assigning this issue to @gurevichmark

[2018-05-22 19:37] whowutwut commented on #3960
@neo954 I highly doubt that administrators will have a production system that they are unfamiliar with and flashing firmware for the first time during a maintenance window...

[2018-05-22 20:11] whowutwut commented on #5210
Ok, thanks for confirmation.

At least this issue will be around if others see some similar issues. When running `genimage` on the MN node, the mellanox script will display the adapter that is on the MN node and NOT the target compute nodes.

[code]

[2018-05-22 20:11] #5210 closed

[2018-05-23 01:55] zet809 commented on #5177
hi, @cxhong , does the size of `discopacket.gz` similar as what customer encountered? And proved no problem in our environment?
And, @immarvin , in line 812 of xcatd.pm, it will read 2000B from a socket, but then in line 864, it read 1500B if there are more packets, we shall keep the consistent, right?

[2018-05-23 06:34] neo954 opened #5239 "Please update the document of synclist file to explain the behavior of EXECUTEALWAYS feature clearly"
This bug is against xCAT `2.14.1-snap201805090615`.

**How to recreate the bug**

Prepare the test environment
[code]

Bug recreation steps

[code]

**What actually happened**

In last part of synclist file, `/tmp/syncfiles.MzD8wVLy/foobar.synclist`, the `EXECUTEALWAYS` part, the script name listed there has to be `/tmp/syncfiles.MzD8wVLy/file/qux` instead of `/etc/files/qux` to make it work. And

[2018-05-23 08:50] immarvin commented on #5238
hi @tingtli , `provision_mode ` corresponds to the `provmethod` in osimage definition, this is a mandatory attribute for osimage object. When creating osimage in test cases, we should add the  `provmethod` attribute

[2018-05-23 13:34] cxhong commented on #5177
the size of their discopacket is 12906B at that time. didn't know the size of gz file, but should exceed 1500B.

[2018-05-24 05:01] tingtli opened #5241 "[FVT]:lsdef -t osimage -z could not gives out all osimage's definition stanza"
xcat 2.14.1 on linux

I would like to list all the osimage defined in xCAT database, here is what i got.
[code]
And if we gives some attributes, it still could not gives out the stanza.
[code]

[2018-05-24 07:10] hu-weihua opened #5245 "The return value of "pscp -h" is 1, should be 0"
The return value of "pscp -h" is 1, but it should be 0

[code]

[2018-05-24 10:19] neo954 opened #5246 "Use "template" feature in osimage document"
In xCAT osimage document [1], *Tip 2*, teach user to use the "template" feature is preferred.

[code]

[1] http://xcat-docs.readthedocs.io/en/latest/guides/admin-guides/manage_clusters/ppc64le/diskful/copy_image.html

[2018-05-24 13:46] cxhong commented on #5177
Thanks @zet809 ,  I think the issues is recreated.

1) xcatd didn't receive "findme" request if discopacket.gz  is more than 2000B
[code]
2) xcatd received "fiindme" request if disopacket.gz file is less than 2000B
[code]

[2018-05-24 16:53] dhilst commented on #3825
Hi,

Sorry commenting on closed issue, but does NetworkManager is taken in account? I'm using virtual machines for testing xCAT setups and it seems that no `ifcfg-virbr0` is created during the libvirt installation. Still the interface has an static IP as stated by bellow `nmcli` command.

[code]

[2018-05-24 19:10] cxhong opened #5248 "wget output from download postscripts to compute nodes"
Can we get rid of wget output in the /var/log/xcat/xcat.log from downloading postscripts?
[code]

I don't think we want to see the wget output message here

[2018-05-25 01:49] #5192 closed

[2018-05-25 01:51] bybai commented on #5192
Verified as above steps, close this issue now. This will not be added into auto test bundle.

[2018-05-25 01:59] bybai commented on #5200
Got agreement from Mark. I will close it now, can reopen it if needed in future.
I verified on  fake IB env:
1, can restart scenario:
[code]

2.  do not restart openibd scenario:
[code]

[2018-05-25 01:59] #5200 closed

[2018-05-25 02:35] tingtli commented on #5238
@immarvin  But when i use chdef to create an osimage, if provison_mode or  provmethod is not defined, the creation could succeed.
[code]
So, do we consider to give warning message when we create an osimage without provmethod?

[2018-05-25 05:30] dspatil7768 commented on #3137
@zet809 It was already enabled. Now it gets stuck
[code]

Node defination:

[code]

[2018-05-25 09:04] #5214 closed

[2018-05-25 09:04] #5217 closed

[2018-05-25 09:27] robin2008 commented on #5248
It seems the whole `/tmp/wget.log`, are we in debug mode?

[2018-05-25 13:32] cxhong commented on #5248
my test system is not in the debug mode.  anyway,  don't think we need to see those logs:
[code]

[2018-05-25 14:22] cxhong commented on #5248
@robin2008 , one of wget didn't redirect to /tmp/wget.log, let me open a PR for this.

[2018-05-25 17:03] kcgthb opened #5252 "syncfiles fails during stateful deployment but updatenode -F works"
Hi,

I'm seeing some resurgence of #4455 / #4484 when deploying a node in hierarchical mode. The weird thing is that the `synfiles` postscript (silently) fails during deployment, but `updatenode <node> -F` works perfectly fine once the node has been deployed.

Here are some logs. I'm deploying `sh-ln01` from a service node (`sh-hn02`, `10.10.0.2`). The management node is `sh-hn01` (`10.10.0.1`). x

[2018-05-25 22:15] kcgthb commented on #5252
Uh, so apparently that was an issue with the service node itself, because the `syncfiles` works great when the node is deployed form another SN, or from the MN. And redeploying that SN actually fixed the problem.

So I assume there were a leftovers from a previous xCAT version on that SN. Sorry for the noise, all is good now.

[2018-05-26 13:54] whowutwut commented on #3825
@xuweibj @neo954 @hu-weihua @bybai please help comment on the above. Thanks!

[2018-05-26 17:53] kleykenb commented on #1379
As a work-around to get passed this  :
On Fedora 27 with 2.14 this can be solved by building a package with only the file /etc/xinetd.d/tftp in it and then install that package. http://khmel.org/?p=113 describes how to do this.

[2018-05-28 01:57] zet809 commented on #3137
Have you tried `rcons knl05 -f`?

[2018-05-28 02:50] immarvin commented on #5238
hi @tingtli , you can create a osimage by chdef, but can it be used to provision?

[2018-05-28 04:44] hu-weihua commented on #3825
@dhilst, thanks for bringing up this problem.

@whowutwut, I opened a task xcat2/xcat2-task-management#154 for above problem . This will be fixed in 2.14.2.

[2018-05-28 06:11] neo954 opened #5254 "Magic string `Unknown` in the design of xcattest"
This bug is against `2.14.1-snap201805250615`.

**How to recreate the bug**

Two test case were created, named `zzz` and `xyzzy`.

[code]

Bug recreation steps

[code]

**What actually happened**

The test case `xyzzy` failed. The sting `Unknown` is a magic string in the `xcattest` design and implementation. Which is a bad design.

**What is expected**

Like test case `zzz`, the test case `xyzzy`

[2018-05-28 06:45] #5233 closed

[2018-05-28 07:10] neo954 opened #5255 "xcattest print out source code of simulatorctl.sh in abnormal situation"
This bug is against `2.14.1-snap201805250615`.

**How to recreate the bug**

Two test case were created, named `zzz` and `xyzzy`.

[code]

Bug recreation steps

[code]

**What actually happened**

In the test case `baz`, the line of `end` is missed intentionally. In this situation, `xcattest` act abnormal and print out the source code of `simulatorctl.sh`.

**What is expected**

* A proper error m

[2018-05-28 07:53] hu-weihua commented on #3887
Have been verified in ``Version 2.14.1 (git commit eb346fb7526efa38449f92edfa62bbb78ce192fa, built Fri May 25 06:15:54 EDT 2018)``. close this issue

[2018-05-28 07:53] #3887 closed

[2018-05-28 12:30] robin2008 opened #5257 "openbmc python agent exited unexpectedly"
In a hierarchy environment, if define both MN and SN to  openbmc CN's attribute `servicenode`
It will show unexpected error when running remote control command, for example.
[code]

And check the `/var/log/xcat/agent.log`, we can see the below error message:
[code]

[2018-05-28 12:38] robin2008 commented on #5257
Although this is not a normal configuration to set `servicenode` to both MN and SN, but the error is caused by the concurrent supporting.

After investigation, it is a code error there. It try to use `$$` to define variable (socket file name) which could be changed in different process based on the PID. But it is in a perl module, we cannot get the expected value. As a consequence, two plugins in

[2018-05-28 22:05] dhilst opened #5260 "chtab try to access /etc/xcat/*.sqlite by its own, but this does not work for non-root users"
Hi everybody,

I was testing xCAT with non-root users. I followed the [docs](https://sourceforge.net/p/xcat/wiki/Granting_Users_xCAT_privileges/) for setting up user certificates, etc.. So I fired a `chtab key=... ` and got a timeout.

After some digging, I found (with strace) that `chtab` was trying to open `/etc/xcat/passwd.sqlite` by it's own and facing denied access. Bellow is the relevant str

[2018-05-28 22:07] dhilst commented on #5260
I forgot to mention the versions

[code]

[2018-05-29 01:43] xuweibj commented on #3902
Hi @hu-weihua , please help to verify this issue.

[2018-05-29 01:45] tingtli commented on #3497
Refer to https://github.com/xcat2/xcat2-task-management/issues/90

[2018-05-29 01:59] tingtli commented on #5126
https://github.com/xcat2/xcat-core/pull/5168

[2018-05-29 02:02] tingtli commented on #4770
Test case is in https://github.com/xcat2/xcat-core/pull/5161

[2018-05-29 02:45] robin2008 commented on #5131
verified on `Version 2.14.1 (git commit bed114d6b9779d48ba37447deb7842ec954e808e, built Tue May 22 06:15:46 EDT 2018)`

[code]

[2018-05-29 02:45] #5131 closed

[2018-05-29 07:11] #5257 closed

[2018-05-29 07:53] neo954 commented on #711
Hello @bybai, @hu-weihua and @whowutwut,

Since the problem cannot be reproduced and is not a bug. I will remove the `test_requested` label. Please feel free to add it back if you believe it is needed. In that case, I would appreciate your clarification.

[2018-05-29 18:32] cxhong commented on #5260
Hi, @dhilst ,  for this case, you have to use the `tabch` command,
[code]
@team,   is possible can we remove `chtab` command?   or at least we should check if it is not ran by **root**,  we should give our meaningful error message instead of this:
[code]

[2018-05-29 19:46] cxhong commented on #5213
@GeoKM , this is the response from engineer:
[code]
our recommendation is upgrade your PDU firmware to 1.3_8

[2018-05-30 03:30] GeoKM commented on #5213
Hiya again 8-)

Thanks for that info,

Do you happen to have a link where I can get the  1.3_8 firmware from?

I can only find 1.3_3 as the most recent on IBM fix Central? How strange?

Thanks.

[2018-05-30 04:27] neo954 commented on #5087
This issue is a known problem. I suggest we leave it "as is" and close this one. Since there is only a small bad side effect caused by this problem, the warning messages. And I think @zet809 does not intend to "fix" this problem further.

[2018-05-30 06:34] robin2008 opened #5263 "Recording the Severity of log message into xCAT logs"
Now in xCAT log file, there is no severity level in log file,  especially there are tons of debug message, it is not easy to filter them and find the clue.

xCAT is using syslog to record the log messages and leverage rsyslog to write log file in `/var/log/xcat`
So, we can modify the template and leverage the rsyslog [properties](https://www.rsyslog.com/doc/v8-stable/rainerscript/variable_property

[2018-05-30 06:46] robin2008 commented on #5263
Mini design:
1, rsyslog already has the property `syslogseverity-text` to record the text of the severity, just need to update `rsyslog.d/xcat-cluster.conf` and `rsyslog.d/xcat-compute.conf` to add it, and consider not impact the previous parser, just insert it before the message content (some log message already has such format)

2, using `property replacer` to convert it to uppercase

3, Just me

[2018-05-30 07:36] immarvin commented on #5260
hi @cxhong ,where does the error message come from?

[2018-05-30 13:22] cxhong commented on #5260
@immarvin , the error messages come from `chtab` command if it issued by the users

[2018-05-30 14:28] cxhong commented on #5213
@GeoKM , you may need to request IBM(not sure about process) to upload newest firmware to fix Central.

[2018-05-30 15:40] whowutwut commented on #5131
For completeness this check has been added to `xcatprobe xcatmn` option.

[2018-05-30 15:50] whowutwut commented on #4946
Closing for now based on the above. Thanks @cxhong

[2018-05-30 15:50] #4946 closed

[2018-05-30 15:53] whowutwut commented on #3889
This looks good, running verification on:

[code]

Running full inventory is around 10 seconds....

[code]

Running a subset is less,  there is still some overhead in the RESTFul call...
[code]

[2018-05-30 15:53] #3889 closed

[2018-05-30 18:10] whowutwut commented on #711
@neo954 if we cannot re-create it, it makes sense to not have a testcase_requested label.  I'm OK with it. . I added this a long time ago so that if it was a slip through, we should have a testcase created to catch it while we work on a fix, this way it can be tested on the broken code, and verified on the fix code..

[2018-05-30 19:35] cxhong opened #5266 "Couldn't create bin/switchprobe from non-root user"
Customer used xcatprobe switch_macmap to view MAC addresses on a switch on their cluster using xCAT version 2.13.9.  Now using xCAT 2.14, we see the following:

[code]

Debugged with kurtis,  their system doesn't have subcmds/bin directory
[code]

Looks like normal users cannot create the bin file:
[code]

Can we ship /bin/switchprobe with xCAT-probe rpm?

[2018-05-31 05:36] immarvin commented on #5266
interesting that the following link is created when  `switch_macmap`  is run

[code]

it should be performed in %post script of xCAT-probe package during installation

[2018-05-31 05:39] hu-weihua commented on #5098
Have been verified, thanks @cxhong

[2018-05-31 05:39] #5098 closed

[2018-05-31 05:51] hu-weihua commented on #5087
That is ok, close this issue.

[2018-05-31 05:51] #5087 closed

[2018-05-31 06:50] hu-weihua commented on #4989
Has been verified by 2.14.1 May 30 07:15:51 build . thanks @cxhong

[2018-05-31 06:50] #4989 closed

[2018-05-31 07:02] hu-weihua commented on #3902
Has been verified in 2.14.1 May 29 build. Thanks @xuweibj

[2018-05-31 07:02] #3902 closed

[2018-05-31 07:06] zet809 commented on #5160
Hi, @whowutwut , do you think we can close this issue or use this defect to trace adding filelist comparing mentioned in #5197?

[2018-05-31 07:09] #5177 closed

[2018-05-31 07:10] robin2008 commented on #5176
Merged, and not found new issue on rflash, just close it.

[2018-05-31 07:11] robin2008 commented on #5153
Close it.

[2018-05-31 07:11] #5153 closed

[2018-05-31 07:15] hu-weihua commented on #5175
Move to 2.14.x

[2018-05-31 12:34] #5213 closed

[2018-05-31 13:57] cxhong commented on #5266
@immarvin , %post is empty for xCAT-probe package
[code]

[2018-05-31 19:58] whowutwut commented on #5176
Using May 30 build, this still happens....

[code]

`strace -p` on this pid shows:
[code]

[2018-05-31 23:45] whowutwut commented on #5238
Shouldn't this issue be opened here? https://github.com/xcat2/xcat-inventory/issues

Or maybe the question is, why is this not part of xcat-core? What was the initial thought there @immarvin ?

[2018-05-31 23:48] whowutwut commented on #5238
Interesting bug you found @tingtli,  looks like there is more attribute checking during the import using `xcat-inventory`.. should we try to make sure that `import` and `mkdef/chdef` are in sync and checking the same things?

[2018-06-01 05:48] robin2008 commented on #5176
https://github.com/xcat2/xcat-core/pull/5274 is to address the missing part.

[2018-06-01 08:49] robin2008 commented on #5176
Verified on Version 2.14.1 (git commit 70d6e7f93cc9714a127c22df2e7ca53d4996a34c, built Fri Jun  1 03:00:53 EDT 2018)

To hack codes to make `rflash_upload` run for long time, and
run `rflash mid05tor12cn16 /mnt/xcat/iso/openbmc/910.1746.20171213a_1742Eh/obmc-phosphor-image-witherspoon.ubi.mtd.tar -a`

And monitor the rflash main process,  there is no high CPU, and the using `strace -p`, got below

[2018-06-01 13:56] whowutwut commented on #5176
@robin2008 did you inject multiple rflash calls on the same endpoint BMC? I believe this is what caused the problem to get exposed again...  Did we test this on a noderange or just a single node?

Really we need the re-create process on the old code, then running the same test using the new code...   The above validation you ran does not do the same thing Mark Smith did to create this error case.

[2018-06-02 00:15] marksmit-ibm opened #5276 "rflash slow to respond and two operations can hang"
Testing issue https://github.com/xcat2/xcat-core/pull/5274

I see getting ready to run an update, I first run
rflash service -l    (service = group of sn01,sn02)
It takes 43 seconds real time to complete but almost no time to run:
(0) root @ xcat1: /firmware/Witherspoon/OP910/OP910_1742FxR8-910.1806.20180530t-pnorOnlyUpdate
# time rflash service witherspoon.pnor.squashfs.tar -c
TAR xyz.openbmc_pro

[2018-06-02 02:15] whowutwut commented on #5276
@xuweibj @robin2008 can you take a look here?

[2018-06-03 02:01] robin2008 commented on #5276
@xuweibj
I think we need lock for those actions which cannot be applied at the same time, planned in 2.14.2

[2018-06-03 04:56] robin2008 commented on #5276
It might not be related to our codes,  I just do some investigation on Mark's environment.  And found that the `uploading` cannot be successfully.
[code]

[code]
And from the log, we can see that after `IBM-witherspoon-ibm-OP9_v1.19_1.167 ` is activated, the uploading is not finished again.

[2018-06-04 08:09] immarvin commented on #5238
hi @whowutwut , the initial thought is that `xcat-inventory` is a standalone add-on for xcat, we had some discussion on https://github.com/xcat2/xcat-inventory/issues/16.
yes, issues and PRs for xcat-inventory should be under `xcat2/xcat-inventory`,  but seems we did not make it awake of this inside team. We will reminder this.

[2018-06-04 09:45] immarvin commented on #5238
`xcat-inventory` is another view of xCAT objects besides `lsdef/mkdef/chdef`although the objects manipulated by`xcat-inventory` is based on the ones of `lsdef/mkdef/chdef`.

Due to technical debt, `mkdef/chdef` commands does not have sufficient validation against the attributes and the `def` related code logic is too complex , it will cost a lot of effort to keep the 2 in sync(this is also a reaso

[2018-06-06 06:14] robin2008 commented on #3825
@hu-weihua   If this is an issue,  need to create ticket on xcat2/xcat-core directly, instead of xcat2-task-management.

[2018-06-06 06:29] bybai opened #5278 "mysqlsetup -i hang when MN is using alias IP"
How to reproduce:
I used alias ip as xCAT MN ip, during "mysqlsetup -i -f <physical_ip_file>" it hangs in "Restoring the xCAT Database with /root/xcat-dbback to MySQL database"
After grant privilege to physical ip, "mysqlsetup -i -f <physical_ip_file>" can work well.

[2018-06-06 15:17] marksmit-ibm commented on #5276
With our version of xCAT unchanged, I rebooted sn02-bmc 2 times until `rpower sn02 stat` and `rflash sn02 -l` again properly returned without error.
I consulted with openbmc developer and confirmed that:
1. the upload should extract to /tmp,
2. the "rwfs" filesystems are 89% so wouldn't think they are full
3. check /tmp/images/ which is where the file is copied then extracted

I then attempted rec

[2018-06-06 16:10] robin2008 commented on #5276
Thanks @marksmit-ibm

And @xuweibj   @gurevichmark
Do we have lock to prevent run the `rflash -a` for same node ?  For example,  in one terminal, run
`rflash cn1,cn2  ... -a` and in the same time to open another terminal , and run `rflash cn2 ... -a`

[2018-06-08 08:00] winice-test opened #5284 "kits addpkgs selects packages without respecting versions"
When I build a complete kit tar file, I found buildkit selects the package randomly but not respecting the package versions.

root:~/pvt/kits# ls source_packages/*64.rte*
source_packages/essl.3264.rte_5.3.2-0_ppc64el.deb  source_packages/essl.3264.rtecuda_5.3.2-0_ppc64el.deb  source_packages/essl.6464.rte_5.3.2-0_ppc64el.deb
source_packages/essl.3264.rte_5.3.2-1_ppc64el.deb  source_packages/essl.3

[2018-06-08 08:03] winice-test commented on #5284
xcat-buildkit version 2.9-snap20141208 on Ubuntu1404

[2018-06-08 09:43] bybai commented on #5284
Hi @winice-test , I looked in your environment, `xcat-buildkit` is 2.9-snap20141208. This issue should be fix in commit f8183abc50e86ab8d7e35ef63f27551c9f3acb74
You can decide to upgrade the xcat-buildkit or give fix to customer.
Thanks.

[2018-06-11 01:49] hu-weihua commented on #5176
@robin2008 Could you follow this issue again? FYI,  I will move it to 2.14.2.

[2018-06-11 02:45] robin2008 commented on #5176
@whowutwut   there is no injection here for multiple processes, this issue is only for CPU 100%, we can close this one, and it is already fixed and confirmed by customer.

we can follow the  multiple access to same BMC in https://github.com/xcat2/xcat-core/issues/5276

[2018-06-11 02:45] #5176 closed

[2018-06-11 02:49] tingtli opened #5285 "[FVT]:xcat-inventory export osimage could not find correct file"
xCAT 2.14.2
The xcat inventory version is 0.1.4
[code]
Here is the test steps. Not sure if the file path is correctly set.
[code]

[2018-06-11 02:53] robin2008 commented on #5276
@xuweibj  Could you do more testing for it?  Need answer below question:
1, Does the BMC will run into trouble if admin issue two `rflash` in the same time?

If yes, then we have to work out a lock method to avoid this.  Maybe we can refer to the ipmi implementation.

[2018-06-11 03:16] immarvin commented on #5285
hi @tingtli , the bugs for `xcat-inventory` should be opened in https://github.com/xcat2/xcat-inventory/issues.
please open a new ticket in https://github.com/xcat2/xcat-inventory/issues and close this one, thanks

[2018-06-11 05:11] xuweibj commented on #5276
My test scenarios as below:
2 Terminals to run rflash command
* 1 Run ``rflash -u`` on 2 terminals at the same time, it seems after one upload success the other one start to upload. Final, success.
* 2 After one terminal shows that "Uploading **", run ``rflash -u`` on another terminal. After first one get "successful", the second one shows "Uploading". Final, success.
* 3 One terminal run ``rflash

[2018-06-11 07:53] tingtli commented on #5285
Open this bug in https://github.com/xcat2/xcat-inventory/issues. Close this one.

[2018-06-11 07:53] #5285 closed

[2018-06-11 16:22] bebosudo opened #5287 "xcat 2.14 is unable to recognize centos versions"
Hi, I'm using xcat 2.14 installed on a Centos 7.5 and another xcat 2.10 on another centos 7.5, to install centos version 7.5 and 6.6.

Version 2.10 is able to correctly install centos 7.5, version 2.14 halts with a "Pane is dead".

After a couple of hours of debugging, I found out that the template assigned by 2.14 to centos distributions is the default `/opt/xcat/share/xcat/install/centos/compute

[2018-06-11 19:35] bebosudo commented on #5287
I've found that the problem happens when the name passed doesn't comply with the "standard" `distro<major>.<minor>`: in that case the templates are those of the main version.

Wouldn't it be better to route the installation files to the latest version, in this case Centos 7?
And would be great to have at least a warning message, something like "distro version not recognized, defaulting to base <di

[2018-06-11 20:05] whowutwut opened #5288 "When running rflash on multiple node groups, with errors, the summary does not make sense."
Here's output from the rflash in `/var/log/xcat/commands.log`

[code]

Here's the node groups:
[code]

Here's the service node relationship:
[code]

it looks like perhaps there two summary running for each node group... not sure why...

[2018-06-11 20:09] whowutwut commented on #5287
@bebosudo Yes, the issue is that if we cannot determine the correct OS, we default to an OLD version of the template file.  I think we should probably change this to default to the latest version of the template file, it seems like it would alleviate headaches like this.

We have hit this  many times in the past...  for example
https://github.com/xcat2/xcat-core/issues/4819

Thank you for opening

[2018-06-11 20:24] cxhong commented on #5287
it cause by this https://github.com/xcat2/xcat-core/pull/4823

If -n xxxx doesn't include the ".",  it will not get to this block of code, and couldn't find correct tmpl file

[code]

[2018-06-11 21:07] gurevichmark commented on #5288
I think what is happening is that with service nodes, each service node runs `rflash` on its own set of nodes. Then the output gets displayed on MN from each service node.
So these two summaries come from service nodes:
``
Firmware update complete: Total=6 Success=5 Failed=1

Firmware update complete: Total=6 Success=6 Failed=0
[code]
Firmware update complete: Total=2 Success=1 Failed=1
[code]
Fir

[2018-06-12 01:00] xuweibj commented on #5288
In our current code, all compute nodes will be classified to 3 types:
first type: ``sn01,sn02``
second type: ``sn02,sn01``
third type: ``sn01``

So here will receive 4 summaries. (Each type has 1, and rflash against SN has 1)
If we want to fix this, should modify the code of getting service node.

[2018-06-12 08:38] robin2008 commented on #5288
No good method for this situation, as `preprocess` split those nodes into different sub-command, and no way to converge them together.

Maybe we can give more clean message like, `Firmware update complete on <xxx>: `

[2018-06-12 09:05] #5284 closed

[2018-06-12 09:06] bybai commented on #5278
this is verified by autotest and FVT.

[2018-06-12 09:06] #5278 closed

[2018-06-12 14:14] gurevichmark commented on #5288
@xuweibj Is there a reason why third type is not part of first type ? Just for easy parsing ?

[2018-06-12 14:15] gurevichmark commented on #5288
@robin2008 When you say: `Firmware update complete on <xxx>:` do you mean for `<xxx>` to be the name of the service node and then after `:` list all the computes that this service node processed ?

[2018-06-12 17:09] moralesj opened #5289 "rflash can not connect to sn02's BMC"
Trying to use rflash to flash SN02 on Austin Coral Combined cluster.  When trying to list out images on the BMC it will not connect

[code]

BMC is up and connectable and REST services are up

[code]

[2018-06-12 18:46] gurevichmark commented on #5289
When this happens the BMC displays this information:
[code]

[2018-06-12 18:48] gurevichmark commented on #5289
Asked in openbmc channel what his error means:

![image](https://user-images.githubusercontent.com/16106630/41310482-9b2e1fe2-6e4f-11e8-8217-1a103f091c80.png)

[2018-06-12 19:45] whowutwut commented on #5288
@robin2008 @xuweibj @gurevichmark Is there a way to display  the actions running on the service node, and understand where the messages are coming from, instead of looking like there's two summary on the MN node covering the same nodes...  Does the verbose output show it?

[2018-06-12 19:45] whowutwut commented on #5289
@gurevichmark So is the problem that changes were made in the REST engine and xCAT is not yet updated to support the changes? Is this an xCAT support issue?

[2018-06-12 23:38] whowutwut opened #5290 "rspconfig dump does not have a good message in hierarchy environment"
In Hierarchy environemnt, noticed when doing a `rspconfig dump -d` download of a dump, the message doesn't really help identify the real location of the file.

The real location of the file is on the service node that managed the compute.

[code]

On the management node, I can't find it:

[code]

It would be better if we could detect this and print a message that references the service node, for e

[2018-06-12 23:39] whowutwut commented on #5290
This issue probably applies to the framework in general, if we could improve the framework to understand hierarchy when printing these messages, it would be beneficial across the board.

[2018-06-12 23:40] whowutwut commented on #5290
@hu-weihua Could we have FVT take a look at the hierarchy test cases and look at the usability here in the messages ?

[2018-06-13 00:50] xuweibj commented on #5288
@gurevichmark , the function we called to get service node ``xCAT::ServiceNodeUtils->get_ServiceNode`` just get attribute "servicenode" from each node's definition, does not check whether has more than 1 node, consider it as a string. So "sn01,sn02", "sn02,sn01" are different.

@whowutwut , yes run command with ``-V`` could display where the msg from. Output like this:
[code]

[2018-06-13 01:57] hu-weihua commented on #5290
@tingtli , Could you help to look at the usability of ``rspconfig dump -d`` in hierarchy environment? thanks.

[2018-06-13 06:31] robin2008 commented on #5288
@gurevichmark @whowutwut  using `-V` could show the server name for each messages.

But for this scenario, I prefer to show the server name in the message itself without `-V`.  And now in `command.log`, we cannot see the service name. Maybe we can show them by default for better debugging.

[2018-06-13 13:21] gurevichmark commented on #5288
And maybe some more processing can be done after calling `xCAT::ServiceNodeUtils->get_ServiceNode()` so that `first type: sn01,sn02` and `third type: sn01` collapsed into a single group to reduce the summary output.

[2018-06-13 13:33] gurevichmark commented on #5288
We recently added the PR https://github.com/xcat2/xcat-core/pull/5119 to display SN for warning and error messages. Maybe this should be done for all types of messages ?

[2018-06-13 13:34] gurevichmark commented on #5290
We recently added the PR #5119 to display SN for warning and error messages. Maybe this should be done for all types of messages ?

[2018-06-13 14:07] whowutwut commented on #5266
Added pending to this task, seems like the PR is merged.

[2018-06-14 21:59] bebosudo commented on #5287
I agree, but in that case I think that at least a warning message, something like ` "distro version not recognized, defaulting to base version /opt/xcat/x/y/z"` could be displayed, so the future user can immediately realize something is wrong with its naming, without waiting for the installation to mysteriously crash.

Maybe the link to the newest distribution could be introduced in the next major

[2018-06-15 06:14] hu-weihua opened #5294 "Statelite provision hung at ``netbooting`` for rhels 6.10 in PPC64"
For support rhels 6.10 in PPC64, statelite provision hung at ``netbooting``.

xcat version:
[code]

Got below information from console.
[code]

[2018-06-15 17:36] #5266 closed

[2018-06-16 13:19] zrlhle opened #5297 "xCat commands using IPMI (rpower, rcons, ...) fail in xCat 2.14 on RHEL75"
[code]

... found a workaround by avoiding IPV6 selection in /opt/xcat/lib/perl/xCAT/IPMI.pm
[code]

[2018-06-18 13:32] whowutwut commented on #5297
@zrlhle Thanks for opening this one.

I edited your post to format since `<nodename>` won't show if it's not wrapped in markdown. FYI, there's a tip in the comment box for markdown styling.

Can you grab the output of `lsxcatd -a` so we know the build you are running, I assume it's the GA version of 2.14.

Also, if you can, please post the output of the node definition you are running?

@zet809 @g

[2018-06-18 13:57] whowutwut commented on #5288
@zet809 Let's get someone to work on this usability enhancement please.

[2018-06-18 19:11] whowutwut opened #5299 "[OpenBMC] rflash over a range using the directory option, ends early with no reason"
I ran the following:
[code]

let's focus only on **mid05tor12cn13** here.. it looks like we get the `BMC reboot` step, but right after this,  control comes back to the console.  So looks like our counter is not updated correctly and we just break out....

Right after, I list out... and the BMC is rebooting, so of course it does not reply:
[code]

Problem here now is that the host is not rebooted..

[2018-06-18 19:37] whowutwut commented on #5287
@immarvin We can look back to see when `compute.tmpl` was created, the last time it was touched was 2013. ...  5 years ago.  Do we really think anyone is using this file?  but a safer alternative is to just remove `compute.tmpl` and let the error propagate itself up, then at least it would be flagged if we could not detect a template file.

While `centos75` is not valid, we still don't restrict an

[2018-06-19 00:30] #5263 closed

[2018-06-19 02:09] immarvin commented on #5294
hi @bybai ,would you please take a look at this statelite issue?

thx

[2018-06-19 06:36] bybai commented on #5294
Hi @hu-weihua, could you give me your environment?

[2018-06-19 08:04] xuweibj commented on #5288
Hi @gurevichmark , if we want to collapse ``first type`` and ``third type``, we should check ``sn01`` status in ``xCAT::ServiceNodeUtils->get_ServiceNode()``. It's complex and more effort.

And more, current if we get sn01 does not work when we want to dispatch, we could dispatch command to ``sn02`` for ``first type``. But if we get sn01 worked well and collapsed them, but it's down when we want t

[2018-06-19 08:14] #1217 closed

[2018-06-19 08:14] #52 closed

[2018-06-19 08:15] #1379 closed

[2018-06-19 08:17] immarvin commented on #1199
hi @tingtli @hu-weihua , any update on this?

[2018-06-19 08:17] robin2008 commented on #1203
Update document accordingly when verify the Ubuntu 18.04

[2018-06-19 08:20] robin2008 commented on #1082
It is better to support pass an environment variable for an on-demand debuging requresting, for example,  `XCAT_DEBUGMODE=1 nodeset xxx`

[2018-06-19 08:23] robin2008 commented on #992
Let's close this one first.

[2018-06-19 08:23] #992 closed

[2018-06-19 08:28] #841 closed

[2018-06-19 08:33] #642 closed

[2018-06-19 08:34] immarvin commented on #588
no response, close this ticket

[2018-06-19 08:34] #588 closed

[2018-06-19 08:35] #943 closed

[2018-06-19 08:37] zet809 commented on #842
We can include this issue for rh8.0 support.

[2018-06-19 08:40] zet809 commented on #641
The effort maybe very large and no much value for us, close this issue.

[2018-06-19 08:40] #641 closed

[2018-06-19 08:42] zet809 commented on #445
So, let's close this issue.

[2018-06-19 08:42] #445 closed

[2018-06-19 08:44] zet809 commented on #392
Let's close this issue and open when we encounter issues for document.

[2018-06-19 08:44] #392 closed

[2018-06-19 08:44] #104 closed

[2018-06-19 08:46] #199 closed

[2018-06-19 08:47] immarvin commented on #1414
will take a look when supporting ubuntu 18.04

[2018-06-19 08:50] #1637 closed

[2018-06-19 08:51] #1768 closed

[2018-06-19 08:55] #2010 closed

[2018-06-19 08:55] #2029 closed

[2018-06-19 08:57] immarvin commented on #2029
will add the description in doc and site table on this

[2018-06-19 08:58] immarvin commented on #2097
covered in xcat-inventory validation during import

[2018-06-19 08:58] #2097 closed

[2018-06-19 08:59] immarvin commented on #2147
no plan to support ominipath

[2018-06-19 08:59] #2147 closed

[2018-06-19 09:05] robin2008 commented on #2219
No further working on kit management, won't fix it.

[2018-06-19 09:05] #2219 closed

[2018-06-19 09:19] robin2008 commented on #2957
Just leave it as a bug

[2018-06-19 09:19] #2957 closed

[2018-06-19 09:21] robin2008 commented on #5175
close it no high priority.

[2018-06-19 09:21] #5175 closed

[2018-06-19 09:28] zet809 commented on #2077
The effort will be a little large, and ubuntu/sles is low priority for us, we have RH supported , so close this issue.

[2018-06-19 09:28] #2077 closed

[2018-06-19 09:28] #2322 closed

[2018-06-19 09:29] robin2008 commented on #2186
won't fix, if we want it open it in `xcat2-task-management`

[2018-06-19 09:29] #2186 closed

[2018-06-19 09:30] zet809 commented on #2306
We can use `makegocons -d <node>` to remove the entry for goconserver without restart it. So, let's do it.

[2018-06-19 09:32] immarvin commented on #2427
no response, close this first, please reopen if any update

[2018-06-19 09:32] #2427 closed

[2018-06-19 09:33] #2936 closed

[2018-06-19 09:33] robin2008 commented on #2364
won't fix until we get more detail requirement.

[2018-06-19 09:33] #2364 closed

[2018-06-19 09:34] zet809 commented on #2423
Let's close this issue.

[2018-06-19 09:34] #2423 closed

[2018-06-19 09:36] robin2008 commented on #2493
add `xcatprobe` for it.

[2018-06-19 09:41] kcgthb commented on #2423
Sorry if I missed it, but has this feature been implemented?

[2018-06-19 09:48] immarvin commented on #2661
the ztp based autodiscovery has been merged

[2018-06-19 09:48] #2661 closed

[2018-06-19 09:50] immarvin commented on #2659
the options should also be specified during initrd bring up,

[2018-06-19 09:50] #2659 closed

[2018-06-19 09:51] #3195 closed

[2018-06-19 09:51] #2679 closed

[2018-06-19 09:51] zet809 commented on #3196
The tasks have been done, let's close this task.

[2018-06-19 09:51] #3196 closed

[2018-06-19 09:53] #2698 closed

[2018-06-19 09:55] zet809 commented on #2710
hi, @xuweibj , pls help to update the usage of renergy. Thx!

[2018-06-19 09:56] robin2008 commented on #2719
Better for `xcatprobe` to check if the MN healthy

[2018-06-19 09:58] #2732 closed

[2018-06-19 09:58] #2742 closed

[2018-06-19 10:00] #2787 closed

[2018-06-19 10:00] #2804 closed

[2018-06-19 10:00] hu-weihua commented on #2787
replaced by new task xcat2/xcat2-task-management#190

[2018-06-19 10:01] zet809 commented on #2814
No plan to do renergy for openbmc, close.

[2018-06-19 10:01] #2814 closed

[2018-06-19 10:01] robin2008 commented on #2859
won't fix

[2018-06-19 10:01] #2859 closed

[2018-06-19 10:02] robin2008 commented on #2743
won't fix

[2018-06-19 10:02] #2743 closed

[2018-06-19 10:02] immarvin commented on #2946
no update , close this ticket first, will reopen it if any update

[2018-06-19 10:02] #2946 closed

[2018-06-19 10:03] #3065 closed

[2018-06-19 10:04] #3077 closed

[2018-06-19 10:05] #3081 closed

[2018-06-19 10:06] immarvin commented on #3137
no update, close this ticket first

[2018-06-19 10:06] #3137 closed

[2018-06-19 10:06] zet809 commented on #3108
hi, @bybai , all the items you plan to do with confignetwork have been done? If yes, pls close this issue. Thx!

[2018-06-19 10:07] #3167 closed

[2018-06-19 10:07] #3168 closed

[2018-06-19 10:08] #3211 closed

[2018-06-19 10:10] #3177 closed

[2018-06-19 10:11] #3326 closed

[2018-06-19 10:12] immarvin commented on #3366
we have no plan to support sysclone anymore, close the ticket

[2018-06-19 10:12] #3366 closed

[2018-06-19 10:13] #3329 closed

[2018-06-19 10:14] zet809 commented on #3322
So, we still don't have the script to update dev repo automatically, right?

[2018-06-19 10:14] #3343 closed

[2018-06-19 10:15] hu-weihua commented on #3343
Has added test case by #5236

[2018-06-19 10:15] #3444 closed

[2018-06-19 10:17] hu-weihua commented on #3482
replaced by task xcat2/xcat2-task-management#103

[2018-06-19 10:17] #3482 closed

[2018-06-19 10:17] #3476 closed

[2018-06-19 10:18] #3504 closed

[2018-06-19 10:18] #3635 closed

[2018-06-19 10:18] robin2008 commented on #3304
it should be already fixed.

[2018-06-19 10:18] #3304 closed

[2018-06-19 10:19] #3515 closed

[2018-06-19 10:20] #3542 closed

[2018-06-19 10:20] zet809 commented on #3475
Let's close this EPIC and trace in #xcat2-task-managment repo is there is more issues.

[2018-06-19 10:20] #3475 closed

[2018-06-19 10:21] zet809 commented on #3513
We have the xCAT-genesis-build rpm on https://xcat.org/files/xcat/xcat-dep/2.x_Linux/beta/, so close this task.

[2018-06-19 10:21] #3513 closed

[2018-06-19 10:22] robin2008 commented on #3549
won't fix

[2018-06-19 10:22] #3549 closed

[2018-06-19 10:22] #3633 closed

[2018-06-19 10:22] #3630 closed

[2018-06-19 10:28] zet809 commented on #3725
hi, @whowutwut , the ipmi for p8 is very low priority for us, maybe we can close this issue.

[2018-06-19 10:28] #3743 closed

[2018-06-19 10:28] #3824 closed

[2018-06-19 10:29] #3836 closed

[2018-06-19 10:31] #3671 closed

[2018-06-19 10:32] immarvin commented on #3868
hi @whowutwut , is this still requested? is it to close this?

[2018-06-19 10:33] robin2008 commented on #3854
try to recreate it if possible, if not we can close it.

[2018-06-19 10:33] immarvin commented on #3890
no update

[2018-06-19 10:33] #3890 closed

[2018-06-19 10:35] zet809 commented on #3975
The effort will be much large for us and ipmi.pm is a little low priority for us, let's close this issue.

[2018-06-19 10:35] #3975 closed

[2018-06-19 10:35] immarvin commented on #4025
covered in sycfiles support for cumulus

[2018-06-19 10:35] #4025 closed

[2018-06-19 10:36] #4041 closed

[2018-06-19 10:36] immarvin commented on #4041
covered in xcat-inventory

[2018-06-19 10:37] #4071 closed

[2018-06-19 10:37] zet809 commented on #4043
Yes, you are using `makegocons` and goconserver right now, it won't affect the unmodified consoles. So, close this issue, pls reopen if encounter problems. Thx!

[2018-06-19 10:37] #4043 closed

[2018-06-19 10:38] #4179 closed

[2018-06-19 10:38] zet809 commented on #4388
THe CQ issue is closed with `the BMC needs to be at the fixed level (1742Ex), then update to
a different level to verify this defect.`, so let's close this issue.

[2018-06-19 10:38] #4388 closed

[2018-06-19 10:39] robin2008 commented on #4213
close it as xcat will support LTS 18.04

[2018-06-19 10:39] #4213 closed

[2018-06-19 10:39] #4214 closed

[2018-06-19 10:40] #4315 closed

[2018-06-19 10:43] immarvin commented on #4604
hi @yardan11 , is the issue still there?

[2018-06-19 10:44] #4544 closed

[2018-06-19 10:45] zet809 commented on #4679
No plan to do any more, so close this task.

[2018-06-19 10:45] #4679 closed

[2018-06-19 10:45] #4753 closed

[2018-06-19 10:45] #4717 closed

[2018-06-19 10:46] #4830 closed

[2018-06-19 10:47] #4852 closed

[2018-06-19 10:47] #4894 closed

[2018-06-19 10:47] zet809 commented on #4774
As mentioned above, not plan to switch to centos for ppc64, so close this issue.

[2018-06-19 10:47] #4774 closed

[2018-06-19 10:48] #4952 closed

[2018-06-19 10:48] #4970 closed

[2018-06-19 10:50] robin2008 commented on #4972
close it first, if any new update, we can reopen it again.

[2018-06-19 10:50] #4972 closed

[2018-06-19 10:50] immarvin commented on #5081
hi @gurevichmark , any update on this?is it ok to close?

[2018-06-19 10:52] #5134 closed

[2018-06-19 10:53] immarvin commented on #5134
hi @kcgthb , the support for goconserver has been merged, pls take a look

[2018-06-19 10:53] #5140 closed

[2018-06-19 10:54] zet809 commented on #4906
Hi, @whowutwut , we don't have easy method to deal with the format, so, maybe we can close it first?

[2018-06-19 10:55] #5191 closed

[2018-06-19 10:55] #5235 closed

[2018-06-19 10:55] #5238 closed

[2018-06-19 10:56] zet809 commented on #5196
So, let's close this issue?

[2018-06-19 13:18] gurevichmark commented on #1082
Yes, that would work also.

[2018-06-19 13:45] gurevichmark commented on #5081
I do not know, maybe @whowutwut or @zet809 can make this decision.

We have a `token` table, but currently REST API can not access it. If we feel it is important that REST API is complete, we should keep this issue open.

[2018-06-19 20:56] whowutwut commented on #5081
Let's keep it open but we can put it in the icebox for now...

[2018-06-19 20:57] #5196 closed

[2018-06-19 20:58] whowutwut commented on #3868
Do we have any procedures documented on updating the Mellanox Switch OS?  @cxhong is this something you think we should come up with a  way under xCAT to perform, or let the admin manage?

[2018-06-19 21:09] whowutwut commented on #5299
@bybai On briggs01: `vi /var/log/xcat/5299.commands.log`

[code]

Looks like cn13 never had a line saying  `reset`.

Maybe a glitch.. but strange ...

[2018-06-19 21:10] whowutwut commented on #4906
Ok, sure.

[2018-06-19 21:10] #4906 closed

[2018-06-20 01:18] pharthiphan opened #5301 "Goldenimage + Sysclone image CentOS 7.3.1611/ CentOS 7.4.1708 not booting"
Hello,

After completion of the sysclone, Centos 7 is not booting into OS while trying to boot from HDD only the cursor blinks are seen. Please find the details below and also some screenshots while cloing.

Virtual Box Version: Version 5.2.12 r122591 (Qt5.6.2)
Management Node OS Version : CentOS 7.4.1708
Management Node Kernel Version : 3.10.0-693.21.1.el7.x86_64
xCAT Version : 2.14.1
Golden osim

[2018-06-20 01:20] pharthiphan opened #5302 "Goldenimage + Sysclone /dev/sda3 has unsupported feature(s) : 64 bit"
Hello,

I am getting the following error while booting after been successfully sysclone. What could be possibly wrong ?

warning bad format on line 1 of /etc/fstab
/dev/sda3 has unsupported feature(s) : 64 bit
e2fsck get a newer version of e2fsck!

Virtual Box Version: Version 5.2.12 r122591 (Qt5.6.2)
Management Node OS Version : CentOS 7.4.1708
Management Node Kernel Version : 3.10.0-693.21.1.el7

[2018-06-20 02:13] hu-weihua commented on #1199
Open a task for this requirement. Close this issue and added ``test:testcase_requested`` label. If test case will be added, will mark this issue by ``testcase_added`` label.

[2018-06-20 02:13] #1199 closed

[2018-06-20 03:02] hu-weihua commented on #2493
link to https://github.com/xcat2/xcat2-task-management/issues/61

[2018-06-20 03:03] hu-weihua commented on #2719
link to xcat2/xcat2-task-management#61

[2018-06-20 05:55] robin2008 commented on #5290
It might not be good for all messages,  most of the messages does not need an server name.
only those need the context, so the message raiser need to handle it.

And the framework is already record the server name for each message, so when using callback to print the message, the caller just need to set a flag to notify the framework to show the name if possible.

[2018-06-20 05:59] robin2008 commented on #5289
@gurevichmark  Any updates?  Looks like it is what the things need to be done in xCAT rflash side, I think we have already followed their interfaces to do the mandatory things.

[2018-06-20 06:09] robin2008 commented on #5245
if `-h` it should be 0,  for other non-recognized arguments but print usage, it should be still non-zero.

[2018-06-20 06:46] pharthiphan commented on #5301
@hu-weihua @immarvin I have tested this on CentOS 7.0 also and ended up exactly same error as CentOS 7.4

[2018-06-20 06:48] pharthiphan commented on #5302
@immarvin @hu-weihua I have tested this on CentOS 6.4 and ended up with exactly same error as CentOS 7.4. is this something to do with Management Node OS Version ?  For your information I am using CentOS 7.4-1708 with lastest updates

[2018-06-20 10:01] kleykenb commented on #199
Just wanted to chime in from own experience : currently it is possible to skip 'mkdef <node>' altoghether and simply create a definition for a node by doing 'chdef <node> group=kvm ip= .... '. This gives the impression that all is well but without the 'mkdef' the sync with kvm_nodedata appears to not work and subsequently commands like 'mkvm' fail.

[2018-06-20 14:36] gurevichmark commented on #5289
I think the command `/usr/sbin/phosphor-gevent rest_dbus` just tells us that REST services are running. The command shows that error looking output, but in reality it is just a verification that REST service is not down.
@moralesj told me that this is intermittent problem, so probably not a major logic problem in xCAT. Could be some error condition we are not handling ?

[2018-06-20 14:38] bybai commented on #5299
hi @whowutwut, based on my investigation, after mid05tor12cn13 is updated firmware, manually reset host and `rflash -d` reset have the same result: mid05tor12cn13 is off, but it is not on. So I think it is not `rflash` specific bug.

[2018-06-20 15:09] whowutwut opened #5305 "rinstall with mispelled `osimage` argument does not result in printing of an error"
I did a typo on `osimage` to the `rinstall` command

[code]

The output looked like this:
[code]

Then when I did a `lsdef <noderange> -i provmethod` I was expecting the osimage to be different for cn3.. but it was not...

[code]

This flagged my attention.... that i mispelled it...

When issuing it correctly, it takes over 11 seconds...
[code]

But the output is the same... so there's some error

[2018-06-20 15:20] gurevichmark commented on #5289
@moralesj Since it appears to not happen anymore, do you want to close this issue and reopen if happens again ?

[2018-06-20 20:38] whowutwut commented on #5290
@robin2008 Couldn't we also tell if we are running on a MN and the service node executing the command hostname does not match where we execute, and that would indicate a Hierarchy environment so we can print out a different message?   Non hierarchy we can leave the message the same as today.

[2018-06-21 01:45] bybai commented on #5299
@vhu Regarding https://github.com/xcat2/xcat-core/issues/5299, you can reproduce use the steps, it is easily reproduce on mid05tor12cn13 :
1, use rflash to activate the old firmware like this:
[code]
2, use `rflash -a` to use new firmware:
[code]
3, reboot BMC, and 2 minutes later, new BMC is Active(*):
[code]
4, rpower reset host immediately, here I got error message several times, then I got off

[2018-06-21 01:53] neo954 opened #5306 "Update xCAT Security Key to use RSA and stronger SHA-2 family hash: SHA512, SHA384, SHA256, and SHA224"
The issue is against the latest `xcat-core` build `xcat-dep-ubuntu-201806200437.tar.bz2`, and `xcat-dep` build `20180620.0615-core-debs-snap.tar.bz2`.

Command `apt-get` complained the GPG signatures were invalid: `F75B1BF678B644FDF3AACFC860A3E9ACC6565BC9`. See details below

[code]

Further investigation is needed on this issue.

[2018-06-21 01:58] immarvin commented on #5306
related with this ticket https://github.com/xcat2/xcat-core/issues/1414?

[2018-06-21 02:45] neo954 commented on #1414
I will close this issue right here. The problem will be tracked though issue #5306.

[2018-06-21 02:45] #1414 closed

[2018-06-21 02:55] neo954 commented on #5306
I did a quick search on Google. It turns out this is a well known problem [1]. It seems Debian has been completely removed SHA-1 support on January 1, 2017 [2][3]. xCAT is already one year and half late for this transition. Clearly, xCAT need to update the xCAT Security Key used for package and repository signing, and use SHA-256 and/or SHA-512 [4][5] instead.

[1] https://groups.google.com/forum/

[2018-06-21 05:39] immarvin commented on #5287
hi @bebosudo , the fix has been merged in https://github.com/xcat2/xcat-core/pull/5300, please try it in the lates development build

[2018-06-21 05:52] robin2008 opened #5309 "confignetwork cannot show error when configuration is failed"
Just found this issue when I made a mistake on the IP for ib0.
[code]

After provisioned, the ib0 is not shown its IP address,  and no error reported in `/var/log/xcat/xcat.log`

[code]

After I fix the IP to `20.0.0.5`,  the configuration is working.

xCAT may need more strict check on input

[2018-06-21 06:18] hu-weihua commented on #5302
@pharthiphan , Thanks for using ``sysclone``. ``sysclone`` was developed few years ago, its framework can be used for different node, but need to specific coding for specific scenario. All supported scenario are listed [here](http://xcat-docs.readthedocs.io/en/latest/advanced/sysclone/sysclone.html#list-of-supported-arch-and-os) and the development environments all based on physical machine, not s

[2018-06-21 06:19] hu-weihua commented on #5301
@pharthiphan , Thanks for using ``sysclone``. ``sysclone`` was developed few years ago, its framework can be used for different node, but need to specific coding for specific scenario. All supported scenario are listed [here](http://xcat-docs.readthedocs.io/en/latest/advanced/sysclone/sysclone.html#list-of-supported-arch-and-os) and the development environments all based on physical machine, **not

[2018-06-21 06:41] pharthiphan commented on #5301
@hu-weihua I tried this on physical machine [supported scenario as per the URL], I get the following error

![physical machine](https://user-images.githubusercontent.com/18302174/41701870-b0094ccc-754b-11e8-9ddb-5f7b43b0fc6f.png)

sysclone such as nice feature that xCAT has, some help on issues on the tested scenario as per the URL will be a great help to keep it alive and usable.

[2018-06-21 07:29] immarvin commented on #5305
spent some time looking into this, seems the process terminated in the following `runxcmd`:
[code]

if everything is ok, the argument error should be caught by the `nodeset`
[code]

did not find the root cause of this, any idea @robin2008 ?

[2018-06-21 09:04] bebosudo commented on #5287
Hi, thanks for your work.
I just installed the latest devel build of xcat on a vm to test this, and it doesn't seem to improve the situation.

[code]

The template associated `/opt/xcat/share/xcat/install/centos/compute.tmpl` is for centos 5, which breaks things at install time for both centos 6 and 7 images.
I expected at least a _warning_ message if the name cannot be interpreted correctly.

I'v

[2018-06-21 12:03] pharthiphan commented on #5301
On the virtual machine I was able to fix this by changing the

/install/sysclone/scripts/post-install/15all.configefi

line number 90
                                #grub2-install -s --recheck $boot_device
                                grub2-install --force /dev/sda

everytime /install/sysclone/scripts/post-install/15all.configefi gets regenerated while running nodeset

[2018-06-21 15:29] whowutwut opened #5311 "xCAT postscripts changes scripts to execute permission automatically"
In our devops framework, trying to use the execute permission to control which scripts should run or not based, but looks like the xCAT postscript processing framework will change all the scripts to have execute permission instead of respecting the permission in the `/install/postscripts` directory on the MGMT node.

I think this was probably implemented as a courtesy to help run the scripts in ca

[2018-06-21 19:55] gurevichmark opened #5312 "rflash can not display error if firmware file upload has failed"
Today `rflash` command uploads files in parallel by forking a process for each node. If upload operation fails the error is saved in `node_info` hash. At the end the summary is displayed for the attempted range of nodes and errors are displayed for each failed node.

However, since each upload happens in a separate process, the `node_info` is just a copy, so that when the upload finished, the `nod

[2018-06-21 23:30] kcgthb opened #5313 "goconserver malformed HTTP response"
`congo` commands fail with "malformed HTTP response":

[code]

[code]

Remote console works fine otherwise:
[code]

[2018-06-21 23:30] kcgthb commented on #5134
Hi @immarvin

I wanted to give it a try, but stumbled upon #5313

[2018-06-22 05:01] neo954 commented on #5306
And also, all DSA keys need to be migrated to RSA.

[2018-06-22 06:49] robin2008 commented on #5290
Actually, command is issued from client side, and the message is also printed to screen on client side,  and it could be a local xcat client or a remote xcat client
( http://xcat-docs.readthedocs.io/en/stable/advanced/security/security.html?highlight=remote%20xcat%20client )

So there might be below scenarios:
Case1: CLI is issued from xCAT client on MN   (the most common scenario)
Case2: CLI is i

[2018-06-22 06:56] neo954 commented on #5306
The exported public key of the xCAT Automatic Signing Key [1] on http://xcat.org/ need to be updated as well.
[1] http://xcat.org/files/xcat/repos/apt/apt.key

[2018-06-22 07:22] immarvin commented on #5311
hi @whowutwut , not quite understand `01-sample does not have execute permission`,  would you please explain more on this?

the permission of the files is modified in `xcatdsklspost`:
[code]

[2018-06-22 07:50] neo954 commented on #5306
For now, use the following command to import the public key.
[code]

[2018-06-22 08:34] neo954 commented on #5306
As suggested in the article [1] of debian administration blog. We may also consider revoke the old xCAT Security Key `C6565BC9` tens of days later.

[1] https://debian-administration.org/users/dkg/weblog/48

[2018-06-22 09:38] bybai commented on #5299
@whowutwut , I think this is not rflash specific bug, so could we close it?

[2018-06-22 14:16] gurevichmark commented on #5312
Tried Python version, but it has its own problem:
* Running with debug on, the error is displayed, but RC is 0
[code]

* Running with debug off, no error is displayed, and RC is 0
[code]

[2018-06-22 16:47] dhilst commented on #5260
@immarvin sure! Excuse my ignorance, I tried `/tmp/go-xcat update` but I'm still on version 2.14.1, how would I get the update?

Regards,

[2018-06-22 17:21] dhilst commented on #5260
Okay, I got the warning. Thanks for everything!

Regards,

![image](https://user-images.githubusercontent.com/392820/41789923-50e5ad30-7627-11e8-8a9e-2446a7decb8f.png)

[2018-06-22 20:15] whowutwut commented on #5311
01-sample does not have execute permission... it's permission is 644.  It's intended to be 644 in my framework so that I can selectively choose which scripts are executed based on their permission..

Because xCAT modifies the permission when downloading the postscripts like you show in that code snip,  I can't use permission bit to enable or disable scripts to execute in my postscript framework.

[2018-06-22 22:11] kcgthb commented on #5313
Oh I see, thanks for the pointer.

Defining those environment variables seem a bit redundant, though. Wouldn't it be better if `congo` could parse `/etc/goconserver/server.conf` directly and use its information directly, since everything is already defined there?

[2018-06-25 02:11] zet809 commented on #5313
In fact, server.conf is just for the goconserver itself, but congo is a client, it shall not read server configuration directly.
And in your case, rcons works, since rcons use xCAT default configuration for congo.
Maybe we can enhance congo to look for keys in an assignable directory.

[2018-06-25 02:37] immarvin commented on #5260
ok @dhilst , thanks for your confirm. Let me close this ticket

[2018-06-25 02:37] #5260 closed

[2018-06-25 02:53] immarvin commented on #5306
hi @neo954 , can this ticket be closed now?

[2018-06-25 05:53] neo954 opened #5321 "For Ubuntu 18.04, nodeset should search a different directory for kernel and initrd"
This problem can be recreated on xCAT `2.14.2-snap201806220616`.

When try to deploy a ubuntu 18.04 osimage, command `nodeset` complained `initrd.gz` is not found in `/install/ubuntu18.04/ppc64el/install/netboot`.

[code]
But actually, the Linux kernel and initrd for netbooting can be found in `/install/ubuntu18.04/ppc64el/install/netboot/ubuntu-installer/ppc64el`.

[code]

[2018-06-25 06:16] neo954 commented on #5321
A patch is provided in pull request #5322.

[2018-06-25 06:17] neo954 commented on #5306
The latest daily build looks good now. I will close this issue.

[2018-06-25 06:17] #5306 closed

[2018-06-25 07:09] neo954 opened #5323 "xCAT daemon failed load module /opt/xcat/lib/perl/xCAT_plugin/kvm.pm"
This problem can be recreated on xCAT 2.14.2-snap201806220616.

It seems `xcatd` met a error while loading module `/opt/xcat/lib/perl/xCAT_plugin/kvm.pm`.

[code]

[2018-06-25 07:37] neo954 commented on #5323
This is not a serious problem. That is due to package `libsys-virt-perl` is not installed.

[2018-06-25 07:37] #5323 closed

[2018-06-25 09:48] zet809 commented on #5313
BTW, @kcgthb , I notice that you use `congo` directly, how do you want to use with goconserver?

[2018-06-25 12:47] immarvin commented on #5311
I am afraid wget cannot preserve the file permission, a simple test:

http server side:

[code]

http client side:
[code]

and it might be a little tricky and not explicit to `selectively choose which scripts are executed based on their permission`

[2018-06-25 15:41] whowutwut opened #5325 "xcatprobe daemon attributes check does not work correctly"
#5308 does not fix the problem, it just hides it.  I was looking to make some modifications to improve  @xuweibj's pull request based on my comments, I don't agree with that PR and do not think the changes are difficult.  But realized that something else if fundamentally wrong with the code logic implemented.

Installing a fresh new 2.14.1 version:
[code]

Running `xcatprobe xcatmn` resulted in th

[2018-06-25 15:42] whowutwut commented on #5325
Oh, perhaps I set it backwards, let me try this one...

[code]

[2018-06-25 15:43] whowutwut commented on #5325
Ok, yeah I set it backwards:
[code]

[2018-06-25 16:08] #5325 closed

[2018-06-25 16:52] payerle opened #5327 "Suggestion re man page for rcons and exit code"
The man page for rcons states:
"To exit the console session, enter:  <ctrl>e c ."

While this is correct, it could be confusing.  I.e., it is easy to incorrectly assume that the exit code is only two characters (ctrl-e and c), interpretting the "." as punctuation to the sentence.

Could I suggest something like
"To exit the console session, enter: '<ctrl>e c .' (three characters, ctrl-e, 'c', and

[2018-06-25 17:06] whowutwut commented on #5327
@payerle Thanks for this feedback! we will make the documentation more clear.

[2018-06-25 17:09] kcgthb commented on #5313
@zet809 I see, thanks! It just seems a bit redundant to have to provide the same information about certificates in multiple places.

As for using `congo` directly, I don't really have a use case, I was just trying to test the functionality I was asking for in #5134 (https://github.com/xcat2/goconserver/pull/45). But I'd love not to have to use `congo` for this. :)

[2018-06-25 17:10] whowutwut commented on #5311
@immarvin  I don't think we have to selectively choose which scripts to execute based on their permission.  I don't want to change the behavior of xCAT, except do not change the permissions of the script from the MN to the compute node to `+x`.  That's all.

So if a user creates a postscript `/install/postscript/abc` and runs `updatenode <> -P abc`, and it's not execute permission, an error should

[2018-06-26 01:46] zet809 commented on #5313
Got it, thx!
For the function broadcast mode, pls reference https://github.com/xcat2/goconserver/releases for more information.

[2018-06-26 06:00] neo954 commented on #5321
The patch was merged. Thus, I will close this issue.

[2018-06-26 06:00] #5321 closed

[2018-06-26 06:05] zet809 commented on #2710
The usage have been merged with PR #5332 , so I close this issue.

[2018-06-26 06:05] #2710 closed

[2018-06-26 06:09] #5327 closed

[2018-06-26 07:09] neo954 opened #5333 "Lack of wget in RHEL8 Alpha Base OS"
It seems there is no `wget` package provided in RHEL8 Alpha Base OS. xCAT may need to partly rewrite the post install script for RHEL.

[2018-06-26 08:34] neo954 opened #5334 "Lack of /usr/bin/openssl in RHEL8 Alpha anaconda environment"
The `post.xcat` need to be somewhat rewrite.

[2018-06-26 09:11] neo954 commented on #5333
See also xcat2/xcat2-task-management#196

[2018-06-26 09:11] neo954 commented on #5334
See also xcat2/xcat2-task-management#196

[2018-06-26 14:16] moralesj commented on #5289
Closing issue, and will reopen if it shows up again.

[2018-06-26 14:16] #5289 closed

[2018-06-27 00:43] whowutwut opened #5336 "Unable to flash firmware on IBM OpenPower S822LC for Big Data, model 8001-12C"
Also known as Stratton Boxes with model code: 8001-12C

The issue here is that it goes into the OpenPower "for HPC" code path which expects a HPM file instead of the .pnor/.bin files.   The issue is:

[code]

[2018-06-27 00:44] whowutwut commented on #5336
The message comes out here:
[code]

But this code path is for OpenPower (non Supermicro) boxes... with HPM firmware files.

The problem is that in this clause, the model was missed:
[code]

Briggs boxes 8001-22C is there, but not 8001-12C

[2018-06-27 02:10] #5336 closed

[2018-06-27 13:50] gurevichmark opened #5344 "Make improvements to rflash for ipmi managed nodes"
To help with debugging, add some enhancements to ipmi.pm for `rflash` command

1. When displaying message `The image file doesn't match this machine` also display machines's model number
2. If `-d` option is specified return an error if target machine is not "IBM Power S822LC for Big Data"
3. If possible display "check" data with `-c` option for firmware files in `-d` data directory

[2018-06-27 15:21] kcgthb commented on #5313
Thank you!
I'm not seeing any reference to the broadcast mode in https://github.com/xcat2/goconserver/releases. Is there a way to use it with `rcons`/`wcons` directly, without invoking `congo`?

[2018-06-27 15:23] kcgthb opened #5345 "Update hardware inventory of discovered nodes"
Hi!

Is there a way to update the hardware inventory (as stored in the `hwinv` table) once a node has been discovered?

Ideally, that would be done online, while the node is up and running, rather than having to reboot it in the genesis environment and run `dodiscovery` again.

Thanks!

[2018-06-27 17:16] whowutwut commented on #5345
@zet809 You added https://github.com/xcat2/xcat-core/pull/2347 to support running bmcsetup and getipmi as part of postscripts, could this also be specified to refresh the discovery package to xCATd?

[2018-06-27 17:41] whowutwut opened #5347 "stateless and statelite default osimage share same rootimgdir"
For the default statelite image that we create during copycds, I don't think we should have the same rootimgdir configured.  It's probably not the best practice to show as an example:

I detected this when running `xcatprobe osimagecheck`

[code]

Here's the config:
[code]

[2018-06-27 18:00] whowutwut opened #5348 "Request removal of date from `Running postscript:` line in xCAT framework, idea?"
Wanted to bring this up for discussion...

Here's a simple postscript:

[code]

If I have another node...   the output is identical...
[code]

The content of the nodes are exactly the same, but because of that date in the postscript line, I can't run `xcoll` to consolidate...   In this use case, I want to check my nodes to see if anything is different...

[code]

**Of course, I can `grep -v` and r

[2018-06-27 21:32] ryanbowen opened #5349 "makedns fails when IP address octet has leading zeroes"
Just finished debugging an issue and figured I'd report the findings.

We generate our node definitions programmatically and an issue with a script I wrote ended up generating some definitions with "bad" IP addresses where the last octet of the IP had a leading zero in it.
(For example an IP that should have been 10.2.9.2 was created as 10.2.9.02)

xCAT accepted this IP, but makehosts created an e

[2018-06-28 06:13] hu-weihua opened #5350 ""xcatconfig -c" throw out error "Could not set TERM into systemd." in ubuntu 14.4.4"
xcat version :
[code]
When run ``xcatconfig  -c`` in ubuntu 14.04.4, got below error:

[code]

[2018-06-28 07:38] hu-weihua opened #5351 "Ubunt 18.04 can not boot successfully after installation on p8vm and p9 vm"
xcat version:
[code]
Ubunt 18.04 can not boot successfully after installation on p8vm and p9 vm.

CN hung at `` status=postbooting``.
[code]

Got below information from ``/var/log/xcat/xcat.log`` in CN.

[code]

[2018-06-28 08:39] zet809 commented on #5345
Hi, @whowutwut , you are right that we can have the script 'dodiscover' run within postbootscript in host OS.
But, may need to modify it a little that it shall not send out `findme` request, instead it shall send out `hwinfo_update` request for example when from postbootscript.
HI, @kcgthb , is the method above(run a script within HostOS to trigger the hwinfo table update) fulfill your requirement

[2018-06-28 08:40] neo954 commented on #5351
@hu-weihua,  Can you attach the file `/var/log/xcat/xcat.log` from compute node?

[2018-06-28 08:55] neo954 commented on #5351
Enclosed please find the log file, [xcat.log](https://github.com/xcat2/xcat-core/files/2144469/xcat.log).

[2018-06-28 15:41] kcgthb commented on #5345
Hi @zet809

Yes, being able to run a postscript to update the `hwinv` table would work perfectly for me.

The use case is that sometimes, nodes get discovered with USB drives connected, or with Hyper-Threading enabled (that we disable later on), and we want to make sure the hardware inventory reflects the production state, which may be different from the discovery state.
There are also cases where

[2018-06-28 20:34] gurevichmark commented on #5276
Tried `rflash <node> -a` one after the other with 3 seconds apart to the same node. First activation fails, but the second succeeds. I think we need some kind of lock to prevent second upload/activation from starting:
[code]

[code]

[2018-06-29 01:48] zet809 commented on #5345
Got it, thank you, @kcgthb

[2018-06-29 16:03] ddj-brown opened #5355 "Recover from xcat install with /install mounted from production server"
Rebooting nodes in production cluster fail to run postscripts.

[2018-06-29 17:06] ddj-brown commented on #5355
which files should I be looking for and where can i find copies of them in the rest of the cluster?   I’ve already tried recovering ca.pem and ca-cert.pem but still broken. Where should I look for error logs?  The wget.log looks like a lot of files are being reread. Haven’t found the start of the problem because it’s a long file and I don’t know what I’m searching for.

[2018-06-29 17:08] ddj-brown commented on #5355
Forgot that I had /install nfs-mounted from production server when I ran /tmp/go-xcat

[2018-07-02 01:46] #5294 closed

[2018-07-02 01:47] bybai commented on #5294
It is verified by auto test.

[2018-07-02 04:00] chuckbrazie commented on #5294
I am out of the office until 07/16/2018.

I am out of the office until  Monday July 16.

Note: This is an automated response to your message  "Re: [xcat2/xcat-core]
Statelite provision hung at ``netbooting`` for rhels 6.10 in PPC64 (#5294)"
sent on 7/2/18 1:47:05 AM.

This is the only notification you will receive while this person is away.

[2018-07-02 04:00] chuckbrazie commented on #5294
I am out of the office until 07/16/2018.

I am out of the office until  Monday July 16.

Note: This is an automated response to your message  "Re: [xcat2/xcat-core]
Statelite provision hung at ``netbooting`` for rhels 6.10 in PPC64 (#5294)"
sent on 7/2/18 1:46:50 AM.

This is the only notification you will receive while this person is away.

[2018-07-02 08:11] xuweibj commented on #5276
I think we could create ``<node>-rflash.lock`` lock file for each node under ``/var/lock/xcat/`` when command is ``rflash -u/-a/-d``.
Check whether has lock file for itself, if has, print out msg with pid and exit. If no, continue doing rflash.
After end of each node rflash, delete lock file.

[2018-07-02 10:01] chuckbrazie commented on #5276
I am out of the office until 07/16/2018.

I am out of the office until  Monday July 16.

Note: This is an automated response to your message  "Re: [xcat2/xcat-core]
rflash slow to respond and two operations can hang (#5276)" sent on 7/2/18
8:11:21 AM.

This is the only notification you will receive while this person is away.

[2018-07-02 13:10] gurevichmark commented on #5276
@xuweibj Yes, that is exactly my plan. I am working on a PR that would use `Utils->acquire_lock()` to create `<node>-rflash.lock` file when upload or activate action is being processed, then `Utils->release_lock()` at the end. The difficulty is finding all the places where `rflash` exits so that the lock is released. If we miss some exit path and not release the lock, future `rflash` commands will

[2018-07-02 16:02] chuckbrazie commented on #5276
I am out of the office until 07/16/2018.

I am out of the office until  Monday July 16.

Note: This is an automated response to your message  "Re: [xcat2/xcat-core]
rflash slow to respond and two operations can hang (#5276)" sent on 7/2/18
1:10:24 PM.

This is the only notification you will receive while this person is away.

[2018-07-02 20:57] russauld opened #5360 "dodiscovery does not handle lldp failures in some cases"
The code checks for `"$myswitch" != "Agent instance for device not found"` but some Dell switches return extra info at the end of the error message.
Some examples are:
[code]

The check should be a regexp match instead.

[2018-07-02 22:02] chuckbrazie commented on #5360
I am out of the office until 07/16/2018.

I am out of the office until  Monday July 16.

Note: This is an automated response to your message  "Re: [xcat2/xcat-core]
dodiscovery does not handle lldp failures in some cases (#5360)" sent on
7/2/18 9:25:18 PM.

This is the only notification you will receive while this person is away.

[2018-07-02 22:02] chuckbrazie commented on #5360
I am out of the office until 07/16/2018.

I am out of the office until  Monday July 16.

Note: This is an automated response to your message  "[xcat2/xcat-core]
dodiscovery does not handle lldp failures in some cases (#5360)" sent on
7/2/18 8:57:49 PM.

This is the only notification you will receive while this person is away.

[2018-07-03 01:29] immarvin commented on #5360
hi @zet809 , can you take a look at this?

[2018-07-03 03:30] hu-weihua opened #5362 "Ubuntu18.4 support: miss "INFO provision completed." message in /var/log/message after provision"
xcat version:
[code]

After provision, the node has gone to ``booted`` status, but there was not ``INFO  provision completed.`` in ``/var/log/message ``.

As xcat provision common process, when the provision completed successfully, below kind of log should show up in ``/var/log/message`` to indicate provision completed successfully.

[code]

[2018-07-03 04:00] chuckbrazie commented on #5287
I am out of the office until 07/16/2018.

I am out of the office until  Monday July 16.

Note: This is an automated response to your message  "Re: [xcat2/xcat-core]
xcat 2.14 is unable to recognize centos versions (#5287)" sent on 7/3/18
2:29:49 AM.

This is the only notification you will receive while this person is away.

[2018-07-03 04:00] chuckbrazie commented on #5348
I am out of the office until 07/16/2018.

I am out of the office until  Monday July 16.

Note: This is an automated response to your message  "Re: [xcat2/xcat-core]
Request removal of date from `Running postscript:` line in xCAT framework,
idea? (#5348)" sent on 7/3/18 2:25:52 AM.

This is the only notification you will receive while this person is away.

[2018-07-03 04:00] chuckbrazie commented on #5360
I am out of the office until 07/16/2018.

I am out of the office until  Monday July 16.

Note: This is an automated response to your message  "Re: [xcat2/xcat-core]
dodiscovery does not handle lldp failures in some cases (#5360)" sent on
7/3/18 1:29:27 AM.

This is the only notification you will receive while this person is away.

[2018-07-03 04:00] chuckbrazie commented on #5362
I am out of the office until 07/16/2018.

I am out of the office until  Monday July 16.

Note: This is an automated response to your message  "[xcat2/xcat-core]
Ubuntu18.4 support: miss "INFO provision completed." message
in /var/log/message after provision (#5362)" sent on 7/3/18 3:30:37 AM.

This is the only notification you will receive while this person is away.

[2018-07-03 05:52] hu-weihua opened #5363 "add-apt-repository throw out error in ubuntu18.4"
xcat version:
[code]

After installing ubunut18.4 by xcat, ``add-apt-repository`` throw out error message when add entries into ``source.list``.

[code]

[2018-07-03 08:08] neo954 opened #5365 "s_client: Option unknown option -no_ssl2"
On Ubuntu 18.04 and RHEL 8 Alpha, the new version of `openssl` abandoned the `-no_ssl2` command line argument. xCAT needs to handle the changes.

[code]

There was a dirty fix by pull request #5358, but it cause some side effects on SLES 11 SP4. Thus, pull request #5358 was reverted by pull request #5364.

A better solution is needed.

[2018-07-03 08:22] neo954 commented on #5365
* Ubuntu 18.04 runs `openssl` `1.1.0g-2ubuntu4`
* RHEL 8 Alpha runs `openssl` `1.1.0g-4.el8+5`

[2018-07-03 10:01] chuckbrazie commented on #5355
I am out of the office until 07/16/2018.

I am out of the office until  Monday July 16.

Note: This is an automated response to your message  "Re: [xcat2/xcat-core]
Recover from xcat install with /install mounted from production server
(#5355)" sent on 7/3/18 6:26:33 AM.

This is the only notification you will receive while this person is away.

[2018-07-03 10:01] chuckbrazie commented on #5365
I am out of the office until 07/16/2018.

I am out of the office until  Monday July 16.

Note: This is an automated response to your message  "Re: [xcat2/xcat-core]
s_client: Option unknown option -no_ssl2 (#5365)" sent on 7/3/18 8:22:09 AM
.

This is the only notification you will receive while this person is away.

[2018-07-03 10:01] chuckbrazie commented on #2470
I am out of the office until 07/16/2018.

I am out of the office until  Monday July 16.

Note: This is an automated response to your message  "Re: [xcat2/xcat-core]
[Feature Request] Add root tmpfs NUMA memory allocation policy option to
genimage (#2470)" sent on 7/3/18 8:03:45 AM.

This is the only notification you will receive while this person is away.

[2018-07-03 10:01] chuckbrazie commented on #5363
I am out of the office until 07/16/2018.

I am out of the office until  Monday July 16.

Note: This is an automated response to your message  "[xcat2/xcat-core]
add-apt-repository throw out error in ubuntu18.4 (#5363)" sent on 7/3/18
5:52:30 AM.

This is the only notification you will receive while this person is away.

[2018-07-03 10:01] chuckbrazie commented on #5365
I am out of the office until 07/16/2018.

I am out of the office until  Monday July 16.

Note: This is an automated response to your message  "[xcat2/xcat-core]
s_client: Option unknown option -no_ssl2 (#5365)" sent on 7/3/18 8:08:54 AM
.

This is the only notification you will receive while this person is away.

[2018-07-03 22:08] bebosudo commented on #5287
@immarvin could you please explain me how #5300 should fix this? it doesn't seem to improve the original situation, as I showed in my previous comment https://github.com/xcat2/xcat-core/issues/5287#issuecomment-399030584

[2018-07-04 04:00] chuckbrazie commented on #5287
I am out of the office until 07/16/2018.

I am out of the office until  Monday July 16.

Note: This is an automated response to your message  "Re: [xcat2/xcat-core]
xcat 2.14 is unable to recognize centos versions (#5287)" sent on 7/3/18
10:08:58 PM.

This is the only notification you will receive while this person is away.

[2018-07-04 07:14] #4604 closed

[2018-07-04 08:05] immarvin commented on #5287
hi @bebosudo , my test result:
[code]

[2018-07-04 08:06] immarvin commented on #5287
the commit of the fix is
[code]

[2018-07-04 10:00] chuckbrazie commented on #5287
I am out of the office until 07/16/2018.

I am out of the office until  Monday July 16.

Note: This is an automated response to your message  "Re: [xcat2/xcat-core]
xcat 2.14 is unable to recognize centos versions (#5287)" sent on 7/4/18
8:05:55 AM.

This is the only notification you will receive while this person is away.

[2018-07-04 10:00] chuckbrazie commented on #5287
I am out of the office until 07/16/2018.

I am out of the office until  Monday July 16.

Note: This is an automated response to your message  "Re: [xcat2/xcat-core]
xcat 2.14 is unable to recognize centos versions (#5287)" sent on 7/4/18
7:02:37 AM.

This is the only notification you will receive while this person is away.

[2018-07-04 10:00] chuckbrazie commented on #5287
I am out of the office until 07/16/2018.

I am out of the office until  Monday July 16.

Note: This is an automated response to your message  "Re: [xcat2/xcat-core]
xcat 2.14 is unable to recognize centos versions (#5287)" sent on 7/4/18
8:06:26 AM.

This is the only notification you will receive while this person is away.

[2018-07-04 10:00] chuckbrazie commented on #5351
I am out of the office until 07/16/2018.

I am out of the office until  Monday July 16.

Note: This is an automated response to your message  "Re: [xcat2/xcat-core]
Ubunt 18.04 can not boot successfully after installation on p8vm and p9 vm
(#5351)" sent on 7/4/18 7:27:22 AM.

This is the only notification you will receive while this person is away.

[2018-07-04 10:01] chuckbrazie commented on #4604
I am out of the office until 07/16/2018.

I am out of the office until  Monday July 16.

Note: This is an automated response to your message  "Re: [xcat2/xcat-core]
Postinstall and xcatdebugmode (#4604)" sent on 7/4/18 7:14:20 AM.

This is the only notification you will receive while this person is away.

[2018-07-05 06:14] hu-weihua opened #5374 "xcat failed to install sles11.4 by diskfull mode for both ppc and x86"
xcat version:
[code]
xcat failed to install sles11.4 by diskful mode for both ppc and x86. The cn stop at ``postbooting`` stage.

The CN definition after installation:
[code]

The ``/var/log/xcat/xcat.log`` from CN are
[code]

[2018-07-05 06:34] #5348 closed

[2018-07-05 06:35] immarvin commented on #5246
fixed in https://github.com/xcat2/xcat-core/pull/5372

[2018-07-05 07:48] hu-weihua commented on #5351
This issue still exists in the latest xcat version:
``Version 2.14.2 (git commit 193f7f473778f542436f67fb1013a2afba5c441e, built Wed Jul  4 06:15:49 EDT 2018)``

After installation, the CN hung at ``postbooting`` status.
[code]

Below are the ``/var/log/xcat/xcat.log`` got from CN.
[code]

[2018-07-05 07:51] neo954 commented on #5351
Thanks @hu-weihua, I will look into it.

[2018-07-05 07:54] zet809 commented on #2306
Add `makegocons -d <node>` in PR #5373.

[2018-07-05 08:05] hu-weihua commented on #5363
Related task https://github.com/xcat2/xcat2-task-management/issues/214

[2018-07-05 08:05] hu-weihua commented on #5362
Related task xcat2/xcat2-task-management#214

[2018-07-05 08:05] hu-weihua commented on #5374
Related task xcat2/xcat2-task-management#214

[2018-07-05 08:06] hu-weihua commented on #5351
Related task xcat2/xcat2-task-management#214

[2018-07-05 08:16] hu-weihua opened #5375 "The "hcp","arch" keyword in xcattest can not support multiple values"
The key words ``hcp``,``arch`` of ``xcattest`` can not support multiple values , that will result in one common test cases can only run in one platform.

For example below test case ``rpower_suspend_OpenpowerBmc`` can be run both on ``openbmc`` and ``openpower_ipmi`` platform, but in ``openpower_ipmi`` platform this case will be skipped due to ``hcp:openbmc``.

[code]
The ``arch`` keyword has the

[2018-07-05 09:08] #5246 closed

[2018-07-05 09:14] #3869 closed

[2018-07-05 10:01] chuckbrazie commented on #5375
I am out of the office until 07/16/2018.

I am out of the office until  Monday July 16.

Note: This is an automated response to your message  "[xcat2/xcat-core] The
"hcp","arch" keyword in xcattest can not support multiple values (#5375)"
sent on 7/5/18 8:16:02 AM.

This is the only notification you will receive while this person is away.

[2018-07-05 10:01] chuckbrazie commented on #5362
I am out of the office until 07/16/2018.

I am out of the office until  Monday July 16.

Note: This is an automated response to your message  "Re: [xcat2/xcat-core]
Ubuntu18.4 support: miss "INFO provision completed." message
in /var/log/message after provision (#5362)" sent on 7/5/18 8:05:37 AM.

This is the only notification you will receive while this person is away.

[2018-07-05 10:01] chuckbrazie commented on #5374
I am out of the office until 07/16/2018.

I am out of the office until  Monday July 16.

Note: This is an automated response to your message  "[xcat2/xcat-core]
xcat failed to install sles11.4 by diskfull mode for both ppc and x86
(#5374)" sent on 7/5/18 6:14:39 AM.

This is the only notification you will receive while this person is away.

[2018-07-05 10:01] chuckbrazie commented on #5351
I am out of the office until 07/16/2018.

I am out of the office until  Monday July 16.

Note: This is an automated response to your message  "Re: [xcat2/xcat-core]
Ubunt 18.04 can not boot successfully after installation on p8vm and p9 vm
(#5351)" sent on 7/5/18 8:06:17 AM.

This is the only notification you will receive while this person is away.

[2018-07-05 10:01] chuckbrazie commented on #3869
I am out of the office until 07/16/2018.

I am out of the office until  Monday July 16.

Note: This is an automated response to your message  "Re: [xcat2/xcat-core]
Clean up ERROR messages that appear in the discovery logs when running
doxcat (#3869)" sent on 7/5/18 9:14:30 AM.

This is the only notification you will receive while this person is away.

[2018-07-05 10:01] chuckbrazie commented on #5246
I am out of the office until 07/16/2018.

I am out of the office until  Monday July 16.

Note: This is an automated response to your message  "Re: [xcat2/xcat-core]
Use "template" feature in osimage document (#5246)" sent on 7/5/18 6:35:48
AM.

This is the only notification you will receive while this person is away.

[2018-07-05 10:01] chuckbrazie commented on #5351
I am out of the office until 07/16/2018.

I am out of the office until  Monday July 16.

Note: This is an automated response to your message  "Re: [xcat2/xcat-core]
Ubunt 18.04 can not boot successfully after installation on p8vm and p9 vm
(#5351)" sent on 7/5/18 7:51:54 AM.

This is the only notification you will receive while this person is away.

[2018-07-05 10:01] chuckbrazie commented on #5351
I am out of the office until 07/16/2018.

I am out of the office until  Monday July 16.

Note: This is an automated response to your message  "Re: [xcat2/xcat-core]
Ubunt 18.04 can not boot successfully after installation on p8vm and p9 vm
(#5351)" sent on 7/5/18 7:48:31 AM.

This is the only notification you will receive while this person is away.

[2018-07-05 10:01] chuckbrazie commented on #5363
I am out of the office until 07/16/2018.

I am out of the office until  Monday July 16.

Note: This is an automated response to your message  "Re: [xcat2/xcat-core]
add-apt-repository throw out error in ubuntu18.4 (#5363)" sent on 7/5/18
8:05:27 AM.

This is the only notification you will receive while this person is away.

[2018-07-05 10:01] chuckbrazie commented on #2306
I am out of the office until 07/16/2018.

I am out of the office until  Monday July 16.

Note: This is an automated response to your message  "Re: [xcat2/xcat-core]
Need to clean up the temporary xCAT node during discovery regarding rcons
(#2306)" sent on 7/5/18 7:54:50 AM.

This is the only notification you will receive while this person is away.

[2018-07-05 10:01] chuckbrazie commented on #5348
I am out of the office until 07/16/2018.

I am out of the office until  Monday July 16.

Note: This is an automated response to your message  "Re: [xcat2/xcat-core]
Request removal of date from `Running postscript:` line in xCAT framework,
idea? (#5348)" sent on 7/5/18 6:34:12 AM.

This is the only notification you will receive while this person is away.

[2018-07-05 10:01] chuckbrazie commented on #5374
I am out of the office until 07/16/2018.

I am out of the office until  Monday July 16.

Note: This is an automated response to your message  "Re: [xcat2/xcat-core]
xcat failed to install sles11.4 by diskfull mode for both ppc and x86
(#5374)" sent on 7/5/18 8:05:47 AM.

This is the only notification you will receive while this person is away.

[2018-07-05 10:01] chuckbrazie commented on #5246
I am out of the office until 07/16/2018.

I am out of the office until  Monday July 16.

Note: This is an automated response to your message  "Re: [xcat2/xcat-core]
Use "template" feature in osimage document (#5246)" sent on 7/5/18 9:08:35
AM.

This is the only notification you will receive while this person is away.

[2018-07-06 08:19] neo954 commented on #5362
This issue is duplicated to issue #5365

[2018-07-06 08:21] neo954 commented on #5350
Consider drop Ubuntu 14.04 support.

[2018-07-06 10:01] chuckbrazie commented on #5362
I am out of the office until 07/16/2018.

I am out of the office until  Monday July 16.

Note: This is an automated response to your message  "Re: [xcat2/xcat-core]
Ubuntu18.4 support: miss "INFO provision completed." message
in /var/log/message after provision (#5362)" sent on 7/6/18 8:19:33 AM.

This is the only notification you will receive while this person is away.

[2018-07-09 02:05] #5365 closed

[2018-07-09 02:19] #5334 closed

[2018-07-09 02:35] bybai commented on #5349
Hi @ryanbowen, thanks pointing out this issue, will fix it as our plan.

[2018-07-09 03:09] immarvin commented on #5374
hi @neo954 , has this ticket been resolved?

[2018-07-09 03:11] hu-weihua opened #5380 "xCAT should not add entry about 'update' into "sources.list" in ubuntu18.04"
Due to 18.04 does not have "update" directory, so xCAT should not add below entry into ``sources.list`` in ubuntu18.04, this will result in error when run ``apt-get update``.

# cat  ``sources.list``
[code]

[2018-07-09 03:22] immarvin commented on #5380
duplicate with https://github.com/xcat2/xcat-core/issues/841

 the "*-update" source.list entry is written by preseed, there is no option in pressed to disable the entries

opened a ticket to LTC and did not get any solution

[2018-07-09 03:28] hu-weihua commented on #5380
related task https://github.com/xcat2/xcat2-task-management/issues/214

[2018-07-09 04:00] chuckbrazie commented on #5334
I am out of the office until 07/16/2018.

I am out of the office until  Monday July 16.

Note: This is an automated response to your message  "Re: [xcat2/xcat-core]
Lack of /usr/bin/openssl in RHEL8 Alpha anaconda environment (#5334)" sent
on 7/9/18 2:19:40 AM.

This is the only notification you will receive while this person is away.

[2018-07-09 04:00] chuckbrazie commented on #5349
I am out of the office until 07/16/2018.

I am out of the office until  Monday July 16.

Note: This is an automated response to your message  "Re: [xcat2/xcat-core]
makedns fails when IP address octet has leading zeroes (#5349)" sent on
7/9/18 2:35:26 AM.

This is the only notification you will receive while this person is away.

[2018-07-09 04:00] chuckbrazie commented on #5365
I am out of the office until 07/16/2018.

I am out of the office until  Monday July 16.

Note: This is an automated response to your message  "Re: [xcat2/xcat-core]
s_client: Option unknown option -no_ssl2 (#5365)" sent on 7/9/18 2:05:02 AM
.

This is the only notification you will receive while this person is away.

[2018-07-09 04:00] chuckbrazie commented on #5380
I am out of the office until 07/16/2018.

I am out of the office until  Monday July 16.

Note: This is an automated response to your message  "Re: [xcat2/xcat-core]
xCAT should not add entry about 'update' into "sources.list" in ubuntu18.04
(#5380)" sent on 7/9/18 3:22:34 AM.

This is the only notification you will receive while this person is away.

[2018-07-09 04:00] chuckbrazie commented on #5380
I am out of the office until 07/16/2018.

I am out of the office until  Monday July 16.

Note: This is an automated response to your message  "[xcat2/xcat-core]
xCAT should not add entry about 'update' into "sources.list" in ubuntu18.04
(#5380)" sent on 7/9/18 3:11:23 AM.

This is the only notification you will receive while this person is away.

[2018-07-09 04:00] chuckbrazie commented on #5380
I am out of the office until 07/16/2018.

I am out of the office until  Monday July 16.

Note: This is an automated response to your message  "Re: [xcat2/xcat-core]
xCAT should not add entry about 'update' into "sources.list" in ubuntu18.04
(#5380)" sent on 7/9/18 3:28:57 AM.

This is the only notification you will receive while this person is away.

[2018-07-09 06:59] bybai commented on #2470
Verified by https://github.ibm.com/DCS-research/WSC-coral/issues/1385#issuecomment-6773638

[2018-07-09 06:59] #2470 closed

[2018-07-09 07:34] zet809 commented on #5313
The `rcons` will go into broadcast mode automatically if you specify multiple node for it. The `ctrl+e c l ?` will be send to all the nodes specified.
Since we haven't have change to verify this function, it is not included in the 0.3.0 release, you have to build file by yourself.

[2018-07-09 08:00] hu-weihua opened #5381 "xdsh instance' with error 'Unimplemented: POSIX::tmpnam(): use File::Temp instead at /opt/xcat/lib/perl/xCAT/DSHCLI.pm line 1283 on ubuntu 18.04"
xcat version
[code]

Got error ``xdsh instance' with error 'Unimplemented: POSIX::tmpnam(): use File::Temp instead at /opt/xcat/lib/perl/xCAT/DSHCLI.pm line 1283``  in ubuntu18.04, this  errror showed up in below 2 csaes.

For ``xdsh`` with option ``-e``
[code]

For ``xdsh`` with option ``-E``
[code]

[2018-07-09 08:01] hu-weihua commented on #5381
Related task https://github.com/xcat2/xcat2-task-management/issues/214

[2018-07-09 08:20] hu-weihua opened #5382 "xcattest throw out error when running ``makeconservercf_null`` in ubuntu18.04"
xcat version
[code]
xcattest throw out error when running ``makeconservercf_null`` in ubuntu18.04

[code]

[2018-07-09 09:11] Obihoernchen commented on #2470
In my opinion, this is not completed. #5366 is a RHEL only solution. SLES and Ubuntu is still missing.
Having features for one OS, but not the others will just create more fragmentation, documentation inconsistencies or other issues I think.

[2018-07-09 10:01] chuckbrazie commented on #2470
I am out of the office until 07/16/2018.

I am out of the office until  Monday July 16.

Note: This is an automated response to your message  "Re: [xcat2/xcat-core]
[Feature Request] Add root tmpfs NUMA memory allocation policy option to
genimage (#2470)" sent on 7/9/18 6:59:28 AM.

This is the only notification you will receive while this person is away.

[2018-07-09 10:01] chuckbrazie commented on #5381
I am out of the office until 07/16/2018.

I am out of the office until  Monday July 16.

Note: This is an automated response to your message  "[xcat2/xcat-core]
xdsh instance' with error 'Unimplemented: POSIX::tmpnam(): use File::Temp
instead at /opt/xcat/lib/perl/xCAT/DSHCLI.pm line 1283 on ubuntu 18.04
(#5381)" sent on 7/9/18 8:00:32 AM.

This is the only notification you will receive while this

[2018-07-09 10:01] chuckbrazie commented on #2470
I am out of the office until 07/16/2018.

I am out of the office until  Monday July 16.

Note: This is an automated response to your message  "Re: [xcat2/xcat-core]
[Feature Request] Add root tmpfs NUMA memory allocation policy option to
genimage (#2470)" sent on 7/9/18 9:11:13 AM.

This is the only notification you will receive while this person is away.

[2018-07-09 10:01] chuckbrazie commented on #5381
I am out of the office until 07/16/2018.

I am out of the office until  Monday July 16.

Note: This is an automated response to your message  "Re: [xcat2/xcat-core]
xdsh instance' with error 'Unimplemented: POSIX::tmpnam(): use File::Temp
instead at /opt/xcat/lib/perl/xCAT/DSHCLI.pm line 1283 on ubuntu 18.04
(#5381)" sent on 7/9/18 8:01:51 AM.

This is the only notification you will receive while

[2018-07-09 10:01] chuckbrazie commented on #5382
I am out of the office until 07/16/2018.

I am out of the office until  Monday July 16.

Note: This is an automated response to your message  "[xcat2/xcat-core]
xcattest throw out error when running ``makeconservercf_null`` in
ubuntu18.04 (#5382)" sent on 7/9/18 8:20:58 AM.

This is the only notification you will receive while this person is away.

[2018-07-09 10:01] chuckbrazie commented on #5313
I am out of the office until 07/16/2018.

I am out of the office until  Monday July 16.

Note: This is an automated response to your message  "Re: [xcat2/xcat-core]
goconserver malformed HTTP response (#5313)" sent on 7/9/18 7:34:40 AM.

This is the only notification you will receive while this person is away.

[2018-07-09 20:33] whowutwut opened #5384 "Small error printed in the cuda_power9_setup scripts when running after the 1st time"
Should clean up the cuda_power9_setup to not have this error message when trying to create the directory:
[code]

Really we should probably  just  do a  `mkdir -p` ..  but it also seems like we are overwriting the files there, in the printf lines at 19 and 20, so should we just remove the directory first?

[2018-07-09 22:02] chuckbrazie commented on #5384
I am out of the office until 07/16/2018.

I am out of the office until  Monday July 16.

Note: This is an automated response to your message  "[xcat2/xcat-core]
Small error printed in the cuda_power9_setup scripts when running after the
1st time (#5384)" sent on 7/9/18 8:33:46 PM.

This is the only notification you will receive while this person is away.

[2018-07-10 03:04] hu-weihua opened #5386 ""xcatconfig -c" got error message in ubuntu18.04"
xcat version
[code]
``xcatconfig  -c`` got error message in ubuntu18.04

[code]

[2018-07-10 04:01] chuckbrazie commented on #5386
I am out of the office until 07/16/2018.

I am out of the office until  Monday July 16.

Note: This is an automated response to your message  "[xcat2/xcat-core]
"xcatconfig -c" got error message in ubuntu18.04 (#5386)" sent on 7/10/18
3:04:45 AM.

This is the only notification you will receive while this person is away.

[2018-07-10 06:08] neo954 commented on #5386
Hello @hu-weihua, is there any malfunction?

[2018-07-10 10:02] chuckbrazie commented on #5386
I am out of the office until 07/16/2018.

I am out of the office until  Monday July 16.

Note: This is an automated response to your message  "Re: [xcat2/xcat-core]
"xcatconfig -c" got error message in ubuntu18.04 (#5386)" sent on 7/10/18
6:08:22 AM.

This is the only notification you will receive while this person is away.

[2018-07-10 17:22] moralesj commented on #5299
Re-opening issue since we have it once more on the Austin Coral Combined cluster

[code]

[2018-07-10 22:03] chuckbrazie commented on #5299
I am out of the office until 07/16/2018.

I am out of the office until  Monday July 16.

Note: This is an automated response to your message  "Re: [xcat2/xcat-core]
[OpenBMC] rflash over a range using the directory option, ends early with
no reason (#5299)" sent on 7/10/18 5:24:57 PM.

This is the only notification you will receive while this person is away.

[2018-07-10 22:03] chuckbrazie commented on #5299
I am out of the office until 07/16/2018.

I am out of the office until  Monday July 16.

Note: This is an automated response to your message  "Re: [xcat2/xcat-core]
[OpenBMC] rflash over a range using the directory option, ends early with
no reason (#5299)" sent on 7/10/18 5:22:53 PM.

This is the only notification you will receive while this person is away.

[2018-07-10 22:03] chuckbrazie commented on #5299
I am out of the office until 07/16/2018.

I am out of the office until  Monday July 16.

Note: This is an automated response to your message  "Re: [xcat2/xcat-core]
[OpenBMC] rflash over a range using the directory option, ends early with
no reason (#5299)" sent on 7/10/18 5:25:17 PM.

This is the only notification you will receive while this person is away.

[2018-07-11 02:32] bybai commented on #5299
"mid05tor12cn13: Error: Received wrong format response..."  happen in ``rpower mid05tor12cn13  reset``, I think this cause ``rflash`` failure.
[code]
[code]

[2018-07-11 02:33] zet809 commented on #1203
We will update document is 2.14.3, so move this issue forward.

[2018-07-11 02:34] zet809 commented on #2306
Hi, @whowutwut , I have add `makegocons -d <node>` in the hardware discover process, will you pls take a look at the UT result in pr #5373 ? Thx!

[2018-07-11 02:41] zet809 commented on #3572
Let's close this issue and reopen if needed.

[2018-07-11 02:45] zet809 commented on #5148
hi, @gurevichmark , will you pls verify whether this issue is fixed? If yes, pls close this issue or move to 2.14.3 if not. Thx!

[2018-07-11 02:57] zet809 commented on #5287
hi, @bebosudo , do you have chance to verify the fix mentioned above, it is fixed from our point of view, so I will close it and you can reopen if doesn't work for you.  Thx!

[2018-07-11 02:57] #5287 closed

[2018-07-11 02:57] robin2008 commented on #5207
Note require it again after:
https://github.com/xcat2/xcat-core/pull/5229
https://github.com/xcat2/xcat-core/pull/5286

[2018-07-11 02:57] #5207 closed

[2018-07-11 02:57] hu-weihua commented on #5363
Due to ubuntu18.04 full support has been moved to 2.14.3, so move this issue to 2.14.3

[2018-07-11 02:59] hu-weihua commented on #5351
Due to ubuntu18.04 full support has been moved to 2.14.3, so move this issue to 2.14.3

[2018-07-11 03:03] bybai commented on #5299
@whowutwut and @gurevichmark , it is seldom reproduced.
In failure case, after ``rpower mid05tor12cn13 reset`` , ``mid05tor12cn13`` power state is ``off``, ``on`` process fail, so I will add check for ``rflash -d`` to check: after ``rpower reset``, 5 seconds later, if power state is still ``off``, send the ``rpower on`` request to let host on to resolve the problem.

[2018-07-11 03:03] hu-weihua commented on #5345
@kcgthb could you help to verify the fix? If it works, could you close this issue? thank you very much.

[2018-07-11 03:06] hu-weihua commented on #5333
Due to do not plan support rhels8 in 2.14.2 release, so move this bug to 2.14.3

[2018-07-11 03:11] hu-weihua commented on #5312
@gurevichmark, Could you help to push this fix forward? If this fix could not catch 2.14.2 release, could you help to move this to 2.14.3? thanks

[2018-07-11 03:12] immarvin commented on #3854
cannot recreate, close this first. please reopen it if it is still there

[2018-07-11 03:12] #3854 closed

[2018-07-11 03:29] hu-weihua commented on #5375
Have verified in automation test environment. close this one.

[2018-07-11 03:29] #5375 closed

[2018-07-11 04:00] chuckbrazie commented on #1203
I am out of the office until 07/16/2018.

I am out of the office until  Monday July 16.

Note: This is an automated response to your message  "Re: [xcat2/xcat-core]
Missing doc label "ubuntu-install-non-internet" from file
ubuntu_os_other_pkg.rst (#1203)" sent on 7/11/18 2:33:14 AM.

This is the only notification you will receive while this person is away.

[2018-07-11 04:00] chuckbrazie commented on #2306
I am out of the office until 07/16/2018.

I am out of the office until  Monday July 16.

Note: This is an automated response to your message  "Re: [xcat2/xcat-core]
Need to clean up the temporary xCAT node during discovery regarding rcons
(#2306)" sent on 7/11/18 2:34:57 AM.

This is the only notification you will receive while this person is away.

[2018-07-11 04:00] chuckbrazie commented on #3572
I am out of the office until 07/16/2018.

I am out of the office until  Monday July 16.

Note: This is an automated response to your message  "Re: [xcat2/xcat-core]
nodeset not properly creating autoinst file for repo (#3572)" sent on
7/11/18 3:32:49 AM.

This is the only notification you will receive while this person is away.

[2018-07-11 04:00] chuckbrazie commented on #5207
I am out of the office until 07/16/2018.

I am out of the office until  Monday July 16.

Note: This is an automated response to your message  "Re: [xcat2/xcat-core]
Document how to leverage exlist and synclist to exclude sensitive things
from diskless root image (#5207)" sent on 7/11/18 2:57:30 AM.

This is the only notification you will receive while this person is away.

[2018-07-11 04:00] chuckbrazie commented on #5299
I am out of the office until 07/16/2018.

I am out of the office until  Monday July 16.

Note: This is an automated response to your message  "Re: [xcat2/xcat-core]
[OpenBMC] rflash over a range using the directory option, ends early with
no reason (#5299)" sent on 7/11/18 3:03:09 AM.

This is the only notification you will receive while this person is away.

[2018-07-11 04:00] chuckbrazie commented on #5312
I am out of the office until 07/16/2018.

I am out of the office until  Monday July 16.

Note: This is an automated response to your message  "Re: [xcat2/xcat-core]
rflash can not display error if firmware file upload has failed (#5312)"
sent on 7/11/18 3:12:01 AM.

This is the only notification you will receive while this person is away.

[2018-07-11 04:00] chuckbrazie commented on #5345
I am out of the office until 07/16/2018.

I am out of the office until  Monday July 16.

Note: This is an automated response to your message  "Re: [xcat2/xcat-core]
Update hardware inventory of discovered nodes (#5345)" sent on 7/11/18
3:03:31 AM.

This is the only notification you will receive while this person is away.

[2018-07-11 04:00] chuckbrazie commented on #5363
I am out of the office until 07/16/2018.

I am out of the office until  Monday July 16.

Note: This is an automated response to your message  "Re: [xcat2/xcat-core]
add-apt-repository throw out error in ubuntu18.4 (#5363)" sent on 7/11/18
2:57:56 AM.

This is the only notification you will receive while this person is away.

[2018-07-11 04:00] chuckbrazie commented on #5375
I am out of the office until 07/16/2018.

I am out of the office until  Monday July 16.

Note: This is an automated response to your message  "Re: [xcat2/xcat-core]
The "hcp","arch" keyword in xcattest can not support multiple values
(#5375)" sent on 7/11/18 3:29:44 AM.

This is the only notification you will receive while this person is away.

[2018-07-11 04:00] chuckbrazie commented on #2306
I am out of the office until 07/16/2018.

I am out of the office until  Monday July 16.

Note: This is an automated response to your message  "Re: [xcat2/xcat-core]
Need to clean up the temporary xCAT node during discovery regarding rcons
(#2306)" sent on 7/11/18 3:25:18 AM.

This is the only notification you will receive while this person is away.

[2018-07-11 04:00] chuckbrazie commented on #3572
I am out of the office until 07/16/2018.

I am out of the office until  Monday July 16.

Note: This is an automated response to your message  "Re: [xcat2/xcat-core]
nodeset not properly creating autoinst file for repo (#3572)" sent on
7/11/18 2:41:59 AM.

This is the only notification you will receive while this person is away.

[2018-07-11 04:00] chuckbrazie commented on #3854
I am out of the office until 07/16/2018.

I am out of the office until  Monday July 16.

Note: This is an automated response to your message  "Re: [xcat2/xcat-core]
CentOS7: missing wget in installation chroot blocks
postinstallationscripts. (#3854)" sent on 7/11/18 3:12:48 AM.

This is the only notification you will receive while this person is away.

[2018-07-11 04:00] chuckbrazie commented on #5148
I am out of the office until 07/16/2018.

I am out of the office until  Monday July 16.

Note: This is an automated response to your message  "Re: [xcat2/xcat-core]
REST API problems for table rows with attributes (#5148)" sent on 7/11/18
2:45:51 AM.

This is the only notification you will receive while this person is away.

[2018-07-11 04:00] chuckbrazie commented on #5287
I am out of the office until 07/16/2018.

I am out of the office until  Monday July 16.

Note: This is an automated response to your message  "Re: [xcat2/xcat-core]
xcat 2.14 is unable to recognize centos versions (#5287)" sent on 7/11/18
2:57:08 AM.

This is the only notification you will receive while this person is away.

[2018-07-11 04:00] chuckbrazie commented on #5299
I am out of the office until 07/16/2018.

I am out of the office until  Monday July 16.

Note: This is an automated response to your message  "Re: [xcat2/xcat-core]
[OpenBMC] rflash over a range using the directory option, ends early with
no reason (#5299)" sent on 7/11/18 2:32:05 AM.

This is the only notification you will receive while this person is away.

[2018-07-11 04:00] chuckbrazie commented on #5333
I am out of the office until 07/16/2018.

I am out of the office until  Monday July 16.

Note: This is an automated response to your message  "Re: [xcat2/xcat-core]
Lack of wget in RHEL8 Alpha Base OS (#5333)" sent on 7/11/18 3:06:07 AM.

This is the only notification you will receive while this person is away.

[2018-07-11 04:00] chuckbrazie commented on #5351
I am out of the office until 07/16/2018.

I am out of the office until  Monday July 16.

Note: This is an automated response to your message  "Re: [xcat2/xcat-core]
Ubunt 18.04 can not boot successfully after installation on p8vm and p9 vm
(#5351)" sent on 7/11/18 2:59:10 AM.

This is the only notification you will receive while this person is away.

[2018-07-11 04:00] chuckbrazie commented on #5374
I am out of the office until 07/16/2018.

I am out of the office until  Monday July 16.

Note: This is an automated response to your message  "Re: [xcat2/xcat-core]
xcat failed to install sles11.4 by diskfull mode for both ppc and x86
(#5374)" sent on 7/11/18 3:27:01 AM.

This is the only notification you will receive while this person is away.

[2018-07-11 09:06] neo954 commented on #5380
The repository entry in question, `http://10.2.4.24/install/ubuntu18.04/ppc64el bionic-updates` is added by Ubuntu installer, not by xCAT.

[2018-07-11 09:11] bybai commented on #5349
Hi @ryanbowen , I added fix for ``makehosts`` in #5391, so ``makehosts`` and ``makedns`` both check for leading zeroes in ip address.

[2018-07-11 10:01] chuckbrazie commented on #5349
I am out of the office until 07/16/2018.

I am out of the office until  Monday July 16.

Note: This is an automated response to your message  "Re: [xcat2/xcat-core]
makedns fails when IP address octet has leading zeroes (#5349)" sent on
7/11/18 9:11:54 AM.

This is the only notification you will receive while this person is away.

[2018-07-11 10:01] chuckbrazie commented on #5380
I am out of the office until 07/16/2018.

I am out of the office until  Monday July 16.

Note: This is an automated response to your message  "Re: [xcat2/xcat-core]
xCAT should not add entry about 'update' into "sources.list" in ubuntu18.04
(#5380)" sent on 7/11/18 9:06:32 AM.

This is the only notification you will receive while this person is away.

[2018-07-11 13:39] gurevichmark commented on #5148
Tried today on `briggs01` with July 9 2018 build.

One problem is fixed (item 2), invalid attribute specification now displays an error.
But the problem still remains (item 1) where REST call with specified attribute only returns one entry, `tabdump` returns multiple entries.

[2018-07-11 15:07] kcgthb commented on #5313
@zet809

All right, I'll wait for the next release, then. Thank you!

[2018-07-11 15:36] kcgthb commented on #5349
Just a quick note that with #5096, `makedns` should now display the record that is causing the error.

[2018-07-11 16:02] chuckbrazie commented on #5349
I am out of the office until 07/16/2018.

I am out of the office until  Monday July 16.

Note: This is an automated response to your message  "Re: [xcat2/xcat-core]
makedns fails when IP address octet has leading zeroes (#5349)" sent on
7/11/18 3:36:32 PM.

This is the only notification you will receive while this person is away.

[2018-07-11 16:02] chuckbrazie commented on #5313
I am out of the office until 07/16/2018.

I am out of the office until  Monday July 16.

Note: This is an automated response to your message  "Re: [xcat2/xcat-core]
goconserver malformed HTTP response (#5313)" sent on 7/11/18 3:07:30 PM.

This is the only notification you will receive while this person is away.

[2018-07-11 16:02] chuckbrazie commented on #5148
I am out of the office until 07/16/2018.

I am out of the office until  Monday July 16.

Note: This is an automated response to your message  "Re: [xcat2/xcat-core]
REST API problems for table rows with attributes (#5148)" sent on 7/11/18
1:39:38 PM.

This is the only notification you will receive while this person is away.

[2018-07-11 16:38] paddyoneill opened #5395 "CentOS 7.5 tftp pxe issues"
Hi,

I am having a problem with PXE and tftp on CentOS 7.5. When I run nodeset osimage=<image> it doesn't create /tftpboot/pxelinux.0, instead it creates /pxelinux.0.

If I move that to the /tftpboot directory and boot compute nodes they all fail to find pxe configs.

tftpdir is set to /tftpboot in the site table

[root@os1 ~]# tabdump site
.
.
"tftpdir","/tftpboot",,
.
.

This is using xcat Versi

[2018-07-11 16:50] kcgthb commented on #5345
@hu-weihua Sure! I applied patches from #5371 and #5378 on my 2.14.1 installation. I really appreciate the attention to security that #5378 brings.

I gave a try at `updatenode <node> -P getinv` and it seems to work as expected, thank you!

Now, I have also tried to restrict the policy to ensure that only `root` could run that command, but it doesn't seem to work: I got `Permission denied for requ

[2018-07-11 19:51] gurevichmark commented on #5299
@bybai Can you look into another problem with `rflash -d`, perhaps it is related to this issue.
The team saw this error when doing `rflash -d` - `Firmware/Software Failure, (Warning) Unable to read the manifest file`. The openbmc team thinks that the problem is that we upload both BMC and Host fw files at the same time. The BMC file gets uploaded and starts untarring, while the host file is still

[2018-07-12 01:47] xuweibj commented on #5345
Yes, it works as expected.
If did not set policy table as ``"4.10","root",,"updatehwinv",,,,"allow",,``, will print out ``Permission denied for request`` message and suggest to set policy table.

[2018-07-12 05:42] immarvin commented on #5395
hi @paddyoneill , please provide the node definition by `lsdef <node>`, notice the `tftpdir` attribute by `lsdef <node> -i tftpdir`

[2018-07-12 07:55] paddyoneill commented on #5395
Hi @immarvin, here is the output of lsdef for a node. I have tried to set tftpdir using chdef but that hasn't made any difference, still seeing the same behaviour.

[root@os1 ~]# lsdef os2
Object name: os2
    arch=x86_64
    currchain=boot
    currstate=install centos7.5-x86_64-compute
    groups=openstack,all
    installnic=mac
    ip=192.168.0.2
    netboot=pxe
    os=centos7.5
    postbootscri

[2018-07-12 08:51] tingtli opened #5398 "[FVT]:rflash NODE <hpm_file_path> failed on IPMI managed node in some specific condition."
xCAT 2.14.2

Here is the steps to reproduce the defect.

1. Check the firmeware level on test node
[code]

2. Since node mid21tor24cn02 is in a very new firmware level, in order to test rflash, i first flash the firmware to  an old firmware level .
[code]

3. Then run rflash on node mid21tor24cn02
[code]

4.  Here is the log information
[code]

[2018-07-12 13:05] whowutwut commented on #5398
@gurevichmark can you take this one?

[2018-07-12 14:15] gurevichmark opened #5399 "rflash -d sometimes fails with "Unable to read the manifest file.""
@moralesj Team ran into the problem:

The team saw this error when doing `rflash -d` - `Firmware/Software Failure, (Warning) Unable to read the manifest file.` This error appears in the `eventlog`, it is not returned to the `rflash` command.
The openbmc team thinks that the problem is that we upload both BMC and Host fw files at the same time. The BMC file gets uploaded and starts untarring, while

[2018-07-12 14:52] kcgthb commented on #5345
Hmm, I'm confused.

The policy suggested by the `getinv` script is:
[code]
and this policy allows `updatenode <node> -P getinv` to work.

But when I set this policy:
[code]
(which is more restrictive, but should still be valid because the `updatehwinv` request is done by `root`), I get `Permission denied`, and it doesn't make sens to me.

As far as I understand things, the suggested policy still a

[2018-07-12 15:59] gurevichmark commented on #5398
Running with `-V` flag we see this error. Need to find out what that means:
[code]

[2018-07-12 19:36] gurevichmark commented on #5398
I do not think this is a xCAT problem. Waiting for reply from @jayeshp about what this error means.

[2018-07-12 20:27] whowutwut opened #5400 "Removing a attribute from node group with -p works the first time but prints error on subsequent times"
It seems to do execute what is requested, but the error message is misleading.

No group yet:
[code]
Add 3 nodes ,things looks OK
[code]

Now on remove:

[code]

Works the first time.... but any other time prints  a error message.. but it looks like it does work
[code]

So the error message is misleading and incorrect

[2018-07-13 01:17] whowutwut commented on #2306
@zet809 I think the  UT results looks acceptable, thank you!

[2018-07-13 01:17] #2306 closed

[2018-07-13 02:15] hu-weihua commented on #5398
It seems we can move this issue to 2.14.3.
@gurevichmark , could you help to follow this issue? thanks

[2018-07-13 02:20] hu-weihua commented on #5344
After verification, only item 2 worked. So open this issue again and move to 2.14.3.

[2018-07-13 02:20] zet809 commented on #5313
OK, @kcgthb , I will move this defect forward and let you know when we release new goconser with broadcast enabled. Thx!

[2018-07-13 02:40] zet809 commented on #5313
hi, @kcgthb , I will move this defect forward and let you know when  we release new goconserver with broadcast  enabled. Thx!

[2018-07-13 03:14] xuweibj commented on #5345
Hi @kcgthb , I paste wrong info, actually ``updatehwinv`` is not run on MN, the user is not "root". So if policy is ``"4.10","root",,"updatehwinv",,,,"allow",,`` will get error.

We suggest that restrict the ``updatenode`` user to "root" and set policy ``"4.10",,,"updatehwinv",,,,"allow",,``. So that only "root" user could run ``updatenode`` also means only "root" could updatehwinv.

[2018-07-13 07:57] hu-weihua commented on #5382
Have been verified. close this one

[2018-07-13 07:57] #5382 closed

[2018-07-13 08:01] hu-weihua commented on #5398
related task https://github.com/xcat2/xcat2-task-management/issues/241

[2018-07-13 11:20] gurevichmark commented on #5344
@hu-weihua You are right, not everything in this issue was fixed. But I think only item 3 was not implemented. Items 1 and 2 should work. Did you notice item 1 not working ?

[2018-07-13 15:59] kcgthb commented on #5345
Hi @xuweibj

Oh ok. What user does the command runs as, then?

How should I do that?

Thanks.

[2018-07-15 19:03] kcgthb opened #5403 "updatenode -F stopped working in 2.14.2"
`updatenode -F` seems to have stopped working in 2.14.2 and fails with the following message in some cases:

[code]

Here's the `lsdef` output for that node:
[code]

Any idea what changed and what to look for to fix this?

[2018-07-16 02:29] kcgthb commented on #5403
@immarvin `sh-hn01` is the Master Node, from which I'm running the `updatenode` command. I don't think it ever had (nor should have) a `osimage` property, should it?

[2018-07-16 02:32] xuweibj commented on #5345
@zet809 , could you help to answer these questions?

[2018-07-16 02:47] immarvin commented on #5403
if sh-sl01 is the master node, why you run ` updatenode sh-sl01 -FV` against the master node?

[2018-07-16 02:50] kcgthb commented on #5403
I am not. Those are different nodes:
* `sh-hn01` is the master node,
* `sh-sl01` is the node I'd like to update files on.

I am on the MN (`sh-hn01`), and I run `updatenode sh-sl01 -F`.

[2018-07-16 03:01] robin2008 commented on #5403
@kcgthb no `provmethod` on `sh-sl01` too, I think it is the  cause.

[2018-07-16 03:08] kcgthb commented on #5403
Aaah, you're right @robin2008, `provmethod` got removed by mistake after some cleaning in the `nodetype` table.  Adding it back fixes the issue.

Thanks!

[2018-07-16 03:08] #5403 closed

[2018-07-16 03:47] kcgthb commented on #5345
Thanks @zet809. The thing is, I *am* running `updatenode` as root. And `root` is listed as the user authorized to run the `updatehwinv` command in the policy table. Yet it gets `permission denied`:

[code]

This is running on the MN.

[2018-07-16 05:49] kcgthb commented on #5345
According to the documentation, removing `root` from the policy entry means that everybody would be able to run the `updatehwinv` command. From the `policy` table man page:
[code]

I want only `root` to be able to run that command.

I know that in practice, if I remove `root` from the policy line, the command works. But it's not supposed to. So there's either a problem in the way the policy is che

[2018-07-16 07:30] xuweibj commented on #5345
@kcgthb , our suggestion means that only "root" user could run “updatenode” command. And if want to receive ``updatehwinv`` command from CN to update hwinv, must run ``updatenode <node> -P getinv`` on MN. And in our code, we have checked where ``updatehwinv`` from, it not CN this MN/SN managed, will not update hwinv table too.

[2018-07-16 09:15] robin2008 commented on #5327
Fixed the manpage in https://github.com/xcat2/xcat-core/pull/5331

[2018-07-16 10:38] paddyoneill commented on #5395
I rolled back to CentOS 7.4 and everything works again. Not sure if something has changed with the tftp setup between the two CentOS releases that would cause this behaviour.

[2018-07-16 11:30] whowutwut commented on #5395
@gurevichmark was looking into this issue on Friday.. any update?

[2018-07-16 12:21] dbrajendra opened #5406 "SLES12 SP3: xCAT is not honouring bootparams.kcmdline for kdump crashkernel settings"
xCAT ignores setting crashkernel kernel parameters for kdump when setting bootparams.kcmdline.
Example:

lsdef node01 -ci kcmdline
node01: kcmdline=biosdevname=1 crashkernel=155M,high crashkernel=72M,low

In this example xCAT only passes the biosdevname=1 option to the node configuration on installation but ignores both the crashkernel settings if you run "cat /proc/cmdline" on the installed node.

[2018-07-16 14:34] gurevichmark commented on #5395
@paddyoneill Have you tried CentOS 7.5 with `netboot=xnba` is there a reason it needs to be `netboot=pxe` ?

[2018-07-16 14:41] paddyoneill commented on #5395
@gurevichmark No reason for pxe specifically, just more familiar with it. I can test again on 7.5 this week and try xnba.
I will post updates here when I have them.

[2018-07-16 15:56] gurevichmark commented on #5398
@tingtli Perhaps updating from such old level is not supported. Can you try flashing to `20171019n` and then to `20180103o`

[2018-07-16 18:05] cxhong commented on #5406
instead of kcmdline, can u try to use addkcmdline
[code]
then run `nodeset` command, it should appear in the `/tftpboot/xcat/xnba/nodes/node01`

[2018-07-16 18:11] kcgthb commented on #5345
That doesn't really answer my comment about the discrepancy between the documentation and the actual behavior. I still don't get why adding `root` as the authorized user in the `policy` table would *prevent* `root` from running the command.

[2018-07-17 07:30] immarvin commented on #5345
hi @kcgthb ,  the reason that
[code]
does not work is:  the `username` in in the "updatehwinv" request used to pass policy check in xcatd is blank "" instead of `root`, even when we add `<username>root</username >`   in "updatehwinv" request in script `getinv`,   this involves the mechanism of how xcatd get `username` from a SSL connection.

Currently,  xcatd spawns SSL server with SSL_verify_mode

[2018-07-17 07:38] immarvin commented on #5345
on this ticket, since we already have policy control for `updatenode`, `updatehwinv` is just an internal request generated during  `updatenode  -P getinv`,  I do not quite understand why bother to define more strict policy for `updatehwinv`,  this might cause permission conflicting between `updatenode -P getinv` and `updatehwinv` .

For example, a user is permitted to run `updatenode -P getinv`, b

[2018-07-17 07:43] neo954 opened #5407 "makentp cannot handle --verbose command line argument, while -V works"
This bug is against `xCAT-client-2.13.11-snap201803051415.noarch`. I believe this problem has been here for a long time.
[code]
It can handle `-V` properly.
[code]
Based on the output of `makentp --help`. The `--verbose` command line argument should work equally as `-V`.
[code]

[2018-07-17 07:51] neo954 commented on #5407
It seems `makentp --Verbose` works.
[code]

[2018-07-17 07:53] neo954 commented on #5407
It seems there are more than one xCAT client commands have this problem.

[code]

[2018-07-17 15:44] bebosudo commented on #5287
I had no hardware available to test this before: I just tested as @immarvin did in https://github.com/xcat2/xcat-core/issues/5287#issuecomment-402398675 on xcat 2.14.3 and I can reproduce the correct behaviour, so I can consider this as fixed. Thanks for your time and all your work!

[2018-07-18 00:08] kcgthb commented on #5345
@immarvin Ah yes, I see. Thanks for the explanation, it does clarify things now!

[2018-07-18 03:28] robin2008 opened #5408 "commands.log does not show the service node for the message"
`commands.log` is used for debuging issue,  and in a hierarchy environment, it is important to show the service node name for the log message, so as to we can know which service node handle the requesting.

Now we have the capability to show the service node name in output,  and it is required to make it in `commands.log` too.

[2018-07-18 03:30] robin2008 commented on #5288
It is fixed in #5401 , and for commands.log, I've logged new ticket for it.

[2018-07-18 03:32] robin2008 commented on #5408
Different with the output,  we will show the server name for all ERROR/WARN/INFO log messages when they reported from service node.

[2018-07-18 04:58] dbrajendra commented on #5406
I have set kcmdline and addkcmdline to be the same run: nodeset osimage=image, rsetboot net -u, rpower boot to reinstall the node but the crashkernel settings are not configured, only biosdevname=1 is configured on the installed system.

you are correct the xCAT places the settings for the installer as we expect.
Output edited:

``# cat /tftpboot/xcat/xnba/nodes/node01
#!gpxe
#install sles12.3-x86

[2018-07-18 05:20] robin2008 commented on #5408
Plan to do:
Do the same thing (handle `$rsp->{xcatdsource}`) for recording command log in `xcatd` as showing output in `Client.pm`.

[2018-07-18 05:44] robin2008 commented on #5408
#5409 is to fix this issue.

[2018-07-18 07:34] robin2008 commented on #2680
we can close it with https://github.com/xcat2/xcat-core/pull/5394

[2018-07-18 07:34] #2680 closed

[2018-07-18 07:45] robin2008 commented on #5125
It is covered in https://github.com/xcat2/xcat-core/pull/5394

[2018-07-18 12:53] whowutwut commented on #3873
I was able to validate this brick protection recovery on a machine that is able to brick by flashing firmware almost every time.  It works.  This is good news! Great job @chenglch!

When the BMC failed to flash... the BMC becomes unresponsive:
[code]

There's no way to query in this state whether it's in brick protection, and unless you  have a serial cable directly plugged to the node, there's no

[2018-07-18 12:53] whowutwut commented on #3873
This was verified on 2.14.1 xCAT software, but I set the milestone for 2.13.8 since the code was merged back then, and should be there.  None of this code has changed, we just could not easily find a way to "brick" the BMC until now.

[2018-07-18 12:53] #3873 closed

[2018-07-18 16:11] kkvtran opened #5411 "Unable to execute configonie as non-root user"
/opt/xcat/share/xcat/scripts/configonie --switches $SWITCH --ntp
Failed to connect to nodelist table after retrying 3 times: DBI connect('/etc/xcat/nodelist.sqlite','',...) failed: unable to open database file at /opt/xcat/lib/perl/xCAT/Table.pm line 972.

Can't call method "prepare" on an undefined value at /opt/xcat/lib/perl/xCAT/Table.pm line 998.

I could do
updatenode $SWITCH -P enablesnmp
$S

[2018-07-19 01:41] robin2008 commented on #5411
If it wants to operate DB and other privilege commands,  it is better to use it as a plugin.
Here, you can try to use `lsdef` and parse the data for using as a workaround.

[2018-07-19 02:05] cxhong commented on #5406
@dbrajendra , can u add "R::" ?
[code]

[2018-07-19 06:40] bybai commented on #5399
Hi @gurevichmark, I checked ``rflash -d`` code, BMC and PNOR can not be uploaded at the same time in one ``rflash`` process:
1. BMC file and PNOR file are uploaded one after another, when the first tar file is uploaded and get response OK, it starts to upload another tar file, they are not uploaded at the same time. see function ``rflash_upload``.
2. After both BMC and PNOR files are uploaded, fir

[2018-07-19 06:42] hu-weihua commented on #5362
This issue is not  duplicated with issue #5365.

This issue highlighted there was no expected log generated in ``/var/log/message``.

After #5365 was fixed, in xcat 2.14.2 release version, this issue still existed in p8, x86 and p9 environment.

The log `` xcat.mypostscript: INFO  provision completed.`` is very important for ``xcatprobe osdeploy`` command, it is the sign of provision completed. Al

[2018-07-19 08:42] hu-weihua opened #5413 "xcat can not support ubunt18.04 diskless provision"
xcat version
[code]
xCAT can not support ubunt18.04 diskless provision

When doing ``genimage``, there are a lot of below information but return 0 finally.
[code]
The whole information is
[ubuntu18.04_diskless_genimage_output.txt](https://github.com/xcat2/xcat-core/files/2209066/ubuntu18.04_diskless_genimage_output.txt)

The output of ``packimage``:
[code]
Then provision failed, all information fr

[2018-07-19 08:44] hu-weihua commented on #5413
Related task xcat2/xcat2-task-management#214

[2018-07-19 09:51] bybai commented on #5400
@whowutwut , this bug is caused by "chdef -t group abc123 -m members=mid21tor24cn01"  use table "nodegroup" attribute "members", at the first time, there is value "static" in "members" and ``-m`` option empty it, in other times, ``-m`` can not find value in "members" attribute, so it print error. I looked into the related code, since "members" is not formal used as described, but it is sometime us

[2018-07-19 12:55] gurevichmark commented on #5399
@bybai That is how I thought it worked also, by looking at the code. But then I looked at the run output below. I can see two "Uploading....", and then two "Firmware upload successful. Attempting...". If we were uploading files one at a time, wouldn't we see one "Uploading...." followed by "Firmware upload successful. Attempting...", and then second "Uploading...." followed by "Firmware upload suc

[2018-07-19 13:32] whowutwut opened #5414 "liteimg should display some initial message and progress messages to avoid appearing like a hung command"
Running `liteimg` caused me some concern because I was not sure how long it would take, and no output is printed to the console....

[code]

Then once it's complete, the following messages come out:
[code]

So I don't really like the output, since it's so different from `packimage`.

I'd like to propose the following externals changes to more match `packimage` with my comments next to each line...

[2018-07-20 06:47] bybai opened #5417 "sles12sp3 hierarchy servicenode installation support on p8"
sles12sp3 servicenode installation failure on p8 autotest env

[code]

[2018-07-20 08:18] hu-weihua opened #5419 "Some test cases need to be refined to support ubuntu"
Below test cases will failed in ubuntu, need to refine.

* ``makedns``
* ``makedhcp_d_linux``
* ``makedhcp_a_d_linux``
* ``makedhcp_a_linux``
* ``xcatconfig_c``
* ``xcatconfig_k_c``
* ``mkdef_template_cec_template_step_by_step``
* ``xcatstanzafile_defaultvalue``
* ``xcatstanzafile_multattr``
* ``xcatstanzafile_tab``

------------------------------
* ``xcatstanzafile_normal``
* ``xcatstanzafile_col

[2018-07-20 08:26] hu-weihua commented on #5419
The output of running ``makedns`` on ubuntu 18.04 are:
[code]

[2018-07-20 08:29] hu-weihua commented on #5419
The output of running ``makedhcp_d_linux`` on ubuntu 18.04 are:
[code]

[2018-07-20 08:34] hu-weihua commented on #5419
The output of running ``makedhcp_a_d_linux`` on ubuntu 18.04 are:
[code]

[2018-07-20 15:06] gurevichmark commented on #5344
@hu-weihua Did you get a chance to take another look at this ?

[2018-07-20 15:15] gurevichmark commented on #4229
Still happens with 2.14.2
Will investigate...

[2018-07-20 18:12] kcgthb opened #5420 "confignetwork postscript tries to invoke non-existing nmcli when configuring bond during deployment"
The `confignetwork` postscript tries to bring bonding interfaces up and down during deployment, and fails because `nmcli` doesn't exist in the chroot'ed deployment environment.

Here's an excerpt of `/var/log/xcat/xcat.log` in debug mode while configuring and `bond0` interface. The node `nics` definition is:
[code]

[code]

That seem to happen in `nicutils.sh`, in `create_bond_interface()`
https:/

[2018-07-23 01:53] hu-weihua commented on #5344
@gurevichmark, The bug verification is a task of every release cycle. I got above test result against this issue from @tingtli.

@tingtli, could you help to verify this issue again? thanks.

[2018-07-23 02:57] bybai commented on #5420
Hi @kcgthb , what is your OS?

[2018-07-23 03:06] bybai commented on #5420
@kcgthb, could you try to use  following to replace the " line 1489: lines=`$ifdown $ifname; $ifup $ifname 2>&1`" in your environment?
[code]

[2018-07-23 03:07] immarvin commented on #5411
hi @kkvtran , any update on this?

[2018-07-23 06:42] neo954 commented on #5413
The problem is due to Ubuntu bug 1753572.

https://bugs.launchpad.net/ubuntu/+source/busybox/+bug/1753572

[2018-07-23 09:07] bybai commented on #5417
the YaST2-Second-Stage.service calls the Yast2 which conflics with the zypper
# which is called in xcatpostinit1->otherpkgs

[2018-07-23 09:18] bybai commented on #5417
The reason:
The YaST2-Second-Stage.service calls the Yast2 which conflics with the zypper which is called in xcatpostinit1->otherpkgs. The old fix( ``service network stop``) does not take effect.

I found 2 solutions, and try to compare following 2 solutions to fix the issue:
1. If I added ``YaST2-Firstboot.service`` in xcatpostinit1.service as following, the otherpkgs can work well, but xcatposti

[2018-07-23 09:28] #5408 closed, assigned to robin2008

[2018-07-23 15:20] #5312 closed

[2018-07-23 17:49] kcgthb commented on #5420
Hi @bybai
We're deploying CentOS 7 diskful images.
And yes, using `ip link` instead of `ifup`/`ifdown` seems a much better approach: error messages about `nmcli` don't appear anymore.

[2018-07-24 02:08] bybai commented on #5420
@kcgthb , after using "ip link", Does the bond "state UP"?

[2018-07-24 08:48] zet809 commented on #5297
So, it means `$socket = IO::Socket::INET6->new(Proto => 'udp')` failed to create an IPV6 socket? The socket is fine in my environment even no IPV6 address configured on any nics.
[code]
So, @zrlhle , will you pls provide more configuration data? Thx!

[2018-07-24 09:43] bybai commented on #5417
After PR #5426, xCATsn packages are installed in SN, the status became booted, but I noticed there are failure to start xcatd in /var/log/messages, I need to login SN to start xcatd manually, still need to investigate the issue:
[code]

[2018-07-24 13:58] gurevichmark commented on #4229
Fixed by #5422

[2018-07-24 17:51] gurevichmark commented on #5398
Successful `rflash` to 1742Ea:

[code]

[code]

[2018-07-24 18:35] kcgthb commented on #5420
@bybai Yes, it takes a few tries, but it succeeds:
[code]

[2018-07-24 19:29] gurevichmark opened #5427 "Specifying osimage for rinstall command"
xCAT man page and usage indicate that `rinstall <node> <imagename>` is valid.
But it does not appear to start the installation. However `rinstall <node> osimage=<imagename>` works.

After some investigation and discussion the following should be fixed for `rinstall` command:
1. Man page and usage changed to show that `rinstall <node> osimage[=<imagename>]` is valid format.
2. Error should be displ

[2018-07-25 03:14] zet809 commented on #5427
Oh, yeah, the `rinstall <node> <imagename>` shall be `rinstall <node> osimage` which means to deploy the osimage object which have been specified to `provmethod` attr of the node.

[2018-07-25 04:05] techie879 opened #5428 "xcat discovery handling with duplicate serial numbers"
Hi,

I have an interesting issue that I am running into with some old SuperMicro Servers.  I have got a few old SuperMicro servers where system serial number is set to 1234567890 ( fun ... , isn't it? :-) ) .

when xcat does discovery with more than 1 of those node types, I can see that MTMS is got the same serial number ( 1234567890) for of those nodes and xnba gets all confused and discovery nev

[2018-07-25 04:06] techie879 commented on #5428
the issue in my original post that I was referring to, was this: https://github.com/xcat2/xcat-core/issues/3864

thanks.

[2018-07-25 05:40] bybai commented on #5417
I re-ran the 4 autotest case to do UT, all are passed:
[code]

[2018-07-25 05:41] zet809 commented on #5428
Another choose is to use `switch` based hardware discovery which is based on the switch/switchport the compute node connected to. The doc http://xcat-docs.readthedocs.io/en/latest/guides/admin-guides/manage_clusters/ppc64le/discovery/switch_discovery.html have more information. Or let me know if there is any concerns.

[2018-07-25 05:47] techie879 commented on #5428
haa haa, thanks for mentioning that, but it is not an option for us.  we don't image that many nodes and switch based discovery are not a practical solution for us.  This is could all be easier if xcat had a MAC address based discovery, but my request was rejected before about that.  I did not understand the rationale why it could not be added as an option.

If you have a trick to do discover base

[2018-07-25 06:10] techie879 commented on #5428
Also, please note, a MAC address based discovery would make xcat even feature-rich, no doubt in my mind about that.  Today, ROCKS cluster have this feature, and it makes life very much easy for users like us -- who do have state-of-the-art servers and network gear for running switch-based discovery or picture perfect MTMS based discovery.  I am trying to move out of ROCKS, as I liked xcat's abilit

[2018-07-25 07:59] zet809 commented on #5140
Reference #5428

[2018-07-25 08:45] bybai commented on #5420
Hi @kcgthb,
I have questions need your confirm:
1. Do you run `confignetwork` in postscripts or postbootscripts?

2. Why there is no nmcli in your chroot'ed deployment environment? Do you delete NetworkManager in your env?
I think NetworkManager should be installed in Centos7 by default.

3. ``ip link set <dev> down`` and ``ip link set <dev> up`` can not apply ifcfg-<dev> configure file, although

[2018-07-25 09:45] bybai commented on #2707
Hi @gurevichmark,
``[01-09]`` is not right regular expression since it contains ``1-0``.
Refer to "It is not uncommon to want to match a range of characters. Luckily, instead of listing all characters in the range, one may use the hyphen (- ). If inside a bracketed character class you have two characters separated by a hyphen, it's treated as if all characters between the two were in the class. Fo

[2018-07-25 13:38] cxhong commented on #5411
I can recreate this on our test system.  I will add error message if ran by non-root user.
In the near future, we should move `configonie` code to onie plugin.

[2018-07-25 15:16] gurevichmark commented on #5427
@zet809 Yes, man page should be fixed, but I also think we should catch something like `rinstall <node> abc` and display an error.

[2018-07-25 15:38] kcgthb commented on #5420
@bybai
We're running the `confignetwork` script as a `postscript`, not as a `postbootscript`, so it's executed in the anaconda environment, before the OS is fully deployed. That wouldn't be an issue if `confignetworks` were run as a `postbootscript`, since it would be executed once the OS is deployed and NetworkManager would be installed, indeed.

1. there is no NetworkManager nor `nmcli` in the k

[2018-07-26 03:27] hu-weihua opened #5433 "Pull request 5394 triggered error about systemd in sles11.4 and rhels6.10"
In PR #5394, add some configuration for ``systemd``, but it triggered error of ``xcatconfig`` in some lower Linux version, such as sles11.4.and rhels6.10.

The output in sles11.4 are
[code]

[2018-07-26 03:30] robin2008 commented on #5433
In `xcatconfig` codes, it is okay to determine if it is systemd by using the `/usr/lib/systemd/system` directory.  As now xcat ship a unit file by default.

Need to change it to use other method.

[2018-07-26 05:56] robin2008 commented on #5433
To fix this with #5434

[2018-07-26 06:43] #5433 closed

[2018-07-26 08:24] hu-weihua commented on #5419
Part output of ``xcatconfig_c``
[code]

[2018-07-26 09:05] bybai commented on #5417
verified by autotest environment.

[2018-07-26 09:05] #5417 closed

[2018-07-26 09:12] neo954 commented on #5363
This is a test case problem. Not a bug of xcat-core. May need to update test case accordingly.

[2018-07-26 09:15] neo954 commented on #5386
It seems there is no malfunction.

[2018-07-26 17:44] cxhong commented on #5411
if switch has passwordlesss enabled for root user.  the updatenode command to the switch will work too for non-root users.

[2018-07-26 18:01] kcgthb opened #5436 "xcatd starts conserver instead of goconserver on SNs"
On Service Nodes, the `xcatd` service seems to start `conserver` instead of `goconserver` unconditionally. Is there a way to set a preference or to disable `conserver` entirely? Uninstalling the RPM is not an option, as it's a dependency for `xCAT-server`.

On the SN:
[code]

[2018-07-26 18:01] kkvtran commented on #5411
Yes, updatenode works for non-root user, i.e. tran58.

[2018-07-26 21:40] kcgthb commented on #5420
Mmh, I may have to retract that: ~@bybai Yes, it takes a few tries, but it succeeds~
I think this was executed as a `postbootscript`, not as a `postscript`, so I can't confirm that the `ip link` lines properly work in a chrooted installation environment without proper testing and validation.

[2018-07-27 01:54] bybai commented on #5420
Hi @kcgthb,

1. If it's in a pre-installation context (such as anaconda when run as a postscript), as it just needs to set the configuration files for the next boot, and the status of the interface doesn't really matter, and ``confignetwork`` also delete|add new temporary IPs using ``ip addr del dev ...|ip addr add dev ...``, ``confignetwork`` prepares the new ifcfg-* files, that is enough. So for

[2018-07-27 02:18] hu-weihua commented on #5433
Have been verified in automation test environment, thanks @robin2008

[2018-07-27 02:46] hu-weihua commented on #5419
The part output of ``xcatconfig_k_c``
[code]

[2018-07-27 02:52] hu-weihua commented on #5419
The part output of ``xcatstanzafile_multattr``:
[code]

[2018-07-27 02:54] immarvin commented on #5411
hi @kkvtran , if the issue is resolved and you are ok with @cxhong 's fix, please close this ticket, thanks

[2018-07-27 02:54] hu-weihua commented on #5419
The part output of ``xcatstanzafile_tab``
[code]

[2018-07-27 03:56] #5411 closed

[2018-07-27 05:46] neo954 commented on #5381
Based on POSIX.1-2008 [1], `POSIX::tmpnam` was obsoleted. And in Perl 5.26, it was removed [2].

* [1] http://pubs.opengroup.org/onlinepubs/9699919799/

* [2] https://perldoc.perl.org/perl5260delta.html#POSIX%3a%3atmpnam()-has-been-removed

[2018-07-27 08:33] neo954 commented on #5350
Abandon Ubuntu 14.04 support in xCAT.

[2018-07-27 08:33] #5350 closed

[2018-07-27 09:00] #2707 closed

[2018-07-27 09:10] neo954 commented on #5362
With xCAT build 2.14.3-snap201807260615, I cannot recreated the problem.

[code]

[2018-07-27 09:15] #5362 closed

[2018-07-27 09:18] #4014 closed

[2018-07-27 18:35] kcgthb commented on #5252
I need to re-open this issue, as we're consistently seeing this problem happening again.

In our hierarchical setup, the initial `syncfiles` postscript execution fail during deployment (in the kickstart/anaconda environment) with the error reported above, that is, the username used for the SSH connection from the SN to the node being deployed is the hostname of the MN, instead of `root`.

Example

[2018-07-27 18:41] kcgthb commented on #5428
@techie879 for MAC-address based discovery, you can probably just set the MAC address of your nodes with `chdef`, then run `makedchp` like this:

[code]

and then power up your node, it should get its DHCP lease and be ready to be deployed.

[2018-07-27 18:46] techie879 commented on #5428
HI Killian,

Yes, I was thinking about that. It's just another hack in my giant wrapper
script to make xcat easy for users. :-)

I hope this request is taken into consideration, as it will enrich xCat -
no doubt in my mind.

Thanks for your help!

On Fri, Jul 27, 2018 at 11:41 AM Kilian Cavalotti <notifications@github.com>
wrote:

--
Regards,
*Imam Toufique*
*213-700-5485*

[2018-07-30 01:14] bybai commented on #5420
verified by autotest environment.

[2018-07-30 01:18] bybai commented on #5399
@gurevichmark , could you ask @moralesj Team try the latest code? I will close this issue, if it can appear later, will re-pen it.

[2018-07-30 01:18] #5399 closed

[2018-07-30 02:19] hu-weihua commented on #5419
[code]

[2018-07-30 02:40] immarvin commented on #5436
hi @zet809 , any thoughts on this?thx

[2018-07-30 02:41] immarvin commented on #5406
any update on this @dbrajendra

[2018-07-30 03:23] zet809 commented on #5428
Thx, @techie879 , we will rethink about this requirement.

[2018-07-30 03:59] immarvin commented on #5427
hi @gurevichmark , can we close this ticket ? since your fix has been merged

[2018-07-30 09:11] immarvin commented on #5252
hi @kcgthb , which xCAT release are you using  for the latest comment?

[2018-07-30 09:46] dbrajendra commented on #5406
I tried using R:: but it did not help. biosdevname=1 is passed but not the other crashkernel settings. I think I will have to put the parameters into /etc/default/grub and rebuild the grub config. That works if i do it manually so i know what I am trying to add to the kernel boot is legitimate.
xCAT does not like it. Maybe it does not like commas in the kernel parameters or there is something in S

[2018-07-31 01:52] immarvin commented on #5406
hi @dbrajendra , what is the osimage definition after you add `R::`?

[2018-07-31 02:00] hu-weihua commented on #5419
Related task https://github.com/xcat2/xcat2-task-management/issues/255

[2018-07-31 05:24] #5351 closed

[2018-07-31 05:24] #5413 closed

[2018-07-31 07:01] immarvin commented on #5386
hi @neo954 , the error message
[code]
 might be caused by some  deprecated option or missing option in openssl commands in `/opt/xcat/share/xcat/scripts/setup-xcat-ca.sh` due to the openssl shipped in ubuntu18.04,  would you please take a look at this and eliminate the error? thanks

[2018-07-31 07:56] hu-weihua opened #5446 "rinstall runcmd can not work correctly as before"
xcat version ``Version 2.14.3 (git commit 738e5c8814398225949760471bb28982cf2627a5, built Fri Jul 27 06:15:55 EDT 2018)``

``rinstall`` ``runcmd`` can not work correctly as before

The output like below:
[code]

It seems the change in PR #5437 trigger this issue.

[2018-07-31 07:57] hu-weihua commented on #5446
@gurevichmark , could you help to fix this issue? thanks

[2018-07-31 11:28] zet809 commented on #5436
hi, @kcgthb , what is the `conserver` attribute set in `servicenode` table? As mentioned https://xcat-docs.readthedocs.io/en/latest/advanced/hierarchy/define_service_nodes.html?highlight=goconserver, it shall be `2` if `goconserver` want to be started.

[2018-07-31 14:01] gurevichmark commented on #5446
@whowutwut How did it work before ?

The man page and usage show that `runcmd=bmcsetup` is the only valid option. Everything else, I think, should return an error.

[2018-07-31 23:57] kcgthb commented on #5420
Hi @bybai
I can see an issue when this is executed in a pre-installation context (as a `postscript`) where `ip link` doesn't set up IP addresses, and other postscripts which require IPs (such as ``setroute`) would fail. See https://github.com/xcat2/xcat-core/pull/5430#issuecomment-409404709 for more details.

[2018-08-01 02:40] zet809 commented on #5436
hi, @kcgthb , thanks very much for bring this question out, I agree with you that it is inconvenience for user to find it out.
And will you pls give us feedback about using goconserver.
If it fulfill most of the customer's console requirement, we will active goconserver by default, then, no need to set `2` to servicenode.conserver.
^_^

[2018-08-01 03:06] zet809 commented on #5446
Hi, @gurevichmark , in fact, `bmcsetup` is not the only valid paramter for `runcmd`, any command supported in genesis kernel can be specified here. For example `runcmd=date`, `runcmd="ls /"` or even `runcmd=dodiscover`.
So, runcmd means run a command supported in genesis kernel, runimage means download a file from server, then run runme.sh inside the file.

[2018-08-01 04:51] techie879 commented on #5428
Thank you.  If you do come up with a patch or fix, please let me know, I will be more then happy to test for you.

[2018-08-01 06:20] techie879 opened #5448 "question syncing password, group, shadow, gshadow files"
Hi,
I am trying to ensure /etc/{passwd,shadow,group,gshadow} files are sync-ed from the MN to all compute nodes.  It looks like updatenode does the job.  But, reading further on the guide, it looks like the "MERGE" clause ( where I would like to just merge changes) only supports passwd, group and shadow files.  It looks like 'gshadow' file sync is not supported by the MERGE clause?  is that correc

[2018-08-01 09:41] bybai opened #5451 ""No space left on device" during install xCAT or run genimage in sles12sp3 x86_64"
During "install xcat" and "genimage <osimage>", there may be error like "No space left on device". I hit this error in sles12sp3 x86_64 system. It sometimes happen.
What has happened is that the filesystem has allocated all of the available space to either data or metadata, and then one of those has filled up (usually, it's the metadata space that does this). For now, a workaround is to run a part

[2018-08-01 09:48] bybai commented on #5451
Found similar bugs in suse:
https://lists.opensuse.org/opensuse-factory/2017-06/msg00485.html
https://bugzilla.suse.com/show_bug.cgi?id=1040182
https://build.opensuse.org/request/show/501795

[2018-08-01 16:10] kcgthb commented on #5436
@zet809 So far, `goconserver` has been pretty great! I think it's way more powerful and flexible than the old `conserver`, although I mostly use it via `rcons`/`wcons` and haven't used much of the advanced features yet (web console...)
To me, it could definitely be the default for new xCAT installations.

[2018-08-01 16:12] kcgthb commented on #5428
@techie879 I don't really see how this would be a hack.
The other discovery methods in xCAT do the same thing: they have different ways of gathering MAC addresses, but in the end, they all end up setting the `mac` attribute on node objects.

Here, you just want to skip the existing discovery methods and set the `mac` attribute directly. How would you propose xCAT to do this?

[2018-08-01 17:34] gurevichmark commented on #5446
@zet809 Thanks for clarification, so it seems our man page and usage should be changed. Do you think we should allow multiple commands for the `runcmd=`, like `runcmd=dodiscover,date,ls` ?

[2018-08-01 20:22] #5427 closed, assigned to gurevichmark

[2018-08-01 20:37] whowutwut opened #5453 "Protect from incorrect syntax in regular expression"
I mistakenly typed some incorrect regex and got this error:

[code]

Can we protect from this?  Or too many strange cases?

[2018-08-01 21:05] marksmit-ibm opened #5454 "rflash -d <dir> option fails to reboot Node Host/OS that is up/running"
Version 2.14.2 (git commit f2090565b1d1b8efa7558d034de0478456c38e4c, built Wed Jul 11 07:15:53 EDT 2018)

Using rflash -d <dir> option against 12 nodes that have the OS/Host up/running during the test.
1. Hit one instance of #5410 issue addressed in future 2.14.3.  Worked around by manually powering on.
2. Hit four instances of this new problem.  Other 8 nodes rebooted the Host as designed.
These

[2018-08-02 01:49] bybai commented on #5454
Hi @marksmit-ibm, Could you have a try PR #5410?  I think this PR fix  "rflash -d <dir> option fails to reboot Node Host/OS that is up/running". In #5410, if ``rpower reset`` state is always off, ``rflash -d`` will try 5 times to ``rpower on`` it.

[2018-08-02 02:05] bybai commented on #5454
@marksmit-ibm, You mentioned: "Attaching details of recreate. Important here, I think, is that I am intentionally using ``the rflash -d <dir>`` option when only the pnor is changing. The BMC level remains the same as what is running. This may be introducing an unusual use-case for the code to handle. ".
Yes, it is an new use-case require for ``rflash -d``,  and current function always upload and a

[2018-08-02 02:12] bybai commented on #5453
This should be captured. I have tried to capture incorrect regex in PR https://github.com/xcat2/xcat-core/pull/5442, it seems that PR can not cover this case.

[2018-08-02 03:50] whowutwut commented on #5454
@bybai  I don't think #5410 is related, @marksmit-ibm  says...

So that means the host never rebooted, so the reset never got sent.  We may want to communicate with the OpenBMC team to see if we can validate whether or not a REST API command got through to the bmc...

This should not be a new use case, if the bmc file is not in the directory, it should not get flashed...  maybe a bug?

[2018-08-02 04:28] marksmit-ibm commented on #5454
Clarifying @vhu,  currently 2.14.2-GA will prevent running (fails to start) if either BMC or PNOR image is missing.  That is working as designed.
My point is that only the pnor image is newer/different in this use case.  In order for -d <dir> to work, I copy the BMC image to the dir, but it is the same level as Fx-Rev7-Rev12.   This matches what is presented in the IBM/AFS dir for testing.

2nd cl

[2018-08-02 05:11] techie879 commented on #5448
Thanks.

On Wed, Aug 1, 2018 at 7:22 PM yangsong <notifications@github.com> wrote:

--
Regards,
*Imam Toufique*
*213-700-5485*

[2018-08-02 06:26] bybai commented on #5454
@whowutwut, the first:
 just as @marksmit-ibm described, ``rflash -d`` is working as designed "both BMC and PNOR are flashed". The "unusual" use case is: "when both BMC and PNOR are in directory, BMC was already flashed (for example, by rflash -a), now ``rflash -d`` only flash PNOR since BMC is already latest and no need to be re-flashed. Our current solution is re-flash and activate BMC".  It is

[2018-08-02 06:44] zet809 commented on #5436
Thank you very much for your feedback, @kcgthb , we will use goconserver as default in the near future.

[2018-08-02 06:54] bybai commented on #5454
The 2nd @marksmit-ibm and @whowutwut：
``rflash -d`` ``reset`` use the same request and response with ``rpower boot`` during ``reset`` the node. I reproduced above issue in mid05tor12cn13 before,  ``rflash`` sent ``power reset`` to mid05tor12cn13, but mid05tor12cn13 is only ``off``, openbmc does not handle ``power on`` for mid05tor12cn13. The workaround is to manually ``rpower <node> on`` . I saw i

[2018-08-02 10:54] whowutwut commented on #5454
@bybai if we wait long enough for the power state to change to off. Then send the on and BMC does not react. It’s an openbmc issue you need to take to their team

@gurevich let’s discuss today

[2018-08-02 12:14] fsadoon opened #5458 "XCATD SSL: Instance for [hostname]"
hi

i have my managment server full of below perl processes caused by xcatd

XCATD SSL: Instance for [hostname]

note: hostname refares to some windows workstations we have

any idea what is this ?

Regards

[2018-08-02 15:14] gurevichmark commented on #5454
I was able to recreate on f5u16 from stratton01 with latest development xCAT build. At the end of `rflash -d` we send "rpower reset", but the host is not rebooted.
[code]

I think the problem is with "reset", calling it by itself does not appear to reboot the host
[code]

[2018-08-02 16:32] marksmit-ibm commented on #5454
@whowutwut wrote: >if we wait long enough for the power state to change to off...

I believe I captured on the OpenBMC SEL list that corresponding error.  Matt Spinler is discussing in CQ defect: > cn10 Proc.FSI.Error.MasterDetectionFailure||I2C after rflash update
https://w3.rchland.ibm.com/projects/bestquest/?defect=SW440656  (also mirrored to Bugz for those w/o CQ: LTCBug170131
Let me be clear;

[2018-08-02 17:18] gurevichmark commented on #5454
@marksmit-ibm Is this something that you can recreate ? Run `rflash -d` against the same 12 nodes and see some of the hosts not reboot ?
If you do try, can you turn on debugging with `chdef -t site clustersite xcatdebugmode=1` before running `rflash -d` and also use `-V` for verbose output ?

[2018-08-02 18:40] gurevichmark opened #5459 "rflash -d command enhancements"
Opening this issue on Victor's suggestion.

He proposed the following `rflash -d` enhancements. Perhaps this issue can be turned into an Epic if work estimate is high.

1. Allow only one firmware update file to be in `-d` directory. Today both BMC and Host files are required to be in the directory. This would work similar to Boston nodes where only one file is required to be in the directory.

2.

[2018-08-02 20:57] whowutwut commented on #5414
@bybai  I don't  have a machine to test this on currently, but I looked  at  the PR...   Can we delete the messages that say `done.`    It seems like unless there is a  pause between "done" and  the next message printed, there's no real need to print done.  Or is an error case that may be printed?
[code]

[2018-08-03 01:50] bybai commented on #5454
Hi @gurevichmark , let me reproduce it on ``f6u13`` from ``stratton01``. Different firmware version may response different results that we should enhance. Thanks

[2018-08-03 02:36] immarvin commented on #5458
hi @fsadoon , several questions:
1) what is the os version of the management server?
2) what is the xcat version?
3) please provide the raw error messages , you can fake the credential information in the message

[2018-08-03 03:04] zet809 commented on #5459
From my point of view, the logic shall be like this:
1. If the version of PNOR/BMC firmware file not exist on BMC, we shall upload+activate
2. If exist, but not active, just activate
3. If exist and active, do nothing.

Hi, @gurevichmark  and @whowutwut , and as the state machine in Perl rflash is very very complex, and we are moving to python version, do you think we can enhance python code rathe

[2018-08-03 04:00] whowutwut commented on #5459
@zet809 I think one issue is that we currently do not default to Python, as there are dependencies issues... so if the user does not satisfy the dependencies, there's no option but Perl.

When discussing today...  with @gurevichmark

I think we would want to let the firmware decide, so we just upload the file... the FW will extract and activate, (if new)... or extract and do nothing (if already th

[2018-08-03 06:56] bybai commented on #5454
Hi @marksmit-ibm,
1.  ``rflash -d`` sometimes does not reset the hosts issue be fixed in PR #5461
2.  we will use https://github.com/xcat2/xcat-core/issues/5459 to trace new ``rflash -d`` enhancements
Thanks.

[2018-08-03 08:15] #5386 closed

[2018-08-03 21:18] kcgthb opened #5465 "REST API: xcoll parameter doesn't work for grouped noderanges"
If the noderange is "expanded" (`sh-101-59,sh-101-60`), `xcoll` works:
[code]

if it's "grouped" (`sh-101-[59-60]`), it doesn't:
[code]

[2018-08-05 06:17] fsadoon commented on #5458
Hi @immarvin

1- os is RHEL 6.6
2-  2.9.1
3- i don't have error messages, but a processes that are using 100% of CPU, and it keep coming

here is an example : top command

8201 [username] 20   0  141m  36m 3172 R 100.0  0.0 497:37.51 xCATd SSL: Instance for [hostname]

29838 [username]  20   0  141m  36m 3168 R 100.0  0.0   2795:57 xCATd SSL: Instance for [hostname]

7104 [username]  20   0  141m

[2018-08-06 01:38] bybai commented on #5451
finally, changed the default file system partition type to xfs for sles12sp3, the error disappear, and let auto test to verify it.

[2018-08-06 02:11] immarvin commented on #5458
hi @fsadoon , which command did you run to produce this issue? would you please provide process tree info when you observed this issue by `ps aux --forest www`? thanks

[2018-08-06 03:35] hu-weihua opened #5466 "Test case psh_i failed in automation test environment all 3 ubuntu 18.04 platform"
xCAT version: ``Version 2.14.3 (git commit e776d73974686e1d197b0835c97caec440475830, built Fri Aug  3 06:17:19 EDT 2018)``

The output in ubuntu18.04 + p9VM are:
[code]

The output in ubuntu18.04+ x86 and p8vms are the same.

The first thing can be confirmed is that the ``ip route' | awk '/default/ { print $NF }'`` did not run as expected in ubuntu 18.04

[code]

But strange thing is that rerun ca

[2018-08-06 03:36] hu-weihua commented on #5466
related PR https://github.com/xcat2/xcat-core/pull/5460

[2018-08-06 07:14] bybai commented on #5118
This is fixed in PR https://github.com/xcat2/xcat-core/pull/5426

[2018-08-06 07:15] #5118 closed

[2018-08-06 12:47] fsadoon commented on #5458
hi, what do u mean with www ?

however, no command was issued using xcat but whenever the xcatd is up, this perl processes will comes untill i kill'em and after some time it will come again

[2018-08-06 13:45] immarvin commented on #5458
hi @fsadoon , the `ps aux --forest www` is a linux command to get a tree view of all the running processes

[2018-08-06 13:51] fsadoon commented on #5458
Hi
If i grep this process using this command  it shows nothing but perl processes
Any other ideas ?

[2018-08-06 14:00] immarvin commented on #5458
hi @fsadoon , this is strange. The ordinary process view for xcatd looks like :
[code]

would you please start the xcatd in foreground mode with `xcatd -f` and check what the output is?

[2018-08-06 15:56] fsadoon commented on #5458
I will try this.. thanks a lot,
am out of office for now

[2018-08-07 02:20] hu-weihua opened #5472 "The fix #5450 about go_xcat_noinput against ubuntu18.04 affected ubuntu16.4"
The fix #5450 about ``go_xcat_noinput``  against ubuntu18.04 has affected ubuntu16.4

The test result in ubuntu 16.4 are
[code]

[2018-08-07 03:25] bybai commented on #5451
Found diff between compute.sles12.tmpl service.sles12.tmpl, continue to investigate the difference between `xfs` and `btrfs` for sles12sp3.
[code]

[2018-08-07 08:51] hu-weihua commented on #5466
have been verified in automation environment, close this issue

[2018-08-07 08:51] #5466 closed

[2018-08-07 08:52] hu-weihua commented on #5446
Have been verified in automation environment, close this issue. thanks @gurevichmark

[2018-08-07 08:52] #5446 closed

[2018-08-07 10:36] fsadoon commented on #5458
hi
here is the output

Use of uninitialized value $ENV{"XCATROOT"} in concatenation (.) or string at /opt/xcat/sbin/xcatd line 14.

sh: ip: command not found

sh: ip: command not found

sh: ip: command not found

sh: ip: command not found

[2018-08-07 13:34] kcgthb commented on #5420
Hi @bybai. How has this been resolved? I don't see any update on #5430.

[2018-08-08 02:37] bybai commented on #5451
`service.sles12.tmpl` is the same with `compute.sles12.ppc64le.tmpl` for ppc64le.  `compute.sles12.tmpl` is for x86_64 systems. "No space left on device" error sometimes appears in x86_64 `x3650` and `iDataPlex dx360 M4` virtual machine `btrfs` filesystem, and may cause OS provision failure, so now `xfs` filesystem will be used in only x86_64 template `compute.sles12.tmpl`. Will keep ppc64le syste

[2018-08-08 02:37] #5451 closed

[2018-08-08 02:38] bybai commented on #5451
Verified by automation environment.

[2018-08-08 02:44] bybai commented on #5454
H @marksmit-ibm, could you verify this "`rflash -d` sometimes does not reset the hosts issue"?  hope you can get better results.

[2018-08-08 07:22] pawsey-kbuckley opened #5476 "geninitrd.pm looks up wrong key in get_site_attribute() call"
xCAT-server/lib/perl/xCAT_plugin/geninitrd.pm

has code that does this (Lines 182-183)

[code]

but that's wrong, and ``@entries`` will always be empty.

The key in xCAT's ``site`` table is the string ``tftpdir`` **not** the string ``/tftpboot``,
so that ``get_site_attribute`` call should be using the bare string and not the
value of the variable ``$tftpdir``, of the same name .

I suggest the cod

[2018-08-08 08:17] neo954 commented on #1203
Fixed in pull request #5477, commit https://github.com/neo954/xcat-core/commit/a7999576bb1a50390a8dc908843e1f53f3b46f47.

[2018-08-08 09:00] hu-weihua opened #5480 "Test case makedhcp_remote_network failed in travis node"
Test case ``makedhcp_remote_network`` failed in travis test environment.
But can be successful in our own test environment.

[code]

[2018-08-08 09:06] hu-weihua commented on #5480
related task https://github.com/xcat2/xcat2-task-management/issues/255

[2018-08-08 09:20] hu-weihua opened #5481 "Some feature of makedns failed in travis test environment"
test cases about makedns failed in travis test environment, such as
[code]

They are failed in one place. Take ``makedns_n_noderange`` for example
[code]

[2018-08-09 03:11] bybai opened #5484 "upgrade xCAT failed from 2.14.1 to 2.14.3"
When I upgraded xCAT from 2.14.1-snap201806010300 to 2.14.3-snap201808080615, I hit the following error. The work around is use `yum update '*xCAT*' --nogpgcheck`
[code]

[2018-08-09 07:46] robin2008 commented on #5484
I just check the 2.14.2,  and found that the key is still missing.

[2018-08-09 07:47] robin2008 commented on #5484
@neo954 Could you help to take a look?

[2018-08-09 08:18] neo954 commented on #5484
That is due to when I was working on issue #5306, the gpg keyring on the GSA server was updated. And the `repomd.xml.key` file was put there along with the gpg keyring. But I forget to add it back.

Now the `repomd.xml.key` on GSA server is updated as well. It as the same content as the [`apt.key`](http://xcat.org/files/xcat/repos/apt/apt.key) file. And I update directory http://xcat.org/files/xca

[2018-08-09 08:18] #5484 closed

[2018-08-09 09:18] neo954 commented on #5472
This problem was fixed by pull request #5475. Thus, I will close this one.

[2018-08-09 09:18] #5472 closed

[2018-08-09 09:45] bybai commented on #5420
Hi @kcgthb,
I am still working on this issue.
1. why do you use `confignetwork` and `setroute` in postscript not in postbootscripts?

2. In redhat7.x environment, I can find `nmcli` in the kickstart/anaconda environment. So `ifup|ifdown` can work during `post-scripts` stage.  I am curious that there is no `nmcli` in Centos7, could you have a try to add `NetworkManager` in pkglist?

3. As we discus

[2018-08-09 12:26] geissonator commented on #5454
Hi, I added a comment to the openbmc defect related to this - https://w3.rchland.ibm.com/projects/bestquest/?defect=SW440656#nle8

[code]

I see a lot of talk of hard coded delays above but if xcat could just query the BMC states to ensure it's achieved the requested state, before requesting a new state change, all would be good.  Is this bug addressing this or would you prefer openbmc look into r

[2018-08-09 15:18] kcgthb commented on #5420
Hi @bybai
1. why should I? :) I prefer doing going through the most possible tasks in the initial deployment phase, so nodes are ready to work as soon as possible after their first boot. I also have postscripts that depend on that network configuration and routes to be done before they can be executed.
2. that's actually a very good point, thanks for pointing that out! I reviewed our whole deploym

[2018-08-09 15:44] thilo-maurer opened #5488 "invalid output from xcatprobe discovery"
xCAT was setup to discover multiple nodes. Predefined nodes are in group `discovered_nodes`.
Discovery process is started using `rsetboot bmc net; rpower bmc on`
Now probing MTMS discovery:
[code]
but no further output (hanging until CTRL-C).

However, in a separate shell I see
[code]

[2018-08-09 15:56] whowutwut commented on #5488
@hu-weihua  can you take  a look? thanks

[2018-08-09 18:01] whowutwut commented on #5454
@geissonator I'm pretty sure that we query power status to make sure it's  'off' before turning the node back on.  But in the past with firmware, we have seen cases where in our scripted process, we go too fast and have been asked to add a sleep in between.  Could this be another one of those cases where when we run it by hand, we would never issue the "on" quick enough to get into this situation.

[2018-08-10 02:00] bybai commented on #5454
Hi @whowutwut, In latest code, it does wait for BMC and host including "off" status before sending the "on".
After BMC is reboot, it does wait for BMC becomes ready, here needs retry and wait. After host is reset, it does check/retry and wait it to "off" state, then sending it to "on" state, if the "on" request is failed the node state is still "off", it re-tries 5 times to re-send "on" to let hos

[2018-08-10 02:08] whowutwut commented on #5454
@bybai yea this is what I thought. Is there anyway that we can log proof of this status? I’m thinking this is a firmware issue where we get back “off” and send “on” too quickly and fw can’t handle it. But I have no way to prove this and so I don’t think it will be accepted by fw team...

@geissonator is there any way on the bmc journalctl logs to show rest api request coming in and response. And i

[2018-08-10 02:10] hu-weihua opened #5489 "migration test cases failed in automtion environment for both rhels and sles against xcat 20180809.0615 build"
xcat version : 20180809.0615 daily build

migration test cases failed in automtion environment for both rhels and sles.

The output of failed cases in rhels 7.5
[rhels7.5-P8VMs-migration-testcase.log](https://github.com/xcat2/xcat-core/files/2276353/rhels7.5-P8VMs-migration-testcase.log)

The output of failed cases in sles12.2
[sles12.2-X86VMs-migration-testcase.log](https://github.com/xcat2/xcat-

[2018-08-10 02:27] robin2008 commented on #5489
@neo954   Would you like to take a look?

[code]

[2018-08-10 02:51] hu-weihua commented on #5488
hi @thilo-maurer, could you please attach below information for me? They will be helpful.

* The discovered_nodes.stanza file
[code]

Please rerun ``xcatprobe discovery -n discovered_nodes -m mtms`` then attach new generated below 3 log files. thanks
*  /var/log/messages
*  /var/log/xcat/cluster.log
*  /var/log/xcat/computes.log

[2018-08-10 03:29] whowutwut commented on #5454
@bybai. Is there anything we can add to the code base to get some more logs saved to file instead of command output..  the problem is that we can’t easily recreate so we need to change something so that If it happens we have some proof of the situation.

[2018-08-10 04:53] hu-weihua opened #5490 "Run xcat command with " XCATBYPASS=1" on ubuntu will get error message"
xcat version:  Version 2.14.3 (git commit a87db132b7ae6cc2547d0caa0f51be56b6df080f, built Thu Aug  9 06:17:24 EDT 2018)

Run xcat command with " XCATBYPASS=1" on ubuntu will get error message

[code]

[2018-08-10 05:55] bybai commented on #5420
Hi @kcgthb,
1. In diskful post-scripts stage, `confignetwork` and `setroute` only generate the necessary configuration files, invoke operations may cause failure, so should not invoke operations.

2. I saw `setroute` failed in your case, could you try to use `setroute add`?  `setroute` default action is `replace`, if you use `add` operation in postscripts, although "Adding temporary route" failure

[2018-08-10 09:20] hu-weihua opened #5493 "makehost can not work correctly in travis test environment"
makehost can not work correctly in travis test environment.

[code]
We can see ``makehost`` can not append ``/etc/hosts`` correctly

Got some information about travis test node
[code]

[2018-08-10 09:27] hu-weihua commented on #5480
After debug, below lines did work as we expected,
[code]
In travis, the running result is
[code]
That result in the rest operation failed.

[2018-08-10 09:28] thilo-maurer commented on #5488
Here's the stanza file immediately after power-on and running xcatprobe: [discovered_nodes.stanza.txt](https://github.com/xcat2/xcat-core/files/2277357/discovered_nodes.stanza.txt)

- /var/log/messages - no content since my ubuntu 16.04 uses journalctl
- /var/log/xcat/cluster.log - not existing
- /var/log/xcat/computes.log - not existing
- /var/log/xcat/commands.log - existing, but not requested
-

[2018-08-10 09:30] hu-weihua commented on #5480
This issue will be fixed by PR https://github.com/xcat2/xcat-core/pull/5418

[2018-08-10 11:06] bybai commented on #5454
Hi @whowutwut,
I added some code to capture `rflash -d` some debug info into rflash log in PR #5495 .
Based on my new code, I tried `mid05tor12cn05` using firmware under `/root/baiyuan/fw/`, from log, after `power reset` and state is off, sent `power on` request and waited 13 seconds, to check `power state`, it was still `off`, waited for another 12 seconds, retry to set RPOWER_CHECK_ON_REQUEST, t

[2018-08-10 12:56] geissonator commented on #5454
Yeah...from the traces Matt had in the defect I saw this:

# Chassis power off request
Wed Aug  1 14:38:00 2018|1401|phosphor-chassis-state-manager|Change to Chassis Requested Power State  (OFF!)

# Host reboot request 13 sec later
Wed Aug  1 14:38:13 2018|1466|phosphor-host-state-manager|Host State transaction request (Reboot)

# Power off actually completed here (3 seconds after a host reboot wa

[2018-08-10 19:13] kcgthb opened #5497 "add rinstall option to skip rebuilding initrd when osdistroupdate/netdrivers is used"
`nodeset` has a `--noupdateinitrd` option to skip rebuilding the `initrd` image when an `osimage` has a `osupdatename` and `netdrivers` attributes, but `rinstall` doesn't.

As a result, each call to `rinstall` will rebuild the initrd, which is quite slow, on *each* Service Node:
1. that could probably be only done on the SN serving the node being deployed,
2. there should be a mechanism to disable

[2018-08-10 19:47] whowutwut opened #5498 "Nodes being provisioned in postbooting, xCAT allows postscripts to be run, causing issues?"
I'm not sure what problems this may have caused....

For nodes that are in postbooting, running `updatenode <> -P` will do some clean up on the machine:

[code]

[code]

[2018-08-10 20:35] djmccoyibm opened #5499 "[SMC] rflash option needed to update PNOR or BMC individually for P9 OpenPower servers."
rflash for a P9 openpower system today expects the target directory -d to contain the images that need to be updated across the nodelist or group provided.  However, the openpower specification for 9006 or 5104 series servers requests that both BMC and PNOR files along with the pUpdate to be used to perform the update be placed in one directory.  In xcat clusters, a group of 256 or more servers be

[2018-08-10 20:39] whowutwut commented on #5499
@bybai @xuweibj Is it possible to quickly create a PR to support this?

[2018-08-11 05:43] kleykenb commented on #4830
Think I struggled with this same issues on HPE. The solution was to set netboot=xnba and make sure there are not multiple DHCP leases for the client (you can force this with "makedhcp -n")

[2018-08-11 22:23] thilo-maurer opened #5500 "postscript mlnxofed_ib_install failes for ubuntu16.04 + OFED-4.4-1.0.00"
Installing Ubuntu 16.04 (diskful) and using xCAT-provided postscript `mlnxofed_ib_install.v2` to install Mellanox OFED fails. Using method as described at https://xcat-docs.readthedocs.io/en/stable/advanced/networks/infiniband/index.html.

Ubuntu installs successfully, also OFED installs successfully.
However the last lines executed by postscript `mlnxofed_ib_install`
[code]
fail with
[code]

This

[2018-08-13 02:26] bybai commented on #5499
Hi @djmccoyibm and @whowutwut ,
Just as @xuweibj mentioned:
1,  To activate and apply BMC:
[code]
2. To activate and apply PNOR:
[code]

[2018-08-13 02:41] zet809 commented on #5360
This fix will be included in 2.14.3 release. So close this issue.

[2018-08-13 02:41] #5360 closed

[2018-08-13 02:41] whowutwut commented on #5499
@xuweibj @bybai  Oh, I read the initial post again, I think Doyle did not specifically say which servers this is on.  This issue is on the OpenPower Boston Servers, (SMC) so it's using IPMI.  There's no `-a` option for the supermicro flashing.  @zet809  I think you are in the channel where this is being discussed, please invite @xuweibj and @bybai so they can follow the discussion on Friday.

[2018-08-13 03:09] immarvin commented on #5500
hi @neo954 ,would you please take a look at this?  thx

[2018-08-13 03:14] immarvin commented on #5498
hi @whowutwut ,  I agree there maybe potential conflict here, we should add some kind of lock mechanism to prevent the  simultaneous node configuration with either "post configuration" during node deployment or `updatenode` after provisioned node.

[2018-08-13 07:26] thilo-maurer commented on #5488
I left xCAT configuration standard.

`/var/log/messages` only contains a tiny subset of messages from the dhcp daemon.

How to enable the logging? - Is it http://xcat-docs.readthedocs.io/en/stable/troubleshooting/os_installation/log_to_mn_cn.html

From this document, It seems that `site.xcatdebugmode=0` should be enough. Since I don't get any logs, maybe the value 0 is not the default value?

[2018-08-13 09:36] hu-weihua opened #5503 "Install xcat in sles11.4 failed from 20180810.0615 build"
Install xcat in sles11.4 failed from 20180810.0615 build

[code]

[2018-08-13 09:44] thilo-maurer commented on #5488
Now set `site.xcatdebugmode=0`, since default is unset.

However, no new output in `/var/log/messages` or `/var/log/xcat/computes.log`, and therefore still no output from `xcatprobe discovery`.

Do I need to restart xcatd for changes to take effect?

[2018-08-13 12:18] djmccoyibm commented on #5499
That is correct.  This is focused on OpenPower Boston servers (MT's 9006 or 5104 for instance).

[2018-08-13 15:00] robin2008 opened #5505 "Starting xcatd on service node will cause the database high CPU utilization on a large size cluster"
Starting xcatd on service nodes is different with starting xcatd on MN.
To keep the consistent, here it will re-generate the service configuration for its role. For example, dhcp lease, pxe files, and console configuration.

And we found that with a 4K+ nodes cluster, and a service nodes with only 200+ compute nodes, the generation of console settings take about 1 minutes, and the CPU of database

[2018-08-13 15:03] robin2008 commented on #5505
Setting `XCATRELOAD=1` could bypass the configuration regeneration during xcatd starting.

[2018-08-13 15:05] robin2008 commented on #5505
With code level investigation, we found that even the SN manage 200+ nodes, the codes will still read all 4k+ nodes from DB, it is the root cause.

[2018-08-13 15:13] robin2008 commented on #5505
The reason to loads all nodes from DB might be considering some CNs is behind by `sn1`, but its console server is `sn2`.  I don't think this is useful case.

If user want to do that, he need to set both `sn1` and `sn2` as its service node.

So here I want to modify the codes, when restart xcatd on service nodes, it only generate the console setting on its own compute nodes.  This will greatly redu

[2018-08-13 18:46] dspatil7768 opened #5506 "[ xCAT 2.14.2 Centos 7.5 ] Unable to get IP for OPA interface in compute"
@zet809 Trying installing latest `xCAT 2.14.2` on Centos 7.5 with OpenHPC but facing an issue after booting node i.e compute node dont get OPA ip and `ib0` interface down.

Below is node definition:
[code]
Below is some data

[code]
`lscpi` output
[code]
[code]

Refering below document

[Install_guide-CentOS7-xCAT-Stateless-SLURM-1.3.5-x86_64.pdf](https://github.com/xcat2/xcat-core/files/2284305/I

[2018-08-14 07:11] robin2008 opened #5507 "`getopenbmccons` does not work efficiently"
With enable the postgresql statement log, we can see below logs for get openbmc console settings for a  node.

[code]

Just run `perl /opt/xcat/share/xcat/cons/openbmc fake1`

[code]

Problem:
We can see that `select * from nodelist` is run two times in a very short duration (It takes 10ms for 4k+ records)

It will not impact normal CLI much, but when restart conserver, there are thousands of the

[2018-08-14 07:12] hu-weihua commented on #5493
related test cases are
[code]

[2018-08-14 07:14] hu-weihua commented on #5481
Now the dns test cases with ``wait_fix`` label are
[code]

[2018-08-14 07:17] hu-weihua opened #5508 "test case ``testtest`` need to refine, it will result the test environment break down totally"
Test case ``testtest`` change all value of attribute of site table, it will result the test environment break down totally. Need to refine.

Add ``wait_fix`` label to this case now.

[2018-08-14 10:17] zet809 commented on #5506
Will you pls try add `--ibaports=2` for confignics?
Or run command like `updatenode <node> -P "confignics --ibaports=2"`

[2018-08-14 10:28] daniceexi commented on #5505
Good catch! We need some options for user to skip the useless but time consumption operation in a large cluster.

[2018-08-14 13:24] whowutwut opened #5509 "When physical hard drive is bad, anaconda fails in bare metal install but no good reason passed up."
Found that during installation of RHEL on Power9 server, we hit this problem:

[code]

After some investigation, it was determined that the drive target to be installed on had some problem and when we removed that drive, the install goes successfully on the 2nd drive in the server.

So while this is outside of xCAT, we do  have logic selection of disk.  I'm not sure if there's a way to detect some

[2018-08-14 18:20] whowutwut opened #5510 "when xcatdebugmode=1, non shell (/bin/sh) postscripts will not show output back on MN"
Was running this postscript and did not see any output:
[code]

Looking on the compute node, in `/var/log/xcat/xcat.log` I do see the output  of the postscript and executing it from `/xcatpost` is OK.

I then ran another postscript just to make sure something else ran correctly, and I noticed that `set -x` was turned on in the output.  So this lead me to realize that `xcatdebugmode=1`

Turning it

[2018-08-14 21:18] jralbert opened #5511 "xcatlib.sh doesn't encode hyphens, breaks confignetwork for devices with hyphenated names"
I ran into this while trying to have xcat configure a bridge called "br-mgmt" with the confignetwork postscript:

[code]

Ultimately it appears that confignetwork is relying on the `hashget()` and `hashencode()` functions in xcatlib.sh, which attempts to use the interface name in an `eval()`, resulting in the errors above. I note that `hashencode()` uses `sed` to replace dots, colons, and commas a

[2018-08-15 03:03] hu-weihua commented on #5419
Has been fixed by pr https://github.com/xcat2/xcat-core/pull/5418. close this issue.

[2018-08-15 03:03] #5419 closed

[2018-08-15 03:05] hu-weihua commented on #5480
Has been fixed by #5418. close this issue

[2018-08-15 03:05] #5480 closed

[2018-08-15 03:12] hu-weihua commented on #4986
Have been fixed. close this issue.

[2018-08-15 03:12] #4986 closed

[2018-08-15 06:26] zet809 commented on #5509
hi, @immarvin , it seems the issue #4876 is reproduced, pls help to take a look at. Thx!

[2018-08-15 08:42] robin2008 commented on #5507
- Using `noderange` in request (/opt/xcat/share/xcat/cons/openbmc) will cause read `nodelist` table. and currently,  it is only used to create the console session for one node.
Action: Just modify to use `node` to pass the node name to avoid access `nodelist` too much

- Now for openbmc,  `getopenbmccons` only query DB to get the IP/User/Pw,  no need to forward to service node.
Action:  just retur

[2018-08-15 08:58] immarvin commented on #5509
hi @whowutwut , the issue of this kind is what `xcatdebugmode` tried to solve.  For Redhat 7.x, we will set "inst.loglevel=debug inst.syslog=<mn ip>" to tell anaconda to forward all the debug level installation logs to the syslog on <mn ip>. So can you find any instructive messages in `/var/log/xcat/computes.log` on MN? if yes, maybe we can consider whether it make sense to take `xcatdebug=1/2` as

[2018-08-15 09:01] immarvin commented on #5509
The cobbler 's `Anamon` link: http://cobbler.github.io/manuals/2.8.0/Appendix/E_-_Anaconda_Monitoring.html

[2018-08-15 09:03] robin2008 commented on #5507
It will be covered by #5514

[2018-08-15 09:16] neo954 commented on #5489
The problem was fixed in pull request #5512.

[2018-08-15 09:16] #5489 closed

[2018-08-15 09:50] immarvin commented on #5510
seems the following complex pipe in run_ps() lost the output

[code]

looking into it...

[2018-08-15 10:10] immarvin commented on #5510
fixed in https://github.com/xcat2/xcat-core/pull/5515 with the help from @neo954

[2018-08-15 10:14] immarvin commented on #5510
the fix is merged, please take a try

[2018-08-15 13:35] marksmit-ibm opened #5516 "setupntp postscript warns "chronyd" not found for 2.14.3 but exits with success RC=0"
2.14.2-GA  (11 July 2018) my postscript is working fine:
/var/log/xcat/xcat.log snippet on cn02:
[code]
Since updating to Version 2.14.3 (git commit d1bf861f7bae8e322a8d5b33f0729d5c3fe0a2b7, built Mon Aug 13 06:15:45 EDT 2018), I now see:
-rwxr-xr-x 1 root root 7097 Aug 13 05:15 /install/postscripts/setupntp
-rwxr-xr-x 1 root root 6404 Aug 13 05:15 /install/postscripts/setupntp.traditional

When I

[2018-08-15 15:00] gurevichmark commented on #5497
Running `nodeset` generates `initrd` for each image. Gets stored in `/tftpboot/xcat/osimage/<image name>`

[2018-08-15 15:46] kcgthb commented on #5497
Hi @gurevichmark
I understand this, but my point was that `nodeset` takes a `--noupdateinitrd` option, whereas `rinstall` doesn't. As a result, each time a node is redeployed, the `rinstall` commands takes a very long time to complete, when `netdrivers` is used. For large clusters, this is an issue.

Plus, `initrd`s are per _image_ , not per node, so it makes sense to (re-)generate them with `geni

[2018-08-15 16:09] gurevichmark commented on #5497
@kcgthb Thanks for bringing up this issue. Will discuss it with the team in the next day or so. My comment above was just a reminder note.

[2018-08-15 19:19] khm opened #5517 "Comma-separated syncfiles lists not supported by packimage"
If you have more than one syncfile in your osimage definition, it will work with updatenode and the syncfiles postscript, but not with packimage.

[packimage.pm on line 432](https://github.com/xcat2/xcat-core/blob/master/xCAT-server/lib/xcat/plugins/packimage.pm#L432) directly executes xdcp with a system() call, explicitly passing a syncfile to the command.  Because the file splitting occurs in [s

[2018-08-16 00:34] immarvin commented on #5517
hi @cxhong , would you please take a look at this if convenient? thanks

[2018-08-16 03:09] hu-weihua opened #5518 "switchdiscover did not work on ubuntu18.4 and rhels6.10 from 20180813"
``switchdiscover`` did not work on ubuntu18.4 and rhels6.10 from 20180813.

The output change to

[code]
But this command can work correctly on other operating systems.

[2018-08-16 06:51] neo954 commented on #5516
Hello @marksmit-ibm,

You can try [this patch](https://github.com/xcat2/xcat-core/pull/5520/commits/9be1fb0af684cf69d5b1683f462e97656f76dce2) if you have time. I think it may fix your problem. But I do not have enough information to recreate your problem. Thus, it is great if you can try this patch and report your test result back to this issue.

Thanks for your time and effort.

[2018-08-16 07:29] hu-weihua commented on #5488
@thilo-maurer, sorry to replay later.
I think the log has nothing to do with ``site.xcatdebugmode``.

Could you paste me below information, thanks.

* The output of ``ps axu|grep rsyslog``?  normally there is a daemon ``rsyslogd`` running.

*  The content of below files:
[code]

[2018-08-16 08:58] robin2008 commented on #5505
Finally we find more places to enhance the performance greatly by deep analysis the posgresql query log.  The major two as below:

1,  `getopenbmccons` will fetch whole `nodelist` table twice (it is covered in https://github.com/xcat2/xcat-core/pull/5514)

Without the fix,  for rebooting all SNs for 4k nodes cluster in same time,  it fetch `nodelists` 8k times and each time will fetch all 4k+ reco

[2018-08-16 09:00] robin2008 commented on #5505
We will continue to check if there any other performance bottleneck when enable other services on SN. For example, dhcp.

[2018-08-16 13:13] cxhong commented on #5518
@hu-weihua  @zet809 ,  I can take look this.  do u have system has Ubuntu 18.4 and rhels6.10?

[2018-08-16 13:16] whowutwut commented on #5510
@immarvin @hu-weihua Should we require or at least consider that fixes also come with some autotest UT that would expose this? It seems like this would be very easy to create an autotest, essentially create  a script that does an stdout/stderr output print and run it with both `xcatdebugmode=1` and `xcatdebugmode=0`, count the error message and make sure we get what we expect...  maybe count is no