[2018-02-22 21:49] mattaezell commented on #4840
kdump on diskless pegas is working at our site

[2018-02-22 23:12] whowutwut commented on #4840
@mattaezell Thanks for the confirmation!

[2018-02-23 02:27] immarvin commented on #4830
hi @kcgthb , regarding the PXE-E18,  not sure whether the issue mentioned in
https://www.ibm.com/support/home/docdisplay?lndocid=migr-5080390

[2018-02-23 03:49] kcgthb commented on #4830
Yes, I've seen that issue, which prompted me to try disabling jumbo frames on that network, but without any success.

Plus those nodes are Dell servers, and it looks like others can PXE boot those same servers in UEFI mode without any problem. This is why I suspected one of the (many) options in the `dhcpd.conf` file, and was wondering if anyone had a similar experience.

[2018-02-23 09:42] bybai commented on #4840
Hi @mattaezell,
I tried diskless pegas 1.1, at last, it is working.

[2018-02-23 09:58] bybai commented on #4840
Hi @mattaezell , thanks your confirmation.
At last, kdump works in my pegas1.1 beta while I set "crashkernelsize=auto" in diskless osimage definition . I hit problem when I set other value for crashkernelsize, so what is your value for "crashkernelsize" in diskless osimage definition? @mattaezell

The diskless hang problem : the final vmcore file is 322M, when I set  "crashkernelsize=400M@32M", th

[2018-02-23 19:03] belldi commented on #4840
Hello @bybai I've been testing kdump on diskless Pegas 1.0 with kernel  4.11.0-44.4.1.el7a.bz162380.7.ppc64le.  Kernel includes patch for Bugzilla 162380.  The attribute crashkernelsize is set to 4 GB (crashkernelsize=4096M).  When I trigger kdump, I see Out of Memory (OOM) errors.  I'll modify the size to from '4096M' to 'auto' to see if this improves things.

[2018-02-23 19:40] mattaezell commented on #4840
We are using `crashkernel=1024M`

[2018-02-23 21:26] belldi commented on #4840
I executed kdump test on Feb 23, 2018, for diskless Pegas 1.0 compute node with kernel (4.11.0-44.4.1.el7a.bz162380.7.ppc64le).  I modified attributes 'crashkernelsize' and 'dump' for osimage.  With modifcations, kdump saved to service node <service_node>:/DUMPS/var/crash/.  Modification of attribute crashkernelsize from '4096M' to 'auto' (crashkernelsize=auto) appears to have triggered dump trans

[2018-02-23 23:41] belldi commented on #4840
I ran another kdump test on Feb 23, 2018, to modify attribute crashkernelsize for osimage.  With osimage attributes' "crashkernelsize=4096M" and "dump=nfs:///DUMPS" I was able to trigger kdump on diskless Pegas 1.0 compute node and kdump saved to /DUMPS/var/crash/ on service node.

1. Trigger kdump
# date && echo c > /proc/sysrq-trigger
Fri Feb 23 23:16:17 UTC 2018
[  451.728421] sysrq: SysRq : Tr

[2018-02-26 03:23] bybai commented on #4840
My summary:
Pegas1.1 beta Kernel 4.14.0-36.el7a.ppc64le on power9 witherspoon machine with 123G
1, when `crashkernelsize=auto` in diskless osimage, kdump works well.
2, when `crashkernelsize=4196M` in diskless osimage, kdump works well.
3, when `crashkernelsize=4196M@32M`, diskless hang as the following screen:
[code]

[2018-02-26 03:46] bybai commented on #4840
Hi @whowutwut and @immarvin,
Based on https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/7/html/kernel_crash_dump_guide/sect-kdump-config-cli, we can enhance our doc about `crashkernelsize` section,  The `crashkernel=` option can be defined in multiple ways.
`crashkernelsize=auto` or `crashkernelsize=<specific size>M` is more general.
 For some systems, it might be necessary to

[2018-02-26 07:35] neo954 commented on #4814
@moralesj, I cannot recreate your problem. Can you post some detail information, like error messages?

[2018-02-26 09:44] chenglch opened #4848 "[goconserver] Doc and usage enhancement for gocons"
- [x] test issue ubuntu build on amd64 platform https://github.com/xcat2/goconserver/issues/26
- [x] man page for make gocons -q
- [x] build new packages for gocons
- [x] clean up consoles that no longer have xCAT node definitions https://github.com/xcat2/goconserver/issues/29

[2018-02-26 19:30] belldi commented on #4840
I ran another kdump test on Feb 23, 2018, to modify attribute crashkernelsize for osimage.  With osimage attributes' "crashkernelsize=4096M" and "dump=nfs:///DUMPS" I was able to trigger kdump on diskless Pegas 1.0 compute node and kdump saved to /DUMPS/var/crash/ on service node.

1. Trigger kdump
# date && echo c > /proc/sysrq-trigger
Fri Feb 23 23:16:17 UTC 2018
[  451.728421] sysrq: SysRq : Tr

[2018-02-27 01:38] bybai commented on #4840
@belldi , that's fine, thanks confirmation.

[2018-02-27 05:47] #4840 closed

[2018-02-27 06:36] tingtli opened #4851 "[FVT][OpenBMC] sync up manpage and help information for rbeacon"
xCAT 2.13.11. The help information and manpage for rbeacon is not consistent. Please update.

Help information does not have blink option but manpage has. Should we put different hardware type in different option list?
[code]
Here is the manpage
[code]

[2018-02-27 06:49] bolinches opened #4852 "sysclone not working on ppc64le"
The image gets captured with no issues but it cannot be deployed. It seems ppc64le is not yet supported on sysclone. I think the image should not happen on ppc64le until the sysclone deployment is implemented on ppc64le

[2018-02-27 07:28] tingtli opened #4853 "[FVT][OpenBMC]should rbeacon have stat option for OpenBMC managed node?"
xCAT 2.13.11. rbeacon only has on/off options  on OpenBMC managed node. How could user know the status of the beacon?

[code]

[2018-02-27 07:52] tingtli opened #4854 "[FVT] [OpenBMC] rinv return code is not correct in python version"
xCAT 2.13.11 The return code is not same for the same command in perl and python version. Please take a look. I think the return code should not be 0 when there is warning message.

Here is the information in python version
[code]

Her is the information in perl version
[code]

[2018-02-27 13:44] whowutwut opened #4855 "[OpenBMC] Python error message for bmcstate needs to match Perl - blocker."
@zet809 We cannot GA 2.13.11 without this fixed.

`rpower <node> bmcstate` needs to match the output of Perl when running in Python.  This was modified at the end of 2017 when I found problems identifying the root cause of the BMC not being Ready in a large cluster.   xCAT knows the return code and error but yet we masked it with a generic "Not Ready" state and required to add debug to really see

[2018-02-27 14:37] gurevichmark commented on #4855
Perhaps related to #4854 ?

[2018-02-27 14:56] whowutwut commented on #4854
Shouldn't the return code be done in the framework so that we exit with or without error and it's not per command basis...

[2018-02-27 14:57] whowutwut commented on #4855
@gurevichmark Not sure how it's related... that one seems to be for return code inconsistency on error?

[2018-02-27 16:42] whowutwut opened #4856 "[OpenBMC] lots of redfined functions for openbmc - error shows up with bypass"
@zet809 @xuweibj Are you aware of this?

[code]

Seems to have to do with openbmc.pm and openbmc2.pm..... can we fix this?

[2018-02-27 19:33] whowutwut commented on #4854
Also this one:
[code]

[2018-02-28 01:50] robin2008 commented on #4855
@xuweibj
what's the difference in perl codes for below two situations:
[code]
if they are two different status on BMC, we should have the same in python.

[2018-02-28 01:59] xuweibj commented on #4855
We could use "self.callback.error" in python code, so that the exit code will be "1".

[2018-02-28 02:15] xuweibj commented on #4855
For pyhon, if the command is not bmcstate, the output is ``f6u17: Error: BMC did not respond. Validate BMC configuration and retry the command.``

But for **bmcstate**, is ``mid05tor12cn05: BMC NotReady``. And if debugmode is 1, is
[code]

For perl, the code "500" is returned by LWP, but in python there is no code. I think it's ok if the output is reasonable. Must we make them same?

[2018-02-28 02:20] whowutwut commented on #4855
@xuweibj , @gurevichmark is working on this one and should have a pull request tomorrow

We saw the exception and it is not the same.  It doesn’t have to be the same it just cannot hide the errror. But @gurevichmark is working on this one

[2018-02-28 02:22] immarvin commented on #4856
`xcatd -f` also complains these messages

[2018-02-28 02:46] daniceexi commented on #4856
@hu-weihua could we use CI syntax check to filter out these kinds of warning information?

[2018-02-28 02:52] tingtli commented on #4770
@whowutwut My expect behavior here is when user uses --delete option for the active image, we should prohibit user to do that and give a warning message to users.

[2018-02-28 03:00] #4670 closed

[2018-02-28 03:00] #4776 closed

[2018-02-28 03:07] xuweibj commented on #4856
We know this, this is because that we call "parse_args" of openbmc.pm for rspconfig args check in openbmc2.pm. Have talked with @zet809 , I think we should rewrite it in openbmc2.pm.

[2018-02-28 08:41] robin2008 opened #4860 "Failed to discover nodes as the discovery method is set to undef by wrong"
In one customer site, they nodes discovering slow down after many racks are done. From the logs, we can see the node has been handled in switch-discovery mode without error, but finally, it reports "Failed for node discovery."

In our test environment, we also find similar issue.
[code]
Actually the mid05tor12cn16 is discovered, but its method is `undef`. And from the logs we can see
[code]

[2018-02-28 08:46] robin2008 commented on #4860
After code debug and add logs, it is found that the `undef` is set by `zvmdiscovery.pm`
[code]

[2018-02-28 09:10] bybai opened #4861 "[xcat-inventory]create flat vm and ipmi cluster template"
* [x] create flat x86_64 vm cluster template
* [x] create flat openbmc vm cluster template
* [x] create flat openbmc ipmi cluster template
* [x] create flat x86_64 ipmi cluster template
* [x] modify build script to include templates into rpm

[2018-02-28 09:36] zet809 commented on #4856
Yes, @whowutwut , the message is introduced when try to support rspconfig in python, I reuse the openbmc::parse_args function. If not better method, I will rewrite parse_args in openbmc2.pm.
Thx, @whowutwut

[2018-02-28 10:28] robin2008 commented on #4860
@chuckbrazie
could you take a look at `zvmdiscovery.pm`?  I didn't understand the above logic.
It seems when `$ZVMdiscover` is set, it do nothing. And when not set, your plugins will run something, especially to update DB, why?

[2018-02-28 10:30] robin2008 commented on #4860
the issue will be addressed in PR #4863

[2018-02-28 17:58] belldi opened #4864 "kdump offset at 32M leads to kernel panic on ppc64le hw with RHEL 7.4 ppc64le (Pegas 1.0)"
**Problem description**
I'm referencing the instructions at link below for running kdump on diskless RHEL 7.4 partition (Pegas 1.0) with kernel 4.11.0-44.4.1.el7a.bz162380.7.ppc64le (includes patch for BZ162380) on ppc64le hardware.  I trigger kdump with 'echo c > /proc/sysrq-trigger'.  With 4096 MB of reserved memory, I have tested kdumps at different offset.  For offset 32MB, I have seen 2 kerne

[2018-02-28 18:23] belldi opened #4865 "kdump testing on diskless RHEL 7.4 ppc64le (Pegas 1.0) intermittently takes up to 5-6 mins to update nfs path in /etc/kdump.conf"
**Problem description**
I'm executing kdump tests on diskless RHEL 7.4 ppc64le (Pegas 1.0) running on Power9 compute node.  I've been referencing the link below to execute kdump tests on Pegas 1.0.  I've been modifying attribute 'dump' for diskless osimage to specify NFS paths.  The default path 'dump=nfs:///DUMPS' saves crash dumps to the primary service node.  However, I've modified 'dump=nfs://

[2018-02-28 21:38] gurevichmark commented on #4855
Improved Python output in #4866

[2018-02-28 21:53] gurevichmark commented on #4854
There are many places in Python code where **self.messager.info** is used.
Instead we should use **self.messager.error**, this way RC=1 will be set.

However, there is a small problem using **self.messager.error** - it prints "Error:" in front of the passed in text. So we get something like:
[code]
Instead of what we want:
[code]

Perhaps part of fixing this issue should be overwriting the default

[2018-03-01 01:45] immarvin commented on #4864
hi @belldi , very concise report, thanks.

we observed this and opened a ticket to LTC , this is their response:
[code]

we will update the documentation for Power 9 machines

[2018-03-01 01:55] immarvin commented on #4865
hi @belldi , the updating of `/etc/kdump.conf` is done with in postbootscript `enablekdump`,  which is one of the scripts which run after node boot up, it might be run a while later after node boot up, depends on the execution of other postbootscript s before it. Did you notice the status of the node before the `/etc/kdump.conf` is updated? is it `booted` or `booting`?

[2018-03-01 01:58] immarvin commented on #4864
hi @bybai , would you please update the documentation? thx

[2018-03-01 02:55] bybai commented on #4864
Hi @belldi, we have updated kdump doc to avoid @32m for power AC922 system,  you can find the latest xcat doc here: http://xcat-docs.readthedocs.io/en/latest/guides/admin-guides/manage_clusters/ppc64le/diskless/customize_image/enable_kdump.html. I think you use xcat stable doc link, that is not latest doc.

[2018-03-01 06:20] hu-weihua opened #4867 "Run regression against mlnx and cuda"
what to do:

* [x] run regression against mlnx against witherspoon
       The mlux file location:
[code]

* [ ] run regression against cuda against witherspoon
  The cuda files loacation
[code]

[2018-03-01 06:31] hu-weihua opened #4868 "[fvt]verify openbmc in python installation, upgrade and basic function against RCs"
what to do

For 2.13.11 core package use openbmc in python by default. So need to verify it against RC1s manually.
* [ ] installation
* [ ] upgrade
* [ ] basic function

The expected run time is 2018/3/6-2018/3/7 (CDL time)

[2018-03-01 06:37] hu-weihua opened #4869 "[fvt] verify goconserver all opening bugs"
what to do

* [ ] verify goconserver all opening bugs against RCs

The bug list are:
* [ ] https://github.com/xcat2/goconserver/issues/17: File output timestamps are output before their content
* [ ] https://github.com/xcat2/goconserver/issues/18: TCP output contains carriage returns at the end of message
* [ ] https://github.com/xcat2/goconserver/issues/19: LineLogger NewLineBuf timestamp format

[2018-03-01 08:44] zet809 commented on #4674
* [x] get ip, ipsrc, netmask, 'gateway','vlan','hostname', 'ntpserver' ==> #4827
* [x] get/set 'bootmode','autoreboot','powersupplyredundancy','powerrestorepolicy' ==> #4786
* [x] sshcfg, bmc hostname, ip=dhcp ==> #4827
* [x] set ntpserver, admin_passwd, gard ==> #4847
* [x] dump  ==> #4838
* [ ] set bmc ip/netmask/gateway/vlan

[2018-03-01 09:10] #4811 closed

[2018-03-01 09:16] bybai commented on #4861
created :  flat_openpower_ipmi_cluster_template.yaml, flat_power_kvm_cluster_template.yaml, flat_x86_64_ipmi_cluster_template.yaml, flat_x86_64_kvm_cluster_template.yaml in https://github.ibm.com/HPC-Next/xCAT-Incubator/pull/56

[2018-03-01 09:19] hu-weihua commented on #4703
have tested for the `` xcat-inventory-2.13.9-snap201802072212.noarch``. In this phase, that is ok.

[2018-03-01 09:19] #4703 closed

[2018-03-01 09:19] #4702 closed

[2018-03-01 09:28] zet809 commented on #4676
Let's close this task since 2.13.10 is done.

[2018-03-01 09:28] #4676 closed

[2018-03-01 09:44] #4748 closed

[2018-03-01 18:54] belldi commented on #4865
Hello @immarvin the compute node was at runtime.  However, I did not that postscripts were still running based on messages in the console.  Maybe, I need to review the number of postscripts that run after diskless Pegas 1.0 boots.

[2018-03-01 19:03] belldi commented on #4864
Hello @immarvin I looked at the updated documentation.  Based on kdump testing on the AC922, I would like to make suggestion. Could you modify instances in documentation that refer to 512M@32M to different value such as 512M@64M or 512M@128M because the kdump.service successfully starts for offset 64M and 128M on AC922.

[2018-03-01 19:54] whowutwut commented on #4770
@tingtli  I'm not sure if this is what you mean by creating this issue, but you need to show the output of the problem in the description!  😄 @gurevichmark did we not try this?  Or maybe something broke.....

I thought there was an error message printed and didn't understand why you were replying with the response you had, so i went to try it out to paste in the error message...

[code]
What ☝️?!?

[2018-03-01 20:10] whowutwut commented on #4770
Discussion with firmware team about this, I thought this was working at some point where it was not returning a success 200 OK ... but I'm not 100% sure...

[2018-03-01 21:30] gurevichmark commented on #4770
Block user from issuing a `--delete` action to `active` Host FW if host is not powered off. Deleting `active` FW on powered off host should be allowed.

[2018-03-02 02:04] bybai commented on #4864
Hi @belldi , Thanks your detailed information about kdump testing. For AC922, we suggest to use "crashkernelsize=auto" or "crashkernelsize=<size>M", those both work well, the latest doc is on the way.

[2018-03-02 09:17] immarvin opened #4876 "rhels7.4 provision hang in anaconda with `ValueError: name already in use`"
In the default parition scheme, a volume group named "system" will be created, if there is a vg named`system`  already exists, this might conflict in some case, hence you see the error message " ValueError: name already in use".
[code]

[code]

[2018-03-05 03:40] #4848 closed

[2018-03-05 04:23] neo954 opened #4880 "Tailing spaces in the output of `makegocons -q`"
This bug is against `xCAT-client-2.13.11-snap201803020615.noarch` running on a ppc64le Red Hat 7.4 Linux environment.

**The recreation steps**

See screenshot below.

![screen shot 2018-03-05 at 12 18 56](https://user-images.githubusercontent.com/12424088/36957435-6f7ca252-206f-11e8-88e2-000c73b09f89.png)

**What actually happened**

There are many tailing spaces in the output of `makegocons -q`

[2018-03-05 05:00] neo954 commented on #4691
Issue #4880 opened.

[2018-03-05 05:30] neo954 commented on #4785
Once I explained the consideration of this design in issue #1618.

And for Ubuntu, the name of repo file is `xcat-core.list`.

See the table below for a quick summary.

| Packaging | Filename | Name of repo | Name of subdirectory |
| ---- | ---- | ---- | ---- |
| RPM | `xCAT-core.repo` | `xcat-2-core` | `xcat-core` or `core-snap` |
| DEB | `xcat-core.list` | N/A | `xcat-core` or `core-snap` |

In

[2018-03-05 05:44] neo954 commented on #4880
Hello @chenglch,

It seems, currently we are using `%-32s %-32s %-64s` as the `PRINT_FORMAT`. I think simply change it to `%-32s %-32s %s` will do the work.

BTW, do we really need 64-byte space for the `STATE` column?

[2018-03-05 05:48] neo954 commented on #4880
Maybe, change from ...
[code]
to
[code]

[2018-03-05 13:58] zet809 commented on #4876
Hi, @immarvin ,have is issue fixed? If yes, pls set labels. Thx!

[2018-03-05 14:00] zet809 commented on #4853
Hi, @xuweibj , seems we can use rinv, right?

[2018-03-05 14:01] zet809 commented on #4852
hi, @hu-weihua , any comments?

[2018-03-05 14:02] zet809 commented on #4833
Hi, @whowutwut , I think your steps have cover this issue. Shall we close this issue?

[2018-03-05 16:26] whowutwut commented on #4684
@chenglch @zet809 How is this intended to work? I talked to @zet809 and @robin2008 last night on the phone, but it seems like both conserver and goconserver is installed by default, but it's really up to the user to decide which one to activate, either by

* makeconservercf
* makegocons

[code]
If I run makeconservercf, it will start conserver.

But if we want to push for users to switch to `gocon

[2018-03-05 19:08] whowutwut commented on #4833
The plan moving forward with this is the following:

1. Install xCAT 2.13.11 will pull in xCAT-openbmc-py
2. Admin will have to resolve the dependency packages via `pip` and `yum`
OR
2. Choose to turn off Python support `chdef -t site clustersite openbmcperl=ALL`

It will be documented in the [2.13.11 Release notes](https://github.com/xcat2/xcat-core/wiki/XCAT_2.13.11_Release_Notes)

[2018-03-05 19:47] gurevichmark commented on #4794
Do we still need this Issue ? Perhaps this is duplicate of #4855 and fixed by #4866 ?

[2018-03-06 00:58] xuweibj commented on #4853
We can use ``rvitals lads`` to get status.

[2018-03-06 01:43] zet809 commented on #4741
Hi, @whowutwut , have this issue been verified? Shall we close this issue?

[2018-03-06 01:45] #4820 closed

[2018-03-06 01:45] #4818 closed

[2018-03-06 01:46] #4817 closed

[2018-03-06 01:46] #4787 closed

[2018-03-06 01:47] immarvin commented on #4762
hi @hu-weihua , consider comment from @zet809 , should this ticket be closed?

[2018-03-06 01:47] #4747 closed

[2018-03-06 01:48] #4746 closed

[2018-03-06 01:48] #4745 closed

[2018-03-06 01:48] #4739 closed

[2018-03-06 01:49] #4641 closed

[2018-03-06 01:49] #4638 closed

[2018-03-06 01:49] #4631 closed

[2018-03-06 01:50] #4628 closed

[2018-03-06 01:50] #4627 closed

[2018-03-06 01:51] immarvin commented on #4582
@whowutwut @robin2008 , can this ticket be closed now?

[2018-03-06 01:54] immarvin commented on #4259
close this  due to no update over 2 weeks, please reopen it if any uppdate

[2018-03-06 01:54] #4259 closed

[2018-03-06 01:55] zet809 commented on #4403
What is the status for this issue? SHall we close it?

[2018-03-06 01:55] #4143 closed

[2018-03-06 01:56] zet809 commented on #4343
Hi, @whowutwut , is this still a problem?

[2018-03-06 01:57] immarvin commented on #4107
close due to no update over 2 weeks, please reopen it if any update

[2018-03-06 01:57] #4107 closed

[2018-03-06 02:04] zet809 commented on #4106
Thx，let's close this issue.

[2018-03-06 02:04] #4106 closed

[2018-03-06 02:27] whowutwut commented on #4343
I haven't seen this issue, so maybe let's close it with unable to re-create

[2018-03-06 02:28] #4343 closed

[2018-03-06 02:29] whowutwut commented on #4403
Yes, thanks @zet809, the output has changed quite a bit and I think it's OK now with the recent pull requests.

[2018-03-06 02:29] #4403 closed

[2018-03-06 02:30] whowutwut commented on #4582
Ok, let's close for now and see if we new issues arise.

[2018-03-06 02:48] robin2008 commented on #4582
Let's close it first.
- Now `install monitor` will not exit in most of the case, and we can have the logs there to know it is quit.
- xCAT has both the console log (consoleondemand=on in site table) method and syslog method to fetch the logs from compute nodes (/var/log/xcat/computes.log)

[2018-03-06 03:14] chenglch commented on #4684
@whowutwut ，Maybe we just setup goconserver by default.  User could choose which one to use when they run `makeconserver`, `makegocons` or `makeconfluentcfg` command.

Yes, we have to update the documentation to describe how to enable these console plugins.

[2018-03-06 03:32] zet809 commented on #4684
Yes, we shall update RTD to use `makegocons` by default for RH7 or ubuntu16.04...

[2018-03-06 05:59] hu-weihua commented on #4762
ok. thanks @zet809 @immarvin

[2018-03-06 05:59] #4762 closed

[2018-03-06 06:40] hu-weihua opened #4889 "[FVT]goconserver lack dependencies in sles12.2"
xcat version : 20180305.0715 build
xcat dep :xcat-dep-201802112038.tar.bz2

goconserver lack dependencies in sles12.2

[code]

[2018-03-06 07:03] zet809 commented on #4674
Move to 2.14 since the rspconfig set ip/netmask/gateway/vlan will be merged then.

[2018-03-06 07:06] robin2008 opened #4890 "Failed to re-do node discovery after changing node IP address"
Customer report below issue:
1, To follow xcat doc define nodes and do discovery, it works well.
2, Find the IP address is configured a wrong value, then fix the IP address and try a new node discovery
    - chdef xxx ip=<new>
    - makehosts xxx
    - makedns -n xxx
3, After node discovered in genesis,  finds that the dhcp lease cannot be set to new IP address

[2018-03-06 07:19] robin2008 commented on #4890
After deep investigation, it is caused by a cache in NetworkUtils.pm (`%::hostiphash`)
The cache is designed to improve the process-level name  resolution, and it works fine in makedhcp/makedns, etc.

But unfortunately,  for discovery,  it's plugins is run in the same process, which means the cache will not stale, and keep the old value even if the value is changed.

Reproduce steps:
1, define a n

[2018-03-06 07:37] robin2008 commented on #4890
It is decided that clear the cache when handling new incoming `findme`.
The workaround is addressed by PR https://github.com/xcat2/xcat-core/pull/4891

[2018-03-06 07:39] #4794 closed

[2018-03-06 08:13] #4890 closed

[2018-03-06 09:01] Phhere opened #4892 "confignetwork for bond as postscript"
Hello,

i am trying to setup an ipoib bond in postscripts with confignetwork but it fails to load kernel module bonding

lsxcatd -v
Version 2.13.10 (git commit 4fe63ecd9f836f3cf447118d461e1c10c69b1652, built Fri Jan 26 00:09:41 EST 2018)
Node definition:

Output of confignetwork:

When i run the script as a postbootscript everything is fine

[2018-03-06 09:39] robin2008 commented on #4890
"install monitor" process may have the similar issue, and it is more complex, plan to fix it in 2.14

[2018-03-06 09:48] bybai commented on #4892
Hi @Phhere , postscripts will be ran before node reboot. From your log,  kernal bonding module is not loaded during postscripts. Could you check if "lsmod|grep bonding" and "modprobe --first-time bonding" failed in postscripts?
You can create a test script for example /install/postscripts/test.sh, then add this script in postscripts to confirm if kernel bonding module is loaded or not during posts

[2018-03-06 10:14] neo954 commented on #4889
New `xcat-dep` tarball pushed to `xcat.org`. Thanks @immarvin
https://xcat.org/files/xcat/xcat-dep/2.x_Linux/xcat-dep-201803060139.tar.bz2

[2018-03-06 16:49] dotRollen opened #4894 "copycds does not work in containers"
When running copycds in xcat docker container it does not mount because there are no /dev/loop available by default from Docker engine.

I'd like to request that copycds handle this type of error with a new method that is friendly for container environments.

I've seen that packages like [xorriso](https://www.gnu.org/software/xorriso/) can unpack an ISO and mount to a folder rather then using a lo

[2018-03-06 18:54] whowutwut commented on #4771
@gurevichmark Can you look at this. With 1742Fx-r2 driver, setting NTP servers will cause `systemd-networkd` to restart on the BMC and will reload the NTP server setting.

However, the power needs to be off on the host for this to apply.

So can you come up with a plan to address this?

[2018-03-06 21:23] #4615 closed

[2018-03-07 02:46] immarvin commented on #4894
hi @dotRollen ,  I remember we have processed this loop device issue in entrypoint , see https://github.com/immarvin/xcat-docker/blob/297f9936399212ae90b2e1caddd0e8642524c8e1/startservice.sh#L49

 The steps on doc http://xcat-docs.readthedocs.io/en/stable/advanced/docker/dockerized_xcat/setup_docker_host.html was verified on Docker V1.10.  which version of docker engine you are using?  docker does

[2018-03-07 03:01] zet809 commented on #4683
Let's close this task as the items are all finished.

[2018-03-07 03:01] #4683 closed

[2018-03-07 03:11] zet809 commented on #4792
hi, @bybai , seems '.' in node name will cause DNS report wrong short or long name. So, pls take a look at this issue. Thx!

[2018-03-07 03:15] bybai commented on #4792
Will look into this later. Thanks @zet809

[2018-03-07 03:16] zet809 commented on #4728
hi, @xuweibj , will you pls help enhance the output of hw command? Thx!

[2018-03-07 07:01] zet809 commented on #3975
Seems need to cleanup the subroutine do_firmware_update() in ipmi.pm, there are more than 500 lines in this subroutine, may need to split the step out for either OpenPOWER server or supermicro server.
Hi, @gurevichmark , let's discuss the steps to clean it up here.

[2018-03-07 07:03] neo954 commented on #4761
I will close this issue.

Please do not hesitate to reopen this issue if there is any question.

[2018-03-07 07:03] #4761 closed

[2018-03-07 07:06] neo954 commented on #4814
I will close this issue.

Please do not hesitate to reopen this issue if there is any question.

[2018-03-07 07:06] #4814 closed

[2018-03-07 07:20] hu-weihua opened #4899 "[fvt] XCAT_OPENBMC_DEVEL is being used in 2 different logical branch, it triggered ﻿﻿conflict"
xCAT version:
[code]
 XCAT_OPENBMC_DEVEL is being used to control openbmc code go to python and to enable/disable ``rflash -d`` at same time in RC2. it triggered ﻿﻿conflict. Out target of 2.13.11 release is to let ``flash``, ``reventlog`` and ``rspconfig`` go to perl and rest commands go to python. In this case,  ``XCAT_OPENBMC_DEVEL=yes`` should not be set.  But if customer does not set ``XCAT_OP

[2018-03-07 08:28] bybai commented on #4864
Hi @belldi, latest enable kdump doc is here http://xcat-docs.readthedocs.io/en/latest/guides/admin-guides/manage_clusters/ppc64le/diskless/customize_image/enable_kdump.html, thanks.

[2018-03-07 08:28] #4864 closed

[2018-03-07 19:09] dotRollen commented on #4894
hey @immarvin  , I'm currently running in docker engine 1.13.1 and also working with docker engine 17.12. I cannot go to docker 1.10 there are a lot of issues in that version of docker and is very much outdated. I'd prefer to get a working method with docker engine 1.13.1 or 17.12.

I'm also using @mister2d  https://github.com/mister2d/xcat-docker.git dockerfile, who has also been very helpful and

[2018-03-07 19:24] dotRollen commented on #4894
Here are results your dockerfile @immarvin its definitely an issue in docker 17.12.

I saw that there systemd issues in 1.10 and 1.11 moved to 1.13 and that was fixed. Worked even better in 17.12 for systemd with less hacking of my system. Now I have this issue where I cannot create a image unless I boot the container as privileged:true

[code]

docker compose file
[code]

results
[code]

[2018-03-08 01:20] #4899 closed

[2018-03-08 01:42] #4691 closed

[2018-03-08 01:43] #4698 closed

[2018-03-08 01:44] #4700 closed

[2018-03-08 01:51] #4637 closed

[2018-03-08 02:04] hu-weihua commented on #4626
have been moved to other repo. close this one.

[2018-03-08 08:12] #4688 closed

[2018-03-08 09:10] neo954 commented on #4880
Will close this one.

[2018-03-08 09:10] #4880 closed

[2018-03-08 09:23] zet809 commented on #3913
Let's close this issue and reopen if needed.

[2018-03-08 09:23] #3913 closed

[2018-03-08 09:24] zet809 commented on #4652
Hi, @cxhong and @whowutwut , do you think we can close this issue?

[2018-03-08 15:56] whowutwut opened #4906 "Goconserver.pm creates invalid format in comments in server.conf file for goconserver"
@chenglch  the `makegocons` script will create a server.conf in /etc/goconserver, the formatting is incorrect.

Here's an example of the resulting file:

[code]

The problem here is that `tcp:` is lined up with `file:` but if someone deletes the `#`, the formatting is invalid and TCP logging will not happen.

The attributes under TCP are in such a way that deleting the `#` comment, results in it b

[2018-03-08 19:14] #4652 closed

[2018-03-08 19:45] whowutwut commented on #3202
@robin2008  I think we need to fix this.  The EPEL is Extra Packages Enterprise Linux and is intended to be used with Enterprise versions of RHEL, when I have a node and I've configured:

* local OS repo
* EPEL repo
* RHEL Extra Packages repo

Then... downloaded xcat-core. and xcat-deps, it fails to install.

To resolve:
[code]

I don't think this is good.

[2018-03-08 20:25] gurevichmark commented on #4771
Email sent to Lei Yu to check what happens is host is on whole ntp is set and host is then rebooted.

[2018-03-08 21:31] whowutwut opened #4908 "When xCAT-openbmc-py is not installed on Service Node, log does not help describe the problem"
In this environment, the Service node does not contain the xCAT-openbmc-py package
[code]

And the error message points to `/var/log/xcat/cluster.log`. But in-fact there is no log on the service node....
[code]

If we are referring to the MN, the log doesn't help us...

[code]

Is it possible to default to Perl in this case... Or since Python is on the MN, it will send it in Python or attempt to s

[2018-03-09 01:28] #4861 closed

[2018-03-09 01:29] #4799 closed

[2018-03-09 02:02] chenglch commented on #4906
@whowutwut , I haven't found a good way to reuse the example configuration file shiped with goconserver as it's hard to use `sed` to handle the yaml format like this.

I don't know if xCAT has some utils like jinja (http://jinja.pocoo.org/docs/) , so maybe only spaces would be added in 2.13.11

[2018-03-09 02:03] robin2008 commented on #3202
@whowutwut  just as I pointed, you are using EPEL via a wrong way.

For using EPEL with RHEL, you need extra repo and optional repo,  it is clearly documented in EPEL (https://fedoraproject.org/wiki/EPEL). search for "NOTE for RHN users"
you can refer to below ticket https://bugzilla.redhat.com/show_bug.cgi?id=1262772

So if you want to use EPEL, you should make sure:

- local OS repo
- EPEL repo

[2018-03-09 02:24] zet809 commented on #4853
Hi, @tingtli , pls close this issue if `rvitals leds` make sense for you. Thx!

[2018-03-09 02:26] immarvin commented on #4830
hi @kcgthb ,any update on this?

[2018-03-09 02:34] immarvin commented on #4756
hi @jjohnson42 , any thought on this?

[2018-03-09 02:34] zet809 commented on #4780
Hi, @xuweibj , has this issue been fixed when modifying return code? if yes, pls set `pending` and ask @tingtli to verify and close this issue. Thx!

[2018-03-09 02:34] immarvin commented on #4755
hi @jjohnson42 ,would you please take a look at this?

[2018-03-09 02:35] immarvin commented on #4741
hi @gurevichmark , any update on this?

[2018-03-09 02:35] zet809 commented on #4770
hi, @gurevichmark , have this  issue been fixed? If yes, pls set label and have owner verify it. Thx!

[2018-03-09 02:36] zet809 commented on #4766
Hi, @xuweibj , any idea?

[2018-03-09 02:39] zet809 commented on #4751
HI, @whowutwut , maybe we shall add this in bmcsetup script?

[2018-03-09 02:41] zet809 commented on #4730
hi, @ryanbowen , any update for this issue?

[2018-03-09 02:48] xuweibj commented on #4780
hi @zet809 , this is the issue for rflash in python, will be included in rflash task.

[2018-03-09 03:18] zet809 commented on #4211
We are not plan to support 17.10, the next supported version will be 18.04.

[2018-03-09 03:19] zet809 commented on #4192
Let's close this issue since we have implement rpower in python.

[2018-03-09 03:19] #4192 closed

[2018-03-09 03:26] zet809 commented on #4117
Hi, @chenglch , will gocons have the similar issue?

[2018-03-09 03:30] whowutwut commented on #4192
👍🏼

[2018-03-09 03:42] zet809 commented on #4009
Hi, @neo954 , does 'makegocons' have the same issue?

[2018-03-09 03:51] zet809 commented on #3772
Hi, @tingtli , have these case been updated? If yes, pls close this issue. Thx!

[2018-03-09 03:52] zet809 commented on #3755
Let's close this issue since we have confignetworks.

[2018-03-09 03:52] #3755 closed

[2018-03-09 03:54] zet809 commented on #3740
Hi, @tingtli , pls help to verify whether this issue still occurs in latest xCAT version, thx!

[2018-03-09 03:57] zet809 commented on #3691
Let's close this issue.

[2018-03-09 03:57] #3691 closed

[2018-03-09 04:01] daniceexi commented on #4853
If the getting LED status is functioning, do we want to make it available in rbeacon command which would make it more sense?

[2018-03-09 04:04] whowutwut commented on #4853
Yea we might want to have stat reply with the identify light status. @gurevichmark can you take a look?

[2018-03-09 04:05] whowutwut commented on #4853
Rvitals led reports more than the identify light

[2018-03-09 04:05] zet809 commented on #3671
rflash works well now, do we still want to do such thing?

[2018-03-09 04:05] robin2008 commented on #3679
Why not using `reposync` to maintain the local yum repository?

[2018-03-09 04:07] zet809 commented on #3657
Let's close this task and reopen it if plan to do.

[2018-03-09 04:07] #3657 closed

[2018-03-09 04:40] chenglch commented on #4124
@zet809 I think so.

Too many errors may occur like: network is unreachable, BMC is bricked, configuration error. Our error message could not cover all of this.  I think the tcp connection error listed above from `golang Err` is reasonable.

[2018-03-09 04:40] #4124 closed

[2018-03-09 05:12] zet809 commented on #3588
So, @xuweibj , shall we enhance xcatprobe?

[2018-03-09 05:15] zet809 commented on #3585
Hi, @whowutwut , do you think we shall convert this issue to be an Q&A section in RTD for user to know how hardware discovery works?

[2018-03-09 05:17] zet809 commented on #3575
hi, @hu-weihua , is this still a problem?

[2018-03-09 05:35] zet809 commented on #3551
Hi, @samveen , the latest xCAT-genesis-base-x86_64 is built on centos7.4. Maybe a work around is, chroot to the genesis filesystem directory, and install the needed RPM. After that, run `mknb x86_64` to regenerate the genesis initrd.

[2018-03-09 05:46] robin2008 commented on #3202
I've check the codes,  by default SOAP::Lite is introduced by dynamically. After vbox supporting,  it becomes an default requirements.

virtualbox supporting is an advance feature, and not maintained now.
Plan to follow previous decision to disable it,  user should install it manually to enable vbox supporting.  The change is addressed in https://github.com/xcat2/xcat-core/pull/4910

After this, n

[2018-03-09 06:24] robin2008 commented on #4908
@whowutwut
In an hierarchy environment, if you want print where the error message is coming from, you need to use `-V` commands.

And on sn02,  it seems the syslog on MN with tag xcat does not forwarding to MN, so the logs cannot be shown in `/var/log/xcat/cluster.log`

You can get them on sn02 `/var/log/message`
[code]
Note: with the default syslog configuraiton, those log information should be i

[2018-03-09 06:45] hu-weihua commented on #3575
@robin2008 @zet809 , this issue has been fixed by #4911. could you help to verify and close this issue? thanks

[2018-03-09 07:06] robin2008 commented on #4908
whatever, we can give an error message about it more clearly.
it is covered in https://github.com/xcat2/xcat-core/pull/4912

[2018-03-09 07:09] robin2008 commented on #4908
For where the message is from, maybe we can have another issue to trace it.
Maybe for each error message, the `hostname` is mandatory.

[2018-03-09 07:18] #4684 closed

[2018-03-09 07:34] #4908 closed

[2018-03-09 07:45] robin2008 commented on #4868
Now you can get the draft documents in https://github.com/xcat2/xcat-core/pull/4907

[2018-03-09 07:52] robin2008 opened #4913 "xcatd 'install monitor' child process might hit the cache issue"
As we used a process-level cache for IP and name,  it is assumed only be used in plugin (whose lifecycle is short)
But 'install monitor' is a long running process, and it will run plugin in its process space, so it will have the issue when node IP  address is changed.

To **restart xcatd** could workaround it.

[2018-03-09 07:52] #3575 closed

[2018-03-09 07:55] #2703 closed

[2018-03-09 07:58] #4860 closed

[2018-03-09 09:50] zet809 commented on #3590
OK, will clear the error msg in bmcsetup.

[2018-03-09 09:52] neo954 commented on #4867
Verified with the following stuff.
[code]

[2018-03-09 12:26] ChrisPJames commented on #3366
For reference - encountered exactly the same issue today. using xCAT 2.13.8. cloned a c6.2 client and tried to restore back onto the same machine.

[2018-03-09 14:17] gurevichmark commented on #4741
After talking with @whowutwut we decided to make the message display on the console, instead of "hiding" it in the log file.

[2018-03-09 14:19] gurevichmark commented on #4770
Didn't have time to fix it in 2.13.11. Moving to 2.14.

[2018-03-09 14:43] gurevichmark commented on #4853
I think we should add support for `rbeacon stat`. It would be good to display just one line per node with beacon information. `rvitals leds` displays 3 lines:
[code]

[2018-03-09 14:48] gurevichmark commented on #4853
Our documentation says that `rbeacon stat` and `rbeacon blink` works on IPMI controlled nodes, but it seems we do not have support in our code:
[code]

Even for fsp and blades (blade.pm) seems like code is missing for `stat`:

[code]

[2018-03-09 15:54] whowutwut commented on #4868
@hu-weihua Please log the results here, instead of just checking the boxes and closing.   Would like to have data associated here for verification records.

[2018-03-09 16:09] whowutwut commented on #4853
@gurevichmark Yes, inconsistency there.  I agree it would be good to show `rbeacon <> state` as a one liner that indicates if the identify light is on or off.

[2018-03-09 16:57] gurevichmark opened #4917 "[OpenBMC] Enhance output of BMC NotReady"
From Andrew Geissler slack discussion in #coral_lbs_oakridge
[code]

We can help the user to detect these problems by running `systemctl list-jobs | cat | grep 'jobs listed'` if BMC is in "NotReady" state. Then the output from xCAT command `rpower bmcstate` could be:
`node: BMC NotReady (xx jobs <waiting or pending or listed>)`

[2018-03-09 17:19] whowutwut opened #4918 "Create all lower case repo files within xCAT product"
`go-xcat` started created lowercase repo config files for xCAT:
  * xcat-core.repo
  * xcat-dep.repo

But when you download the tar.bz2 files , they create with camelcase...
   * xCAT-core.repo
   * xCAT-dep.repo

I run `go-xcat` to set up the xcat-core.repo and xcat-dep.repo to point at the devel version, but I don't install it:
[code]

So I get these files:
[code]

Then taking a build and extrac

[2018-03-09 17:41] belldi commented on #4865
Based on my observations monitoring log on xCAT server, it takes time for xCAT server to run postscripts.  We should be able to close this issue for now.  If I find additional info, I'll reopen this issue.

[2018-03-10 10:58] bybai commented on #4865
Thanks @belldi , you can reopen this issue if needed.

[2018-03-10 10:58] #4865 closed

[2018-03-12 01:59] robin2008 commented on #4918
@neo954 I think this situation was already considered when we develop `go-xcat`,  what's the cause to keep the inconsistent?

Maybe we should always use `xat-core.dep` from new build, and if find old different repo, just give warning and bakup/disable the old one.

Also I'd like to have a way to setup local repo on management node, and it could be easily sycn with the on-line repo.  So it will giv

[2018-03-12 02:05] whowutwut commented on #4751
@zet809 I think we can think about this some.. @cxhong is looking at the `ondiscover` issue mentioned above and created a pull request for that.  It might be better if we did not do things under the covers in bmcsetup...

[2018-03-12 02:09] whowutwut commented on #4766
@tingtli when you are running the above tests, how do we know if you are running the Perl code and the Python code? It's clear in the first comment but it's not clear on the second comment.

Also with this test, can you also show `rflash <> -l` before you activate, it would help to know the current state of the BMC before activation is attempted.  Was there already a pending active firmware that r

[2018-03-12 02:10] #4833 closed

[2018-03-12 02:12] whowutwut commented on #4851
@xuweibj @gurevichmark please coordinate to see which tasks can be split between you, I think this one seemed like it could have been fixed very quickly but maybe was assigned to @xuweibj and sat there for 2 weeks.

[2018-03-12 02:23] xuweibj commented on #4851
Have fixed in pull request https://github.com/xcat2/xcat-core/pull/4859.

[2018-03-12 03:22] immarvin commented on #4749
user cases:  +This section presents some typical usecases [xcat-inventory usecase](http://xcat-docs.readthedocs.io/en/latest/advanced/advanced/xcat-inventory/index.html)

[2018-03-12 03:29] #4201 closed

[2018-03-12 06:34] immarvin opened #4920 "[feature request] hostname, ssh password and public ssh key per node on provision"
a project on cloud infrastructure management is trying to integrate xCAT as its bare metal server management component, they expect xCAT can support specify the following features:
1.  specify hostname other than node object name
2.  specify password for each node
3.  specify public key for each node

[2018-03-12 07:19] robin2008 commented on #4920
- Just per discussion, we can leverage `zone` for multi-tenancy (password, ssh key pair)

- For hostname,  it should be another story, need a method to customize the hostname instead of using the default nodename.

[2018-03-12 07:27] robin2008 opened #4922 "[Openbmc] python framework concurrent issue"
when issuing two openbmc command in the same time (on different terminal), we can find that one could finish, but the other terminal will hang there.
[code]
After you issue the command again in the first complete terminal, the hang one will exit without result, and the new one will hang again.

[code]

[2018-03-12 07:33] robin2008 commented on #4922
This issue is caused by that python framework (agent.py) is using the same lock file an socket file for communication. So that when multiple agent.py,  it will cause mess.

When you hit the issue, we can find the PID by `ps -ef`, for example
[code]

And then you can just kill the remaining agent.py process for a workaround.

[2018-03-12 07:34] robin2008 commented on #4922
This issue is addressed by #4921

[2018-03-12 08:19] immarvin commented on #4385
fixed in https://github.com/xcat2/xcat-core/pull/4924

[2018-03-12 08:27] samveen commented on #3551
@zet809 @whowutwut I think this ticket is obsolete can should be closed (and move it back to the 2.13.8 milestone).

[2018-03-12 08:39] samveen commented on #4787
@hu-weihua @immarvin @whowutwut The problem with milestone checking is that for a newly created pull request, there is no Milestone or Label set on it. That means that _every new_ PR **will fail** the travis check.
Can you please review this change again?

[2018-03-12 09:41] immarvin commented on #4385
hi @samveen , the fix is in ,you can verify whether this fixed your issue.
ps, you need to grant the user permission for  `genimage` and `lsdef` to run `genimage`

[2018-03-12 09:50] bybai commented on #3701
Hi @whowutwut, I tried to reproduce this issue on rhels7.4 ppc64le diskful today.
1, I found  "mlnxofed_ib_install always return 0", I will fix it later.
2, But there is log during "Running postscript: mlnxofed_ib_install" in /var/log/xcat.log, it is different with your descriptions, as following:
[code]
3, I cannot reproduce "Do you want to continue?[y/N]:  ".

[2018-03-12 10:00] zet809 commented on #3551
Ok, thx!

[2018-03-12 10:00] #3551 closed

[2018-03-12 15:15] cxhong commented on #4324
The issue is caused by  the firewall actively blocking ping probes
ping will works again after stop the firewall
[code]

[2018-03-12 20:26] gurevichmark opened #4926 "Do not use PNOR in docs or messages. Use "host" instead"
PNOR refers to the technology used for flash memory used to store firmware on the host.
PNOR is not the same as "host".

[2018-03-12 20:29] gurevichmark commented on #4771
Answer from Lei Yu: "Changes are deferred and are applied when the host is powered off "
Suggestion to display a message when user changes NTP servers: `rspconfig <noderange> ntpservers=xxx`

[2018-03-13 01:59] #4749 closed

[2018-03-13 02:06] bybai commented on #2141
Hi @CJCShadowsan , we do not recommend install ./sles12/x86_64/perl-Net-DNS-0.80-1.x86_64.rpm on centos system , I will close this issue, if you have comments, contact me, thanks.

[2018-03-13 02:06] #2141 closed

[2018-03-13 02:14] bybai commented on #4926
Hi @gurevichmark , "PNOR" appeared in openbmc_common.rst, you can check this doc too. Thanks.

[2018-03-13 03:25] immarvin commented on #4285
fixed in https://github.com/xcat2/xcat-core/issues/4285

[2018-03-13 06:17] hu-weihua opened #4929 "[fvt] xcatd failed to start in rhels7.5-snap2 diskless service node"
xCAT build : ``Version 2.13.11 (git commit d0ed517ee20e271e05ba6ffd06f4e3deb0c240c0, built Fri Mar  9 07:15:44 EST 2018)``

MN OS:   ``Red Hat Enterprise Linux Server release 7.4 (Maipo)``
SN OS:    ``rhels7.5-snap2-ppc64le``

For xCAT 20180309 build, after installing diskless SN, the xcatd in SN failed to start.

This issue also happened on ``rhels7.4-alt-rc1`` xCAT 20180308 build, no matter with

[2018-03-13 06:38] robin2008 commented on #4929
Found that it caused by the syslog, and it seems the /dev/syslog issue has also reported many times.
[code]
Refer to the steps, we can workaround it
[code]

Not sure why xcatd need to exit when it cannot connect syslog, we can see below codes in xcatd.
[code]

[2018-03-13 07:02] chenglch commented on #4009
I think `makegocons` also has this kind of issue.

[2018-03-13 07:06] chenglch commented on #4117
@zet809 , goconserver could work despite failure in logging, but the log rotation has not been configured with `xCAT` , a script may be added at xcat-core side.

[2018-03-13 07:15] bybai opened #4930 "chdef does not do the same validation with mkdef when node is invalid"
`mkdef` does some validation checks, but chdef does not. To create node, `mkdef` return error while `chdef` can create successfully using the same stanza file.
For example, create a new node with following
[code]
`mkdef` return error message as following:
[code]
`chdef` can create node:
[code]

[2018-03-13 08:46] immarvin commented on #3688
fixed in https://github.com/xcat2/xcat-core/pull/4932

[2018-03-13 08:51] hu-weihua commented on #4929
After using the workaround @robin2008 mentioned above, the python version hardware control commands can work in hierarchical cluster.

[2018-03-13 08:58] hu-weihua opened #4933 "[fvt] There is httpd exception in diskless service node which is running rhels7.5-snap2"
There is httpd exception in diskless service node which is running rhels7.5-snap2.

[code]

[2018-03-13 09:28] hu-weihua opened #4934 "[fvt] there is no code to handle rflash attribute check in SN somewhere"
It seems there is no code to handle ``rflash`` attribute check in SN, the invalid rflash command will hung in hierarchy cluster.  perl version.

[code]

[2018-03-13 09:39] #4922 closed

[2018-03-13 11:22] whowutwut commented on #4934
@hu-weihua What is the rflash attribute check, can you please provide the xCAT build versions on both MN and SN?

Why would this code be different than running on the MN?

[2018-03-13 12:06] whowutwut opened #4936 "Python framework stops responding and provides no help back to the user for debug"
It seems that when the xCAT Python agent or something gets into some unknown state... there's no indication to the user. We have just seen this happen on the system test cluster

[code]

What is strange here is that the `rpower` command is using the python framework based on the debug messages and it works, but the other commands have no indication of what happened.

In debugging, restarting of xC

[2018-03-13 12:07] whowutwut commented on #4936
Since we do want to get 2.13.11 out the door, I think we should mark this one as a known issue and tag the Python framework as "beta" for now...  user feedback would be helpful.

[2018-03-13 13:28] ryanbowen commented on #4730
Hi @zet809 , it seemed to be an issue with the Broadcom NIC firmware that was applied by the manufacturer. Seems to be resolved with the latest update.

[2018-03-13 14:51] gurevichmark opened #4937 "[OpenBMC] Verbose option not in Python for rinv or rvitals"
Verbose `-V` option is supported for `rinv` and `rvitals` commands in Perl, but is not supported in Python:

[code]

`rvitals` man page and usage also needs to be modified to show support for `-V`

[2018-03-13 15:06] gurevichmark opened #4938 "[OpenBMC] Usage filtering does not work in Python"
The filtered out usage for OpenBMC commands introduced by #4644 and extended by #4828 works in Perl but not in Python:

[code]

[2018-03-13 15:18] dotRollen commented on #4323
@immarvin  when running copycds it does not create a osimage here is the following output requested.

[code]

Also nodeset <node> winshell is not working either was this removed in 2.13? In tftpboot i have the winboot folder generated from the sourceforge instructions [here](https://sourceforge.net/p/xcat/wiki/XCAT_Windows/)

[2018-03-13 15:33] whowutwut opened #4940 "[goconserver] In hierarchy, makegocons does not have good error messages to help user debug issue"
On the MN, the process for switching from conserver to goconserver is the following:

[code]

However, in a service node environment, when running makegocons, it doesn't tell us anything if it can create the console on the service node.  So if the user forgets to stop conserver....

The output looks like this:

[code]

This "Error" doesn't indicate that it's coming from the service node or anythin

[2018-03-13 15:41] whowutwut commented on #4766
@tingtli  I talked to @gurevichmark more and I see the issue you are bringing up, sometimes the python code works and goes on to activate and sometimes the python code does not.  @xuweibj or @gurevichmark I think we need to improve the debug messages here and if we don't get to the expected next state, we need a message to come out and indicate so.

[2018-03-13 16:42] whowutwut commented on #4787
@hu-weihua I would agree here,  it seems like all the PR that we are creating will fail the TravisCI and we have to close/re-open..  so I'm not sure this is a good place to put that test.

[2018-03-13 17:04] kcgthb commented on #4830
Unfortunately no, I had to move back to BIOS mode, and haven't found out much more about the EFI DHCP timeouts.

[2018-03-13 19:16] cxhong commented on #4933
https://sourceforge.net/p/xcat/bugs/4642/

the file /etc/httpd/conf.d/xcat.conf  has configuration file from xcat.conf.apach22,  which contains
[code]

I checked xCATsn.spec, looks fine .........

[2018-03-13 19:23] gurevichmark commented on #4934
@hu-weihua Is it possible for you to login to the service node and run the `rflash mid08tor03cn10 /tmp/bogus123 -d` command manually there ?

[2018-03-13 19:27] gurevichmark commented on #4936
If we can recreate this, one thing to try is to issue one of these failing commands with an invalid parameter, maybe `rbeacon junk` and see if we even enter our code to check the arguments.

[2018-03-13 21:12] whowutwut opened #4942 "When we cannot connect to the BMC, the output that is returned in Python framework is not as informative as Perl"
When comparing rpower between python and perl, it seems the error messages are not informative,

[code]

There's two `Error: Error ` in the output line...

and in Perl
[code]

@gurevichmark @xuweibj  I thought we improved this and was planning to put the IP address of the node as part of this.  But was the above message what we had ended up with at the end?

[2018-03-14 00:53] xuweibj commented on #4942
hi @whowutwut , I have fixed this issue in pull request #4884 . But I forget that we will not merge 4884 before release. Do you think we need to fix it in 2.13.11? If so, I could create a new pull request for it.

[2018-03-14 01:00] xuweibj commented on #4766
@whowutwut , this issue is for python version, and against the old python framework. Now I am working on moving rflash to new framework. I think we could have a test after I completed it to check whether still has this issue.

[2018-03-14 02:15] #4730 closed

[2018-03-14 02:47] whowutwut commented on #4942
No it’s ok to go into the next release. Thanks!!!

[2018-03-14 03:22] immarvin commented on #4933
yes, inside the rootimg dir , `rpm -qi httpd 2>&1 | grep 'Version' | awk '$NF { print $3 }' | cut -d. -f1,2
2.4` is run to determine the httpd version when install xCATsn. However, due to issue https://bugzilla.redhat.com/show_bug.cgi?id=1477308, in the chrooted rootimg, any rpm commands got the error like:
[code]

hence the wrong httpd server configuration file xcat.conf is installed

[2018-03-14 06:17] #4792 closed

[2018-03-14 06:18] hu-weihua commented on #4787
@samveen @whowutwut , How about change ``error`` to ``warning``? i.e. If a new PR without Labels or Mileshone, CI report will include a warning message, but do not stop the following test. If customers found such warning, they can add Labels or Milestone later without triggering test again. what do you think?

[2018-03-14 14:29] dotRollen commented on #4894
Hello @immarvin the command is based on CentOS and RHEL container documentation of enabling systemd in a base image.

I believe this is because inherently containers will not start any `systemd` services like `journalctl` or `httpd` and `/usr/bin/init` kick starts those services. Otherwise it would have to be done manually in the running container.

I will run tests on the `xcat/xcat-ubuntu-x86_64

[2018-03-14 18:15] gurevichmark commented on #4770
Error message that will be displayed:
[code]

[2018-03-14 18:57] whowutwut opened #4946 "Boston p9, rspconfig ip=dhcp does not seem to work on Boston servers ..."
Reported from IST team, using `rspconfig <node> ip=dhcp` on Boston p9 servers does not reset the IP...

Before:
[code]

After, it changes the Source but the address is the same...
[code]

[2018-03-14 19:02] markprez commented on #4946
Full details, after BMC setup run and set a status IP, lan print 1 shows:
[root@csm01 ~]# ipmitool -H 192.168.1.110 -U ADMIN -P ADMIN lan print 1
Set in Progress         : Set Complete
Auth Type Support       : NONE MD2 MD5 PASSWORD
Auth Type Enable        : Callback : MD2 MD5 PASSWORD
                        : User     : MD2 MD5 PASSWORD
                        : Operator : MD2 MD5 PASSWORD

[2018-03-14 20:14] whowutwut opened #4947 "In large systems, "xcatmax*" default configuration values are not sufficient"
In large systems > 4000 nodes, it seems that the default configuration values for the following is not sufficient and one potential side effect is that the xcat parent process is pegged at 100% CPU

* xcatmaxconnections
* xcatmaxbatchconnections

Seems by changing to `xcatmaxconnections=128` and `xcatmaxbatchconnections=100`, it improves things.

**NOTE:** . If you are experiencing this, to change

[2018-03-14 20:43] gurevichmark opened #4948 "Improve error message usability for nodeset command"
For a command usage mistake:
[code]

Improve usability by displaying:
[code]

[2018-03-15 00:01] robin2008 commented on #4947
Is this make working?  the options is to set the max accepted client (TCP from user request, or UDP from node requesting).  So it is to keep the CPU higher away on the OS (not to fork too many processes) when set it to a small value.

If too many requesting,  it should be using the flowcontrol,  Maybe we can  have a flood testing on  it.

[2018-03-15 06:05] robin2008 commented on #4933
I think we need fix genimage to cover the workaround
`chroot /install/netboot/rhels7.5-snap2/ppc64le/compute/rootimg mknod /dev/urandom c 1 9`

After I workaround it,  rpm -qa work in a chroot env.

[2018-03-15 06:12] robin2008 commented on #4933
This should be an general genimage issue with RHEL 7.5,  not sure if there are other functions impacted.

[2018-03-15 07:54] immarvin commented on #4894
@dotRollen , currently, xCAT is a monolithic application, the interaction between xCAT and these services  are not RestAPI or gRPC based, it is not an easy job to split it into mocroservices in the current code framework.

We are considering restructure xCAT to microservices, but not quite high priority

[2018-03-15 07:57] robin2008 commented on #4929
setup an new environment try to recreate this issue, and not found. The osimage is created by following http://xcat-docs.readthedocs.io/en/stable/advanced/hierarchy/provision/diskless_sn.html
[code]

[2018-03-15 09:28] robin2008 commented on #4929
Plan to export the image from briggs01 and import it to boston02 and see what's going on.

[2018-03-15 10:39] robin2008 commented on #4929
Using the valid stateless SN image on sn02/boston02,  the rsyslog issue is still there.
The issue might be related to environment.  Need to try more P9 server.

[2018-03-15 15:00] robin2008 commented on #4948
@gurevichmark I'm not sure it is a good choice. As it will confuse user when he just give a typo on the command,  for example, If I issue `nodeset boston ofline`, what I want is `nodeset boston offline`

Now xCAT does not have the capability to figure out the intention, then I prefer to just give the usage there when failed to parse args.

[2018-03-15 16:32] kcgthb opened #4951 "goconserver doesn't work in hierarchical mode"
`sh-hn01` is the MN, `sh-hn02` is a service node.

[code]
[code]

`conserver` works fine in the exact same environment.

[2018-03-15 17:01] dotRollen opened #4952 "Copycds does not generate a windows osimage definition"
When running `copycds` it does not create a `osimage` here is the following output after `copycds`.

[code]

Doing a `lsdef -t osimage` no windows definition is available. Also when using `nodeset winshell` it does not recognize the argument `winshell` even though winpe is in the proper tftpboot directory.

[2018-03-15 18:11] gurevichmark commented on #4770
Perl version implemented in #4953

[2018-03-15 22:29] swood opened #4954 "Dhcpd options"
Hello.

I would to use xcat but I didn't find information about dhcpd options like option-242, option-150 and so on. Could you please tell me, how can I set it via the xCAT?

[2018-03-16 01:09] hu-weihua opened #4955 "Failed to build xCAT rpm pacakge due to syntax error in xCAT/InstUtils.pm"
On  Mar 15, we failed to build xCAT rpm pacakge due to syntax error in xCAT/InstUtils.pm.

[code]

[2018-03-16 01:25] hu-weihua commented on #4955
This file can be supported by perl v5.16.3  (rhels 7.4), but can not be supported by perl v5.10.1  (rhels 6.9). Unfortunately, build server is using v5.10.1 (rhels 6.9)

[2018-03-16 01:45] hu-weihua commented on #4955
Our CI is using ubuntu with higher perl version. it seems CI can not cover this issue.

[2018-03-16 02:10] zet809 commented on #4946
So, it seems ip=dhcp just set ip source to be DHCP, not have it restart network configuration.

[2018-03-16 03:25] chenglch commented on #4951
@kcgthb , I could not address where the error is in my environment.
Is there any log about `sh-101-61` from `goconserver` on `sh-hn02.SUNet`?, by default it is in `/var/log/goconserver/server.log`.

[2018-03-16 04:47] robin2008 commented on #4929
Found tricky things there by @cxhong ,  when enabling xcatdebugmode,  the service node cannot work as expected.

[2018-03-16 04:59] robin2008 commented on #4947
It seems there are lots of `getopenbmccons` requesting on MN (10+ seconds), and it consumes up the `xcatmaxconnections` as if a node does not have valid user/pass IP, /opt/xcat/share/xcat/cons/openbmc will try to send the request again and again.

[2018-03-16 08:30] hu-weihua opened #4958 "xcat has SSL connection problem when support rhels7.5-alternate + p8vm hierarchy cluster"
xcat version: Version 2.14 (git commit c0314a36b6d8e4bb736aa8ae0b81005d274394b9, built Wed Mar 14 06:15:43 EDT 2018)
OS: rhels7.5-alternate  RC (RHEL-ALT-7.5-20180308.0-Server-ppc64le-dvd1.iso)
arch : ppc64le p8VM

After setting up p8vm hierarchy cluster, it seems xcatd in MN(c910f03c09k03) and SN(c910f03c09k04)  both work.

[code]

But remote control a CN in this cluster, will hit below problem:

[2018-03-16 10:40] chenglch commented on #4940
I prepare to add the hostname in the output message but I found a XCATSHOWSVR environment variable which could be used to tell where the message is come from.
[code]

[2018-03-16 15:03] markprez opened #4959 "chroot, rpm -qa error: Failed to initialize NSS library"
Version 2.13.11 (git commit feaa1532ecc1d50d4a530bbbe1c6c808465b85ea, built Fri Mar  9 06:15:49 EST 2018)

I started seeing the following message when running rpm commands in a diskless rootimg built with Pegas 1.1 around snapshot4 and the latest xcat.
[code]
  Now on csm01 (c685f1n02) I have a new xcat setup and a Pegas1.1 4.14.0-46.el7a.ppc64le kernel, genimage completes successfully but rpm in

[2018-03-16 15:06] immarvin commented on #4959
seems there is due to no /dev/urandom in the chrooted env, we are looking for the way to fix

[2018-03-16 18:06] whowutwut commented on #4940
@chenglch Yes, but no one knows this environment, it's not documented....

Perhaps a better way is to have a verbose option.  Because I see multiple messages coming out and not sure from where...

[code]

What is worse is that if you run `-q` option first, we don't even know goconserver is not running:
[code]

This failure is not as informative as when running without the `-q` option....

I think

[2018-03-16 19:02] whowutwut opened #4961 "Switching to goconvers doesn't modify conserver startup configuration. goconserver doesn't start on reboot."
When we switch over to `goconserver` the `sysVinit` still contains the configuration for conserver asking it to auto start when the server boot up...
[code]

So in the case that we switch to goconserver, it doesn't modify any start up scripts

[code]

Now let's reboot this server....

After reboot, you can tell right away the conserver has taken over again, because of the log files.

[code]

[2018-03-16 19:12] whowutwut commented on #4961
Some options that I can think about.. @chenglch  I think we need to consider some changes here to make this work on reboot..

1. As part of the `makegocons` we should call `chkconfig conserver off` ...
but then when user runs `makeconservercf` we have to put it back

1. ask user to remove conserver rpm
   * How does this affect xCAT update? We don't want conserver to be installed again

3. `gocons

[2018-03-18 12:43] hu-weihua opened #4962 "[fvt] updatenode did not work on rhels 6.9 and sles11.4 from xct 20180316 build"
``updatenode`` did not work on rhels 6.9 and sles11.4 from xct 20180316 build

Take rhels 6.9 for example, it threw out unsupported error message.
[code]

[2018-03-19 02:42] immarvin commented on #4962
fixed in https://github.com/xcat2/xcat-core/pull/4965

[2018-03-19 02:47] bybai commented on #4954
Hi @swood, We have xCAT command `makedhcp` to configure DHCP  in xCAT, `makedhcp -n` can create a new DHCP configuration file, but it cannot customize options. So after `makedhcp -n`, you can manually add your options in  DHCP configuration file like /etc/dhcp/dhcpd.conf.

[2018-03-19 03:20] #4962 closed

[2018-03-19 06:50] immarvin commented on #4959
fixed in https://github.com/xcat2/xcat-core/pull/4967

[2018-03-19 06:51] immarvin commented on #4933
fixed in https://github.com/xcat2/xcat-core/pull/4967

[2018-03-19 10:22] samveen commented on #4787
@hu-weihua Yeah, that should be fine, reducing false positives for CI.

[2018-03-19 10:26] samveen commented on #4117
@chenglch @zet809 This is a request for documentation for troubleshooting VM consoles. It is not a request for any fixes.

[2018-03-19 13:09] immarvin commented on #4959
hi @markprez , the fix has been pushed into master branch, you can get the latest development build and try

[2018-03-19 13:24] bybai commented on #4934
@whowutwut and @gurevichmark, let me reproduce it is first.

[2018-03-19 13:29] bybai commented on #4892
Hi @Phhere, are there any updates in your issue?

[2018-03-19 13:31] bybai commented on #3190
Close this feature task since xCAT other function can realize this function.

[2018-03-19 13:31] #3190 closed

[2018-03-19 14:55] gurevichmark commented on #4117
If documentation needs to be added, this might be a good location:
http://xcat-docs.readthedocs.io/en/stable/guides/admin-guides/manage_clusters/ppc64le/virtual_machines/FAQ.html

[2018-03-19 19:37] cxhong commented on #4324
@robin2008  and @zet809 ,  pping calls nmap command to check ping status
[code]
is there reason why we use unprivileged?

on our test system, I turned firewall on for mid08torcn01, but host still reachable(ping and ssh).  pping will not work.  If remove --unprivileged from nmap command, pping works fine
[code]

[2018-03-20 02:35] immarvin commented on #4952
hi @dotRollen , windows support is no longer announced in xCAT now, you can take a look at `/opt/xcat/lib/perl/xCAT_plugin/windows.pm` and make it work by yourself, we can provide technical support during this.

thx

[2018-03-20 02:36] zet809 commented on #4856
Refined in PR #4944 and have been included in latest 2.14 snapshot build, so @whowutwut , shall I close this issue?
[code]

[2018-03-20 02:53] zet809 commented on #4674
Let's close this EPIC since all the subitems are finished. Thx @xuweibj and @whowutwut

[2018-03-20 02:53] #4674 closed

[2018-03-20 03:03] zet809 commented on #4728
Hi, @whowutwut and @xuweibj , the message below is a little confusing for user. 'rspconfig bootmode' is supported or unsupported?
[code]
So, it maybe much helpful to add more information, for example, `boston02: Unsupported command "rspconfig bootmode" for ipmi management method`?

[2018-03-20 03:27] samveen commented on #4961
Maybe a `Conflicts: conserver` and it's debian equivalent in the go-conserver RPM/Deb configuration?

[2018-03-20 03:30] samveen commented on #4954
@bybai would it be possible to add a `Customizing DHCPD configuration` section in the documentation for `makedhcp` about manual customization, and any possible `gotchas`?

[2018-03-20 04:40] hu-weihua commented on #4958
It is fine in the next few days test. close this issue.

[2018-03-20 04:40] #4958 closed

[2018-03-20 05:46] robin2008 commented on #4324
I think it is introduced by https://github.com/xcat2/xcat-core/pull/4102

@jjohnson42 It seems `--unprivileged` will cause `pping` not working too. Do you have some idea about it?

[2018-03-20 05:57] oxcart400 opened #4970 "systemimager sysclone cannot install grub during provisioning RHEL 7.4"
Node stuck at blinking cursor during reboot after provisioning with sysclone image.
Near the end of provisioning after image is copied get the message

The boot root device is /dev/mapper/system-root
grub2-install error: unknown filesystem

sed: can't read /boot/grub/menu.lst: No such file or directory
sysclone finishes and system reboots.
Then hangs at blinky cursor

Any ideas?
It would be great

[2018-03-20 07:36] chenglch commented on #4940
@whowutwut , `makegocons` or `makegocons <noderange>` includes the code logic trying to start `goconserver` service as it registers some node into `goconserver` service. But `makegocons -q` is just a command to read information from `goconserver`, as no write operation, I don't think we need to check if `conserver` is running and show the error like that.

[2018-03-20 07:47] gualican opened #4972 "passwd, shadow, and group files are not merged up until mtime changes"
I'm using xCAT v. 2.13.11 and /etc/passwd, /etc/shadow, and /etc/group are not synced (merged) neither after a fresh install nor after running `updatenode <node> -F` .

I've found that running `touch /etc/{passwd,shadow,group}` **before** running updatenode works.

Is there a check on mtime (that doesn't consider file content as well as size)?

[2018-03-20 07:53] robin2008 opened #4973 "[DEV]Add systemd journal for xcatd to xcatsnap"
Now, most of the main OS has systemd,  and When rsyslog is down,  we could not get some valuable  information from log files.

As xcatd is started by systemd, It is better to retrieve the information from Query the systemd journal

[2018-03-20 08:52] chenglch commented on #4961
@whowutwut , I think I could work on item 1 and item 3 at first.  For item2, conserver is still needed for a while, there are two reasons:
1. `goconserver` could not support all of the systems.
2. `goconserver` do not support hardware console server but `conserver` do.

[2018-03-20 09:02] robin2008 commented on #4929
workaround the MsgUtil.pm first to make sure xcatd will not crash when /dev/log is not ready.
it is addressed in https://github.com/xcat2/xcat-core/pull/4974

Later we will investigate why /dev/log is not working when debug mode is enabled.

[2018-03-20 13:28] whowutwut commented on #3701
@bybai Perhaps that message came out with version `MLNX_OFED_LINUX-4.1-4.0.0.1-rhel7.4-ppc64le.iso` but if you are looking at a later version, perhaps this behavior has changed?  We can keep going for now and see if it pops up again.

[2018-03-20 15:39] whowutwut opened #4977 "If RSA fingerprint is changed for BMC, cannot run bmcdiscover, incorrect warning message"
I am re-doing discovery testing and hit this:
[code]

So then checked the passwd table and everything looked OK, and also was able to ssh to this BMC:
But got this issue:
[code]
After removing this file, bmcdiscover worked...

[code]

So that warning message is not right.

[2018-03-20 20:04] whowutwut commented on #4855
@gurevichmark @xuweibj This one is still not fixed.....

[code]

Today i flashed the BMC and did a bmcreboot.... during this time,  I was checking `bmcstate` and hit this...

[code]

You can see in the commands log...

[code]

So this got me worried and I thought we hit #4936 , but I think we are still hiding the error messages from the user.

I ran the following while rebooting the bmc:
[code]

A

[2018-03-21 00:33] tingtli opened #4978 "[FVT][OpenBMC]:sync up manpage and help information for rspconfig for OpenBMC"
Please sync up manpage and help information for command rspconfig for OpenBMC section.
Help information lacks some of the options.

Here is the help information
[code]
Here is the manpage
[code]

[2018-03-21 02:28] samveen commented on #4977
@whowutwut Victor, I have an orthogonal question.
- For the BMC, what are the conditions for the ssh server keys to be changed? I expect that the BMC sshd should not change it's server keys, but it seems to have happened in this case.
- Can it be explained as a change to the IP assigned for the BMC?

These question are not related to the problem as such, but just an FYI for me.

[2018-03-21 06:13] zet809 commented on #4977
Hi, @whowutwut , is it possible the same issue with https://github.ibm.com/vhu/c910env/issues/238?
bmcdiscover never ssh to BMC to retrieve information.
So, will you pls use 'arp -a | grep 172.12.253.104' to get the MAC address and compare with the real BMC MAC address if you reproduce it?

[2018-03-21 07:56] zet809 commented on #4946
I have tried 'rspconfig ip=dhcp' against an x86_64 BMC, the ip is changed after change to DHCP.
And from the IPMI specification, there is no command can be used to restart Network server on BMC, so it seems to be the BMC firmware that responsible for restart network service to get BMC IP through DHCP.
So, maybe we need to open an issue for Boston BMC team. @whowutwut and @markprez
[code]
After set

[2018-03-21 07:56] bybai commented on #4818
Hi @immarvin,  a little comments about network and route object attributes under validation when import:

network:
\* pool.staticrange: valid ip range   ========> this attribute is only used by PCM

route:
\* net: valid ip address  ============> value can be "default" or "valid ip address"
\*gateway: valid ip address =========> gateway validation should be added

[2018-03-21 08:02] tingtli opened #4982 "[FVT][OpenBMC][perl_version]:warning message for rspconfig <noderange> autoreboot does not give out valid values."
Here when we give an invalid value for autoreboot, the warning message does not gives out the valid values:0,1. See following details.

[code]

[2018-03-21 08:07] tingtli opened #4983 "[FVT][OpenBMC][python_version] rspconfig <noderange> autoreboot could not set autoreboot to 0"
xCAT 2.14 on pegas 1.1
[code]

[2018-03-21 08:13] tingtli opened #4984 "[FVT][OpenBMC][python_version]:rspconfig does not support timesyncmethod option"
xCAT 2.14 on pegas 1.1
[code]

[2018-03-21 08:21] tingtli opened #4985 "［FVT][OpenBMC][python_version]:rspconfig <noderange> powersupplyredundancy gives out request format error"
xCAT 2.14 pegas 1.1

Here is the output for python version
[code]

This command works fine on perl version
[code]

[2018-03-21 08:37] zet809 commented on #4946
And test on our own environment, the IP is changed 2 seconds later. So, @markprez , may I log on your environment to take a look at?
[code]

[2018-03-21 08:44] hu-weihua opened #4986 "Always need enter 'retry' to continue process during sles12.3_x86 installation"
When installing sles 12.3 x86 version, installation process always stop at a  interactive interface, need enter ``retry`` to continue process. Finally, the compute node stay on ``booting``, provision failed. It seems xCAT can not support sles 12.3 x86 version well now.

sles version : SLE-12-SP3-Server-DVD-x86_64-GM-DVD1.iso

[2018-03-21 09:26] #4867 closed

[2018-03-21 09:26] #4690 closed

[2018-03-21 09:26] #4869 closed

[2018-03-21 09:27] #4868 closed

[2018-03-21 09:28] #4689 closed

[2018-03-21 09:28] #4686 closed

[2018-03-21 09:33] #3701 closed

[2018-03-21 09:34] #4487 closed

[2018-03-21 09:50] hu-weihua commented on #4687
Refer to link:
https://github.com/xcat2/xcat-core/issues?q=is%3Aopen+is%3Aissue+milestone%3A2.13.11

[2018-03-22 01:07] #4934 closed

[2018-03-22 01:31] gurevichmark commented on #3374
Emailed Eric Chen <ericchen@supermicro.com.tw>:
1. tftp server only works when node is in "brick protection" mode.
2. There is no goot way to tell if node is in "brick protection" mode.
3. System verifies the copied file by checking the checksum
4. Once the file tftped to the BMC, the BMC is rebooted automatically.

After discussion with Victor, decided:
1. Update man page to indicate that `--reco

[2018-03-22 02:42] zet809 commented on #4856
Close this issue based on the verification result above.

[2018-03-22 02:42] #4856 closed

[2018-03-22 02:44] zet809 commented on #2962
Let's move this issue to 2.14.

[2018-03-22 02:50] whowutwut commented on #4526
This one should be done now, Thanks @gurevichmark

[2018-03-22 02:50] #4526 closed

[2018-03-22 02:50] whowutwut commented on #4742
Closing out

[2018-03-22 02:50] #4742 closed

[2018-03-22 02:53] whowutwut commented on #4819
@immarvin In the pull request https://github.com/xcat2/xcat-core/pull/3262 if i remember correctly, I go into the .discinfo and extract the release.  This way the -n can be any text that the user wants to specify and we don't need to parse it.. we rely on what we can determine from the .dicsinfo.

But that pull request did not pass all the regression testing on the sandbox, so I haven't taken a lo

[2018-03-22 02:53] #4819 closed

[2018-03-22 02:57] whowutwut commented on #3374
@gurevichmark I modified your comment and added Eric's GitHub handle, we should avoid putting peoples email addresses into the comments..

[2018-03-22 03:01] whowutwut commented on #4977
@samveen good question, I'm actually not sure why a `ip=dhcp` would change the ssh server keys, let me try and rerun this test tomorrow...    I didn't reset the BMC to default, just wiped out the network configuration.

@zet809 will try what you suggest tomorrow if i can reproduce it.

[2018-03-22 04:21] hu-weihua opened #4989 "the error message of *def command is disordered when running internally"
xcat version:

[code]
The error message of ``bmcdiscover`` is disordered when it hit database problem.

[code]
The correct format of chdef error msg looks like this:
[code]

[2018-03-22 06:18] hu-weihua commented on #3202
@tingtli , could you help to verify this issue during your test against openbmc? thanks.

[2018-03-22 07:10] zet809 commented on #3725
Hi, @whowutwut , maybe a little different between what ip=dhcp call and here (raw 0x32 0x66), ip=dhcp is a standard ipmi interface which is used to modify IP source. raw 0x32 0x66 is an OEM interface which may just work for IBM BMCs. And no document about the command 0x32 0x66/0xBA. ^_^

[2018-03-22 07:12] bybai commented on #3688
Hi @immarvin,  this fix is failed in my flat cluster, `updatenode` return directly from preprocess_request:
[code]

[2018-03-22 09:27] immarvin opened #4996 "[DEV] "xcatd: SSL listener" process keeps 100% cpu and all xCAT requests hang"
This issue is found on a large cluster with ~1000 nodes served by the management node, the `ps -elf` shows the cpu usage of "SSL listener" process is around 100%:

[code]

any xcat command will hang

[2018-03-22 10:12] immarvin commented on #4996
the `journalctl -r -uxcatd` show the following `Too many open files at...` entries:
[code]

the  `ulimit -n` shows the max  open file number is the default value 1024:
[code]

the file handles opened by  `SSL listener`  has exceeded the limitation:
[code]

the `SSL Listener` process stuck in a loop that
 1) accepting socket connection
 2)failed to accept socket connections due to open file handle

[2018-03-23 01:40] zet809 commented on #3172
hi, @cxhong , if you check the task #xcat2/xcat2-task-management:20 , @neo954 have verified latest CUDA9.2 and MLNX4.3 days before, 3 PR applied and waiting for your reviewing. Thx!

[2018-03-23 01:51] xuweibj opened #4999 "[OpenBMC] No output for rpower bmcstate when username is wrong"
[code]

[2018-03-23 07:47] zet809 commented on #3136
hi, @whowutwut , since we use gocons right now which can support username/password internally, do you still need this issue?

[2018-03-23 07:53] zet809 commented on #2815
Close this Epic, the extra function snmp/alart/useradd/... is traced with xcat2/xcat-task-management#23

[2018-03-23 07:53] #2815 closed

[2018-03-23 07:55] zet809 commented on #2818
Trace task #3671 in xcat2/xcat2-task-management#23. So, close this EPIC.

[2018-03-23 07:55] #2818 closed

[2018-03-23 07:59] zet809 commented on #2600
The renergy support and #3136 are traced in xcat2/xcat2-task-management#23, so close this EPIC.

[2018-03-23 07:59] #2600 closed

[2018-03-23 09:08] neo954 commented on #4797
This patch was verified with the latest `goconserver` build. I will close this one.

[2018-03-23 09:08] #4797 closed

[2018-03-23 09:53] #4930 closed

[2018-03-23 10:34] pharthiphan opened #5004 "Unable to provision linux to KVM guest, though it gets network boot installation not going through"
Unable to provision linux to KVM guest

Installed, configure xCAT to provision network install but though KVM guest boots through network, installation not going through

[cluster.log](https://github.com/xcat2/xcat-core/files/1841156/cluster.log)
[commands.log](https://github.com/xcat2/xcat-core/files/1841157/commands.log)

# lsxcatd -a
Version 2.13.10 (git commit 4fe63ecd9f836f3cf447118d461e1c10c

[2018-03-23 13:13] robin2008 commented on #4582
reopen it to cover all die cases in `install monitor`.

There are three major task in `install monitor` for a node diskful installation when it request boot from local disk before reboot:

- install monitor could accept the updateflag requesting (depends: alive and listening)
- Match source IP address of this request with a defined node (depends: node must send the updateflag using the provision I

[2018-03-23 13:18] robin2008 commented on #4582
Address it in https://github.com/xcat2/xcat-core/pull/5005

[2018-03-23 15:55] gurevichmark opened #5006 "[OpenBMC] Check DD versions before attempting rflash"
firmware > ibm-v2.0-0-r13.6 (bmc) and > v1.19_1.94 (host) levels are not supported on DD 2.0
Check DD version when running `rflash` command. Implement in both Perl and Python.

1. When `--check` option is used, display:
[code]

2. When `--upload` is used, check DD version and FW version in .tar file. If DD is 2.0 and firmware > ibm-v2.0-0-r13.6 (bmc) and > v1.19_1.94 (host), do not allow upload by

[2018-03-26 01:31] bybai commented on #4954
Hi @samveen, thanks your sugggestion, I will move it into backlog based on our sprint planning.

[2018-03-26 02:51] immarvin commented on #5004
hi @pharthiphan , did you see vmlinuz and initrd been downloaded from access_log of http server on MN?

[2018-03-26 03:14] neo954 commented on #4785
In pull request #4991, there is a patch https://github.com/xcat2/xcat-core/pull/4991/commits/54c0634a29f51ef23c0b9ff2692645fb9a9a1a00.

[2018-03-26 04:16] neo954 commented on #4918
Try to fix this issue in pull request #5010.

[2018-03-26 05:39] robin2008 commented on #4717
Plan to made some changes on the error/warn message,  for such error/warn message, we should print the service node hostname by default.

[2018-03-26 05:59] robin2008 commented on #2586
2.14 is the target GA for CORAL,  not involve new feature there.
Move it to next.

[2018-03-26 06:41] pharthiphan commented on #5004
I can see GET request for vmlinuz but not initrd, Please help

[root@vime6-01 ~]# cat /var/log/httpd/error_log
[Sun Mar 25 03:29:02.107520 2018] [auth_digest:notice] [pid 22246] AH01757: generating secret for digest authentication ...
[Sun Mar 25 03:29:02.108451 2018] [lbmethod_heartbeat:notice] [pid 22246] AH02282: No slotmem from mod_heartmonitor
[Sun Mar 25 03:29:02.108522 2018] [mpm_prefork:no

[2018-03-26 07:11] #4999 closed

[2018-03-26 07:55] xuweibj commented on #4672
#4969

[2018-03-26 07:55] #4672 closed

[2018-03-26 07:58] zet809 commented on #4832
Let's close this task since the code have been merged.

[2018-03-26 07:58] #4832 closed

[2018-03-26 08:33] xuweibj commented on #4765
Fixed in pull request #4969.

[2018-03-26 08:36] zet809 commented on #4553
We can use the task xcat2/xcat2-task-management#23 to trace the discussion. Close this EPIC as the sub tasks are done. Thx @xuweibj and @whowutwut

[2018-03-26 08:36] #4553 closed

[2018-03-26 08:38] zet809 commented on #3146
Let's close this EPIC as the subtask are done.

[2018-03-26 08:38] #3146 closed

[2018-03-26 08:40] zet809 commented on #4471
Hi, @whowutwut , all the sub tasks are done, shall we close this EPIC?

[2018-03-26 09:40] robin2008 commented on #4972
@gualican
xCAT is using `rsync` there, I guess there might be an NTP issue on your compute node.

[2018-03-26 09:46] zet809 commented on #4906
Let's move this issue to next release.

[2018-03-26 09:58] zet809 commented on #4578
This issue is fixed in #4898

[2018-03-26 10:03] #4285 closed

[2018-03-26 10:04] zet809 commented on #4234
Hi, @whowutwut , shall we move this issue forward?

[2018-03-26 10:06] immarvin commented on #4197
already completed in inventory by `xcatdefaults` node group

[2018-03-26 10:06] #4197 closed

[2018-03-26 10:15] zet809 commented on #2661
Hi, @cxhong , it seems we have implemented autodiscovery of switch, pdu, so can we close this issue? Thx!

[2018-03-26 10:20] zet809 commented on #1968
Let's close this issue.

[2018-03-26 10:20] #1968 closed

[2018-03-26 10:21] zet809 commented on #1787
Need to check whether the document is updated.

[2018-03-26 12:29] gualican commented on #4972
@robin2008
[code]
(yeah, that's a private IP address that's not RFC1918 compliant)

[2018-03-27 01:41] #4385 closed

[2018-03-27 01:45] zet809 commented on #4940
hi, @whowutwut , will you pls help to verify this issue? Thx!

[2018-03-27 01:46] robin2008 commented on #4959
@hu-weihua could you  help to verify it, it is the same issue as the one you find.

[2018-03-27 01:46] hu-weihua commented on #4955
Have been fixed and verified, thanks @immarvin .

[2018-03-27 01:46] #4955 closed

[2018-03-27 01:49] tingtli commented on #4854
I've verified this bug.
[code]

[2018-03-27 01:50] zet809 commented on #4933
hi, @hu-weihua , pls help to verify this issue. Thx!

[2018-03-27 01:52] hu-weihua commented on #4563
Outdated task. close it

[2018-03-27 01:52] #4563 closed

[2018-03-27 01:54] tingtli commented on #4854
@whowutwut I don't know how to set bmc to "BMC NotReady" state.  I get nothing when I execute following command
[code]
Let me know your steps and I will try again.  At the moment. I close this one to indicate the original one is fixed. Let's open a new one if we think rpower is not fixed.

[2018-03-27 01:54] #4854 closed

[2018-03-27 01:59] immarvin commented on #3688
the issue reported by @baiy is https://github.com/xcat2/xcat-core/pull/4994/files

[2018-03-27 02:06] bybai commented on #3688
Verified. Thanks @immarvin

[2018-03-27 02:07] #3688 closed

[2018-03-27 02:08] hu-weihua commented on #4959
Have been verified in automation environment. thanks @immarvin

[2018-03-27 02:08] #4959 closed

[2018-03-27 02:46] tingtli commented on #4764
I've verified the bug.
[code]

[2018-03-27 02:46] #4764 closed

[2018-03-27 02:53] tingtli commented on #4758
@zet It's hard to trace if we open a defect for all the xcat commands. And I don't think it is missed for all the commands. Let's just open for specific command. For rflash , i think it is fixed.

[2018-03-27 02:53] #4758 closed

[2018-03-27 03:01] tingtli commented on #4985
I've verified this defect.
[code]

[2018-03-27 03:01] #4985 closed

[2018-03-27 03:02] tingtli commented on #4984
I've verified this defect.
[code]

[2018-03-27 03:02] #4984 closed

[2018-03-27 06:39] tingtli commented on #4978
@gurevichmark It is in Python.
@xuweibj Since autogeneration of Usage was not done. I don't think we should set this bug to pending state.
And . i check the information， the help information is not updated. I will reopen this bug.

[2018-03-27 07:20] tingtli commented on #4978
with 3/26 build. This was fixed.
[code]

[2018-03-27 07:20] #4978 closed

[2018-03-27 08:33] robin2008 commented on #4913
This issue is fixed by #5015

[2018-03-27 08:35] robin2008 commented on #4973
Add "journalctl -b --no-pager -u xcatd" for it.

[2018-03-27 08:41] robin2008 commented on #4973
It is addressed by https://github.com/xcat2/xcat-core/pull/5017

[2018-03-27 09:02] tingtli commented on #4851
I've verified with xcat 2.14 3/26 build. Close this bug.

[2018-03-27 09:02] #4851 closed

[2018-03-27 09:05] #4973 closed

[2018-03-27 09:06] tingtli commented on #4765
Verified with xcat 2.14 3/26 build. Fixed.
[code]

[2018-03-27 09:06] #4765 closed

[2018-03-27 09:13] tingtli commented on #4853
Test with xcat 2.14 3/26 build, it is fixed.
[code]

A further question.  when the front is on  and the Rear is off. Which light rbeacon will be applied on?

[2018-03-27 09:18] immarvin commented on #5004
hi @pharthiphan , would you please provide the information of your kvm hypervisor? the os, qemu and kvm and libvirt related versions. we might need to try to recreate this in our env,

[2018-03-27 09:35] #4983 closed

[2018-03-27 11:57] pharthiphan commented on #5004
please find the details below, it was the same issue with RHEL 7.4 aslo

[code]
[code]

[2018-03-27 15:30] gurevichmark commented on #4853
I do not know how cn05 got into this state.
Normally `rbeacon on` should turn both front and rear to "Blink"

[2018-03-27 19:52] whowutwut commented on #4942
@xuweibj Using the 3/26 build of xCAT, there's no change from the issue describe above...

[code]

## Python
[code]

## Perl
[code]

so i don't think we can put this in pending...

[2018-03-27 20:02] whowutwut commented on #4855
Verification on 3.27 build,  While this looks good, are we expecting this `n/a` output to come out?  @gurevichmark ?
[code]

[2018-03-27 20:02] whowutwut commented on #4771
Closing, the msg change has been implemented.

[2018-03-27 20:02] #4771 closed

[2018-03-27 20:03] #3172 closed

[2018-03-27 20:03] gurevichmark opened #5019 "xCAT REST interface file has wrong permissions"
When trying to use xCAT REST, this error is logged into `/var/log/httpd/ssl_error_log` file:

[code]

After changing the execute permission on that file to "all" xCAT REST works.
Should execute ermissions for this file be set by default on install ?

[2018-03-27 20:09] whowutwut commented on #4853
@tingtli  I also do not know what happens to trigger this.  @gurevichmark we should go up to the lab and take a look at what is going on and report this to the FW team.  I have seen also a blue light on in the front and off in the rear, i suspect this is the same issue here and I'm not sure the FW team knows why it gets into this state...

[2018-03-27 20:18] whowutwut commented on #4471
Yes close it.

[2018-03-27 20:18] #4471 closed

[2018-03-27 20:18] gurevichmark commented on #4855
No, that does not seem quite right. I expected maybe one message like that.
We print `n/a` when we can not extract host and port information for the message in the exception.

Will have to do some debugging just to make sure we are parsing the message correctly.

[2018-03-27 21:20] jjohnson42 opened #5020 "goconserver shouldn't be a hard requirement"
goconserver is now a hard requirement for xCAT to install.  Seems strong for an optional component.

[2018-03-28 00:58] jbaksta opened #5021 "remoteshell postscript: sshd_config KeyRegenerationInterval option deprecated as of OpenSSH 7.4 (on RHEL 7.4 at least)"
The ```KeyRegenerationInterval``` option that is pushed into `sshd_config` during the `remoteshell` postscript should probably be removed for newer operating systems. Its shows as being deprecated in our logs as well as only pertaining to ssh protocol 1. The ssh protocol 1 was dropped from RHEL 7.4 distribution release (openssh 7.4p1-13) completely, so moving forward on RHEL and clones should not

[2018-03-28 01:17] xuweibj commented on #4942
hi @whowutwut , I thought that the issue is just because the multiple ``Error:``. Should we print out msg like ``[500] Login to BMC failed: 500 Can't connect to 172.11.139.11:443 (No route to host).``? I think this msg is enough. Do you mean we should do it like https://github.com/xcat2/xcat-core/pull/4988?

[2018-03-28 01:48] whowutwut commented on #4942
Hi @xuweibj yea we should print out some error number if it’s a connection issue so that w don’t need to ask for recreate and can tell if the bmc has some issue and it’s not in xcat code

[2018-03-28 02:49] samveen commented on #5020
I believe it's implemented as a hard requirement as it's a replacement for `conserver`.  However, given that now the option is between `conserver`, `goconserver` and `confluent`, maybe the requirement could be changed to a capability rather than a package.
I suggest something like `Requires: `xCAT-consoleserver` in the `xCAT-server` package and all of these  packages should contain `Provides: xCAT

[2018-03-28 02:55] samveen commented on #5004
@pharthiphan Can you show me the contents of /tftpboot/xcat/xnba/nodes/vcn01? AFAIK, KVM based VMs should request pxelinux configuration instead of xnba configuration. (from `/tftpboot/pxelinux.cfg/` instead of `/tftpboot/xcat/xnba/nodes/`).

[2018-03-28 03:12] marksmit-ibm opened #5023 "exlist has minor typo error and redundant entries"
Provided exlist: /opt/xcat/share/xcat/netboot/rh/compute.rhels7.ppc64.exlist
1. ./usr/share/man*   this line appears twice
2. ./lib/kdb/keymaps/include*  this line seems to have a typo error:  'kdb' should be 'kbd'
3. the following first line, should make the 2nd line not required:
./usr/share/doc*
./usr/share/doc/packages/cyrus-sasl/doc*

Reference doc:  http://xcat-docs.readthedocs.io/en/latest/

[2018-03-28 03:16] samveen commented on #5019
If not, then atleast add a appropriate section to xcat2/xcat-core/blob/master/docs/source/advanced/restapi/restapi_setup/restapi_setup.rst

[2018-03-28 03:16] marksmit-ibm commented on #5023
It occurs to me that issue #3 may be there on purpose to help if the user wants to easily add back in, like this (just a guess on my part)
+ ./usr/share/doc/packages/cyrus-sasl/doc*

[2018-03-28 05:46] immarvin commented on #5023
hi @bybai ,would you please take a look at this?

[2018-03-28 06:54] zet809 commented on #5020
hi, @jjohnson42
Yes, @samveen is right that the original idea to implement `goconserver` is replace `conserver` for OpenBMC which use ssh to get console info. If public key is not put on OpenBMC, the ssh waiting for root password in order to get output. Then, we implement `goconserver` with golang which can support ssh internally.
Even through it is hard required by xCAT/xCATsn, it is not enabled

[2018-03-28 07:04] zet809 commented on #5019
Oh, in even 2.13.7, the file is an  executable file, but removed when merge Zvm related PR, maybe we didn't change it to be executable when adding it back.
Thx, @samveen , we will change the file access permission.

[2018-03-28 07:32] robin2008 commented on #3202
@tingtli , I've done the verification with rhel7.3 MN + EPEL on xcat 2.13.11

[code]

[2018-03-28 07:32] #3202 closed

[2018-03-28 07:36] robin2008 commented on #3202
@whowutwut

Note: this does not resolve the perl-SOAP-lite issue, but not install it by default (as xcat main feature does not rely on this perl module).

And If you have already installed the package, you may still hit the same issue, then you need subscribe RHEL 'optional' or 'extra' repository.

[2018-03-28 07:38] #4913 closed

[2018-03-28 07:39] #4582 closed

[2018-03-28 07:42] robin2008 commented on #4582
close for now and see if we new issues arise.

[2018-03-28 07:48] tingtli opened #5026 "［FVT］[OpenBMC]. reventlog return error to support -s in python version."
-s for reventlog is different for python and perl version. In perl version, it gives out that -s is not supported. In python version, it gives out error message.  Here is some information.
[code]

Here is the output of perl
[code]

Here is the output of python
[code]

Seem -s should not be supported in python. Please update the code and give the correct warning message. Thanks!

[2018-03-28 08:00] immarvin commented on #5021
there is a PR on this https://github.com/xcat2/xcat-core/pull/4599

[2018-03-28 08:01] immarvin commented on #5021
hi @jbaksta , one question, what's the equivalent option for `KeyRegenerationInterval ` in OpenSSH 7.4 or SSH V2? will ssh keys be regenerated after some time ?

[2018-03-28 08:29] tingtli commented on #5026
Please also take a look at following error input.

In perl version
[code]

In python version
[code]

[2018-03-28 08:35] bybai commented on #5023
Hi @marksmit-ibm , thanks your suggestions, will look into it.

[2018-03-28 14:44] jjohnson42 commented on #5020
Just not a fan of optional components made into hard requirements.

I just realized we had already in our branch removed conserver from our dependencies, so I forgot that conserver was required in master.  It was a merge that made us notice this.  Our branch doesn't require any of the three.  The 'provides' suggestion might be a pretty good one to make sure that something gets installed.  I'm now

[2018-03-28 17:26] gurevichmark commented on #4855
Hot sure how to recreate this. I tried using the same node and did not see any `n/a`:

[code]

[2018-03-28 19:38] galmasi commented on #4211
Is there a timeline for 18.04 support? It's almost April :)

[2018-03-29 02:02] xuweibj opened #5028 "[xcat-inventory] Failed to import "power_mgt_engine" for x86_64 server"
The content planed to import:
[code]
Import result: ``Inventory import successfully!``
Check "nodehm" table:
[code]

[2018-03-29 02:28] immarvin commented on #4211
hi @galmasi , seems 18.04 will be release on April 26th, will align xCAT 2.14.1

https://thishosting.rocks/ubuntu-18-04-new-features-release-date/
[code]

[2018-03-29 03:29] xuweibj commented on #5028
Will open issue in other repo.

[2018-03-29 03:29] #5028 closed

[2018-03-29 03:44] robin2008 opened #5029 "runsqlcmd will log the DB password into log file when hit error"
runsqlcmd will log the DB password into log file when hit error.
[code]
Although /var/log/message and /var/log/xcat/cluster.log are only accessible by `root`, but it is not the good practice and  potential security issue when sending by syslog.

[2018-03-29 05:31] zet809 commented on #4804
Rebuild xCAT-genesis-base-ppc64 and xCAT-genesis-base-x86_64 to include libnss_dns. The package will be available next Monday.

[2018-03-29 05:49] jbaksta commented on #5021
Apologies for missing the PR. Didn't see anything in the issues page, so assumed no PR had been made.

I don't believe there is a direct equivalent for what was being set in the sshd_config file as the KeyRegenerationInterval is for SSH v1 only. The _closest_ thing for SSHv2 in OpenSSH is probably RekeyLimit, but I don't believe you'll be able to set it to the same value, and fundamentally, I don'

[2018-03-29 06:32] zet809 commented on #3196
It is found that the xCAT-genesis-base-ppc64 based on Fedora26 can support P9 server right now.
[code]

[2018-03-29 06:38] zet809 commented on #4774
Let's move this forward, since Fedora 26 can support P9

[2018-03-29 07:01] immarvin commented on #5004
hi @pharthiphan , would you please modify the netboot attribute to `pxe`, then rinstall?

[2018-03-29 07:13] zet809 commented on #3776
Maybe the BMC is in incorrect state, let's remove the milestone.

[2018-03-29 07:29] zet809 commented on #3590
Hi, @whowutwut , it seems there is no such error msg now, so let's close this issue:
[code]

[2018-03-29 07:29] #3590 closed

[2018-03-29 07:42] pharthiphan commented on #5004
After changing from xnba to PXE it worked. Thank you so much

Get Outlook for Android

On Thu, Mar 29, 2018 at 12:31 PM +0530, "yangsong" <notifications@github.com> wrote:

hi @pharthiphan , would you please modify the netboot attribute to pxe, then rinstall?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-03-29 07:45] zet809 commented on #3663
Hi, @whowutwut , it seems we can deal with this kind of scenario internally.
1. in bmcdiscovery:
   create node-<mtms> or node-<bmc_mac> if MTMS is not available.
   If node-<bmc_mac> is failed to remove, and then MTMS available, the node-<bmc_mac> will be reused
2. In switch or MTMS based hardware discovery, it will use 1st node-<mtms> and 2nd node-<bmc_mac> to find BMC node. It won't affect our

[2018-03-29 07:54] immarvin commented on #5023
hi @marksmit-ibm , will the duplicate entries break anything?

[2018-03-29 07:58] zet809 commented on #3725
We can move this forward as it is for P8, little low priority.

[2018-03-29 13:59] marksmit-ibm commented on #5023
As long as a user sees both entries and chooses to remove, or comment out, both entries when they _do_ want man pages, then they would get the expected outcome.  I'm just thinking we should remove one for usability.  I have looked at the list many times and only when I did a grep/compare of line by line with another exlist, did I see the duplicate.

[2018-03-29 14:57] gurevichmark opened #5031 "xCAT REST API doc and sending pw investigate work"
Currently xCAT REST API provides functionality similar to `lsdef` command. For example:
[code]
OR
[code]

1. It would be useful for the CORAL customers to have a REST API with a more compact output similar to the `nodels` command, where just a list of nodes is returned.
[code]
2. There seems to be a difference in the output depending on the way the noderange is specified (comma reparated vs. `[]`)

[2018-03-29 17:09] whowutwut opened #5033 "IPMI debug output when xcatdebugmode=1 does not display work well with node range"
When we set `chdef -t site clustersite xcatdebugmode=1` and run a command

[code]
the debug output does not tag the node, so it's unclear which node produces which output.

[2018-03-29 17:15] whowutwut opened #5034 "Missing paramiko dependency by xCAT-openbmc-py package"
It looks like PR #4837 missed a dependency for `python-paramiko`.

So on a fresh install of xCAT, we hit this problem:
[code]

[2018-03-29 17:27] whowutwut commented on #5034
It looks like EPEL provides one at version `1.16.1-2.el7`  but we are looking for the one that is provided by RHEL extras at `2.1.1-2.el7` ..  Is this a requirement @zet809 , If so we have to put a version on that rpm.

[2018-03-29 17:43] markprez opened #5035 "NODE info missing from `/opt/xcat/xcatinfo` after diskless boot"
[root@mgt03 CS18A]# lsxcatd -a
Version 2.13.11 (git commit d0ed517ee20e271e05ba6ffd06f4e3deb0c240c0, built Fri Mar  9 07:15:44 EST 2018)
This is a Management Node
cfgloc=Pg:dbname=xcatdb;host=192.168.75.124|xcatadm
dbengine=Pg
dbname=xcatdb
dbhost=192.168.75.124
dbadmin=xcatadm

We have hit a problem where CSM reports
[COMPUTE]2018-03-29 13:20:02.345848       csmd::error    | Configuration: Could

[2018-03-29 18:02] whowutwut commented on #5035
@zet809 can you see if someone can take a look at this, @cxhong is out on vacation until Monday.  I think we want to verify that this is not an issue before 2.14 release

The user should NOT need to run updatenode for that value to appear in `/opt/xcat/xcatinfo` file.

[2018-03-29 20:05] whowutwut commented on #5020
@zet809 I think we could have addressed this by having the install instruction be:

[code]

(would update work too?)
Instead of adding the Requires tag.

[2018-03-30 03:13] zet809 commented on #4774
I think the plan is to keep on Fedora ppc64.
As you mentioned, if we switch to ppc64le, we will drop support for some ppc64 server which doesn't support ppc64le.
But, we may rebuild genesis-base if there is new Fedora ppc64 released, such as Fedora27.

[2018-03-30 05:19] #5023 closed

[2018-03-30 07:05] zet809 commented on #5019
The execute permission of xcatws.cgi is changed in PR #5037

[2018-03-30 08:05] bybai commented on #5035
Hi @markprez,
I cannot reproduce this issue in our test environment.
Could you give us the following commands whole outputs from your compute node?
[code]

[2018-03-30 10:08] robin2008 commented on #5034
Do we really need 2.1.1?

[2018-03-30 11:09] whowutwut commented on #5034
I’m not sure. There is some strange set up on this cluster too as someone doenloaded anaconda python and set that in the path. That had some issues in loading default libraries...

[2018-03-30 14:36] #5019 closed

[2018-03-30 14:37] #4926 closed

[2018-04-01 05:02] robin2008 commented on #5034
`NoValidConnectionsError` is introduced in 1.15.5, but I found that an old paramiko version 1.15.2 is installed by PIP on your environment (you could try `pip list|grep paramiko`), so even if you install the right RPM, the old 1.15.2 is still used by `xcat`.  And I rename its egg file for a temporary try (`/usr/lib/python2.7/site-packages/paramiko-1.15.2-py2.7.egg`), xcat works fine. I recovered t

[2018-04-01 05:04] robin2008 commented on #5034
Also need to isolate rspconfig with other features, as paramiko and scp is only specific to `rspconfig`, better to not impact other function.

[2018-04-01 05:14] robin2008 commented on #5034
Uisng both PIP and RPM will mess the running environment, that's why I prefer to use our own directory instead of the system default one. As for those ones, it could be controlled by xcat, instead messed up by user or other applications.

[2018-04-02 04:39] robin2008 commented on #4936
If we hit it once more,  I think for now just to add more logs there to see if it is using python agent.

[2018-04-02 06:44] bybai commented on #5031
Hi @gurevichmark,
For: "It would be useful for the CORAL customers to have a REST API with a more compact output similar to the nodels command, where just a list of nodes is returned."
I think the following REST API output is similar to the nodels command, is it not enough?
[code]

[2018-04-02 06:55] tingtli opened #5041 "[FVT][OpenBMC]-V and --verbose for rbeacon has different output"
xCAT 2.14

[code]

[2018-04-02 07:39] robin2008 commented on #5041
It seems `--verbose` is not handled by `xcatclient` to output the server hostname.

[2018-04-02 07:50] robin2008 commented on #5034
address it by https://github.com/xcat2/xcat-core/pull/5042

[2018-04-02 08:11] robin2008 commented on #5041
address it with https://github.com/xcat2/xcat-core/pull/5043

[2018-04-02 08:16] #5034 closed

[2018-04-02 08:59] robin2008 commented on #5041
@tingtli  you could verify it with new build on April 3

[2018-04-02 09:25] robin2008 commented on #3790
Addressed by https://github.com/xcat2/xcat-core/pull/5038

[2018-04-02 09:25] #3790 closed

[2018-04-02 12:52] gurevichmark commented on #5031
No, this is not quite what they want. the `https://bybc0602.cluster.com/xcatws/nodes` returns all nodes.
What they want is send a noderange and get back a list of nodes matching that range:
`https://briggs01/xcatws/nodes/mid05tor12cn15+1/nodels`
OR
`https://briggs01/xcatws/nodes/mid05tor12cn[15-20]/nodels`

[2018-04-02 14:55] cxhong commented on #5035
This is statelite image,  @bybai, here is output:
[code]

[2018-04-02 15:23] gurevichmark commented on #5033
The node tag is generated with `-V`:

[code]

[2018-04-02 15:41] whowutwut commented on #5033
Thanks for that info

I think we should have the names printed out in the lines when debugmode is turned on.

My thought is that `-V` should include **more** lines, not add more info to lines that already print out.  Without `-V` we can't tell which message comes from which host in the noderange.

[2018-04-03 06:39] tingtli commented on #4929
I hit this issue again. Here is the version information
MN OS: Red Hat Enterprise Linux Server 7.4 (Maipo)
SN OS: Red Hat Enterprise Linux Server 7.5 (Maipo)
xCAT Version
[code]

[2018-04-03 06:44] robin2008 commented on #4929
Yes, with debugmode=1, we will still hit such issue,  and python agent will try to log to syslog, so it exit with exception.
[code]

[2018-04-03 07:01] robin2008 commented on #4929
And I think it is an general issue,  not only for diskless node

[code]

This is a diskless compute node under debug mode.

[2018-04-03 08:33] robin2008 commented on #4929
After some investigation:
if we stop "systemd-journnald.socket" service in before switch_root, then the /dev/log will be okay.

How to do that:
1, add "rd.break=cleanup"  in append line for the petitboot conf file of the diskless node, like /tftpboot/petitboot/mid05tor12cn16
2, reboot the node and run `rcons` for it
3, wait the node enter shell mode
4, run `systemctl stop systemd-journnald.socket`

[2018-04-03 08:36] robin2008 commented on #4929
It is required to create a `cleanup` hook for dracut.

[2018-04-03 08:39] bybai commented on #5031
Hi @gurevichmark , I got your points here, I think there are 3 tasks as following, so I created a new feature request to trace 1 , you can use this task to trace 2 and 3.
1, xCAT REST API that returns output similar to nodels range command, use this task  https://github.com/xcat2/xcat2-task-management/issues/38 to trace, and I will commit a pull request next day.
2, enhance REST API document as PR

[2018-04-03 08:40] tingtli opened #5047 "[FVT][OpenBMC]: rspconfig NODE autoreboot could not set correct value."
xCAT 2.14 4/2 build.
[code]
Here is some commands output
[code]

[2018-04-03 09:39] bybai commented on #5031
Hi @gurevichmark , I created pull request to add rest api for nodels, please review https://github.com/xcat2/xcat-core/pull/5050

[2018-04-03 09:52] xuweibj commented on #5047
Have not found out what's wrong in python code.

Output for rspconfig in perl:
[code]

Output in python:
[code]

I checked many times, I think the request code is same for perl and python. But in perl, we could set it correctly. In python, it's not.
Hi @gurevichmark , could you help to debug it?

[2018-04-03 10:20] robin2008 commented on #5047
@xuweibj

I think just the get is wrong
[code]

[2018-04-03 10:48] xuweibj commented on #5047
@robin2008 , you are correct. I have modified in pull request #5052.
@gurevichmark , I have modified it.

[2018-04-03 13:46] whowutwut commented on #4996
@immarvin @robin2008 I think this issue is really a result of large systems and configuration of the limits.conf for number of file descriptors as well as TCP socket settings, is there anything planned to be added on the xCAT site, perhaps documentation updates in the reference architecture section for CORAL?

It's moved to done but not in pending....

[2018-04-04 01:38] robin2008 commented on #5047
This  need to be in pre-GA for April 6

[2018-04-04 01:47] tingtli commented on #5026
I have verified with xCAT 2.14 4/3 build. It is fixed.
[code]

[2018-04-04 01:47] #5026 closed

[2018-04-04 01:50] tingtli commented on #5041
Verified with 2.14 4/3 build.
[code]

[2018-04-04 01:50] #5041 closed

[2018-04-04 01:56] tingtli opened #5053 "[FVT][OpenBMC]:rspconfig NODE powersupplyredundancy could not get and set correct powersupplyredundancy value"
xCAT 2.14 4/3 build.

[code]
Here is the node defintion
[code]

[2018-04-04 02:13] bybai commented on #5031
For above 2 noderange thing, should use URL format,  command like following can get correct result:
[code]

[2018-04-04 03:24] robin2008 commented on #5053
run it with perl for `mid08tor03cn01`
[code]

It looks like the node has some issue, and check firmware version
[code]

[2018-04-04 03:46] robin2008 commented on #5053
Seems there still message difference between perl and python @hu-weihua

[2018-04-04 03:54] hu-weihua opened #5054 "[fvt］The output of rvitals did not satisfy 3 sections format"
xcat version:
[code]

For the output of ``rvitals``, we expected it satisfy 3 section format, for example:
[code]

But there are some lines did not follow this format

[code]

This is maybe a problem.

[2018-04-04 05:06] hu-weihua opened #5055 "[fvt] rspconfig python version failed to prevent setting ip as hostname into BMC"
xcat version
[code]
``rspconfig`` should throw out a error message when try to use ``rspconfig <cn> hostname=*`` but ``bmc=<ip>``.

This feature still work in perl code:
[code]

But in python version, it failed.
[code]

[2018-04-04 05:12] hu-weihua opened #5056 "[fvt] rspconfig python version failed to prevent set ip address as hostname into bmc"
xCAT version
[code]

``rspconfig`` should throw out a error message when try to run ``rspconfig <cn> hostname=*`` but ``bmc=<ip>``.

This feature still work in perl version
[code]

But in python version, it did not work any more
[code]

[2018-04-04 05:19] tingtli opened #5057 "[FVT][OpenBMC]rflash NODERANGE -d does not have the same output and result."
xCAT 2.14 on rhels7.5.

rflash operates on 2 nodes. One node is flat and one node is in hierarchy. But seems the output and result is not the same ,please see following output for details.

[code]

[2018-04-04 05:28] bybai commented on #5057
Hi @tingtli , I tried in `xcatdebugmode=2`, I cannot reproduce above issue. Let me try non-xcatdebugmode to reproduce it.
[code]

[2018-04-04 05:57] hu-weihua commented on #5055
duplicate with #5056 , close this one.

[2018-04-04 05:57] #5055 closed

[2018-04-04 06:06] hu-weihua commented on #5047
After patching the fix, it works.

[code]

[2018-04-04 06:06] #5047 closed

[2018-04-04 06:28] robin2008 commented on #5056
Need to add precheck in python codes,  and this is not critical, not mandatory be fixed in April 6.

[2018-04-04 06:30] robin2008 commented on #5054
# rvitals mid05tor12cn16|wc
    111     666    4475
# tabedit site

For pyhon:
# rvitals mid05tor12cn16|wc
    115     726    4898

[2018-04-04 06:32] robin2008 commented on #5057
This may not be a block issue for pre-GA,  document if possible.

[2018-04-04 06:40] bybai commented on #5057
I retried several times, cannot reproduce this issue.  Based on issue log and code,  I guess mid08tor03cn01 give response 200, but "curl -k -b cjar -X GET -H "Content-Type: application/json" https://172.21.226.1/xyz/openbmc_project/state/enumerate" contain unexpected results, or mid08tor03cn01  is busy. This issue is accidental happen, hope to find a good way to reproduce it.
[code]

[2018-04-04 06:47] xuweibj commented on #5054
The output below is the output of ``rvitals leds``.
[code]
For command ``rvital <noderange>`` means ``rvitals <noderange> all``. I think we should print out leds information for ``rvitals all`` too, and have modified code in python.

[2018-04-04 06:53] robin2008 commented on #5054
So there is a design change for `rvitals <noderange> all`, and now its output including `rvitals leds`
But the changes is only in python, not in perl.

Okay, now we know it is not related to code bug, this might not be an urgent issue to be covered before April 6.

[2018-04-04 06:55] #5004 closed

[2018-04-04 07:54] bybai commented on #5057
The work around for this issue:
1, check the bmc state,  found "Active(+)  IBM-witherspoon-ibm-OP9_v1.19_1.154" on mid08tor03cn01
[code]
2, reboot the mid08tor03cn01:
[code]

[2018-04-04 09:10] chenglch commented on #4961
With #5001, after running `makegocons` , the startup configuration should take effect. Only available for on systemd based system.

[2018-04-04 10:11] robin2008 commented on #5033
There is two different things:
1, The debug message is reported for which node
2, who reported the message (MN or SN)

@whowutwut  which one is your concern?

For issue1,  it is an issue. @zet809  is it easy to report them under `node` name?

"-V/--verbose" now is only for the 2nd issue, and we want to enhance it to show the service node name by default for all error/warn message. But for the norm

[2018-04-04 13:28] gurevichmark commented on #5033
I think @whowutwut suggestion was that we should display the node who reported the message (2), when `xcatdebugmode` is set, even if `-V` is not used.

[2018-04-04 14:53] whowutwut commented on #5033
@robin2008

This output is only displayed when `xcatdebugmode=1`.

If users do not care for this message, they would not turn on debug mode.   My point is, I already enabled debugmode specifically to see the ipmi raw messages, but since I asked the customer to run it against a noderange, I could not tell which message correlates to which node, so I had to ask them to run it individually on each no

[2018-04-04 16:09] whowutwut opened #5059 "Update of xCAT to 4/4 build causes warning messages in cleanup of genesis-base"
On updating xCAT from 3/21 build to 4/4 build, I saw strange messages come out with regards to genesis...

[code]

[code]

I have never seen these messages before, so just opening an issue to track it.

Connected to the following repos:
[code]

[2018-04-04 17:10] whowutwut commented on #5059
This may be due to changes in Fedora 26?

[2018-04-04 20:08] gurevichmark opened #5060 "xcatprobe switch_macmap should report an error when can not access the switch"
When `xcatprobe switch_macmap` can not access the switch (for example, when file is missing from the switch), it displays:
[code]

The `xcatprobe switch_macmap` should report an error when can not access the switch.
[code]

[2018-04-04 20:51] whowutwut commented on #5059
Found that the Fedora26 machine used to create the xCAT-genesis-base was missing certain `devel` packages so the shared object files were not included in this rpm build.

Resolved as many of those as I could detect.

Created new xcat-dep build: http://xcat.org/files/xcat/xcat-dep/2.x_Linux/xcat-dep-201804041617.tar.bz2

Now, from 2.13.11 GA build:
[code]

If I set up the repo for an xCAT 2.14 deve

[2018-04-04 20:51] whowutwut commented on #5059
Going to close this issue out.

[2018-04-04 20:51] #5059 closed

[2018-04-05 02:46] robin2008 commented on #5033
@whowutwut
is below as your expected:
[code]
I will have a PR for it soon,  the fix is simple as xCAT already has the capability to show the message under node name. Just lots of messages did not follow it.

[2018-04-05 02:47] whowutwut commented on #5033
@robin2008 Yes, correct, with debugmode=1, would expect to see the message tied to the node so we don't need to ask users to run again when trying to help debug issues or collect data.

[2018-04-05 02:54] robin2008 commented on #5033
To address it with https://github.com/xcat2/xcat-core/pull/5061

BTW, do we need to print bmc IP into debug message ? I think this is helpful too, or we have to get it by `lsdef` again.

[2018-04-05 17:25] cxhong commented on #5060
the message is logged to `/var/log/xcat/cluster.log`, like this:
[code]

I will check to see if i can stdoout this message.

[2018-04-05 18:41] whowutwut commented on #5060
Can we change that message to:

[code]

With SNMP, are we able to get any useful info? Should we just block it?

[2018-04-06 04:56] samveen commented on #5035
@cxhong @bybai @whowutwut If I remember correctly, isn't the `/opt/xcat/xcatinfo` only for xCAT server related information? AFAIK, all node related information should go into `/xcatpost/mypostscript*`, not into `/opt/xcat/xcatinfo`.

[2018-04-06 22:38] mxcheng2011 opened #5065 "bmcsetup bug"
I run into a bug in bmcsetup. It is related to this section

[code]
It turns out that our Lenovo hardware has 12 disable users who trigger 12*15=180 errors of "invalid data field in request". There are some so many errors that at some point I saw in the console bmc changes the status of $USERSLOT.
From
[code]

to
[code]

Once I modify TRIES from 0 to 14, given the TIMEOUT=15 only 2 tries every dis

[2018-04-07 02:51] whowutwut commented on #5065
@jjohnson42  Are you familiar with this issue? @zet809?

[2018-04-07 14:04] whowutwut commented on #5047
@robin2008 @xuweibj @gurevichmark ....

Is it possible to have a mapping file for the endpoints?  If we are sharing endpoints between two different code paths, it seems like some common file would avoid typo in the code..

Any thoughts?

[2018-04-07 14:06] whowutwut commented on #5053
@robin2008 Yes, for Perl code, we handle the HTTP error paths ..
I think for Python, it's hidden.. and I don't like this.

404 means that endpoint does not exists, and if it does not exists, we should handle it.  This is because if function is not provided on a certain build, we don't want to check the version but just let the API return codes dictate the output of our command...  do not hide it.

[2018-04-07 14:07] whowutwut commented on #5053
@gurevichmark Please work with @xuweibj  to make sure the issues are handled between the two of  you, i think these issues are being default assigned to @xuweibj .

@xuweibj please assign @gurevichmark some issues that you are not currently looking at so we can have more distribution of the tasks.

[2018-04-07 14:09] whowutwut commented on #5056
@hu-weihua Are automated test cases created for this?  If so, we should just open issues with the autotest case instead of manually executing.   This is prime time to create automation that will catch the issues if it's not already there!   If it does not have  a UT test case, please ensure that dev also include a testcase for the issue when doing verification, and add "testcase:requested" label t

[2018-04-09 02:35] bybai commented on #5035
Hi @samveen, `/opt/xcat/xcatinfo` is only for xCAT server related information, it is an interface for another product. Thanks

[2018-04-09 04:00] tingtli commented on #4780
Verified with 2.14 4/3 build. It is fixed.
[code]

[2018-04-09 04:00] #4780 closed

[2018-04-09 04:09] tingtli commented on #4766
I tried to use 4/3 build to run verification for this. But seems it hangs. Wait for about 30 minutes... and there is no progress...
Here is some information.
[code]

[2018-04-09 04:10] #4982 closed

[2018-04-09 04:14] tingtli commented on #4770
verified with 2.14 4/3 build. It is fixed.
[code]

[2018-04-09 04:14] #4770 closed

[2018-04-09 04:48] hu-weihua commented on #4805
@tingtli , could you help to verify this fix? thanks

[2018-04-09 05:51] neo954 commented on #5059
These warning messages are known issue.

Please see my unit test result and my comments in pull request #4374.

[2018-04-09 06:16] robin2008 opened #5067 "Error log about 'installmonitor' during stateful node provisioning"
Check the log file,  it could be seen one ERROR log after https://github.com/xcat2/xcat-core/pull/5005

[code]
Need to investigate it.

[2018-04-09 06:18] robin2008 commented on #5067
2.14 candidate,  depends on if function is impacted.

[2018-04-09 06:44] tingtli commented on #4805
I think this is fixed by 2.14 4/3 build.
Here is some information
[code]

[2018-04-09 06:52] tingtli commented on #4805
@mattaezell  Please take a look. thanks!

[2018-04-09 06:58] xuweibj commented on #4766
Thanks @tingtli . It's a new issue that that we did not support format "rspconfig noderange <tar_file> -a", only support "-a <tar_file>" now. I will create new pull request to fix it.

[2018-04-09 07:38] immarvin commented on #5021
the PR has been merged

[2018-04-09 07:52] hu-weihua commented on #5059
We will get warning message during 2 kinds of upgrade.

* upgrade from all old version before ``2.13.9`` to all new version after ``2.13.9`` (incuding ``2.13.9``) will get warning message due to change in #4374

* upgrade from  all builds before Mar 29 2018 to the builds after Mar 29 2018,  will get warning message due to the ``xCAT-genesis-base-xxx-2.13.10`` include some useless perl file.

The c

[2018-04-09 07:58] zet809 commented on #3231
Remove milestone and add when needed.

[2018-04-09 08:03] #4805 closed

[2018-04-09 08:29] robin2008 commented on #5067
The `installmonitor` is sent by node which is under provision when setup its install monitor process(port 3054),  not required special handling there.  Not know why xCAT still need it.

To avoid the error log,  just to address it by https://github.com/xcat2/xcat-core/pull/5069

[2018-04-09 09:29] zet809 commented on #4977
Close this issue and reopen if we encounter it again.

[2018-04-09 09:29] #4977 closed

[2018-04-09 09:29] zet809 commented on #4946
Close this issue and reopen if we encounter it again.

[2018-04-09 09:31] hu-weihua commented on #4933
Have been verified in automation system. close this issue

[code]

[2018-04-09 09:31] #4933 closed

[2018-04-09 09:40] #5067 closed

[2018-04-09 13:14] hu-weihua commented on #4852
@bolinches , Thanks for using ``sysclone``. ``sysclone`` was developed few years ago, its framework can be used for different node, but need to specific coding for specific node. All supported scenario are listed in http://xcat-docs.readthedocs.io/en/latest/advanced/sysclone/sysclone.html#list-of-supported-arch-and-os.  Due to xCAT team has limited resource, unless we get business justification, w

[2018-04-09 19:13] whowutwut commented on #4946
Let me put this in my backlog, once I have some P9 Boston servers in a private network, I can run this test to verify.

[2018-04-10 03:02] robin2008 opened #5073 "Provide an example in postinstall to show how to patch initrd for diskless"
Like CUDA, there might be some tuning parameters required, and they need to be used when loading device driver. For example, to modify /etc/modprobe.d/nvidia.conf to set those parameters.
[code]
And this is easy for statful node to do it in postscript as after 2nd reboot during the provision, the parameters will be there automatically.
[code]

But for diskless nodes in xCAT,  this won't work and y

[2018-04-10 03:47] whowutwut commented on #5073
@robin2008 I got this working today and I can work on creating an example one we validate the settings are correct

[2018-04-10 04:34] robin2008 commented on #5073
I've done it with below manual steps:
[code]
`genimage` again and reprovision the node, after it booted, to check `/proc/driver/nvidia/params`:
[code]

[2018-04-10 04:43] robin2008 commented on #5073
This is a bit complex as user have to write a `dracut` module in postinstall to do that.

If such configuration are general and common used,  xCAT could consider more convenient  method for it. For example,  `postinstall` only generate scripts in somewhere, like `<imgroot>/postscript_initrd.d/foo.sh`,  and `genimage` will automatically have a module to run those scripts.

[2018-04-10 05:36] tingtli commented on #4853
```rbeacon on``` turns both front and rear to "Blink". I have a question. Sometimes, i see Front is On and Rear is off. How could we set that ? We could only use ```rbeacon CN on``` or "rbeacon CN off" to make both front and rear to the same state.

[2018-04-10 06:11] #5057 closed

[2018-04-10 06:25] hu-weihua commented on #4947
@whowutwut, could you verify this issue? Can we close this issue now?

[2018-04-10 06:26] hu-weihua commented on #4942
@whowutwut, could you help to verify this issue again? thanks

[2018-04-10 06:27] neo954 commented on #5073
See pull request #5074

[2018-04-10 06:28] hu-weihua commented on #4940
@neo954, could you help to verify this issue? thanks

[2018-04-10 06:29] hu-weihua commented on #4918
@whowutwut, could you help to verify this fix? thanks

[2018-04-10 06:31] #5021 closed

[2018-04-10 06:32] hu-weihua commented on #4855
@whowutwut, could you help to verify this issue? thanks

[2018-04-10 06:36] hu-weihua commented on #4804
@kcgthb, could you help to verify and close this issue? thanks

[2018-04-10 06:38] hu-weihua commented on #4785
@whowutwut, could you help to verify the patch? thanks

[2018-04-10 06:55] hu-weihua commented on #4578
@whowutwut, could you help to verify this issue? thanks

[2018-04-10 06:59] hu-weihua commented on #4728
@whowutwut, could you help to verify this issue? thanks.

It is little hard to automated mixed cluster test because of test case depending on CN's attribute. But we can cover this test in manual test first.

[2018-04-10 07:24] hu-weihua commented on #4009
@neo954, could you help to verify the fix and close this issue? thanks.

[2018-04-10 07:28] zet809 commented on #3873
hi, @whowutwut , do you think we can use #3374 to cover this issue?

[2018-04-10 07:54] hu-weihua commented on #5053
@tingtli, could you help to verify this issue? thanks.

[2018-04-10 08:02] hu-weihua commented on #4766
@tingtli,could you help to verify this issue? thanks

[2018-04-10 08:16] robin2008 commented on #2661
Not covered in 2.14, move it to next.

[2018-04-10 08:27] immarvin commented on #4996
we refined the code logic in xcatd(https://github.com/xcat2/xcat-core/pull/5005)  and added tips in tuning doc(https://github.com/xcat2/xcat-core/pull/5005) to cover this issue

[2018-04-10 08:27] robin2008 commented on #4937
@gurevichmark  could you help to review it ASAP, we need it done before this Friday

[2018-04-10 08:29] robin2008 commented on #4989
Move it to next release

[2018-04-10 08:33] immarvin commented on #4947
the doc is created in https://github.com/xcat2/xcat-core/pull/5038

[2018-04-10 08:37] robin2008 commented on #5029
Need it in 2.14

[2018-04-10 08:37] #5029 closed

[2018-04-10 08:44] zet809 commented on #5065
Move forward to do more investigation.

[2018-04-10 08:48] zet809 commented on #4989
The fix #4989 just fix the first part of the issue that bmcdiscover won't call chdef if not get the full node attributes.

[2018-04-10 09:40] bybai commented on #5031
Hi @gurevichmark , I think you are working on above sending passwd investigate 4, I am not sure if you plan to finish it within 2.14 or not, so I move milestones from 2.14 to 2.14.1.

[2018-04-10 13:39] cxhong commented on #3516
The following PRs have been worked for this Epic:
#3953 #4391 #4581 #4607  #4635  #4726  #4750  #4801

[2018-04-10 13:40] cxhong commented on #3516
I will close the Epic.

[2018-04-10 13:40] #3516 closed

[2018-04-10 13:52] gurevichmark commented on #3873
Also message displayed if node is not in "Brick Protection state" by #4998

[2018-04-10 15:34] whowutwut commented on #5059
@hu-weihua is there an issue open for the 2nd scenario, i'd like to see what messages are coming out.

[2018-04-10 15:38] kcgthb commented on #4804
Hi @hu-weihua

Sure! What RPM version is the fix available in?

[2018-04-10 15:40] whowutwut commented on #4947
Thanks for the doc changes @immarvin

[2018-04-10 15:40] #4947 closed

[2018-04-10 15:46] whowutwut commented on #4942
This looks good for the original test case:
[code]

[2018-04-10 15:46] #4942 closed

[2018-04-10 15:50] whowutwut commented on #4918
I think we will have to use this to verify  and open issues as we see.  I did see that we got the `.nouse` renamed for the old ones, that was nice..  checking xcat.org...

[code]

Those seem OK, we don't want to modify the older releases of xCAT, so dev and 2.14 path is OK

[2018-04-10 15:50] #4918 closed

[2018-04-10 15:59] whowutwut commented on #4855
Looks good with the following build:
[code]

[code]

[2018-04-10 15:59] #4855 closed

[2018-04-10 16:01] whowutwut commented on #4785
I have provisioned a few VMs using go-xcat and also install from source... it looks good...

go-xcat only
[code]

install source, 2.13.11 and then update with go-xcat
[code]

This looks good, thanks @neo954

[2018-04-10 16:01] #4785 closed

[2018-04-10 17:11] whowutwut commented on #4578
Using this build:
[code]

It looks good re-running the initial test case, the node names are marked in front of the error.

[code]

[2018-04-10 17:11] #4578 closed

[2018-04-10 17:15] whowutwut commented on #4728
This looks good,
[code]

Running original case:
[code]

[2018-04-10 17:15] #4728 closed

[2018-04-10 17:16] whowutwut commented on #5054
Discussed with @gurevichmark today and he will create a PR to address this, making the output in single lines.

[2018-04-10 17:17] whowutwut commented on #3736
Closing this issue that tracks this epic for Supermicro P9 hardware,  will open new ones to track specific problems.

[2018-04-10 17:17] #3736 closed

[2018-04-10 17:18] whowutwut commented on #3873
Will need some more time here to validate the process of recovering the SMC node before we attempt to brick it.  Don't want to end up with a bricked server...  Will try and do during 2.14.11

[2018-04-10 18:40] gurevichmark commented on #4937
Man page change for `rvitals` done in #5079

[2018-04-10 18:41] #4937 closed

[2018-04-10 18:54] gurevichmark commented on #5054
Proposed output:
[code]

[2018-04-10 19:33] gurevichmark opened #5080 "Changing user password is ignored by REST API"
Once the non-root user password is changed, REST API does not behave as expected:

1. Create a non-root user as described by http://xcat-docs.readthedocs.io/en/latest/advanced/restapi/restapi_setup/restapi_setup.html#use-non-root-account
2. Verify REST API works with userid/pw and token authentication
3. Change the user password with `passwd <non-root user>`

**Problems:**
1. Can still obtain an a

[2018-04-10 19:41] gurevichmark opened #5081 "Add lsdef interface for REST token management"
xCAT has a `token` table to store REST API authentication tokens.
[code]
But `tokens` is not one of the supported object types. Would be useful if admin could
revoke these tokens with `rmdef -t token xxxxxxx`. Or if admin could adjust the expiration time with
`chdef -t token xxxxxx expire=yyyyyyy`. Or if admin could list tokens and have a human readable expiration time with `lsdef -t token`

[2018-04-10 19:56] gurevichmark commented on #4917
Closing this issue, there seems to be no easy way to run a remote command on BMC before copying ssh keys.

[2018-04-10 19:56] #4917 closed

[2018-04-10 20:00] gurevichmark opened #5082 "Add attribute to site table to allow non-default REST API authentication token expiration"
Currently REST API authentication token expires in 24 hours.
Add a new attribute to `site` table to allow the user to specify how may days or `never` for token expiration.
Default will still stay at 24 hours.

[2018-04-10 20:01] gurevichmark commented on #5082
Code for managing tokens is in xCAT-server/lib/perl/xCAT/xcatd.pm gettoken().

[2018-04-11 02:14] robin2008 commented on #5082
I am not sure it is good to given a `never` expire token for all user,  it would be potential security risk.

I would suggest there are two steps to get an long-lived token.
1, get a short lived token first  (this is for all user)
2, Provide a new API to change its to expire time, and this API could be controlled by `policy` table, to assign it for only `service` account.

For normal user, they wi

[2018-04-11 02:29] bybai commented on #5081
Now token is used by xCAT REST API.  I think it is better to use xCAT REST API to manage token resource. PUT method is to adjust the expiration time, GET method is to list tokens.

[2018-04-11 02:53] hu-weihua commented on #4804
Hi @kcgthb, you can download the latest xcat-dep package from http://xcat.org/files/xcat/xcat-dep/2.x_Linux/xcat-dep-201804041617.tar.bz2 , then you will find below 2 new genesis RPMs which include the fix.

[code]

[2018-04-11 03:30] hu-weihua opened #5087 "There are warning meassg throw out when update xCAT-genesis-base from 2.13.10 to 2.14"
xCAT 2.13.11 xcat-dep shipped xCAT-genesis-base 2.13.10 like below:

[code]
From Mar 28, xCAT generated new ``xCAT-genesis-base`` 2.14.
[code]
Once update xCAT from xCAT-genesis-base 2.13.10 to 2.14. will get below warning message.

Below are the output of upgrade from xcat 2.13.11 GA build to 20180330.0615 build
[code]

[2018-04-11 04:29] hu-weihua commented on #5087
After rebuilding ``xCAT-genesis-base-ppc64-2.14-snap201804041553.noarch.rpm``, The warning message are reduced.

Below are the output of upgrade from xcat 2.13.11 GA build to 20180409.0615 build
[code]

[2018-04-11 04:32] hu-weihua commented on #5059
@whowutwut , I opened a issue #5087  for the 2nd scenario and pasted the warning message in it.

[2018-04-11 06:32] robin2008 commented on #5080
@gurevichmark
It seems you have wrong understanding about the restapi user password, I think xCAT restapi only use the password in table `passwd`.
[code]

@bybai  Could you confirm it,   if the document is not clear.  we can update it,  I did not see how to change password there.

[2018-04-11 06:41] robin2008 commented on #5081
`token` is just a simple implementation in xCAT now,  and no user management too.
Better to provide some APIs by simple, instead of support full `*def` for it.

[2018-04-11 06:46] robin2008 commented on #4929
@hu-weihua  could you help to verify it?  The fix will impact RHEL7 on both ppc64le and x86_64.
Note:  only for debugmode

[2018-04-11 06:52] bybai commented on #5080
Hi @gurevichmark and @gurevichmark
The xCAT REST API used username and password from `passwd` table. After you change the password for the user, you should update it in `passwd` table, it is the same with `root` user.
The  xCAT REST API token has no relationship to user's password. After the token is generated, it can be used until expire time.

Here is the doc about how to "Configure passwords in

[2018-04-11 07:49] daniceexi commented on #5080
@robin2008 The username is valid for Restapi access, see the usage example:
[code]

[2018-04-11 07:50] daniceexi commented on #5081
@bybai I only saw the POST is supported for token creating, could you confirm whether the 'GET' and 'POST' are supported?

[2018-04-11 08:01] bybai commented on #5081
Hi @daniceexi, @robin2008 and @gurevichmark , 'GET' and 'PUT' are not supported for token resource now. We can use `tabedit token` or `tabch` to change the expire time like  :`tabch tokenid="2649d2be-877b-44a3-9301-5b9c9bd64cbf" token.expire=2023519000`.
 I think here we can enhance the following:
1, add 'GET' and 'PUT' method for token resources
2, change the expire time format in `token` table t

[2018-04-11 08:16] bybai commented on #5080
User may be easy to confuse "os system user/passwd" with "xCAT REST API user/passwd", here are sections in doc for "add root/non-root account", we do not emphasize how to change REST API password. So we can add simple section "Change Password for REST API account" behind "Use non-root Account" section in doc [Set Up an Account for Web Service Access](http://xcat-docs.readthedocs.io/en/latest/advan

[2018-04-11 08:29] bybai commented on #5082
I think after we change the expire time format as human readable format, it is easy for user to customize the expire time to a long time as they expect. It is no need to support `never` expire token in our code considering security risk.
Now, user can change expire time in `token` table using `tabedit` or `tabch` command, if we can provide REST API interface to change expire time, user can use or

[2018-04-11 08:30] tingtli commented on #5053
Verified with 2.14 4/10 build。still could not set
[code]

[2018-04-11 08:40] tingtli commented on #4766
@xuweibj Please take a look. This test is against 4/10 build

 Here is the output for python verison
[code]

Here is the output for perl version
[code]

[2018-04-11 10:23] hu-weihua opened #5091 "ondiscover did not work as expected"
xcat version
[code]

Adding ``ondiscover`` in chain list during discovery, ``ondiscover`` did not work.
[code]
After while, bmcsetup works and genesis enter into shell,  but ``ondiscover='chdef:addkcmdline=debug'`` does not work.
[code]

Got log from ``/var/log/xcat/cluster.log``:
[code]

[2018-04-11 10:27] hu-weihua commented on #5091
related link: #4903 and #4294

[2018-04-11 13:10] cxhong commented on #5091
@hu-weihua , the node definition modified according to your post.
[code]

[2018-04-11 13:14] whowutwut commented on #5087
@hu-weihua Yes, this is the same issue as #5059, we should be testing with the new build of xcat-dep that I created as a fix for that issue and it reduced the warning messages.  A lot of files were missing in the version @zet809 because Fedora26 was a minimal install..  After installing more `-devel` packages, I was able to generate a genesis base that was more matching our previous ones. (Whether

[2018-04-11 15:13] gurevichmark commented on #5082
Had a meeting with Fernando and Victor today. They felt for CORAL and CSM use, it would be useful to have a ability to modify token expiration time by just changing `site` table entry. This way it can be changed for the whole cluster and all tokens created after that point will have new expiration time. They also wanted ability to have a token that `never` expires, similar to how GitHub manages to

[2018-04-11 19:03] cxhong commented on #5091
can u try to add chain attribute for ondiscover command as:
[code]

Parse will not work if you have ' '  for ondiscover command
[code]

[2018-04-11 19:13] gurevichmark commented on #5006
Implemented item 2 only in PR #5093.
Since customers should not have any dd 2.0 machines this code will just help internally in the lab.
As a result was decided to just implement simple item number 2 and not do items 1 and 3.

[2018-04-11 19:42] kcgthb opened #5094 "DNS slave notification"
In the master-slave DNS setup described in https://xcat-docs.readthedocs.io/en/stable/advanced/domain_name_resolution/domain_name_resolution.html#option-3-2-using-the-management-node-as-dns-master-the-service-nodes-as-dns-slaves everything seem to be working fine except DNS updates on the master don't seem to be automatically pushed to the slaves. Running `rndc reload <domain>` on the service node

[2018-04-11 20:52] gurevichmark commented on #5080
Changed documentation with #5095

[2018-04-11 21:14] kcgthb commented on #5094
And after re-running `makedns -n`, I now see the proper `notify` directives in `/etc/named.conf`, so nevermind, and sorry for the noise, I'm closing this.

[2018-04-11 21:14] #5094 closed

[2018-04-12 01:05] hu-weihua commented on #5056
have been verified in automation test. close this issue.

[2018-04-12 01:05] #5056 closed

[2018-04-12 01:35] immarvin commented on #5060
hi @gurevichmark , the PR has been merged ,would you please verify it and check whether it can be closed?

[2018-04-12 05:35] zet809 commented on #4853
It seems the Front and Rear Identify LED not consistent is a firmware/hardware problem can be trace with https://github.ibm.com/vhu/c910env/issues/223 , so let's close this issue.

[2018-04-12 05:35] #4853 closed

[2018-04-12 06:46] zet809 commented on #5073
Verified on mid05tor12cn13 diskless, the nvidia/params looks like this after the diskless booting:
[code]

[2018-04-12 07:03] hu-weihua opened #5098 "There were error messages be thrown out in clusters.log during running ondiscover"
When running ``ondiscover``, there were  error messages be thrown out.
[code]

But the expected process completed. All items in the chain list work. Not sure what above error message will affect.

The important steps are:
Before discovery:
[code]
After discovery:
[code]
The related log from ``/var/log/xcat/cluster.log``
[code]

[2018-04-12 07:04] hu-weihua commented on #5091
@cxhong, I tried again without ``' '`` by 20180411.0715 build, it works. I will close this issue.
There is another issue I found during test, I will open a new bug for it. It is #5098

@zet809 could you help to update document to describe how this feature is used, thanks.

[2018-04-12 07:04] #5091 closed

[2018-04-12 07:09] hu-weihua commented on #4294
This feature has been verified. The main function work.
But there is a little issue #5098, not sure what it will affect.

[2018-04-12 07:12] hu-weihua commented on #5098
Related pull request #4903

[2018-04-12 07:16] hu-weihua commented on #5098
Related feature requirement issue #4294

[2018-04-12 08:00] zet809 commented on #5073
For diskless, also seems OK:
[code]

[2018-04-12 10:03] neo954 commented on #4961
The problem was verified. I will close this one.

[2018-04-12 10:03] #4961 closed

[2018-04-12 10:03] neo954 commented on #4951
The problem was verified. I will close this one.

[2018-04-12 10:03] #4951 closed

[2018-04-12 10:05] neo954 commented on #4940
The problem was verified. I will close this one.

[2018-04-12 10:05] #4940 closed

[2018-04-12 10:05] neo954 commented on #4009
The problem was verified. I will close this one.

[2018-04-12 10:05] #4009 closed

[2018-04-12 12:57] #5060 closed

[2018-04-12 14:06] #5080 closed

[2018-04-12 20:20] whowutwut opened #5100 "genimage with MOFED installer is updating adapter firmware on the MN device"
This can be re-created on boston01 in our development environment, running my test osimage created using ansible.

[code]

The postinstall file has the following entry created:
[code]

The install script that I copied to my custom directory is the same as `mlnxofed_ib_install.v2 `:

[code]

When I run genimage, the following logs appear:

[code]

This is the 2nd time I run, the first time I see it

[2018-04-12 20:35] whowutwut commented on #5100
Ok, maybe I opened this issue too quickly, I started debugging this and the default options without `-m` is:
[code]

So since I provided a `-m --add-kernel-support -end- ` in the call to the script, i think it removes the default ...   will not adding that option.

[2018-04-12 20:50] whowutwut commented on #5100
Yes, seems like that was the reason, when I modify the options
[code]

While I have this open, scrutinizing the output when this is installing....

why do we call this with two `--force` options?
[code]

[2018-04-13 00:53] markprez opened #5101 "Probelms with diskfull image installing a kernel patch"
Trying to install ODP kernel patch, you can find on c685f1n01 (mgt03) in /install/rhels7.5-4.14.0-49.RC.patch.

Problem 1: When adding this patch to the pkglist, and using the rhels7.5-4.14.0-49 repository created from the distro iso, the patch rpm was added and did not replace the existing rpm:
kernel-4.14.0-49.el7a.bz1553205.page_fault_hang.ppc64le
kernel-4.14.0-49.el7a.ppc64le
But the 4.14.0-49

[2018-04-13 01:17] hu-weihua commented on #5054
Have been verified in automation environment, close this issue. thanks @xuweibj and @gurevichmark

[2018-04-13 01:17] #5054 closed

[2018-04-13 03:00] hu-weihua commented on #4929
Have been verified by 20180412.0715 build. thanks @robin2008

[2018-04-13 03:00] #4929 closed

[2018-04-13 08:04] bybai commented on #5101
Hi @markprez,
For problem 1: I tried diskful image installing kernel patch with kernel-4.14.0-49.el7a.bz1553205.page_fault_hang.ppc64le, I did not hit your problem. Do you following the doc http://xcat-docs.readthedocs.io/en/latest/guides/admin-guides/manage_clusters/ppc64le/diskful/customize_image/use_kernel_patch.html step by step?
Do you put kernel patch in xCAT MN in directory "/install/kernel

[2018-04-13 08:32] bybai commented on #5101
For problem 2:
In my case, based on above 1, OS is booted 4.14.0-49.el7a.bz1553205.page_fault_hang.ppc64le. hack_uname can  find ppc64le in string in following xcat.log. My postscript in osimage is defined as:
[code]
In xcat.log:
[code]
My xCAT build is as following, what is your xCAT build?
[code]

[2018-04-13 08:38] hu-weihua commented on #5100
@whowutwut , Not all the logs you pasted above come from xCAT code ``mlnxofed_ib_install.v2``. we call ``mlnxofedinstall`` script shipped in ``MLNX_OFED_LINUX-4.3-1.0.1.1-rhel7.5alternate-ppc64le.iso`` in ``mlnxofed_ib_install.v2`` . Some logs are the output of  ``mlnxofedinstall``.

[code]
So you can see, the parameters ``mlnxofed_ib_install.v2`` passed to ``mlnxofedinstall`` are ``--without-32bi

[2018-04-13 08:53] hu-weihua commented on #4996
We have offer [Performance Tuning](http://xcat-docs.readthedocs.io/en/latest/advanced/performance_tuning/index.html) in RTD. So close this issue.

[2018-04-13 08:53] #4996 closed

[2018-04-13 08:57] neo954 commented on #4804
This issue is verified with the latest build. I will close this one.

[2018-04-13 08:57] #4804 closed

[2018-04-13 15:15] whowutwut commented on #5100
@hu-weihua Ok, I think maybe that `--force` mellanox figured out it should be in interactive mode.  We had a dev build that broke and then we added the `--force` option.

Anyway... we might want to consider having our postinstall script be able to detect chroot or not chroot environment, but let's take this discussion offline.  A more simple solution here is that our documentation is incorrect, or

[2018-04-16 04:43] tingtli commented on #5053
verify with 4/13 build.
[code]

[2018-04-16 04:43] #5053 closed

[2018-04-16 06:07] tingtli commented on #4766
Verified with 4/13 build.
[code]

[2018-04-16 06:07] #4766 closed

[2018-04-16 08:48] zet809 commented on #4675
Close this story and covered by xcat2/xcat2-task-management#48

[2018-04-16 08:48] #4675 closed

[2018-04-16 09:31] hu-weihua commented on #4751
@whowutwut, could you help to verify this issue? thanks

[2018-04-16 09:31] hu-weihua commented on #1787
@whowutwut, could you help to verify this issue? thanks

[2018-04-16 09:34] hu-weihua commented on #5101
@markprez, could you help to verify this issue? thanks

[2018-04-16 13:26] gurevichmark commented on #5081
I am planning to add item 2 from above (make token expiration human readable) under #5082.

[2018-04-16 14:10] whowutwut commented on #5100
Thanks for making those changes @hu-weihua  I have merged and will close this issue.

[2018-04-16 14:10] #5100 closed

[2018-04-16 14:12] whowutwut commented on #4751
At this time I don't think we plan to do any changes here, will rely on documentation on how to use the `ondiscover` functions to customize site specific configurations.

[2018-04-16 14:12] #4751 closed

[2018-04-16 14:13] whowutwut commented on #1787
I am ok with the changes. Thanks @zet809

[2018-04-16 14:13] #1787 closed

[2018-04-16 16:04] gurevichmark opened #5111 "REST API does not respect the "host" setting in "policy" table."
If "host" field in "policy" table is not set, REST API calls from other hosts like `c910loginx01` work well.
But if "host" field in "policy" table is set to `"c910loginx01.pok.stglabs.ibm.com"` or `"c910loginx01"`, REST API call fails with:
[code]

[2018-04-16 21:09] gurevichmark commented on #5082
This issue will also be used to add "creation" time of the token and "last" access time of the token to the `token` table.
All times will be stored in human readable format.

[2018-04-17 06:17] bybai commented on #4892
Will closed this issue, if any updates, can re-open it.

[2018-04-17 06:17] #4892 closed

[2018-04-17 07:04] bybai commented on #4073
Hi @whowutwut , this error message should be warning message, it is just a reminder, I will commit a PR about it.

[2018-04-17 07:46] zet809 commented on #3006
Hi, @gurevichmark and @neo954 ,  after checking code, the module DFM 2 years also reuse the `vmcpus vmmemory vmphyslots vmothersetting vmnics vmstorage` for LPARs, but we can use `only_if         => 'mgt=kvm',` right now in Schema.pm since the DFM is out-of-support.
After modified, we may don't need to update document, as error msg will return if mgt is incorrect.

[2018-04-17 07:57] zet809 commented on #4481
A general issue for xCAT command, we not not plan to put effort on this, so close this issue.

[2018-04-17 07:57] #4481 closed

[2018-04-17 08:57] tingtli opened #5114 "rflash -d failed to activate firmware on DD 2.0"
xCAT 2.14 4/13 build

This is node information.
[code]

Here is the firmware information
[code]

Here is the process
[code]

[2018-04-17 09:31] xuweibj commented on #5114
CQ defect: SW425273

[2018-04-17 10:56] whowutwut commented on #4481
@zet809 seems like a usability issue if we can’t detrct the issue and print an error message. Can you fill out the correct label for this if we won’t fix it. Seems like something should be done...but maybe no time right now..

[2018-04-17 11:02] whowutwut commented on #5114
@xuweibj can you include some debug here in the issue? I’ll have to check the SW issue but there’s no explanation here about the failure.  Did you find a reason in journalctl or take a dump of the BMC?

[2018-04-17 11:03] whowutwut commented on #5114
@gurevichmark I think there’s no way to get a reason for failure on the REST call.  perhaps we should start that conversation with firmware team

[2018-04-17 13:30] gurevichmark commented on #5111
Do you think we should fix this? Perhaps if `xcatws.cgi` has the name of the host from which the request came, it can be forwarded to `xcatd` for checking against `policy` table ?

Or should we just change the docs, because currently this sounds like `host` attribute can be used for REST API:
[code]

[2018-04-17 13:54] jjohnson42 opened #5115 "sudoer postscript hardcodes 'rootpw' password."
sudoer postscript as written makes an xcat account with a hard coded 'rootpw' password.

[2018-04-17 14:08] gurevichmark commented on #5114
Recommendation from Adriana is to download a dump from the failed node and look at the journal info.
Perhaps we can print an info message when this failure happens with a suggestion for the user what to do?
Something like `Login to BMC and run "journalctl" command` or `Download a dump, untar it with "tar -xvf" and search for errors" ?

[2018-04-17 14:10] gurevichmark commented on #5114
For this particular node `mid08tor03cn01`, the problem appear to be disk space:
[code]
[code]

[2018-04-17 15:06] cxhong commented on #5098
looks like those error message will not affect anything, but we should get rid of those.
Currently, if chain attribute doesn't have other command defined after ondiscover,
[code]
the genesis and xcatd will get into a loop to keep process the ondiscover command until `nodeset nodename osiamge=xxxx` command issued.

@zet809 , can we add `standby` after ondiscover command for the nextdestiny?

[2018-04-17 20:14] gurevichmark commented on #5031
Item 3 from above is already in our code. Our code already allows creating a token and then using this token on REST API calls.
Nothing left to do for this issue.

[2018-04-17 20:14] #5031 closed

[2018-04-17 20:41] whowutwut commented on #2586
If we look at `chkconfig --list` on RHEL 7.5, there are very few services using sysVinit

xCAT product is 40% of this list...

[code]

[2018-04-17 21:11] whowutwut commented on #5114
@gurevichmark Yes, I had a thought about this too..  Normally when I see more than 2 BMC or HOST firmware show up on the list almost always is an out of space issue... perhaps something wrong is going on with the automatic clean up code to purge the older firmware...

@xuweibj if you subscribe @gurevichmark he can also follow up on the activity of the CQ issue...  they need a dump uploaded and rej

[2018-04-17 21:35] whowutwut commented on #4234
I had opened this issue to request function: https://w3.rchland.ibm.com/projects/bestquest/?defect=SW423045

No response yet.

[2018-04-17 21:37] whowutwut commented on #4970
@hu-weihua , @immarvin  assigned this to you, not sure if you have any idea about this above issue? ☝️

[2018-04-17 22:35] cxhong opened #5117 "Using copycd to generate cumulus OS image"
Based on this minidesign: https://github.com/xcat2/xcat-core/wiki/The-mini-design-of-syncfiles-for-cumulus, create this issue for step1.  open discussion for new plug in name and osimage name:
1) plug in name:  onie.pm, cumulus.pm or armel.pm ?
2) osimage name:  cumulus-3.5.2-armel ?
the output of cumulus os bin file:
[code]

[2018-04-18 01:46] hu-weihua commented on #4970
@oxcart400 , Thanks for using ``sysclone``. ``sysclone`` was developed few years ago, its framework can be used for different node, but need to specific coding for specific scenario. All supported scenario are listed in http://xcat-docs.readthedocs.io/en/latest/advanced/sysclone/sysclone.html#list-of-supported-arch-and-os.  Due to xCAT team has limited resource, unless we get business justificatio

[2018-04-18 03:05] tingtli commented on #5114
If I remember correctly, last time when the disk space is not enough, some firmware which is not in active state is removed before the new firmware is activated.

[2018-04-18 06:17] robin2008 opened #5118 "SLES12.3 supporting issue"
To verify the basic supporting for sles12.3 (x86_64, ppc64le),  now it seems still some issues there.

with the automation, we can get below error when enable `otherpkgs`:
[code]

[2018-04-18 08:35] robin2008 commented on #4717
This ticket include two different issues:
1, error/warn will not show server name, then user cannot determine which node need to be inspect.
2,to check dhcpd is in preprocess handler,  so it could not find the issue on service node when its dhcp is not running.

[2018-04-18 08:56] zet809 commented on #5111
Seems yes, OK, let me check that. Thx for point it out, @gurevichmark

[2018-04-18 09:00] robin2008 commented on #4717
show server name for  error/warn message is addressed in https://github.com/xcat2/xcat-core/pull/5119

[2018-04-18 09:06] robin2008 commented on #4717
The dhcpd issue is already covered in ca6024750fe81102a2c3f18b229f7c3dff9cba7a

[2018-04-18 09:36] immarvin commented on #5117
hi @cxhong , there is some update on the `copycds` part in https://github.com/xcat2/xcat-core/wiki/The-mini-design-of-syncfiles-for-cumulus

[2018-04-18 13:18] gurevichmark commented on #5114
Maybe because BMC is running older version of FW: `ibm-v2.0-0-r13-0-g3a160ac`, it does not have the function yet to remove FW in not active state for more space.

[2018-04-18 17:37] whowutwut commented on #5114
Seems like it's new enough to have it ... @gurevichmark can you follow up with FW team on Slack to verify that statement.  It seems like the filesystem is full so we can't generate a dump per @xuweibj 's comments to the SW issue..

[2018-04-18 19:52] whowutwut commented on #5117
@immarvin Going to comment about the first step documented in the mini design here, this task seems to track the copycds work item.   Can you create an EPIC for this and include this task into the epic..

I think you should provide the full path to the bin file in the osimage definition:

[code]

This will allow the user to specify a different bin file and putting multiple .bin files into that dir

[2018-04-18 20:42] gurevichmark commented on #5114
Chatted with Adriana, she said that version is from Nov 2017, but should have the storage management function there that removes non-active FW when activation is performed.
She promised to update SW425273.

[2018-04-19 01:49] tingtli opened #5121 "[FVT]:rspconfig failed to set bmc ip etc in some specific condition"
xCAT 2.14
When i specify the bmc ip, gateway and netmask to it's original value. The rspconfig returns error message.  This is for both python and perl version.
Here is some information for python version.

[code]
And here is some information on other nodes. The ip, netmask and gateway are correct.
[code]

Here is some information for perl
[code]

Developer has already debug this issue and open a

[2018-04-19 06:12] zet809 commented on #4989
Hi, @cxhong , you are right. The data after 6 have no '\n' in the end.

[2018-04-19 08:52] xuweibj commented on #4248
Debug record:

1. Add change status module for shell/standby state in "setdestiny" function in destiny.pm.

Scenario 1:
2. Run ``nodeset shell/standby`` against CN.
3. Check status of CN, it's "shell/standingby"
4. To let CN enter shell/standingby, run ``rpower boot``.
5. Check status, is "powering-on"

Scenario 2:
2. Run ``nodeset shell,standby`` against CN. It's same with the scenario 1 until ex

[2018-04-19 09:24] immarvin opened #5124 "/media/xcat/build/xcat2_autobuild/dailybuild_debian.sh"
some refinement request for `/media/xcat/build/xcat2_autobuild/dailybuild_debian.sh`:

1. To find out any connection issues,  more logs needed on the following steps to upload the tarball and packages to xcat.org:

[code]

2. need an option or environment variable to just upload the snapshot tarbal and repos to xcat.org of specified timestamp without any build process

3. an option to force build

[2018-04-19 09:33] immarvin commented on #2962
partial fix: https://github.com/xcat2/xcat-core/issues/2962

[2018-04-19 09:54] immarvin commented on #5117
the epic : https://github.com/xcat2/xcat2-task-management/issues/59

[2018-04-19 11:41] robin2008 opened #5125 "the behavior of restartxcatd looks odd"
First, we need some plugins running in xcatd,  and before it finishes, to run restartxcatd
[code]

We found that install monitor,  upd monitor are killed,  but main service and DB process still there.

[2018-04-19 11:46] robin2008 commented on #5125
Anyone know if any special design for `restartxcatd` on Linux?

[2018-04-19 11:52] robin2008 commented on #5125
Need test case to cover the restart scenario with unfinished request.

[2018-04-19 13:14] whowutwut commented on #5124
@immarvin For 3, it already exists... for the autobuild repo, the motd has the info in it: https://github.ibm.com/xcat2/autobuild/blob/master/motd/motd_ubuntu

[code]

I think what should happen here is that we need to add some checking to the build scripts, if it fails to upload, we should inject a message into our xcat slack channel to flag this error.   All errors should result in a msg posted

[2018-04-19 17:23] cxhong opened #5126 "Support nodeset <switch> osimage command for cumulus switch"
for Epic:
https://github.com/xcat2/xcat2-task-management/issues/59

nodeset performs the following operations:
(1) find the ".bin" file under the first entry in osimage.pkgdir, then copy the ".bin" to /install/osimages/cumulus3.5.2-armel
(2)assign the node.provmethod to the osimage name
(3)run "makedhcp -a ", generate the dhcp lease with full path to the bin file in default-url option

nodeset mid

[2018-04-19 20:05] gurevichmark opened #5127 "REST API does not work for OpenBMC nodes."
Several REST API calls do not work when directed against OpenBMC nodes, but work ok for IPMI nodes

* `rpower` seems to work
[code]

* But `rinventory`, `reventlog` and `rvitals` does not return anything
[code]

* Running same `curl` against IPMI nodes, returns data:
[code]

[2018-04-19 20:32] cxhong commented on #5126
@immarvin ,  what's reason to copy `.bin` to a new location?  the `.bin` will be in the `osimage.pkgdir` already. I think the `default-url` can just point to `osimage.pkgdir`

[2018-04-20 02:46] xuweibj commented on #5114
This is issue of firmware, move to next sprint.

[2018-04-20 02:47] xuweibj commented on #5121
This is issue of firmware, move to next sprint.

[2018-04-20 03:32] xuweibj commented on #4243
After checking our code, I think output like ``10.6.3.100,,,,,mp,bmc,,,70e284142897`` or ``10.6.3.100,,,,,mp,bmc,70e284142897,,`` is better. If we use mac in place of model, we need more code to distinguish the value whether "mtm" or "mac" when format output and write to db.

[2018-04-20 03:45] robin2008 commented on #5125
After more investigation,  it is just a systemd compatible issue.
`restartxcatd` will just run `xcatd -p xxx` to fast reboot the current daemons,
- create a new process and wait the old to finish all its running plugins
so there would be two SSL
[code]
But systemd does not know it, it just show the old ones.

[2018-04-20 05:35] chenglch commented on #4951
@kcgthb , the fix for this issue has been fixed in [xCAT 2.14](https://github.com/xcat2/xcat-core/wiki/XCAT_2.14_Release_Notes), if any problem, feel free to reopen this issue.

[2018-04-20 07:06] hu-weihua commented on #3183
close this task, replaced by xcat2/xcat2-task-management#69

[2018-04-20 07:06] #3183 closed

[2018-04-20 09:32] immarvin commented on #5126
ok, the /install directory is accessible in http server

[2018-04-23 01:58] robin2008 opened #5131 "[healthy check] To check if logging of xcatd is still alive"
`xcatd` depends on syslog to log its log message and using `rsyslog` into `/var/log/xcat/cluster.log`

Some upgrade will change `rsyslog` configuration, and also user might customize rsyslog by wrong,  it is required to have some kinds of capability to check it. (like `xcatprobe`)

And it is recommended to run it after upgrade,  or put `xcatprobe mn` into cron for check the health periodically.

F

[2018-04-23 02:10] robin2008 commented on #5131
Below is suggested way:
    - checking the service status (rsyslog, journald)
    - issuing a checking log and to see if it could be seen in /var/log/xcat/cluster.log*

For service nodes, there might be more special when customize the node attributes.

[2018-04-23 07:31] bybai commented on #2659
There is no any code changes for this issue now, so remove testcase_requested label.

[2018-04-23 13:06] #4073 closed

[2018-04-23 13:36] #5111 closed

[2018-04-23 18:38] cxhong commented on #4946
@whowutwut , I verify this issue on the boston02.  I think it's working as expected.

[code]
Change to DHCP ip address
[code]

DHCP message from /var/log/message:
[code]
Checking ip address of BMC
[code]
...................
IP Address Source       : DHCP Address
IP Address              : 172.21.253.154
Subnet Mask             : 255.255.0.0
MAC Address             : 0c:c4:7a:f4:5b:01
SNMP Community

[2018-04-23 23:00] kcgthb opened #5134 "RFE: console broadcast mode"
I'd like to request an enhancement for the `rcons`/`wcons`, ie. the ability to broadcast commands to several consoles at once, similar to https://github.com/dun/conman

The rationale is that some older machines don't have very good management capabilities, and often require interactive input, such as BIOS menus. Having the possibility to input the same control sequences on multiple consoles simult

[2018-04-24 02:45] bybai commented on #4073
Hi @zet809,
In 2, it is correct, the script  /install/mlnxofed/MLNX_OFED_LINUX-4.1-4.0.0.1-rhel7.4-ppc64le.iso... is in the node group, this is why it gets appended to the end.
[code]

For 1, @whowutwut, if postscripts are already included in the 'xcatdefaults', `chdef` command should print "warning", I have fixed it, please verify it.

[2018-04-24 09:33] hu-weihua commented on #3346
Replace by other task xcat2/xcat2-task-management#102.  close this one.

[2018-04-24 09:33] #3346 closed

[2018-04-24 09:38] hu-weihua commented on #1805
Test case ``linux_diskless_kdump`` was added by pull request #4964

[2018-04-24 13:45] #5082 closed

[2018-04-24 20:06] #5006 closed

[2018-04-25 02:58] tingtli commented on #1612
I think go-xcat cases covers this scenarios. The problem is that we don't run the test against rhels6.3. So i remove the test_case requested label on this issue.

[2018-04-25 03:09] hu-weihua commented on #1132
I think this issue can be covered by our daily regression test, we need not to add additional test case for it. So remove the ``testcase_added`` label.

[2018-04-25 03:25] hu-weihua commented on #3483
close this one and replaced by  xcat2/xcat-core#111

[2018-04-25 03:25] #3483 closed

[2018-04-25 03:36] hu-weihua commented on #3485
close this one and replaced by xcat2/xcat-core#112

[2018-04-25 03:36] #3485 closed

[2018-04-25 05:04] robin2008 commented on #5125
Need a simple systemd unit file for xcatd,  using `fork` mode is simplest way to let `restartxcatd` work as previous (The previous SSL/DB will not be killed when children plugins not finished ).

[2018-04-25 05:15] robin2008 opened #5139 "Minor enhancement on xcatsnap"
rsyslog configuration is key to xcat log mechanism, and found that some cluster cannot generate xcat related log file as user customized rsyslog configuration.

1, It is valuable to get those config files from problem node for `xcatsnap`.
2, some message need to be enhanced, for example,

    contain the year in the time stamp
    change msg to be: Creating <file>, send to IBM Support.

[2018-04-25 07:51] techie879 opened #5140 "Node discovery using MAC address"
Hi,

we finally got to the point of starting to use xcat in our cluster environment.    One question that always came from other sysadmins in the team -- for node discovery, if there is a way to the MAC address of the system instead of UUID.  We have considered manual discovery for nodes  ( as we have different kinds of nodes) and having to use UUID is a bit confusing than using a MAC address and

[2018-04-25 08:10] immarvin commented on #5140
hi @techie879 , thanks for your interest on xCAT.

on this feature request, do you mean you want to predefine MAC in node definition, then matching the nodes according to the predefined MAC and MAC discovered ?

`we finally got to the point of starting to use xcat in our cluster environment`, do you mean you have migrated your cluster from other cluster admin tool to xCAT? would you please describ

[2018-04-25 08:12] zet809 commented on #5140
Hi, techie879
 
Glad to hear the news that you choose xCAT for your cluster setup. And try my best to understand your question.
If you know the mac address of your nodes, you can define it directly as a node object in xcatdb following the document http://xcat-docs.readthedocs.io/en/stable/guides/admin-guides/manage_clusters/ppc64le/discovery/manually_define.html
 
And xCAT also support auto discov

[2018-04-25 09:54] zet809 commented on #3902
HI, @samveen , not quite understand what you mean by Actual node status: sudo PATH=$PATH bash -c 'xdsh all  "tail -n1  screenlog*|cut -f1 -d,"' ?
[code]

[2018-04-25 13:05] gurevichmark commented on #5127
@zet809 If you are not planning to work on this in the near future, I would like to take a look at this issue.

[2018-04-25 14:08] gurevichmark commented on #5127
The problem appears to be the parsing in

openbmc nodes produce this format:
[code]
ipmi nodes produce this format:
[code]

[2018-04-25 20:04] whowutwut opened #5141 "go-xcat fails when there are invalid repo configurations on the machine"
Errors in the local os repo on the MN will cause `go-xcat` to not work at all.

[code]

Here's the RHEL os local repo did not exists since it was deleted.  Is this something that we can ignore or does yum kill the go-xcat script?

I've since fixed it on the MN node, but saved the yum.repos.d config here in my home dir `/u/vhu/tmp/backup.yum.repos.tar.gz`

[2018-04-25 20:18] whowutwut opened #5142 "updatenode without options causes command to crash"
Running updatenode without any options causes "crash"

[code]

This should print out the help...

[2018-04-26 00:58] whowutwut commented on #5100
@hu-weihua Today I'm testing diskful install of the MLNX OFED, and i only had the option `--add-kernel-support` , but then in the installer, the force option was NOT set by the `mlnxofedinstall` script on the ISO and was waiting for the prompt.

Is this some new behavior?  Maybe by adding `--force` the installer will add it twice?

[2018-04-26 03:02] xuweibj commented on #5131
Check items:
1. rsyslog config: ``rsyslogd -N1``
2. rsyslog process: ``ps -A | grep rsyslog``
3. rsyslog service: ``service rsyslog status`` | ``systemctl status rsyslog.service``
4. Try to add log ``logger -p local4.debug -t xcat 'xcatprobe rsyslog checking'``, check whether in /var/log/xcat/cluster.log*

[2018-04-26 07:52] immarvin commented on #5142
fixed in https://github.com/xcat2/xcat-core/pull/5123

[2018-04-26 08:00] hu-weihua commented on #5100
@whowutwut , I compared the source code of ``mlnxofedinstall`` in MLNX_OFED 4.3-1.0.1.1 and 4.3-2.2.2.5, there are some change, but I don't think these change will affect the process which we care about.

I picked some important code from the main process of ``mlnxofedinstall``
[code]

The code from ``invoke_add_kernel_support``
[code]
The code from ``main``
[code]

It seems ``mlnxofedinstall`` ju

[2018-04-26 10:15] hu-weihua commented on #3289
Test case has been added by #3609.  Remove ``testcase_requested`` label

[2018-04-26 15:28] whowutwut commented on #3289
@hu-weihua For future, is it possible to show the output of the testcase in the PR?

First the failure from the testcase, then update xCAT with the fix and show that the testcase works...  Otherwise, this has to be executed by the author of the testcase right, so it should be copy/paste... Otherwise how do we validate it?

[2018-04-26 20:07] whowutwut commented on #5141
This is low priority, could simply work around by fixing the repo...

[2018-04-26 20:15] whowutwut commented on #5100
Thanks for that confirmation, I updated the source code directly on GitHub, i know this is not normal procedure, but doing a PR for this small change seemed a lot overhead.  Sorry.  The following commit shows adding the `--force` option to diskful install guide to be safe so that the installer does not prompt the user if they are following our docs.

https://github.com/xcat2/xcat-core/commit/63376

[2018-04-27 07:12] hu-weihua commented on #3289
@whowutwut After we added a test case, as long as this case can be run in automation environment, fvt will add it into daily regression.

Below is the daily regression result of test cast "chdef_site_check" added by pr #3609

[code]

Of cause, I will notice fvt to add output of the testcase in pull request.

[2018-04-27 18:09] gurevichmark opened #5145 "REST API does not work for rbeacon"
1. Should provide a GET `rbeacon` function, which is currently missing.
2. REST API does not return anything for `rbeacon` set function, but the doc example shows output. Perhaps just a doc change is needed.

* IPMI Node:
[code]

* OpenBMC Node:
[code]

[2018-04-27 18:17] gurevichmark opened #5146 "REST API for policy returns not useful data"
REST API for policy returns not useful data:
[code]

It should return something similar to:
[code]

[2018-04-27 18:28] gurevichmark opened #5147 "REST API for table should better handle non-existent tables"
CLI handles it well:
[code]

But REST API should be better:
[code]

[2018-04-30 16:11] gurevichmark opened #5148 "REST API problems for table rows with attributes"
REST API allows us to extract table rows that match specified attributes.
For example to get all network table rows with `netmask=255.0.0.0`:
[code]

There are several problems with this type of REST API.

1. Even though there are several rows that match the above attribute, only one is returned:
[code]
[code]

2. If attribute name is invalid, data returned by the REST API call is not very useful:

[2018-04-30 20:24] gurevichmark opened #5150 "tabch and tabdump commands can not deal with invalid attribute names"
Both `tabdump` and `tabch` commands hang when given invalid attribute name.
For example, this works
[code]

But this hangs:
[code]

Similarly, this works:
[code]

But this hangs:
[code]

[2018-04-30 21:16] gurevichmark opened #5151 "tabch command displays plugin error when trying to delete entry from invalid table."
`tabch` command seems to be able to deal with invalid table when attempting to add or change table attribute:
[code]

But when trying to delete an entry from invalid table, plugin error is displayed:
[code]

[2018-05-01 14:06] whowutwut opened #5152 "Testcase xcatd_start enhancement to have debug data in order to validate results ..."
The TravisCI testcases has been failing for some time with `xcatd_start` testcase.    I think it might be something introduced with SSL Listener problem, will let @gurevichmark create another issue to track that.

This issue is to enhance the testcase to be able to debug with data captured during the run.  This is an issue with a lot of test cases where on the success case, it works, but on failur

[2018-05-01 14:26] gurevichmark opened #5153 "Several SSL listener processes running"
Maybe this is related to #4996 , but on some of our machines there are several `SSL listener` processes running:

[code]

[code]

I am not able to recreate this, but it also appears to happen during the Travis testing, #5152

[2018-05-02 01:09] jbaksta opened #5154 "Running genimage using RHEL 7.4 and EPEL7 air-gapped repos, erroneous package added"
When I run genimage on a RHEL 7.4 management server (xCAT 2.13.10), using air-gapped RHEL 7.4 and EPEL 7 repos, yum continuously installs the php-horde-passwd package and I cannot figure out why this may be and I've made sure that no php* dependent packages or php itself is in my pkglist file, but still every time it want's to install php-horde-passwd and then request to install all dependent pack

[2018-05-02 02:46] immarvin commented on #5153
hi @robin2008 , any idea on this? seems there is no dangling request process under xcatd

[2018-05-02 05:47] robin2008 commented on #4936
Never hit it more, to close it first.  If we found it again, just reopen.

For the logs of agent.py, it is better to leverage python's logging,  and now there might be multiple agent process,  the default logging is not suitable,  need to consider something like `ConcurrentLogHandler `

[2018-05-02 05:47] #4936 closed

[2018-05-02 06:58] hu-weihua commented on #5152
@whowutwut, I have updated test case ``xcatd_start`` through PR #5155 . If the debug information is still not enough for you, just let me know, I will add more. thanks.

[2018-05-02 08:16] robin2008 commented on #5153
[code]
SSL listener just wait for all children quit, and the children is pending.

[code]

[2018-05-02 08:26] robin2008 commented on #5153
After `kill 44540`, we can see two DB connection process is quit,  but SSL listener (44539) is 100% CPU, using strace to attach it and see below:
[code]

[2018-05-02 08:36] immarvin commented on #5154
hi @jbaksta , would you please provide :
1) the osimage definition
2) the screen log of `genimage` when you see the installation of`php-horde-passwd`? you can capture if by `genimage <osimage> > /tmp/genimage.log 2>&1`

thx

[2018-05-02 16:15] jbaksta commented on #5154
[code]

[2018-05-02 16:46] jbaksta commented on #5154
[genimage-t2018.03.log](https://github.com/xcat2/xcat-core/files/1968163/genimage-t2018.03.log)

[2018-05-02 17:56] gurevichmark opened #5158 "[OpenBMC] Improve rinv performance for commonly used options"
Currently `rinv <node> <option>` calls REST to extract all the inventory data from BMC `/inventory/enumerate` and then displays only the information for a specified `<option>`. That could take around 10 seconds.
We can improve the performance by calling REST specifically for the data requested, for example `/inventory/serial`.

Related to #3889

[2018-05-02 18:33] whowutwut opened #5159 "Trying to only remove xCAT-genesis-base removes base xCAT rpm.."
With the work around for Power9, we have documented a procedure to build xCAT genesis-base in house with the correct RHEL kernel.  This rpm has EPOCH: 3 so it does not get overwritten by new versions of xCAT-genesis-base that xCAT ships.

However, when trying to uninstall the custom genesis-base to install the one provided by xCAT, it removes xCAT base rpm:

[code]

Once I removed this, I had to r

[2018-05-02 19:48] whowutwut commented on #5159
Trying to fix this is also a big mess, I was able to install

[code]

Then ran `yum install xCAT`

But as you can see there are files missing on the ppc64 end of things... so not 100% sure what happened...
[code]

[2018-05-02 20:07] whowutwut opened #5160 "Building xCAT-genesis-base , missing ntp-wait"
@zet809 Maybe you can take a look at this...

I built xCAT-genesis-base using the latest builder here: http://xcat.org/files/xcat/xcat-dep/2.x_Linux/beta/ and modified the spec file to 2.14 version.

But when deployed I see this message:
[code]

And evident on the rpm too:
[code]

But on the fs2vm111 build machine used, it is there:
[code]

Something missing?

[2018-05-03 02:17] bybai commented on #4073
@zet809, this issue is verified by `chdef` command automation test case, I closed it.

[2018-05-03 05:47] robin2008 commented on #5159
Normally, do it with below steps:
[code]

[2018-05-03 06:08] robin2008 commented on #5154
@jbaksta
From the log, it seems `php-horde-passwd` required by some packages,  so it will be installed, but in the `postinstall`,  your script will remove it.
[code]
Then it will be installed every-time when genimage.

[2018-05-03 07:17] #5033 closed

[2018-05-03 13:11] samveen commented on #3902
@zet809 The issue was that some node status updates to xcatd were not reflected in the `lsdef -i status` for a decent percentage of newly discovered nodes.

[2018-05-03 13:41] gurevichmark opened #5165 "REST API test script refactoring"
Need to refactor, clean up and add certificate support for REST API test script `restapitest`

[2018-05-03 19:01] kcgthb opened #5167 "pcons?"
Hi!

The documentation mentions a `pcons` tool in  https://xcat-docs.readthedocs.io/en/stable/guides/admin-guides/manage_clusters/ppc64le/parallel_cmd.html, and the RPMs install a manpage for it, but I can't seem to find it anywhere. Has it been removed from the toolkit?

[2018-05-03 19:14] gurevichmark commented on #5167
I do not know the history, but perhaps `pcons` got replaced by `wcons` ?

[2018-05-04 03:11] chenglch commented on #5167
I also do not know the history, `pcons` command is missing, maybe we need to delete the doc and man page about it. I will take action when the investigation is done.

[2018-05-04 07:44] robin2008 commented on #4707
address it with #5163

[2018-05-04 07:44] #4707 closed

[2018-05-04 08:28] xuweibj commented on #3902
Hi @samveen , I have tried to fix this issue in pull request #5136 . Could you help to verify it use new version?

[2018-05-04 09:16] immarvin commented on #4876
cannot recreate this, close first, please reopen it if any update

[2018-05-07 07:49] bybai opened #5170 "[HA]create shared-data based xCAT MN HA user case"
* [x] create  shared-data based xCAT MN HA user case

[2018-05-07 08:31] bybai commented on #5170
**The draft of the xCAT MN HA user case:**
As a xCAT user, I have host1 and host2 with the same shared data directory, I want to configure xCAT management node HA rapidly.

**Pre-requirements for User:**
    host1  host2
    shared data directory
    Virtual IP

**Setup 2 xCAT MN nodes**:

1. I manually create directories as xcat recommended in share-data directories
2. I manually create xcat data

[2018-05-07 08:51] zet809 commented on #4989
Hi, @cxhong , will you pls help cover this issue? Thx!

[2018-05-07 14:50] #5147 closed

[2018-05-07 14:51] #5127 closed

[2018-05-07 14:58] gurevichmark opened #5171 "REST API needs to support templates object type"
The definitions of xCAT REST API appears to have support for `template` object type, but it is not exposed in the documentation and does not appear to work.

Existing definition:
[code]

But running it:
[code]

[2018-05-08 01:26] zet809 commented on #5126
hi, @cxhong and @immarvin , what is the status of this task, have it been finished?

[2018-05-08 02:18] immarvin commented on #5126
the task is finished, close it

[2018-05-08 02:18] #5126 closed

[2018-05-08 02:40] robin2008 opened #5175 "postinstall support run custom scripts from a directory"
`postinstall` is used when run `genimage`,  user could customize the osimage attribute to specify their own scripts. For easy to use, it is better to specify a directory. For example,
`/opt/xcat/share/xcat/netboot/rh/compute.rhels7.ppc64le.postinstall -p /install/xcat/osimages/rhels7.5-alt-rc2-ppc64le-ANSIBLE-netboot-compute/postinstall.d`

the order of script running will depends on alphabetical

[2018-05-08 03:06] #274 closed

[2018-05-08 05:52] robin2008 opened #5176 "rflash operation cause 100% CPU"
When doing an rflash to switch back to a previously firmware, Observed 'top' on one service node and the rflash main process is using 100% cpu.  And using `strace -p`, got below:
[code]

[2018-05-08 05:54] robin2008 commented on #5176
I think this is caused by
`while ((my $cpid = waitpid(-1, WNOHANG)) > 0) {` in openbmc.pm plugin

we need to fix the wrong using of NOHANG waitpid.

Pay attention to python version too.

[2018-05-08 05:58] zet809 commented on #5176
Hi, @xuweibj , will you pls help take a look at this issue? Thx!

[2018-05-08 06:08] zet809 commented on #5140
hi, @techie879 , any updates?

[2018-05-08 06:27] zet809 commented on #5142
Verified as below, so close this issue.
With 2.14:
[code]
After updata xCAT to 2.14.1:
[code]

[2018-05-08 06:27] #5142 closed

[2018-05-08 06:32] immarvin opened #5177 "node discovery failed due to large "findme" request packet"
this is a issue reported by customer

The maximum discovery packet size xcatd can handle is 1500 B,
[code]

we need to look at the `dodiscovery` script, whether it is possible to reduce the packet size by throwing away unneeded information.

[2018-05-08 06:40] zet809 commented on #5177
Hi, @cxhong , will you pls help to 1st check with customer how does the jumbo findme request create?

[2018-05-08 06:46] robin2008 opened #5178 "Update doc for Performance Tuning"
Two issues need to be covered in the doc:
1, it should be `nofile` instead of `nofiles` for number of files
2,need to increase `net.core.somaxconn` to 8192 so that the listen queue for 3001 could have more pending requests.

[2018-05-08 07:29] bybai commented on #5148
Hi @gurevichmark ,  I think you want to delete a row with a invalid attribute like "masks=255.0.0.0" in networks table, I tried to reproduce "3.Asking to delete a row for a matching attribute, hangs until it times out" in my MN,  the output is nothing, I do not hit "504 Gateway Timeout". Could you re-check it?

[2018-05-08 09:42] #5117 closed

[2018-05-08 09:44] robin2008 commented on #5139
1, Just append `/etc/rsyslog.conf` and `/etc/rsyslog.d/* ` into backup lists
2, modify the logfile and tarball file name with `year` info
3, print `Compressing ...` to screen so that user know it is running, instead of stuck.

[2018-05-08 10:35] robin2008 commented on #5139
Address it in https://github.com/xcat2/xcat-core/pull/5180

[2018-05-08 17:16] techie879 commented on #5140
Hi Guys,
Sorry, I could not get to this earlier.

So, here is an update.  We have worked around the problem with manual discovery with our current wrapper script to provision a node.  We introduced a wrapper script that would allow other admins to quickly run the script to provision a node, update a node, remove a node from xcat, etc. . As we cant do MTMS discovery and switched-based discovery, we

[2018-05-09 02:43] bybai commented on #5148
Hi @gurevichmark, I think someone may debug on stratton01 that cause timeout, I tried `lsxcatd -v` on stratton01, it returns after a long time. You can retry on briggs01, the following REST API return nothing on briggs01.
[code]

[2018-05-09 06:05] robin2008 commented on #5150
See many  internal error logs related to such operations:
[code]

And xcatd does not handle the plugin which is die, and will leave a zombie there.

[2018-05-09 07:10] immarvin commented on #5140
hi @techie879 , what ROCKS does is keep on listening  DHCP discover/request on the MN's NIC in the provision network, the server will send out dhcp discover packets on power on, the mac and other information in the dhcp packet will be parsed, then insert the node definition including the mac info as well as other useful information in dhcp packet into DB. this method is simple, but have some restr

[2018-05-09 07:25] robin2008 commented on #5150
And it seems the root cause by `delEntries`, as we don't find the hang on other MN.
[code]

For example,
[code]

[2018-05-09 07:40] robin2008 commented on #5150
After I kill `48192`, all is fine, it might lock the Sqlite file when die due to some unexpected error in plugin.

[2018-05-09 09:30] robin2008 commented on #5150
So here are two issue:
1, run restapi will cause DB error
2, when DB error,  the plugin cannot be quit with error, and it cause the SSL listener stay after restartxcatd

[2018-05-09 17:56] gurevichmark commented on #3889
@whowutwut What do you want to do for a case like this:
`rinv <node> model abc cpu` ?
Return an error message saying the `abc` option is invalid or display results for `model` and `cpu` plus a warning message that `abc` option is invalid ?

[2018-05-09 18:02] gurevichmark commented on #5148
@bybai Strange that it is different on briggs01. It does not timeout, but still a problem, since an error should be returned saying that `masks` is not a valid attribute. I am hopping that PR #5184 will fix this.

[2018-05-09 18:51] #5139 closed

[2018-05-10 06:13] tingtli commented on #2578
case is added in https://github.com/xcat2/xcat-core/pull/5188

[2018-05-10 06:36] hu-weihua opened #5191 ""packimage -m tar" should be the default option of "packimage" for some sepcific OS"
For ``rhels7.5``, ``rhels7.4``, ``ubuntu14.04.4``, must use ``packimage -m tar`` to package image, otherwise some link in the image will in incorrect status, non-root user will failed to run some command, suck like ``ping``. Refer to issue #922, PR #1602 and #1554.

If this is true, ``-m tar`` should be the default option for these kinds of OS.  PR #5187 has made ``-m tar`` as the default option f

[2018-05-10 06:39] immarvin commented on #5191
fixed in https://github.com/xcat2/xcat-core/pull/5187

[2018-05-10 07:58] hu-weihua opened #5192 "Ping not working for non root users on nfs based statelite compute node"
After provisioning a nfs based statelite compute node, non root users can not run ``ping`` command.

[code]

[2018-05-10 07:59] immarvin commented on #5192
hi @bybai , would you please take a look at this? thx

[2018-05-10 07:59] hu-weihua commented on #5192
refer to #922

[2018-05-10 08:52] zet809 commented on #5098
Hi, @cxhong, you are right that both `runcmd` and `ondiscover` will run into loop with `nextdestiny`, try fix this in #5194, pls help to review. Thx!
But, for the error msg here, still need to fix.

[2018-05-10 09:00] bybai commented on #5192
@hu-weihua , add the following line into `litefile` table, then execute `liteimg <osimage>; rinstall <cn> osimage`, can resolve this issue. let me consider if add notes in statelite doc.
[code]

[2018-05-10 17:02] gurevichmark commented on #3889
Decided to stop as soon as invalid option is detected.

[2018-05-10 19:37] whowutwut opened #5196 "Inconsistent disk selection on servers with multiple disks"
@cxhong  and I are loading software on Supermicro Big Data servers (in this case p9 Boston).  Doing a generic `rinstall` of the node with a RHEL 7.5 GA image seems to pick different disks to install on.

I noticed this when standing in front of the server....

The first server picks the 5th disk ... because I see the active light flashing ...
![image](https://user-images.githubusercontent.com/1004

[2018-05-11 02:13] zet809 commented on #5196
Can we log on these 2 hosts to collect some information about the hard disks?
1. If the WWN of harddisk available, will use WWN to sort the disks.
2. If not get WWN, use pcie path

[2018-05-11 03:30] xuweibj commented on #5196
Hi @whowutwut ,
For boston32, if no OS has been installed on any disk, we will choose the one with the smallest WWN value. (All disks' driver are the same.)
[code]
From the info above, we will choose ``sde`` as the install disk.

But for boston30, just 2 disks on it. Is this the 2rd one?
[code]

[2018-05-11 08:56] zet809 commented on #5160
I have rebuid a genesis-build and upload to xcat.org, and have updated 2.14 release notes.

[2018-05-11 09:20] hu-weihua opened #5198 "Test case packimage_imagename and rmimage_diskless need to be updated for new change in PR 5187"
Due to xcat use ``tar`` as default way to package image by PR #5187, some ``cpio``check in test case ``packimage_imagename`` and ``rmimage_diskless`` are outdated. Need to modify these cases.

[code]

[2018-05-11 09:58] robin2008 commented on #5178
Fix it in #5199

[2018-05-11 12:39] mattaezell opened #5200 "Need a way to disable restarting openibd in configib"
https://github.com/xcat2/xcat-core/blob/dfca6c2289b8468fc71a7c7534a1234cf5ef970f/xCAT/postscripts/configib#L670

I believe this line is causing issues during full cluster reboots.  Based on the git history, it has been there quite a while.  Is it still relevant for modern operating systems?  Would it be sufficient to just `start` the service in case it was not previously enabled?  If some people d

[2018-05-11 15:00] #5158 closed

[2018-05-11 18:48] whowutwut commented on #5196
@xuweibj I did not investigate this much yesterday, but I think i counted the drives wrong, i was counting top -> botton, left -> right, but I think it goes bottom -> top, left -> right.

So the 5th drive is chosen from the 1st server , and the 1st drive is chosen from the 2nd server

We should have 10 drives in the 1st server (but I have to check physically..)

Looking at this documentation under

[2018-05-14 05:55] neo954 commented on #5200
@mattaezell, It is great if you can provide detail information about the "causing issues" you met. Any problem reproduce steps, outputs, and error messages are welcome.

The `openibd` init script is used to load all the necessary kernel modules on boot up. While the end user run `configib` with xCAT. There might be a hardware change. Thus `restartservice openibd` might be needed. It should not cau

[2018-05-14 06:09] hu-weihua commented on #5200
It seems this line was already here when this script was first generated.  I though the original author followed the document of Mellanox  to code like this.

[2018-05-14 06:45] bybai commented on #5200
Hi @mattaezell and @whowutwut ,
`configib` make changes to the configuration file (/etc/rdma/rdma.conf or /etc/infiniband/openib.conf or /etc/modprobe.conf). I think ` restartservice $ib_driver ` is to take effect for changes to the confiuration file.
So here can add a variable to record if these configuration files are changed or not, if there are changes happen, should execute `restartservice $i

[2018-05-14 11:36] mattaezell commented on #5200
@neo954 We are working through some CORAL full system boot time/functionality issues.  We are working with Mellanox to debug a problem where so many IB traps are sent to OpenSM that processing ports coming up becomes delayed.  Open one terminal and start tail'ing the OpenSM log (on UFM it's `/opt/ufm/files/log/opensm.log`).  In another terminal, login to an xCAT client node and run `systemctl rest

[2018-05-14 19:57] #5145 closed

[2018-05-15 01:59] zet809 commented on #3137
Hi, @dspatil7768 , sorry, I must miss this issue, have the rcons issue resolved? If not, pls check 2 things:
[code]
If the output is xxx disabled, can enable it by:
[code]
Pls let me know if it works. Thx!

[2018-05-15 02:12] zet809 commented on #4243
Hi, @whowutwut , the PR #5129 may have fixed this issue, do you think we can close this defect?

[2018-05-15 03:32] robin2008 opened #5207 "Document how to leverage exlist and synclist to exclude sensitive things from diskless root image"
`exlist` is an attribute of diskless osimage, and normally used to exclude files when run `packimage` for getting a small size.

Also, it could be used to exclude some sensitive files (e.g, certificate files installed when `geniamge`), and to sync them via `synclist`.

[2018-05-15 03:42] neo954 commented on #3960
Hello all,

I believe only a few items in the list were clarified, most of them are not. And I think the documentation xCAT provides is from an xCAT developer's view, not from an xCAT user's view.

* [ ] Where the latest firmware can be found?
* [ ] How to distinct OpenPOWER BMC (using IPMI) machine and OpenPOWER OpenBMC machine?
* [ ] Which machine models can use HPM file for its firmware updatin

[2018-05-15 03:44] neo954 commented on #3960
And I think, in the xCAT user document, the internal codename, like `witherspoon` should be avoid.

[2018-05-15 06:11] robin2008 commented on #5153
After add print message in codes, and found that the `$pid_UDP` does not be set to zero when the UPD child process is quit.  It will case the SSL block at the quit stage.

Check the `ssl_reaper`, fount that the below codes might cause such issue.
[code]
if the UDP is reaper here and udpctl is 0, `$pid_UDP` will not be clean.

[2018-05-15 06:17] robin2008 commented on #5153
Another possible cause is that the PID is not removed from `%immediatechildren` rightly when do `plugin_reaper`.  It might cause the case process is away but `%immediatechildren`  contains dirty data.

If then, need to check the remaining PID is alive.  But we do Not consider this time.  Here we want to modify:
- using non-block `waitpid` when SSL quit, and add a bit more logs
- fix the `ssl_reape

[2018-05-15 06:37] xuweibj commented on #5196
@whowutwut

The logic in getinstdisk is that will choose the disk with the smallest WWN.

For boston30, sda is the one with smallest WWN, so choose sda.
[code]

For boston32, sde is the one, so choose it.

[2018-05-15 09:36] leiocalyx opened #5209 "Error: Unable to find pxelinux.0 when attempting to use nodeset"
[code]

With `netboot=pxe` I was trying to assign an image:
[code]
I've dug a bit, and found mentions of `pxelinux.0` in [xCAT-server/lib/xcat/plugins/pxe.pm](https://github.com/xcat2/xcat-core/blob/1ca955a33da60d21f16be84278ffa06f8cf45918/xCAT-server/lib/xcat/plugins/pxe.pm)
It was checking two directories `/usr/lib/syslinux/pxelinux.0` and `/usr/share/syslinux/pxelinux.0` but neither existed on

[2018-05-15 13:55] cxhong commented on #5177
waiting for Wesley or his team to recreate this issue

[2018-05-15 14:52] whowutwut opened #5210 "Question about device output when MOFED installer is running in diskless genimage process"
In `genimage` when running the mellanox installed v2 script to build the MOFED rpms, we get this message coming out:

[code]

So genimage is running against a chroot environment to the rootimg dir, but this adapter that is printed out is the adapter on the Management Node where I'm running `genimage`...

[code]
So this is a little misleading....

@hu-weihua  This could be printed out by the Mellan

[2018-05-15 20:52] whowutwut commented on #3960
@neo954  You bring up good comments, I answered some of them inline ☝️   @gurevichmark can you reply to the above where I've mentioned?

* Here's a sample of a support matrix table that we _could_ create....

  | Server | Code name | Model | Power | BMC Management |
  |----|----|----|--|---|
  | 8335-GTA | Firestone | IBM Power Systems S822LC for HPC | Power 8 LE | IPMI |
  | 8335-GTB  | Minsky |

[2018-05-15 21:05] whowutwut commented on #4243
ok let's close. Thanks

[2018-05-15 21:05] #4243 closed

[2018-05-15 23:57] immarvin commented on #5209
hi @bybai , would you please take a look at this? thanks

[2018-05-16 05:55] robin2008 commented on #5176
Now we make some enhancement in #5208, need to verify on the problem environment to see if it is working.

[2018-05-16 06:08] zet809 commented on #3960
hi, @whowutwut ,the table looks great, maybe we can add another column to link to different document for different Server type

[2018-05-16 06:25] GeoKM opened #5213 "Infrastructure PDU's not responding as expected"
Hi,
I have a room full of IBM Switched and Monitored smart PDU's with the following specs and FW level for example .
PDU-R04A: PDU Software Version: "OPDP_sIBM_v01.3_3"
PDU-R04A: PDU Machine Type: "1U"
PDU-R04A: PDU Model Number: "dPDU4500"
PDU-R04A: PDU Part Number: "00AK187"
PDU-R04A: PDU Name: "PDU-R04A"
PDU-R04A: PDU Serial Number: "4CY3DD"
PDU-R04A: PDU Description: "description"

and

PDU-R1

[2018-05-16 06:25] neo954 opened #5214 "With `updatenode -F -r /usr/bin/scp`, failed to replace regular file with directory"
This bug is against xCAT `2.14.1-snap201805090615`.

**How to recreate the bug**

Prepare the test environment
[code]

Bug recreation steps

[code]

**What actually happened**

This test scenario try to replace a regular file on the target compute node with a directory while using `updatenode -F -r /usr/bin/scp`. In this case, `scp` complained `Not a directory` and failed to copy the file.

**What