[2015-11-26 02:20] immarvin commented on #465
hi @whowutwut ,

the growth of diskless initrd and rootimg.gz will increase the time spent on diskless boot up.
The exclude list attribute ``linuximage.exlist`` enables user to trim the image after the rpms are installed into the rootimage, so that the rootimg.gz will  be as small as possible. xCAT ships a default exlist, the users can add or remove entries in the exlist file according to there ne

[2015-11-26 02:23] immarvin commented on #472
the following entries in exlist are invalid in sles12.1 diskless rootimg:
[code]

[2015-11-26 04:41] bybai opened #474 "[dev]pasu cannot work in sles11.4 and return SSL_verify_mode error at /opt/xcat/bin/pasu line 283 in RH7.1"
This is from PMR .
 pasu return SSL_verify_mode error at /opt/xcat/bin/pasu line 283 error  in redhat7.1
 pasu Connection failure: Connection reset by peer

On redhat7.1
[code]

On sles11.4:
[code]

[2015-11-26 04:42] bybai commented on #474
Related code line:
[code]

[2015-11-26 05:00] mfoliveira opened #476 "lsdef of nicips.<interface> attributes include regular expressions"
Notice 2 things:
1) the nicips attribute for the *first* interface incorporated the regex first field "|p8r(\d+)n(\d+)|" in the  interface name.
2) the nicips attribute for the *last* interface shows the regex trailing "|" in the value field.

[code]

This is the command used for definition:

[code]

The values for a member of that group, all correct:

[code]

[2015-11-26 08:02] bybai opened #479 "[dev]pscp,psh and piflash cannot work in sles11.4, pscp and piflash have error in redhat7.1"
In sles 11.4:
[code]
In redhat7.1;
[code]

[2015-11-26 08:54] immarvin commented on #472
https://github.com/xcat2/xcat-core/pull/480

[2015-11-26 09:07] dletai opened #482 "in xcat 2.9.2 chdef -t group -o oldgroupname -n newgroupname doesn't work"
Trying to modify a group name (the group itself, not the members) result in the message
"Changed the object name from oldgroupname to newgroupname."
However, lsdef on either the new groupname or member nodes shows only the old name, returning an error for the new name.

How to reproduce:
1. chdef -p -t node -o node01 groups="old"
2. chdef -t group -o old -n new

trying to verify
1. lsdef -t group

[2015-11-26 10:10] mfoliveira opened #484 "[Customer]xCAT 2.11: CUDA pkglist files do not reference XCATROOT (breaks ospkgs in some cases)"
Hi,

The ospkgs is broken if an user doesn't set the cuda pkglist as the osimage pkglist
(for example, instead, he includes the cuda pkglist from another pkglist, which is the one set in the osimage).

Example (notice the #INCLUDEBAD string in the middle of the pkg list, which makes the rest of the yum command to become a command, and those commented packages do not get installed.
[code]

It happe

[2015-11-26 10:11] mfoliveira commented on #484
Hi @zet809
Can you take a look / assign this one?
I guess @whowutwut may be out for the US Holidays.
Thanks!

[2015-11-26 10:41] bybai commented on #484
Hi @mfoliveira, We recommend customer use the solution in  our doc: http://xcat-docs.readthedocs.org/en/latest/advanced/gpu/nvidia/osimage/index.html
So move it into 2.12 to look into.

[2015-11-26 10:46] neo954 commented on #476
Really cool.

[2015-11-26 10:49] neo954 commented on #476
I think may be the ``+0`` can be omit. Even if there are prefix ``0``s in the IPv4 address, it is okay.

[2015-11-26 11:01] mfoliveira commented on #484
@bybai ok, thanks!
On Nov 26, 2015 05:41, "Yuan Bai" <notifications@github.com> wrote:

[2015-11-26 11:19] bybai opened #485 "[DEV]lsxcatd/tabdump return SSL_verify_mode must be a number and not a string at SSL.pm in ubuntu15.10"
This is coming from one lbs user, most commands cannot work in ubuntu15.10 MN:
[code]

[2015-11-26 11:22] bybai commented on #485
After changed "SSL_verify_mode => SSL_VERIFY_PEER" into "SSL_verify_mode => 1" in the following code,  lsxcatd and tabdump can work. So should look into this issue in 2.12;
[code]

[2015-11-26 11:30] bybai commented on #482
@dletai thanks your pointing this out.

[2015-11-26 22:50] daniceexi commented on #465
I guess the error of missing kernel module was caused by the module 'kernel-modules' we added for dracut command to create initrd. And yes, the root cause should be we did not add necessary rpms in the root image.

I agree we can fix it by adding more rpms in the pkglist or remove the exclusive pkgs form exlist. But I recommend to fix this in next release. Customer can work around this issue easil

[2015-11-26 23:05] daniceexi commented on #482
@dletai
The group object is a dynamic value from the nodes definition, so generally we can not change the group list for nodes through change the group object name. That means xcat did not attend to support this functionality.

@bybai We need to add some description for this limition in the man page.
The '-n' flag for

[2015-11-27 02:06] bybai commented on #479
piflash is link to pasu, so it is no need to modify its code.
lrwxrwxrwx 1 root root     4 Nov 25 23:52 piflash -> pasu

[2015-11-27 08:43] zet809 commented on #233
I think the current output msg "Received incorrect data from BMC for FRU ID: <fru_id>" is good enough, this defect can be closed.

[2015-11-27 08:47] tingtli commented on #233
Verified and close
[root@c910f03c05k23 ~]# rinv c910f05c35 all
c910f05c35: Received incorrect data from BMC for FRU ID: 1
c910f05c35: Received incorrect data from BMC for FRU ID: 2
c910f05c35: Received incorrect data from BMC for FRU ID: 12
c910f05c35: Received incorrect data from BMC for FRU ID: 21
c910f05c35: Received incorrect data from BMC for FRU ID: 22
c910f05c35: Received incorrect data fro

[2015-11-27 08:47] #233 closed

[2015-11-27 09:41] junxiawang opened #488 "[fvt]2.11:xcatsn installation error in rhels7.2"
In xcatsn.spec:
[code]
could not find bc in xcatsn

[2015-11-27 09:59] immarvin commented on #488
pull request https://github.com/xcat2/xcat-core/pull/489

[2015-11-28 13:25] zet809 opened #490 "RH7.2 ppc64le diskless cuda related otherpkglist need to be modified"
The current cuda related otherpkglist as below for diskless image can not be used at all, we need to modify them as well as the document.
 #cat cudaruntime.rhels7.ppc64le.otherpkgs.pkglist
 #For Cuda 7.5
 kernel-devel
 gcc
 pciutils
 dkms
 cuda-runtime-7-5

[2015-11-28 14:14] zet809 commented on #490
Pull request 491.

[2015-11-29 22:24] daniceexi commented on #490
@zet809 Do we have to make this change in  2.11 now? Does the current doc+current code not work?

[2015-11-30 01:55] bybai commented on #490
Hi @daniceexi,  current doc+current code work now. And IST and our FVT have tested them before.

From @zet809, current doc+current code look ugly, they are just workaround.

[2015-11-30 02:02] daniceexi commented on #490
@bybai @zet809 Please make sure that we have plan and time to verify the code and doc if want to change it.

[2015-11-30 06:08] zet809 commented on #464
PCM have open another defect https://bugzilla.linux.ibm.com/show_bug.cgi?id=133655 for this issue.

[2015-11-30 07:33] bybai commented on #462
verified.

[2015-11-30 07:33] #462 closed

[2015-11-30 07:39] fenggaobj opened #492 "[Customer] xcatd service can not be started automatically after reboot for RHEL7.2"
We find that there is no link to "/etc/init.d/xcatd" under "/etc/rcX.d/" directory for RHEL7.2 after installing xCAT-server(xCAT-server-2.11-snap201511100307.noarch.rpm). It leads to that xcatd service can not be started automatically after reboot.
Reinstall xcat-server package manually, the result is the same.

But for ubuntu14.04.3 we find that this function works well.  when we install it, the

[2015-11-30 08:07] hu-weihua commented on #424
The pull request #451 has been merged, so @markprez  you can use this workaround now.
For the root reason of this bug #448 will be fixed in xcat 2.12. if you need to follow this bug, please follow #448 , I close this bug now.

[2015-11-30 08:07] #424 closed

[2015-11-30 09:00] #488 closed

[2015-11-30 09:08] bybai commented on #490
Discussed this defects in team meeting,cuda version should not be specified in otherpkgs.list;
If CUDA version is specified in otherpkgs.pkglist as "cuda-7.5/ppc64le/cuda-deps/dkms", cuda version may be changed soon, and this otherpkgs.pkglist is till invalid;
Since current doc+code works, this pull request will be closed now.

[2015-11-30 09:08] #490 closed

[2015-11-30 09:14] bybai commented on #492
Hi @fenggaobj , In our environment, I can find the link to ../init.d/xcatd. Could you check your steps or how reproduce it ?
[code]

[2015-11-30 09:32] fenggaobj commented on #492
The steps to reproduce:

[root@rhel72mn xcat-core]# rpm -qa | grep xCAT-server
[root@rhel72mn xcat-core]# ls /etc/rc3.d/
K50netconsole  K60pcm  K60pcmamq  S10network  S40perf  S92conserver  S96pmc  S97rhnsd
[root@rhel72mn xcat-core]# chkconfig

Note: This output shows SysV services only and does not include native
      systemd services. SysV configuration data might be overridden by native

[2015-11-30 13:57] mfoliveira opened #494 "[Customer]xCAT 2.11: BMC Network is configured with wrong network mask (after node discovery)"
xCAT: 20151124.0304-core-rpms-snap.tar.bz2
RHEL 7.2 GA
IBM S822LC

Networks table:
- Network with **16-bit** network mask

[code]

BMC Network Config:
(after node discovery)
- Network with **24-bit** network mask (_incorrect/different from specified_)

[code]

This seems to be rspconfig.

Thanks!

[2015-11-30 13:58] mfoliveira commented on #494
Hi @whowutwut

Just FYI.
Hope you've had nice holidays! :)

Thanks

[2015-11-30 21:10] whowutwut commented on #492
Maybe we should look into implementing a ``systemd`` replacement for xcatd...  @pdlun92

[2015-12-01 03:22] zet809 commented on #494
Hi, @mfoliveira
In fact, we haven't called rspconfig to configure netmask for the BMCs.
If you'd like to configure BMC during hardware discovery process, please use "chdef <node> chain="runcmd=bmcsetup"" before starting hardware discovery process.
If you want to configure BMC if the host OS is installed, you can use "nodeset <node> runcmd=bmcsetup", "rpower <node> reset" to restart the node to do

[2015-12-01 03:23] mfoliveira opened #496 "[Customer]xCAT 2.11: lsf_startup use incorrect shell profile file on RHEL 7.2"
xCAT 2.11

After a succesful execution of lsf_started (see PR #495), the import of LSF profile is done via "~/.profile", which doesn't work on RHEL 7.2, as it uses "~/.bash_profile".

[code]

The LSF commands don't work by default. It's required to source the LSF conf from .bash_profile:

[code]

[2015-12-01 03:33] mfoliveira commented on #494
Hi @zet809

Well, if the netmask ends up set incorrectly to something more restrictive than on the mgmt node (say, /24 on BMC, and /16 on mgmt node), the BMC will not be accessible from the mgmt node, if it's in a different subnet (e.g., BMC is 10.2.1.1/24, mgmt node is 10.2.0.1/16 - the subnets differ for BMC perspective).

So I think it should be fixed (i.e., do set the netmask), otherwise, the

[2015-12-01 04:34] bybai commented on #496
Hi @mfoliveira, since you have workaround for this issue, and 2.11 entered invite mode, move it into 2.12. Will handle PR #495 in 2.12

[2015-12-01 08:57] bybai commented on #492
@fenggaobj ， In our FVT daily build environment, this cannot be reproduced in redhat7.2 ppc64le MN.

[2015-12-01 09:00] fenggaobj commented on #492
@bybai Verified in RHEL7.2 GA, the issue can not be reproduced. It's the reason of OS(7.2 Beta) system call.

[2015-12-01 20:52] whowutwut commented on #494
@zet809  I think we need to look into this for 2.12. We can discuss in the interlock meeting.
Basically in Utils.pm, we set the IP address in the discovery...

Nov 25 23:11:20 redbook01 xcat[17646]: Discover info: configure static BMC ip:10.2.1.1 for host_node:p8r1n1.

That is done running ``rspconfig p8r1n1 ip=10.2.1.1``

The IP address is picked up from the ipmi table, but the problem here is th

[2015-12-02 00:41] whowutwut commented on #490
@cxhong  @daniceexi  I think we changed the documentation for the ESP since we could not rebuild the code, but now we never went back and change the shipped samples so that it's easier on the user...

Should we make this change? When could we plan a change like this?? There's no schedule PTF...

[2015-12-02 01:40] daniceexi commented on #490
@whowutwut I think it's too later to do it now. I suggest we can make the fix in 2.11 branch after 2.11 GA so that if necessary we can make this change included in next 2.11 minor release.

[2015-12-02 03:14] zet809 commented on #457
@mfoliveira The modification had been merged and included in the latest build, will you pls verify this issue? Thx a lot.

[2015-12-02 03:40] junxiawang opened #504 "[fvt]2.11:sles12.1 ppc64le diskfull install failed on p8levm"
How to reproduce:
1.download the latest build
2.nodeset vm osimage
rpower vm boot
---------------------->then p8le vm install will hang here
 tail -f /var/log/consoles/vm
 ----------------->
 root@localhost bumped root@localhost -- Tue Dec  1 21:26:54 2015
opal_async_comp_init: Opal node not found
Moving into tmpfs... done.
Integrating /parts/00_lib
insmod /modules/squashfs.ko
/parts/00_lib: type

[2015-12-02 05:02] lxguang opened #505 "［Customer］xcat 2.11 provision diskfull RHEL7.2LE and InfiniBand MLNX OFED may need a reboot(?)"
Hi,  I have been following the URL https://xcat-docs.readthedocs.org/en/latest/advanced/networks/infiniband/mlnxofed_ib_install_v2_preparation.html to provision diskfull RHEL7.2 LE with MLNX OFED by xCAT 2.11 running Ubuntu 14.04.2 LE on Power 8.
[code]
When the FireStone node is provisioned, it looks like the InfiniBand is up with the specified IP address. Ping other IB ip addresses works.
[code]

[2015-12-02 06:08] caomengmeng opened #506 "Result for "pscp -v|-h" are not as excepted"
OS: x86, sles11.4

c910f0 # pscp -v
No node range specified
Usage: pscp [ -f fanout] [-i <SUFFIX>] [SCP OPTIONS...] FILE... <NODERANGE>:<DESTINATION>

c910f0 # pscp -h
No node range specified
Usage: pscp [ -f fanout] [-i <SUFFIX>] [SCP OPTIONS...] FILE... <NODERANGE>:<DESTINATION>

c910f0 # psh -v
Unknown option: v
Usage: psh [-i <interface>] [-l <user>] [-f <fanout>] [--nonodecheck] [-t <timeout

[2015-12-02 11:02] caomengmeng commented on #479
Verified on Sles11.4, RH7.1, and Ubuntu14.04.3 x86 ENV. and all passed.

[2015-12-02 11:04] caomengmeng commented on #474
Verified on Sles11.4 and RH7.1x86 ENV. both passed.
On Ubuntu14.04.3, the ASU package doesn't work, so will wait for further information.

[2015-12-02 12:23] bybai commented on #474
Hi @caomengmeng , you should get right ibm asu package installed in ubuntu. Here is my results:

[code]

[2015-12-02 14:46] mfoliveira commented on #457
Hi @zet809

Sorry, I can't.  The hardware gone away :)

It's possible to manually reproduce it by setting the MTM variable/line in discopacket, as in the first comment:

[code]

Hope this helps!

Thanks!

[2015-12-02 15:45] whowutwut commented on #505
@lxguang , GitHub supports Markdown, you can edit your post and wrap the code blocks using markdown to help the readability of this issue.  Can you please help format it?

[2015-12-02 15:50] whowutwut commented on #505
@hu-weihua , is the solution here to test RHEL 7.2 and unload the module before doing a restart?

from ``mlnxofed_ib_install.v2``

[code]
and change to:
[code]

[2015-12-02 18:57] whowutwut commented on #506
@bybai  If we have a 2.11 RC3 build, should this be included?  Or just fix in 2.12?

[2015-12-02 20:50] junxiawang opened #510 "[FVT] SLES 12.1 Power8 LE: Error: qemu does not support SGA"
1.download the latest build
2.env:
[code]
3.rpower p8levm boot
[code]

[2015-12-02 21:34] whowutwut commented on #510
Hi @junxiawang

 I went onto ``c910f05c33`` and took a look, somethings were not right....   There was no entry in kvm_nodetata for the VM.. .because the ``useserial`` attribute causes that message...    How did you create this VM?

[code]

So I removed the qcow2 file on the hypervisor and re-created with mkvm....

[code]

Now re-create the VM

[code]

Now we see kvm_nodedata have an entry..
[code

[2015-12-02 21:37] cxhong commented on #504
@junxiawang , can u able to recreate this issue every time?  We have a test machine with few ppc64le VMs.  I couldn't able to create this issue.   We saw one of VM stucked on some loop, but eventually successful booted.

[2015-12-03 01:59] immarvin commented on #504
hi, I can not recreate the problem on firestone and vm with SLE-12-SP1-Server-DVD-ppc64le-GMC3-DVD1.iso.
[code]

[code]

I suggest FVT run the sles12sp1 diskful provision cases in our autotest environment, check whether this issue can be recreated

[2015-12-03 03:21] caomengmeng commented on #474
Passed on X86: Ubuntu14.04.3, RH7.1 and SLES11.4 .

[2015-12-03 04:37] caomengmeng commented on #479
Passed, see comments in above.

[2015-12-03 04:37] #479 closed

[2015-12-03 04:37] caomengmeng commented on #474
Passed, see comments in above.

[2015-12-03 04:37] #474 closed

[2015-12-03 04:40] bybai commented on #506
@whowutwut Since there are man pages for psh and pscp, the priority is low, we can just fix them in 2.12.

[2015-12-03 04:59] hu-weihua commented on #505
Unload these three modules just satisfy @lxguang 's current environment, IB installation scripts is a common script, it isn't a good choice to code like this. we have changes our doc to recommend reboot one more time. But reboot is not an acceptable option in @lxguang 's case. so we will keep investigation in 2.12 to find a better solution.

[2015-12-04 06:27] wwzhubj opened #516 "updatenode -k does not check if the passwd is correct, only check if the passwd is input or not."
1. After I installed a node, ssh the node, below message always showed up:
[root@c712ems2 setupnic]# ssh c712f5n12
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@    WARNING: REMOTE HOST IDENTIFICATION HAS CHANGED!     @
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
IT IS POSSIBLE THAT SOMEONE IS DOING SOMETHING NASTY!
Someone could be eavesdropping on you right now (ma

[2015-12-04 06:28] zet809 commented on #457
I have verified the data in discopacket, the spaces are removed. So, close this defect.

[2015-12-04 06:28] #457 closed

[2015-12-05 02:32] whowutwut commented on #516
@wwzhubj  can you please try and format the posts that you create.  It just helps the readability overall and it is just a good habit to have.  It's really not hard. 3 back ticks around the code block.

https://guides.github.com/features/mastering-markdown/

[2015-12-07 07:58] wwzhubj commented on #516
# I tried to use star , but looks like it failed, you can see I used one star , two stars in the end#

[2015-12-07 08:00] wwzhubj commented on #516
* I will improve the format to help the readability*

[2015-12-07 08:21] #504 closed

[2015-12-07 08:22] #472 closed

[2015-12-07 16:39] whowutwut commented on #504
@daniceexi @junxiawang  why is this issue closed?  We should have some remarks when closing the issue.  I thought this was still "trying to recreate" Was it resolved after running sles12 SP1 through autotest environment?

[2015-12-08 17:03] whowutwut commented on #516
You can always edit your own posts by clicking on the pencil icon on the post:
![image](https://cloud.githubusercontent.com/assets/10049070/11662176/6a5f0c5c-9da3-11e5-9d2e-e4ab52d5ef84.png)

The most helpful format for readability is to wrap the code block with backticks.
![image](https://cloud.githubusercontent.com/assets/10049070/11662244/9cc9f134-9da3-11e5-9e3b-99de0e252ea5.png)

[2015-12-09 03:02] chenglch commented on #471
The root cause for this issue is from internal of ipmitool. ``rflash`` is not stable enough and a workaround is provided. We'd better not to use  ``concurrently`` to describe this issue as ``rflash`` also fails in some case with only one node.

[2015-12-09 03:25] #371 closed

[2015-12-09 19:47] whowutwut commented on #438
@neo954 , just looking at this and maybe there is some misunderstanding.  What @mfoliveira  is saying is that the normal system logs are no longer being saved into /var/log/messages.  We should save the xCAT related logs into /var/log/xcat but what happened to the other non xCAT system log messages?

Looking at my test system...  It's empty.
[code]

Did we configure this incorrectly?

[2015-12-10 05:47] caomengmeng opened #521 "Return values are zero for updatenode -f with incompatible flags -k,-S,-P"
[code]
The return values should not be zero.
And there is a line break for the output message before "flags", it should be deleted.

[2015-12-11 03:02] immarvin commented on #470
https://github.com/xcat2/xcat-core/pull/524

[2015-12-14 03:27] lxguang opened #532 "[Customer]xcat 2.12 provision Ubuntu14.04.3 LE bare-metal takes too long time(~60minutes)"
Hi, I am using PCM4.2.1 FP1 preview build to try to provision Power 8(Tuleta) node with Ubuntu 14.04.3 PowerNV(bare-metal).
The Ubuntu Trusty archive mirror has been downloaded to local xCAT MN. I followed the configuration steps as described in http://sourceforge.net/p/xcat/wiki/Installing_other_packages_with_Ubuntu_official_mirror/  and http://sourceforge.net/p/xcat/wiki/Ubuntu_Quick_Start/#depl

[2015-12-14 07:57] immarvin commented on #266
https://github.com/xcat2/xcat-core/pull/531

[2015-12-14 09:59] whowutwut commented on #532
@lxguang can you please wrap the console related  in markdown to help readability? Wrap in 3 back tick mark

[2015-12-14 10:14] lxguang commented on #532
Hi,
You can access the testing environment. I have told YangSong how to access.
I have no time debugging it...

----------------------------------------------------------------------------

 Jack Liu (刘晓光)
 IBM China Systems and Technology Laboratory(CSTL)
 Tel:    86-10-82450821
 Email:  lxguang@cn.ibm.com
 Address: Building 28,ZhongGuanCun Software Park,No.8 Dong Bei Wang West
Road
          Hai

[2015-12-15 03:37] nickcevans opened #536 "Command Log writer process failed"
Since updating to xcat 2.11 I have now got log files filled with the following types of errors

Dec 15 14:30:58 mgt xcat[126917]: INFO xcatd: Drop request 'tabdump site ' output due to connection with 'Command log writer' process failed

It doesn't seem to have any effect on the output of things like tabdump but this didn't happen on xcat 2.10

If there is anything else you need let me know
Nick

[2015-12-15 06:44] tingtli opened #537 "[FVT]restart xcatd get error message for bugs."
Restart xcatd on 2.11 will get following message.

Dec 15 01:32:42 c910f03c05k23 xcat[3780]: xcatd: possible BUG encountered by xCAT UDP service: Magic number checking on storable file failed at /usr/lib64/perl5/vendor_perl/Storable.pm line 399, at /opt/xcat/lib/perl/xCAT/Table.pm line 110.

[2015-12-15 07:49] hu-weihua commented on #536
hi @nickcevans ，from xcat2.11, xcat offer a new feature called "command log", this feature will record all commands issued by customer and their output to a log file ``/var/log/xcat/commands.log``.  this feature is used to do trouble shooting. So xcat will have one more process called ``Command log writer`` from xcat2.11

     [root@ xcat]# ps axu|grep xcatd ``Command log writer``
     root     13

[2015-12-15 22:17] nickcevans commented on #536
Thank you very much for the response and the pointers of where to look for the problem.
After some digging I found that the problem was due to our previous instance writing xcat logs to /var/log/xcat

This meant that there was no /var/log/xcat folder to start a commands.log file in. after moving the xcat log file out of the way and creating the /var/log/xcat folder, the INFO messages stopped appea

[2015-12-15 22:17] #536 closed

[2015-12-16 03:35] immarvin opened #539 "[DEV]use "bc" to compare version/release in xCAT"
this ticket is originated from https://github.com/xcat2/xcat-core/pull/489

xCATsn.spec is modified while fixing this defect https://sourceforge.net/p/xcat/bugs/464/.

[code]

I think bc is a powerful tool for version compare, we should use it in the logic of xCAT.spec and xCAT::Utils::version_cmp.

but I think the problem of using ``rpm -qi`` instead of ``httpd -v`` is that rpm is not supported i

[2015-12-17 16:03] cxhong commented on #516
If nodes already set up as passwordless, it will not check the password's correctness.
Pull Request #509 will take care second problem.
I also added the code to remove hostname from known_hosts file after nodes reset to get rid of "man-in-the-middle attack" message. #542

[2015-12-18 15:07] bankabanka opened #546 "[Customer]xcat 2.9.2 does not work with AIX7.2"
Getting the following error when running powerstatus or poweron after upgrading AIX 7.2 and xCat 2.9.2.

Can't locate XML/Simple.pm in @INC (you may need to install the XML::Simple module)
(@INC contains: /opt/xcat/lib/perl /usr/opt/perl5/lib/5.8.2/aix-thread-multi /usr/op
t/perl5/lib/5.8.2 /usr/opt/perl5/lib/site_perl/5.8.2/aix-thread-multi /usr/opt/perl5
/lib/site_perl/5.8.2 /usr/opt/perl5/lib/s

[2015-12-21 06:09] penguhyang opened #547 "[DEV]the xcat.log file can't record scripts information when executing run_ps subroutine."
In the post.xcat script file, we use the run_ps subroutine to run the other scripts.
In the run_ps subroutine, we use the ``bash -x ./\$@ 2>&1`` to output the information and we record the information to the ``/var/log/xcat/xcat.log`` file.

Using the latest release, this information can't be saved to the ``xcat.log`` file.

There is a workaround for this situation.
We can use the ``bash -x ./\$@

[2015-12-21 11:51] whowutwut commented on #547
Also, Should we look whether we should be saving the stdout and stderr output into two files? .out and .err? Should there be logging files for postscripts now that we have a directory for xcat? Would that help the user because they could easily see errors that care output in the err output file

[2015-12-21 16:30] markprez opened #549 "[Customer] Updatenode otherpkgs non-zero return code due to MOFED repository conflicts"
[code]

After installing Mellanox OFED 3.1-1.0.6.1 on Red Hat 7.2, yum update fails with the following errors:

[code]

When we run updatenode ospkgs or otherpkgs, xcat sets up RH72 repositories on the node. Several of the rpm levels from the Red Hat distro are newer versions of the IB rpms from Mellanox.
When xCAT updatenode ospkgs or otherpkgs, "yum upgrade" is run and results in a non-zero retu

[2015-12-21 23:18] arif-ali opened #550 "snmpcfg fails to work on Flex System"
[code]

[code]

I am running the following version of xCAT

Version 2.9.1 (git commit 7f6043fffd62d482931b17b60f9488eb5754fdc1, built Thu Mar 19 03:25:35 EDT 2015)

Any debugging steps to resolve the problem would be great

[2015-12-22 03:00] fenggaobj commented on #492
When redhat-lsb-core is installed, the issue is reproduced in RHEL7.2 GA.
we checked the xCAT-server.spec file, we find that if redhat-lsb-core is installed,  xCAT-server.spec will take "/usr/lib/lsb/install_initd  /etc/init.d/xcatd" to add xcatd to rc. but it does not work.

[root@mn19 lsb]# cat /etc/os-release
NAME="Red Hat Enterprise Linux Server"
VERSION="7.2 (Maipo)"
ID="rhel"
ID_LIKE="fedora

[2015-12-22 06:40] immarvin commented on #492
``/usr/lib/lsb/install_initd `` is a tool shipped by ``redhat-lsb-core`` ,

[code]
it's manpage mentions:
[code]

However, this command does not work in redhat7:

[code]
since ``lsb`` is not a base package and is poorly matained, I suggest not to use it in  spec file.

[2015-12-22 09:11] caomengmeng commented on #521
https://github.com/xcat2/xcat-core/pull/527
Verify Passed
[code]

[2015-12-22 09:11] #521 closed

[2015-12-23 09:53] arif-ali commented on #550
any ideas?

[2015-12-23 14:43] mbausch0 opened #553 "[Customer]failing to specify custom kernel, initrd, kcmdline via boottarget"
xcat 2.11 (git commit 9ea36ca6163392bf9ab684830217f017193815be, built Mon Nov 30 05:43:11 EST 2015)
arch: ppc64 (IBM Power8)
OS: SLES for SAP Applications  11.4 (ppc64)

osimage provisioning using the osimage attribute "boottarget" to specify customized kernel, initrd (and kcmdline) fails to create yaboot.conf according to boottarget specifications.
Instead, boottarget specifications are completel

[2015-12-23 14:53] cxhong commented on #553
@mbausch0 Thanks to open this issue.
Can u change your osimage like this:
[code]

[2015-12-23 15:07] mbausch0 commented on #553
the results are very similar to what we had yesterday with nodeset netboot:
kernel and initrd made it into yaboot.conf, but no append="..." line and no autoyast profile:

ismgp92:~ # lsdef -t osimage myimage
Object name: myimage
    boottarget=mytarget
    imagetype=linux
    osarch=ppc64
    osdistroname=sles11sp4sap-ppc64
    osname=Linux
    osvers=boottarget
    otherpkgdir=/install/post/other

[2015-12-23 21:45] cxhong commented on #553
That Error message
[code]
Caused routine returned and didn't update the yaboot.conf file with "append="  line.

[2015-12-24 07:42] daniceexi commented on #546
xCAT team is trying to recreate this issue.

[2015-12-24 08:02] junxiawang opened #554 "[fvt]2.12 aix7.2 install xCAT failed"
How to reproduce:
1.install aix720
2.bash-3.2# ./instoss
Error: the perl version of '5,' is not one that instoss understands.  Exiting...
vi instoss
if [ "$PERLVER" == "v5.8.2" ]; then

elif [ "$PERLVER" == "v5.8.8" ]; then

elif [ "$PERLVER" == "v5.10.1" ]; then

bash-3.2# perl -v

This is perl 5, version 20, subversion 1 (v5.20.1) built for aix-thread-multi

[2015-12-24 08:21] junxiawang commented on #554
pm -Uvh perl-Crypt-SSLeay-0.57-3.aix7.1.ppc.rpm
package perl-Crypt-SSLeay-0.57-3 is for a different operating system
rpm -Uvh perl-DBD-DB2-1-2.aix7.1.ppc.rpm
package perl-DBD-DB2-1-2 is for a different operating system
rpm -Uvh perl-DBD-Pg-2-17.2.aix7.1.ppc.rpm
package perl-DBD-Pg-2-17.2 is for a different operating system
rpm -Uvh perl-DBD-SQLite-1.13-3.aix7.1.ppc.rpm
package perl-DBD-SQLite-1.13

[2015-12-28 02:42] junxiawang opened #555 "[fvt]2.12:cmdlog_collectlog() in xcatd needs to be enhanced to cover uninitialized value in response"
How to reproduce
xcatd -f
Use of uninitialized value in concatenation
Use of uninitialized value in concatenation (.) or string at /opt/xcat/sbin/xcatd line 3092.
 ----------------------> the message sends out all the time
-----------------------------------------------------
3092:
}elsif (ref(\($node->{data}->[0])) eq 'SCALAR') {
                        if(defined($node->{data}->[0])){

[2015-12-28 03:15] fenggaobj opened #556 "[Customer]S822LC will hang after "Send cold reset command to MC" in the case of "node auto-discovery""
Environment:
RHEL7.2 GA
S822LC(FW_VERSION=2.16.85069.65366)

Issue:
In the case "node auto discovery", the node S822LC will hang after run the command "ipmitool mc reset cold" in the file "bmcsetup". rcons can not connect the node S822LC again, unless run "power reset" when the node hangs.

Workaround:
If change the sleep time to 45s in the file "bmcsetup", the issue will not be reproduced.
[code]

[2015-12-28 05:06] hu-weihua commented on #555
Due to plugin.pm should guarantees the integrity of "response" send back to xcatd, but it's not always true. For example, the response of ``getcons`` likes below: ::

    $VAR1 = {
          'xcatresponse' => [
                              {
                                'node' => [
                                          {
                                            'name' => [

[2015-12-28 08:32] fenghaizhu opened #559 "[Customer] bmcdiscover command cannot get the MTMS attributes for Habanero Server"
**Environment:**
RHEL7.2 (GA)
Habanero server

**Issue:** MTMS_based_discovery didn't work for Habanero .
The MTMs/serials are not discovered as bellow.
[code]

[2015-12-28 09:06] immarvin opened #560 "[DEV] "virsh dumpxml <kvm node>" failed to pass "virt-xml-validate" checking"
this is reported by customer.

xCAT provides an interface for running virtual machines.  We do the basics for managing the VM, like create the VM definition, power on/off the VM, switch VMs to run on different hosts. etc...
Under the covers we are making calls to the libvirt API.  libvirt is the virtualization API. The virt-xml-validate (http://linux.die.net/man/1/virt-xml-validate) is a command t

[2015-12-29 06:57] immarvin commented on #560
the error is caused by 1 line in
[code]
The line ``        <seclabel model='selinux' relabel='yes'/> `` failed to pass the virt-xml-validate, according to http://libvirt.org/formatdomain.html#seclabel,
[code]

[2015-12-29 08:49] junxiawang opened #562 "[fvt]2.12:rhels7.2 hierarchy diskfull install failed"
How to reproduce:
1.down load the latest build
2. nodeset cn osimage
    rpower boot
    lsdef cn
-----------------> status is booted but could not ssh
3. rcons cn -f
4. ifconfig -a
    ------------------> no ip here
5.cat /var/log/xcat/xcat.log
    -------------------> no ip for cn ,but log shows the cn status is ok
6. cat / opt/xcat/xcatinfo
    -------------------->
   XCATSERVER=10.4.27.3
   U

[2015-12-30 09:00] immarvin commented on #560
The problem might be a bug of virt-xml-validate that the RELAX NG schema is not compatible with libvirt tools shipped in PowerKVM, opened a defect to LTC:https://bugzilla.linux.ibm.com/show_bug.cgi?id=134403

[2015-12-30 09:53] immarvin commented on #560
The problematic line is not specified by xCAT, it's generated by virsh create/define
opened a defect to LTC:https://bugzilla.linux.ibm.com/show_bug.cgi?id=134403

[2015-12-31 06:54] #482 closed

[2016-01-04 05:22] xuweibj commented on #458
pull requests #531

[2016-01-04 05:22] #458 closed

[2016-01-04 05:33] #506 closed

[2016-01-04 09:41] caomengmeng opened #563 "Failed to check partitions while choosing install disk."
Failed to choose the correct disk while doing reinstall process in RH7.2

In log /tmp/getinstalldisk_log
[code]

[2016-01-04 09:46] caomengmeng opened #564 "Mistake for creating install disk logs"
ENV:
    OS and platform: Lpar PPC64, RH 7.2
xCAT-core and dep:
    20151231.1930-core-rpms-snap.tar.bz2
    xcat-dep-201511181550.tar.bz2
How to reproduce:
    Install the CN then using debugmode to track logs.

Currente: Failed to write some logs for the misktake: tmp/tmp/getinstalldisk_log, which should be /tmp/getinstalldisk_log

Excepted: All logs should be wrote into  /tmp/getinstalldisk_log

[2016-01-04 09:58] xuweibj commented on #563
Pull Request #565

[2016-01-04 09:59] xuweibj commented on #564
Pull Request #565

[2016-01-04 11:36] dletai commented on #458
body p { margin-bottom: 0cm; margin-top: 0pt; }

    I don't have access to a git clone of xcat right now, but I'd like
    to offer a couple of style changes:
    1) assuming FS_TYPE is never case insensitive (why would you assume
    it is?)
    - fs_type=$(udevadm info --query=property
        --name=/dev/$partition | grep -i "FS_TYPE"
        | awk -F = '{print $2}')
    + fs_type=$(udevadm in

[2016-01-04 15:32] daniceexi opened #569 "[DEV]Update xCAT 2.10 to xCAT 2.11 will overwrite the site."xcatsslversion" attribute."
It's a bug in the xcatconfig that it always overwrite the "xcatsslversion" attribute when do the package update.

[2016-01-05 01:38] tingtli commented on #564
@caomengmeng
when you open a defect, please write down which xcat version you use, which platform you test. How could developer reproduce your defect etc.

[2016-01-05 02:04] zet809 commented on #563
Hi, Xu wei, the defect need to be verified and closed by the creator, the owner only need to set it to pending. So I reopen it.

[2016-01-05 06:50] caomengmeng commented on #563
Passed
[code]

[2016-01-05 09:09] #563 closed

[2016-01-05 13:00] arif-ali commented on #550
Any ideas on this, I am still having these issue

[code]
If someone could help me to diagnose, then I would really appreciate

thanks,
Arif

[2016-01-05 13:47] arif-ali commented on #550
/cc @jjohnson42 @daniceexi any ideas? Or do I need to dig into code, and diagnose with print statements or something?

I can SSH onto the cmm without a problem, but for some reason the snmpcfg doesn't want to work

[2016-01-05 15:34] cxhong commented on #550
what's your version of net-snmp* ?  It may caused by source of net-snmp* rpms.

[2016-01-05 15:55] arif-ali commented on #550
Hi @cxhong, thanks for looking

see below for details

[code]

[2016-01-05 17:20] arif-ali commented on #550
I have now updated to the latest version of net-snmp-*, and similar issue

[code]

or do I actually need an older version?

[2016-01-06 01:33] junxiawang opened #573 "[FVT]2.9.2:aix720 install error message "xcatd: possible BUG encountered by xCAT UDP service""
How to reproduce:
1.install xcat on aix 720
During install
[code]

[2016-01-06 01:35] junxiawang opened #574 "[FVT]2.9.2:aix 720 install xcatd could not load some modules after xcat install"
Error info:

0513-059 The xcatd Subsystem has been started. Subsystem PID is 10813810.
Error loading module /opt/xcat/lib/perl/xCAT_plugin/configfpc.pm  ...skipping
Error loading module /opt/xcat/lib/perl/xCAT_plugin/lsslp.pm  ...skipping
Error loading module /opt/xcat/lib/perl/xCAT_plugin/remoteimmsetup.pm  ...skipping
Error loading module /opt/xcat/lib/perl/xCAT_plugin/slpdiscover.pm  ...skippin

[2016-01-06 03:31] hu-weihua commented on #574
After debug, I found all above plugins which were skipped during xcatd start have the same problem. this AIX environment miss SNMP.pm. It seems we lost SNMP part during dependency  package compiling.  ::

    bash-3.2# /usr/bin/env perl -I /opt/xcat/lib/perl/ -c slpdiscover.pm
    Can't locate SNMP.pm in @INC (you may need to install the SNMP module) (@INC contains: /opt/xcat/lib/perl /usr/opt/per

[2016-01-06 05:59] hu-weihua commented on #573
Fix this defect for xcat2.9 by pull request #575

[2016-01-06 05:59] daniceexi commented on #550
@arif-ali

Since part of your cmm worked when running 'rspconfig' command to enable the snmp, the code of xcat should work. You may check a failed cmm manually to see whether the snmp setting failed in the cmm command line.

xCAT run the following command in cmm CLI to enable the snmp: snmp -a3 -on -T system:<cmm>

and then run this command to set the user: users -n $uid  -ap sha -at set -ppw <pas

[2016-01-06 06:06] daniceexi commented on #574
OK, we can wait @neo954 to finish the build for SNMP.pm to verify this issue.

[2016-01-06 06:10] neo954 commented on #574
@daniceexi @junxiawang The new package is built

    # rpm -qpil net-snmp-perl-5.7.3-1.aix7.2.ppc.rpm
    Name        : net-snmp-perl                Relocations: (not relocateable)
    Version     : 5.7.3                             Vendor: Net-SNMP project
    Release     : 1                             Build Date: Tue Jan  5 23:48:47 CST 2016
    Install date: (not installed)               Build

[2016-01-06 06:35] daniceexi commented on #574
@junxiawang Please use the new SNMP build and verify this issue.

[2016-01-06 08:27] arif-ali commented on #550
Thanks @daniceexi,

The first command passes
[code]
But the second one ...
[code]
How do I reset the password on these CMMs, without having to insert the old passwod? as I have lost it, and the CLI doesn't allow to change it without it?

[2016-01-06 13:42] whowutwut commented on #569
To add some more information about the original problem that was encountered.  The cluster is updated to xCAT 2.11 by changing the yum repo config files and running ``yum update '*xCAT*'`` .  The following problem is seen:
[code]

xCAT was running fine before with xCAT 2.10 and stops working updating to xCAT 2.11

Upon investigation, the ``xcatsslciphers`` and ``xcatsslversion`` was set at this si

[2016-01-06 16:13] dletai commented on #392
Not sure if this belongs here or as a new issue - an xcat-doc repository on github seems to be missing.
https://xcat-docs.readthedocs.org/en/2.11/help.html
has as 3rd link:
https://github.com/xcat2/xcat-doc/issues
but github/xcat2/xcat-doc doesn't seem to exist

Another issue - it used to be possible from sf to download entire docs as html tar but on rtd I can't find this capability anymore. How c

[2016-01-06 22:25] whowutwut commented on #392
@dletai, thanks for pointing out that broken link. I will fix it. Next time you can feel free to open another issue

As for downloading the doc, ReadTheDocs provides this functionality.  In the lower left corner of read the docs you can click on the bar that has version  2.11. It brings up a small context window where you can download the PDF or HTML copy for offline viewing

[2016-01-07 02:32] hu-weihua commented on #574
After talking with @junxiawang, it seems we didn't hit this issue again after installing the new SNMP build.

[2016-01-07 02:45] caomengmeng opened #579 "[FVT] Wrong check partitions logs while reinstall RH7.2 or SLES11.04 on x86_64"
ENV:
x86_64, one disk /dev/sda

Reproduce steps:
1. Install Sles11.04 successfully
2. Install Rh7.2, ssh to the CN machine and track the /tmp/getinstalldisk_log file

Current:
[code]

The similar steps to reinstall Sles11.04 the track the /tmp/getinstalldisk_log file
[code]

What is excepted:
After the kernel file is checked in one partition, the the follows will be "The disk had OS installed, che

[2016-01-07 07:10] JimmyMa opened #580 "Bootloader pxe/xnba cannot boot node to local disk after OS deployment (x86_64)"
After run the "nodeset $NODE_NAME boot", the DHCP lease info is still in /var/lib/dhcp/dhcpd.leases

Below are the steps:
[code]

[2016-01-07 07:30] daniceexi commented on #580
**nodeset <node> boot** command overwrites the xnba configuration file to be 'do nothing' so that the compute node will leave netboot and then start boot from next boot order. Generally, the net boot order will be hard disk.

So you can take a look the xnba configuration file in /tftpboot/xcat/xnba/nodes/<node> after run the **nodeset <node> boot**

[2016-01-07 08:56] daniceexi commented on #574
@junxiawang Please close this issue.

[2016-01-07 10:33] daniceexi commented on #550
@arif-ali
Did not you set the password in the **mpa** table for the cmm?

From the result of rspconfig command **cmm17: SNMP enable: OK**, looks like the command **users** replied correct message like 'OK ...'

[2016-01-07 10:54] arif-ali commented on #550
Yeah, it was set originally, and configured as well, but the password was changed a few times due to the nature of these CMMs requiring to do so. So in the process, may have lost the password on some of the chassis over the past 6 months.

Nevertheless, I would have thought we can change the password on these systems without having to know the previous passwords. But it seems to configure the snmp

[2016-01-07 11:40] daniceexi commented on #579
Could we make the log like this:

[code]

[2016-01-07 12:26] whowutwut commented on #580
@JimmyMa  FYI, I edited your post and wrapped your code steps with markdown (```) to help readability

[2016-01-08 00:25] whowutwut commented on #564
@xuweibj If your pull request fixing this issue is merge, please set to pending state to @caomengmeng  knows that it's ready for verification

[2016-01-08 00:33] JimmyMa commented on #580
I googled my problem, and found this: http://sourceforge.net/p/xcat/bugs/3405/  , my problem is same with it, and the workaround in it works for me. Thanks.

[2016-01-08 00:33] whowutwut commented on #458
@xuweibj  I think the previous comment here is referencing your pull request #531, please take a look at the suggestions made by @dletai

[2016-01-08 01:55] dillonfzw opened #581 "[Customer]mkvm failed to create LPAR in S822L with 840 firmware"
SV840 firmware was released at Dec 2015.
We have a S822L node which managed by xCAT DFM.
When creating LPAR with mkvm command, we saw errors and command failed.
When downgrade the firmware to SV810, the problem was gone. and I remember I had successfully created LPAR with this command with SV830 firmware level also.

So, it seems a SV840 firmware unique problem.

Here are some detailed logs from m

[2016-01-08 02:01] dillonfzw commented on #581
The xCAT version is:
[root@smn xcat]# nodels --version
Version 2.9.1 (git commit c41818848f4752ecf71aa9b4165c1a5311ff1c45, built Mon May 18 00:33:06 EDT 2015)

[2016-01-08 05:46] daniceexi commented on #580
@JimmyMa So the correct name for this issue should be following, right?

[code]

[2016-01-08 06:13] zet809 commented on #581
@dillonfzw Can you share your environment to me to debug this issue? We don't have one in hand.

[2016-01-11 06:36] junxiawang opened #585 "[fvt]2.9.2:makenetworks could not write network information into database on aix720"
How to reproduce:
1.download the latest build
2.install xcat
3.bash-3.2# makenetworks
bash-3.2# hostname
c910f03c01p20.pok.stglabs.ibm.com
bash-3.2# tabdump networks
#netname,net,mask,mgtifname,gateway,dhcpserver,tftpserver,nameservers,ntpservers,logservers,dynamicrange,staticrange,staticrangeincrement,nodehostname,ddnsdomain,vlanid,domain,comments,disable
bash-3.2# kdb
           START

[2016-01-11 13:05] hu-weihua commented on #537
@tingtli , I tried to reproduce this issue on c910f03c05k23, but didn't hit this issue any more.
Could you offer a specific steps to reproduce this issue? thanks

[2016-01-11 13:51] chenglch commented on #537
@hu-weihua @tingtli , Seems that this bug as same as the bug I met when I clean up database in the signal handler.  You can see the detail to reprocess this issue.
https://github.com/chenglch/xcat-core/blob/getadapter/xCAT-server/lib/xcat/plugins/getadapter.pm#L227

I think this bug is not just related to xcatd, but also related to the database. If DB access process is down, 'table->new' will caus

[2016-01-12 03:00] daniceexi commented on #537
@tingtli, @hu-weihua We waiting for @chenglch 's fix, so see whether it can be fixed.

[2016-01-12 06:59] junxiawang commented on #585
root cause for the bug is no netmask setting about the net so close the bug

[2016-01-12 06:59] #585 closed

[2016-01-12 07:08] immarvin opened #586 "[DEV]sles12.1 hang on "Failed to add add-on product" during diskful provision on p8le kvm"
The diskful installation hang with error "Failed to add add-on product" at the beginning.

system info :
[code]
the /var/log/apache2/access_info on MN:
[code]

[2016-01-12 07:10] immarvin commented on #586
can FvT try to recreate this in the autotest?

[2016-01-12 08:57] junxiawang opened #587 "[FVT]2.9.2 aix720 compute node: Run postscripts=syncfiles failed for could not find ParserDetails.ini"
How to reproduce:
1.download the latest build
2.provision  compute node using xcat 2.9.2 on aix720
3.after provision
on compute node:
cat /var/log/xcat/xcat.log
--------------
 /xcatpost/startsyncfiles.aix
could not find ParserDetails.ini in /usr/opt/perl5/lib/site_perl/5.20.1/XML/SAX
---------------

[2016-01-12 09:53] arif-ali commented on #550
I will look at this, and diagnose what is going on, will let you know what the problem is later

[2016-01-12 09:53] #550 closed

[2016-01-12 10:04] hu-weihua commented on #585
After debug, the value of network mask is blank, when xcat calculates the network information, it can't read out the value of netmask. so the all rest stuff of ``makenetworks`` went wrong.  then xcat thought itself didn't find out any correct network, so it gave up to write database.

@junxiawang , Could you configure the network completely again? thanks.

[2016-01-12 23:19] arif-ali opened #588 "[Customer] Formatting issues improvements"
Hi,

Just using the Rest API to do a few things, and came across the following issue

if `addkcmdline=sshd=1` is set for the node, then this comes out to be `"addkcmdline=sshd":"1"` instead of `"addkcmdline":"sshd=1"`. There's a similar issue with kcmdline as well, and the output I generally get is

[code]

But the key should not be `kcmdline=quiet inst.repo`, but it should be `kcmdline`

I hope t

[2016-01-12 23:34] arif-ali commented on #588
Commit 6dabd85bfe977c633a35fdb6b59a0bca100e280c, initially tried to fix the issue, but it doesn't solve the case where you have more than 1 equals on the line

[2016-01-13 01:36] penguhyang commented on #547
Hi, @whowutwut , thanks for looking.
I think saving the stdout and stderr output into two files is a good idea. @immarvin
Currently, for the compute node, there is a logging file called ``xcat.log`` in ``/var/log/xcat/`` directory which will record stdout and stderr.

[2016-01-13 02:24] tingtli commented on #562
@jun xia
Please update which xCAT version and which os/hardware you used for test

[2016-01-13 05:57] dillonfzw opened #590 "[Customer]setbootfromdisk does not work in rh7.1 ppc64le on PowerVM LPAR"
Nate B reported this problem when he was supporting CSC for Mizuho system.

The node failed to boot up in its initial provisioning. The OpenFirmware reports following error:

It's more like the boot configuration was empty.
a. If the setbootfromdisk postscript had NOT been run, open firmware should keep booting from network this time.
b. If it had been run, it should be boot into hard disk correct

[2016-01-13 06:42] daniceexi commented on #588
@arif-ali If 6dabd85, does fix your issue, I'll take it back. Thanks.

Two concerns for your new requrest that output value as an **object** like {"ipmi","compute","x3455"}

* If this is changed, old customer will be impacted;
* An error will happen when **comma** is a common char in the value of node attribute. Only if we just handle the 'groups' and 'postscripts' attributes.

[2016-01-13 07:27] dillonfzw commented on #590
After setting the correct boot disk at SMS menu as the 1st boot device and boot into system, we find that bootlist command cannot translate the boot device path to logic device name anymore.

This is another evidence to conclude that bootlist might have problem to translate the boot device logical name to Open Firmware device path name.

[code]

[2016-01-13 07:33] daniceexi commented on #587
This issue caused by the update of  perl XML. Then there's missing file error from ``startsyncfiles.aix``;

The fix is:

* Require to use ``XML::Parser`` in ``startsyncfiles.aix``
[code]

* Install ``expat-2.0.1-2`` through install_bundler for compute nodes. It is depended by 'XML::Parser'.

[2016-01-13 08:04] daniceexi commented on #580
Since we found the work around and don't plan to support it for x86_64, just close this issue as a reference.

[2016-01-13 08:04] #580 closed

[2016-01-13 08:19] dillonfzw commented on #590
After more investigation with helps from Hong Bo Peng, we thought it's a bug of ofpathname and bootlist toolkit, powerpc-utils.

You will see that ofpathname at LE os translate /dev/sda to ofpathname: /pci@800000020000015/pci1014,034A@0/sas/disk@f3835da0000000

but the Open Firmware recognize the same boot disk as: /pci@800000020000015/pci1014,034A@0/sas/disk@a05d83f300

When looking closely at f3

[2016-01-13 08:50] daniceexi commented on #590
@immarvin Could you open a bug to LTC to see what's their point for this issue?

[2016-01-13 10:08] caomengmeng commented on #579
Passed this issue:
Sles11
[code]
rh7.2
[code]

[2016-01-13 10:08] #579 closed

[2016-01-13 10:32] caomengmeng opened #591 "[FVT] Failed to generate /tmp/install_disk file while reinstall RH7.2 or SLES11.04 on x86_64"
ENV:
x86_64, one disk /dev/sda

Reproduce steps:
1. ReInstall Sles11.04 or reinstall Rh7.2 ,
2. ssh to the CN machine and track the /tmp/install_disk file after /tmp/xcat_getinstalldisk_log file created, wait until the node is closed, but no /tmp/install_disk file generated as designed.

[2016-01-13 14:59] arif-ali commented on #588
don't worry about the feature request, I have my way of resolving that at the moment

[2016-01-13 21:28] japuzzo opened #593 "[Customer]rflash "component 4" field always blank on node"
Even though the firmware update worked on updating a Firestone Power 8 system
There is an issue with what rflash is reporting

Before update:
[code]
After update:
[code]
In both cases 'component, 4 is missing from the 'node' readout.
Using raw ipmitool commands we can see where the numbers are derived:
[code]
Thus 'component 1' and 'component 2' are based on FW_VERSION.
I think that 'component 2'

[2016-01-14 01:03] tingtli commented on #591
@caomengmeng  please give out xCAT build number for this defect.
You can give the contents of the output  of "rpm -qa |grep -i xCAT"
And It's better to give out xcat-dep tar ball name. Thanks!

[2016-01-14 01:10] tingtli commented on #593
@chenglch  Would you please give some comments for this issue? Thanks!

[2016-01-14 01:14] tingtli commented on #588
@arif-ali  since we have component lable to indicate this bug is for REST-API. I modify the first key word to indicate this bug is from a xCAT customer

[2016-01-14 01:17] tingtli commented on #581
@dillonfzw I add a component for this defect and add a key word in the abstract to indicate this defect is from a customer.

[2016-01-14 01:38] daniceexi commented on #588
@arif-ali The fix has been checked in to 2.10, 2.11 and 2.12 branches.

[2016-01-14 02:44] caomengmeng commented on #591
[code]

[2016-01-14 02:45] caomengmeng commented on #591
Hotfix code error, not a bug. Function works well.

[2016-01-14 02:45] #591 closed

[2016-01-14 04:12] daniceexi commented on #591
@caomengmeng what did you mean 'Hotfix code error'? Did you mean the new code change has problem?

[2016-01-14 04:22] immarvin opened #594 "[DEV]"xcatconfig -d" failed to determine the correct "site.forwarder" and "site.domain""
The code logic in line#1063 is wrong, it take ip address "10.1.0.1" the same as "10.1.0.101" by mistake.

[code]

The logic to determine the domain failed it "hostname -d" output nothing.
[code]

the behavior of "hostname -d" depends on different linux distributions and system configurations.
For ubuntu. it works when the "/etc/hosts" contains the host entry with the "ip  FQDN hostname "
[code]

h

[2016-01-14 04:35] daniceexi commented on #594
@immarvin Will you fix this issue? If yes, please assign it to you. Make @penguhyang to fix it also ok.
Please at least set the labels for a new issue.

[2016-01-14 05:24] caomengmeng commented on #591
@daniceexi, I did a hotfix in local test machine, and there is something error, so it is a mistake for testing not for production, not a bug.
Maybe this issue should be deleted for invalid.

[2016-01-14 05:28] caomengmeng opened #597 "[FVT]Failed to generate expected logs in /var/log/xcat/xcat.log while installing SLES11.4 on x86_64"
ENV:
MN: x86_64 sles11.04
set site.xcatdebugmode=1

xCAT build infor:
[code]

Steps:
1. Install sles11.04 on CN, then track the CN: /var/log/xcat/xcat.log file to get install information, but not as excepted, only few logs as below, and the status is "booting"
[code]

[2016-01-14 05:40] daniceexi commented on #591
@caomengmeng Add a label status:invalid and set the invalid label for this issue.

[2016-01-14 08:51] hu-weihua commented on #549
@markprez, thank you so much for offering us such valuable information. sorry for reply such later at same time.
I will find a appropriate way to resolve this problem.   thanks again

[2016-01-14 10:17] caomengmeng opened #598 "Failed to generate logs as post.xcat excepted while installing ubuntu14.04.3 on ppc64le"
ENV:
MN: RH7.2 on ppc64le
[code]
xCAT builds:
[code]
Steps:
Install CN with ubuntu14.04.3, then track status: booted and logs in /var/log/xcat/xcat.log, but no excepted logs as post.xcat excepted

Logs:
[code]

[2016-01-15 02:15] penguhyang commented on #598
post.xcat is used for redhat and sles not for ubuntu.
so for ubuntu, there is not output.

[2016-01-15 02:15] #598 closed

[2016-01-15 02:57] penguhyang commented on #597
this bug is caused by sles not support logger with -n option.
need to add a verification for sles.

[2016-01-15 03:09] immarvin commented on #597
several questions:
1. is site.xcatdebugmode turned on?
2. in your description, which is MN, which is CN?
3. where is the xcat.log you pasted on? MN or CN?
4. when did you get the content of xcat.log as you pasted? during installation or after installation?

[2016-01-15 03:12] immarvin commented on #597
hi @penguhyang ,
 the problem is that the logs in xcat.log on the cn is not complete,  is there anything with logger -n?

[2016-01-15 03:19] penguhyang commented on #597
yes, this error is caused by ``logger -n`` which was defined in ``msgutil_r`` function.

[2016-01-15 03:26] junxiawang opened #601 "[FVT] docker :def command does not work for docker instance definition"
Test OS: MN and docker host is ubuntu 14.04
Test xCAT version:
[code]

Debug information: xxx
[code]

[2016-01-15 03:53] zet809 commented on #601
Since the docker instance networking functions are not implemented in this sprint, the dockernics attribute can not be used at present. I have modified mini-design.
And for objtype, it is invalid for *def command.
So, close this defect.

[2016-01-15 04:16] junxiawang commented on #601
But the command chdef  hang ,I do not think this should be hanged here.

[2016-01-15 04:19] junxiawang commented on #601
chdef host1c1 dockerflag=15.10 dockerhost=c910f04x30v11 dockercpus=2 dockermemory=4096 groups=docker  mgt=docker
-----------------> using this command still hang and no output.

[2016-01-15 04:33] caomengmeng opened #602 "Failed to see the "mypostscript generated successfully" log as post.xcat design"
ENV:
MN: x86_64 sles11.04

xCATBuild:
[code]
Steps to reproduce:
1. install RH7.2 then track log in /var/xcat/log/xcat.log

By design，
https://github.com/xcat2/xcat-core/wiki/post.xcat_restructure
There should  be a mypostscript file genereated by run_ps subroutine
6. Now we output the run_ps subroutine and append the mypostscript file content to recreate mypostscript file.
    1. If successfully

[2016-01-15 05:12] penguhyang commented on #602
``mypostscript generated successfully`` means ``generate mypostscript file successfully`` in code.

[2016-01-15 05:26] caomengmeng commented on #602
@penguhyang  No, it is not only some word spelling issue, this covers the mypostscripts critical error and plain erorr. You can find in design this "generate mypostscript file successfully" is for another information. So I reopen it until  we make final decision in next Monday meeting.

[2016-01-15 05:55] caomengmeng opened #605 "[FVT]:Failed to select install disk while reinstalling RH7.2 on ppc64le VM"
ENV: All machines are VMs
MN: ppc64le RH7.2

xCATBuild:
[code]
Steps to reproduce:
RH7.2 reinstall:
1. while installing RH7.2, using ssh root@node login, track the /tmp/xcat_getinstalldisk_log
You will see logs:
[code]
Or Logs
[code]

[2016-01-15 19:15] japuzzo commented on #593
This occurred when updating Firestone nodes ( Power 8 )
Using latest xCAT version (Poughkeepsie IBM lab)
Version 2.11 (git commit 9ea36ca6163392bf9ab684830217f017193815be, built Mon Nov 30 05:43:11 EST 2015)
If you have any questions send me email at apuzzoj(at)us.ibm.com

[2016-01-15 19:21] whowutwut commented on #593
@pdlun92 , any ideas on this?

[2016-01-18 00:47] junxiawang commented on #601
root@c910f04x30v11:~# rmdef -t node ttt
Error: Could not find an object named 'ttt' of type 'node'.
----->will hang here

[2016-01-18 01:49] daniceexi commented on #601
@zet809 This issue caused by a topy in the Schema.pm. Please change the 'ndoe' to 'node' in L2579

[code]

[2016-01-18 01:57] daniceexi opened #608 "[DEV] A typo of coding in InstUtils.pm"
@xuweibj I found a typo in your check in f2b9f6e94a13fa939f0d5d93e38aa69c0eff7ec1

``@servd[0]`` should be ``$servd[0]``
[code]

[2016-01-18 07:14] caomengmeng opened #610 "Improve and update xcat.post mini design"
1. For critical error and plain error logs.
    1.1 the file or folder where the logs will be wrote.
    1.2 which kind of logs will be written when the debugmode is open or not.
2. For planing output section.
    2.1 issue 5 title and file names should be updated.
    2.2 issue6 and issue11 should be deleted.
3. For plain error section, the issue 6 should be deleted.
4. Add supported OS in design

[2016-01-18 07:15] caomengmeng commented on #602
Add issue: https://github.com/xcat2/xcat-core/issues/610 to track this issue.

[2016-01-18 08:31] penguhyang commented on #610
updated mini-design for post.xcat
https://github.com/xcat2/xcat-core/wiki/post.xcat_restructure

[2016-01-18 09:09] penguhyang commented on #602
close this issue as it was tracked.

[2016-01-18 09:09] #602 closed

[2016-01-18 10:46] whowutwut commented on #593
Assign to @pdlun92  to look into this issue

[2016-01-18 17:36] whowutwut commented on #559
@xuweibj  Can you please add some response to this issue as to what cause the problem and how did we fix it? There is no information provided in the pull reqeust, the only way to know is to look at the code.

[2016-01-18 19:35] whowutwut opened #615 "[DEV]Implement documentation changes based on comments in #480"
I had made some comments to pull request #480 regarding the documentation.  The code and documentation were in the same pull request which is OK but since the code needed to be committed and pulled in for the build, I did not have a chance to make comments to the doc.

I'd like for the documentation changes mentioned on #480 to get into the latest doc release.

[2016-01-18 20:31] whowutwut commented on #537
@cxhong  and I saw an issue recently where the PostgreSQL DB was running but there was something wrong with it.  The nodeset commands would just time out.  But I restarted postgresql and the commands still worked so I didn't assume it was the DB.  It wasn't until we changed back to SQLite that xCAT started working again.

[2016-01-18 23:24] whowutwut commented on #586
Is anything special in the postscripts or they are using the default shipped with xCAT?

[2016-01-18 23:24] whowutwut commented on #586
Another question, what is the mgmt node OS/ARCH?

[2016-01-18 23:25] whowutwut commented on #586
@pdlun92  Did we see any issues launching SLES 12.1 on our pkvm machine?

[2016-01-18 23:52] whowutwut commented on #598
@penguhyang  What is the solution for Ubuntu O/S?

[2016-01-19 01:44] junxiawang opened #616 "[FVT]aix720 xcat-dep inst need modified again"
Env:Mn is aix720
How to reproduce:
[code]

[2016-01-19 01:48] daniceexi commented on #537
@whowutwut maybe the issue not caused by the DB itself isntead of xCAT DB process. So restart xcatd would resolve the problem. If this is the case, the xcat DB process might get into an unknown state.

[2016-01-19 02:14] #610 closed

[2016-01-19 02:45] zet809 commented on #601
Fixed in pull request #611 .

[2016-01-19 07:16] penguhyang commented on #598
there are some files only used for ubuntu, for example ``pre.ubuntu`` and ``post.ubuntu``

[2016-01-19 07:32] junxiawang commented on #562
this bug cannot reproduce so I have close it now .

[2016-01-19 07:32] #562 closed

[2016-01-19 08:10] daniceexi commented on #598
@penguhyang

Two questions:

1. Do you have plan to refine the post.ubuntu as you did for post.xcat?
2. Is it possible to merge post.ubuntu together with post.xcat since they have a lot of duplicated code.

[2016-01-19 08:34] penguhyang commented on #598
@daniceexi Thanks for review. I think refine the post.ubuntu will be a necessary action in the future, maybe the post.xcat and post.ubuntu can be merge together since they have a lot of duplicated code.

[2016-01-19 08:56] daniceexi commented on #559
@whowutwut I changed the subject to a reasonable text. And set the lable: ``status:pending`` since the code has been merged.

[2016-01-19 08:57] caomengmeng commented on #597
Passed, for the midi-design is changed so this message will not be shown

[2016-01-19 09:52] caomengmeng opened #618 "[FVT]Install disk logs are wrong while reinstall ubuntu14.04.3 on ppc64le multi-disks machine"
Test ENV:
MN:  ppc64le machine with multi-disck /dev/sda ~/dev/sdl
[code]

Reproduce steps:
1. CN already installed OS: ubuntu14.04.3-ppc64el-install-compute in /dev/sda, then reinsall ubuntu 14.04.3. open the debug mode, while installing, track  /tmp/xcat_getinstalldisk_log in CN.
[code]

[2016-01-19 10:04] caomengmeng commented on #564
passed

[2016-01-19 10:04] #564 closed

[2016-01-19 10:29] caomengmeng opened #619 "[FVT]Install disk logs are wrong while reinstall sles12 on ppc64le multi-disks machine"
Test ENV:
MN:  ppc64le machine with multi-disck /dev/sda ~/dev/sdl
[code]

Reproduce steps:
1. CN already installed OS: ubuntu14.04.3-ppc64el-install-compute in /dev/sda, then reinsall sles 12. open the debug mode, while installing, track  /tmp/xcat_getinstalldisk_log in CN.
[code]

[2016-01-19 12:09] whowutwut commented on #537
@daniceexi  The restart of xcatd did not resolve the problem.  It was very strange.  The only thing that resolved it was changing back to SQLite.  If it happens again , ill try and debug but that environment is not there anymore

[2016-01-19 13:10] whowutwut commented on #559
Thanks @daniceexi ... What I was looking for was a solution to the Issue.  The customer opens an issue but we don't move the issue discussion through to completion.  In this case we just reference a pull request that claims to fix the issue.  In the pull request, we also do not have any text indicating what the fix was, that would have been OK also.   What is left is that the customer needs to go

[2016-01-19 21:33] pdlun92 commented on #593
identified the root cause in the code.  in `xCAT-server/lib/xcat/plugins/ipmi.pm` line 1557
[code]
Currently working with ipmitool raw commands to get desired output.  Hope to get a fix in within 24 hours

[2016-01-20 03:35] caomengmeng commented on #597
@immarvin
1. xcatdebugmode is on
2. Add necessary message to distinguish the CN and MN.
3. CN xcat.log
4. After installation

[2016-01-20 04:22] junxiawang opened #625 "[FVT]2.12:mkdocker failed :Could not create socket"
Env: Mn and docker host
[code]
xCAT version:
[code]
How to reproduce:
[code]

[2016-01-20 05:26] neo954 opened #627 "[FVT] The postscript confignetwork run out of control and exited with zero exit code"
The postscript ``confignetwork`` run out of control and exited with zero exit code.

As you can see from the output of the script, there is usage of the command ``grep``. That may due to the script ``confignetwork`` was passing wrong command line arguments to ``grep``

While reaching fatal error and failing configure the network, the proper behavior of ``confignetwork`` should be exited with non-z

[2016-01-20 05:33] neo954 commented on #627
This is the node definition of ``c910f02c03p23``. As you can see here, the attributes ``nictypes.eth1`` and ``nictypes.eth2`` are missing. I made this definition on purpose.

    # lsdef c910f02c03p23
    Object name: c910f02c03p23
        arch=ppc64
        cons=hmc
        currchain=boot
        currstate=boot
        groups=lpar,all,f02c03compute,compute,diskfull40g,p7compute
        hcp=c910hm

[2016-01-20 05:39] neo954 commented on #627
In line 234 of the bash script, the variable ``$alonenic`` should be quoted with double quotes. Without the quotes, when ``$alonenic`` is empty string, ``grep`` will get no command line argument. That is why ``grep`` printed out the usage.

    224      alone_nics=`echo "$all_nics_list"|awk '{if(0<NF&&NF<2) print $0}'`
    225      nics_list=`echo "$all_nics_list"|awk '{if(NF>1) print $0}'`
    22

[2016-01-20 05:54] neo954 opened #628 "[FVT] The postscript confignetwork failed and exited with zero exit code when command brctl was absent on the compute node"
The postscript ``confignetwork`` failed and exited with zero exit code when command ``brctl`` was absent on the compute node.

While reaching fatal error and failing configure the network, the proper behavior of confignetwork should be exited with non-zero exit code.

On RHEL 7.2, the command ``brctl`` belongs to the rpm package ``bridge-utils``. But this package is not in the default RHEL 7.2 pac

[2016-01-20 06:21] daniceexi commented on #559
@whowutwut Thanks for the remind. Yes, the root cause was xCAT code could not find the MTMS for Habanero nodes from FRU0. The fix was to try to go through FRU0, 2, 3 until to find a MTMS information.

@zet809 and @xuweibj have discussed with the creator of this issue and confirmed that the fix could resolve customer's issue. They should paste the discussion as comments here.

[2016-01-20 07:13] neo954 opened #629 "[FVT] The postscript confignetwork failed to configure link aggregation out of the box"
Below is the detailed output. Please notice the error message ``[E]: Fail to load kernel module "bonding"``, and ``[I]: >> ./nicutils.sh: line 243: bonding: command not found``.

    # updatenode c910f02c03p22 confignetwork
    c910f02c03p22: xcatdsklspost: updating VPD database
    c910f02c03p22: xcatdsklspost: downloaded postscripts successfully
    c910f02c03p22: Wed Jan 20 01:49:18 EST 2016 Ru

[2016-01-20 07:14] neo954 commented on #629
While reaching fatal error and failing configure the network, the proper behavior of confignetwork should be exited with non-zero exit code.

[2016-01-20 07:24] neo954 commented on #629
In bash script ``nicutils.sh`` line 243, bash variable ``$modprobe`` is used. And it is defined nowhere. That is where the ``bonding: command not found`` error message comes from.

[2016-01-20 10:30] neo954 opened #630 "[FVT] While creating link aggregation through confignetwork, only the nictypes of the first lower interface is checked"
Below are the ``nicdevices`` and ``nictypes`` attributes of node ``c910f02c03p23``. At this situation, run postscript ``confignetwork`` will fail, as I mentioned in issue #627.

    # lsdef c910f02c03p23 -i nicdevices,nictypes
    Object name: c910f02c03p23
        nicdevices.bond0=eth2|eth1
        nictypes.bond0=bond

But, if attribute ``nictypes.eth2=ethernet`` is added, postscript ``confignetw

[2016-01-20 11:23] neo954 opened #631 "[FVT] The postscript confignetwork can create one link aggregation interface only"
Below are the ``nicdevices`` and ``nictypes`` attributes of node ``c910f02c03p23``.

    [root@c910f02c03p27 ~]# lsdef c910f02c03p23 -i nicdevices,nictypes
    Object name: c910f02c03p23
        nicdevices.bond0=eth2|eth3
        nicdevices.bond1=eth1|eth4
        nictypes.eth4=ethernet
        nictypes.eth2=ethernet
        nictypes.eth3=ethernet
        nictypes.bond0=bond
        nictypes.bond1

[2016-01-20 11:52] neo954 opened #632 "[FVT] The postscript confignetwork failed to create tagged VLAN interface with leading zeros in the VLAN id."
Below are the ``nicdevices`` and ``nictypes`` attributes of node ``c910f02c03p23``. Please notice, ``bond0.0009`` is defined, with leading zeros as a part of the VLAN id.

In this case, postscript ``confignetwork`` failed to create the network interface of VLAN 9.

    # lsdef c910f02c03p23 -i nicdevices,nictypes
    Object name: c910f02c03p23
        nicdevices.bond0.0009=bond0
        nicdevices

[2016-01-20 12:02] neo954 commented on #632
In ``nicutils.sh`` line 1016, the last command line argument, ``$vlanid`` should be treated as a integer, and all the leading zeros should be removed.

    1016              $ip link add link $ifname name $ifname.$vlanid type vlan id $vlanid

Change the line above to below

    1016              $ip link add link $ifname name $ifname.$vlanid type vlan id $(( 10#$vlanid ))

[2016-01-20 12:31] neo954 opened #633 "[FVT] The postscript confignetwork failed to create tagged VLAN interface when a customized interface name is used"
Below are the ``nicdevices`` and ``nictypes`` attributes of node ``c910f02c03p23``. Please notice, a customized interface name ``foo.9`` is used for the interface name of the tagged VLAN interface.

In this case, the postscript ``confignetwork`` failed to run. It seems the script presume the name of the untagged network interface is a part of the tagged VLAN interface. Which is not true. In Linux,

[2016-01-20 15:25] cxhong commented on #586
I successfully provisioned a sles12.1 diskfull compute node on p8le kvm.  I didn't see "Failed to add add-on product" message.
the /var/log/apache2/access_log on MN:
[code]
are those messages mean add-on product failed to install?

[2016-01-20 17:08] markprez opened #634 "[Customer]NVIDIA Driver update on RH72 PPC64LE"
NVIDIA introduced a new driver for K80 GPU's and CUDA 7.5 that can be found on http://www.nvidia.com/download/driverResults.aspx/96857/en-us
We are updating the driver through xdsh with the commands:
yum remove xorg-x11-drv-nvidia\* kmod-nvidia\* -y
/install/Updates/CS15b/CUDA/DRIVER68/NVIDIA-Linux-ppc64le-352.68.run -a --dkms
reboot
After reboot, verify the driver level:
nvidia-smi | grep Driver

[2016-01-20 20:44] pdlun92 commented on #593
Here is the information that rflash -c is currently displaying (some information redacted)
NOTE: While the rflash code uses the raw version of the ipmitool "hpm compprop" command for each component, the "hpm check" command displays the same information in better human readable format.
[code]
So at the least, the Component IDs are misleading or incorrect.  Additionally, this seems to suggest that t

[2016-01-21 00:46] daniceexi commented on #593
@zet809 I known you have more information of why there's twist between the firmware package and real system, could you give more explaination?

[2016-01-21 01:33] daniceexi commented on #586
@cxhong From the doc of sles: http://doc.opensuse.org/documentation/html/openSUSE_114/opensuse-reference/cha.add-ons.html
Looks like the addon packages mostly are not in the install iso that user need to select them from cd, or usb media. I don't think we have add_on_products.* dir or file in the install iso, if so, that's the correct action that no add_on will be installed.

[2016-01-21 04:10] immarvin commented on #547
@whowutwut , seperating STDERR and STDOUT into different files will make it difficult to position the  root cause of the problem, users have to  make up the time line of entries in 2 files according to the time stamps.

[2016-01-21 05:19] daniceexi commented on #573
Following is the patch for this issue. You can just apply this patch before getting the fix in 2.9.3

[code]

[2016-01-21 05:47] caomengmeng commented on #619
We don't support sles12 in ppc64le machine, so close.

[2016-01-21 05:47] #619 closed

[2016-01-21 06:16] neo954 opened #636 "[FVT] The postscript confignetwork use wrong interface name for link aggregation interface."
Below are the ``nicdevices`` and ``nictypes`` attributes of node ``c910f02c03p23``. As you can see below, there is one link aggregation interface defined, and named ``bond99``.

    # lsdef c910f02c03p23 -i nicdevices,nictypes
    Object name: c910f02c03p23
        nicdevices.bond99=eth2|eth1
        nictypes.eth2=ethernet
        nictypes.bond99=bond
        nictypes.eth1=ethernet

Below is the a

[2016-01-21 06:21] neo954 commented on #636
Based on issue #631 and this issue, currently, ``confignetwork`` only support one link aggregation interface, and it can named ``bond0`` only.

All this kind of presumptions is incorrect and it is not the design target of ``confignetworks``.

[2016-01-21 06:43] neo954 commented on #636
The interface name ``bond0`` is hard coded in line 374 of ``confignetwork``.

    374              create_bond_interface ifname=bond0 slave_ports=$base_nic_for_bond

[2016-01-21 06:45] neo954 commented on #631
The interface name ``bond0`` is hard coded in line 374 of ``confignetwork``.

    374              create_bond_interface ifname=bond0 slave_ports=$base_nic_for_bond

[2016-01-21 07:29] xuweibj commented on #618
For 14.04.3, when run this script, the "awk" command not found. I will modified code.

[2016-01-21 09:53] caomengmeng opened #638 "[FVT] Design Bug: Not Cover RH6.7 for Post.xcat Restructure"
The post.xcat restructure design doesn't cover the RH6.7: https://github.com/xcat2/xcat-core/wiki/post.xcat_restructure
As we support the latest two version for each OS, so please take RH6.7 in consideration and make it works.

[2016-01-21 09:54] neo954 opened #639 "[FVT] The postscript confignetwork created ethernet bridge interface successfully, Spanning Tree Protocol is not enabled by default"
Below are the ``nicdevices`` and ``nictypes`` attributes of node ``c910f02c03p23``. Please notice there is a bridge interface named ``foo``. And ethernet interface ``eth1`` is connected to it. And there is no IP address assigned to interface ``foo``. Which is intentional.

    # lsdef c910f02c03p23 -i nicdevices,nictypes
    Object name: c910f02c03p23
        nicdevices.foo=eth1
        nictypes.e

[2016-01-21 10:00] neo954 commented on #616
Package ``curl-devel-7.46.0-1ssl.aix7.2.ppc.rpm`` is not needed by xCAT, and should be remove. I will remove this rpm package and create a new tarball.

[2016-01-21 10:28] neo954 opened #640 "[FVT] For link aggregation support of confignetwork, only IEEE 802.3ad is supported, all the other modes are not"
Below are the `nicdevices` and `nictypes` attributes of node `c910f02c03p23`. With these attributes, a regular link aggregation network interface named `bond0` can be created.

[code]

But, currently, only IEEE 802.3ad, LACP is supported by `confignetwork`. Actually, Linux support a brunch of modes of the link aggregation [1]. All the other modes are not supported yet.

[1] https://en.wikipedia.or

[2016-01-21 10:55] neo954 opened #641 "[FVT] Wrong link members of the link aggregation interface created by postscript confignetwork, when node definition changed"
Below were the `nicdevices` and `nictypes` attributes of node `c910f02c03p23` at beginning.

[code]

After created the definition, command `updatenode c910f02c03p23 confignetwork` was run. And it run successfully. A link aggregation interface named `bond0` was created, with `eth2` and `eth1` as its link members.

After that, the following command were run, and changed the node definition a little.

[2016-01-21 10:58] neo954 commented on #641
It seems the wrong behavior is due to the current state of a link aggregation interface is not checked by ``confignetwork``.

What is the end user just made a typo and want to fix it later. Is it reasonable to ask the user to install the full operating system again? Anyway, this is a usability problem. And I believe it deserve to be fixed.

[2016-01-21 11:22] neo954 opened #642 "[FVT] Wrong attached ports of the linux bridge interface created by postscript confignetwork, when node definition changed"
Below were the `nicdevices` and `nictypes` attributes of node `c910f02c03p23` at beginning. Please notice there was a bridge interface named `bar` and `eth2` was the only attached port of `bar`.

[code]

After created the definition, command `updatenode c910f02c03p23 confignetwork` was run. And it run successfully. A bridge interface named `bar` was created, with `eth2` as its attached port.

Afte

[2016-01-21 11:23] neo954 commented on #642
The same point as issue #641.

What is the end user just made a typo and want to fix it later. Is it reasonable to ask the user to install the full operating system again? This is a usability problem. And I believe it deserve to be fixed.

[2016-01-22 02:12] tingtli opened #644 "[FVT]rsetboot NODE net could not set NextScale node to boot from network"
Test OS:  SLES11.4
Test xCAT version: xCAT 2.10 GA version , git commit 79c7f6949c09e0b49875f10ede4b75b18ad4a0e7

How to reproduce:
1. Install and configure MN
2. Define a NextScale node as compute node
3. Prepare to do diskful provision for the NextScale node
4. run rsetboot NODE net to set the node boot from network.
[code]
5 . run "rpower NODE reset" to let the node reboot and begin installatio

[2016-01-22 03:03] #638 closed

[2016-01-22 03:11] caomengmeng opened #647 "[FVT] Design Bug: How to choose install disk when there isn't any WWN for disks."
As restructure of choosing install disk: https://github.com/xcat2/xcat-core/wiki/determine_install_disk, the disk's WWN is the main logic to choose a install disk while there are multi-disks in a machine. And the WWN is considered as the mac, mostly there will be a WWN for each disk. But while testing, there are so many different platforms: Lpar, ppc64le vm, ppc64le, x86_64, single or multi-disks

[2016-01-22 03:17] caomengmeng opened #648 "[FVT] Can't test multi-disks with WWNs for no suitable machine."
As design: https://github.com/xcat2/xcat-core/wiki/determine_install_disk,
we should test the multi-disks with WWNs to cover the fresh and reinstall checkpoints, but now without suitable machine to test, just open a issue to track it.

[2016-01-22 03:32] junxiawang opened #649 "[FVT]2.12:docker : command rpower 's return value need be modified"
Test OS:rh7
Test xCAT version:
Version 2.12 (git commit fa2237d141c49e01a630b73c0f0a8e8a69a877fa, built Thu Jan 21 19:30:51 EST 2016)
How to reproduce:
[code]

[2016-01-22 03:35] neo954 commented on #627
This is the version of xCAT used in the testing.

    Version 2.12 (git commit fbd91febf512026bdada2ab10120957b90bf8831, built Mon Jan 18 15:30:50 EST 2016)

[2016-01-22 03:35] neo954 commented on #628
This is the version of xCAT used in the testing.

    Version 2.12 (git commit fbd91febf512026bdada2ab10120957b90bf8831, built Mon Jan 18 15:30:50 EST 2016)

[2016-01-22 03:35] neo954 commented on #629
This is the version of xCAT used in the testing.

    Version 2.12 (git commit fbd91febf512026bdada2ab10120957b90bf8831, built Mon Jan 18 15:30:50 EST 2016)

[2016-01-22 03:35] neo954 commented on #630
This is the version of xCAT used in the testing.

    Version 2.12 (git commit fbd91febf512026bdada2ab10120957b90bf8831, built Mon Jan 18 15:30:50 EST 2016)

[2016-01-22 03:35] neo954 commented on #631
This is the version of xCAT used in the testing.

    Version 2.12 (git commit fbd91febf512026bdada2ab10120957b90bf8831, built Mon Jan 18 15:30:50 EST 2016)

[2016-01-22 03:35] neo954 commented on #632
This is the version of xCAT used in the testing.

    Version 2.12 (git commit fbd91febf512026bdada2ab10120957b90bf8831, built Mon Jan 18 15:30:50 EST 2016)

[2016-01-22 03:36] neo954 commented on #633
This is the version of xCAT used in the testing.

    Version 2.12 (git commit fbd91febf512026bdada2ab10120957b90bf8831, built Mon Jan 18 15:30:50 EST 2016)

[2016-01-22 03:36] neo954 commented on #636
This is the version of xCAT used in the testing.

    Version 2.12 (git commit fbd91febf512026bdada2ab10120957b90bf8831, built Mon Jan 18 15:30:50 EST 2016)

[2016-01-22 03:36] neo954 commented on #639
This is the version of xCAT used in the testing.

    Version 2.12 (git commit fbd91febf512026bdada2ab10120957b90bf8831, built Mon Jan 18 15:30:50 EST 2016)

[2016-01-22 03:36] neo954 commented on #640
This is the version of xCAT used in the testing.

    Version 2.12 (git commit fbd91febf512026bdada2ab10120957b90bf8831, built Mon Jan 18 15:30:50 EST 2016)

[2016-01-22 03:36] neo954 commented on #641
This is the version of xCAT used in the testing.

    Version 2.12 (git commit fbd91febf512026bdada2ab10120957b90bf8831, built Mon Jan 18 15:30:50 EST 2016)

[2016-01-22 03:36] neo954 commented on #642
This is the version of xCAT used in the testing.

    Version 2.12 (git commit fbd91febf512026bdada2ab10120957b90bf8831, built Mon Jan 18 15:30:50 EST 2016)

[2016-01-22 14:24] whowutwut commented on #270
Closing out this issue.  Here's the latest summary:

**xCAT Main Landing Page:** http://xcat.org/
   * points to GitHub Issues for Bug Tracking
   * points to Documentation page
   * points to mailing list

**xCAT Documentation:** http://xcat-docs.readthedocs.org/
   * select doc based on xCAT branch version

**GitHub Issues (Bug Tracking/Feature Request)**: https://github.com/xcat2/xcat-core/issu

[2016-01-22 14:24] #270 closed

[2016-01-22 20:58] whowutwut opened #651 "[DEV] addkit command does not behave exactly like manpage indicates"
I'm in the process of cleaning up the kit related man pages... while running the commands, I found some inconsistencies and places we could be improving.

1. The files are extracted to /tmp/tmpkit and are not cleaned up
[code]

2 . Why do we need to extract twice?

It seems like regardless we are extracting once to /tmp/tmpkit to look at the contents. Once we look at the contents why are we extrac

[2016-01-25 03:49] bybai commented on #640
@neo954 , yes, now we just support IEEE 802.3ad, LACP , since it is common used, it was also used by solution team. In the future, we should support nicextraparams in confignetwork from nics table. This mode can be configured in nicextraparams, so I think your issue is a new requirement.  I assigned it into feature type. Thanks.

[2016-01-25 03:58] bybai commented on #641
@neo954 , currently, we do not delete bond, we just create bond. If user want to recreate nics, he should manually restore all the nics, then re-execute confignetwork.
I know your meaning, if our script can do restore work automatically, all the actions are perfect. In that case, we should backup all the original network configure files, then restore network, then recreate new bond,  it is not jus

[2016-01-25 05:07] neo954 commented on #641
@bybai , I am not expecting ``confignetwork`` redo all the network interfaces related configurations. I expect ``confignetwork`` check the current state of the compute node before it configure the network interface, and clean all the link members of the link aggregation interface before it re-configure it.

[2016-01-25 05:26] tingtli opened #654 "[FVT]copycds does not put files under correct directory and does not create correct image for SDK iso"
Test OS:  SLES 11 SP4
Test xCAT version: Version 2.10 (git commit 79c7f6949c09e0b49875f10ede4b75b18ad4a0e7, built Fri Jul 24 05:27:07 EDT 2015)
How to reproduce:
1. Install and config xCAT MN
2. run "copycds"

[code]

3. Check the file is placed under  /install/sles11/x86_64/sdk1. It should be placed under  /install/sles11.4/x86_64/sdk1

[code]

4. The image is also not correct.

[code]

[2016-01-25 05:40] junxiawang opened #655 "[FVT]2.93:aix720 could not get xcat version"
Test OS: aix720,p8
Test xCAT version:2.93
How to reproduce:
[code]

[2016-01-25 05:41] caomengmeng commented on #597
1. Install sles12 on ppc64le machine, the xcat.log in CN:/var/log/xcat, site MN site.xcatdebugmode=1, still failed to find excepted logs
[code]
MN:
[code]

[2016-01-25 05:43] junxiawang opened #656 "[FVT]2.93:aix720 xdsh could not work"
Test ENV: aix720,p8
Test xCAT version:2.93
How to reproduce:
[code]

[2016-01-25 06:16] junxiawang opened #657 "[FVT]"mkdocker command= " could not set commad for container correctly"
Test OS:rhels 7
Test xCAT version:
lsdef - Version 2.12 (git commit fa2237d141c49e01a630b73c0f0a8e8a69a877fa, built Thu Jan 21 19:30:51 EST 2016)
How  to reproduce:
[code]

[2016-01-25 06:29] junxiawang opened #658 "[FVT]docker:"rmdocker -f" failed to remove container"
Test OS:rhels7
Test xCAT version:
lsdef - Version 2.12 (git commit fa2237d141c49e01a630b73c0f0a8e8a69a877fa, built Thu Jan 21 19:30:51 EST 2016)
How to reproduce:
[code]

[2016-01-25 06:30] immarvin commented on #654
@penguhyang ,can you take a look at this?

[2016-01-25 06:33] tingtli opened #659 "[FVT]: some options for rinv Nextscale node has no output"
Test platform(including OS and Hardware):  SLES11.4,  Lenovo NeXtScale nx360 M5
Test xCAT version:
Version 2.10 (git commit 79c7f6949c09e0b49875f10ede4b75b18ad4a0e7, built Fri Jul 24 05:27:07 EDT 2015)
How to reproduce:

[code]

[2016-01-25 06:35] penguhyang commented on #597
@caomengmeng
For SLES, the installation will halt after the ssh server is started, the console output shows:
[code]
You may need to run ``yast`` to continue the installation.
ref: https://sourceforge.net/p/xcat/wiki/Debugging_xCAT_Problems/

[2016-01-25 06:53] junxiawang opened #660 "[FVT] lsdocker node -l --logs return too many illegal code"
Test OS: rhels7
Test xCAT version:
[root@c910f04x30 ~]# lsdef -v
lsdef - Version 2.12 (git commit fa2237d141c49e01a630b73c0f0a8e8a69a877fa, built Thu Jan 21 19:30:51 EST 2016)
How to reproduce:
[code]

[2016-01-25 06:54] daniceexi commented on #569
Code has been checked in:

* 2.12: ec4ce73d5be41c86da62d0b1ff936526fb7d65fd
* 2.11: 3eb292a80f91ef449988b6a2b1558f6b7a019832
* 2.9: 4dd1cd6a128d731ad9958e5e366c87f8a181be53

[2016-01-25 06:54] #569 closed

[2016-01-25 08:59] junxiawang opened #663 "[FVT]xCAT in docker :genimage failed"

[2016-01-25 11:17] tingtli opened #664 "[FVT]rvitals problems summary for NextScale node"
Test platform: SLES 11 SP4, Lenovo NeXtScale nx360 M5
Test xCAT version: Version 2.10 (git commit 79c7f6949c09e0b49875f10ede4b75b18ad4a0e7, built Fri Ju    l 24 05:27:07 EDT 2015)
How to reproduce:
1.Configure mn and define CN. cn is a NextScale node.
2. run rvitals command

[code]

[2016-01-25 11:26] junxiawang opened #665 "[FVT]xCAT in docker:makedns failed"
Test OS:ubuntu14.04.3
Test xCAT version:
How to reproduce:
[code]

[2016-01-25 12:09] whowutwut commented on #654
FYI, This might already be fixed in 2.11/2.12 by @pdlun92 in Issues #271

[2016-01-25 12:11] zet809 commented on #625
The default docker host port is 2375, I have modified in pull request #612.
Pls test based on the docker lifecycle management doc in #626

[2016-01-26 01:49] zet809 commented on #625
@junxiawang will you pls verify this issue based on the latest doc and code.

[2016-01-26 01:52] immarvin commented on #654
hi @tingtli , can you verify this with 2.11/2.12?

[2016-01-26 06:00] immarvin commented on #654
@whowutwut , this problem still exist in :
[code]

@penguhyang has checked in the fix in https://github.com/xcat2/xcat-core/pull/666

[2016-01-26 08:08] immarvin commented on #665
this is due to the apparmor on docker host.

The work around is to turn off the apparmor on Docker host with
[code]
Since Apparmor is a security framework on ubuntu like selinux on redhat, considering whether adding "turn off apparmor" as a prerequisite to run xCAT docker image

opened a bug to Docker:
https://github.com/docker/docker/issues/19709

[2016-01-26 08:15] immarvin commented on #665
@junxiawang , you can continue your test with the work-around. I will trace the ticket to Docker

[2016-01-26 08:23] immarvin commented on #663
since this is a bug report, please attach the details on the bug description

[2016-01-26 08:46] immarvin opened #667 "[DEV]command log writer process failed to start in xcat docker container"
docker image:
xcat/xcat-ubuntu-x86_64

[code]

The process tree inside the container:

[code]

[2016-01-26 08:55] daniceexi commented on #665
@immarvin But we did not see apparmor impacts the xCAT which running on an Ubuntu MN, why it impacts the xcat in docker container?

[2016-01-26 09:01] immarvin commented on #665
when running ``service bind9 start`` inside the container, the file to access is ``var/lib/docker/aufs/diff/92ec6d044cb3e39ae00500126a88c9ac342678d0591675f2231daafbf0877778/lib/x86_64-linux-gnu/libc-2.19.so`` ,the path is based on the container's filesystem on docker host,  however, the file paths in apparmor policy is based on the "/" on the docker container.

[2016-01-26 14:30] daniceexi commented on #665
@immarvin So the basic change is to disable appamror in xCAT image.

[2016-01-27 01:25] immarvin commented on #665
@daniceexi , disable apparmor on Docker host

[2016-01-27 02:27] immarvin commented on #665
updated the doc to disable AA on Docker host.
https://github.com/xcat2/xcat-core/pull/653

[2016-01-27 02:30] caomengmeng commented on #638
Test xcatdebugmode=1, there are all excepted logs; xcatdebugmode=0, then no xcat.post logs.
So this issue is passed.

[2016-01-27 02:30] hu-weihua commented on #655
@junxiawang,  I found below things in your environment:

    bash-3.2# ./xcatd -f
    Use of bare << to mean <<"" is deprecated at /opt/xcat/lib/perl/xCAT/DSHCLI.pm line 5115.
    Use of bare << to mean <<"" is deprecated at /opt/xcat/lib/perl/xCAT/DSHCLI.pm line 5115.
    Error loading module /opt/xcat/lib/perl/xCAT_plugin/makeknownhosts.pm  ...skipping
    Error loading module /opt/xcat/lib/perl

[2016-01-27 02:31] hu-weihua commented on #656
@junxiawang,  I found below things in your environment:

    bash-3.2# ./xcatd -f
    Use of bare << to mean <<"" is deprecated at /opt/xcat/lib/perl/xCAT/DSHCLI.pm line 5115.
    Use of bare << to mean <<"" is deprecated at /opt/xcat/lib/perl/xCAT/DSHCLI.pm line 5115.
    Error loading module /opt/xcat/lib/perl/xCAT_plugin/makeknownhosts.pm  ...skipping
    Error loading module /opt/xcat/lib/perl

[2016-01-27 02:33] caomengmeng opened #671 "[FVT] Design issue: how to choose a install disk while some disks have WWN, some don't."
As restructure of choosing install disk: https://github.com/xcat2/xcat-core/wiki/determine_install_disk, the disk's WWN is the main logic to choose a install disk while there are multi-disks in a machine. And the WWN is considered as the mac, mostly there will be a WWN for each disk. But if there are dome disks with WWN but some others don't, do we take this into consideration?

[2016-01-27 02:36] caomengmeng opened #672 "[FVT]Failed to generate expected logs in /var/log/xcat/xcat.log while installing SLES12 on ppc64le"
2. Install sles12 on ppc64le, set MN: site.xcatdebugmode=1
ENV:
[code]
Logs in CN: /var/log/xcat/xcat.log

[code]

[2016-01-27 02:39] caomengmeng commented on #597
Passed this issue and confirmed with Yang Peng already.
All excepted logs are all shown in CN: /var/log/xcat while set site.xcatdebugmode=1 and no xcat.post logs while set site.xcatdebugmode-0.

[2016-01-27 02:39] #597 closed

[2016-01-27 02:40] caomengmeng commented on #672
As the sles11.4 tested passed but there is still something wrong while installing the sles12, so split them into two issues.

[2016-01-27 02:42] immarvin commented on #672
does your xCAT build include https://github.com/xcat2/xcat-core/pull/600/files ?

[2016-01-27 02:42] immarvin commented on #672
hi @penguhyang , can you takea look at this?

[2016-01-27 02:47] caomengmeng commented on #672
@immarvin, just as the comments, as the sles11 and sles12 is not all the same while testing, so just split the former one, and close the sles11 related.

[2016-01-27 02:50] immarvin commented on #663
Please continue your test with the workaround:

run genimage export the generated diskless osimage with ``imgexport`` on other MN, then import the image to docker container with ``imgimport``

I will keep looking into this problem

[2016-01-27 02:54] immarvin commented on #672
hi @caomengmeng , we guess this is a duplicate bug with https://github.com/xcat2/xcat-core/issues/597. So please make sure you xCAT build has included the fix

[2016-01-27 03:01] daniceexi commented on #656
The build was made just during the code checkin. The problem was fixed just after the build.

[2016-01-27 03:06] hu-weihua commented on #655
@junxiawang, the version value is calculated from ``${GITREF}built`` and `` $BUILDDATE``, due to there are some problem in the build in your environment( please refer to comment for issue#656), so please rebuild new one and test again.

[2016-01-27 03:14] immarvin commented on #663
[code]

[2016-01-27 03:48] caomengmeng commented on #672
While set MN site.xcatdebugmode=0, then install sles12, there isn't any xcat.post log in CN:/var/log/xcat/xcat.log:

[code]

[2016-01-27 04:52] caomengmeng commented on #672
But failed to install sles12 while set site.xcatdebugmode=1, using rcons node you can see below messages:
[code]
The status of node is booting

Test ENV:
MN:
[code]

[2016-01-27 07:46] tingtli opened #674 "[FVT]: Hard disk boot failed on NextScale SLES11 SP4 after diskful installation"
Test OS:  SLES11 SP4
Test xCAT version: xCAT Version 2.10 (git commit 79c7f6949c09e0b49875f10ede4b75b18ad4a0e7, built Fri Jul 24 05:27:07 EDT 2015)
How to reproduce:
1. Define NextScale node as a compute node
2. Provision SLES11 SP4 on NextScale node
3. reboot NextScale node and find the boot failed.

Here is the output from the console
[code]

[2016-01-28 03:40] caomengmeng opened #676 "[FVT]Runing xcatconfig without atttibute is conflict with the man page"
Descriptions:
There is conflict while running xcatconfig command without any attributes with the man page.

EVN:
[code]
run xcatconfig without any attributes:
[code]

xcatconfig man page:

[code]

[2016-01-28 04:28] whowutwut commented on #654
@immarvin  @penguhyang  Thanks for checking.   I think for the later releases of SLES they changed the wording of the identifier we are checking..

SLES11 SP4 SDK: ``SUSE Linux Enterprise Software Development Kit 11 SP4``
SLES 12 SDK : `` cpe:/o:suse:sle-sdk:12:sp1,SUSE Linux Enterprise Software Development Kit 12 SP1``

For sles 12 we checked ``sdk:12 sp1`` instead of the ``12 SP1`` tag..
I wonde

[2016-01-28 07:10] caomengmeng commented on #569
Hi @daniceexi
I am using the latest build.
1. change xcatsslversion value to be TLSv12
2. run: xcatconfig -f
3. check the xcatsslversion value, it is still the default value TLSv1

[code]

[2016-01-28 08:32] daniceexi commented on #569
@caomengmeng You should not use **-f** option, instead the '-u' should be used to simulate the update of xcat.

[code]

[2016-01-29 00:18] daniceexi commented on #638
@caomengmeng I'd like you can draft out the tips of how to use the **xcatdebugmode** feature and add it in xCAT debug doc.

[2016-01-29 00:28] daniceexi opened #679 "[Customer] updatenode failed against Ubuntu node"
A customer found the updatenode command failed to run against Ubuntu node, the root cause was the default /bin/sh links to the /bin/dash. xCAT updatenode framework script **xcatdsklspost** is running with **/bin/sh**, then for Ubuntu the **/bin/dash** will be used to run the script. But the script **xcatdsklspost** was designed to run with general shell or bash.

xCAT has discussion before that al

[2016-01-29 02:03] junxiawang opened #680 "[FVT]aix720 computernode not passwd set after provision"
Test OS: aix720
Test xCAT version:2.9.3
How to reproduce:
[code]
------------------>after provision no passwd set and not scripts run

[2016-01-29 03:00] bybai commented on #631
This defect root cause is duplicate with #636

[2016-01-29 06:24] immarvin commented on #679
on ubuntu, "/bin/sh" is a symbol link to "/bin/bash" or "/bin/dash", so I think modify the she-bang to "/bin/bash" is ok. The autotest can cover it

[2016-01-29 06:47] junxiawang commented on #601
Tested using latest xcat build lsdef - Version 2.12

[2016-01-29 06:47] #601 closed

[2016-01-29 06:57] junxiawang commented on #658
Tested in xcat latest build.
Version 2.12 (git commit 903e56e180b18c71d6b0a293d12820af9c1124df, built Thu Jan 28 19:30:34 EST 2016)

[2016-01-29 06:57] #658 closed

[2016-01-29 06:57] junxiawang commented on #656
Tested in aix latest build.

[2016-01-29 06:57] #656 closed

[2016-01-29 07:56] flystar0439 opened #685 "[Customer]rcons reports session closed repeatedly on open power"
When TTY is in a daze, rcons always reports many 'session closed' entries repeatedly. It massed up the screen output. We should keep a long connection with BMC. I only noticed this issue on open power system which use BMC as hardware control(IPMI).

[code]

[2016-01-29 08:40] junxiawang commented on #655
Tested in latest xcat build.
Version 2.9.3 (git commit 5345643cf8fd145fb6c66397624445b6538d9d24, built Fri Jan 29 02:25:14 CST 2016)

[2016-01-29 08:40] #655 closed

[2016-01-29 10:37] daniceexi commented on #685
@zet809 We need to take a look whether we can recreate this issue in xCAT local system.

[2016-01-29 11:29] whowutwut commented on #569
@caomengmeng I think we want to verify the case where we set the ssl attributes and make sure on an xCAT Version upgrade (2.10->2.11, 2.11->2.11,etc) it does not change it on the user

[2016-01-29 11:48] whowutwut commented on #676
@daniceexi  I've seen many of the man pages do not match the Usage.  Is there a better way to sync the usage code to the pod files?

[2016-01-29 23:13] whowutwut commented on #685
@daniceexi  @zet809  @pdlun92  I think we did see this happening in our local system, but not 100% sure how to reproduce it consistently.  Can we show the BMC closing outside of rcons?  It would help us go to the firmware team with something...

[2016-01-30 10:55] arif-ali commented on #685
I have Little Endian Machines for one of my customers, if it helps to test, then happy to do it.

It is already provisioned, and on post-install duties

[2016-01-30 12:17] immarvin commented on #663
https://github.com/xcat2/xcat-core/pull/687

[2016-01-31 09:20] daniceexi commented on #663
@immarvin
Two comments for your change:

* You should separate the fix and code format change so that reviewer can found your change for fix;
* There are several indent problems for the comment lines in your formatted code.

[2016-01-31 09:37] daniceexi commented on #685
@whowutwut As @zet809 mentioned that we can recreate this problem when just using ipmitool, we can use this fact to talk with firmware team. Could we find an official way to discuss or open but to firmware team?

@arif-ali Could you LE machine recreate this issue consistently?

[2016-01-31 11:04] whowutwut commented on #608
@daniceexi, can you provide details how you found this?
Why was this missed by the FVT testing? @tingtli?

[2016-01-31 11:08] whowutwut commented on #598
@penguhyang should we keep this issue open to track the work for merging post.ubuntu? If we say it's something to do for the future, we should have an issue track. If we close this, will probably just forget about it....

[2016-01-31 11:14] whowutwut commented on #547
@immarvin can you give an example of why we need to line up the time stamp?  I think the error should be descriptive enough to identify.. It should be a fatal error that we record in the .err file. If we are using the same message then maybe we need to fix The msg to be more clear?

I think currently if there is an error we don't stop the postscript process. So it's ok for errors to happen. That m

[2016-01-31 11:26] arif-ali commented on #685
I don't see an issue myself, but if there is anything I can do to try and reproduce, then will happy to do it

[2016-01-31 11:50] whowutwut commented on #685
@arif-ali do you have an environment where you have the same open power machines managed by two xcat mgmt nodes?  I seem to recall we saw this happening when we were sharing machines in our development env moving them between mgmt nodes...

[2016-01-31 12:52] arif-ali commented on #685
no, I only have one management node. the only thing is that I enable consoleondemand in the site table, so that would be the only difference with the console setup. As that can fill up `/var/log/console` while going through the installation phases

[2016-01-31 14:06] daniceexi commented on #608
@whowutwut This is unusual usage of array, perl syntax check will give a warning, but it does work. So test did not find this issue.

[2016-01-31 14:11] daniceexi commented on #598
@whowutwut @penguhyang Will track it in our RTC as a story.

[2016-01-31 14:20] daniceexi commented on #685
@whowutwut The creator of the issue mentioned that he only has one MN. So the root cause of this issue was NOT caused multiple MNs.

[2016-02-01 02:06] penguhyang commented on #672
This issue was releated to the xcatdebugmode.
@immarvin  Could you help to see it ?

[2016-02-02 03:21] junxiawang opened #691 "[FVT] xCAT migration from 2.9.2 on aix71R to 2.9.3 on aix720 failed"
Test OS : AIX 71R migration to AIX 720
Test xCAT version: xCAT2.9.2 migration xCAT 2.9.3
How to reproduce:

1. install xCAT 2.9.2 on AIX71R
2. update AIX 71R to AIX720
3. migration xCAT to 2.9.2
[code]

[2016-02-02 06:33] caomengmeng opened #692 "[FVT]While using XCATBYPASS=YES with command, there are unexcepted logs in terminal."
Description: While using XCATBYPASS=YES with command, there are unexcepted logs in terminal.

ENV：
[code]

Steps to reproduce::
1. make sure the xcatd is running
2. run XCATBYPASS=YES command, for example: XCATBYPASS=YES lsdef. There are unexcepted logs like: Using an array as a reference is deprecated at /opt/xcat/lib/perl/xCAT_plugin/kvm.pm line 3067
3. stop xcatd, then run XCATBYPASS=YES comman

[2016-02-02 06:57] neo954 commented on #691
@junxiawang , if you have time, it is great if you can try the command below. And then try to re-install the xCAT dependency packages again. Thanks for your time.

    rpm -e --nodeps unixODBC bash conserver expat fping libxml2 openslp-xcat perl-Crypt-SSLeay perl-DBD-SQLite perl-Debug-Trace perl-Digest-HMAC perl-Digest-MD5 perl-Digest-SHA1 perl-Expect perl-IO-Socket-SSL perl-IO-Stty perl-IO-Tty pe

[2016-02-02 07:35] caomengmeng opened #694 "[FVT] Disable root permission in policy table, the chtab command still work well."
ENV:

[code]
Steps to reproduce:
1. disable root permission
2. run xcat command, for example: lsdef. Error message appears for permission error.
3. run XCATBYPASS=YES with xcat command, for example: XCATBYPASS=YES lsdef, it works.
4. run "chtab name=root policy.rule=allow" to change the policy table, it works too.
But this is not excepted, without XCATBYPASS=YES, all the xcat command will be faile

[2016-02-02 09:39] hu-weihua commented on #694
@caomengmeng ， ``chtab`` is designed to work without ``xcatd``, so it's out of control of ``policy`` mechanism.  what you saw conforms to design.  Maybe we can add some explanation  in xCAT doc.

[2016-02-02 09:45] caomengmeng commented on #694
@hu-weihua  Yes, agree with you, Maybe we can also add same comments on chtab man page?

[2016-02-02 10:18] daniceexi commented on #692
@penguhyang The syntax warning in your code should be fixed.

[2016-02-02 13:05] whowutwut commented on #691
Am I reading the above correct?  Why does instoss install the RPMs with ``--ignoreos`` flag in there?
Also it looks like it's failing on the AIX package update.. NOT xCAT?
[code]
@neo954 , why do you suggest we try installing using ``--nodeps``??

[2016-02-03 02:53] hu-weihua commented on #680
@junxiawang,  after debug in your environment, it seems CN didn't get any scripts from MN.  Got below error message  ::

    bash-3.2# lsnim -l c910f03c01p07
    c910f03c01p07:
    class          = machines
    type           = standalone
     ......
    Cstate_result  = success
    err_info       = mount: c910f03c01p20.pok.stglabs.ibm.com not in hosts database mount: giving up on: c910f03c01p20.p

[2016-02-03 03:00] hu-weihua commented on #680
@junxiawang, it seems after keeping consistent for naming resolving in your MN, the installation has been successful.

One more suggestion, depending on NIM manual, it doesn't recommend using a mix of long names and short names in NIM master. It will trigger unexpected problem.

I will set this issue to ``pending``. thanks.

[2016-02-03 03:19] hu-weihua commented on #667
@immarvin ,  It seems when xcat command log process start, the directory where save the log didn't exist ahead.  In old code logic,  I just put out a error message in ``/var/log/message``, maybe it wasn't a good solution,  now I change it to create the directory if it doesn't exist before.  Refer to ``pull request #678``. thanks.

[2016-02-04 02:41] junxiawang commented on #691
@neo954
# rpm -e --nodeps unixODBC conserver expat fping libxml2 openslp-xcat perl-Crypt-SSLeay perl-DBD-SQLite perl-Debug-Trace perl-Digest-HMAC perl-Digest-MD5 perl-Digest-SHA1 perl-Expect perl-IO-Socket-SSL perl-IO-Stty perl-IO-Tty perl-Net-DNS perl-Net-Telnet perl-XML-Simple perl-version popt rsync unzip wget
error: package perl-XML-Simple is not installed
cannot remove /usr/local/bin - direct

[2016-02-04 08:37] junxiawang commented on #691
My steps:
[code]

[2016-02-04 12:26] sjtbham opened #698 "[Customer]Default permissions on commands.log are 644"
Default permissions on the commands.log file are 644, this means that any user able to login to the system is able to view the commands.log file, which may contain passwords - for example an xcat user running 'tabdump passwd', this is logged in the commands.log and will enumerate all passwords into the log file.

Other users of the system may then be able to view passwords from this file.

[2016-02-04 19:08] cxhong commented on #553
Hi, @mbausch0 :

I checked the code, you need to change the netboot=grub2 (I hit disk error if I used yaboot to provision sles11.4 ppc64 nodes).  and you also need to add kcmdline in the boottarget table.

[code]

then run nodeset command:
[code]

the custom kernel. initrd, and kcmdline will show up at /tftpboot/boot/grub2

[code]

[2016-02-05 04:16] daniceexi commented on #698
We'll consider that.

    Gong Jie, consider this.

  Using IBM Verse, send from my iPhone.

  在 2016年2月4日，20:28:05，"Simon Thompson" <notifications@github.com> 写道：

     Default permissions on the commands.log file are 644, this means that any user able to login to the system is able to view the commands.log file, which may contain passwords - for example an xcat user running 'tabdump passwd', thi

[2016-02-07 14:24] markprez commented on #634
Worked with nvidia and installed the driver install.
1) From the NVIDIA download site http://www.nvidia.com/download/driverResults.aspx/96857/en-us
2) To see the source of the update follow the "Related links" in the download page http://developer.download.nvidia.com/compute/cuda/repos/rhel7/ppc64le/

3) wget http://developer.download.nvidia.com/compute/cuda/repos/rhel7/ppc64le/cuda-repo-rhel7-7.5

[2016-02-08 14:12] whowutwut commented on #593
This should really go into both the 2.11 and 2.12 branches, changing to 2.11...

[2016-02-09 16:42] whowutwut commented on #510
@junxiawang  This may be an issue with diskless VM?  There was not enough information in your initial defect, were you trying to boot diskless VMs?  Maybe need to re-open this issue...

[2016-02-09 20:30] david-shapiro opened #707 "[Customer]Advanced Recovery BMC Tool to tunnel into BMC via IPv6 from an xCAT EMS"
Advanced Recovery BMC Tool to tunnel into BMC via IPv6 from an xCAT EMS
--------------------------------------------------------------------------
Once a node is defined into xCAT, c712f1n01, ( for this example )
can determine the bound MAC address of the associated BMC
via 'lsdef' and 'tabdump' commands as shown:

lsdef -o c712f1n01  -i bmc
Object name: c712f1n01
    bmc=c712f1bmc01
"c712f1bmc01"

[2016-02-10 09:48] arif-ali opened #708 "[Customer] confignics -s, sets up config files, but interface loses IP after dhcp lease expire"
Hi,

I have started to use `confignics -s` as a way to configure the install nic. But as the lease of the IP still exists in DHCP on the server and on the client, it is still not configured on the live system to be static. When the lease expires, it no longer grabs the IP anymore, and lose all connectivity. We then have to login via `rcons`, or reboot the machines to get the network on the machine

[2016-02-11 04:43] whowutwut commented on #679
@immarvin ...A little confused, above @daniceexi  mentions his thought to change the #!/bin/sh -> #!/bin/dash for xcatdkslspost..  but in the pull request, you are changing to #!/bin/bash.

However, I think we should **not** use #!/bin/sh and use #!/bin/bash like you made... so @daniceexi why do you want to use #!/bin/dash?

[2016-02-11 04:48] whowutwut commented on #659
@pdlun92  If you have some time to take a look... you can possibly investigate this.

[2016-02-11 08:11] daniceexi commented on #679
@whowutwut my typo, should use bash in static for the xcatdskless.

[2016-02-11 16:55] mbausch0 commented on #553
Hi, @cxhong

thanks very much for your help.
I tried netboot=grub2
This exactly works, as you described it.

This way, two things are still missing for a successful node installation:
1. The autoyast file does not get created.
2. The following kernel arguments are missing in grub.cnf: autoyast=..., install=..., netdevice=<MACaddr>, dhcptimeout=150

I could add the missing arguments to the boottarg

[2016-02-12 00:08] markprez commented on #707
Addtional information: We have used IPv6 to recover a BMC that lost connectivity with the ipv4 address.
"rpower node status" times out and ping of the bmc fails.
It does not happen frequently when it happens this is a way to try to get control of the server.
Not all systems will have the BMC mac in xcat but may be able to recover it from the dhcp.leases file if the IP address for the node bmc obje

[2016-02-12 21:44] richsudlow opened #711 "[Customer]:error in makedns"
I have the following network defined
"semiprivate","10.32.64.0","255.255.192.0","ens1f0","10.32.127.254","10.32.64.2","10.32.64.2","10.32.64.2",,,,,,,,,,,

this should define a network
10.32.64.0 -> 10.32.127.255

after running makedns I seem to have "holes" where machines in the following ranges are not
added to dns

10.32.77.0 -> 10.32.77.255

10.32.67.1 -> 10.32.68.255

10.32.74.0 ->10.32.74.25

[2016-02-13 03:10] neo954 commented on #698
@hu-weihua How about change the umask to 0077 or 0007 before open() the ``commands.log`` file.

[2016-02-13 09:10] daniceexi commented on #711
We need to recreate this issue locally.

[2016-02-15 06:06] immarvin opened #712 "[DEV]the code logic of "updateflag.awk" and related logic in "xcatd" need to be refined"
1. the following code logic of "updateflag.awk" should be refined to prevent infinite loop on failure.
[code]

2. in  the ``/opt/xcat/sbin/xcatd``, the connection created by updateflag.awk from each node should better be logged on MN, especially, it should be easy to find out the connections from the nodes which are deemed to be invalid from the log.
[code]

[2016-02-15 06:26] neo954 opened #713 "[FVT] genesis failed to boot due to BOOTIF missing"
After run `nodeset c910f02c03p23 shell`, node `c910f02c03p23` is failed to boot. Due to the kernel command line argument `BOOTIF` is missing. Please refer the console log below for details.

[code]

Below is the node definition of `c910f02c03p23` after command `nodeset` was running.

[code]

Below is the grub2 configuration file for net booting.

[code]

[2016-02-15 06:28] neo954 commented on #713
Below is version number of the xCAT build, which was used in this testing.

    # rpm -qa | grep -i xcat
    grub2-xcat-2.02-0.16.el7.snap201506090204.noarch
    ipmitool-xcat-1.8.11-3.ppc64
    perl-xCAT-2.12-snap201602091530.noarch
    xCAT-genesis-scripts-ppc64-2.12-snap201602091531.noarch
    xCAT-genesis-base-ppc64-2.11-snap201511160819.noarch
    conserver-xcat-8.1.16-10.ppc64
    xCAT-clien

[2016-02-15 07:47] neo954 commented on #448
I am going to look into this one.

[2016-02-16 05:40] immarvin opened #715 "[DEV] the format of "ubuntu/genimage" need to be refined"
1. indent the code with ``perltidy -w -syn -g -opt -i=4 -nt -io -nbbc -kbl=2 -pscf=-c -aws -pt=2 -bbc ./genimage`` automatically
2. indent manually for the lines not processed in step#1
3.remove the code commented out

[2016-02-16 08:16] junxiawang opened #716 "[FVT]csm: csm build could not instnalled using java 7"
env: aix 61d
How to reproduce:
[code]

[2016-02-16 15:58] #651 closed

[2016-02-16 15:59] #516 closed

[2016-02-17 08:26] penguhyang opened #720 "[DEV] Failed migration of kvm115 from c910f05c33 to c910f05c35 message: unable to connect to server at 'c910f05c35:49152': No route to host"
arch:ppc64le (x86_64 works fine)
MN: c910f02c09p16 VMhost1:c910f05c33 VMhost2:c910f05c35
VM: kvm115
how to procedure
MN:
[code]
VMhost1 and VMhost2
[code]
MN
[code]
error msg:
[code]

[2016-02-17 08:34] penguhyang opened #721 "[DEV] failed to create directory '/install/kvm117': File exists"
arch: ppc64le (x86_64 works fine)
MN: c910f02c09p16 VMhost1:c910f05c33 VMhost2:c910f05c35
VM: kvm117
how to procedure
MN:
[code]
VMhost1: c910f05c33
[code]
MN:
[code]
err msg:
[code]

[2016-02-17 08:44] penguhyang opened #722 "[DEV] Failed migration of kvm118 from c910f05c33 to c910f05c35 message: Cannot access storage file '/install/kvm118/kvm118.sda.qcow2' (as uid:107, gid:107): No such file or directory"
arch: ppc64le (x86_64 works fine)
MN: c910f02c09p16 VMhost1:c910f05c33 VMhost2:c910f05c35
VM: kvm118
how to procedure
MN:
[code]
err msg:
[code]

[2016-02-17 09:21] immarvin opened #723 "[Customer] The sound device should be included in vm xml"
Hello,

  I am working on a VDI project using KVM for hosting the virtual machines and SPICE to provide GUI/Sound access to the VMs.  Between the 2.10 and 2.11 releases, the kvm.pm module had sound support removed.  See:

https://github.com/xcat2/xcat-core/commit/c5f1075aeed48907b3a9f4cc9302f723f08d4eba
https://github.com/xcat2/xcat-core/commit/fa3f96a94029d659116cd24c2307137393fafbf3

Is there a

[2016-02-17 09:26] daniceexi commented on #721
@immarvin Is this the same error you encountered?

[2016-02-17 14:10] markprez opened #724 "[Customer]p-flex lsslp giving inconsistent results"
I am getting inconsistent results running lsslp on p-flex ems:
[root@c865mgrs2 ~]# lsxcatd -a
Version 2.11 (git commit 9ea36ca6163392bf9ab684830217f017193815be, built Mon Nov 30 05:43:11 EST 2015)

This occurred running xcat version 2.10
GOOD RUN:
[root@c865mgrs2 ~]# lsslp -V
08:24:07 20678
--------  Wed Feb 17 08:24:07 2016
Time     PID
Sending SLP request on interfaces: 10.0.0.252,9.114.26.136 .

[2016-02-17 19:17] SirRollen opened #725 "[Customer]MAC address not found"
I'm building a new cluster MN from scratch, I went through all the XCAT_iDataPlex_Cluster_Quick_Start and also did a few builds on a VM (RHEL 7.2) from other tutorial sites. I feel I have a good understanding and just to give you an idea on what I'm working with physically I have a asrock c2750d4i motherboard for testing this process and a Lenovo x3650 M5 2 for testing the pre-made templates on th

[2016-02-17 20:14] whowutwut commented on #721
I'd like to work on this one..

[2016-02-17 20:20] whowutwut commented on #725
Hi @SirRollen, You may have modified the initial post, but I saw something about the documentation in the email I got.  I understand the frustration... We have been working on improving the documentation for the xCAT 2.11 release and it's hosted over on RTD, (http://xcat-docs.readthedocs.org/) We are continuously trying to fix some of the doc to make it more complete but most of the focus has been

[2016-02-17 22:06] SirRollen commented on #725
@whowutwut  Thanks! That's a big relief knowing that I'm not alone about the documentation. I've heard nothing but great things about xCAT but I have yet to get over this wall to achieve these success stories.  I removed it because I didn't want to be unfair to you guys, hopefully with the new release and the docs you mention it'll relieve a lot of the headaches.

If you need any dumps let me know

[2016-02-18 04:21] daniceexi commented on #725
@SirRollen Could you follow the doc to make sure that the switch has been configured correctly. http://xcat-docs.readthedocs.org/en/latest/advanced/networks/ethernet_switches/ethernet_switches.html

Finally running the 'snmpwalk -v 3 ...' which mentioned in the above doc to verify the snmp v3 has been configured correctly.

Additionally, please monitor the logs in /var/log/message (2.10 and ealier

[2016-02-18 06:37] tingtli commented on #724
@zet809  Er tao, would you please take a look at this issue?

[2016-02-18 07:38] tingtli commented on #711
@richsudlow  what is your mn's network configuration? Is your mn belongs to the network 10.32.64.0 -> 10.32.127.255?

[2016-02-18 08:31] tingtli commented on #724
@zet809  I have the same problem when I use lsslp to discover IMM for NextScale node. Sometimes it gives out the correct result, but sometimes it does not.

[2016-02-18 09:43] arif-ali commented on #708
setting bool_restart_flag to 1, did not resolve the problem

I also amended the last part of `configeth` to add ifdown, before the ifup, but still had the dhclient running on the interface.
[code]

Any ideas on this would be grateful. The only other thing I think of, is to do a `service network restart`, or check for dhclint processes, and kill it for the process?

[2016-02-18 14:45] SirRollen commented on #725
@daniceexi I followed all of the instructions and 'snmpwalk-v 3'  command string works. I'm still not seeing any discoveries happening besides the manual ones I've done. I enabled lldp as well, I can see the switch using switchdiscover --range and I can see the node using bmcdiscover --range.

xdsh works and I'm able to send commands to the switch.

[code]

[2016-02-19 00:51] junxiawang opened #728 "[FVT]there are errors during nodeset osimage=ubuntu14.04.3-x86_64-install-compute"
env:
root@c910f04x27v08:/# uname -a
Linux c910f04x27v08 3.19.0-49-generic #55~14.04.1-Ubuntu SMP Fri Jan 22 11:24:31 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
root@c910f04x27v08:/# cat /etc/*-release
DISTRIB_DESCRIPTION="Ubuntu 14.04.3 LTS"

xcat version:
root@c910f04x27v08:/# lsxcatd -v
Version 2.12 (git commit 0547d9dcaea496b4c08b481e7b4d6ffdb0b423d9, built Wed Feb 17 15:32:13 EST 2016)
How to rep

[2016-02-19 02:58] daniceexi commented on #728
@junxiawang Could you check why we did not find this issue in the automation test?

[2016-02-19 03:20] junxiawang commented on #728
@daniceexi  Yes,this issue is found in our autotest .

[2016-02-19 04:00] daniceexi commented on #708
@arif-ali Someone mentioned it might be helpful that the nic should be stopped before change the configuration file.

[2016-02-19 04:05] daniceexi commented on #725
Could you confirm that there was the message like 'Processing discovery request from' in the log file? If no, I doubt that the server has got in the genesis (the diskless system to run the discovery process). Then you can check the dhcp log and http log to see whether the genesis has been loaded.
ThanksBest Regards----------------------------------------------------------------------Wang Xiaopeng

[2016-02-19 05:16] junxiawang commented on #728
It only displays error information here ,but diskfull provision still works well here.

[2016-02-19 06:19] bybai commented on #708
I think you can check for dhclient processes.   I am curious why ifdown/ifup cannot work here.

[2016-02-19 08:43] immarvin commented on #674
this is due to incorrect firmware settings, the firmware settings versus installation mode is:

installllation mode---BootModes.SystemBootMode-------Bootorder.Bootorder-----Mode
Legacy----------------Legacy-----------------------------------X-----------------------------Legacy
Legacy----------------UEFI--------------------------------------with "legacy only"---------Legacy
Legacy----------------UE

[2016-02-19 12:07] whowutwut commented on #728
I think anything causing autotest failure should be high and resolved asap.

@junxiawang, you can include the output of the autotest so that it's clear that we know it found the problem.

[code]

[2016-02-19 14:21] arif-ali commented on #708
@daniceexi, I would have suspected that by doing an ifdown, would in essence stop the interface? which is why I went that route

@bybai As you can understand, I have been tested this for almost 2 weeks, and that was the conclusion, I came to, that the ifdown/ifup didn't work on the interface. So would it make sense, that I kill the dhclient service, that is attached to the interface, as part of th

[2016-02-22 01:34] junxiawang opened #729 "[FVT]could not get database value as soon as copycds finished in sles11.4 using command "ls* ""
ENV:
[code]
How to reproduce:
[code]

As soon as copycds finished I run:
[code]

[2016-02-22 01:46] immarvin commented on #729
copycds just create the osimage objects, it does not set any node attributes, You should try to get "os" attribute of node object after ``nodeset``

[2016-02-22 02:59] junxiawang commented on #729
yes ,my means is I could not get any thing using lsdef command as soon as copycds finished .

[2016-02-22 03:08] junxiawang commented on #729
Node definition has been defined before lsdef .I could not get any value using lsdef as soon as copycds finished .But about 5 seconds I could get the right value using lsdef.

[2016-02-22 03:13] junxiawang commented on #729
[code]
lsxcatd -v still could not get get as soon as copycds finished.
In my point as soon as copycds finished ,we could not get database information using ls* command.

[2016-02-22 04:44] daniceexi opened #730 "[Customer] Missed the /proc file system in the chroot environment when running genimage"
A customer complained the genimage for RH has problem. When install rpm to root image, certain rpms display that missing of /proc FS.

We had  a lot of disucssion of how to handle the issue that rpm installing complains the missing of /proc, /sys  and /dev FS in the chroot env. The basic thought was to mount the /proc, /sys and /dev from host OS to the chroot root image directory and unmount them

[2016-02-22 05:50] immarvin opened #731 "[DEV] kernel parameters "console=tty0 console=ttyS0" are not passed to the installed Ubuntu 16.04 LTS node"
From @ligc

I am trying the Ubuntu 16.04 pre-GA build with xCAT, and found that the kernel parameters "console=tty0 console=ttyS0" are not passed to the running system, I have to manually edit /etc/default/grub and add the kernel parameters to make the rcons work.  You may want to add this into your TODO list for Ubuntu 16.04 support.

[2016-02-22 06:21] chenglch opened #732 "[DEV] Error to process CMD and Entrypoint in Docker life cycle management"
From pull request #683
This code to list docker command is incorrect. Open this issue to trace this error.

     $command = deal_with_space_in_array_entry($docker_info_hash->{Config}->{'Cmd'});
     if (defined($docker_info_hash->{Config}->{'Entrypoint'})) {
         $command = deal_with_space_in_array_entry($docker_info_hash->{Config}->{'Entrypoint'});

[2016-02-22 07:54] immarvin commented on #723
hi @penguhyang , would you please take a look at this?

[2016-02-22 11:17] whowutwut commented on #731
@pdlun92 FYI

[2016-02-22 20:28] whowutwut commented on #721
@penguhyang  is this on xCAT 2.11 or master branch?

[2016-02-22 22:10] SirRollen commented on #725
@daniceexi  I checked the DNS log and see the IP and the MAC address of the target node. I don't see any HTTP logs though. I haven't seen any mentions of genesis. Can you please link some reference materials on what I need to do to make sure genesis is installed/running properly?

[2016-02-23 01:13] JBBIntel opened #735 "[Customer]SLES12.1 issue"
I have been trying to build an osimage for SLES12.1. genimage was failing, because zipper couldn't find gcc-fortran. Apparently that rpm is in the Software Development version of SLES 12.1. When copycds loads that DVD image, it calls the resulting directory sdk1, instead of just 1. genimage hard-codes the 1 directory name, and does not see the sdk1 directory.
I was able to get around this, by runn

[2016-02-23 01:19] daniceexi commented on #725
@SirRollen You can check whether your target node sent dhcp request to the xCAT MN, I am afraid it did not boot from network.

If your node did boot from network, the dhcp server on the xCAT MN will instruct it to download the files /tftpboot/xcat/xnba.* which is installed by xnba-undi. Please check the rpm **xnba-undi** has been installed.

[2016-02-23 01:24] daniceexi commented on #735
Looks like it's the issue of installing package from sdk media when run genimage. @cxhong Could you take a look of this issue?

[2016-02-23 02:04] immarvin commented on #731
hi @whowutwut , is @pdlun92 looking into ubuntu 16.04 porting? if yes, you can assign the issue to him

[2016-02-23 02:59] tingtli commented on #735
Does genimage for SLES12.1 on RH7 work?  I am wondering that?

[2016-02-23 05:20] daniceexi commented on #728
@zet809 The root cause of this issue was your change made the /install/autoinst to be a file instead of a directory.

/opt/xcat/lib/perl/xCAT_plugin/debian.pm
[code]

Then the **mkpath()** corrupted:
/opt/xcat/lib/perl/xCAT/Template.pm
[code]

The fix is to change the

    476         copy("$::XCATROOT/share/xcat/install/scripts/getinstdisk", "$installroot/autoinst");
to

    476         copy("$::

[2016-02-23 05:25] daniceexi commented on #735
@JBBIntel You said you worked around it by change something in genimage, I guess the server to run the genimage is sles too, right?

[2016-02-23 06:36] tingtli opened #736 "[FVT]nodeset returns grub2 plugin bug for Ubuntu 14.04.03 on ppc64le"
xCAT 2.12 2/22 build Ubuntu 14.04.03 on ppc64le
Steps:
1) Install xCAT and configure mn
2) define compute node
3) run commands to prepare for the os provision
4) run nodeset and get the error.
root@c910f03fsp03v06:~# nodeset c910f03fsp03v07 osimage=ubuntu14.04.3-ppc64el-install-compute
Error: grub2 plugin bug, pid 5022, process description: 'xCATd SSL: nodeset to c910f03fsp03v07 for root@localhost

[2016-02-23 06:40] daniceexi commented on #736
@tingtli This is the duplicated issue of #728 .

[2016-02-23 08:33] immarvin commented on #674
Doc: https://sourceforge.net/p/xcat/wiki/XCAT_iDataPlex_Cluster_Quick_Start/#begin-installation
PR: https://github.com/xcat2/xcat-core/pull/733

[2016-02-23 13:25] whowutwut commented on #735
@cxhong, @pdlun92 made some fixes to copycds in the 2.11/2.12 branch that allowed us to copy the SLES 12 SDK isos correctly.  pull request: #404  We also want to verify that genimage does the right thing for the SDK in the latest release... then potentially fix this in the 2.9 branch.

@JBBIntel , do you have plans to upgrading the xCAT to a more recent release? It seems like you have patched your

[2016-02-23 15:34] whowutwut commented on #674
@immarvin  I added the content in table format in your above post using Github Markdown, if that is OK , you can modify the post and remove the initial text based content.

[2016-02-23 16:00] cxhong commented on #735
on the current release, copycds sles12.1 server will create
[code]
and copycds sles12.1 SDK will create
[code]
'Then genimage will created two repository
[code]
After I added gcc-fortran to package list,  It found  this package, but failed at:
[code]
will looking into this.

[2016-02-23 16:40] JBBIntel commented on #735
Thanks for the quick response.

Yes, I am running the genimage on a virtual machine running SLES 12.

Thinking about the matter further, it occurs to me that one way of looking at it is that SLES has moved gcc-fortran out of the Server install package. That means that from an xCAT perspective, gcc-fortran is now an “otherpackage”, and should be treated accordingly. So, xCAT works as designed.

On

[2016-02-23 16:52] cxhong commented on #735
@JBBIntel
if  the osimage defined
[code]
and  if you ran copycds for both server and SDK iso files,  and those two dir should be created:
[code]
then genimage will created both repository,  one for the base server and one for SDK.  gcc-fortran is in the SDK.

[2016-02-23 17:00] JBBIntel commented on #735
I do not recognize ppc641e, but copycds made those directories in sles12.1/x86_64. Different architecture.

But genimage does not read sdk1. It only looks for 1.

My xCAT is version 2.9.1. Has this been fixed in a later version?

From genimage;

       # To support multiple paths for osimage.pkgdir
       foreach $dir (@pkgdirs) {
           if( -d "$dir/1") {
               $dir .= "/1";

[2016-02-23 18:31] cxhong commented on #735
oh, sorry.  ppc64le is power little endian system.  I will looking sles12.1 for x86_64.

[2016-02-23 21:58] SirRollen commented on #725
xnba-undi is installed currently. The target node sends a DHCP request and receives it from the xCAT MN. I can use commands like rpower and rinstall to manually effect the node.

 I can't help but feel that there is something simple that I'm missing but I've done several new virtualboxes clean installs for the xCAT MN and everything works up until I get to the point of discovery and rinstall does

[2016-02-24 00:37] daniceexi commented on #725
@SirRollen There were must issues in the dhcpd configuration or xnba configuration.

Did you run the 'makedhcp -n'? Show out the content of /etc/dhcp/dhcpd.conf.

Could you search the tftp keyword in the syslog? You should see the download of xcat/xnba.* file through tftp if the dhcp configuration was correct.

BTW, if your compute node is Lenovo M5 machine, you maybe should use the 'rsetboot <nod

[2016-02-24 02:17] zet809 commented on #728
Fixed, pls verify.

[2016-02-24 02:45] immarvin commented on #674
@whowutwut thanks, updatded

[2016-02-24 03:07] caomengmeng commented on #728
Reproduced, but the return message is not exactly the same.

[code]

[2016-02-24 03:08] caomengmeng commented on #736
Reproduced, but the return message is not exactly the same.

[code]

[2016-02-24 03:33] caomengmeng commented on #736
@daniceexi As the https://github.com/xcat2/xcat-core/issues/728 is fixed yesterday, but this issue still happens, do just make a comments here.

[2016-02-24 05:11] junxiawang commented on #736
@caomengmeng  the build for autotest used is Monday's  and build server will do the build after both new code check in and  autotest yesterday .So may be new code is not checked in the build autotest used.

[2016-02-24 16:25] SirRollen commented on #725
Below is the whole DHCPD config file.

`#xCAT generated dhcp configuration

option conf-file code 209 = text;
option space isan;
option isan-encap-opts code 43 = encapsulate isan;
option isan.iqn code 203 = string;
option isan.root-path code 201 = string;
option space gpxe;
option gpxe-encap-opts code 175 = encapsulate gpxe;
option gpxe.bus-id code 177 = string;
option user-class-identifier code 7

[2016-02-24 16:26] cxhong commented on #735
@JBBIntel , we didn't official support sles12.1 for xcat 2.9.1 release.  There was copycds issue we fixed at later release as @whowutwut mentioned.  when you ran copycds for SDK iso, it went into /install/sles12/x86_64/sdk1
[code]
if you used -n options for Server iso, make sure SDK and Server package are under same /install/<osver>/x86_64 as pkgdir defined for the osimage.
[code]
I verified genim

[2016-02-24 17:06] JBBIntel commented on #735
I have loaded the disk images using copycds;
[root@sfs-head x86_64]# ls
1  2  sdk1  sdk2

And restored the original version of genimage, before I made changes to use sdk1. When I run it, I get the error below. We are installing on a virtual machine running a stripped-down SLES12. Is it possible, that when you run genimage, it is finding gcc-fortran already installed on the machine you are using? I

[2016-02-24 18:20] cxhong commented on #735
what's your pkgdir defined in your osimage?  did u see sdk repository build from genimage output?
output will something like that:
[code]

[2016-02-24 18:47] JBBIntel commented on #735
What I see is building repo sles12-0. Which does not surprise me, based on what I see in the genimage script. I think maybe you and I have different genimage scripts. Would you like me to e-mail my genimage to you?

….
Adding repository 'sles12-0' [......done]
Repository 'sles12-0' successfully added
Enabled: Yes
Autorefresh: No
GPG check: Yes
URI: file:/install/sles12.1/x86_64/1

Reading custom r

[2016-02-24 19:01] cxhong commented on #735
well, I am not sure if we need to chase this issue.  sles12.1 is not support on xcat 2.9.1 release. and we had fixes for later release, and you had workaround too. anyway, this is my genimage on the system:
[code]

[2016-02-24 19:13] JBBIntel commented on #735
You are correct, this is a rabbit hole ☺ I have a workaround, I just thought you might want more info. But if you are good, so am I.

From: cxhong [mailto:notifications@github.com]
Sent: Wednesday, February 24, 2016 11:02 AM
To: xcat2/xcat-core <xcat-core@noreply.github.com>
Cc: Berryhill, Jerome <jerome.berryhill@intel.com>
Subject: Re: [xcat-core] [Customer]SLES12.1 issue (#735)

well, I am not

[2016-02-25 00:49] daniceexi commented on #725
The dhcpd configuration file looks good. Then you need check whether the tftp server works well on your MN, and check the tftp messages in syslog.

You also need to confirm that the firewall on your MN has been disabled, otherwise the tftp port is blocked by the firewall.

[2016-02-25 02:51] junxiawang commented on #691
test it

[2016-02-25 02:51] #691 closed

[2016-02-25 02:51] #680 closed

[2016-02-25 02:52] #616 closed

[2016-02-25 02:52] #574 closed

[2016-02-25 02:52] junxiawang commented on #573
test it

[2016-02-25 02:52] #573 closed

[2016-02-25 03:02] hu-weihua commented on #729
@chenglch, I think it's something related about what you investigate recently. Could you take a look at this issue at the same time? thanks

[2016-02-25 03:07] hu-weihua commented on #716
@junxiawang CSM must use java7.1, not only java7.  it's a reasonable case.

One more thing, this is xCAT issue system. I don't think it's a good place to report CSM problem.

[2016-02-25 03:13] hu-weihua commented on #728
@zet809 I think you have fixed this issue, so I change the owner to you.

[2016-02-25 03:17] #667 closed

[2016-02-25 03:58] daniceexi commented on #716
@junxiawang @hu-weihua Right, Please open an internal page to record the issues for csm.

[2016-02-25 06:23] hu-weihua commented on #713
@zet809, Could you take a look at this problem?

[2016-02-25 07:45] daniceexi commented on #713
xCAT does not support to run 'getadapters' command against PowerVM Lpars, then we do not see the scenarios to run genesis on Lpars. So currently we just skip this issue.

[2016-02-25 07:54] immarvin commented on #644
how do you know the network is not the 1st boot order?

[2016-02-25 12:37] daniceexi commented on #659
@jjohnson42 Are the missing parts not supported by Lenovo M5 server again? Or there's a new method to get them?

[2016-02-25 13:02] whowutwut commented on #573
The problem was already fixed in xCAT 2.11 onwards.   Providing the pull requests for the other back level branches for completeness

Fix for 2.9 branch, pull request #575
Fix for 2.10 branch, pull request #738

[2016-02-25 14:12] whowutwut opened #739 "[DEV]The rsyslog.conf file disables message logging in /var/log/messages"
Starting from the xCAT 2.11 release, changes were made to the rsyslog configuration file.  The xCAT related logs are stored in ``/var/log/xcat/`` subdirectory.

In commit 1219fdd2, we commented out the debug information going to /var/log/messages.

@neo954 , I think this is a bug, but would like to first understand why we decided to comment that line out?

Should be fixed 2.11 and 2.12 and onwards

[2016-02-25 14:39] whowutwut commented on #739
I did notice on my xCAT 2.11 GA machine, that the DHCP messages are being logged into ``/var/log/xcat/computes.log`` . .  I don't think dhcp messages should be going into xcat logs.  We manage dhcp on behalf of the user, but we do not own dhcp, so moving the messages to computes.log will cause confusion to the admins.

[2016-02-25 16:35] whowutwut commented on #723
I think the resolution here is just to re-enable the ac97 xml line.   If we can fix this for 2.11 and 2.12, would be good..

[2016-02-25 16:54] whowutwut commented on #588
@daniceexi , can we close this issue?

You said that  6dabd85 fixes the issue but @arif-ali  said it was overwritten by  b78515b... is this resolved?

[2016-02-25 19:25] arif-ali commented on #588
closing, as it has been committed

[2016-02-25 21:19] Aethylred opened #740 "[Customer]Node filters in synclists are not documented"
Since at least xCAT 2.9.2 the synclist file format includes filters that restrict the deployment of files to a list of node ranges.

For example:

[code]

Only distributes this file for nodes in the authldap and login groups, as well as the nodes test-1 and test-2.

However this feature is not documented in the xCAT documentation.

[2016-02-25 21:23] SirRollen commented on #725
Doesn't look like TFTP is running at all. Checked my syslogs and could only find it in Yum.log showing that it was installed. I'm going to attempt to install tftp-server and xinetd and manually configure this. I saw that in the iDataplex instructions that TFTP gets configured/installed automatically by xCAT.

Is this still true and how can I confirm the correct xCAT has correctly configured the TF

[2016-02-25 21:29] cxhong commented on #735
Thanks @JBBIntel .  I will close issue.

[2016-02-25 21:29] #735 closed

[2016-02-26 01:49] daniceexi commented on #725
I meant the tftpd on your xCAT MN.

The tftpd is enabled xcatd automatically when starting the xcat service.

# ps -elf | grep tftp
1 S root      9931     1  0  80   0 -  2729 poll_s Feb01 ?        00:00:00 /usr/sbin/in.tftpd -v -l -s /tftpboot -m /etc/tftpmapfile4xcat.conf

[2016-02-26 01:53] immarvin commented on #739
hi @whowutwut , I think it's not easy to filter the xCAT related logs out of the system logs, since xCAT operations rely on other system services, such as  dhcp,dns,syslog...., the log entries generated by these services are not tagged with "xcat" but they are important part of xCAT logs.

According to my debugging experience, it caused some trouble to lookup the log entries related to one xCAT op

[2016-02-26 02:01] daniceexi commented on #740
@Aethylred Hi Aaron, nice to see you again!

xCAT team will update this to the sourceforge doc for aix.

[2016-02-26 02:06] daniceexi commented on #740
@tingtli Please update the interface change in the https://xcat-docs.readthedocs.org/en/2.11/guides/admin-guides/manage_clusters/common/deployment/syncfile/syncfile_synclist_file.html#the-synclist-file

And to the sourceforge https://sourceforge.net/p/xcat/wiki/Sync-ing_Config_Files_to_Nodes/ for AIX.

[2016-02-26 02:22] Aethylred commented on #740
Will this feature also be available in Linux versions?

[2016-02-26 02:48] xuweibj commented on #605
If the CN does not install completely before reinstalling, will has no kernel file.

[2016-02-26 02:55] daniceexi commented on #740
Yes, it has been checked in to the latest xcat version for Linux.

[2016-02-26 03:05] daniceexi commented on #605
@caomengmeng From your description, I cannot figure out what was the problem. You gave to log files, but did not complain what was the problem from the log file.
@xuweibj Could you make your comment to be more clear? 'no kernel' is the root cause of the issue?

[2016-02-26 04:37] hu-weihua commented on #698
@neo954, I have changed the permissions of commands.log to 600. Could you review the pull request #741 for this issue?

[2016-02-26 04:49] immarvin commented on #266
The fix to this problem is to make the code logic of determining the installation disk to be consistent across different Linux distributions.
The fix has been checked into xCAT 2.12 main branch.
The fix dependes on the fact that kickstart of PowerKVM supports %pre.  However, this does not work until PowerKVM3.1.0 release. So the fix cannot be simply back ported to xCAT 2.9.3.
I think this should a

[2016-02-29 03:05] penguhyang commented on #721
@whowutwut Thanks for review. Yes, it's on master branch.

[2016-02-29 03:32] tingtli commented on #739
@neo954  Would you please take a look at victor's question and give some comments for the logs change.  I think there is a design for that to describe why we do that change.

[2016-02-29 06:32] caomengmeng opened #747 "[FVT]Please improve fresh install disk log information"
Set site.xcatdebugmode=1, then fresh install RH7.2 ppc64, during installing process, using ssh to logon.
In /tmp you will see the xcat_getinstalldisk_log file.
Now the log information for disk information is as below:
[code]
This is hard to read. so how about improve the disk information like below?
[code]

[2016-02-29 06:35] caomengmeng opened #748 "[FVT] Please update the determine install disk design document ASAP"
As the determine install disk logic is restructured and codes are merged.
So would you please update the design file ASAP to make testing smooth: https://github.com/xcat2/xcat-core/wiki/determine_install_disk

[2016-02-29 06:36] caomengmeng opened #749 "[FVT] Please update the determine install disk design document ASAP"
As the determine install disk logic is restructured and codes are merged.
So would you please update the design file ASAP to make testing smooth: https://github.com/xcat2/xcat-core/wiki/determine_install_disk

[2016-02-29 06:38] caomengmeng commented on #749
After click submit, there are two issues created, so close this one

[2016-02-29 06:38] #749 closed

[2016-02-29 12:23] neo954 commented on #739
@whowutwut, if your xCAT management node was installed by another xCAT management node, you will suffer the problem. In this situation, the node was first installed as a compute node (installed by another xCAT management node), in this stage, the entire log will be disabled and redirected to the management node used for the operating system installation.

After this stage, if xCAT server was insta

[2016-03-01 01:34] daniceexi commented on #739
@neo954

Currently, in the rh7.2 MN, the /etc/rsyslog.conf has the configuration like following

[code]

That means the dhcp log in the xCAT won't be logged. This should be handled.

[2016-03-01 01:45] daniceexi commented on #739
@neo954

Another problem was I found the rsyslog configuration files which were introduced by you did take affect on sles MN. You can take look of this in 10.2.1.14.

[2016-03-01 04:51] caomengmeng commented on #605
Passed now, both fresh install and reinstall logs are as excepted.
Reinstall:
[code]

Fresh Install:
[code]

[2016-03-01 04:51] #605 closed

[2016-03-01 05:44] #723 closed

[2016-03-01 07:15] dillonfzw opened #752 "[Customer] xCAT v2.11 GA cannot copycds pkvm v2.1.1 and v3.1.1"
I downloaded pkvm v2.1.1 and v3.1.1 from IBM passport advantage web site. Here is the file names and checksum.

[code]

copycds failed to import any of them

[code]

When greped code in xCAT, I did not see any token which related to "pkvm3".
The pkvm v2.1.1 diskinfo token in my downloaded GA iso is "1422984872.740208" instead of "1413749127.352649" which hardcoded in xCAT.

[code]

I used xCAT v2.

[2016-03-01 07:42] daniceexi commented on #752
@immarvin Please confirm the disc keys added by xCAT for PowerKVM 2.1 and 3.1 are the same as the release iso.

[2016-03-01 08:24] junxiawang commented on #729
After code merged some other errors:
[code]
[code]

[2016-03-01 09:28] junxiawang opened #755 "[fvt]rspconfig on aix2.9.3 could not work"
Env: AIX720

xCAT Build: lsdef - Version 2.9.3 (git commit 5345643cf8fd145fb6c66397624445b6538d9d24, built Fri Jan 29 02:25:14 CST 2016)

[code]

[2016-03-01 09:38] wwzhubj opened #756 "ubuntu 14.04.2 installation boot loop when one more pkglist is added"
**Issue: **When I added below pkglist, the location is at  9.114.39.157: /install/custom/install/compute.pkglist.full, the installation can not 100% finish, when it goes to 95% , system reboots and goes back to start from xCAT installation, in an endless loop(install, reboot, install reboot...)
When I removed the pkglist, only use the /opt/xcat/share/xcat/install/ubuntu/compute.ubuntu14.04.2.ppc64

[2016-03-01 09:41] wwzhubj commented on #756
the ems is 9.114.39.157
the image I use is: oldcompilers
cn is :c656f6n01

[2016-03-01 14:23] daniceexi commented on #756
@penguhyang Please take a look of this issue in @wwzhubj 's environment.

[2016-03-01 22:04] JBBIntel opened #758 "file not found on tftpboot server"
I am trying to use node discovery to set up a machine on our cluster. I enter the command
nodediscoverstart noderange f072 on the server, and reboot the new machine. I never see the prompt [xCAT Genesis running on f072 /] on the new machine. However, after a while, I enter the nodediscoverstop command, and the server says that it has discovered f072. lsdef f072 shows the correct MAC address, and I

[2016-03-02 00:08] daniceexi commented on #758
If you did not see the genesis message on the screen but the discovery did finish, you can take a look the system log to confirm whether the discovery happened.

The /tftp/boot/xcat/xnba/nodes/f072 is generated by the 'nodeset' command. If you want to do the OS deployment after the discovery, running the 'nodeset <node> osimage=<osimage name>' before reboot the node.

[2016-03-02 00:14] JBBIntel commented on #758
Hi, thanks for the quick response.

I think I see the problem I am having. We have our nodes defined with “chain=runcmd=bmcsetup,shell”. However, this particular node does not have a bmc. So, probably, bmcsetup is failing or hanging.

We will need to manually reboot this node, but we would like it to load its image from xCAT. Will it work OK if I simply set  “chain=runcmd=shell”?

From: Xiaopeng W

[2016-03-02 00:23] whowutwut commented on #752
To extend some of the debug.... @pdlun92  and I also saw something similar on 2.11 GA code where the copycds didn't like a ``-n pkvm31`` and it worked OK using ``-n pkvm3.1``

But yes, I think there is something missing with detecting the name of the iso....

[2016-03-02 01:52] daniceexi commented on #758
**runcmd=bmcsetup** is an action, so you need to remove the whole string. **shell** is also an individual action.

[2016-03-02 02:49] daniceexi opened #760 "[DEV]Missed the dhcp and tftp messages in sytem log"
After we change the way to store xCAT logs in xCAT 2.11, the dhcp and tftp log cannot be recorded in the system log file like /var/log/messages.

I saw this issue on RH MN.

[2016-03-02 06:18] junxiawang opened #761 "[FVT] CA cert ERROR: SSL connect attempt failed with unknown error"
Env:ppc64le rhels7.2
xcatbuild:latest xcatcode
How to reproduce:
[code]

[2016-03-02 07:47] penguhyang opened #763 "[DEV] need to logging the pre-script installation for redhat,sles,ubuntu to make debug easy"
Currently, the pre-script file can't be logging.
As a new script ``getinstdisk`` was added, it's necessary to log the installation for easy debug.

[2016-03-02 09:51] immarvin commented on #756
hi, I looked into this problem on @wwzhubj 's env. There are 2 problems here:
1) the size of "/var/lib/dhcpd/dhcpd.leases" file was around 60M+, this made the dhcp response from MN too slow and caused timeout on the dhcp request from compute nodes. In the /var/log/message:
[code]
``makedhcp -n`` will solve this.

2) The pkglist attribute of osimage only support 1 pkglist file specified,otherwise,

[2016-03-02 14:41] daniceexi commented on #756
@immarvin Thanks for your investigation.

For the issue 1, if this issue will encounter in customer's cluster, we need to add a tip in xCAT doc;
For the issue 2, yes, we need to update usage message and add error message;

[2016-03-02 14:43] whowutwut commented on #756
Can we get the version of xCAT being used documented into this issue?

[2016-03-02 14:53] whowutwut commented on #758
@JBBIntel  To clarify what @daniceexi  said...

You don't need to run the chain command unless you want to execute the ``bmcsetup`` script and then have genesis enter a shell prompt afterwards.  If the node looks good with the MAC address, the discovery should be complete.

To remove the whole string:  ``chdef -t node -o f072 chain=""``

You can use xCAT to provision the OS by running:

- ``lsdef

[2016-03-02 17:13] JBBIntel commented on #758
Thanks, this helps. One question;

  *   rsetboot f072 net Set the next boot from network
  *   rpower f072 off
  *   rpower f072 on (or rpower r072 boot to do reset)
Does this mean that xCAT can bring a system up, when it is powered off, without a BMC? How does that work?

From: Victor Hu [mailto:notifications@github.com]
Sent: Wednesday, March 02, 2016 6:54 AM
To: xcat2/xcat-core <xcat-core@nore

[2016-03-02 18:16] whowutwut commented on #758
@JBBIntel  Can you show me the node definition of f072?  ``lsdef f072``   I was making some assumptions in my reply...

[2016-03-02 18:20] JBBIntel commented on #758
Object name: f072
    arch=x86_64
    bmc=f072-bmc
    bmcpassword=xxxxxxxxx
    bmcport=1
    bmcusername=root
    chain=runcmd=shell
    cpucount=32
    cputype=06/57
    currchain=boot
    currstate=install rhels7.0-x86_64-compute
    groups=compute,ipmi,knl,all
    initrd=xcat/osimage/rhels7.0-x86_64-install-compute/initrd.img
    installnic=eth0
    ip=192.168.33.72
    kcmdline=quiet inst.re

[2016-03-02 20:01] whowutwut commented on #758
@JBBIntel  From what you posted above the particular node does not have a BMC, but yet the node definition configured in xCAT does show a bmc defined.  And ipmi is used as the mgt.
[code]

If you do ``rpower f072 stat`` , does that not return status?
If it does have communication to the bmc, then it should return.

But xCAT needs to have some management channel to the BMC/FSP/HMC in order to do ha

[2016-03-02 20:31] JBBIntel commented on #758
Victor,

   The node was created using a script that sets various default values for the bmc. However, this particular type of device does not actually have a bmc. It appears that those settings do not cause any major problems, as I am able to reboot it manually, and PXE loads the chosen osimage. But no, rpower f072 stat does not return status. It times out.

Thanks, I think I now understand the p

[2016-03-03 02:12] junxiawang opened #765 "[FVT]install xcat failed for when install xCAT-server Requires: perl(HTTP::Async)"
Env : ppc64 ,x86_64
xcatbuild:latest xcat build
How to reproduce:
[code]

[2016-03-03 02:47] zet809 commented on #765
I am sorry for not mention the message that the dependency pkg http-async-perl and perlnet-https-nb are unavailable yet.
To work around this issue, you may need to install them manually from the links below, pls note that those pkg are noarch, so they can be used both on ppc64, ppc64le and x86_64.
1. For RH:
http-async-perl:    ftp://rpmfind.net/linux/mageia/distrib/cauldron/x86_64/media/core/rele

[2016-03-03 03:31] tingtli commented on #765
We need to fix this defect ASAP since we run automation test everyday. We could not manually run the installation of the package in the automation environment. This will block our automation test.

[2016-03-03 05:28] daniceexi commented on #765
@zet809 We can not require automation framework to add these Async package automation. Please remove the require of this dep in xCAT intstall before the Async ready.

[2016-03-03 06:18] tingtli opened #766 "[FVT]: Update SNMP V3 Configuration Example in document XCAT_iDataPlex_Cluster_Quick_Start"
In the document
https://sourceforge.net/p/xcat/wiki/XCAT_iDataPlex_Cluster_Quick_Start/

There is an example of how to configure the snmp v3 configuration on cisco switch. There is a wrong command.
[code]
Need to modify the last command to "snmp-server enable traps ". So the section should be

[code]

[2016-03-03 12:03] arif-ali commented on #708
What's the suggestion here then, how could we resolve this, do we look for a dhclient process, and kill it, if it is the installnic, an then configure the interfaces?

@daniceexi, how do you suggest stopping the nic, in your previous comment, wouldn't ifdown and ifup do this?

[2016-03-03 21:09] whowutwut commented on #739
Ralph pinged me with the same issue today and suggested the following configuration for rsyslog.d:
[code]

I did a small test with this...
- systemctl stop rsyslogd
- rm -rf /var/log/messages*
- rm -rf /var/log/xcat/*
- create the file above
- systemctl start rsyslogd

After restarting syslog, the dhcp messages are now re-appear in ``/var/log/messages``, then the xCAT compute nodes messaging are g

[2016-03-03 22:44] whowutwut commented on #758
Closing this issue, please re-open if you have more comments!

[2016-03-03 22:44] #758 closed

[2016-03-04 00:54] daniceexi commented on #708
@arif-ali Yes, using the ifdown to stop the nic before changing the nic configuration file.
It was reasonable that ifdown did not stop the dhclient since the nic configuration file has been changed to static in your scenario.

[2016-03-04 00:56] whowutwut commented on #708
@arif-ali  which OS are you using in your environment?  When the node cannot get the environment and you run dhclient, does it get the IP address or does the dhcp server say "no free leases"?  I think we are also seeing something similar in our environment where nodes are losing IP address.. I will try and debug.

[2016-03-04 01:35] whowutwut commented on #766
@tingtli  The change also needs to be done for our RTD documentation.   The documentation you pointed out is also copied into RTD from Issue #432.

http://xcat-docs.readthedocs.org/en/latest/advanced/networks/ethernet_switches/ethernet_switches.html

I am working on bringing this document over to 2.11 branch, so you don't need to make the change there.

[2016-03-04 02:15] zet809 commented on #553
@xuweibj will you pls take a look at this issue?

[2016-03-04 03:51] zet809 commented on #765
Have modify our code to require HTTP::Async when running, keep this defect opening to trace the dependency packages status.

[2016-03-04 10:24] arif-ali commented on #708
OS: rhels7.2
arch: ppc64le

@daniceexi thanks, that makes sense, I will update the script, to see if we do a if down first, change the config, and then do the ifup, and see if that resolves the problem

@whowutwut dhclient would work, that's not the problem, running `confignics -s` sets up the static configuration in `/etc/sysconfig/network-scripts/` but the changes do not actually get applied. Th

[2016-03-04 14:46] #708 closed

[2016-03-04 15:11] whowutwut commented on #556
@fenggaobj  Yes, we also hit this issue.  I created Pull Request #669 that was already merged.  Commit: f0d96b30ca6d052198d6f033a5e6147dde7cb533 The details are in the pull request. The bottom line is that we don't need to do a ``mc reset cold`` at all when we issue the commands to the bmc.  However, after the bmc applies the fix, I think there is something else that is wrong.  We are trying to ge

[2016-03-04 15:11] #556 closed

[2016-03-04 15:26] cxhong commented on #712
the code was merged at pull request #744

[2016-03-04 15:26] #712 closed

[2016-03-04 19:32] JBBIntel opened #776 "[Customer]need to set kernel args on netboot"
I have an osimage which is hanging in boot. I need to debug the boot process. To do so, I need to modify the kernel command line. Is there any way to do this in xCAT?

[2016-03-04 20:18] cxhong commented on #776
you can use addkcmdline.  ex:
chdef cn1 addkcmdline="rdloaddriver=scsi_dh_rdac"

[2016-03-05 08:16] daniceexi commented on #765
@zet809 The fix was done in the commit 5fa692543da9b30a52f76305f8565877b6d7d6c8 and 59f44ee423e4ff1a159335dbe2e0b2869039cb03, but the message for commit was too simple and not meaningful.

[2016-03-07 02:36] tingtli opened #779 "[FVT]:switch based discovery on NextScale nodes fails due to"
Test platform(including OS and Hardware):  SLES11.4, NextScale M5
Test xCAT version: 2.10
When use xCAT 2.10 to run switch based discovery on NextScale node, there is some errors in log files to indicate that the discovery failure.

How to reproduce:
1. Predefine cn on MN.
[code]
2. Define networks table
[code]

3. Define switch table
[code]

4. Run switches based discovery and get following failu

[2016-03-07 07:50] immarvin commented on #756
hi @whowutwut ,
root@c656ems2:~# XCATBYPASS=1 lsxcatd -v
Version 2.10 (git commit 1176909e54841a4c9ccad2838e959c7e4391d9d8, built Mon Jul  6 23:54:22 EDT 2015)

[2016-03-07 08:48] neo954 commented on #752
@dillonfzw, The ISO file named ``POWERKVM_V2.1.1.1_03_2015.iso`` is version 2.1.1.1, it is not version 2.1.1.

[2016-03-07 11:48] daniceexi commented on #752
@dillonfzw The root cause for xCAT had not the powerKVM 3.1 in the discinfo.pm was the PowerKVM 3.1 was not GAed when the xCAT 2.11 was released. Even the PowerKVM 3.1 works well in xCAT 2.11.

The release notes for 2.11 has been changed accordingly.

[2016-03-07 11:58] junxiawang commented on #761
still errors
-----------------
[code]
------------------

[2016-03-07 14:26] immarvin commented on #663
The root cause is:
1. postinst script of deb package "udev" requires  mounted sysfs and procfs in the rootimg directoru during genimage
2. postinst script of deb package "nfs-common" tries to restart "statd" service in the chrooted context under rootimg during genimage, it tried to find sysvinit script "/etc/init.d/statd" but failed.

For the question#1, we can mount the sysfs and procfs of the co

[2016-03-07 15:08] daniceexi commented on #663
@immarvin Thanks for the background.

I am Interesting in the **WAR** that how to tolerate the systemd in docker container, is there any conclusion that how to handle the failure of systemd when create docker image or run image?

The information mentions that docker wants to be 'systemd', do you know how?

[2016-03-07 15:53] whowutwut commented on #739
Anyone have some comments on the changes above?

[2016-03-07 17:00] whowutwut commented on #761
@junxiawang  I think we should change the process reporting bugs to show a xCAT version.   ``lsxcatd -a`` for example...  "Download the latest build" will change depending on when someone looks at the problem and won't identify the build that you used.

[2016-03-07 18:59] whowutwut commented on #752
@daniceexi  I made the following changes in my sandbox to test this out.  I still don't know why we don't just dynamically detect the version of the pkvm from the .discinfo file instead of relying on the entries that we add into the ``discinfo.pm`` file?   Take a look at 7b56c3d134deb83bfe71c796d6791eb70d18e05d

With the change:
[code]
I can create a pull request if acceptable...

[2016-03-08 00:58] junxiawang commented on #761
@whowutwut : command could not work according to the bug so I could not run "lsxcatd -a"

[2016-03-08 01:23] whowutwut commented on #761
@junxiawang  that makes sense! Thanks for the explanation, can we get the build date of xcat-core?

[2016-03-08 03:10] neo954 commented on #739
@whowutwut, Did you ever play with any Red Hat / SuSE / Ubuntu machine which was installed manually, without xCAT?

The main idea of the new xCAT ``rsyslogd`` policy is leave the upstream Linux distro rsyslogd configuration as is. That means, for all the logs come from the xCAT management node itself, we try to maintain the default log behavior came from the upstream Linux distro, as if xCAT it no

[2016-03-08 06:06] penguhyang opened #783 "[DEV] need to logging the getinstdisk script log to xcat.log properly"
Currently, the getinstdisk script log can't be logging to the xcat.log properly.
We need to improve the readability of xcat.log.

[2016-03-08 07:02] caomengmeng commented on #748
@xuweibj ，how about add the excepted log result for both fresh install and reinstall?
This will be a reference for testing.

[2016-03-08 07:18] caomengmeng opened #784 "[FVT]The command " rcons node -f -s" is not as excepted."
Description: The -f flag can not be used with the -s flag for the rcons command. But the return message is not right and return value is 0 not 1.

ENV:
[code]

Steps to reproduce:
[code]

[2016-03-08 07:21] junxiawang commented on #761
@xuweibj
still errors:
  Updating   : xCAT-2.12-snap201603071531.ppc64                                                                                                                                                 7/14
Restarting xcatd (via systemctl):  Warning: xcatd.service changed on disk. Run 'systemctl daemon-reload' to reload units.
Job for xcatd.service failed because a timeout was exceede

[2016-03-08 07:43] zet809 commented on #784
@xuweibj will you pls take a look at this issue? It seems the script bin/rcons incorrectly parse arguments.

[2016-03-08 07:56] neo954 commented on #713
@daniceexi, we need this fix to run xCAT auto-test.

[2016-03-08 09:41] xuweibj commented on #761
I tried to update xCAT from 2.11 to 2.12, I did not met this problem. Maybe environmental problem.
Wait for whether reproduce.

[2016-03-08 09:52] daniceexi commented on #739
@neo954 I agree with the basic principles of how to config rsyslog which mentioned by you. But xCAT's original rule was to enable all the logs to one log file /var/log/messages. And it was accepted by customer, even some customers may change the xCAT default configuration after xCAT installl immediately.
I think we need to keep the original rule for rsyslog configuration in xcat, which is what men

[2016-03-08 09:53] daniceexi commented on #713
@neo954 We can set the getadapter test cases to be 'ppc64le' and 'x86_64' only.

[2016-03-08 10:32] daniceexi commented on #752
@whowutwut The change 7b56c3d134deb83bfe71c796d6791eb70d18e05d looks good if the .discinfo has the fixed IBM_PowerKVM keyword and version number.

I am a little curious that how can you create this commit 7b56c3d134deb83bfe71c796d6791eb70d18e05d in xcat-core without a pull request?

[2016-03-08 12:19] whowutwut commented on #752
Right, I searched for the whole string, so at least if PowerKVM is using "IBM_PowerKVM" we will take the version number.  If not, then we just behave like we do today.

Interesting that the commit looks like it's on xcat-core.. . It's actually this https://github.com/whowutwut/xcat-core/commit/7b56c3d134deb83bfe71c796d6791eb70d18e05d but I took out the beginning URL, let me update the other posts.

[2016-03-09 06:06] xuweibj commented on #553
https://sourceforge.net/p/xcat/wiki/BootTarget/
According to this doc, user must add bprofile, kernel, initrd and kcmdline to boottarget table, and prepare related files.

[2016-03-09 07:55] penguhyang opened #787 "[DEV] site.xcatdebugmode need a fixed value (0 1 blank)"
Currently, xcatdebugmode can be any value.If xcatdebugmode=0 or xcatdebugmode value is blank, that means xcatdebugmode is off. Using other values turns on xcatdebugmode.
However, most scripts have a verification between 0 and 1. It's necessary to make a fixed value scope for xcatdebugmode.

[2016-03-09 08:37] daniceexi commented on #787
@penguhyang Do you plan to support the valid value like '1|Y|y|yes, 0|N|n|no' for site.xcatdebugmode attribute?

[2016-03-09 09:29] penguhyang commented on #787
@daniceexi Yes, these valid value will be supported.

[2016-03-10 01:50] tingtli opened #790 "[FVT]:Update build-ubunturepo for xcat build to support Ubuntu 16.04 (Xenial Xerus)"
We need to update build-ubunturepo to support the new Ubuntu distribution Ubuntu 16.04 (Xenial Xerus).

Here is the code which needs update.
[code]
And for xcat-core, following code needs update for "Xenial"
[code]

For xcat-dep , following codes needs to update
[code]

[2016-03-10 02:11] tingtli commented on #779
I add the ports in default vlan and the "show vlan" can display the ports information. Then the discovery succeeded.

[code]

After the discovery, the nodes definition is updated.
[code]

[2016-03-10 02:12] #779 closed

[2016-03-10 02:30] junxiawang commented on #761
tested

[2016-03-10 02:30] #761 closed

[2016-03-10 02:30] #587 closed

[2016-03-10 02:31] immarvin commented on #776
hi @JBBIntel , besides the "addkcmdline" mentioned by @cxhong , xCAT also provides a "xcat debug mode" to debug the os installation process, please see https://sourceforge.net/p/xcat/wiki/Debugging_xCAT_Problems/#collect-information-and-logs-from-the-installer-during-os-installation for details

[2016-03-10 02:31] #755 closed

[2016-03-10 02:31] #728 closed

[2016-03-10 02:32] #716 closed

[2016-03-10 02:32] #554 closed

[2016-03-10 02:59] tingtli commented on #740
Merge pull request #773 from tingtli/defect740

[2016-03-10 02:59] #740 closed

[2016-03-10 03:07] #555 closed

[2016-03-10 05:46] caomengmeng commented on #748
Closed, this design doc is updated now.

[2016-03-10 05:46] #748 closed

[2016-03-10 13:45] whowutwut commented on #685
@daniceexi, @zet809,  @chenglch   We got some more information about this in email discussion.... It seems like the solution was using ipmitool-xcat-1.8.11 which is the wrong version.  But something interesting, when the team compiled ipmitool from source for 1.8.15, the problem of console dropping seemed to go away.

We only really make two changes to the ipmitool package
1. no prompting when doi

[2016-03-10 13:54] whowutwut commented on #685
@dillonfzw, In some email exchange, you mentioned that you were running with ``ipmitool-xcat 1.8.15``, do you see this console dropping issue?

[2016-03-10 14:58] whowutwut commented on #752
@daniceexi  for PowerKVM 2.1.1 and 3.1.0 (latest version) they both have the IBM_PowerKVM tag in the .discinfo, so i think it's OK to integrate this..  will create the pull request

[2016-03-10 15:26] whowutwut commented on #765
@zet809 @daniceexi  it looks like those two commits above was directly made to the xcat-core master branch instead of using a pull request... since it partly resolved an issue, would it have made sense to have a pull request, because otherwise without your comment above, it is hard to know when thing were committed that is related to this issue..

[2016-03-11 01:55] daniceexi commented on #765
@whowutwut I have reviewed the change made by @zet809. I think the thing was @zet809 wanted save the time to made a pull request process since the change was minor. Then I think @zet809 should add the commit for this issue to make the owner and wacher of this issue to know the defect had been fixed.

[2016-03-11 02:06] daniceexi commented on #685
Good news if the 1.8.15 could fix this issue.

[2016-03-11 03:34] whowutwut commented on #765
Yea, thanks...  something to notify the watchers of this issue that something changed would be fine.

[2016-03-11 07:30] mbausch0 commented on #553
Yes, this is where the whole discussiion initially started:
https://sourceforge.net/p/xcat/mailman/message/34714873/

Yes, this is exactly, what I did.
The only problem is: It doesn't work.
For what has already been suggested to solve this and how it worked out, please see this issue's history.
The question still remains: What needs to be done to make this work?

[2016-03-11 13:45] gurevichmark opened #795 "[DEV] updatenode command keeps going after detecting missing node attributes."
updatenode command checks all DB tables to build a hash of all node attributes for the specified noderange.
If a node does not have "os" or "arch" attribute specified, an error message is displayed but the updatenode command will still be performed on that node. Also, after one such node is detected in the noderange, the hash of node attributes for the remaining nodes in the noderange is not perfo

[2016-03-11 14:12] cxhong commented on #553
Hi, @mbausch0 , Can u able to copy your definition here?

[2016-03-11 16:01] whowutwut commented on #766
@tingtli  I updated the typo to remove ``license?`` directly, will set to pending

master: 7ae8361209eb0fa28757fa0601ead8b9d98d0896
2.11: 3fd95c1dcde9e5ead9c81999b6700fed48d2d06f

[2016-03-11 18:18] gurevichmark commented on #765
I tried downloading and installing the 2 RH rpms specified above, on c910f02c06p23, RH 7.2.
It appears some dependencies are missing:

warning: perl-Net-HTTPS-NB-0.140.0-2.mga6.noarch.rpm: Header V3 RSA/SHA1 Signature, key ID 80420f66: NOKEY
error: Failed dependencies:
 perl(Test::More) >= 0.880.0 is needed by perl-Net-HTTPS-NB-0.140.0-2.mga6.noarch
 perl-base >= 2:5.22.1 is needed by perl-Net-HTT

[2016-03-14 03:18] daniceexi commented on #553
@mbausch0

*  You are using boottarget method, which means xCAT does not know which OS the you want to install. Then xCAT cannnot figure out how to generate the configuration file like autoyast for you.

* You need to specify all the parameters by yourself through table boottarget.kcmdline. kcmdline supports two specific formats to simplify the input:

  * #NODEATTRIB:<tablename>:<columnname>
  *

[2016-03-14 09:16] zet809 commented on #765
@gurevichmark I have downloaded the src package perl-HTTP-Async-0.300.0-2.mga6.src.rpm and find that those dependency packages mentioned above are caused by the testing scripts include in the rpm package. I think they can be removed when build our own dependency.
I have tried to build tmp dependency pkgs and put it under /tmp/gurevich/. With those 2 pkgs, you can run mkdocker or other docker lifec

[2016-03-14 13:22] #77 closed

[2016-03-14 13:53] whowutwut commented on #437
Since this is waiting in shell, does ssh into shell and exit cause the process to continue?

[2016-03-14 14:26] whowutwut commented on #446
I moved this back to 2.11.1 because we should fix this in 2.11 and cherry-pick it to 2.12.  The Issue is the same as in #593 so I've assigned this to @pdlun92.

Really this is a firmware issue so once the firmware team decides to flash component 4, it should resolve itself.  In the #593 issues, we discuss the possibility of hiding the field if it's 0, but I think this is masking the problem, so we

[2016-03-14 14:33] whowutwut commented on #446
Looking at this again.. I just changed to invalid because from xCAT's point of view, we will not do anything about this.  I am contacting the firmware team to ask why the BIOS component (component 4) always shows up as 0.00.  The firmware file does have a version associated but it doesn't reflect when the firmware is flashed.    Once I get a response we can figure out what to do....

[2016-03-15 06:59] neo954 opened #801 "[FVT] Ubuntu packaging problem, xcat-client depends perl-xCAT, should be perl-xcat"
In file ``xCAT-client/debian``, it shows ``xcat-client`` depends ``perl-xCAT``. But package ``perl-xCAT`` is non-existence. We do not have ``perl-xCAT``, instead, we have ``perl-xcat``.

Based on Debian policy, section 5.6.1 and section 5.6.7 [1], there is no uppercase letters allowed in the package names.

[1] https://www.debian.org/doc/debian-policy/ch-controlfields.html#s-f-Source

    Source:

[2016-03-15 07:08] neo954 commented on #790
This issue depends on issue #801. Need fix issue #801 first.

[2016-03-15 08:02] neo954 commented on #801
Create pull request #802 for the fixing.

[2016-03-15 10:51] neo954 commented on #302
Will verify it later.

[2016-03-15 11:04] whowutwut commented on #790
@neo954, thanks I will try my pkg changes again with the change you made

[2016-03-15 13:22] whowutwut commented on #302
@neo954 Should this be moved to 2.11.1 or leave in 2.11 ?

[2016-03-15 22:02] SirRollen commented on #725
Checked TFTP and it is running. I want to start this from scratch and I have a deadline to meet on thursday. Is it possible I could acquire a dev that can help me run through the initial setup process and answer questions related to the hardware we are working with? If not can you the most up to date document on BMC server board systems for arch x86_x64?

Our goal is to do a stateless boot for dia

[2016-03-16 02:07] caomengmeng opened #805 "[FVT]It is hard to track the get install disk process while xcatdebugmode is open."
ENV:
[code]

Description:
When open the xCAT debug mode, after CN installation, the logs for determine install disk are shown in /var/log/xcat/xcat.log, but it is so hard to track as all the executive process are also shown, please see below.
So please add some flag string to make it distinguished easily.

[code]

[2016-03-16 06:03] caomengmeng opened #807 "[FVT]No xcatdebugmode attribute after install MN, then no excepted logs in xcat.log after install CN"
ENV:
[code]
Steps to reproduce:
After install MN, there isn't xcatdebugmode attribute in site table by default,

 then install CN, track the /var/log/xcat/xcat.log, please see the attached file for details.
There isn't the determine install disk logs or pre-scripts logs shown.
What will do for this situation? If there isn't the xcatdebugmode attribute after installation, how to deal with the logs?

[2016-03-16 10:44] daniceexi opened #809 "Update the description for netboot attribute"
From the code of Utils.pm->lookupNetboot(), sles11.4 should use grub2. But in the definition of nodeset attribute, it said 'yaboot'. Please update the description base on the code logic.

[code]

[2016-03-16 13:26] daniceexi commented on #725
@SirRollen You already got the correct doc we have now.

Continue to discuss your issue, see my question.  I need the information whether the xnba has been downloaded to your compute node.
[code]

[2016-03-16 13:45] daniceexi commented on #302
Change to 2.11.1 is useful for later search to know which release includes this fix.

[2016-03-16 13:55] SirRollen commented on #725
I'm gonna follow all the steps from scratch and If that problem persists I'll come back to it. Do I need to permanently set a domain name before installing xCAT? I tried domainname my.domain and everytime I reboot I lose the domainname. What is the preffered method to set it permanently so xCAT configures correctly.

[2016-03-16 14:10] daniceexi commented on #725
Try the setting in /etc/hostname or /etc/sysconfig/network.

[2016-03-16 14:14] SirRollen commented on #725
/etc/sysconfig/network

1. NETWORKING=yes
2.HOSTNAME="mgt.cluster"
3.NISTDOMAIN=cluster

/etc/hostname

1. mgt.cluster

Is this correct syntax for these?

[2016-03-16 15:31] SirRollen commented on #725
- [root@mgt ~]# tabdump site
- [root@mgt ~]# tabdump site
- #key,value,comments,disable
- "blademaxp","64",,
- "fsptimeout","0",,
- "installdir","/install",,
- "ipmimaxp","64",,
- "ipmiretries","3",,
- "ipmitimeout","2",,
- "consoleondemand","no",,
- "master","192.168.70.254",,
- "nameservers","192.168.70.254",,
- "maxssh","8",,
- "ppcmaxp","64",,
- "ppcretry","3",,
- "ppctimeout","0",,
- "powerin

[2016-03-16 15:32] SirRollen commented on #725
[code]

[2016-03-16 15:33] SirRollen commented on #725
Here's the entire configuration of the management. Am I missing anything before I move on? Should I check any other outputs? DNS is working and DHCP is confirmed as well. SELINUX is disabled.

[2016-03-16 15:33] SirRollen commented on #725
[code]

[2016-03-16 15:40] SirRollen commented on #725
[code]

[2016-03-17 03:30] daniceexi commented on #725
Could you send me (wxp@cn.ibm.com) the log file /var/log/messages, /var/log/httpd/access_log and /var/log/httpd/error_log?

[2016-03-17 04:53] caomengmeng opened #810 "[FVT]Failed to update booted status for ubuntu14.04.3 on ppc64le"
ENV:
MN:
[code]

Description:
In PPC64le autotest environment, it is failed to install the CN node.
The CN status is booting, the scripts for install are not executed completely, and logs in CN /var/log/xcat/xcat.log are as below:

[code]

[2016-03-17 07:51] daniceexi commented on #810
I found the root cause was the 'xcatd: install monitor' process stopped on xCAT MN.

[code]
After I restarted xCAT:
[code]

I run the updateflag on CN again:

[code]

Then the status was updated successfully

[code]

[2016-03-17 07:52] daniceexi commented on #810
@caomengmeng Could we add a check the xcatd when the status could not change to 'booted'?

[2016-03-17 07:57] caomengmeng commented on #810
@daniceexi
Yes, we can do this.

[2016-03-17 08:06] caomengmeng commented on #805
There is flag [get_install_disk] added in xcat.log file. so close it.

[2016-03-17 08:06] #805 closed

[2016-03-17 08:13] immarvin commented on #810
hi @daniceexi ,why "xcatd: install monitor " is stopped? is it caused by the installation process?

[2016-03-17 09:02] caomengmeng opened #815 "[FVT]Failed to choose correct install disk from multi-disks with WWN on X86(installing sles12.1)"
ENV:
MN:
[code]

CN:
[code]

Description:
Set xcatdebugmode=1, then install sles12.1 on CN.
After installed successfully, logon CN, track /var/log/xcat/xcat.log, then the /dev/sda is chosen as the install disk, but it should be the /dev/sdb

you will see the below logs:
[xcat_log_sles12_x86_1_fresh.txt](https://github.com/xcat2/xcat-core/files/177524/xcat_log_sles12_x86_1_fresh.txt)

[2016-03-17 09:14] caomengmeng opened #816 "[FVT]Set xcatdebugmode=0, but executing scripts are still shown for sles12.1 on X86"
ENV:
MN:
[code]
Description:
Set xcatdebugmode=0, then install sles12.1 on CN.
After installed successfully, logon CN, track /var/log/xcat/xcat.log.
What are excepted: only the executed results will be shown, no executing scripts.
But now all the executing scripts and executed logs are shown, no matter the xcatdebugmode value is zero or one.

Set the xcatdebugmode=0, you will see the below logs:
[

[2016-03-17 09:25] caomengmeng commented on #747
It is like below now:
[code]
passed

[2016-03-17 09:25] #747 closed

[2016-03-17 09:55] daniceexi commented on #810
@immarvin Not sure the root cause. After @caomengmeng add the test of xcatd, we will see the frequency of this issue and to see the possible reason for the stop of install monitor process.

[2016-03-17 11:53] SirRollen commented on #725
I just e-mailed them to you.

[2016-03-17 13:04] #795 closed

[2016-03-17 15:38] whowutwut commented on #752
Verified on the daily build for 3/16
[code]
It should be in this weeks Thurs build that will be updated to xcat.org and onwards , will close out this issue.
[code]

[2016-03-17 15:38] #752 closed

[2016-03-18 19:43] whowutwut commented on #590
@daniceexi @immarvin  do we have any status for this, was something opened to the LTC?

[2016-03-20 02:59] daniceexi commented on #590
@whowutwut We had discussed this with solution china team that they might resposbible for opening the defect to LTC since they have the detail infomation. Several days before I think @immarvin had a disucssion with @dillonfzw. @immarvin, could you update this thread?

[2016-03-21 07:12] zet809 commented on #648
@caomengmeng Is this still an issue?

[2016-03-21 07:16] immarvin commented on #756
@wwzhubj , is there any update?

[2016-03-21 07:21] caomengmeng commented on #648
Find one x86 machine with multi-disks，so close it.

[2016-03-21 07:21] #648 closed

[2016-03-21 07:25] caomengmeng commented on #647
Using device path for fresh install and OS detected for reinstall.

[2016-03-21 07:25] #647 closed

[2016-03-21 07:32] caomengmeng commented on #784
Passed.
[code]

[2016-03-21 07:32] #784 closed

[2016-03-21 09:19] wwzhubj commented on #756
I think the error message should be given to user if xCAT don't support multi pkglist, since it cause the installation failed.

[2016-03-21 09:21] daniceexi commented on #590
@dillonfzw @immarvin

From the bugzilla: https://bugzilla.linux.ibm.com/show_bug.cgi?id=134065, looks like the issue has been fixed in the powerpc-ibm-utils-1.2.26-1. But we need to confirm which OS will include this fix.

[2016-03-22 00:47] whowutwut commented on #807
@caomengmeng  what is that xcat_log.txt file that you have in your post at the end?  It goes to 404, page not found.

[2016-03-22 02:04] dillonfzw commented on #590
@daniceexi I took a look at LTC ticket 134065. Its root cause and patch are related to the mpath and md device mapping, which is not the same as what I had reported. We are using normal scsi device name, sdX.

[2016-03-22 03:56] caomengmeng opened #821 "[FVT]Failed to install rh7.2 on X86_64 machine with 4 disks"
ENV:
MN:
[code]
Description:
Failed to install rh7.2 on CN, but can install sles12.1 successfully.
Using rcons CN -f to track the installation process, it stops with below screen:
[code]

[2016-03-22 05:28] immarvin commented on #821
please attach the error message in the syslog

[2016-03-22 06:25] immarvin commented on #590
the ltc ticket link:
https://bugzilla.linux.ibm.com/show_bug.cgi?id=139430

[2016-03-22 06:29] caomengmeng opened #822 "[FVT]Install redhat6.7, failed to get the determine install disk logs"
ENV:
 MN:
[code]

Description:
Set site.xcatdebugmode=0, install rh6.7 on CN, after successful installation, then track logs in /var/log/xcat/xcat.log.
There isn't determining install disk logs shown:
[code]

[2016-03-22 06:46] junxiawang opened #825 "[fvt]2.12:Bareword "SSL_VERIFY_PEER" not allowed while "strict subs" in use at docker.pm"
env:ubuntu14.04.3
build:lsdef - Version 2.12 (git commit 08bac0d779d04a59a4e6397bb13b50bb89be17b2, built Mon Mar 21 15:32:19 EDT 2016)
How to reproduce:
[code]

[2016-03-22 07:10] zet809 commented on #825
Merged directly in master branch. Pls verify.

[2016-03-22 08:14] caomengmeng commented on #821
Hope it helpful:
https://access.redhat.com/solutions/1369253
https://bugzilla.redhat.com/show_bug.cgi?id=1168118

[2016-03-22 08:59] caomengmeng opened #827 "[FVT]WWN values are different after installing rh7.2 or rh6.7/sles12.1"
ENV:
 MN:
[code]

Description:
There are 4 disks with WWNs in the CN.
But after install RH7.2, or RH6.7/Sles12.1, the WWN are changed.
This will affect the determine install disk logic.

After RH7.2 installation：
[code]

After install rh6.7 or sles12.1:
[code]

[2016-03-22 09:58] neo954 commented on #827
@caomengmeng Please check the bug report below. The bug is still fresh.

https://bugzilla.redhat.com/show_bug.cgi?id=1227503

[2016-03-22 10:40] neo954 commented on #790
Create pull request #830 for all the templates and pkglists.

[2016-03-22 12:56] SirRollen commented on #725
Hello daniceexi have you been able to take a look at this?...

[2016-03-23 02:48] tingtli commented on #52
@chuckbrazie  Do you have any comments for this issue?

[2016-03-23 03:01] tingtli commented on #71
@cxhong @neo954  @penguhyang  Is this bug fixed?

[2016-03-23 03:25] tingtli commented on #138
@zet809 do we get the formal answer for the bugzilla defect 132141?

[2016-03-23 05:50] caomengmeng opened #834 "[FVT]Man page for bmcdiscover is not synced completely"
In bmcdiscover man page, the option "-c" is replaced by "--check", but there are still "-c" existed.

OPTIONS
[code]

EXAMPLES
[code]

Please make changes.

[2016-03-23 06:31] caomengmeng opened #836 "[FVT] Please update the executed message for xcatd start/stop"
On redhat7.2, while execute the "service xcatd start/stop" the message are "xcatd" not "xCATd" as sles and Ubuntu. Please make them unified.

RH7.2
[code]

Ubuntu:
[code]

Sles:
[code]

[2016-03-23 06:58] caomengmeng commented on #815
Passed, correctly select disk.

[2016-03-23 06:58] #815 closed

[2016-03-23 07:02] neo954 commented on #71
The bug is still there.

[2016-03-23 07:33] tingtli commented on #199
@pdlun92 @whowutwut  Is there any updates for this bug?

[2016-03-23 08:34] tingtli commented on #347
@caomengmeng  please verify and close it asap

[2016-03-23 08:53] neo954 commented on #438
This issue is tracked with issue #739. Thus I will close this one.

[2016-03-23 08:55] tingtli commented on #445
@bybai  will you fix this in 2.12?

[2016-03-23 08:58] tingtli commented on #446
@whowutwut  so we will keep this bug to trace it?

[2016-03-23 09:17] #438 closed

[2016-03-23 09:33] neo954 opened #840 "[FVT] /opt/xcat/share/xcat/tools/xCATreg does not have execute permission"
root@c910f03c17k03:~# /opt/xcat/share/xcat/tools/xCATreg
    -bash: /opt/xcat/share/xcat/tools/xCATreg: Permission denied
    root@c910f03c17k03:~# ls -l /opt/xcat/share/xcat/tools/xCATreg
    -rw-r--r-- 1 nobody nogroup 63338 Mar 22 08:01 /opt/xcat/share/xcat/tools/xCATreg
    root@c910f03c17k03:~# lsxcatd -v
    Version 2.12 (git commit 4a340b3a84e03fdff895b18870e12b8e0f170d7d, built Tue Mar 22

[2016-03-23 13:10] daniceexi commented on #836
I am thinking in the doc, we use 'xCAT', but in the code, to simplify the coding, message searching, I'd like it can be 'xcat' and 'xcatd'.  @hu-weihua what do you think?

[2016-03-23 15:14] whowutwut commented on #51
There's a group within IBM that is creating charms for various IBM products, xCAT being one of them.  There was an initial effort last year to charm xCAT and a simple release of it is available here:   https://jujucharms.com/u/ibmcharmers/xcat/trusty/0

I've been in communication with the folks who are going to make some improvements this year, I'm going to close this issue as the link above shoul

[2016-03-23 15:14] #51 closed

[2016-03-23 15:20] whowutwut opened #841 "[DEV] apt-get update displays errors when pointing at the xCAT management node."
Installed a fresh copy of Ubuntu 14.04.3 on x86_64 VM.  The problem also occurs on the ppc64le installs and I would guess all installed kicked off by xCAT.

When we run `apt-get update` on the Ubuntu node, we have some apt sources.list defined that points back to the xCAT management node, those all result in error **404: Not Found**

[code]

Can we investigate the root cause of this?

[2016-03-23 15:56] whowutwut commented on #739
I'm debating this issue as well...  Maybe need to come up with a mini design...   I think there should be a variable introduced to control log forwarding.  Looking at rsyslog documentation, they seem to refer to this as log consolidation.   Perhaps this keyword..

``site.logconsolidation`` or ``site.log_consolidation``

valid options may be one of the following:
[code]
So the default would be unse

[2016-03-23 16:45] whowutwut opened #842 "[DEV] Update the default compute node templates with a more real world partitioning scheme"
The default partitioning scheme provided by xCAT should not only use a single / partition.

There are recommended partitioning schemes out there.. just one example:
https://access.redhat.com/documentation/en-US/Red_Hat_Enterprise_Linux/6/html/Installation_Guide/s2-diskpartrecommend-x86.html

At a minimum, I think we should have partitions for the following:

[code]

maybe even add `/home`

I am se

[2016-03-23 22:54] whowutwut commented on #836
Just my opinion, if we look at something like rsyslog. the program is "rsyslog" but the daemon running is ``rsyslogd`` on RHEL.  Ubuntu is similar, the process is ``rsyslogd`` but when you query status , it's ``rsyslog``

So maybe if we wanted to be consistent with the naming, we can do like @daniceexi suggested, in the docs we use xCAT but in the code we use lower case, ``xcat`` or ``xcatd``.

I

[2016-03-24 00:45] daniceexi commented on #841
My question is in you case whether the xCAT MN still there? If yes, could you still access http://10.2.6.23/install/ubuntu14.04.3/x86_64/?

[2016-03-24 02:14] tingtli commented on #449
@markprez  Is this issue fixed? We are cleaning up issues and would like to know the status of the issue.

[2016-03-24 02:49] tingtli commented on #492
@fenggaobj  If this bug is fixed, would you please close it?

[2016-03-24 03:05] chenglch commented on #115
Hi @samveen ,  if you set group attribute of `AllRackA25-AU121` in `postscripts` table like this:
"AllRackA25-AU121","confignics,+=NEXTRECORD",,,
the attributes in `centos7` group may be added to the end of `confignics`.

I prepare to add a site variable `heirarchicalattrtable` like
"heirarchicalattrtable","postscripts,prescripts"
which means the attributes in `postscripts` table and `postscripts`

[2016-03-24 03:06] tingtli commented on #510
@junxiawang  could you please take a look at this issue? Victor need more information here.

[2016-03-24 03:24] tingtli commented on #532
@whowutwut  I see you create a story to invest provision Ubuntu without internet access. I assign this bug to you.

[2016-03-24 03:25] immarvin commented on #841
hi @whowutwut , these entries in /etc/apt/sources.list pointing to MN are added by ubuntu installer, since we told preseed the repo/mirror on MN by specifying "/install/ubuntu14.04.3/x86_64/" in "osimage.pkgdir".

[2016-03-24 03:32] hu-weihua commented on #836
@daniceexi  and @whowutwut, I agree with you for the uniform naming, using xCAT in doc and using xcat in code.

But as far as this defect opened by @caomengmeng be concerned, I double checked our code, I found in our /etc/init.d/xcatd, we use "xCAT" always.  Maybe you have noticed in RH7.2 scenario, ``systemctl`` is involved. I think below information come from ``systemctl``, not our code:

    [r

[2016-03-24 03:35] #539 closed

[2016-03-24 03:37] tingtli commented on #546
@bankabanka  Please try xcat 2.9.3 release to see if it fixes your problem. If yes, please close it. Thanks!

[2016-03-24 04:56] #546 closed

[2016-03-24 05:56] immarvin commented on #821
LTC ticket:
https://bugzilla.linux.ibm.com/show_bug.cgi?id=139600

[2016-03-24 06:50] caomengmeng commented on #807
Try again:
[xcat_log.txt](https://github.com/xcat2/xcat-core/files/187353/xcat_log.txt)

[2016-03-24 06:50] caomengmeng commented on #807
@whowutwut How about this one?

[2016-03-24 08:34] zet809 commented on #825
@junxiawang If this defect is verified, pls close.

[2016-03-24 08:35] zet809 commented on #765
@junxiawang Pls close this defect if verified.

[2016-03-24 08:57] daniceexi commented on #836
Yes, there are a lot places using **xCAT**. Maybe we can just unify the usage of **xcatd** to be low-case **xcatd** instead of having both **xcatd** and **xCATd** in the messages.  Change the sbin/xcatd and /etc/init.d/xcatd should be enough.

[2016-03-24 10:13] daniceexi commented on #739
@whowutwut Refer to the pull request #826 which owned by @xuweibj to control the syslog configuration for node specific (customer request). In the pull request, it only support to skip the rsyslog config in the xCAT **syslog** script.

I think the final decesion should include both of your ideas:
* the syslog control should be global + individual
* control to do the consolidation or not

[2016-03-24 12:42] immarvin commented on #756
fix https://github.com/xcat2/xcat-core/pull/843

[2016-03-24 12:51] whowutwut commented on #756
@immarvin  Since there are two problems described in this issue
- Pull Request #843 fixes the 2nd problem described in this issue.

[2016-03-24 13:38] immarvin commented on #756
hi @whowutwut , add a tip in https://github.com/xcat2/xcat-core/pull/844

[2016-03-24 14:03] whowutwut commented on #836
I mentioned this in #492 ... I think we should look into supporting systemd.  sysVinit is going to eventually go away and we should have the xcat start/stop/restart functionality into a xcat.service file somewhere under ``/etc/systemd/``

[2016-03-24 17:10] whowutwut opened #846 "[DEV]xCAT mknb command needs update in the docs 2.11 and onwards"
Should fix this in 2.11 branch and cherry pick forwards.

We should clean up some of the text formatting and update to support ppc64.
http://xcat-docs.readthedocs.org/en/2.11/guides/admin-guides/references/man8/mknb.8.html

Another issue we see is that if the management node changes IP address, there are some static things build into the genesis kernel that would require mknb to be rerun.

[2016-03-24 17:13] whowutwut opened #847 "[DEV]Consider deprecating the man pages over on SourceForge"
We have man pages that are hosted on SourceForge, one example:
http://xcat.sourceforge.net/man8/mknb.8.html

Should we replace all the man pages there with redirect to the read the docs man page reference?
@tingtli @daniceexi ?

[2016-03-24 17:50] whowutwut commented on #841
@daniceexi  Yes, this is a brand new install of Ubuntu from a mgmt node, ssh to the node and run ``apt-get update``.

@immarvin  Is something wrong with what we specified in the preseed? or should we not use the mgmt node as a repo server?  It seems like the files it needs are not there or it's not configured correctly....

[2016-03-25 01:02] #756 closed

[2016-03-25 01:48] daniceexi commented on #841
@whowutwut it because we used the entry like following in the preceed file.
[code]

The path **/install/ubuntu15.04/x86_64** is the one which generated by copycds from an iso. When doing the OS deployment, the ubuntu installer adds the corresponding http path like *http://10.2.6.23/install/ubuntuxx/x86_64/dists/trusty-updates** into the sources.list. The bad things is the ubuntu installer added th

[2016-03-25 01:56] zet809 commented on #846
@whowutwut For the issue you mentioned, it is correct that mknb will create default petitboot configuration file. If the MN ip is changed especially changed to another subnet, mknb need to be rerun to create a new petitboot configuration file for the new subnet.

[2016-03-25 02:17] daniceexi commented on #847
Since xCAT's policy is to support two major versions, my idea is after release of xcat 2.12, we can just block the whole manpage page and prompt a message that RTD should be used. Then people wil be pushed to use RTD and github if they were still using SF.

[2016-03-25 02:21] daniceexi commented on #809
I have verified this fix. Thanks.

[2016-03-25 02:21] #809 closed

[2016-03-25 02:24] daniceexi commented on #679
I have verified this change, thanks.

[2016-03-25 02:24] #679 closed

[2016-03-25 02:45] penguhyang commented on #807
Try to reproduce this scenario using this steps:
[code]
There are logs about the determine install disk and pre-scripts.
It works fine.
[code]
@caomengmeng Please use the latest build which contain logging mechanism.

[2016-03-25 02:55] daniceexi commented on #836
@whowutwut we had an investigation before, the systemd has problem to support current 'xcatd quick restart' function. And we did not see the goodness to move xcatd.service. This is way we still keep using the sysV start file.
If someday we must move to xcatd.service, we may need to leverage xcat command **restartxcatd** to offer the function **xcatd quick restart**.

[2016-03-25 03:18] #559 closed

[2016-03-25 03:25] fenghaizhu commented on #559
I copied the updated file bmcdiscover.pm from xcat team and made a patch by ourselves to fix this issue. It has worked well.

[2016-03-25 03:31] daniceexi commented on #608
I have verified the change.

[2016-03-25 03:31] #608 closed

[2016-03-25 03:51] immarvin opened #851 "[DEV] support multiple pkglist files in osimage.pkglist on Redhat and SLES"
Currently, if more than 1 pkglist files are specified in osimage.pkglist,"nodeset" simply leaves a entry in anaconda or autoyast file, xCAT should support multiple pkglist files separated with ",".

[2016-03-25 04:47] hu-weihua commented on #694
I have updated the ``chtab`` man page and the page has been merged, @caomengmeng  could you please close this issue? thanks.

[2016-03-25 05:20] caomengmeng commented on #618
Passed, so close

[2016-03-25 05:20] #618 closed

[2016-03-25 05:46] tingtli commented on #644
This bug is not reproduce. Close it.

[2016-03-25 05:46] #644 closed

[2016-03-25 06:14] tingtli commented on #654
Verified on xcat 2.12
[root@c910f02c01p15 iso]# copycds SLE-12-SP1-SDK-DVD-x86_64-GM-DVD1.iso
Copying media to /install/sles12.1/x86_64/sdk1
Media copy operation successful
[root@c910f02c01p15 iso]# copycds SLE-12-SDK-DVD-ppc64le-GM-DVD1.iso
Copying media to /install/sles12/ppc64le/sdk1
Media copy operation successful

[2016-03-25 06:14] #654 closed

[2016-03-25 06:23] tingtli commented on #674
Verified with autotest and close it.

[2016-03-25 06:23] #674 closed

[2016-03-25 06:47] tingtli commented on #736
Verified by autotest. Close it

[2016-03-25 06:47] #736 closed

[2016-03-25 07:23] tingtli commented on #847
I agree that we redirect all the docs to read docs. That's easy for customers to covert to the new location

[2016-03-25 07:41] junxiawang opened #854 "[fvt]2.12：docker command man page need modified"
env:ubuntu14.04.3
xcatbuild:
[code]

[2016-03-25 17:09] whowutwut commented on #847
Some of the SF site is still valid though. For example, the AIX info... HMC support.. FSP... At this time RTD only focused on OpenPower mgmt servers..

But the man pages I think we can redirect them to http://xcat-docs.readthedocs.org/en/latest/guides/admin-guides/references/index.html#xcat-man-pages

[2016-03-26 00:11] whowutwut commented on #199
No, there has been some higher priority items going on, this one we will keep as low priority and hopefully can get around to it.

[2016-03-27 02:59] #730 closed

[2016-03-27 03:30] daniceexi commented on #847
I am OK with that.

[2016-03-28 00:12] caomengmeng commented on #347
Description:

Item1: No need to add  "See Suggestions for writing scripts".

Item2: Add the folder to find mypostscript.tmpl.

As the description, all other issues listed are fixed before. So close.

[2016-03-28 00:12] #347 closed

[2016-03-28 04:35] caomengmeng opened #856 "[FVT]Failed to update xCAT using latest build on RH6.7 and RH7.2"
Description:
On MN, download the latest build in /xcat/build/xcat2_autobuild_daily_builds/20160327.0730/linux_rpm/devel
Then run "yum clean all", and "yum update  '*xCAT*'", you will see below:
[code]
Test enviroment:
MN:
[code]

[2016-03-28 04:54] caomengmeng opened #857 "[FVT]Failed to install xCAT on sles11 x86_64 using latest daily build"
Steps to reproduce:
When in MN, using the latest xcat-core build in /xcat/build/xcat2_autobuild_daily_builds/20160327.0730/linux_rpm/devel
and xcat-dep: xcat-dep-201603231124.tar.bz2
After execute the "./mklocalrepo.sh", then run "zypper install xCAT" to install xCAT, but you can see below:
[code]

Test ENV:
MN:
[code]

Log:in /var/log/xcat/install_xcat.log
[code]