[2018-08-16 16:47] cxhong commented on #5517
@khm ,    I ran few tests,  don't think  deploy syncfiles to compute node via netboot image built by packimage.  It used default postscript defined in the node attribute

[code]
The rootimg will not be updated during packimage process.
[code]
that if statement will always failed for `-f $syncfile` checking if has multiple syncfile list.

@immarvin , do u know if there are other reasons to xdcp syn

[2018-08-16 17:19] khm commented on #5517
Packimage works if there is a single syncfile, for instance `synclists=/install/custom/netboot/centos/compute.synclist` but fails if there are multiple, as in `synclists=/install/custom/netboot/centos/compute.synclist,/install/custom/netboot/centos/aux.synclist`

We can fix it simply by just splitting the value and calling xdcp:
[code]

but this really should be handled by the existing syncfiles()

[2018-08-16 18:28] cxhong commented on #5517
@khm  yeh, that piece of code is broken if there are multiple synclist files.   I just wonder if it is necessary to `xdcp` sync files in the packimage process.  the sync file will always processed by postscripts `syncfiles` defined in the node attribute which can handle multiple synclist files.

[2018-08-16 18:32] kcgthb commented on #5497
HI @gurevichmark
Thanks for the update!

I understand the decision in 3. and thanks for the suggestion in 2.

For 1., may I ask if it would also be possible to disable the initrd re-generation via an environment variable, in addition to the the command-line option? It's a bit cumbersome to add this option to every `rinstall` call when one's used to just call `rinstall nodename`.
Something like `XC

[2018-08-16 18:46] khm commented on #5517
@cxhong We've got some files we need present during earlier boot stages than the postscripts can provide.  Currently we're having to copy those over during genimage inside .postinstall, but we'd prefer to let packimage handle this properly.

[2018-08-16 18:52] cxhong commented on #5517
@khm , OK, I will open a pull request for this.

[2018-08-17 01:52] zet809 commented on #5518
Hi, @cxhong , this issue have been fixed with my PR #5519

[2018-08-17 02:03] hu-weihua commented on #5518
Have been verified in automation test environment. thanks @zet809 and @cxhong .

[2018-08-17 02:03] #5518 closed

[2018-08-17 06:08] immarvin opened #5525 "tuning the timeout values in documulusdiscovery according to the issues found in large cluster"
[code]

[2018-08-17 06:09] immarvin commented on #5525
fixed in https://github.com/xcat2/xcat-core/pull/5502

[2018-08-17 06:12] immarvin opened #5526 "print underline error message when xcatd fail to notify the discovered device to restart"
nodediscover.pm: print error message when failed to open socket to 3001 port of the node under discovery

[2018-08-17 06:13] immarvin commented on #5526
fixed in https://github.com/xcat2/xcat-core/pulls?q=is%3Apr+author%3Aimmarvin+is%3Aclosed

[2018-08-17 06:14] immarvin opened #5527 "skip obtaining macmap table from switches without any port connect to switchs and pdus while discovering switch"
skip obtaining macmap table from switches without any port connect to switchs and pdus while discovering switch

[2018-08-17 06:17] immarvin opened #5528 "skip cumulus discovery if the static dhcp lease of switch already exists #5482"
refined the code logic for cumulusztp to skip discovery process if there is already a static lease exists for the mac address of switch on MN, i,e, the node has been defined, the mac address of the switch has been defined and makedhcp has been run against the switch. This covers the upgrade scenario.

in other words, if the switch obtained its dhcp lease from the static lease , there will be host-

[2018-08-17 06:17] immarvin commented on #5528
fixed in https://github.com/xcat2/xcat-core/pull/5482

[2018-08-17 06:42] #5505 closed

[2018-08-17 06:45] robin2008 opened #5529 "No clear error message when failed to generate /etc/dhcp/dhcpd.conf"
When run `makedhcp -n` to new a dhcp configuraiton, it might be failed when wrong configuration in `dhcpinterfaces` (in `site` or `servicenode`), and dhcpd cannot started successfully.

But the commands cannot show any meaningful messages there.

For example:
[code]
we can see that if wrong dhcpintrface,  no subnet will be defined. It is the correct behavior, but no error messages for it.

After w

[2018-08-17 08:14] zet809 commented on #5476
Use #5531 to fix this issue, the fix will be included in 2.14.3 release in Aug 24 2018. So, close this issue. Thx @pawsey-kbuckley

[2018-08-17 08:14] #5476 closed

[2018-08-17 09:11] #1203 closed

[2018-08-17 09:26] #5507 closed

[2018-08-17 09:31] robin2008 commented on #5125
[code]
Then after this, we can still know its running.
[code]

[2018-08-17 09:31] #5125 closed

[2018-08-17 17:04] marksmit-ibm commented on #5516
Interesting: Two things fixed my configuration.
1. My  xcat/MGMT node was rebooted, I failed to run (need to add postscript) `makentp -a` .
I then tested by rebooting my CN's and I still see the 'not found' message, but the ntp.traditional does correct the time.  If I left my configuration this way, I agree, then issue 5520, Hide the 'command "chronyd" not found' error message would be needed.

2.

[2018-08-18 01:10] robin2008 opened #5533 "Easy method to see which group the node attributes are from"
For convenient, you can group a bunch of nodes with nodegroup,  and you can also set attributes on the group,  then the nodes in this group will inherit those attributes. Of course, you can set the attributes to nodes to override them in groups.

However,  there are no easy way to show the attributes coming from, especially when there are many groups.

[code]

It is good to have a capability to sh

[2018-08-20 01:49] robin2008 opened #5534 ""hierarchicalattrs" cause bad performance when querying nodes attributes"
hierarchicalattrs is a global site attributes to declare some nodes attributes aggregated from the node parent groups (the default behavior is to **override**)
This is introduced in https://github.com/xcat2/xcat-core/pull/961

While this also introduces an performance issue because it will query the site table for `hierarchicalattrs` arge amount of times although xCAT had already supported plugin-

[2018-08-20 02:01] robin2008 commented on #5534
**Root Cause Analysis**
With lots of UT and the code level analysis of `Table.pm`,  the cause is that those methods (`getNodeAttribs/getNodesAttribs/getAllNodesAttribs`) will use `get_site_attribute` to query site attribute,  and `get_site_attribute` try to see `%::XCATSITEVALS` first, and then query the DB.

As we know, when plugin running, `%::XCATSITEVALS` is cached in plugin process,  but not

[2018-08-20 02:14] robin2008 commented on #5534
There are still special cases for the `site` cache:
- 1, Service node booting:
- 2, `XCATBYPASS` mode to run plugin
- 3, Daemons: `SSL Listener`, `UDP listener`, `installer monitor`, etc

In this ticket,  we will cover the item 1, and leave the item 2 and 3 as previous.

For Service node booting,  the things are done in `init_plugin`, instead of a normal request.  Then currently there is no site c

[2018-08-20 02:17] robin2008 commented on #5534
@daniceexi @whowutwut @immarvin @zet809 Do you have any comments?

[2018-08-20 02:34] robin2008 commented on #5516
@marksmit-ibm

[2018-08-20 03:25] robin2008 commented on #5481
I think this is the root cause, the case does not prepare the environment well to run it,  and why using this `pok.stglabs.ibm.com` in case?

[code]

[2018-08-20 03:41] robin2008 commented on #5488
@thilo-maurer
I think you are using ubuntu for xCAT mn,  and the default `rsyslog` configuration is log to `/var/log/syslog`, instead of `/var/log/messages`.

For example,  in `/etc/rsyslog.d/50-default.conf`, you may find the below line
[code]
you can change it to `*.*;auth,authpriv.none         -/var/log/messages` and restart rsyslog by
`systemctl restart rsyslog`

After the it restated, check `

[2018-08-20 05:01] robin2008 commented on #5509
I think xcat can start a monitoring process in initrd too,  it can monitor the status of whole anaconda, and report messages for any error.

[2018-08-20 05:39] robin2008 opened #5536 "petitboot disjoint mode does not work during the service node booting"
By design, petitboot disjoint mode makes service nodes does not generate all petitboot/ks files for all nodes, but only for those compute nodes managed by this service node.

It can work with `nodeset` CLI, but unfortunately,  it does not work as expected when the service nodes reboot (`xcatd` started stage).

[2018-08-20 06:33] immarvin commented on #5517
hi @khm , the PR has been merged in PR https://github.com/xcat2/xcat-core/pull/5524

[2018-08-20 06:35] bybai commented on #5511
@jralbert Thanks for your pointing this enhancement, let me do unit test about it.

[2018-08-20 20:38] whowutwut opened #5540 "Create OpenBMC UT for ntpservers, it seems like it broke and we did not catch it..."
After 1742Ex-r5, at some point, the NTP servers setting does not stick in the firmware:

Setting:
[code]

Querying after 10 seconds:
[code]
Looking at the BMC data shows it blank:
[code]

I've opened a bug aginst the firmware, but can someone continue and create a UT case that would detect it....

[2018-08-20 20:40] whowutwut commented on #5540
Here's a start of it....

[code]

under stratton01 in our internal environment, f5u14 is running a good FW and f5u16 is running a broken FW.  UT for this testcase can be executed there to prove failure and success.

@hu-weihua Can you assign this to someone?

[2018-08-20 21:52] thilo-maurer commented on #5488
@hu-weihua
-  Yes, rsyslogd is running:
[code]
Here are the files [syslogs.tar.gz](https://github.com/xcat2/xcat-core/files/2304041/syslogs.tar.gz): (ignore everything before Aug 20 23:20:34)
[code]
syslog contains quite some discovery events:
[code]

This is the output of
[code]

@robin2008
Yes, I can see this line. I will try to change it to log to messages and see if xcatprobe then reads the di

[2018-08-20 22:19] thilo-maurer commented on #5488
@robin2008 Yes, with your suggested change to rsyslog config, `xcatprobe xcatmn` now shows discovery messages, ending in
[code]
Awesome progress!

In order to fix this, should
A. `xcatprobe xcatmn` also read from `/var/log/syslog*`
B. `rsyslog` write to `/var/log/messages`

I think A, since RHEL systems don't have `/var/log/messages` messages any longer?

[2018-08-21 02:06] robin2008 commented on #5488
For RHEL,  its rsyslog will default log into `/var/log/message`,  while it is `/var/log/syslog` in ubuntu.

In many releases before,  xCAT changed default `rsyslog` settings to make them all to `/var/log/message` both for RHEL and Ubuntu, and it causes some side impacts.

So xCAT now will not touch the default settings in `/etc/rsyslog.conf`, but the `xcatprobe` does not  change accordingly.

And

[2018-08-21 02:07] immarvin commented on #842
hi @neo954 , would you please take a look at this ticket when you work on rh8 support? thx

[2018-08-21 02:47] khm commented on #5517
Thanks for the fix on this issue.

[2018-08-21 02:47] #5517 closed

[2018-08-21 03:07] robin2008 commented on #5448
@cxhong   Could you help to take a look in this sprint?

[2018-08-21 03:14] hu-weihua opened #5541 "Pull request 5470 broken the copycds in sles already supported"
xcat version
[code]

Pull request #5470 broken the copycds in sles already supported

[code]

[2018-08-21 03:17] #2586 closed

[2018-08-21 06:14] hu-weihua commented on #5488
@thilo-maurer , I have opened a task to enhance ``xcatprobe discovery`` in xcat 2.14.4 development cycle. If you think the workaround offered by @robin2008 have fixed you problem, could you close this issue? Or if you want to wait for xCAT 2.14.4 release, verify the fix in 2.14.4 then close this issue, that is also ok. Thanks for your try against xcatprobe. Any further suggestion about xcatprobe a

[2018-08-21 06:38] robin2008 commented on #5458
@fsadoon Do we have any findings after you run `xcatd -f`.  It seems you hit some errors. While do you still see the those process for `xCATd SSL: Instance for [hostname]`

[2018-08-21 07:12] xuweibj commented on #5344
Want to verify "When displaying message The image file doesn't match this machine also display machines's model number" today, but I did find correct P8 machine.
Tried against P9 with ``mtm=9006-22C``, got msg below:
[code]
Hi @gurevichmark , if p9 is not supported for this scenario, could you help to verify it please?

[2018-08-21 07:30] robin2008 commented on #5541
code error, fix it with #5543

[2018-08-21 08:13] zet809 commented on #5313
Hi, @kcgthb , the goconserver [v0.3.1](https://github.com/xcat2/goconserver/releases/tag/v0.3.1) include the broadcast function, pls take a try and feel free to let us know the result. Thx!

[2018-08-21 09:03] #5528 closed

[2018-08-21 09:08] #5526 closed

[2018-08-21 09:08] #5525 closed

[2018-08-21 09:08] #5454 closed

[2018-08-21 09:08] #5510 closed

[2018-08-21 09:09] #5414 closed

[2018-08-21 09:12] bybai commented on #5299
this is fixed, so close it now.

[2018-08-21 09:12] #5299 closed

[2018-08-21 09:34] zet809 commented on #5436
hi, @kcgthb , in order not to mislead user that use 1 for console before, we can not change 1 to `goconserver` by default, but update the document to switch to goconserver, for more information, pls refer https://xcat-docs.readthedocs.io/en/latest/advanced/goconserver/quickstart.html
Thx!

[2018-08-21 09:48] hu-weihua commented on #5528
have been verified in xcat 2.14.3 RC1.

[2018-08-21 10:39] robin2008 commented on #5534
#5535 is to fix it

[2018-08-21 10:40] robin2008 commented on #5534
Need a test case for `hierarchicalattrs` feature.

[2018-08-21 11:13] thilo-maurer commented on #5488
Actually, no.
I think that `xcatprobe` watching `/var/log/messages` is actually the wrong way.

Here's why:

xCAT already comes with `rsyslog` config file `/etc/rsyslog.d/xcat-cluster.conf` to reroute xcat messages to `/var/log/xcat/cluster.log` which in turn would be picked up by `xcatprobe`:
[code]

Unfortunately `rsyslog` has issues writing those files, and that's why xcatprobe cannot pick them

[2018-08-21 12:15] thilo-maurer opened #5547 "Misconfigured goconserver systemctl service file"
xCAT mangement node shows following error message in journalctl:
[code]

This is because `After` is only allowed in section `[Unit]`.
This is the file:
[code]

This is what the file should contain:
[code]

[2018-08-21 12:26] thilo-maurer commented on #5547
Hm, already fixed in git:
https://github.com/xcat2/goconserver/blob/0c0d0cb9f399d3ff1c2c9dcb45e0fc923cc07d5c/etc/systemd/goconserver.service

Was working with old version 0.2.2-snap201803292224

Unfortunately
https://xcat.org/files/xcat/repos/apt/latest/xcat-dep/pool/main/g/goconserver/
only contains 0.2.2, not latest 0.3.1.

Which version of xcat will contain updates goconserver?

[2018-08-21 17:16] whowutwut opened #5548 "[OpenBMC] When BMC IP is DHCP, NTP servers cannot be set, by design, block command."
In this scenario, xCAT should prevent this from being set since it is user error and will cause admins to go down a path to try to understand why ntpservers cannot be specified.

Here's what happens:

[code]

After few seconds, querying shows None:
[code]

This is because, by design, openbmc does not set this if IPSRC is DHCP.

[code]

So I think xCAT should block the set of this value if IPSRC is

[2018-08-21 19:29] gurevichmark commented on #5344
@xuweibj I think the code is doing what it is supposed to do.

Since `9006-22C` is a valid model for BigData, we attempt to run `rflash`, for some reason `pUpdate` fails, but I think that is a different issue.

But to verify this issue, if you try to run it against node with `mtm=8335-GTA`, you will get expected error:
[code]

[2018-08-22 01:18] xuweibj commented on #5344
@gurevichmark I ever tried to against node with ``mtm=8335-GTA``, it worked well. But from your pr, there is another scenario as below:
[code]
I didn't find suitable machine to verify this.

[2018-08-22 01:51] robin2008 commented on #5488
@thilo-maurer   only the log tagged with `xcat` or `xcat.*` will be in `cluster.log`, `xcatprobe` might still needs other logs, like `dhcp` or `tftp`, and  those will not be in `cluster.log`.

[2018-08-22 06:01] hu-weihua commented on #5503
Have been verified in 20180821.0715 build.

[2018-08-22 06:01] #5503 closed

[2018-08-22 06:40] hu-weihua commented on #5500
@thilo-maurer , sorry to reply very later.

Long time ago,  script ``mlnxofed_ib_install.v2`` was developed as a ``postbootscript``, so the script restarts ``openibd`` after MLNX installation. Afterward, we thought ``mlnxofed_ib_install.v2`` as ``postscript`` is better, but did not moved the restart step out just because after test, it was harmless from function point of view in our original suppo

[2018-08-22 06:43] hu-weihua commented on #5499
@djmccoyibm, could you help to verify the fix in your environment? If it works, could you close this issue? thank you very much.

[2018-08-22 06:49] hu-weihua commented on #5516
@marksmit-ibm, Could you help to verify this fix and close this issue? If you need further help, could you move the milestone  of this issue to 2.14.4? thank you very much.

[2018-08-22 06:57] hu-weihua commented on #5436
@kcgthb, Could you help to close this issue if the fix work? thank you very much.

[2018-08-22 07:10] robin2008 commented on #5490
This is just a minor usability issue, we can easily to ignore such warn as we already know the risk. For example, to use below
[code]
to replace the origin one `use feature "switch";`

So we can treat it an issue, but just low priroity as now `XCATBYPASS` is only used for development purpose.

[2018-08-22 07:14] hu-weihua commented on #5395
@gurevichmark, Could you close this issue if there is no more issues? thank you very much.

[2018-08-22 07:18] zet809 commented on #5547
hi, @thilo-maurer , the latest 0.3.1 can be found at https://github.com/xcat2/goconserver/releases/tag/v0.3.1, it have included the fix about the configuration file. Pls take a try and let me know the result.

[2018-08-22 08:46] thilo-maurer commented on #5547
Would love to see it in the apt/yum repositories at https://xcat.org/files/xcat/repos/

[2018-08-22 08:46] #5547 closed

[2018-08-22 08:54] zet809 commented on #5547
hi, @thilo-maurer , it will be put to the repo you mentioned above this Friday that we will release xCAT 2.14.3.

[2018-08-22 12:47] djmccoyibm commented on #5499
@hu-weihua This situation came from a client and I have no xcat environment of this sort to verify with.   @whowutwut How can we complete a verification cycle for this?  Thanks.

[2018-08-22 13:49] #5395 closed

[2018-08-22 15:40] kcgthb commented on #5436
Absolutely! Closing this.

[2018-08-22 15:40] #5436 closed

[2018-08-22 15:50] whowutwut commented on #5499
I think a summary is needed here.  The direction taken by @zet809  is to first provide a quick fix of this issue in 2.14.3, via use of ENV variables.  I do think that we should open another issue to track a method to sync up the externals between Supermicro [pUpdate] and OpenBMC [REST] so that the `-a` option is exposed and we have a more consistent external between the two Power9 servers.

Or we

[2018-08-22 17:56] gurevichmark commented on #5344
@xuweibj Yea, I do not know how to cause that error to be displayed for real.
For the UT, I modified the code to force it through that path.

[2018-08-22 18:17] gurevichmark commented on #5499
Verified on `stratton01` Aug 22 build.
Works as expected.

[2018-08-22 21:46] thilo-maurer commented on #2629
I need the same thing!

One irritation:
[code]
Ok, which config files do I have to change? @wiede-man Which ones did you change?

[2018-08-23 06:50] zet809 commented on #5313
HI, @kcgthb , for the 1st question, after we investigate the broadcast function of https://github.com/dun/conman, it also output nothing. So, we just keep it.
For the 2nd issue, can you show me the output of `makegocons -q`?
Thx!

[2018-08-23 13:23] thilo-maurer opened #5550 "Feature Suggestion: site.httpinterfaces, site.nfsinterfaces, site.dnsinterfaces"
xCAT provides a simple way to restrict the interfaces on which DHCP is offered via `site.dhcpinterfaces` (https://xcat-docs.readthedocs.io/en/stable/guides/admin-guides/references/man5/site.5.html)

In some xCAT scenarios it may be required, that the xCAT master node is also used as the login node to the cluster. That means, that the master node has two interface types:
1. to the exterior or site

[2018-08-23 15:26] kcgthb commented on #5313
Hi @zet809
1. I see, and that's true. Still makes it a bit counter-intuitive, though. Maybe a note in the documentation would be helpful, to mention that no output will be displayed, but that one can use `wcons` in parallel to actually see what's happening on the consoles?
2. Sure
[code]
`sh-hn02.SUNet` is the FQDN of that SN (which is required for other reasons), but all xCAT references to this n

[2018-08-23 15:55] whowutwut opened #5551 "[SMC] Sync up externals for rflash on Power9 Servers"
Currently the implementation of flashing between Power9 (IPMI-based) and Power9 (OpenBMC-based) has different externals where the OpenBMC allows for specifying either BMC or HOST (PNOR) file to be flashed, and IPMI-based is relying on a directory structure where a pUpdate file with BMC and HOST files are present or not to control the behavior.

#5499 issue was resolved with environment variables (

[2018-08-23 15:56] #5499 closed

[2018-08-23 19:13] markprez opened #5552 "update_mlnx_adapter_firmware usage"
Add usage to update_mlnx_adapter_firmware postscript.
/install/postscripts/update_mlnx_adapter_firmware -h
runs the script and reports numerous messages/errors:
[root@csm03 postscripts]#  /install/postscripts/update_mlnx_adapter_firmware -h
basename: invalid option -- 'h'
Try 'basename --help' for more information.
==> Mellanox OFED PATH: -h
==> Mellanox ODEF ISO:
rm: cannot remove ‘//’: Is a dire

[2018-08-23 19:17] whowutwut commented on #5552
If we are making changes here, let's update the two mellanox postscripts that we ship:

[code]

to be `check_mlnx_adapter_firmware`

[2018-08-24 02:00] hu-weihua commented on #5516
@marksmit-ibm, I will close this issue first. If you get further question in the future, feel free to reopen it. thanks.

[2018-08-24 02:00] #5516 closed

[2018-08-24 08:36] robin2008 commented on #5536
cover the fix in #5553 , also for `xnba` and `grub2` plugin.

[2018-08-24 09:29] neo954 commented on #5313
Hello @kcgthb,

Unfortunately, I cannot reproduce your problem in my test environment. Based on your comments above, it seems you are facing DNS resolving problem. Can both the short hostnames and the FQDNs be resolved on all the nodes in your cluster? It seems that is the problem. Can you verify that in your environment?

[2018-08-24 10:18] robin2008 opened #5554 "[Performance] chdef has bad performance on large cluster"
With a 4k+ nodes hierarchy cluster, run
[code]

we got a very bad performance,  and with the postgresql DB query logs, we saw a lots of same DB query.

[2018-08-24 15:27] kcgthb commented on #5313
@neo954 thanks for looking into this. I'll double check the DNS config on our end, but I think the question is: why is `goconserver` trying to get the FQDN of the console servers instead of using the name that is provided in the `nodehm` table?

[2018-08-24 15:40] kcgthb commented on #5313
And I checked, and yes, both the SN/Console server's FQDN and short name can be properly resolved on both the CN itself, and the compute nodes:

[code]

And yet:
[code]

The `bash: sh-hn02: command not found` part especially makes me think that there's more than just DNS resolution at play here, it looks like an issue with the parsing of some command output, because that sure looks like the result

[2018-08-24 16:54] kcgthb commented on #5313
Also, I think you're discussing similar findings in https://github.com/xcat2/goconserver/issues/48 :)

[2018-08-24 21:06] whowutwut opened #5555 "[SMC] rflash providing a directory without `/` at the end does not work"
Passing a directory without an ending `/` causes `rflash` to not work:
[code]

Then finally
[code]

[2018-08-27 03:18] immarvin opened #5556 "rinv failed with "Magic number checking on storable file failed at /usr/lib64/perl5/vendor_perl/Storable.pm""
[code]

[2018-08-27 07:44] bybai opened #5558 "statelite provision failed in rhels7.6-alternate beta ppc64le P9"
1. xcat version:
[code]
2. debug from console:
[code]

[2018-08-27 08:43] immarvin commented on #5550
will take a look at this...

[2018-08-27 09:01] robin2008 commented on #5506
@bybai   Are there any constraints in xcat scripts when setting nictype=`Omnipath`

@dspatil7768 would you like to set `nictypes.ib0=Infiniband` and try again?

BTW,  it is suggest to use `confignetwork` to replace `confignics`.

[2018-08-27 09:13] bybai opened #5560 "ubuntu18.04.1 test cases failures"
xcat core : 2.14.4-snap201808240616
arch: ppc64le and x86_64

Failed test cases need to be enhanced for ubuntu OS.

Failed cases: reg_linux_diskless_installation_flat, packimage_m_cpio_c_gzip, packimage_m_cpio_c_pigz, packimage_m_cpio_c_xz, ubuntu_migration1_p8le, ubuntu_migration2_p8le,

Failed cases: reg_linux_diskless_installation_flat, packimage_m_cpio_c_gzip, packimage_m_cpio_c_pigz, packimag

[2018-08-27 09:17] #5556 closed

[2018-08-27 17:06] kcgthb opened #5561 "Restarting xcatd service on Service Node times out when regenerating initrds"
Having `netdrivers=allupdate` in an `osimage` apparently makes `xcatd` regenerate `initrd` images  when it starts. This is a lenghty operation, that makes the service restart time out:

[code]
[code]
[code]

This issue is related to #5497: `initrd` images seem to be silently re-generated very often, by many different processes. Right now, it looks like every other tool (`nodeset`, `rinstall`, star

[2018-08-28 02:34] immarvin commented on #5561
oh, seems `service xcatd restart` on SN will invoke `nodeset `
[code]

which will trigger the regeneration of initrd

hi @robin2008 , is it ok to increase the timeout value?

[2018-08-28 02:58] robin2008 commented on #5561
To increase timeout cannot solve the issue fully, as we don't know how long is enough, 5 min or 30 min?

@kcgthb how many nodes managed by one service nodes?  Do you consider to use `disjoint` mode?

And how long you take to start xcatd on service node now?

[2018-08-28 03:16] robin2008 commented on #5561
Not sure if we leverage `systemd-notify` to tell systemd the service is ready or not.

[2018-08-28 07:37] zet809 commented on #5313
hi, @kcgthb , the error msg below seems to me that the Management Node from which running rcons can not resolve `sh-hn02`, will you pls check that?
[code]

[2018-08-28 12:52] #5344 closed

[2018-08-28 13:27] whowutwut opened #5563 "rinstall goes and reboots the node even if there are missing attributes that cause failure, should block I think."
Need someone to take a look at this @zet809 , priority  is low.

Seems like when there is a missing tmpl file or incorrect tmpl file, the rinstall will kick off the install and then print the error message out...

[code]

At that point where the pause is, it does a reboot of the node. If there are issues, shouldn't we block the install process from starting?

@hu-weihua Would like to add some test

[2018-08-28 16:33] marksmit-ibm opened #5564 "restart goconserver after yum update to prevent > Unknown lvalue ‘After’ in section ‘Service’"
I noticed this problem on both Service nodes and Mgmt node after `yum update` to 2.14.3 which also updated goconserver.
On the other SN, I restarted the service and it seemed to fix it.

[root@sn02 ~]# lsxcatd -a
Version 2.14.3 (git commit 7b7d9ab67589afec1ba58cd5138154290c529c0e, built Tue Aug 21 07:16:00 EDT 2018)
This is a Service Node

[root@sn02 ~]# rcons cn12
Could not connect to cn12, error

[2018-08-28 17:35] kcgthb commented on #5561
@robin2008 each service node manages around 800 nodes. There are about 1,500 nodes in that cluster, with 1 MN and 2 SNs.

I'm not sure we can actually use `'disjoint` for DHCP servers, since all the SNs operate on the same Ethernet network. Plus we like the redundancy level that multiple SNs provide: using `disjoint` would prevent nodes from being deployed when a SN is down.

Starting the `xcatd`

[2018-08-28 17:37] kcgthb commented on #5313
@zet809 the Management Node from which the `rcons` command is called can perfectly resolve `sh-hn02`: it's in both DNS and `/etc/hosts`:

[code]

[2018-08-28 19:59] whowutwut opened #5565 "xcatprobe detect_dhcpd requires `tcpdump`, should install this by default"
In order to use `xcatprobe detect_dhcpd` , the `tcpdump` package must be installed, have a Required for this on xCAT to pull in the package on install to avoid this error.

[2018-08-29 01:56] bybai commented on #5560
Hi @neo954, diskless and packimage test cases are passed, migration test cases are still failed: ubuntu_migration1_p8le, ubuntu_migration2_p8le, thanks.

[2018-08-29 06:45] #5558 closed

[2018-08-29 07:33] immarvin commented on #5563
seems the `rinstall` filter the failed nodes on `nodeset` by the error message,
the error message
[code]
is not in the message filter

[2018-08-29 16:26] kcgthb commented on #5561
@robin2008 I see your point about having to generate the initrd during SN booting, indeed.

A `site` attribute would be a good idea yes.

Generating one initrd for a diskfull image with `osupdatename` and `netdrivers=allupdate` takes about 95 seconds:
[code]

[2018-08-30 05:42] robin2008 commented on #5564
The system unit file issue has been fixed in new goconserver package,
but `goconserver` package does not consider upgrade scriptlet to restart the daemon.

And it will be covered in https://github.com/xcat2/goconserver/issues/49

[2018-08-30 06:30] #5541 closed

[2018-08-30 09:00] bybai commented on #5555
Hi @whowutwut, I can not reproduce this issue, it works in stratton01.
[code]
From code, if there is no `pUpdate` utility in the directory, print this error message, so I think there is no `pUpdate` in the directory before.
[code]

[2018-08-30 10:01] zet809 commented on #5313
yes, @kcgthb , you are right the rcons doesn't work with hierarchical.
For nodes with same conserver, connect to the goconserver on it directly.
But for different conserver, we need to enhance current rcons and goconserver to support it. So, I will quickly fix the scenario that have same conserver.

[2018-08-30 10:42] neo954 commented on #5407
Verified against `xCAT-client-2.14.4-snap201808300932.noarch`.

[code]
[code]

[2018-08-30 10:43] neo954 commented on #5407
This issue was fixed. I will close this one.

[2018-08-30 10:43] #5407 closed

[2018-08-30 19:26] techie879 opened #5573 "renaming network interfaces from 'eno1' ( or something simillar ) to 'eth0'"
Hi,

in xcat, is there a magic option that I could enable that will allow me to keep the legacy 'ethX' names, instead of 'eno1' or something different than 'eth0'?

I am using xcat 2.14.2 , and below is the ifconfig output of a system that just built:

**eno1:** flags=4163<UP,BROADCAST,RUNNING,MULTICAST>  mtu 1500
        inet 10.1.100.157  netmask 255.255.0.0  broadcast 10.1.255.255
        inet6

[2018-08-30 19:39] techie879 opened #5575 "help with postbootscripts ( how - to )"
Hi,

I can't get my head wrapped up about how to do 'postbootscripts' in Xcat world.  I have an ansible hook that I want Xcat to run after the node is imaged and rebooted the first time after the initial image is done.  Where do I go about setting up 'postbootscript' to do that?

Currently I have the following postscripts defined for the group:

lsdef -l -t group -o compute75
Object name: compute7

[2018-08-30 19:52] gurevichmark opened #5576 "geninitrd generates an initrd.img of new size each time"
Something is strange with the `initrd.img` file generated by `geninitrd` or `nodeset`.

To recreate:
* Set osimage attribute `osupdatename=` to some string, for example `osupdatename=abc`
* Set osimage attribute `driverupdatesrc=` to some rpm path, for example `driverupdatesrc=/install/REPO/os/rhels/rhels7.5-alt-ga/ppc64le/Packages/zip-3.0-11.el7.ppc64le.rpm`
* Run `geninitrd` or `nodeset` command

[2018-08-31 04:22] marksmit-ibm opened #5577 "Documentation: cuda_power9_setup postinstall script as part of genimage postscript. netboot osimage"
https://xcat-docs.readthedocs.io/en/stable/advanced/gpu/nvidia/osimage/rhels.html#diskless-osimage

in the example, I see this line for creating a diskless image:
[code]
Since this is running during genimage, it is already in chroot.  Therefore I found it failed because it was trying to do a double chroot.  I found by modifying it to  not run in chroot, then the
postscript `cuda_power9_setup`  can

[2018-08-31 05:36] zet809 commented on #5577
Thx, @marksmit-ibm , we will update our document for this problem.

[2018-08-31 09:32] bybai opened #5581 "ramdisk based statelite failed in rhels7.6-alternate-ppc64le beta"
ramdisk based statelite failed in rhels7.6-alternate-ppc64le beta
[code]

[2018-08-31 10:02] immarvin commented on #5573
hi, you can do this, but it is not recommended.
From Redhat 7, the nic names become "persistent nic naming", like "eno1", to keep the nic name consistent across node reboots.  If you use "ethx", the nic name might change across node reboot("ethx"<->"ethy"), this will break something since "ethx" no longer denotes a specific nic. See https://access.redhat.com/documentation/en-us/red_hat_enterprise_

[2018-08-31 10:04] bybai opened #5584 "Package xCAT-genesis-scripts-*.noarch.rpm is not signed cause redhat migration case failure"
redhat_migration1 and redhat_migration2 are failed in autotest environment:
The log:
[code]

[2018-08-31 13:33] dspatil7768 commented on #5506
Tried with Centos7.4 and Centos7.5 using both `confignetwork` and  `confignics` and got IP for OPA but it is showing `status=failed`

I have defined above two parameters in `postscripts` not in `postbootscripts`

[code]

[code]

[2018-08-31 14:26] whowutwut commented on #5575
@techie879 Thank you for bringing up this issue! I have also been struggling with a more easier way for new users to understand at what point in time in the provisioning process, scripts are executed.

After looking at our documentation on prescripts/postscripts, it does seem there is some incorrect information there and after we resolve your problem, we will fix up the documentation based on the

[2018-08-31 15:14] whowutwut commented on #5584
@bybai Where did you get the files from `/root/xcat-dep` from?  Why is it not signed? Did we not use the build script to push a version of xcat-deps out?

[2018-08-31 15:17] whowutwut commented on #5573
Some more info on this:
https://en.wikipedia.org/wiki/Consistent_Network_Device_Naming

https://www.freedesktop.org/wiki/Software/systemd/PredictableNetworkInterfaceNames/

[2018-08-31 16:32] techie879 commented on #5575
hi Victor, thanks.

Can you guys at least tell me some detailed information about
postbootscripts?   I am working on a setup for a cluster right now. You can
update documentation later :-)

thanks

On Fri, Aug 31, 2018 at 7:26 AM Victor Hu <notifications@github.com> wrote:

--
Regards,
*Imam Toufique*
*213-700-5485*

[2018-08-31 17:27] techie879 commented on #5575
Hi Victor,

Thanks for the clarification.

If I set a postbootscript for a node, as you showed in your example above,
will this script run every time the node reboots? Or, is it just the first
time when the node reboots after the initial installation?

Also, instead of setting a script on a per-node basis ( as you showed with
your chdef <node> -p ... command ) , can this be setup on a group (?), s

[2018-09-03 00:54] robin2008 commented on #5506
@dspatil7768
Okay, we know the script has made the config file for ib0, but not what cause the status failed,  normally it means return code of some scripts  is non-zero.

As xcat deosn't have the same environment,  would you take a look at the `/var/log/xcat/xcat.log` on CN to see if any related error messages.

Or you can try an `chdef -t site xcatdebugmode=1` and provision it again, it will sho

[2018-09-03 02:45] immarvin commented on #5575
hi @techie879 @whowutwut , for diskful node, `postbootscript` will be execute during normal reboot  only when `site. runbootscripts` is "yes". The default value of this attribute is "no", which means that `postbootscript` will only be run during the 1st reboot after installation, will not be run during normal reboots then.
[code]

[2018-09-03 03:13] techie879 commented on #5575
Thank you, everyone,, who responded to help me.  I am getting close setting
this up.  I will keep you all posted as soon as I get a chance to test.

Thanks again!  You guys are all awesome! :-)

On Sun, Sep 2, 2018 at 7:45 PM yangsong <notifications@github.com> wrote:

--
Regards,
*Imam Toufique*
*213-700-5485*

[2018-09-03 05:28] dspatil7768 commented on #5506
@robin2008 as told, got by changing `nictypes.ib0=Omnipath` to `nictypes.ib0=Infiniband`

[code]

[code]

[2018-09-03 05:49] robin2008 commented on #5506
@dspatil7768
Good to know it. If the type name is the only issue,  maybe xcat can made some changes on the code for a compatible supporting.

@bybai, would you like to take a look?

[2018-09-03 06:17] bybai commented on #5506
@dspatil7768, I think `confignics` is duplicate with `confignetwork -s` here.  You can only use `confignetwork -s` to configure `installnic` and all other `nics` configured in `nics` table. `confignics` is deprecated.

[2018-09-03 06:48] bybai commented on #5584
Hi @whowutwut,  xCAT-genesis-scripts-ppc64-2.14.4-snap201808300932.noarch.rpm is coming from https://xcat.org/files/xcat/xcat-core/devel/Linux/core-snap/core-rpms-snap.tar.bz2. It is not coming from xcat-dep package. I got this failure results from automation environment which use new xcat-build framework. @hu-weihua is looking into this.

[2018-09-03 07:48] bybai commented on #5506
Hi @dspatil7768, I commit PR https://github.com/xcat2/xcat-core/pull/5587, could you have a try to verify it?

[2018-09-03 07:53] hu-weihua opened #5588 "Test case "sles_migration2" failed on sles12.3, sles12.2 and sles11.4, using xcat 20180830.0530 build"
xcat build : 20180830.0530 build

The part output of ``sles_migration2`` on sles12.3 are
[code]

[2018-09-03 08:34] xuweibj opened #5590 "rpm build failed on build xCAT-probe"
August 31st: *linux_rpm* build of branch `devel` ==> *FAILED*
    BUILD_MACHINE=`c910f04x33@xcat.build.server`
    BUILD_DIR=`/xcat/build/xcat2_autobuild_daily_builds/20180831.0615/linux_rpm

[code]

[2018-09-03 10:09] hu-weihua commented on #5590
@xuweibj , could you help to verify this fix? thanks

[2018-09-04 00:54] xuweibj commented on #5590
September 3rd: *linux_rpm* build of branch `devel` ==> *SUCCESS*
    BUILD_MACHINE=`c910f04x33@xcat.build.server`
    BUILD_DIR=`/xcat/build/xcat2_autobuild_daily_builds/20180903.0615/linux_rpm`

Daily build is success, close this issue.

[2018-09-04 00:54] #5590 closed

[2018-09-04 03:18] bybai opened #5593 "mkdef create osimage with wrong osvers and osdistroname on pegas OS"
mkdef create osimage with wrong osvers and osdistroname on pegas OS.
How to reproduce:
The correct values should be:
[code]
The wrong values now:
[code]

The work around:
[code]

[2018-09-04 06:33] xuweibj opened #5596 "OpenBMC testcase did not recover environment"
testcase:  rinv_wrongbmcpasswd
[code]

[2018-09-04 06:43] robin2008 commented on #5506
close it by confirm in PR,  re-open it if any issue

[2018-09-04 06:43] #5506 closed

[2018-09-04 07:46] hu-weihua opened #5598 "Some bugs of reventlog and rflash"
`rflash` has some bugs in below scenarios:

1  return 0 when handle wrong reventlog usage.

[code]

[code]

2 For rflash, print out confused information and return wrong return code

[code]
rflash has thrown out ``Deleting currently active BMC firmware is not supported``, but still print ``Attempting to delete ID=b04fff27, please wait...`` out at same time. It is confused.

The expected return cod

[2018-09-04 08:31] xuweibj commented on #5598
Manually run ``rflash --delete`` got output as below:
[code]
I do not know whether the order is not the same with automation.

[2018-09-04 09:07] #5511 closed

[2018-09-04 09:11] bybai commented on #5555
Hi @whowutwut, I think this is not bug, I can not reproduce this issue, it works in stratton01 based on above example. So I will close it. If needed, can reopen later.

[2018-09-04 09:11] #5555 closed

[2018-09-04 09:15] bybai commented on #5420
Hi @kcgthb, Could you have a try based on my last comments?

[2018-09-04 09:30] zrlhle commented on #5297
sorry for the late reply ... the notification emails got routed to the wrong inbox. here is the output from `lscatd -a` (just updated to 14.3 and had to apply the same fix as before)

`lsxcatd -a
Version 2.14.3 (git commit 7b7d9ab67589afec1ba58cd5138154290c529c0e, built Tue Aug 21 07:16:00 EDT 2018)
This is a Management Node
cfgloc=Pg:dbname=xcatdb;host=XXX|xcatadm
dbengine=Pg
dbname=xcatdb
dbhost

[2018-09-04 15:08] whowutwut commented on #2957
@robin2008 Can we provide some information as to why we decided to leave as a bug and not fix it?

[2018-09-04 23:35] kcgthb opened #5599 "OS and updates repos installed twice on diskful nodes"
Hi!

It looks like the YUM repositories for the OS and update packages are configured twice on diskful nodes:

Right after deployment, a node has the following yum repos configured:
[code]

It looks like the `local-repository-0.repo` repositories are generated by `/opt/xcat/lib/perl/xCAT/Template.pm`, while the `xCAT-centos7.5-path0` ones are generated by the `ospkgs` postscript.

Is there any rea

[2018-09-05 00:31] kcgthb opened #5600 "[RFE] add multiple baseurl in YUM repo in hierarchical mode"
Hi there,

YUM repository support multiple URLs in the `baseurl=` option (cf. https://linux.die.net/man/5/yum.conf)
This could be useful to provide an additional level of redundancy in hierarchical setups, when a service node is not available, for instance.

Based on a `site` option (say `yumrepoaddMN` for instance), the `ospkgs` and `otherpkgs` postscripts could generate `*.repo` files that look

[2018-09-05 01:52] robin2008 commented on #5448
@techie879   The issue is fixed in #5572 you can take a latest daily build which contains this commit for a try.

[2018-09-05 01:59] techie879 commented on #5448
Thank you so much!  I really appreciate it!

--imam

On Tue, Sep 4, 2018 at 6:52 PM Bin Xu <notifications@github.com> wrote:

--
Regards,
*Imam Toufique*
*213-700-5485*

[2018-09-05 02:10] robin2008 commented on #2957
chenglong/weihua did many investigations on it,  it is hard to reproduce in a real environment with admin operations.

The only seen place is that when we run it in scripts for thousands times in a short time, so we treat it as very low priority and the effort is large to find the cause and fix it.

And then for such issue which has no impact and effort is large, we decide not to fix it and go wit

[2018-09-05 03:37] techie879 commented on #5575
To be honest, I have not tried it yet.  But, I will , for sure .  I have
been flooded with other non xcat related issues lately.

I will definitely let you know how it went , very soon.

thanks again so much for all your help!

On Tue, Sep 4, 2018 at 7:21 PM Yuan Bai <notifications@github.com> wrote:

--
Regards,
*Imam Toufique*
*213-700-5485*

[2018-09-05 13:51] marksmit-ibm commented on #5577
Thank you for considering the doc change.
I would also like to understand the sequencing of postinstall scripts when run with genimage of type  provmethod=netboot.
I observe that during genimage <osimage>:
1. installs pkglist
2. installs otherpkglist
a. nvidia-kmod installs and $rootimgdir/boot/initramfs<version>.img is modified
3. runs -i postinstall  scripts
a. $rootimgdir/usr/lib/modprobe.d/nvi

[2018-09-06 07:00] hu-weihua opened #5604 "Extra `/` in `rootimgdir` of osimage definition will result in umount failed in `mlnxofed_ib_install.v2` script"
Extra `/` in `rootimgdir` of osimage definition will result in `umount` failed in `mlnxofed_ib_install.v2` script.

The related code of `mlnxofed_ib_install.v2`  are line 207:
[code]
If there is extra `/` in `rootimgdir` of osimage definition( i.e. $IMGROOTPATH) , ` if mount | grep -q "$IMGROOTPATH/tmp/ofed/mountpoint"; then` will failed.

For example:
[code]
Need enhance `` mount | grep -q "$IMGR

[2018-09-06 08:01] bybai commented on #5420
@kcgthb, thanks for your quick reply. As it just needs to set the configuration files for the next boot, and the status of the interface doesn't really matter, we will keep current  `confignetwork` changes for diskful postscripts just keep the same action with `confignics`.
I will close this issue, if any needed, we can re-open it later or open a new issue.

[2018-09-06 08:01] #5420 closed

[2018-09-06 09:17] xuweibj commented on #5584
https://github.ibm.com/xcat2/jenkins/pull/182

[2018-09-06 15:11] whowutwut commented on #5555
@bybai  Ok, I also cannot reproduce this right now.... very strange.

[2018-09-06 18:26] techie879 commented on #5575
no problem, thanks.

On Thu, Sep 6, 2018 at 2:21 AM Yuan Bai <notifications@github.com> wrote:

--
Regards,
*Imam Toufique*
*213-700-5485*

[2018-09-06 23:29] jbaksta opened #5610 "Stateless cpio images don't support Linux capabilities attributes"
From my initial research and using default archiving method in xCAT 2.14.3, our RHEL 7.4 x86_64 images seem to lose their Linux capabilities. The capabilities are there after `genimage`, but once the I run `packimage` and boot a node, the entire rootimg is missing Linux capabilities. Verified by getting taking a rootimg.cpio.gz based on RHEL 7.4, uncompressing and extracting the archive, then runn

[2018-09-07 02:55] robin2008 opened #5611 "Make provision syslog with more clear tag"
When provision compute nodes, xcat built-in scripts will send  the syslog to its `xcatmaster` so that wittout serial console we can still debug issue which is taken place there.

[code]
But as we know,  the `xcat.mypostscript` is also used by `updatenode`,  this will cause the mess when parsing large amount of logs.  And also, there are lots of script, just send the tag with `xcat` only

it would

[2018-09-07 02:56] hu-weihua opened #5612 "xcattest throw out "Use of uninitialized value $_ in pattern match (m//)...." error message during parse xcat-inventory test cases"
`xcattest` version  is ``xCAT-test-2.14.4-snap201809061017.noarch``.

When use `xcattest` to run `xcat-inventory` test cases, it will throw out a lot of error message like below:

[code]

[2018-09-07 03:13] #5575 closed

[2018-09-07 03:15] #5612 closed

[2018-09-07 03:29] bybai opened #5614 "copycds fail for sle15 iso"
copycds fail for sle15 iso, reproduce steps
1. copycds fail
[code]
2. the work around for above error:
[code]

[2018-09-07 03:33] bybai opened #5615 "copycds create osimage definition without arch for sle15 ppc64le"
copycds create osimage definition without arch for sle15 ppc64le
[code]

[2018-09-07 05:47] bybai opened #5616 "genimage failed for sle15"
`genimage` failed for sle15.
Sles12.3 and below version contain full packages in DVD1, but Sle15 have installer DVD1 and packages DVD1.
After `copycds SLE-15-Installer-DVD-x86_64-GM-DVD1.iso SLE-15-Packages-x86_64-GM-DVD1.iso`, `/install/sle15/x86_64/1` contains installer related packages, `/install/sle15/x86_64/2` contains product packages. `genimage` only  add `/install/sle15/x86_64/1` into Repo

[2018-09-07 06:25] hu-weihua opened #5617 "Option z of bmcdiscover was broken by PR5582"
xcat version :
[code]

The option `z` of `bmcdiscover` was broken by PR #5582.

The man page are

[code]

The original output was:
[code]

After PR #5582, it was changed to
[code]

[2018-09-07 07:58] robin2008 opened #5618 "It is hard to figure out what is the provision error when node status is failed."
During the provisioning, there are lots of error which might cause the node status be failed, and some of them does not even have a syslog or screen printing,  it is not clear for customer to figure out what's wrong.

Could we have an clear error message to show the failure together with setting the error status?  DB, log file, syslog or console could be the options.

[2018-09-07 09:11] robin2008 commented on #5561
@gurevichmark   Do you have time to take this ticket?

[2018-09-07 10:17] #5490 closed

[2018-09-07 10:17] #5565 closed

[2018-09-07 13:29] gurevichmark commented on #5561
@robin2008 Yes, I can take this issue, do we agree that what we want is to implement a site variable to turn on/off the `initrd` generation ?

[2018-09-07 13:34] whowutwut opened #5620 "[Feature] Request the ability to resend the findme packet to xCAT to update MTM/SN fields"
@zet809 I think you have implemented some changes to allow `bmcsetup` to be run outside of the genesis kernel and on the host.. .  is it possible to also update some of the fields in dodiscovery to be executed on the compute node as well that would update attributes of xCAT via SN/MN

I'm not 100% sure we want to update everything, would something overwrite some user defined fields? There's curren

[2018-09-07 15:20] jbaksta commented on #5610
@immarvin I'm glad to hear it's a known issue and am aware of how to change `packimage` to use tar as well, but there should be mention of it in the documentation at least. https://xcat-docs.readthedocs.io/en/stable/guides/admin-guides/manage_clusters/ppc64le/diskless/gen_image.html#pack-diskless-image mentions no such limitation of cpio format.

[2018-09-10 02:53] bybai commented on #5555
@whowutwut if we hit it again, we can reopen it.

[2018-09-10 05:37] hu-weihua commented on #5560
All have been verified in automation environment. close this issue

[2018-09-10 05:37] #5560 closed

[2018-09-10 05:38] #5534 closed

[2018-09-10 05:39] hu-weihua commented on #5584
has been verified in automation environment

[2018-09-10 05:39] #5584 closed

[2018-09-10 13:41] immarvin opened #5622 "include the info on which script fail in node status during node provision"
if postscript "otherkgs" failed, the node status can be sth like `status="failed(otherkgs=127)"`

[2018-09-10 21:19] gurevichmark commented on #5497
Does anyone know why we need to run `nodeset` each time `xcatd` is restarted on SN ?

[2018-09-11 02:47] robin2008 opened #5624 "[Feature] Support extra online repo for diskful provision"

[2018-09-11 06:14] bybai opened #5626 "ospkgs fail to find zypper on sle15"
I use `ospkgs` to install packages from `pkglist`, but `ospkgs` fail to find zypper on sle15
Reproduce steps:
[code]

[2018-09-11 08:34] robin2008 commented on #5617
Fixed it in #5619

[2018-09-11 19:11] whowutwut opened #5627 "[OpenBMC] Options may not all work between Perl and Python framework"
All the options for the OpenBMC command should be run against both Perl and Python in an automated testing framework for UT.    I  think the dev should be responsible for creating simple tests for this.. (FYI @hu-weihua )

Here's an example of what we found today when I asked someone to check if they are running the "Python Framework" using the command:
[code]

It failed....  and I re-created it b

[2018-09-11 19:28] gurevichmark commented on #5627
It seems in Perl processing of the options (in `openbmc.pm`) we insist that `-V` be the last parameter:
[code]

[2018-09-12 02:49] robin2008 commented on #5611
@bybai  Let's take a look to see if we can finish some task in 2.14.4

[2018-09-12 02:51] whowutwut commented on #5627
If that is the case as seems like it is on the man page, we probably need the same behavior on Python...  this just goes to show some UT cases that will ensure that we are consistently implementing the function between Python and Perl.

[2018-09-12 03:10] rashmjain commented on #4876
I am hitting this problem on about 3 to 4 systems They are Cisco UCS M5.

How do I get out of this situation?
If it a Hardware issue  I need to be able to report this to  the proper stakeholder.

Please guide

[2018-09-12 03:11] robin2008 commented on #5627
@xuweibj    This is introduce in #3496 why this needs to be the last one?  It should be a bug.  I didn't see any limitation for other commands with `-V`

[2018-09-12 05:28] xuweibj commented on #5627
Actually it's our design to just allow ``-V`` to be the last one parameter in perl. In perl we just deal with options based it's order in array, if not set the limitation, we need to find it out from the whole options array and delete it from array to deal with other options. We need to check ``-V`` for command ``rinv``, ``rflash``, so could not deal with it as other commands.

If want to make it

[2018-09-12 06:32] robin2008 commented on #5627
It is hard for me to understand this limitation,

And all commands need to check `-V|--verbose` and set the flag, not only for `rinv` and `rflash`. But you can do nothing with `-V` as that plugin has nothing special print with it.

[2018-09-12 10:15] zrlhle commented on #5297
The other two commands you were looking for
`rpm -qa |grep -i inet6
perl-Net-INET6Glue-0.5-3.el7.noarch
perl-IO-Socket-INET6-2.69-5.el7.noarch`
... and ...
`XCATBYPASS=1 rpower zhcc001 status
Can't call method "sockopt" on an undefined value at /opt/xcat/lib/perl/xCAT/IPMI.pm line 212, <$sysctl> line 1.`

[2018-09-13 03:39] bybai opened #5630 "sle15 diskful deployment status is postbooting"
sle15 diskful deployment status is postbooting, how to reproduce:
1. after deploying sle15 diskful compute node, the status is postbooting
[code]
2, from compute node xcat.log
[code]

[2018-09-14 04:18] samveen commented on #5297
@zrlhle please confirm that all the IPMI fields are set correctly with:

[code]

[2018-09-17 02:36] robin2008 opened #5633 "xcatprobe xcatmn cannot find the issue when tftp does not work"
xcat rely on itself tftpd for provisioning,  if user started system built-in tftpd,  it will cause xcat provisioning cannot work. xcatprobe should check for such case,  and there is an plugin for it,  but looks like it does not work as expected.

Follow below steps to recreate the issue:
[code]

[code]

And check the MN, not found any warning or error:
[code]
But tftp will not work any more:
[code

[2018-09-17 02:38] robin2008 commented on #5633
It should check the error case, and give reasonable suggestion on how to fix it.

[2018-09-17 03:03] zet809 commented on #5620
hi, @whowutwut , for the 1st requirement that `is it possible to also update some of the fields in dodiscovery to be executed on the compute node`, the PR https://github.com/xcat2/xcat-core/pull/5371/files made by @xuweibj can update some of the attributes with `updatenode <CN> -P getinv`, but no MTM, serial number.
For normal discovery process, the node hardware information can be updated correct

[2018-09-17 08:08] tingtli opened #5635 "[FVT]postscript otherpkgs failed for serivce node setup"
xCAT 2.14.4

When service node is setting up, the status is failed. And found otherpkgs failed.
[code]

And the log is
[code]

[2018-09-18 05:50] tingtli commented on #5635
Verified by automation test environment.

[2018-09-18 05:50] #5635 closed

[2018-09-18 12:14] zet809 commented on #5561
Regenerate the os deployment related data in non-shared storage mode, maybe to cover the case that SN is broken.

[2018-09-18 15:00] gurevichmark commented on #5497
I think this issue can be closed. A `site` table attribute will be added to control initrd regeneration using #5561

[2018-09-18 15:28] gurevichmark commented on #5398
@tingtli Do we still need to keep this issue open ?

[2018-09-18 15:54] gurevichmark commented on #4948
Ok, I agree. Lets not get too fancy.

[2018-09-18 15:54] #4948 closed

[2018-09-19 02:09] robin2008 commented on #5627
@xuweibj I think we need to update the UT cases for paring `-V`

@hu-weihua  Please finalize the rules for UT cases after we discussion and broadcast to the whole team, we need the `xcattest` to easily query and run UT cases, and every DEV could build/modify their UT or FVT cases after all possible changes.

[2018-09-19 02:18] robin2008 commented on #4948
I think some opensource CLI frameworks could support such fancy feature, we can revisit it when build new CLIs.

[2018-09-19 04:57] robin2008 opened #5640 "genimage failure might cause /proc umounted"
It could be recreated easily with below steps:
1,  create a diskless osimage,  or use an existing one
2, make sure the path of `rootimgdir` does not exist
3, run `genimage --onlyinitrd <osimage>`
4, check the /proc

[code]

[2018-09-19 05:11] robin2008 commented on #5640
@immarvin
Could you help to take a look first?
The impact is very serious as the node have to be rebooted by BMC.

[2018-09-19 07:36] tingtli opened #5641 "[FVT]lsdef -t group could not display long format attribute."
xCAT 2.14.4
[code]

[2018-09-19 08:54] xuweibj commented on #5617
Verified in automation env. Close it.

[2018-09-19 08:54] #5617 closed

[2018-09-19 18:40] kcgthb opened #5644 "./otherpkgs: line 931: /usr/bin/logger: Argument list too long"
The `otherpkgs` postscript sometimes generates an error when too many arguments are passed to `logger`:
https://github.com/xcat2/xcat-core/blob/4164dd2dc9501fa0b17f6f812bbec7b6118e707a/xCAT/postscripts/otherpkgs#L931

The generated error looks like this in `/var/log/xcat/xcat.log`
[code]

[2018-09-20 01:54] robin2008 commented on #5630
@bybai   As the code is merged, Could we setup a autotest in Jenkins-dev? (sles12.3 MN -> sles15 CN)

[2018-09-20 09:09] bybai commented on #5630
Hi @robin2008, I can run xcattest in my environment to test it directly. But SLE15 needs installer ISO and Package ISO, current test case reg_linux_diskfull_installation_flat does not support such situation. And, the MN is sles12.3, CN is sle15, MN OS is different from CN MN, Need test case enhancements and Jenkins-dev xcattest configure file enhancements. Then we can run such test case.

[2018-09-20 15:59] Obihoernchen opened #5649 "makedhcp misleading error message"
If you do net set `xcatmaster` for your <node> and the node is in a remote network which isn't directly attached to the xCAT server the following error is shown:

[code]
This is misleading because `tftpserver` was set for all networks.
The real issue was the missing `xcatmaster` attribute.

The following code throws this error:
https://github.com/xcat2/xcat-core/blob/master/xCAT-server/lib/xcat/pl

[2018-09-21 02:19] tingtli opened #5650 "[FVT]:remove some warning message in xcatd status"
xCAT 2.14.4 on X system
[code]
start and stop xcatd and get some unwanted warning message
[code]

[2018-09-21 06:18] zet809 commented on #5649
I have modify the warning message as `Unable to determine the tftpserver for <mynode>, please makesure "xcatmaster" is set correctly` in PR https://github.com/xcat2/xcat-core/pull/5651

[2018-09-21 07:05] robin2008 opened #5652 "[Performance] `lsdef -w` has very bad performance"
On a 5000+ nodes cluster,  it takes long time to finish a query, this is too bad.
[code]

[2018-09-21 07:38] zet809 commented on #4652
Maybe the firmware is too old:
[code]

[2018-09-21 07:49] Obihoernchen commented on #5649
cool thanks (Y)

[2018-09-21 14:36] cxhong commented on #5252
working on this issue.  I think syncfile is failed during the node deployment even for non-hierarchical cluster.   something relate to openssl.
[code]
updatenode worked file.

[2018-09-21 15:16] gurevichmark opened #5655 "Syntax error running groupfiles4dsh"
The groupfiles4dsh command is mentioned in the man page for xdsh, but running this command produces a syntax error.

[code]

[2018-09-21 15:26] gurevichmark opened #5656 "BMC becomes unreachable after several provision requests."
User reports in #hcp_xcat:

_Anyone has issues with openbmc (P9) and `rsetboot <node> net`? It works fine a couple of times and then after using it to often (5-10 times) BMC does not respond anymore (no ping, nothing).
I don't know whether the BMC hangs, lost the network config or sth else.
We experienced this behaviour 3 times in a row now on 3 different BMCs._

Basically:

[code]

And this works

[2018-09-21 15:30] Obihoernchen commented on #5656
btw we use the stock perl openbmc implementation and xCAT 2.14.3.

[2018-09-21 15:39] gurevichmark commented on #5656
I have experienced perhaps something similar with `f5u16` yesterday afternoon. After doing 7 or 8 `rinstalls`, the BMC was pingable but I could not `ssh` to it or issue commands to it:

[code]

After about 24 hours, BMC was accessible again.

[2018-09-21 16:55] Obihoernchen commented on #5656
fyi: after a power reseat the BMC is reachable again.

[2018-09-24 03:27] techie879 opened #5658 "xcat system backup and upgrade question"
Hi,

I need to start backing up our xcat system, as we have slowly started to use it in production.  What are the recommended methods of a backup xcat database?  How about restoring the system?

Also, what is the best process of upgrading xcat versions?  is there an in-place upgrade tool?  Does it make backup copies of critical files/databases before the upgrade?

this is the first time I had to d

[2018-09-24 13:32] gurevichmark commented on #5658
Have you checked `dumpxCATdb` and `restorexCATdb` to do the backup ?

For installation and upgrade there is a `go-xcat` script, which can be found here:
http://xcat.org//download.html

[2018-09-24 15:17] whowutwut commented on #5656
@Obihoernchen  Can you show the firmware level on the box?  `rinv <node> firm`

[2018-09-24 16:47] Obihoernchen commented on #5656
@whowutwut
[code]

[2018-09-24 17:38] whowutwut commented on #5656
FW team thinks this is a side effect of the Broadcom NCSI bug on the shared port.  Work around is to ipmi power on the node .. I'm not sure with what command.  Trying to get more information

[2018-09-24 18:05] Obihoernchen commented on #5656
I'm kinda sure `rsetboot <node> net` is causing the issue and not `rpower`.
Every time this occurred `rsetboot` hang and I wasn't even able to run `rpower` iirc.

[2018-09-24 18:30] cxhong commented on #5252
manually ran `/xcatpost/startsyncfiles.awk -v RCP=/usr/bin/rsync` on the compute node, it failed because it couldn't find syncfile
[code]
right, there are no `/var/xcat/syncfiles` dir in the MN or SN, that is the default syncfile dir.   The osimage defined syncfile list at
[code]
why add default syncfile dir in the front of synlists dir ?

[2018-09-24 20:51] cxhong commented on #5252
ok, figured out above issue.

Before provision the compute node,  syncfile needs to be available on the service node, the command `updatenode compute_group_name -f` will push the the syncfile to the service node.
@kcgthb , can u check if syncfile available on the service node?  the default location starts /var/xcat/syncfiles/..... ,   the location can be changed via site attribute `SNsyncfiledir`

[2018-09-24 20:54] gurevichmark commented on #5656
I was able to recreate this on `f5u16` again today. After about 10 reprovisions BMC is not responding to setting the `control/host0/boot/one_time/attr/BootSource` source REST API:

[code]

[2018-09-24 21:03] gurevichmark opened #5660 "rpower bmcreboot misses returned error from REST API"
When running `rpower bmcreboot` an error from REST API appears to be ignored. This happens when BMC is in strange state described by #5656

Without debug on, it appears everything is fine:

[code]

But with debug turned on we can see that BMC is not reachable:

[code]

[2018-09-24 21:04] cxhong opened #5661 "Updatenode -f didn't work if servicenode attribute is ip address for compute node definition"
I defined servicenode attributes as ip address instead of hostname
[code]
the `updatenode` command failed:
[code]
looking the code,  `updatenode -f` calls `pping` and `pping` seems only accept the hostname not ip address
[code]

[2018-09-24 21:09] gurevichmark commented on #5656
Strange, if I run the command directly, it appears to work:
[code]

[2018-09-24 21:13] gurevichmark commented on #5661
Yes, I saw something like this before with `lstree` command. I think we only support SN defined with names, not IP addresses: https://github.com/xcat2/xcat-core/issues/3230#issuecomment-306967476

[2018-09-25 01:04] xuweibj commented on #5660
Hi @gurevichmark , we did not return error because sometime BMC start to do reset before return msg to us (we got timeout error), and we never met that it did not reset before. If we encounter that it not return msg and not reset now, we should enhance it to make sure what scenario it is.

[2018-09-25 01:14] oohal opened #5662 "Are we extreme, eXtreme, or Extreme?"
The documentation seems to inconsistently refer to xCAT as:

1. extreme Cluster Management Tool
2. Extreme Cluster Management Tool
3. eXtreme Cluster Management Tool

Personally I think 2. is the sensible option since it fits with the xCAT abbreviation by having a lower case x. However, the sensible option is rarely the extreme option so maybe that is inconsistent with the goals of the project ove

[2018-09-25 01:45] bybai commented on #5658
Hi @techie879,

Have you checked doc `Backup and Restore xCAT`: https://xcat-docs.readthedocs.io/en/latest/guides/install-guides/maintenance/backup_restore_xcat.html?highlight=backup

[2018-09-25 03:13] techie879 commented on #5658
thanks, I had no idea this existed.

On Mon, Sep 24, 2018 at 6:45 PM Yuan Bai <notifications@github.com> wrote:

--
Regards,
*Imam Toufique*
*213-700-5485*

[2018-09-25 13:42] cxhong commented on #5252
@kcgthb , No, `rinstall` and `nodeset` didn't take care of this `for now`.  I think we should do that.  That's very easy  to forget.   I didn't run `updatenode compute -f` command while I was debugging this issue.  Took me days to figure out this :(

[2018-09-25 15:31] kcgthb commented on #5252
Ah yes, in that case, that's an issue. I always assumes that this was the case.

[2018-09-25 15:59] cxhong commented on #5661
from pping man page,  it only take noderange, not ip address. so that's working as design.

[2018-09-25 16:02] cxhong commented on #5661
The definition of `servicenode`
[code]
but xCAT will not block if user set servicenode as ip address

[2018-09-25 16:08] kcgthb opened #5663 "prescripts not inherited when set site.hierarchicalattrs"
Hi!

It looks like listing `prescripts` in `site.hierarchicalattrs` doesn't work as expected: prescripts are not inherited.

For instance, we add `prescripts` to `site.hierarchicalattrs`
[code]

`sh-101-60` is a node that is a member of 2 groups: `srv` and `compute`
[code]

The prescripts for those 2 groups are as follows:
[code]

Yes, `sh-101-60`'s prescripts  are only taken from the `compute` gr

[2018-09-25 16:43] Obihoernchen opened #5665 "networks.mgtifname remote documentation wrong?"
think the documentation for `networks.mgtifname` is wrong.
`!remote!<nicname>` doesn't work for me, `!remote!` does. See below:

[code]

[2018-09-25 19:51] cxhong commented on #5663
I think something to do with node attribute name `prescripts-begin` / `prescripts-end`, and table name is `prescripts`.  will look into this

[2018-09-26 01:45] robin2008 commented on #5661
@cxhong   Any special consideration for setting an IP address?  if not,  better to follow the document to set the name instead.

[2018-09-26 02:45] robin2008 commented on #5509
But how could anaconda think this is a failure disk and then xcat get the information from anaconda?

[2018-09-26 02:49] #5658 closed

[2018-09-26 03:12] robin2008 commented on #5644
The log message size exceed the limitation as it contains the full yum command output.
Perhaps we can split the log into two parts for yum/zypper/apt installation result:
- Using ERROR/INFO to log the result of packages installation, including command line
- Using DEBUG to log detail results,  we can leverage PIPE to split the large message into single line messages

For the detail results,  it is

[2018-09-26 07:54] Obihoernchen commented on #5649
#5651 merged

[2018-09-26 07:54] #5649 closed

[2018-09-26 13:21] gurevichmark commented on #5656
Not sure why `f5u16` was behaving that way, but I no longer think it is related to the original reported issue. I just ran 35 `rinstall` commands overnight and they all appear to be successful.

@Obihoernchen Can you recreate this at will ? What are the steps to recreate ?

[2018-09-26 14:03] cxhong commented on #5663
@robin2008 , can u take look this?

[2018-09-26 14:22] gurevichmark commented on #5662
@oohal Where in the docs did you see 3 references ?

I did a doc search on all 3 and got no hits.

[2018-09-26 16:16] Obihoernchen commented on #4324
I just hit this issue.
[code]
Two nodes have an active firewall and pping fails. I really think the new behaviour (`--unpriviliged`) is worse than before. It's called p*ping*, not port scan ;-)

Because of this `xdsh -v`, `updatenode` etc. fails.

Furthermore, `-SP` is deprecated. The new option is called: `-sn`

[2018-09-26 19:53] cxhong commented on #5661
I don't have special consideration,  just in case if user use ip address instead of hostname to define servicenode, that will cause issue and error message didn't mention ip address is invalid

[2018-09-26 20:55] cxhong commented on #5652
I created 5000 nodes,  I ran same command, took less time
[code]

[2018-09-26 21:06] #5655 closed

[2018-09-27 01:10] bybai commented on #5665
@Obihoernchen, thanks your quick response.

[2018-09-27 03:59] oohal commented on #5662
@gurevichmark you make a good point. In my extreme confusion I forgot that the tool is called `xCAT` and not `xCMT`. Searching for the correct string helps:

[code]

[2018-09-27 05:53] robin2008 commented on #4324
This is mentioned in https://github.com/xcat2/xcat-core/commit/fb02c18853dd2004ed936c77afabd310d7f115dd

But it seems it will introduce `noping` on the target node which is enabled firewall. As from `nmap` manual

we can see that `nmap` only send TCP to ports 80 and 443 to target nodes with unprivileged user. With `tcpdump`, we can also see the difference:
[code]
But without `--unprivileged`, only

[2018-09-27 06:27] robin2008 commented on #4324
In addition, xcat could let you customized nmap options in `site.nmapoptions`, but this is used for all nmap cases, there would be side impact for other commands.

[2018-09-27 09:00] Obihoernchen commented on #4324
Checking port 22 sounds better :+1:

A quick search shows the following files use `nmap -PE` with `nmapoptions`.
[code]
It seems to be kinda inconsistent. I think a small nmap wrapper library would be a good idea to keep everything consistent across the board.

[2018-09-27 12:51] Obihoernchen commented on #5656
@gurevichmark usally just rsetboot and rpower. Yesterday I tried to recreate it and failed :-/
I'll try more...

[2018-09-27 16:03] kcgthb commented on #5663
@robin2008 Aaah, good finding!
I can confirm that using `begin` in `hierachicalattrs` works.

Thanks!

[2018-09-27 17:02] talandt opened #5673 "after syscloning image, booting to image fails and boots to shell"
mn= centos7, node = centos7
following documents for sysclon, sysimaging on xcat-read-the-docs what looked to be a successful syclone failed.
after nodesetting the node to the correct image and netbooting the node boots to a shell prompt
PING ATTEMPT 1:
PING mgt.cluster (172.20.0.1) 56(84) bytes of data.
64 bytes from mgt.cluster (172.20.0.1): icmp_seq=1 ttl=64 time=0.125 ms

--- mgt.cluster ping s

[2018-09-27 17:16] talandt commented on #5673
xcat version = 2.14.1

[2018-09-27 18:19] cxhong commented on #5622
we can get error message from /var/log/xcat/computes.log if failed to process postscripts
[code]

[2018-09-28 02:47] hu-weihua commented on #5673
@talandt, Thanks for using `sysclone`. `sysclone` was developed few years ago, its framework can be used for different node, but need to specific coding for specific scenario. All supported scenario are listed  [here](http://xcat-docs.readthedocs.io/en/latest/advanced/sysclone/sysclone.html#list-of-supported-arch-and-os)  and all development environments based on physical machine, NOT support virt

[2018-09-28 13:44] talandt commented on #5673
]# rpm -aq |grep -i xcat-genesis-base
xCAT-genesis-base-x86_64-2.14.1.lenovo1-1.noarch

# rpm -ql `rpm -aq |grep -i xcat-genesis-base-ppc64` | grep -i rsync
rpm: no arguments given for query

sh-4.2# export
export BOOTIF="b4:96:91:14:03:c6"
export DEBUG_MEM_LEVEL="0"
export DEVICE="eth0"
export DRACUT_QUIET="yes"
export HOME="/"
export NEWROOT="/sysroot"
export NICSTOBRINGUP=" eth1"
export OLDPWD

[2018-09-28 14:41] talandt commented on #5673
The above export output was when I was in nodeconsole session
The following is from ssh session:
[xCAT Genesis running on n1 /]# export
declare -x HOME="/"
declare -x LOGNAME="root"
declare -x MAIL="/var/mail/root"
declare -x OLDPWD
declare -x PATH="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin"
declare -x PWD="/"
declare -x SHELL="/bin/bash"
declare -x SHLVL="1"
declare -x SSH_CLIENT="172.20.

[2018-09-28 16:12] talandt commented on #5673
what is more interesting is that if I attempt to install the node with my original diskfull images that was created from copycds, it fails the same way. seems the xcat mn is messed up and the installs are trying to access the xcat mn as if it was a systemimager. Is there a way to shut this off on the mn so I can get back to normal?

[2018-09-30 01:54] hu-weihua commented on #5673
hi @talandt,

* It is strange for your information. First section you grep out x86_64 version genesis, but second section you operated a ppc64 version genesis.  Could you tell me which arch you are using now?
[code]

* `sysclone` and `normal installation` are two separate systems, they won't affect each other. Could you paste the **node** and the **osimage** definition you are using for normal dis

[2018-09-30 02:04] hu-weihua commented on #5673
I noticed something you pasted in mail list, It seems `nodeset` failed to switch osimage before you do diskful installation. could you try `rinstall n1 osimage=centos7.4-x86_64-install-compute-nvidia` for normal diskful isntallation? After running this command, check if the `provmethod` of `n1` has switched to `centos7.4-x86_64-install-compute-nvidia`?

[code]

[2018-10-01 00:29] robin2008 commented on #5673
@talandt
It seems you are not using the xcat shipped genesis base package, but `xCAT-genesis-base-x86_64-2.14.1.lenovo1-1.noarch`

so you need to run `rpm -ql xCAT-genesis-base-x86_64-2.14.1.lenovo1-1.noarch` to get the contents,  I think the key is no `rsync` in this package,  you may need to get a new one from who delivery it to you.

[2018-10-01 11:46] talandt commented on #5673
Sorry, I was just following direction of the xCAT support and didn’t realize they asked for ppc64 grep until after I send the requested results. I am using x86_64

From: Weihua Hu <notifications@github.com>
Sent: Saturday, September 29, 2018 9:55 PM
To: xcat2/xcat-core <xcat-core@noreply.github.com>
Cc: Thomas Alandt <talandt@lenovo.com>; Mention <mention@noreply.github.com>
Subject: [External] Re

[2018-10-01 12:21] talandt commented on #5673
[root@e13502 ~]# rinstall n1 osimage=centos7.4-x86_64-install-compute-nvidia
Provision node(s): n1
[root@e13502 ~]# lsdef n1|grep provmethod
    provmethod=centos7.4-x86_64-install-compute-nvidia

[2018-10-01 12:21] talandt commented on #5673
[root@e13502 ~]# rinstall n1 osimage=centos7.4-x86_64-install-compute-nvidia
Provision node(s): n1
[root@e13502 ~]# lsdef n1|grep provmethod
    provmethod=centos7.4-x86_64-install-compute-nvidia

[2018-10-01 12:45] talandt commented on #5673
Ever since I tried syscclone, the node now fails the original diskfull insall. Here are the latest results.

 #rinstall n1 osimage=centos7.4-x86_64-install-compute-nvidia
 # lsdef n1 |grep provmethod
    provmethod=centos7.4-x86_64-install-compute-nvidia
#rsetboot n1 net
 #rpower n1 reset

Results of n1 installing:
[xCAT Genesis running on n1 /]#

[2018-10-01 17:20] kcgthb commented on #5663
I just realized that, although the trick above "works" in that it lets nodes inherit prescripts from relevant groups, it doesn't quite work with the "action:script" syntax.

For instance:
[code]
[code]
The `prescript-begin` for node `cn` should instead be `all.sh|osimage:a.sh,b.sh`, shouldn't it?

[2018-10-01 18:02] cxhong commented on #5252
right now, you have to run the `updatenode` command before provision the compute node.

Anyway,  you can try to modify the site table to change location of syncfile (It seems worked for me when I tested this issue).
[code]
assume MN and SN share / dir.

"SNsyncfiledir","/var/xcat/syncfiles",,
"nodesyncfiledir","/var/xcat/node/syncfiles",,

[2018-10-01 18:05] kcgthb opened #5676 "prescript actions don't seem to be working as documented"
Hi,

I have a prescripts table that looks like this:
[code]

A compute node (`cn`) that uses `sn` as a service node:
[code]

According to the `prescripts` [documentation](https://xcat-docs.readthedocs.io/en/stable/guides/admin-guides/references/man5/prescripts.5.html), I'm expecting to see:
* `nodeset cn osimage` to execute both `all_pre.sh` and `osimage_pre.sh` scripts
* `nodeset cn boot` to exec

[2018-10-01 18:15] kcgthb commented on #5252
Hi @cxhong
Thanks for the suggestion. But would that work when sync'ing different files to different node groups?

For instance if the same file with different contents is synchronized to separate node groups, like this:
[code]
how will that work? Won't the file be overwritten in `SNsyncfiledir`/`nodesynfiledir` and the wrong contents possibly copied to the destination nodes?

[2018-10-01 18:35] kcgthb commented on #5252
All right, thanks for looking into it!

[2018-10-01 20:48] cxhong commented on #5252
@kcgthb ,  sorry, my fault.
nodesyncfiledir is only created on the compute node when syncfiles has `APPEND` and `MERGE`,  so don't need to change `nodesyncfiledir` attribute for site table. leave it as default or set to `"nodesyncfiledir","/var/xcat/node/syncfiles",,`
if change `SNsyncfiledir` to `/`,  the syncfiles has to be in the `/install or /tftpboot` dir,  because only those two dirs are sha

[2018-10-01 21:08] cxhong commented on #5663
the logic in the code is only `append` the value from inherit attribute.

[2018-10-02 23:19] kcgthb opened #5677 "`xcatprobe xcatmn` erroneously reports failures in hierarchical mode"
`xcatprobe xcatmn` reports errors on SNs in hierarchical mode, even though the tests are successful. Basically, all tests on SNs are marked as failed.

See the full output below:

[code]

Also, the following two errors:
* `installdir '/install' isn't mounted from the management node`
* `installdir '/tftpdir' isn't mounted from the management node`

are marked as FAIL, although making those directo

[2018-10-02 23:31] kcgthb opened #5678 "xcatprobe xcatmn tests NTP with ntpq instead of chrony"
Even when `chrony` is used by `setupntp`, the `xcatprobe xcatmn` tests still check NTP status by running `ntpq -p`, which fails.

The test should probably be updated to use `chrony` when it's used in place of `ntpd`.

[2018-10-03 00:12] kcgthb commented on #5252
Ok, thanks for the suggestions.
So I've tried to run `updatenode cn -f` before `rinstall`, but I always have cases where the `syncfiles` postscript silently fails to properly synchronize files. And running `updatenode cn -F` invariably works each time.

Is there any way to diagnose the `syncfile` execution during deployment? Like logging what commands are executed on the MN, what synclist is used,

[2018-10-03 12:42] talandt commented on #5673
Here is what I have
[root@e13502 ~]# rpm -qa |grep genesis
xCAT-genesis-base-x86_64-2.14.1.lenovo1-1.noarch
xCAT-genesis-scripts-x86_64-2.14.1.lenovo2-1.noarch

[root@e13502 ~]# xdsh -V
Version 2.14.1.lenovo2 (git commit 06d7097f42eca03db70c9eb93b8abeaf8ca1c2be, built Mon Aug 20 12:55:53 UTC 2018)

[root@e13502 ~]# rpm -ql xCAT-genesis-base-x86_64-2.14.1.lenovo1-1.noarch|grep rsync
[root@e13502 ~]

[2018-10-03 21:58] kcgthb commented on #5252
To try to move forward with this issue, I modified the `syncfile` postscript to force use `scp` instead of `rsync` (I hard-coded `RCP=/usr/bin/scp` in `/install/postcripts/syncfiles`).

I them tried to deploy `sh-dtn02`, whose SN is `sh-hn03`. The result is the following sync file generated on the SN:
[code]
To recap:
* `sh-dtn02` is the node being deployed
* `sh-hn03` is the Service Node (SN) for

[2018-10-03 22:29] kcgthb commented on #5252
Uh, I just remembered that this is #4455 over again, looks like the fixes there were focused on `xdsh` but didn't touch `RSYNC.pm` and `SSH.pm`. Maybe they should?

@robin2008 @jjohnson42 do you have any comment?

[2018-10-03 22:53] kcgthb commented on #5252
I believe the root issue described in https://github.com/xcat2/xcat-core/issues/4425#issuecomment-350063752 is still a problem, and should really be fixed.

[2018-10-04 08:57] Obihoernchen commented on #5656
@gurevichmark Was able to reproduce it once more. This happend after ~5 rinstall commands during the installation or boot. Unfortunately I can't reproduce it consistently. Maybe the timing of rinstall is important I don't know.
[code]
Power reseat fixed the BMC.

[2018-10-04 15:04] paddyoneill opened #5679 "otherpkgs without yum upgrade"
Hi, I have some nodes managed by xcat and want to install some additional RPMs at install. Both the head node and compute nodes run CentOS 7.5 but the RPMs I am trying to install require specific kernel versions, and the latest isn't currently supported. I have setup the osimage to include the required RPMs using the otherpkgs postbootscript but have noticed that it runs yum upgrade, which install

[2018-10-04 15:04] paddyoneill commented on #5679
Also xcat version being used is

[root@headnode ~]# lsxcatd -a
Version 2.14.2 (git commit f2090565b1d1b8efa7558d034de0478456c38e4c, built Wed Jul 11 07:15:53 EDT 2018)
This is a Management Node
dbengine=SQLite

[2018-10-04 17:55] cxhong commented on #5679
have u try from this doc?

https://xcat-docs.readthedocs.io/en/stable/guides/admin-guides/manage_clusters/ppc64le/diskful/customize_image/use_kernel_patch.html

[2018-10-04 19:16] kcgthb commented on #5252
Would the PR in #5680 work for you?

It still doesn't solve the fundamental problem of the MN's hostname being passed as a username in some CN <-> SN <-> MN communications, but it at least prevents creating synclists that do `ssh <MN_hostname>@cn` and makes `syncfiles` work in those cases.

[2018-10-05 08:37] paddyoneill commented on #5679
I have tried to make a new directory under /install, and have appended it to pkgdir. If I add packages from this directory to the pkglist, installation fails when selecting software in anaconda. From my understanding this should enable that directory as an additional repo that is used during the install but it doesn't seem to be working.

I can manually add the repo after node installation and use

[2018-10-05 17:43] paddyoneill commented on #5679
I have been able to work around this by adding a yum install command in a postscript to install the package from the repo at the end of the kickstart installation. It was failing before because /sbin/depmod is not available in the anaconda environment.

[2018-10-05 19:27] cxhong commented on #5663
this didn't good.  I think we should fix that
[code]

[2018-10-08 01:57] robin2008 commented on #5663
Yes, there must be some problems as it cannot distinguish the commas which is used in `[action1:]s1,s2...[|action2:s3,s4,s5...]` or the one used for inheritance.

This might be a design gap when we do `hierarchicalattrs`,  and xcat has many columns which using  special char as separator, those attributes may not  be supported by `hierarchicalattrs` too.

[2018-10-08 05:07] bybai commented on #5679
If you try doc: https://xcat-docs.readthedocs.io/en/stable/guides/admin-guides/manage_clusters/ppc64le/diskful/customize_image/use_kernel_patch.html

Make sure the new RPM kernel package directory name format must be `/install/kernels/<kernelver>` . The `<kernelver>` value is from kernel-<kernelver>.rpm

[2018-10-08 07:56] hu-weihua commented on #5673
hi @talandt ,  every genesis shipped by xCAT support `rsync` command.

[code]

Another thing is every genesis compiled by customer has high version than the genesis shipped by xCAT, that is why you still have `xCAT-genesis-base-x86_64-2.14.1.lenovo1-1.noarch` in your environment.

There are 2 solutions:

* Ask the people who compiled `xCAT-genesis-base-x86_64-2.14.1.lenovo1-1.noarch` for you to ad

[2018-10-08 08:44] xuweibj commented on #5677
Hi @kcgthb ,
Could you help to provide these information please?
1. xcat version
2. service nodes definition
3. could you help to clear commands.log and then run ``xcatprobe xcatmn`` again? If ok, please send me the new command.log.

[2018-10-08 09:03] #5614 closed

[2018-10-08 16:58] kcgthb commented on #5677
Hi @xuweibj

Sure! Here's the info:

[code]

[code]

[code]

[2018-10-08 21:18] Obihoernchen opened #5683 "Document installation of openbmctool for reventlog"
Just a reminder for me. I'll submit a PR soon.

https://www14.software.ibm.com/support/customercare/sas/f/lopdiags/scaleOutLCdebugtool.html#OpenBMC

Needs to be installed to get human readable reventlog messages on POWER.

[2018-10-09 05:56] robin2008 commented on #5663
xCAT need some enhancement on `hierarchicalattrs` feature to support defining its delimiter for that attribute.
The default delimiter is comma,  but you can use `"hierarchicalattrs","begin:|,postscripts,postbootscripts,nics",` to define `|` is the delimiter for `begin` attribute.

with it, `hierarchicalattrs` could support all kinds of column which has its own delimiter different than comma.

[2018-10-09 09:14] robin2008 commented on #5640
verified in new dailybuild.

[2018-10-09 09:14] #5640 closed

[2018-10-10 07:04] hu-weihua opened #5687 "Test case "xdsh_t" triggers "ssh 1.1.1.1" which maybe has potential threat, need to refine."
The test case ``xdsh_t`` triggers "ssh 1.1.1.1",  when run this case, will catch below logs from loginnode.

[code]

It is better to try to connect one bogus ip in private network.

[2018-10-10 07:14] robin2008 commented on #5663
This is covered in #5688  @kcgthb

[2018-10-10 07:44] robin2008 commented on #5633
@xuweibj   It seems not pass the verification.

[2018-10-10 07:46] robin2008 commented on #5633
[code]

So your method will think the tftp is working.

[2018-10-10 08:55] xuweibj commented on #5540
Hi @whowutwut , we have testcase ``rspconfig_set_ntpservers`` in ../autotest/testcase/rspconfig/case0, so I enhanced it in pr #5692. But there is a little different with your idea, please give some comments if you'd like.

[2018-10-10 10:04] zet809 commented on #5313
We have https://github.com/xcat2/goconserver/issues/48 opened to trace the issue that goconserver broadcast function can not support the hierarchical structure.

[2018-10-11 06:03] hu-weihua commented on #5687
Have verified in automation environment, close the issue

[2018-10-11 06:03] #5687 closed

[2018-10-11 08:31] robin2008 commented on #5656
Could we identify this is xcat error or Firmware issue?

[2018-10-11 16:04] gurevichmark commented on #5656
It is hard to tell if this is `xCAT` or Firmware since we can not recreate it reliably.

My guess is that is it not `xCAT` since I was able to `rinstall` one of our BMC machines (`f5u16`) 35 times in a row with no problem.

[2018-10-11 16:07] gurevichmark commented on #5656
@Obihoernchen Next time when this happens, can you try to see if Host is still pingable ?

[2018-10-12 01:49] xuweibj opened #5694 "[automation] Install xCAT failed on sles because xCAT-probe install config"
[20181011.0615][sles12.3-P8VMs-Mysql-166][STOP for install_xCAT_on_rhels_sles]

``Final environment stop at install_xCAT_on_rhels_sles``

[code]

[2018-10-12 02:32] hu-weihua opened #5695 "xCAT daily build (20181011.0615) failed to be installed in sles"
Due to PR #5686 involve install ``tree`` in xcat rpm package, sles does not support the ``tree`` command in basic install ISO, so the xCAT daily build (20181011.0615) failed to be installed in sles.
This resulted in many daily regression projects failed.

[2018-10-12 02:34] hu-weihua commented on #5695
duplicated with #5694, close this one.

[2018-10-12 02:34] #5695 closed

[2018-10-12 02:35] hu-weihua commented on #5694
related PR #5686.

[2018-10-12 02:54] hu-weihua commented on #4606
@samveen xCAT probe xcatmn has been enhanced by pull request #5693 , could you help to try again? thanks.

[2018-10-12 07:47] hu-weihua commented on #5488
@thilo-maurer Could you verify this fix in your environment? thanks

For the  permission of ``/var/log/xcat/`` problem, I did not reproduced in my environment. After xcat default installation in ubuntu18.04.1 which has ``/var/log/syslog``, I got below permission:

[code]

[2018-10-12 08:06] bybai opened #5698 "enhance makehosts find bmc ip if nictypes.bmc=bmc"
This is from tmaurer icp channel:
Based on the following node definition, `makehosts` cannot generate `node2-bmc` entry in `/etc/hosts`.
[code]

The workaround is :
[code]

Here are 2 bmc ip in `node2` definition, so we can take `bmc` as a special case.
1. if `nictypes.bmc=bmc` and there is no `nicips.bmc`, `makehosts` use `bmc` ip.
2. if `bmc` value is host name, `makehosts` will not add entry in

[2018-10-12 08:11] robin2008 commented on #4324
Yes, there are some consistent, but check the codes, it seems a bit different for those calling.
So this time, we only fix the pping/nodestat issue, and kept others as is.

This is covered in https://github.com/xcat2/xcat-core/pull/5699

[2018-10-12 08:17] robin2008 commented on #5676
This is fixed in #5682, @kcgthb  would it cover your case?

[2018-10-12 08:47] thilo-maurer commented on #5488
I was using ubuntu16.04.5, so it might be different there.
How to verify? Is there a deb that I should install or should I just apply https://github.com/xcat2/xcat-core/pull/5696/commits/f3f7890225efe689e3c16b12e7a0fc5eb87bb75b ?

[2018-10-12 13:07] Obihoernchen commented on #5656
Hey @gurevichmark just had this issue again. See below:
[code]

[2018-10-12 15:56] gurevichmark commented on #5656
@Obihoernchen Can you run the following on the host to see the broadcom firmware level.
[code]

[2018-10-12 15:58] kcgthb commented on #5676
@robin2008 I believe so, thank you!

[2018-10-12 15:58] #5676 closed

[2018-10-12 16:44] thilo-maurer opened #5700 "xCAT-probe discovery validation ignores site.httpport"
When configuring xCAT to use a non-default HTTP port, like 81, the xCAT-probe discovery validation fails since it continues to query default port 80, instead of 81:
(The HTTP server was also configured to serve at 81)
[code]

[2018-10-12 16:44] Obihoernchen commented on #5656
@gurevichmark
[code]

[2018-10-12 16:47] thilo-maurer opened #5701 "xCAT-probe xcatmn validation ignores site.httpport"
When configuring xCAT to use a non-default HTTP port, like 81, the xCAT-probe xcatmn validation fails since it continues to query default port 80, instead of 81:
(The HTTP server was also configured to serve at 81)
[code]

[2018-10-12 16:51] thilo-maurer commented on #2629
Related issues:
* https://github.com/xcat2/xcat-core/issues/5700
* https://github.com/xcat2/xcat-core/issues/5701

[2018-10-12 18:17] whowutwut opened #5702 "Improve the method that we help the user obtain the mini.iso"
In this section https://xcat-docs.readthedocs.io/en/stable/guides/admin-guides/manage_clusters/ppc64le/diskful/copy_image.html  we list out some Ubuntu mini.iso that we store in xcat.org so that we can help users provision older version with the correct mini.iso

Is there a better way we can do this so that we don't need to continue to maintain this forever?

Ubuntu 16.04 is at 16.04.4 and the las

[2018-10-12 18:18] gurevichmark commented on #5656
Ok, looks like the latest level.
Next time this happens, after power cycle, can you run this command on xcat MN to generate and download the dump:
`rspconfig <node> dump`
The dump file will be downloaded into `/var/log/xcat/dump`

[2018-10-12 19:46] whowutwut opened #5703 "Missing arch causes rinstall to fail, where nodeset succeeds."
When `arch` is  not defined in the  node definition, rinstall does not work.

[code]

However... doing things the "old fashioned" way...

[code]

And then running `rinstall` it works...
[code]

So isn't  `rinstall` suppose to do the same things ...? Seems like some logic is missing. OR does  rinstall require more  info to be able to deploy ?

[2018-10-12 21:20] whowutwut commented on #5540
@xuweibj  sorry , very delay in response... I investigated this a little more, I think when DHCP is used for the BMC IP, the ntpservers will not be set and will not stick.   This is working as designed from firmware perspective

@xuweibj or @gurevichmark I think we need to enhance the code logic so that if someone is trying to  use ntpserver and  dhcp is being used for the IP address, we  should

[2018-10-14 23:13] whowutwut commented on #5196
@lychen214  Eric, do you have any idea about this behavior above? When selecting a physical disk on a Boston server, we get inconsistent results using the WWN value...

[2018-10-15 01:10] lychen214 commented on #5196
@whowutwut Per comment below, the tool will pick up the smallest WWN of disk. And it looks like it worked as expected on boston30 and boston32. But I have no idea how the WWN value was determined from OS perspective. Did you see the tool was using the non-smallest WWN to do the installation? Please help clarify it. Thanks.

[2018-10-15 01:19] whowutwut commented on #5196
If we are selecting correctly based on the smallest WWN, then one boston node, the WWN number resulted in the 0 disk of the mini-SAS connector 1... on another boston node, the smallest WWN number resulted in the 0 disk of the mini-SAS connector 2.

That's what I don't understand, why one boston node installed onto the bottom left drive (green circle), while another installed onto the 2nd drive in

[2018-10-15 01:32] xuweibj commented on #5196
@whowutwut If only one disk has been installed OS on it, will choose it. If more than one, choose the one with the smallest WWN value.

[2018-10-15 01:36] whowutwut commented on #5196
@xuweibj Even if switching RHEL & Ubuntu?

[2018-10-15 01:40] xuweibj commented on #5540
hi @whowutwut , the code have been enhanced in pull request #5559. Will get msg like ``f6u13: [c910f03c17k21]: Error: BMC IP source is DHCP, could not set NTPServers`` when ip source is DHCP. In pull request #5692 just modified case based on current code.

[2018-10-15 01:42] xuweibj commented on #5196
Yes, whatever the current OS is, just check whether has OS installed on.

[2018-10-15 01:45] lychen214 commented on #5196
@whowutwut Would it still start from the 0 disk of the mini-SAS connector 2 if you use the clean hard drives?

[2018-10-15 02:18] immarvin commented on #5703
hi @whowutwut , since `rinstall` is a convenient command of `nodeset`+`rsetboot` + `rpower`, which has some glue code to
1) determine whether the `arch` of node is compatible with the `arch` of osimage
2) determine whether the `netboot` attribute of node is compatible with the node's `arch`

[2018-10-15 02:55] xuweibj commented on #5694
Verified in automation. Close it.

[2018-10-15 02:55] #5694 closed

[2018-10-15 03:06] hu-weihua commented on #5488
xCAT builds a package for development and regression test every day.  You can download the latest daily build through below links.

* [RPM build]( https://xcat.org/files/xcat/xcat-core/devel/Linux/core-snap/core-rpms-snap.tar.bz2)
* [DEB build](https://xcat.org/files/xcat/xcat-core/devel/Ubuntu/core-snap/core-debs-snap.tar.bz2)

[2018-10-15 03:09] xuweibj commented on #5596
Verified on version:
``# lsxcatd -a
Version 2.14.4 (git commit 1d238a51110d9afa8ab3436d748d5ae0c1e460d4, built Sat Oct 13 06:15:45 EDT 2018)
``

[2018-10-15 03:09] #5596 closed

[2018-10-15 05:13] robin2008 commented on #5196
Any technical supporting for choosing the smallest `WWN` value for 1st disk?  I check many Boston/Briggs sever in our environment, not the `sda` is the smallest WWN.

For example
[code]

[2018-10-15 05:33] robin2008 commented on #2629
Let's put this high priority and done it in 2.14.5

[2018-10-15 07:54] #4324 closed

[2018-10-15 07:59] hu-weihua commented on #5245
Has been verified by ``Oct 13 06:15:45 EDT 2018`` build

[2018-10-15 07:59] #5245 closed

[2018-10-15 08:19] #5581 closed

[2018-10-15 08:48] hu-weihua commented on #5604
Have been verified, close this issue.

[2018-10-15 08:48] #5604 closed

[2018-10-15 08:51] hu-weihua commented on #5678
@kcgthb, could you help to verify this fix? If it is ok for you, could you close this issue? thanks

[2018-10-15 08:51] hu-weihua commented on #5677
@kcgthb, could you help to verify this fix? If it is ok for you, could you close this issue? thanks

[2018-10-15 11:30] paddyoneill commented on #5679
@bybai That worked, thanks. Closing this.

[2018-10-15 11:30] #5679 closed

[2018-10-15 15:04] cxhong opened #5707 "wget needs to be add to rhels8 pkglist"
I tried both iso ,
[code]
The diskless node is provisioned, but all complain same error message:
[code]
The `wget` package needs to be add to rhels8 pkglist, otherwise, xCAT postscripts will not able to download.

[2018-10-15 15:50] cxhong commented on #5707
For the diskfull install,  it stucked here:
[code]
`wget` is not available in the baseOS iso.

[2018-10-15 16:34] kcgthb commented on #5678
@hu-weihua Looks like I can't apply patches from #5686 directly on my 2.14.3 installation, but I'll test them as soon as 2.14.4 is released.
Thanks!

[2018-10-15 16:34] kcgthb commented on #5677
@hu-weihua Looks like I can't apply patches from #5686 directly on my 2.14.3 installation, but I'll test them as soon as 2.14.4 is released.
Thanks!

[2018-10-16 01:56] #5663 closed

[2018-10-16 01:57] robin2008 commented on #5663
@kcgthb feel free to reopen it if you still has problem.

[2018-10-16 02:13] robin2008 opened #5709 "[Feature] localdisk supports gpt partition"
Now `localdisk` only support MSDOS label, need to support GPT partition for large disk

[2018-10-16 02:18] zet809 commented on #5333
The PR #5708 add wget in pkglist.

[2018-10-16 02:30] robin2008 commented on #5500
This should be general, not only for ubuntu, put it high priority.

[2018-10-16 02:57] xuweibj commented on #5660
Hi @gurevichmark , shall we close it or do you think we should do more to enhance it?

[2018-10-16 03:01] robin2008 commented on #5252
Merged, so close it.

[2018-10-16 03:01] #5252 closed

[2018-10-16 03:08] #5661 closed

[2018-10-16 03:14] zet809 commented on #5662
Let's verify this after 2.14.4 release.

[2018-10-16 05:37] #5633 closed

[2018-10-16 05:48] hu-weihua commented on #5678
Due to we are clearing the bugs this week and we have verified this fix in our environment. xCAT 2.14.4 will released on Oct 19 depending on plan, so I will close this issue first,  you can reopen this issue if you find the fix does not work in your environment. Thanks.

[2018-10-16 05:48] #5678 closed

[2018-10-16 05:49] hu-weihua commented on #5677
@kcgthb , Due to we are clearing the bugs this week and we have verified this fix in our environment. xCAT 2.14.4 will released on Oct 19 depending on plan, so I will close this issue first, you can reopen this issue if you find the fix does not work in your environment. Thanks.

[2018-10-16 05:49] #5677 closed

[2018-10-16 06:33] hu-weihua commented on #5598
Have been verified in automation environment. close this issue. thanks @xuweibj

[2018-10-16 06:33] #5598 closed

[2018-10-16 08:52] bybai opened #5710 "[syslog]add starter and and ender title for OS deployment and updatenode"
Add starter and and ender title for OS deployment and updatenode

* [ ]    starter and and ender for one OS installation, for example:
[code]
* [ ]    starter and and ender for `updatenode`, for example:
[code]

[2018-10-16 08:53] #5710 closed

[2018-10-17 02:38] tingtli commented on #5398
@gurevichmark It seem it is not xcat problem. I think xcat follows the same code flow to update the firmware. Since it is not always reproduced, we can close it and reopen if needed. Mark，what is your opinion
.

[2018-10-17 02:40] #5398 closed

[2018-10-17 04:58] #5630 closed

[2018-10-17 04:58] #5626 closed

[2018-10-17 04:59] #5615 closed

[2018-10-17 07:10] robin2008 commented on #5151
Code error, the existing code does not handle the exit code and wrong table name checking.

[2018-10-17 07:17] robin2008 commented on #5151
This bug is fixed in https://github.com/xcat2/xcat-core/pull/5711

[2018-10-17 07:34] bybai commented on #5611
Goals:
user can easily find <deployment|updatenode|postscript|postbootscript> logs through grep the simple tag. These tags are:
1. deployment: xcat.deployment
2. updatenode: xcat.updatenode
3. postscript: xcat.<deployment|updatenode>.postscript
4. postbootscript: xcat.<deployment|upatenode>.postbootscript
5. common mypostscript:xcat.<deployment|upatenode>.mypostscript
6. other stage, like: xcat.de

[2018-10-17 07:35] hu-weihua commented on #5290
@whowutwut , I test ``rspconfig f5u14 dump -d all`` on a hierarchy environment today for 2.14.4 release.  It looks like below:

[code]

* On mn f6u13k10
[code]

* On SN f6u13k11
[code]
Did it work as our design?

[2018-10-17 09:21] hu-weihua opened #5712 "Kdump can not work correctly in rhels7.6 and rhels7.6-alt"
xcat version : Version 2.14.4 (git commit fd8ae366e5cf3a8a9afeeadf8a0c5ec36dd03759, built Tue Oct 16 07:15:51 EDT 2018)

Kdump can not work correctly in rhels7.6 and rhels7.6-alt.

[code]

[2018-10-17 13:04] cxhong commented on #5707
code merged, will close.

[2018-10-17 13:04] #5707 closed

[2018-10-17 13:05] #5448 closed, assigned to cxhong

[2018-10-18 01:06] tingtli commented on #5662
since it will be verified after 2.14.4 release. I move it to 2.14.5.

[2018-10-18 01:07] #5577 closed

[2018-10-18 03:03] whowutwut commented on #5577
@neo954 @robin2008 Should  we answer the questions above before  closing this issue?

[2018-10-18 03:04] whowutwut commented on #5662
I think this is completed... no?

[2018-10-18 05:44] robin2008 commented on #5577
@marksmit-ibm
The `genimage` working flow :
- installs pkglist
- installs otherpkglist
- runs postscript scripts
- get the installed linux kernel
- injects drivers if specified
- runs postinstall scripts
- creates initrd via "dracut" in $rootimgdir/

So xcat only uses the initrd generated in the last step for netbooting,  instead of $rootimgdir/boot/initramfs

And just as said in https://github.co

[2018-10-18 05:53] zet809 commented on #5662
Will close this issue after https://xcat-docs.readthedocs.io/en/2.14.4/ available.

[2018-10-18 06:02] tingtli commented on #5497
@kcgthb  Would you please close this defect since it is resolved.

[2018-10-18 06:07] hu-weihua commented on #5488
@thilo-maurer, since we have verified this fix in our environment, I closed this issue first. If you find it can not work at your environment, feel free to reopen it again. thanks.

[2018-10-18 06:07] #5488 closed

[2018-10-18 06:08] hu-weihua commented on #4606
@samveen , since we have verified this fix in our environment, I closed this issue first. If you find it can not work at your environment, feel free to reopen it again. thanks.

[2018-10-18 06:08] #4606 closed

[2018-10-18 07:30] hu-weihua opened #5716 "go-xcat failed to install xcat 2.13.11 in sles12.2 by option x"
``go-xcat`` failed to install xcat 2.13.11 in sles12.2 by option ``x``.

[code]

[2018-10-18 08:01] hu-weihua commented on #5627
I have verified the fix against ``rinv`` by the latest xcat.

[code]

[2018-10-18 08:05] #5627 closed

[2018-10-18 08:30] neo954 commented on #5716
In the `go-xcat.log` posted, it seems some packages in the `xcat-dep` repository were already installed before `go-xcat` was running.

Thus, @hu-weihua, it is great if you can post all the steps of the problem recreation.

[code]

[2018-10-18 09:41] hu-weihua commented on #5716
The test case did not clear up the environment very well before entering into main process, that cause the failure. If the environment is clear, this case can be successful.

[2018-10-18 09:41] #5716 closed

[2018-10-18 10:11] hu-weihua opened #5719 "The output of some hardware control command are not same between python and perl"
The output of some hardware control command are not same between python and perl.

* rbeacon f5u14 abc
[code]

* reventlog f5u14 resolved=Led
[code]

* reventlog f5u14 resolved 1,2,3
[code]

* reventlog f5u14 resolved=-1
[code]

* rspconfig f5u14 autoreboot=2
[code]

*  rspconfig f5u14 bootmode|tee /tmp/bootmode
[code]

* rspconfig f5u14 dump --clear $dumpnumber
[code]
*
[code]

* rspconfig f5u14

[2018-10-18 10:11] hu-weihua commented on #5719
link to task https://github.com/xcat2/xcat2-task-management/issues/343

[2018-10-18 10:28] hu-weihua opened #5720 "rspconfig cn hostname=* can not work at perl version, but can work at python version"
``rspconfig cn hostname=*`` can not work at perl version, but can work at python version

xCAT version:
[code]

* In perl:
[code]

* In python:
[code]

[2018-10-18 10:31] hu-weihua commented on #5720
@whowutwut @gurevichmark Could you help to fix this issue ASAP?

Tonight we will run test against RC2, but this issue was found too late, that means we need RC3 if you can fix this issue tonight.

[2018-10-18 13:20] gurevichmark commented on #5720
Yes. I will work on this today.

[2018-10-18 14:49] gurevichmark commented on #5720
@hu-weihua We decided to take care of this in next release so that RC3 is not needed.

But before looking too deep into this, I have a few questions:
1. Is this a new testcase ? This code has not changed in a long time, was this testcase successful before, but just started failing in RC2 ?
2. Is it possible to add a `ping bogus_bmc_hostname` before `rspconfig f5u14 hostname=*` is executed ?
3. Can

[2018-10-18 15:22] whowutwut commented on #5290
@hu-weihua I don't think anything has changed for this  issue, it's marked as 2.14.x so it looks like it's  in the backlog, not yet in plan for a release.

[2018-10-18 15:28] whowutwut commented on #5611
@bybai Yes! I like this direction!   Typo here...

Is there a PR for it open? I see some typos, here, postscript has 2 `t`s ..

[code]

And  the following message doesn't have a INFO tag..
[code]

Also suggest  a change in the format...
[code]
to
[code]

[2018-10-18 15:31] whowutwut commented on #5627
Thank y ou  @hu-weihua

[2018-10-18 18:06] khm opened #5721 "xCAT-client rpm seems to depend on xCAT-server"
Installing xCAT-client-2.14.3-snap201808210716.noarch.rpm results in:

[code]

Then our compute nodes try to start xcatd on boot.  We'd like to install xCAT-client without xCAT-server.

[2018-10-18 20:44] kcgthb commented on #5497
Will be glad to do so after testing the feature. Could you please let me know in which PR/commit it's been implemented?

[2018-10-19 01:52] hu-weihua commented on #5720
After debug, this test run in hierarchy environment, when we create a bogus bmc definition, we did not run makedns to let SN can resolve the bogus bmc name, so in xcat perl version, the sn can not connect this  bogus bmc. In python, `rspconfig` goes to another code logic, read the ip of bogus bmc from DB table directly, so did not hit such name resolve problem. Closed this issue.
Thanks @gurevichm

[2018-10-19 01:52] #5720 closed

[2018-10-19 01:57] hu-weihua commented on #5712
Have been verified by xcat 20181018.0715 build. closed this issue.

Thanks @bybai

[2018-10-19 01:57] #5712 closed

[2018-10-19 02:18] robin2008 commented on #5611
@bybai the log tag can also be passed into script itself, and the script could use it for its logging.

[code]

to reduce the modification on scripts, it is better for us to provide the `logger` helper method

[2018-10-19 02:47] robin2008 commented on #5721
The dependent relationship is messy:
[code]

[2018-10-19 02:49] robin2008 commented on #5721
@zet809 @immarvin Let's handle this in 2.14.5

[2018-10-19 02:51] robin2008 commented on #5721
@khm Could you disable the service for a workaround before xCAT fix it.

[2018-10-19 04:15] khm commented on #5721
Yes, that's what we're currently doing.

[2018-10-19 04:40] zet809 commented on #5720
Thx, @xuweibj and @hu-weihua

[2018-10-19 04:43] zet809 commented on #5721
hi, @khm , what is the scenario that to install xCAT-client only?  Thx!

[2018-10-19 04:53] zet809 commented on #5702
hi, @whowutwut , it seems since ubuntu16.04.2, there is no need to download mini.iso to get the net bootable initrd. It have been included in normal OS ISO.
[code]

[2018-10-19 06:09] bybai commented on #5611
@whowutwut and @robin2008 , there is no PR now, I am working on it

[2018-10-19 08:15] tomatome opened #5722 "for windows, cmd will need input y/yes when copy post scripts?"
some config:
1, chdef -t site clustersite precreatemypostscripts=1  (no set, post cmd will hang)
2, copy some bat  to winpostscripts.
after nodeset action, $ip.cmd:
`
for /f "tokens=2 delims= " %%i in ('net use ^| find "install"') do set instdrv=%%i^M
%instdrv%\utils\windows\fixupunattend.vbs %instdrv%\autoinst\win7.xml x:\unattend.xml^M
%instdrv%\windows\x86_64\setup /unattend:x:\unattend.xml /no

[2018-10-19 13:53] zet809 commented on #5662
The link above have the correct xCAT name, so let's close this issue.

[2018-10-19 13:53] #5662 closed

[2018-10-19 13:59] zet809 commented on #5497
It seems PR #5523 include the fix for rinstall.
For `site` table attribute, it can be traced with #5561

[2018-10-19 14:52] kcgthb commented on #5497
Thanks! #5523 looks great!
For the site attribute though, I know it's been mentioned in #5561, but I can't find any PR implementing it, nor any reference in the master branch.

[2018-10-19 15:13] gurevichmark commented on #5497
There is no PR for #5561 yet. Is it in my backlog. Hope to work on it for next release.

[2018-10-19 15:16] kcgthb commented on #5497
@gurevichmark No worries, thanks for the clarification!

[2018-10-19 18:47] kcgthb commented on #5497
Just tested #5523 in 2.14.4, and can't seem to make it work. Even with `--noupdateinitrd`, the `initrd` are still updated (that is in hierachical mode, I don't know if it makes a difference)

[code]

[2018-10-19 18:56] kcgthb commented on #5497
Oh I see that if I use `rinstall <node> osimage=<osimage> --noupdateinitrd`, the `--noupdateinitrd` flag seem tobe working and the `initrd` is not regenerated.

But if `osimage=<osimage>` is omiited, the  `--noupdateinitrd` flag is ignored and the `initrd` is regenerated anyway.

Do you confirm this?

[2018-10-19 19:02] gurevichmark commented on #5497
Interesting. Can you check if the behavior the same for `nodeset` ? The PR #5523 just passes the `--noupdateinitrd` flag to `nodeset`, expecting it to do the right thing.

[2018-10-19 21:15] kcgthb commented on #5497
Well I think `nodeset` requires at least a command, so the `osimage` argument can't really be omitted, can it?

But in any case, both commands below properly work and don't regenerate the `initrd`:
* ` nodeset <node> osimage --noupdateinitrd -V`
* ` nodeset <node> osimage=<osimage> --noupdateinitrd -V`

[2018-10-20 21:55] zrlhle commented on #5297
nodels zhcc001 ipmi
[code]
zhcc001: ipmi.disable:

[2018-10-22 03:02] immarvin commented on #5721
ping @xuweibj

[2018-10-22 06:51] immarvin commented on #5722
hi @tomatome , it is interesting that you are using xCAT to manage windows servers. What is the xCAT release and Windows version you are using?

For this issue, I think adding option `/Y` in `copy` will avoid the confirm in `/opt/xcat/lib/perl/xCAT_plugin/windows.pm` :

[code]
Currently, we do not have the env to verify the windows provision by hand, would you please create a PR and post the test

[2018-10-22 06:56] immarvin commented on #5610
hi @jbaksta , we will refine the Doc to include this. thanks

[2018-10-23 06:02] zet809 commented on #5313
hi, @kcgthb , since the xcat2/goconserver#48 can be used to trace the broadcast function, I will close this issue. Thx!

[2018-10-23 06:02] #5313 closed

[2018-10-23 06:53] tingtli opened #5724 "[FVT]：adjust cases list to avoid some cases false failure"
In today's regression result, I found that some of the test cases failed because of prior cases failure. e.g. xdsh depends on ssh working between mn/cn， if cn is not in a proper state, the cases will fail. in the bundle list, some packimage test cases will boot cn and reinstall cn. If these cases fail, the cases which depends on cn's state after that will fail. Record this issue to adjust our bund

[2018-10-23 09:40] tomatome commented on #5722
xcat version: 2.14.2
I add  to windows.pm "goto up" before "print $shandle ":SKIPPOST\r\n";" , it's ok.
I am not sure if this is a problem with my use or a bug？

[2018-10-24 02:33] immarvin opened #5728 "xcatd on service node does not work due to missing "perl-DBD-MySQL""
this is a issue reported in mail list,

[code]

finally, user find the root cause by themselves:

[code]

 currently,  `perl-DBD-MySQL ` is not specified in xCATsn.spec, it is specified in the service node osimage instead:

[code]

[2018-10-24 09:11] robin2008 commented on #5703
Is it reasonable or bug of `nodeset`?

[2018-10-24 09:15] robin2008 commented on #5644
@bybai   You can consider the above enhancement in syslog consolidation.

[2018-10-24 09:17] neo954 commented on #842
In pull request #5341 for RHEL 8 support, there is a new default partitioning scheme which is similar to the RHEL 8 default partitioning scheme.

* A separate `/boot` partition, size 512MB.
* All the remain disk space will be used as LVM physical volume. Inside which, one volume group will be created.
* Root file system will be inside the LVM volume group.
* A swap partition will be created inside

[2018-10-26 02:34] hu-weihua opened #5733 "genimage failed for ubuntu 16.04.5 ppc64el and x86"
``genimage`` failed for ubuntu 16.04.5 ppc64el and x86

xcat version: snap201810240616

Below file is the detailed log:
[ubuntu16_04_5_geniamge.log](https://github.com/xcat2/xcat-core/files/2517405/ubuntu16_04_5_geniamge.log)

[2018-10-26 04:55] hu-weihua opened #5734 "nodeset failed to put vmlinuz into correct location for ubuntu16.04.5 x86"
``nodeset`` failed to put vmlinuz into correct location for ubuntu16.04.5 x86.

For  ubuntu16.04.5 x86
[code]

If comparing with  ubuntu16.04.1.
[code]

[2018-10-26 06:04] hu-weihua opened #5735 "test case setup_vm failed in brand new x86 VM test environment"
Test case setup_vm failed in brand new x86 VM test environment.

[code]

Due to in branch new x86 environment, automation main program just input node definition into xcat, so there is no VM xml file in xcat db, in this case, run ``rmvm <node> -f -p`` will trigger error ``Error: Cannot remove guest vm, no such vm found``.

[2018-10-26 07:30] robin2008 commented on #5709
The current design is convenient to support `gpt` type, only need to introduce an new config item `ptype` in `disk` section.

[2018-10-26 07:30] robin2008 commented on #5709
This is covered in #5738

[2018-10-26 08:47] hu-weihua commented on #5735
Have been fixed by pr #5736

[2018-10-26 09:14] neo954 commented on #5588
I will working on it.

[2018-10-26 18:21] whowutwut commented on #5159
@robin2008 I've re-created this issue....

When we install a xCAT-genesis-base that is custom built in house with the alternate kernel, and installing it, it removes files from `xCAT-genesis-scripts` and we have to `yum reinstall xCAT-genesis-scripts-ppc64` to recover and `mknb ppc64` to get this to be usable again.  So this is a problem.

[2018-10-26 18:27] whowutwut opened #5740 "Installing `xCAT-genesis-base` will remove files provided by `xCAT-genesis-scripts`"
In our environment we have built a custom xCAT-genesis-base in order to handle support for Power9 hardware in RHEL.  The Fedora image does not always run well with the Power9 processor.  Until the kernel changes are pushed to the linux distro, we will have a work around.

Known issue: https://xcat-docs.readthedocs.io/en/stable/references/coral/known_issues/index.html

However, when we take an exis

[2018-10-26 22:13] whowutwut commented on #5703
@immarvin how does it determine the arch of the machine. It seems like it’s just taking it from the osimage. Because nodeset works and then sets the arch. But if rinstall is calling nodeset why does it fail?

[2018-10-27 19:43] whowutwut commented on #842
@neo954 should we also put /var in its own partition. This way messages won’t fill up the root file system

[2018-10-28 10:57] hu-weihua commented on #5734
link to https://github.com/xcat2/xcat2-task-management/issues/312

[2018-10-28 10:57] hu-weihua commented on #5733
link to https://github.com/xcat2/xcat2-task-management/issues/312

[2018-10-28 10:57] hu-weihua commented on #5734
Have been verified in automation environment, thanks @bybai

[2018-10-28 10:57] #5734 closed

[2018-10-29 02:55] zet809 commented on #5159
Hi, @whowutwut , is #5740 is used to trace the problem? It truly a problem for xCAT-genesis-base, need to fix ASAP.

[2018-10-29 05:00] neo954 commented on #5740
I will look into this one.

[2018-10-29 06:04] neo954 commented on #5159
There is no need to uninstall the custom made `xCAT-genesis-base-ppc64` with `rpm -e` or `yum remove`. Just "upgrade" to the version of `xCAT-genesis-base-ppc64` you intend to use with `rpm -U --force`.
[code]

The command line argument `--force` will make a version downgrade possible.

[2018-10-29 06:08] neo954 commented on #5740
The following files were missing after reinstall `xCAT-genesis-base-ppc64`.
[code]

[2018-10-29 06:14] neo954 commented on #5740
I believe this is a side effect cause by pull request #4374.

[2018-10-29 06:34] neo954 commented on #5740
Uninstall and reinstall `xCAT-genesis-base-ppc64` will not cause any problem. Only a upgrade of `xCAT-genesis-base-ppc64` will cause the problem.

[2018-10-29 06:42] neo954 commented on #5740
Do the upgrading with `--noscripts` will avoid the problem.

`rpm -Uvvvh --noscripts --force http://xcat.org/files/xcat/repos/yum/devel/xcat-dep/xCAT-genesis-base-ppc64-2.14-snap201804041553.noarch.rpm`

[2018-10-29 07:33] zet809 commented on #5297
It seems to be an issue with the package perl-IO-Socket-INET6-2.69-5.el7.noarch itself.
Will you pls check the following information in your environment? Thx!
[code]

[2018-10-29 12:41] whowutwut commented on #5740
@neo954 If it's an upgrade that causes the problem, are we not checking for upgrade path in the RPM and doing the correct things?

From:  https://www.ibm.com/developerworks/library/l-rpm2/index.html

[2018-10-29 19:52] whowutwut commented on #5620
@zet809 Sorry for the very late response here.  I thought about this again and came to the issue to see if any status has changed.

Not just for MTM and Serial, but for other attributes that the user may find interesting...
* disk or disks
* mac address for various adapters
* mtm/serial

I am thinking about building upon xml packet this to extract more information off of the server but it doesn't

[2018-10-30 06:01] immarvin commented on #5703
hi @whowutwut , `rinstall` include some glue logic check whether the arch of node is compatible with the osimage, this is important for choosing the correct commands which will be run after `nodeset`, `rnetboot` for ppc64 or `rsetboot+rpower` for x86 and ppc64le servers

[2018-10-30 09:07] robin2008 commented on #5644
@kcgthb  the new fix is in #5743

[2018-10-30 12:03] zet809 commented on #5740
We checked, but the checked is incorrect when the directory is a symbol link.
The fix is, in `pretrans` script, if it check the /bin is a directory, will remove all files, if not, just remove the file /bin.

[2018-10-31 01:58] hu-weihua opened #5745 "Commit 5743 resulted in the output of updatenodes change, if the change is necessary, please update the test case at the same time"
Commit #5743 resulted in the output of updatenodes change, if the change is necessary, please update the test case at the same time

The original output of test case ``updatenode_diskful_syncfiles_P_script1``
[code]
The output right now:
[code]

The original output of test case ``updatenode_without_flag``
[code]
The output right now:
[code]

[2018-10-31 02:05] hu-weihua commented on #5735
The fix still has problem:
[code]

[2018-10-31 03:22] hu-weihua opened #5747 "The setting of httpport in site table did not work at post.xcat"
xcat version:
[code]

When set ``httpport`` to new value (not default 80), the setting  did not work at post.xcat

[code]

The code in post.xcat did not adopt the setting of httpport in site table.

[code]

[2018-10-31 03:27] hu-weihua opened #5748 "The setting of httpport in site table did not work for genesis, 80 is hardcoded in mknb.pm"
xcat version:
[code]
The setting of httpport in site table did not work for genesis, 80 is hardcoded in mknb.pm

[code]

[2018-10-31 07:06] hu-weihua opened #5750 "makedhcp did not support the setting of httpport in site table for petitboot and xnba, nodeset did not support xnba well"
makedhcp did not support the setting of httpport in site table for  petitboot and xnba

[code]

the petitboot config file is right
[code]

The xnba config file is not correctly
[code]

[2018-10-31 07:07] hu-weihua commented on #5750
link to https://github.com/xcat2/xcat2-task-management/issues/353

[2018-10-31 07:37] hu-weihua opened #5751 "updatenode did not support the setting of httpport in site table"
updatenode did not support the setting of httpport in site table

[code]

[2018-10-31 07:37] hu-weihua commented on #5751
link to https://github.com/xcat2/xcat2-task-management/issues/353

[2018-10-31 23:20] kcgthb opened #5755 "synclist: EXECUTE{ALWAYS} ignore noderange"
In `synclists`, the `EXECUTE` and `EXECUTEALWAYS` directive are executed on all nodes, even if a noderange is specified.

Given the following `synclist`:
[code]
`updatenode -F nodeB` will execute `/tmp/script` on `nodeB`, even though `nodeA` is specified in the `synclist` noderange.

[2018-11-01 02:06] #5735 closed

[2018-11-01 09:06] immarvin commented on #5751
fixed in https://github.com/xcat2/xcat-core/pull/5757

[2018-11-01 09:06] immarvin commented on #5747
fixed in https://github.com/xcat2/xcat-core/pull/5757

[2018-11-01 09:14] immarvin commented on #5755
hi @cxhong , do you have any thoughts on this?

[2018-11-01 21:19] cxhong commented on #5755
can u check if  `/tmp/script` already in the nodeB ?    I couldn't recreate this issue.
maybe you can copy/paste some output from updatenode command.

[2018-11-01 21:50] kcgthb commented on #5755
Sure, here you go:

Example `/tmp/script.sh`:
[code]

Make sure the script doesn't exist on the nodes:
[code]
`Synclist` file:
[code]

`updatenode -F` on `sh-06-34` executes the script:
[code]

On `sh-06-33`, the script is also executed, although it should not:
[code]

If it makes any difference, this is in hierarchical mode.

[2018-11-02 10:34] robin2008 opened #5761 "lsdef -l -t group hang with 100% CPU in large size cluster"
run `lsdef -l -t group` on an environment with about 10k nodes, and `top` result:

[code]

[2018-11-02 17:18] cxhong commented on #5755
@kcgthb , Thanks.

This is a bug for syncfile hierarchy support.
updatenode -F will copy the syncfile to the service node `/var/log/ syncfiles`,  then ran following:
[code]
so, it's doesn't matter if this scripts is on the compute node or not.

[2018-11-02 19:33] whowutwut opened #5762 "Flashing firmware on boston node caused a fatal issue based on a return string"
Flashed boston server from an old version of FW to the latest Boston_LA firmware today

[code]

... saw this issue:

[code]

But it looks like it succeeded...?

xCAT is quite old, but i don't think anything changed in the flash code...
[code]

pUpdate version is 2.19..  Resulting firmware...
[code]

Going to try and boot the node and install an OS...

[2018-11-02 19:36] cxhong commented on #5755
@kcgthb while I tried to fix this, I think this `EXECUTEALWAYS` maybe works as design.  @immarvin , please confirm.  in the xCAT readdoc:
[code]

that's why if script is located in the syncfiledir `/var/xcat/syncfiles` on MN (for hierarchy, on SN), it will always execute on the node, this script doesn't need to be located in the node.

[2018-11-05 02:15] robin2008 commented on #5755
@cxhong
Here the issue is that `/tmp/script` should not be synced  to `sh-06-33` as we just define it as `/tmp/script.sh -> (sh-06-34) /tmp/script.sh`

So there is no problem MN to sync all files to SN, but You need to pay attention to the why SN sync the file to `sh-06-33` when only `sh-06-34` is defined for that file.

[2018-11-05 03:04] cxhong commented on #5755
@robin2008 , I understand what is the issue here.  I can recreate it from our hierarchy cluster.  from our readdoc,  EXECUTE and EXECUTEALWAYS clause is different than `->` clause,  the script doesn't need to be located in the compute node.   All the scripts will copy to SN, then  /tmp/script.sh -> (sh-06-34) /tmp/script.sh` clause will scp script to node `sh-06-34`,  but EXECUTE and EXECUTEALWAYS

[2018-11-05 03:32] immarvin commented on #5762
hi @xuweibj , any thoughts on this?

[2018-11-05 04:57] robin2008 commented on #5755
we have `updatenode_syncfile_EXECUTE`, but not cover the case `/tmp/script.sh -> (sh-06-34) /tmp/script.sh` as we only have one CN in the auto test environment.

Need to update the test case to cover it.

[2018-11-05 05:16] robin2008 commented on #5755
Per my understanding:
` EXECUTE` means the scripts will be run when the file synced to the node is updated. But you need to put two lines in synclist.
[code]
@kcgthb  Do you confirm `EXECUTE` does not support "noderange" in synclist too?

Here, if file2 is updated when sync, file2.post will be executed on nodes.

While for ` EXECUTEALWAYS`,  whatever the file is changed or not on the node, the scr

[2018-11-05 07:29] robin2008 commented on #5762
Looks like the `xcatd` on `sn02` is a modified one, it is not the same as Oct 18th. @cxhong

Maybe we can try to recreate the issue on Oct 18 or latest dailybuild.

[2018-11-05 12:59] #5745 closed

[2018-11-06 02:48] #5333 closed

[2018-11-06 02:52] zet809 commented on #5497
hi, @kcgthb , the PR have been merged to master, will you pls help to verify with latest dev build? Thx!

[2018-11-06 02:52] robin2008 commented on #5500
@thilo-maurer   would you like to verify and close this?

[2018-11-06 02:54] zet809 commented on #5576
hi, @gurevichmark , I remember you have fixed this issue, will you pls append the PR number here and close this issue? Thx!

[2018-11-06 02:55] zet809 commented on #5576
It seems the PR https://github.com/xcat2/xcat-core/pull/5727 fixed this problem, @gurevichmark , pls help to check. Thx!

[2018-11-06 07:01] robin2008 commented on #5761
In this environment which could reproduce the problem. there are about 10k different group named defined in `nodelist.groups`

So even to list a group will take more time,  after code level debuging, `getObjectsOfType` has low performance codes.
[code]
`@nodeGroupList` will contains all groups and not consider duplicate name here, so the `grep` is CPU consuming.

Here need to consider to use `hash

[2018-11-06 07:48] hu-weihua commented on #5724
@tingtli Could you open such issues against automation test in xcat-management repo next time? thanks

[2018-11-06 08:09] bybai opened #5766 "./syslog: line 281: /etc/rsyslog.d/remote.conf: Read-only file system in statelite redhat"
./syslog: line 281: /etc/rsyslog.d/remote.conf: Read-only file system in statelite redhat
During deploying statelite, there are error message in xcat.log, syslog configuration failed:
[code]
Need to update `litefile` "Sample Data for Redhat statelite setup" in https://xcat-docs.readthedocs.io/en/latest/guides/admin-guides/manage_clusters/ppc64le/statelite/config_statelite.html

[2018-11-06 13:54] talandt commented on #5673
No, I found solution with imgcapture instead

Tom

From: Weihua Hu <notifications@github.com>
Sent: Tuesday, November 06, 2018 3:25 AM
To: xcat2/xcat-core <xcat-core@noreply.github.com>
Cc: Thomas Alandt <talandt@lenovo.com>; Mention <mention@noreply.github.com>
Subject: [External] Re: [xcat2/xcat-core] after syscloning image, booting to image fails and boots to shell (#5673)

@talandt<https://git

[2018-11-06 15:01] gurevichmark commented on #5576
Yes, the problem appears to be fixed.
Verified on
[code]

[2018-11-06 15:01] #5576 closed

[2018-11-06 16:12] kcgthb commented on #5497
Hi @zet809
Yes, just tested it and I can confirm that it works as expected. Thanks!

[2018-11-06 16:13] kcgthb commented on #5497
Closing #5497 as resolved.

[2018-11-06 16:13] #5497 closed

[2018-11-06 16:39] kcgthb commented on #5755
@robin2008 Actually, it looks like `EXECUTE` does the right thing:

Synclist file:
[code]
Check that `script.sh` doesn't exist on the nodes:
[code]

`updatenode -F` on `sh-06-34` executes the script:
[code]
When run a 2nd time, it doesn't execute it, since the file is already there:
[code]
And `updatenode -F` on `sh-06-33` does not copy nor execute the script:
[code]

So I guess I will move to `EX

[2018-11-07 01:40] robin2008 commented on #5755
Yes, I think so.
`EXECUTEALWAYS` should only control the behavior of executing the script, but not for the syncing.

[2018-11-07 03:09] bybai commented on #5766
verified.

[2018-11-07 03:09] #5766 closed

[2018-11-07 10:08] hu-weihua opened #5773 "xcattest can not support too much labels, need to enchance"
``xcattest`` can not support too much labels.
When the number of label become too much, the matching algorithm will go wrong. need to enhance.

Below are the label map when the number of label goes to 75
[code]

[2018-11-07 10:12] hu-weihua commented on #5773
This issue will block PR  https://github.com/xcat2/xcat-core/pull/5763

[2018-11-07 19:05] gurevichmark opened #5775 "rspconfig admin_passwd does not update xCAT DB tables"
When `rspconfig admin_passwd` is used to change password on the BMC, the xCAT DB tables are not changed.
As a result user might not be able to access the BMC, if they forget to manually change the tables.

The bmc password might be stored in `openbmc.password` or `passwd.password`

This `rspconfig admin_passwd` was originally implemented by PR #4371 for issue #4196

[2018-11-08 02:30] tingtli commented on #5724
PR  https://github.com/xcat2/xcat-core/pull/5776

[2018-11-08 09:38] robin2008 commented on #5761
After using `hash`, the time to fetch small groups from xCAT is reduced to seconds from minutes.
Check the PR (#5769 ) for the result.

Another big problem here:  for 10k groups, there are is a too large loop to get all required columns in each table.

Although fetch all tables from DB take seconds, but when requesting all groups, it wasted all the time in the huge loop, so the CPU is 100% for a v

[2018-11-08 16:31] gurevichmark commented on #5775
Looking at the rest of the `rspconfig` commands, it seems like none of them modify DB tables, so maybe a solution should be to just display a warning message to the user reminding them to update DB table for the node. Something like:
[code]
@zet809 @whowutwut What do you think ?

[2018-11-09 07:43] robin2008 commented on #5652
Yes, cannot recreate it anymore. I guess it might be caused by that time the MN is running in a heavy workload.

To close it first.

[2018-11-09 07:43] #5652 closed

[2018-11-09 15:44] cxhong opened #5785 "Failed to download network interface to Cumulus Switches"
IST test system got few cumulus switches from WSC cluster  with static ip address already set up.  when adm ran `updatenode f1tor configinterface`, it return 0 but `/etc/network/interface.d/xCAT.intf file was not updated.

[code]

[2018-11-09 15:44] gurevichmark commented on #5775
Recommendation from @zet809 is to just add a message and not modify any DB tables, because it will affect performance.

[2018-11-09 15:50] whowutwut commented on #5775
Another thing to look at ... perhaps a bug... is that we are waiting for some response to come back...  it seems like once the network attributes are changed on the BMC we can't rely on this response to come back. Depending on how fast the network changes are made on the BMC..   The error coming back is misleading to the end user.

[code]

So I think in these scenarios where we are changing IP add

[2018-11-09 16:07] cxhong commented on #5785
The PR https://github.com/xcat2/xcat-core/pull/4834  changed to get  xCAT Master ip address from dhcpd leases file instead of `mypostscript`.  for this issue,  since the  ip address is manually changed to static and there are no dhcpd process involved.  The dhcpd lease file on the switch still have the old information, with old xCAT Master ip address, which cause the switch can't reach to old Mast

[2018-11-11 19:08] ryanbowen opened #5788 "[Feature Request] Add macmap to REST API"
Being able to run either the entire macmap or something like xcatprobe switch_macmap for a switch on demand via REST would be incredibly useful for manually discovering nodes/devices when traditional discovery options won't work.

For example, say you have a non-Lenovo chassis manager that is set to DHCP by default.

What we currently do to kick off remote discovery of these devices is:

1. Create

[2018-11-12 01:43] immarvin commented on #5788
hi @ryanbowen , we will take a look at this in the following sprints, please trace the progress in this ticket

[2018-11-12 02:49] bybai opened #5789 "configeth prints error messages when empty netmask configuration in networks table"
If there is empty `mask` in `networks` entry, `configeth` print syntax error.
[code]

[2018-11-12 05:29] robin2008 commented on #5209
This is covered in #5783

[2018-11-12 09:53] neo954 opened #5794 "Make the default setting of site.xcatsslversion contemporary"
Currently, xCAT is shipped with `site.xcatsslversion` set to `TLSv1` as the default setting. Which is behind the times.

In xCAT document, [OpenSSL Configuration](https://xcat-docs.readthedocs.io/en/stable/advanced/security/ssl_config.html), the end user was asked to change the default setting to `TLSv12` or `TLSv1_2`.

I would like xCAT to revise this part
 1. Provide a contemporary default setti

[2018-11-12 10:44] neo954 opened #5795 "Spelling errors of `invoke_provison`, should be `invoke_provision`"
The spelling of `invoke_provison`should be `invoke_provision`.

Please correct the spelling error.

[code]

[2018-11-12 10:56] immarvin commented on #5788
hi @ryanbowen , I cannot find you email from your GitHub account, is it possible to send me(yangsbj[AT]cn.ibm.com) your email address or other online contact channel? so that we can get more information about your scenario and the background of this feature request.

[2018-11-12 15:23] ryanbowen commented on #5788
Hi @immarvin, I sent you an email.

[2018-11-12 17:10] thilo-maurer commented on #5500
In my production code I additionally have a ```systemctl enable openibd```, but unsure whether this is required or not (it may have be set by the installer?). Looks good otherwise.

[2018-11-13 00:07] dombrowa opened #5797 "Connection failure: SSL connect attempt failed with unknown error error:14077410:SSL routines:SSL23_GET_SERVER_HELLO:sslv3 alert handshake failure at /opt/xcat/lib/perl/xCAT/Client.pm line 281."
xcat fails to function after reboot

initially only rcons was noticed to fail with ssl error
[root@dccxcat ~]# rcons tulgbfen1
console: SSL negotiation failed
70366566458160:error:14094418:SSL routines:ssl3_read_bytes:tlsv1 alert unknown ca:s3_pkt.c:1493:SSL alert number 48

After finding that xcat versions need to be in sync I checked and confirmed.

update history
Nov 05 14:19:09 Updated: 4:xCAT

[2018-11-13 03:12] immarvin commented on #5797
hi @dombrowa , why is package `xCAT` not installed?   how did you upgrade or install xCAT?

[2018-11-13 03:30] immarvin commented on #5797
not sure whether same issue with https://github.com/xcat2/xcat-core/issues/1047

[2018-11-13 04:55] dombrowa commented on #5797
1) How do I confirm which TLS version is used ?
2) How do I set xcatsslversion = TLSv12 if SSL prevents using tabdump, chtab, tabedit etc ?

I have recreated keys - no success
I have used keys form another research cluster with the same xcat versions  - no success

[2018-11-13 06:43] neo954 commented on #5794
In the description of CPAN document, https://metacpan.org/pod/IO::Socket::SSL, there is no difference between the keyword `TLSv1_2`, and `TLSv12`. Thus I believe the xCAT document may wrongly described.

[2018-11-13 08:51] robin2008 commented on #5789
Fixed in #5790

[2018-11-13 09:03] immarvin commented on #5797
hi @dombrowa ,please provide the linux distribution version by `cat /etc/*release`. run `XCATBYPASS=Y /opt/xcat/sbin/tabedit site` to edit site attribute

[2018-11-13 09:19] immarvin commented on #5797
provide the output of `XCATBYPASS=Y /opt/xcat/sbin/tabdump site`

[2018-11-13 13:48] dombrowa commented on #5797
[root@dccxcat ~]# XCATBYPASS=Y /opt/xcat/sbin/tabdump site
#key,value,comments,disable
"blademaxp","64",,
"domain",,,
"fsptimeout","0",,
"installdir","/install",,
"ipmimaxp","64",,
"ipmiretries","3",,
"ipmitimeout","2",,
"consoleondemand","no",,
"master","10.0.0.2",,
"forwarders","9.2.250.86,9.0.130.50",,
"nameservers","10.0.0.2",,
"maxssh","8",,
"ppcmaxp","64",,
"ppcretry","3",,
"ppctimeout","0",

[2018-11-13 19:46] dombrowa commented on #5797
Attempts made:
https://xcat-docs.readthedocs.io/en/stable/advanced/security/certs.html

Read the TLS version problem issue https://github.com/xcat2/xcat-core/issues/1047 which does not contain plain instruction how to fix as I cannot obtain TLS version via any tabdump etc. command

No help in the script - what is the CA name required as $1 ?
[root@dccxcat ~]#  /opt/xcat/share/xcat/scripts/setup-xc

[2018-11-13 19:48] whowutwut opened #5799 "Insufficient error messages when trying to rinstall a vm that does not have any backing storage file"
When running `rinstall` on VMs, the error message here is not informative enough

[code]

The issue here is that there's no storage file for the VM, but seems like some info is missing from that ...
[code]

Using nov8 build.
[code]

[2018-11-13 20:13] cxhong commented on #5797
from your `tabdump site`,  this is sslversion
[code]
To change xcatsslversion to `TLSv12`  , you can run
[code]
then change `TLSv1` to `TLSv12`

Also, I noticed the site table didn't have domain set:
[code]

[2018-11-13 20:20] dombrowa commented on #5797
[root@dccxcat ~]# XCATBYPASS=Y /opt/xcat/sbin/tabedit site
[root@dccxcat ~]# systemctl restart xcatd
[root@dccxcat ~]# xcatstat
# Hostname:Status:Network-Interfaces:
[root@dccxcat ~]# XCATBYPASS=Y /opt/xcat/sbin/tabedit site
[root@dccxcat ~]# systemctl restart xcatd
[root@dccxcat ~]# systemctl status  xcatd
● xcatd.service - xCAT management service
   Loaded: loaded (/usr/lib/systemd/system/xcatd.

[2018-11-13 21:01] cxhong commented on #5797
can u run `tabdump site` again?

that's all the xcat rpm installed ,  I think you missed half of packages
[code]
make sure you updated `domain` attribute in the site table, maybe upgrade xcat again
[code]

[2018-11-13 21:15] gurevichmark commented on #5775
@whowutwut Currently at the end of `rspconfig` command to change network we display
[code]
What if we add a line showing Zero Config IP also.

[code]

[2018-11-13 21:35] dombrowa commented on #5797
[root@dccxcat ~]# tabdump site
Unable to open socket connection to xcatd daemon on localhost:3001.
Verify that the xcatd daemon is running and that your SSL setup is correct.
Connection failure: SSL connect attempt failed with unknown error error:14077410:SSL routines:SSL23_GET_SERVER_HELLO:sslv3 alert handshake failure at /opt/xcat/lib/perl/xCAT/Client.pm line 281.

[root@dccxcat ~]# XCATBYPASS=Y

[2018-11-13 21:37] dombrowa commented on #5797
[root@dccxcat ~]# for x in restart status;do systemctl $x xcatd; done
● xcatd.service - xCAT management service
   Loaded: loaded (/usr/lib/systemd/system/xcatd.service; enabled; vendor preset: disabled)
   Active: active (running) since Tue 2018-11-13 16:36:17 EST; 9ms ago
  Process: 41486 ExecStop=/etc/init.d/xcatd stop (code=exited, status=0/SUCCESS)
  Process: 41539 ExecStart=/etc/init.d/xcatd

[2018-11-13 21:40] dombrowa commented on #5797
And remote console which was the start of the problem still  does not connect

[root@dccxcat ~]# systemctl restart conserver
[root@dccxcat ~]# rcons tulgb005
console: SSL negotiation failed
70367434089408:error:14094418:SSL routines:ssl3_read_bytes:tlsv1 alert unknown ca:s3_pkt.c:1493:SSL alert number 48

[2018-11-13 22:00] cxhong commented on #5797
Mmm, we may need to change back to `TLSv1` in the site table then restart xcatd.
verify with this link again:  https://xcat-docs.readthedocs.io/en/stable/advanced/security/certs.html

[2018-11-13 22:00] dombrowa commented on #5797
xcat seems to function again except the remote console

[root@dccxcat ~]# rpower tulgpu-compute status
tulgb008: on
tulgb001: off
tulgbfen1: on
tulgb004: off
tulgb007: on
tulgb005: on
tulgb010: on
tulgb006: on
tulgb002: off
tulgb000: off
tulgb003: off

[root@dccxcat ~]# xdsh tulgpu-compute hostname
tulgb005: tulgb005
tulgb007: tulgb007
tulgb006: tulgb006
tulgb010: tulgb010
...

[2018-11-13 22:04] cxhong commented on #5797
can u try to use goconserver instead of conserver?

https://xcat-docs.readthedocs.io/en/stable/advanced/goconserver/quickstart.html?highlight=goconserver

[2018-11-13 22:11] dombrowa commented on #5797
Reverted back to TLSv1
[root@dccxcat .ssh]# XCATBYPASS=Y /opt/xcat/sbin/tabdump site| egrep -i 'domain|tls'
"LDAP_BASE_DOMAIN","dc=dcc,dc=com",,
"domain","tuletacluster.com",,
"xcatsslversion","TLSv1",,

REstarted xcatd
[root@dccxcat .ssh]# for x in restart status;do systemctl $x xcatd; done
● xcatd.service - xCAT management service
   Loaded: loaded (/usr/lib/systemd/system/xcatd.service; enabled

[2018-11-13 23:20] dombrowa commented on #5797
Found https://xcat.org/files/xcat/repos/yum/xcat-dep/rh7/ppc64/goconserver-0.0-0.noarch.rpm and installing it does not show any executable

[root@dccxcat ~]# rpm -ivvv goconserver-0.0-0.noarch.rpm
D: ============== goconserver-0.0-0.noarch.rpm
D: loading keyring from pubkeys in /var/lib/rpm/pubkeys/*.key
D: couldn't find any keys in /var/lib/rpm/pubkeys/*.key
D: loading keyring from rpmdb
D: openi

[2018-11-14 05:43] bybai opened #5800 "nicextraparams does not overwrite existed ifcfg attribute in confignetwork"
This is from slack channel and https://github.ibm.com/vhu/c910env/issues/340:

@bybai , I followed your step, and try to add "BONDING_OPTS=mode=1", but it same didn't apply,
[code]

[2018-11-14 06:33] robin2008 commented on #5800
This is covered in #5801 @cxhong you could have a try with the latest fix.

[2018-11-14 09:15] immarvin commented on #5797
@dombrowa , please take a look at this section: https://xcat-docs.readthedocs.io/en/latest/advanced/security/ssl_config.html to verify your ssl configuration and correct your ssl configuration

[2018-11-14 10:10] zet809 commented on #5564
hi, @marksmit-ibm , a new goconserver build with fix for this issue is available at  http://xcat.org/files/xcat/repos/yum/devel/xcat-dep/rh7/ppc64le/goconserver-0.3.2-snap201811080416.ppc64le.rpm, will you pls take a try and let us know the result? Thx!

[2018-11-14 10:41] hu-weihua opened #5802 "[i18n problem] go-xcat failed to handle locale zh_CN.UTF-8"
[code]

[2018-11-14 18:53] cxhong commented on #5785
code merged, will close the issue.

[2018-11-14 18:53] #5785 closed

[2018-11-14 19:09] cxhong commented on #5797
@dombrowa , looks like TLSv12 works better than TLSv1.
goconserver should be in the `xcat-dept.repo`  repository
`yum install goconserver`  should pick up goconserver rpm.
what's your repo list,  do u have multiple xcat repos ? (should have two, one for xcat-core and one for xcat-dep)

[2018-11-14 21:29] gurevichmark commented on #5775
Python version of the code implemented by #5803

[2018-11-15 07:44] hu-weihua opened #5804 "Some known issue about label of test case"
There are below known issues about label of test case:

*  typo label name ``invoke_provison``
related issue : https://github.com/xcat2/xcat-core/issues/5795

[code]

* The directory name ``xcat-inventory`` is no a valid label name, due to we have added directory name as default label, so  ``xcat-inventory`` will result in error. Should change to ``xcat_inventory``. ``go-xcat`` is the same issue.

[2018-11-15 08:51] #5724 closed

[2018-11-15 19:29] gurevichmark opened #5807 "Error at the end of rflash of 9006-22C"
Seems like BMC flashed ok, then Host flash fails:
[code]

[2018-11-15 19:51] ChrisPJames commented on #5252
Not sure of this related but we have found an issue where syncfiles returns an exit code 1 when provisioning centos/redhat 6 hosts. centos/redhat7 hosts are absolutely fine. However, same symptoms as above whereby once the provision has finished provisioning you can run updatenode <node> -F and the files are copied across no problem. Again - just a problem with centos/redhat6 systems. I thought th

[2018-11-16 00:43] Jamchan1006 opened #6814 "Unsupport Attribute Install"
xCAT Version: 2.14.4
OS Version: CentOS 7.5
I want to install MLNX OFED into CentOS 7.5 netboot image, but show the error "Unsupport Attribute Install".
The command in the postscritps is "/install/postscripts/mlnxofed_ib_install -p /install/mlnx/MLNX_OFED_LINUX-4.4-1.0.0.0.-rhel7.5-x86_64.iso install -i $1 -n genimage"

[2018-11-16 01:40] bybai commented on #5800
@rennerj verified this fix in c910 issue https://github.ibm.com/vhu/c910env/issues/340#issuecomment-8621128. closed it.

[2018-11-16 01:40] #5800 closed

[2018-11-16 02:12] robin2008 commented on #5252
@ChrisPJames
Could you tell us more about your environment?  we want to recreate it on our test environment.
- MN's OS and xCAT version
- Is it hierarchy?
- what's the `node definition`  (get rid of the sensitive info) `lsdef -t node <foo> --osimage`
- and what's the site definition (get rid of the sensitive info) `lsdef -t site -l`

And yes, postscript `syncfiles` is just a wrapper on CN. When ex

[2018-11-16 05:35] robin2008 commented on #5794
Yes, It’s Time to Disable TLS 1.0 and SSLx for security consideration.  So here is xcat proposal.
- For fresh installed xCAT,  tls1.2 is used by default
- For update xCAT case,  still use the original settings (should we give an warning for version prior to tls 1.2?)

[2018-11-16 11:49] ChrisPJames commented on #5252
MN = centos7.4 with various updates but probably not the latest updates
xCAT version= We upgraded to 2.14.4 and started experiencing this particular issue. We have since downgraded using yum downgrade, back to 2.13.11 and still see the same issue so something hasnt been cleaned up correctly. Its currently on 2.13.11.
hierarchy = MN with a bunch of stateful CNs. no SNs

# lsdef -t node shark012 --o

[2018-11-16 11:52] ChrisPJames commented on #5252
This is what we see in the cluster log at the time of syncfiles:

Nov 16 11:25:44 shark012 xcat.mypostscript:  Running postscript: syncfiles
Nov 16 11:25:44 xcat xcat[19560]: DEBUG xcatd: connection from shark012
Nov 16 11:25:44 xcat xcat[19560]: DEBUG xcatd: open new process : xcatd SSL: syncfiles for shark012
Nov 16 11:25:44 xcat xcat[19560]: xCAT: Allowing syncfiles from shark012
Nov 16 11:25:4

[2018-11-16 13:34] ChrisPJames commented on #5252
One last comment: I added syncfiles to the postbootscripts section and it completes without any problem:

Nov 16 13:18:34 shark012 xcat.mypostscript:  Running postbootscript: syncfiles
Nov 16 13:18:34 xcat xcat[26844]: DEBUG xcatd: connection from shark012
Nov 16 13:18:34 xcat xcat[26844]: DEBUG xcatd: open new process : xcatd SSL: syncfiles for shark012
Nov 16 13:18:34 xcat xcat[26844]: xCAT: All

[2018-11-18 21:59] marksmit-ibm commented on #5564
@zet809   Successful yum update of *xCAT* and goconserver to devel/ version >=11/14/2018 deps.
First Mgmt node, then both SN's.  Afterwards I am able to start rcons <node> without any trouble.
Thank you!

[2018-11-19 01:45] robin2008 commented on #5564
Ok, to close it.

[2018-11-19 01:45] #5564 closed

[2018-11-19 01:48] xuweibj commented on #5762
The xcatd run on sn02 is not the same with master, here ``$_->{data}`` consider as array.
[code]

And in ipmi.pm, set data as string. So get error msg.
[code]

I will modify data format in ipmi.pm to array.

[2018-11-19 01:59] hu-weihua opened #5810 "Some change against sign key for xcat dep packaging resulted in the rhel migration from 2.14.3 to 2.14.5 and sles 2.14.3 installation failed"
Some change against sign key for xcat dep packaging resulted in below error:
*  The redhat migration from 2.14.3 to 2.14.5 failed
*  sles 2.14.3 installation failed

The log for redhat migration:
[rhel_migration_2.14.3to2.14.5.log](https://github.com/xcat2/xcat-core/files/2593534/rhel_migration_2.14.13to2.14.14.log)

The log for sles 2.14.3 isntallation:
[code]

[2018-11-19 02:03] robin2008 commented on #5762
I just grep `data =>` in `ipmi.pm`, there are many such errors.  And I think this case still exists in other plugins.

Need to search  them for all.

[2018-11-19 08:10] zet809 commented on #5810
Hi, @neo954 , will you pls help to fix this issue ASAP, it blocks our release. Thx a lot!

[2018-11-19 09:14] bybai opened #5817 "Add log in the `pre` script of Anaconda, instead of the `post` of Anaconda"
From Victor slack channel requirements: One comment here:
[code]

If you  look at the time stamp, the deployment starting does not get printed when the node is actually re-install but when the post processing happens. so if i do a install of RHEL , i get no messages while it’s installing until postinstall steps are hit..

Could we improve it?

Now there is pre scripts pre.rh.rhels7 without any log

[2018-11-19 14:40] whowutwut opened #5818 "Attempt to capture misconfiguration in an xCAT diskful osimage and exit with error message"
To scope this item smaller to fix it quickly, this is only opened to fix diskful osimage deployment.  If diskless has a similar issue, we can open another one to track that.

In playing with different ways to create package lists in a more re-usable fashion where I want to share the base pkglist but not INCLUDE other files, **AND** not create a new file, I put multiple pkglist into the osimage.

T

[2018-11-20 02:31] hu-weihua opened #5819 "xcat-dep-ubuntu-201811190422.tar.bz2 can not be decompressed"
``xcat-dep-ubuntu-201811190422.tar.bz2`` can not be decompressed.

[code]

[2018-11-20 06:11] robin2008 commented on #5762
It looks like `data` in response support both ARRAY and SCALA,  so no need to modify the plugin.
Instead, the new codes not considering to handle `data` well,  it is wrong.

[2018-11-20 06:15] robin2008 commented on #5762
@xuweibj @cxhong
Please help to confirm if the codes handling `data` by wrong still exists in `xcatd`,  if not, we can close this ticket.

[2018-11-20 06:39] xuweibj commented on #5762
I have tried to replace xcatd code on sn02 with the newest code, no error encountered. And if we want to modify the plugins like pr #5814, too many files need to be modified and may get other error. So I think this is not a problem and will not modify code to fix it.

[2018-11-20 06:39] #5762 closed

[2018-11-20 08:50] bybai commented on #5819
After using new xcat-dep-ubuntu tar ball, CI failure as:
[code]

[2018-11-20 11:09] neo954 commented on #5819
It looks like `goconserver` problem.
[code]

[2018-11-20 14:47] zet809 commented on #5819
Great finding, @neo954 , seems we need to refine the postinst script for goconserver for deb package.

[2018-11-21 05:33] #2629 closed

[2018-11-21 05:51] zet809 commented on #5819
CI is passed, so, close this issue.

[2018-11-21 05:51] #5819 closed

[2018-11-21 11:05] neo954 commented on #5802
A patch was created. Please review pull request #5827.

[2018-11-21 15:05] ryanbowen opened #5828 ""copycds -i <iso path>" copies media content when it shouldn't"
While testing ESXi support, I noticed that running copycds with "-i|--inspection" on an ESXi image actually does the extraction/copy of the target media instead of just checking the media.

[code]

[2018-11-22 03:36] immarvin commented on #5818
Hi @whowutwut , thanks for pointing this out. The difficulty here is that the subroutine call stack is too deep, it is hard to throw out the error message from the innermost subroutine,  unless we add a argument in each subroutine in the call stack to pass the `::$CALLBACK`, which is a little weird for some common subroutines in the library. maybe some kind of restructure is needed.

We will have

[2018-11-22 06:44] immarvin commented on #5828
hi @bybai ,would you please take a look at this

[2018-11-22 09:20] neo954 commented on #5810
The problem does not exist any more. I will close this one.

[2018-11-22 09:20] #5810 closed

[2018-11-22 10:52] #5740 closed

[2018-11-22 10:52] #5500 closed

[2018-11-22 10:52] #842 closed

[2018-11-23 05:54] neo954 commented on #5588
Will close this one.

[2018-11-23 05:54] #5588 closed

[2018-11-23 05:55] neo954 commented on #5802
Will close this one.

[2018-11-23 05:55] #5802 closed

[2018-11-23 10:20] bybai commented on #5828
Hi @ryanbowen,
What is the out put of xCAT version `lsxcatd -v`?
Does the extraction/copy of the target media work well for you?
What is the results of command `copycds -n <osdis> -a x86_64 <iso_name>` ?

[2018-11-26 15:40] ryanbowen commented on #5828
@bybai
What is the out put of xCAT version lsxcatd -v? `Version 2.14.1 built Fri Jun  1`
Does the extraction/copy of the target media work well for you? The extraction works fine, it's just that -i does the actual copy instead of inspecting the iso.
What is the results of command copycds -n <osdis> -a x86_64 <iso_name> ? It extracts the iso to `/install/esxi6.5/x86_64/`. (It does not create an osi

[2018-11-27 01:51] #5789 closed

[2018-11-27 01:52] bybai commented on #5644
It is fixed in #5743, I will close this issue, if needed, re-open it later.

[2018-11-27 01:52] #5644 closed

[2018-11-27 02:07] bybai commented on #5733
verified by auto test

[2018-11-27 02:07] #5733 closed

[2018-11-27 02:10] #5209 closed

[2018-11-27 02:14] immarvin opened #5835 "the discussion and final version of "xcat-inventory apply""

[2018-11-27 03:07] #5835 closed

[2018-11-27 03:12] robin2008 commented on #5761
verified it with latest build.

[2018-11-27 06:16] robin2008 commented on #5618
it is covered in https://github.com/xcat2/xcat-core/pull/5836/files

[2018-11-27 06:58] immarvin commented on #5755
hi @kcgthb , the issues has been fixed in https://github.com/xcat2/xcat-core/pull/5834

[2018-11-27 16:03] kcgthb commented on #5755
Awesome, thank you!

[2018-11-27 18:40] cxhong commented on #5728
`perl-DBD-MySQL` is included in the service pkglist.  when you deploy a service node , you should use the `service` osimage.   In the following case, sn02 is a service node
[code]
So, please make sure you are using service osimage and service pkglist contains `perl-DBD-MySQL`

[2018-11-27 19:49] gurevichmark opened #5839 "Allow setting of openbmc defaul gateway with rspconfig command"
Based on discussion with Ratan on Slack:
https://ibm-systems-power.slack.com/archives/C0Q6TQP5Z/p1542385783338800

Seems like setting gateway value inside the network object is of no use.
We should instead set default gateway object.

[2018-11-27 20:07] whowutwut commented on #5839
@gurevichmark could you do a quick summary of what was addressed since not everyone would be able to read that slack channel..

OpenBMC will be implementing Redfish support, so the issue that we brought up will be addressed on that implementation rather than creating a change in the existing API, causing a big migration effort based on the firmware levels installed on the server.

[2018-11-28 01:49] xuweibj opened #5840 "[automation] Installation failed on several OS because error in DSHCLI.pm"
ubuntu18.04.1-P8VMs-Mysql (not only this project)

[code]

[2018-11-28 02:40] immarvin commented on #5840
fixed in https://github.com/xcat2/xcat-core/pull/5841

[2018-11-28 03:56] tingtli commented on #5795
https://github.com/xcat2/xcat-core/pull/5842

[2018-11-28 06:25] marksmit-ibm opened #5843 "copycds <dvd1.iso> <dvd2.iso> <dvd3.iso> results in only dvd3 content"
Recreated on RHEL MGMT node attempting to do copycds for SLES15 and SLES12.SP4.
In both SLES osdistros,  osimages are properly created.
However when more than 1 dvd is specified, only the contents of the last iso specified in the list remains. In the case of SLES12.SP4 both dvd1 and dvd3 go in the /1/ subdirectory.
In the case of SLES15, all 3 install iso's go in the same /1/ subdir.

https://xcat

[2018-11-28 08:45] xuweibj opened #5845 "Summary of failed cases in xcat-inventory CI"
* Case: ``xcat_inventory_try_to_import_all_type_is_site_json_format``

[code]

* Case: ``export_import_single_pdu_by_yaml``
[code]

[2018-11-28 09:54] zet809 commented on #5150
hi, @gurevichmark , the issue mentioned in your comments above have been fixed with https://github.com/xcat2/xcat-core/pull/5846, pls review and verify. Thx!

[2018-11-28 10:01] zet809 commented on #5839
Since it is very near the 2.14.5 release,(DCUT will be this friday), I'd like to move this issue to 2.15 and as @whowutwut mentioned, maybe implement in RedFish support.
What is your idea?

[2018-11-28 10:16] bybai commented on #5843
Hi @marksmit-ibm,
I reproduced this issue, It is a old copycds bug. copycds does not support sles src and debuginfo ISO well.

For  sles12.4, copycds the third iso cause the problem. Now copycds these 2 iso work well:
`copycds SLE-12-SP4-Server-DVD-ppc64le-GM-DVD1.iso SLE-12-SP4-Server-DVD-ppc64le-GM-DVD2.iso`
For sle15, currently copycds supports these full iso work well:
`copycds SLE-15-Installe

[2018-11-28 21:39] cxhong commented on #5843
SlE-15 worked fine, because following of code:
[code]
For other sles version,  DVD1 and DVD3 has similar directory structure,  and both contains 'media.1', and xcat split `media.1` as `$disnumber`.   If we want to use copycds for DVD3.iso,  we may need to do similar as for SLE-15.
[code]

[2018-11-28 21:47] cxhong commented on #5828
looking the code, the esx plugin for copycds only supports following options:
[code]
so, option `-i` is not supported.  we should added it.

[2018-11-29 03:33] #5775 closed

[2018-11-29 03:57] sinoag123 opened #5847 "postscripts not run in compute node"
xcat version is Version 2.14.4 ，install rhel7.2 compute node is ok，but found compute node nic is dhcp ，I want to change nic static
[root@rhel72 ~]# tabdump postscripts
#node,postscripts,postbootscripts,comments,disable
"xcatdefaults","syslog,remoteshell,syncfiles","otherpkgs",,
"service","servicenode",,,
"compute","hardeths,configRSH,configService,configNFS,syslog,remoteshell,syncfiles,setupntp,re

[2018-11-29 04:53] hu-weihua opened #5848 "The change of go-xcat test cases directory name trigger test case ``install_xCAT_on_ubuntu``failed"
PR #5842 changed of go-xcat test cases directory name from ``go-xcat`` to ``go_xcat`` to let label system work as expected. This change  trigger test case ``install_xCAT_on_ubuntu``failed.

[code]

It also will effect some test cases of ``go-xcat``.

[2018-11-29 05:19] neo954 commented on #5751
Verified on xCAT build `2.14.5-snap201811280617`.

[code]

[2018-11-29 05:20] neo954 commented on #5751
Will close this one.

[2018-11-29 05:20] #5751 closed

[2018-11-29 06:28] neo954 opened #5850 "netboot=grub2-http or netboot=grub2-tftp not working"
This bug is against xCAT version `2.14.5-snap201811280617`.

The bug recreation steps.
[code]

[code]

The normal result for comparison.

[code]

[2018-11-29 09:06] hu-weihua commented on #5804
Have been verified. close this issue.

[2018-11-29 09:06] #5804 closed

[2018-11-29 09:18] bybai commented on #5843
@cxhong, SLE-15  have the similar problem,  there are 3 installer and 3 packages ISOs, and all 3 installer ISOs disc number is 1. all 3 packages ISOs disc number is 2, and these 3 ISOs contain different repos but our code do not deal with them well.
If we want to provision, SLE15 suggest use SLE-15-Installer-DVD-ppc64le-GM-DVD1.iso and SLE-15-Packages-ppc64le-GM-DVD1.iso
[code]

[2018-11-29 10:50] neo954 opened #5851 "Support httpport for netboot=grub2-http"
See the example of `grub2.cfg` below. The HTTP port number need to be added to the `set root` line.
[code]

[2018-11-29 10:52] neo954 commented on #5851
And `grub2-xcat-2.02-0.76.el7.snap201811290530.noarch.rpm` need to be used. It is recompiled from the latest source of RHEL 7.

[2018-11-29 10:55] neo954 commented on #5851
See https://github.com/xcat2/xcat-dep/pull/30 for the `xcat-dep` updates.

[2018-11-29 18:38] cxhong commented on #5847
only has one nic for compute node?  can u show output of ` ifconfig -a` on the compute node?
also, can u show `lsdef rhel72-clinet` and 'grep rhel72-client /etc/hosts`  ?
or, checking this doc for config nics
https://xcat-docs.readthedocs.io/en/stable/guides/admin-guides/manage_clusters/ppc64le/diskless/customize_image/network/cfg_network_adapter.html?highlight=confignetwork

[2018-11-30 00:49] xuweibj commented on #5840
Verified in automation.

[2018-11-30 00:49] #5840 closed

[2018-11-30 02:36] marksmit-ibm opened #5852 "40-redhat.rules file change causes postscript cuda_power9_setup to fail"
With RHEL7.6-alt a change in the systemd rpm in file, $chroot//lib/udev/rules.d/40-redhat.rules
results in postscript cuda_power9_setup
failing to remove the hot memory add line in both the diskful and diskless builds.

The postscript command above finds the line in 7.5 but does not match the new 7.6-alt
SUBSYSTEM=="memory"   changed to
SUBSYSTEM!="memory"

Additionally I am unsure of the GOTO and

[2018-11-30 03:07] marksmit-ibm commented on #5852
systemctl status nvidia-persistenced
seems to be reading correctly after commenting all the lines in the power9 case for diskful/rhel7.6-alt
[code]

[2018-11-30 06:18] marksmit-ibm commented on #5852
Commenting out or Removing the first line was not enough to fix the problem.
However, inserting a line after `# Memory hotadd request`

did seem to also provide the correct output from `systemctl status nvidia-persistenced`.

[2018-11-30 06:56] neo954 commented on #5748
Verified on xCAT version `snap201811280617`.

[2018-11-30 06:57] neo954 commented on #5748
I will close this one.

[2018-11-30 06:57] #5748 closed

[2018-11-30 07:20] neo954 commented on #5701
The patch in `xCAT-probe/lib/perl/probe_utils.pm` still has problem. See code below,
[code]
Say, `httpd` process is configured to listen at tcp port 65535, but `site.httpport` is configured as 535. The code shown above will get a false positives result.

[2018-11-30 10:33] immarvin commented on #4876
this issue is recreated, spent some time to look into it. The root cause in this scenario is:
1.  there are multiple disks on the server: sda, sdb
2. there is an incomplete os installation on sda, the installation process is interrupted before kernel rpm is installed, there is no `vmlinuz*` file under `/boot` directory, hence:
   (1) `getinstalldisc` does not pick up sda as the installation disk,

[2018-11-30 10:38] immarvin commented on #4876
the workaround is to set `site.xcatdebugmode=2` to enable xcatdebugmode and kick off provision, then ssh to the installer and remove the VG `system` with
[code]

I also created a PR on this, but this will come into next release

[2018-11-30 10:44] immarvin commented on #4876
fixed in https://github.com/xcat2/xcat-core/pull/5855/files

[2018-11-30 20:32] gurevichmark commented on #5839
@zet809 @whowutwut
Yes, according to Ratan, nothing will be changed in the current level of FW, they will do it in RedFish.

But our current implementation is not correct - changing the `Gateway` attribute inside the network object does not do anything.
[code]

We need to change our `rspconfig gateway=` command to change the `DefaultGateway` attribute inside the network config object:
[code]

This

[2018-12-01 01:04] hu-weihua opened #5856 "The output of some hardware control command are not same between perl and python"
Below output of hardware control command are not same between perl and python

* rspconfig f5u14  timesyncmethod=abc
in perl
[code]

in python
[code]

* rspconfig f5u14 powerrestorepolicy=abc
in perl
[code]
 in python
[code]

[2018-12-01 01:06] hu-weihua commented on #5856
link to https://github.com/xcat2/xcat2-task-management/issues/415

[2018-12-01 01:06] hu-weihua opened #5857 "rspconfig dump failed in python"
``rspconfig  dump`` failed in python.

[code]

And there is no files under ``/var/log/xcat/dump/``
[code]

But it can work in perl:
[code]

[2018-12-01 01:06] hu-weihua commented on #5857
link to xcat2/xcat2-task-management#415

[2018-12-01 01:08] hu-weihua opened #5858 "test cases `rbeacon_false` failed due to the change of output of rbeacon"
Below test cases failed due to the change of output of xcat command:

* rbeacon_false
[code]

[2018-12-01 01:08] hu-weihua commented on #5858
https://github.com/xcat2/xcat2-task-management/issues/415

[2018-12-01 01:27] hu-weihua opened #5860 ""go-xcat -x 2.13 -y install" failed in ubuntu 16.04.5"
``go-xcat -x 2.13 -y install``  failed in ubuntu 16.04.5

[code]

[2018-12-03 00:59] neo954 commented on #5860
@hu-weihua, Here is the problem. Please check your testing environment.

[code]

[2018-12-03 01:16] neo954 commented on #5700
This issue is verified with xCAT version `snap201811280617`.

[2018-12-03 01:17] neo954 commented on #5700
I will close this one.

[2018-12-03 01:17] #5700 closed

[2018-12-03 03:34] neo954 commented on #5860
[code]

[2018-12-03 03:52] hu-weihua commented on #5848
Have been verified in automation test environment. close this one.

[2018-12-03 03:52] #5848 closed

[2018-12-03 03:53] hu-weihua commented on #5719
have been verified. close this one.

[2018-12-03 03:53] #5719 closed

[2018-12-03 05:44] hu-weihua commented on #5857
This issue duplicate with https://github.com/xcat2/xcat-core/issues/5290. close this one.

[2018-12-03 05:44] #5857 closed

[2018-12-03 05:51] neo954 commented on #5750
Verified on xCAT build `2.14.5-snap201811280617`.

[2018-12-03 05:51] neo954 commented on #5750
Will close this one.

[2018-12-03 05:51] #5750 closed

[2018-12-03 08:49] neo954 commented on #5860
@hu-weihua, Do you have any steps to recreate this problem?

[2018-12-03 09:53] immarvin commented on #5847
is ens192 your provision NIC?

[2018-12-03 09:54] neo954 commented on #5721
Verified on xCAT `2.14.5-snap201811300617`.
[code]
[code]

[2018-12-03 09:54] neo954 commented on #5721
Will close this one.

[2018-12-03 09:54] #5721 closed

[2018-12-03 10:11] hu-weihua opened #5862 "``httpport`` attribute can not work well in ubuntu diskless"
``httpport`` attribute can not work well in ubuntu diskless

[code]

[2018-12-03 20:16] cxhong commented on #5755
please reopen if there are issues.

[2018-12-03 20:16] #5755 closed

[2018-12-04 01:38] bybai opened #5864 "[customer]doc mislead user to use kerneldir in osimage definition"
This is from xcat-user mailing list :
The document seems to have a problem with the examples —
the description talks about “kerneldir” attribute, but the example uses “pkgdir”.
When I use pkgdir it clobbers the existing value (/install/rhels7.3/x86_64)
with new value (/install/kernels/3.10.0-862.14.14.el7.x86_64)

I think it should say chdef -t osimage <> -p kerneldir=<>
I got further using that f

[2018-12-04 02:04] bybai commented on #5864
I think user confused about "kerneldir" and "pkgdir" in the docs. "kerneldir" here is for developer, "pkgdir" here is for user, so the doc should be updated.
... ...
The kerneldir attribute in linuximage table can be used to assign a directory containing kernel RPMs that can be installed into diskless images. The default for kernerdir is /install/kernels. To add a new kernel, create a directory na

[2018-12-04 02:44] #5151 closed

[2018-12-04 03:10] robin2008 commented on #5864
close it as customer find there are some missing attribute in osimage by wrong.

[2018-12-04 03:12] immarvin commented on #5862
fixed in  https://github.com/xcat2/xcat-core/pull/5865

[2018-12-04 05:23] robin2008 opened #5867 "Create xcat-core Dockerfile based on centos7"
This docker file is used to build xCAT management node docker images (migrated from trusty one, but need to support systemd)

- [ ] same docker file for both x86_64 and ppc64le, using build args
- [ ] only for 2.14.5 and later,  using branch/tag for different xCAT release

[2018-12-04 06:49] bybai commented on #5864
@robin2008, `genimage` works well. But I think user confused about "kerneldir" and "pkgdir" in the docs. "kerneldir" here is in `linuximage` table , "pkgdir" here is for user interface, so the doc should be updated clearly.

[2018-12-04 07:48] robin2008 commented on #5864
Ok, need to update the doc

[2018-12-04 07:58] hu-weihua opened #5869 "Function "httpport" can not work on ubuntu + netboot=grub2 scenario"
Function ``httpport`` can not work on ubuntu16.04.5 on p8vms diskful installation.

xcat version:
[code]
The reproduce steps:

1 change the http port of httpd service from 80 to 8898
[code]
2 change the site table
[code]
3 the definition of test node
[code]

4 install
[code]

Diskful installation will hit below error in console:
[code]

[2018-12-04 08:06] hu-weihua commented on #5869
https://github.com/xcat2/xcat2-task-management/issues/419

[2018-12-04 18:56] marksmit-ibm opened #5872 "rhels8.0 copycds default osimage definitions require modification from rhels7.x"
Currently `copycds RHEL-8.0-20181120.0-ppc64le-dvd1.iso` results in osimage defs that include:

The repolist subdir in current Beta iso's is divided into two subdirs.  I have success when I modify my osimage to the below subdirs:

[2018-12-04 20:34] marksmit-ibm opened #5873 "Section %packages does not end with %end error in diskful service node install"
lsxcatd -a
Version 2.14.5 (git commit 0c9bbb1, built Mon Dec 3 06:17:42 EST 2018)

Attempting rhels8.0-ppc64le-install-service
which has osimage template def:
    template=/opt/xcat/share/xcat/install/rh/service.tmpl

I get error:
Section %packages does not end with %end

Please determine if /opt/xcat/share/xcat/install/rh/service.tmpl is in error, or if we need a new/custom template for rhels8.0.

[2018-12-04 21:31] marksmit-ibm commented on #5872
hmm. I made a mistake, I need to add to the existing string, not replace it:

Cancel for now.  I think this is not a valid issue.
Will reopen for netboot, if it requires modification.

[2018-12-04 21:31] #5872 closed

[2018-12-05 02:09] immarvin commented on #5873
hi @marksmit-ibm , the `/opt/xcat/share/xcat/install/rh/service.tmpl` does not work for redhat8, please use `/opt/xcat/share/xcat/install/rh/compute.rhels8.tmpl`  as the `template` as a workaround

hi @neo954 , I think we should create a link `/opt/xcat/share/xcat/install/rh/service.rhels8.tmpl` to `/opt/xcat/share/xcat/install/rh/compute.rhels8.tmpl`

[2018-12-05 02:33] hu-weihua commented on #5862
@immarvin,  After  http port change to 8898, the  diskless installation still can not work in ubuntu (both 16.4.x and 18.4.x. ``genimage`` pass, but the installation failed. Can get message from console like below. It seems 80 still works in provision progress.

[code]
The output from console:

[code]

[2018-12-05 02:35] hu-weihua commented on #5862
Can not fix during 2.14.5. move to 2.14.6

[2018-12-05 02:40] hu-weihua commented on #5856
will fix in xcat 2.14.6

[2018-12-05 02:46] bybai commented on #5864
The new content shows https://xcat-docs.readthedocs.io/en/latest/guides/admin-guides/manage_clusters/ppc64le/diskless/customize_image/install_new_kernel.html

[2018-12-05 02:46] #5864 closed

[2018-12-05 02:46] hu-weihua commented on #5747
Have been verified. close this issue

[2018-12-05 02:46] #5747 closed

[2018-12-05 02:49] bybai commented on #5817
verified in automation env.
[code]

[2018-12-05 02:49] #5817 closed

[2018-12-05 02:51] bybai commented on #5611
All are verified in autotest environment.

[2018-12-05 02:51] #5611 closed

[2018-12-05 03:31] neo954 commented on #5701
The fix of this issue was verified in xCAT version `2.14.5-snap201812040717`.

[2018-12-05 03:31] neo954 commented on #5701
I will close this one.

[2018-12-05 03:31] #5701 closed

[2018-12-05 03:44] robin2008 commented on #5618
verified on Version 2.14.5 (git commit 7b4129917612879ebd4b8dddcd9f976768b8789c, built Tue Dec  4 07:17:46 EST 2018).
[code]

[2018-12-05 03:44] #5618 closed

[2018-12-05 03:58] neo954 commented on #5150
The fix of this issue is verified in xCAT version `2.14.5-snap201812040717`.

[code]

[2018-12-05 03:59] neo954 commented on #5150
I will close this one.

[2018-12-05 03:59] #5150 closed

[2018-12-05 07:04] hu-weihua commented on #5852
Can not fix in 2.14.5. move to 2.14.6

[2018-12-05 08:01] xuweibj opened #5874 "Test case mkdef_group failed in CI"
[code]

[2018-12-05 16:05] gurevichmark opened #5875 "tabch command problems"
`tabch` command still has few problems.
Running on:
[code]

* When invalid column name is used:
[code]
* When specifying value that has no match in the table:
[code]
* When no key value specified, it seems to use a blank key:
[code]

* When no table name is specified. Valid or invalid column name:
[code]

[2018-12-10 02:53] hu-weihua commented on #5152
@whowutwut, I will close this issue first. If you have any more question about this issue, feel free to open it again. Thanks.

[2018-12-10 02:53] #5152 closed

[2018-12-10 03:36] hu-weihua opened #5881 "xcattest failed to add component directory name as default label"
``xcattest`` has a feature to add  component directory name as related test case default label . For example will add ``addkit`` as default label for all cases in ``/opt/xcat/share/xcat/tools/autotest/testcase/addkit/cases0``. But now this feature can not work as expected.
[code]

[code]
But xcattest's output is
[code]
Without ``addkit``

[2018-12-10 10:14] hu-weihua opened #5883 "Test case ``setup_vm`` failed in p7 environment, should work harmlessly"
Test case ``setup_vm`` failed in p7 environment, should work harmlessly.

[code]

[2018-12-11 02:10] xuweibj opened #5885 "List interface of redfish related with xcat commands"
beacon
rpower
rsetboot
rinv
rvitals
reventlog
rspconfig
reventlog

[2018-12-11 02:20] xuweibj commented on #5885
Based 2 boston machine with different version

* rpower
chassis: ``/redfish/v1/Chassis/[Backplane|Planar]``
compute: ``/redfish/v1/Systems/Computer``
bmc: ``/redfish/v1/Managers/BMC``

* rsetboot
``/redfish/v1/Systems/Computer``

* rspconfig
``/redfish/v1/Managers/BMC/EthernetInterfaces/1``
``/redfish/v1/Managers/BMC/NetworkProtocol``

* rinv
``/redfish/v1/Chassis/[Planar|Backplane]``
``/redfish/v

[2018-12-11 05:15] robin2008 commented on #3322
@neo954 Do we have already updated our prompt/build script?

[2018-12-11 05:39] robin2008 commented on #5873
RH8 support is in 2.15, but now we can have the same template for compute node first.

[2018-12-11 05:48] robin2008 commented on #5881
it is covered in #5882

[2018-12-11 05:50] #5885 closed

[2018-12-11 05:50] xuweibj commented on #5885
Trace with https://github.com/xcat2/xcat2-task-management/issues/442

[2018-12-11 05:56] bybai commented on #5241
@tingtli and @robin2008 , I do not think this is valid issue. So I will close this one.
The correct usage is:
[code]

[2018-12-11 06:50] tingtli commented on #5241
I think -z means to show the output in stanza format, if it could not be used alone, please update the manage to indicate that it should be used with -l

[2018-12-11 07:30] robin2008 commented on #5241
with `-z` normally means we want all data, so it hints `-l` by default.

I don't think the stanze format with name only  has much value.

But without `-z`,  show the name only is the default choice, I think we need to enhance the code and document make it more reasonable.

[2018-12-11 17:14] jamesfreeman959 opened #5887 ""genimage ubuntu18.04.1-x86_64-netboot-compute" generates broken image"
Hi all,

I have been working with xcat 2.14.5 on Ubuntu Server 18.04.1 LTS for a few days and have completed most of the steps required to network boot a SuperMicro motherboard using a stateless image.

As part of the build process, I have copied the image from the loopback mounted ISO:

```# /opt/xcat/bin/copycds-cdrom /iso/ubuntu-18.04.1-server-amd64.iso```

And then generated the netboot image:

[2018-12-11 17:57] kcgthb opened #5888 "synclist: EXECUTEALWAYS error when another line in the synclist references the same destination node"
Hi,

This one is a bit involved, but it's still a perfectly reproducible bug :)

### Description

When an `EXECUTEALWAYS` directive in a `syncfile` refers to a destination node that is already referenced in a previous file copy directive, `updatenode -F` returns a `Not an ARRAY reference` error

### Steps to reproduce

Given the following `synclist` file:
[code]
with the following `/tmp/script.sin

[2018-12-11 18:06] kcgthb opened #5889 "synclist: updatenode -F nodeA fails when the synclist only refers destination nodes that don't include nodeA"
### Description
When a `synclist` file only contains lines with destination hosts and nodeA is not part of them, `updatenode -F nodeA` will fail with an error instead of returning successfully, and mentioning that no file needs to be copied.

### Steps to reproduce:
With the following `syncfile`:
[code]
`updatenode -F sh-06-34` fails with this:
[code]

### Expected result
`updatenode -F sh-06-34`

[2018-12-11 18:17] cxhong commented on #5889
@kcgthb , which version of xcatd on your system?  what version of perl?

can u check if you have this fix ?
https://github.com/xcat2/xcat-core/pull/5841

[2018-12-11 18:58] kcgthb commented on #5889
@cxhong
xCAT version:
[code]
And I think #5841 is part of 2.14.5, right? Anyway, my `DSHCLI.pm` file looks like it has the fix
[code]

[2018-12-11 19:17] cxhong commented on #5889
right, the fixes is in your system already.
Can u check which version of perl?
`/usr/bin/perl -v`

my test system has perl 5.16.3, didn't hit any issues.   PR #5841 is for perl version before 5.14.

[2018-12-11 21:59] kcgthb commented on #5889
Ah yes, sorry I missed that part: this is regular OS-level `perl` from CentOS 7.6:
[code]

[2018-12-12 18:45] cxhong commented on #5887
for ppc64el,  we need to download mini.iso.  I think it apply to x86_64 images also.

try to download ubuntu mini.iso.
http://archive.ubuntu.com/ubuntu/dists/bionic-updates/main/installer-amd64/current/images/netboot/

and follow this instruction for ubuntu image:
https://xcat-docs.readthedocs.io/en/stable/guides/admin-guides/manage_clusters/ppc64le/diskless/copy_image.html?highlight=mini.iso

[2018-12-13 03:12] tingtli commented on #5142
test case is added by pr
https://github.com/xcat2/xcat-core/pull/5890

[2018-12-13 05:40] bybai commented on #5887
@jamesfreeman959,
1.  Confirm you answer:
For x86_64, we do not need to download `mini.iso`.
I can reproduce genimage error as " ldd: ./linux-vdso.so.1: No such file or directory" on ubuntu18.04.1 x86_64 management node. But I think it is not a block issue for genimage or diskless provision, you can ignore the message. My diskless compute node can be provisioned successfully using commands.
[code]

[2018-12-13 08:11] tingtli commented on #2029
confirm with dev, this feature is not supported, they will update the doc.
Remove the testcase_requested label.

[2018-12-13 10:51] jamesfreeman959 commented on #5887
Thank you both for your quick responses and confirming that the linux-vdso.so.1 errors can be ignored. I ran the boot process a second time, and it looks like it hangs after loading the initrd-stateless.gz image - there is no attempt to download rootimg.cpio.gz. I also note that there are no errors in /var/log/apache2/error.log

Here is the content from /var/log/apache2/access.log:

[code]

How ca

[2018-12-14 02:39] immarvin commented on #5887
hi @jamesfreeman959 , can you provide the console output during boot up?

[2018-12-14 06:56] tingtli opened #5893 "[FVT]:mkdef -t network does not work as design when net and mask is not set"
Refer to issue  https://github.com/xcat2/xcat-core/pull/3667, mkdef should work as follows,

[code]

But it does not work as design in the latest code.
[code]

[2018-12-14 07:10] tingtli opened #5894 "[FVT]:update lsdef usage."
In manpage, we have following description for lsdef
[code]
But with our code, lsdef could only display the node definition, lsdef -a could display all the objects.

Please update the code or if the  code is correct , please update the document.

[2018-12-14 08:55] robin2008 commented on #5867
First, we still use the xcat container like a VM, which means run all services (xcatd, dhcp,dns,tftp,syslog) in this container, and to use systemd to control them.
Refer to the existing systemd container for [centos](https://hub.docker.com/r/centos/systemd)

Second, to concentrate all files management, we create a volume to contains most of the files and use symbol links in their existing path.

[2018-12-14 08:58] robin2008 commented on #5867
It is covered in https://github.com/xcat2/xcat-docker/pull/1

Mark it done, and will fix the following issue after full regression.

[2018-12-14 08:58] #5867 closed

[2018-12-14 20:17] whowutwut opened #5895 "Create a common pkglist that will work for both RHEL diskful and diskless images"
I think this would help if we could provide a single pkglist that works on both diskless and diskful images out of the box...

This way the image created for diskful and diskless is identical... and also reduces the need to maintain 2 pkglist files....

[2018-12-17 02:20] #5883 closed

[2018-12-17 02:20] #5881 closed

[2018-12-17 02:53] immarvin opened #5897 "`makedns -n` will discard all the customized parts in /etc/named.conf file"
Currently, `makedns -n` will regenerated the /etc/named.conf file and discard all customized parts made by Admin. We should enhance the `makedns -n` to restrict the configuration xCAT relies on

[2018-12-17 02:54] tingtli commented on #5893
same with above, please also take a look at chdef. refer to  https://github.com/xcat2/xcat-core/pull/3667

The design is
[code]
The code works as follows
[code]

[2018-12-17 05:31] immarvin opened #5900 "the environment variables exported in mypostscript(.post) polluted the post(boot)scripts"
this is reported by the customer:
"I’ve had some problems building stuff, using an xCAT postscript.
I’m trying to build a GPUdirect kernel module now. I can do this from a regular bash script, but when I attempt it in a postscript, I see extra stuff being printed out like:

[code]
Unsetting ARCH in the postscript seems to workaround the issue
"
"Unsetting ARCH in the postscript seems to workaround

[2018-12-17 09:12] immarvin commented on #5869
fix diskless support https://github.com/xcat2/xcat-core/pull/5902

[2018-12-18 08:20] robin2008 opened #5905 "[2.14.5] makedhcp -n cannot generate right URL in dhcpd.conf file"
After 2.14.5,  I found that `makedhcp -n` cannot generate right URL in dhcpd.conf file
[code]

It might impact the node discovery function @immarvin

[2018-12-18 08:21] immarvin commented on #5905
fixed in https://github.com/xcat2/xcat-core/pull/5904

[2018-12-18 10:03] immarvin commented on #5905
**The Patch:**
[dhcp.pm.patch.zip](https://github.com/xcat2/xcat-core/files/2689926/dhcp.pm.patch.zip)

**Steps to apply the patch:**

1. download the patch file to MN
[code]
2. unzip the patch file and apply
[code]

[2018-12-19 05:55] robin2008 commented on #5241
covered in #5909

[2018-12-19 07:03] tingtli commented on #5905
Verified the patch on boston36 with 2.14.5.  passed.

[2018-12-19 13:42] jamesfreeman959 commented on #5887
Hi there,

Thank you for this - I tried updating my xcat install from the snapshot builds, but the Debian.pm file referenced by https://github.com/xcat2/xcat-core/pull/5902/files did not change, so I simply patched it manually.

I then regenerated the image but booted the node, but it fails at the same place as before. The output right before the failure seems to be:

[code]

I note there is an in

[2018-12-19 17:03] whowutwut opened #5911 "Continue to improve the xcat.deployment formatting in cluster.log"
@bybai I really leveraged the xcat.deployment messages yesterday in /var/log/xcat/cluster.log to track a deployment problem, I must say that this is an improvement to the past! 👍

Opening this issue to see if we can make some changes to the output to make it even better...  I directly modified the output and provided the original file for you to diff against.

[deployment.txt](https://github.com/x

[2018-12-19 17:05] whowutwut commented on #5905
Thanks @core2lee @tingtli !

[2018-12-19 18:05] ryanbowen opened #5912 "switch_macmap sometimes fails to use required vlan context for Cisco Nexus switches"
Hi, I'm having an issue with xcatprobe switch_macmap on two Cisco Nexus switches.

The two switches are identical Cisco Nexus 5672UP's and have identical configurations except some non-xCAT related VLAN differences.

Switch 1's macmap shows all access ports on vlan1 and vlan2 for itself and attached fabric extenders as well as all trunks. I see that it correctly realizes it needs to use the vlan2

[2018-12-20 19:39] cxhong commented on #5912
yeh, the output looks similar,  the br1coresw1 opened snmp session for vlan2,  but I didn't see for br1coresw2.
[code]
Can u able to loginto the switches, and get the outputs for `show vlan` and `show mac-address-table`?

[2018-12-20 22:30] ryanbowen commented on #5912
Hi @cxhong, I sent you an email in reference to this.

[2018-12-21 01:54] #5905 closed

[2018-12-21 04:24] favoritelotus opened #5913 "build xcat in freebsd"
Hello,

Cannot find any information on building xcat under FreeBSD. Is it possible to build xCAT under freebsd and setup management host?

[2018-12-21 07:50] immarvin commented on #5913
hi @favoritelotus , xCAT does not support FreeBSD officially, i.e, xCAT did not ship packages for freebsd and did not support provision openbsd on servers.

not sure whether someone in xcat-user mail list tried this, you can subscribe the xcat-user mail list and send a mail to try your luck:) mail list is https://sourceforge.net/projects/xcat/lists/xcat-user

or you can try to complete sth by your

[2018-12-21 10:38] immarvin commented on #5913
another option is to use dockerized xCAT,  not sure whether docker is supported well in freebsd. see https://xcat-docs.readthedocs.io/en/latest/advanced/docker/dockerized_xcat/dockerized_xcat.html

[2018-12-21 17:04] kcgthb commented on #5897
Yes! That would be awesome. I reported this in #2423 about 2 years ago, and proposed a minimal change to be able to include an external config file in #4497.

But I agree that a better solution would be for xCAT to only generate a portion of `named.conf`, so local customizations could be kept intact when doing `makedns -n`.
Maybe by having the xCAT-generated portion an included file itself? Like h

[2018-12-23 23:16] ryanbowen commented on #5912
So the issue seems to be the early return at line 988 in MacMap.pm->refresh_switch.

For Cisco switches, refresh switch is supposed to create a list of vlans to map and then loop through the list and query the switch using the correct context for the current vlan. What actually happens is that it will return early and therefore only map the first vlan.

[2018-12-28 08:46] tingtli commented on #5874
@xuweibj  would you please give out the test case name for that failure?

[2018-12-29 09:15] bybai commented on #5887
Hi @jamesfreeman959 ,
 "can't insert '/lib/mlx_en.ko': No such file or directory" , this error can be safely ignored here since you do not have Mellanox hardware.

[2018-12-29 09:20] immarvin commented on #5887
hi @jamesfreeman959 ,

Please provide the /proc/cmdline content in the emergency shell.

the fix for the issue I mentioned has been included in the latest development build http://xcat.org/files/xcat/xcat-core/devel/Ubuntu/core-snap/20181228.0615-core-debs-snap.tar.bz2, if you are ok, you can take a try.

[2019-01-03 01:53] xuweibj commented on #5874
@tingtli Ubuntu 16.04 on X86

[2019-01-03 08:05] tingtli commented on #5874
Fixed in https://github.com/xcat2/xcat-core/pull/5924

[2019-01-03 08:05] #5874 closed

[2019-01-08 07:12] hu-weihua opened #5931 ""makedhcp node" failed to write node info into dhcp db sometime in ubuntu 18.04.1 and ubuntu 16.04.5"
It is strange, ``makedhcp node`` failed to write node info into dhcp db once in a while in ubuntu 18.04.1 and ubuntu 16.04.5. It can not be reproduced in most time.

The main information are:
[code]

Can see, after ``makedhcp testnode``, there were no any information about ``testnode`` in  memory and ``dhcpd.leases``.  But it issue could not be reproduced in most time.

There were no any specific

[2019-01-08 21:07] whowutwut commented on #5852
@marksmit-ibm  I fixed the minor issue you mentioned regarding the documentation directly without a pull request using commit: https://github.com/xcat2/xcat-core/commit/9d36c4d25e363c5019d81cbc56f60158b6f0a638

I am looking at the other issue you bring up....

[2019-01-09 01:42] zet809 commented on #5894
hi, @tingtli , @gurevichmark have modified lsdef manpage, pls verify and close this issue. Thx!

[2019-01-09 01:43] zet809 commented on #5869
hi, @hu-weihua , if the fix is verified, pls close this issue.

[2019-01-09 09:47] hu-weihua opened #5933 "xcat-core build failed due to pr #5914"
xcat-core build failed due to PR #5914.

[code]

[2019-01-09 10:00] jamesfreeman959 commented on #5887
Thanks for all your help everyone! I found the issue - my challenge was lack of familiarity with the xcat code, and confusion over the various error messages (again lack of familiarity as I don't know what can safely be ignored).

The mlx_en.ko error, and also the error regarding /sbin/udevd lead me to pull apart the initrd image. This in turn lead me to dissect the init script, and so I found my

[2019-01-09 10:00] #5887 closed

[2019-01-09 13:45] zet809 commented on #5933
The fix is in PR #5935

[2019-01-09 16:21] whowutwut commented on #5933
@hu-weihua @zet809  @xuweibj Why did the TravisCI not catch this build failure?

I don't think we should set this to pending just yet...  We have a perfect test case and if we don't improve the TravisCI , then this problem exposed an issue and we improved nothing in our CI...

[2019-01-10 04:52] hu-weihua commented on #5933
@whowutwut ,  CI just run in ubuntu now.

We never included ``xCAT-openbmc-py`` into xcat deb package in history. So that was why PR #5914 could pass CI  test but still resulted in RPM build failure.

 The code from `build-ubunturepo`,  `xCAT-openbmc-py` is not included in build packages list.
[code]
I also checked one good ubuntu build in `20190108.0615`, there was no `xCAT-openbmc-py` package.
[

[2019-01-10 09:06] robin2008 commented on #5241
@tingtli  This is in dailybuild, could you help to verify it?

[2019-01-10 14:30] gurevichmark commented on #5933
So I think another issue needs to be opened to add `xCAT-openbmc-py` to Ubuntu ?

[2019-01-10 16:37] whowutwut opened #5938 "After provisioning or after some idle time... updatenode takes very long time on first attempt on AC922"
This may be an issue on other platforms, but I noticed this issue on AC922 boxes we are testing with.

After provisioning a node, or after the node is not interacted with for some time (few hours), the first call to `updatenode <node> -P <some postscript>` takes noticeably more time to execute...

Since there's no logs that record this activity, and `commands.log` shows only the elapse time, I've

[2019-01-10 16:38] whowutwut commented on #5938
@zet809 did some investigation, I will let him post his results

[2019-01-11 02:31] tingtli commented on #5241
with xcat 2.14.6. I've verified and it passed. thanks! @robin2008
[code]

[2019-01-11 02:31] #5241 closed

[2019-01-11 02:44] hu-weihua commented on #5933
hi @zet809 @robin2008 @whowutwut
Do you all think we need to add xCAT-openbmc-py to Ubuntu?

[2019-01-11 02:51] immarvin commented on #5887
ok, we will try to tidy the init script according to the latest update in linux distributions, thanks for reminder

[2019-01-11 03:22] robin2008 commented on #5933
xCAT-openbmc-py support ubuntu is an porting feature, it is not the answer we can solve the CI issue.

Because even if you add `xCAT-openbmc-py` to ubuntu and make it work with deb build, but it might be still failed with rpm build when you forget to change spec.
So the focusing is still UT case,  the reviewer and the fixer need aware what the changes will impact and finish the possible UT.

As Tr

[2019-01-11 06:57] zet809 commented on #5938
Add logs for update_VPD subroutine in xcatdsklspost script, and found the following interesting thing:
[code]
The log in /var/log/xcat/computes.log shows that `vpdupdate` will cost 35 seconds to complete, so maybe we shall ignore vpdupdate if arch is `ppc64le`
[code]

[2019-01-11 08:37] hu-weihua opened #5942 "List all failed cases in rhels bundle due to the order of test case has been changed, then offer modify soulution"
In order to support run different cases between weekday and weekend, the order of running test case have to be changed. Most xCAT test cases has potential prerequisite, so that results in lot of test failed due to the order change.

what to do:

* [ ] list all test cases which have been affected.

* [ ] offer a modify solution for all failed test case

[2019-01-11 08:41] hu-weihua commented on #5942
* For rhels + ppcle

Below cases failed to run on hierarchical environment
 * [ ] xdcp_nonroot_user
 * [ ] xdsh_permission_denied
 * [ ] xdsh_regular_command,
 * [ ] clean_up_env

[2019-01-11 08:44] hu-weihua commented on #5942
* For rhels + ppcle weekly regression

Below cases failed to run

* [ ] reg_linux_statelite_installation_hierarchy_by_nfs
* [ ] reg_linux_statelite_installation_hierarchy_by_ramdisk
* [ ] addkitcomp_i
* [ ] addkitcomp_f
* [ ] chkkitcomp_V
* [ ] rmkit_t_yes
* [ ] rmkit_f
* [ ] rmkit_V
* [ ] confignetwork_static_installnic
* [ ] get_xcat_postscripts_loginfo
* [ ] go_xcat_noinput
* [ ] nodeset_cmdlin

[2019-01-14 05:07] immarvin commented on #5942
should this ticket in the xcat-task-management repo?

[2019-01-14 07:59] hu-weihua opened #5944 "PR #5936 resulted in remoteshell failed in rhels6.10"
PR  https://github.com/xcat2/xcat-core/pull/5936 resulted in remoteshell failed in rhels6.10.

After provision rhels 6.10,  can not ssh to the CN
[code]

If comment  ``Match all`` out in ``/etc/ssh/sshd_config ``, then restart remote ssh, everything is ok.

[code]

[code]

Another strange thing is even ssh failed to work, but ``remoteshell`` still returned 0
[code]

[2019-01-14 08:44] immarvin commented on #5944
fixed in https://github.com/xcat2/xcat-core/pull/5945

[2019-01-15 21:35] whowutwut opened #5954 "When running synclists, an error occurs but reason doesn't help user, xCAT plugin bug?"
Synclist failed with XCAT problem, from cluster.log

[code]

So i expect this to fail because i don't have the files on the MGMT node that are part of the synclist, but the error message doesn't help the user figure out what went wrong.

[2019-01-16 02:22] robin2008 commented on #5954
I think there are two issues:
1, not doing error handling well in `/opt/xcat/lib/perl/xCAT/DSHCLI.pm` and `syncfiles` plugin, there should be sensible error message
2, `INFO  postbootscript end...:syncfiles return with 1`, does this should be error level too? @bybai

[2019-01-16 02:36] immarvin commented on #5954
seems the `ERR Not an ARRAY reference at /opt/xcat/lib/perl/xCAT/DSHCLI.pm line 6320. ` is caused by the incompatible syntax among different perl versions. What is the Linux version and perl version?

seems @cxhong processed similar issues in PR https://github.com/xcat2/xcat-core/pull/5906, would you please take a look at this? @cxhong   thanks

[2019-01-16 02:37] immarvin commented on #5954
`Jan 15 16:19:02 briggs01 xcat[54943]: INFO xcatd: syncfiles plugin bug, pid 54943, process description: 'xcatd SSL: syncfiles for mid05tor12cn03: syncfiles instance' with error 'Died at /opt/xcat/sbin/xcatd line 2100.#012'` is a critical error, i suggest to raise the priority of this ticket to fix the syntax issue

[2019-01-16 02:41] robin2008 commented on #5938
@zet809
I think the current behavior is not good to populate hardware inventory database (vpdupdate), in my opinion, it is should be updated initially on first provision or reboot if HW changes, or user could run it on-demand via `xdsh`.

So we don't need to run it every time in `updatenode`

Then there might be two issues:
1,  The node seems not run `vpdupdate` at the first provisioning
2, `updat

[2019-01-16 02:46] robin2008 commented on #5931
@immarvin  Could you take some time for this, now it is always failed in daily regression on such distro

[2019-01-16 02:57] whowutwut commented on #5954
Yea @cxhong suggest that I update xcat to latest build. I will try this tomorrow

[2019-01-16 02:57] robin2008 commented on #5911
@whowutwut
For your first question, did you mean the output from postscripts (just like `echo xxx` in postscripts)?

For the 2nd question, updatenode does not distinguish `postscripts` and  `postbootscripts`, as it just run scripts on remote node.
So `postscripts` and  `postbootscripts` have the only meaning during the installation, actually for updatenode, we also consider to use `a.b.executing`

[2019-01-16 10:51] zet809 commented on #5938
May not run vpdupdate for updatenode, the fix is included in PR #5957

[2019-01-17 00:25] adambertsch opened #5958 "makedns does not support "forward only" option"
For a DNS environment that uses the forwarders= option in named.conf, it would also be good (and in many cases necessary) to support the forward-only option.  Today makedns creates the following named.conf file when forwarders are specified:

[code]

What we would like to do is have another site table option (forward-only=true, or something like that) to enable makedns to generate the following:

[2019-01-17 06:44] neo954 opened #5962 "Consider to drop supporting for RHEL 6 and SLES 11 management and service node"
This is a proposal of drop xCAT support for RHEL 6 and SLES 11. I am not talking about drop the support right now. Maybe the proper time point is when xCAT releases 2.14.6 or 2.15. At which point, xCAT will official add RHEL 8 support.

There are many good reasons to do this. I will list some of them below.

* RHEL 6 was first released on Nov 10, 2010. And SLES 11 was first release on Mar 24, 2009

[2019-01-17 09:33] robin2008 commented on #5962
Note:  here is not remove RHEL 6 and SLES 11 support, but only drop RHEL 6/SLES 11 MN supporting.
The cross provision might still work, for example, RH7 -> RH6

[2019-01-17 18:56] illmaticone opened #5964 "Genesis issues found in 2.14.5"
We can see the IO nodes get IP from EMS but never boot from xCAT genesis. This is only happening in xCAT version 2.14.5. I debugged it further but didn't find any reason why it's not booting. Looks like xCAT genesis is broken in latest version of xCAT.

Seems like the nodes get a IP address from DHCP but never leaves petitboot

system type = Power 8 node in OPAL mode (ESS environment)

Please foll

[2019-01-18 02:52] immarvin commented on #5958
this ticket is somehow similar with a previous ticket https://github.com/xcat2/xcat-core/issues/5897.

I suggest xCAT provide a general way to specify/preserve user customized options, since named/dhcp has so many options

[2019-01-18 06:49] tingtli commented on #5894
verified , thanks!
[code]

[2019-01-18 06:49] #5894 closed

[2019-01-18 07:05] tingtli commented on #3721
This is already fixed by commit "9e6785be64e4940f750c21674a98a2d6ec52a603", close it.