[2016-07-20 13:19] pdlun92 commented on #1382
Pull Request #1531 merged.  Changing status to pending

[2016-07-20 19:00] gurevichmark commented on #1557
@daniceexi Thank you for pointing out the lines to in question. Before I implement the fix, there are 3 questions:

1. When creating vm with `mkvm` command, we first set the storage format to the value of `vmvirtflags imageformat=<value>` if specified. Then overwrite it with the value of `vmstorageformat=<value>` if specified. I assume `chvm` should do the same to figure out the value for the stor

[2016-07-21 00:10] daniceexi commented on #1557
@gurevichmark

1. Yes, ``chvm`` should use the same code logic as ``mkvm`` to determine the disk type;
2. We should not use the 'osimage' type to determine whether the vm can accept a disk. VM likes a baremetal server that even with a disk, the vm still can boot as diskless. We need figure out a better way to handle the ``-a`` for chvm;
3. ``chvm -a`` is used to add a new disk. ``--resize`` is use

[2016-07-21 01:02] daniceexi commented on #1559
Please answer my question that whether you follow the doc (https://sourceforge.net/p/xcat/wiki/Using_xCAT_in_SoftLayer/)  that using the static ip for OS deployment so that I could tell you how to debug.

[2016-07-21 07:00] zet809 opened #1567 "[DEV] Enhance switch base hardware discovery output error message"
In customer's environment, there is a input error when setting switch and switchport attributes for a predefined node(one '=' more write in switchport attribute), then it cause our switch-based hardware discovery failed to find a matching node.
So, the idea is, we can output a message like "Didn't find matching node, the mac can be found at switch1 and port-xxxx", then it will be much helpful to k

[2016-07-21 07:27] wwzhubj commented on #1462
I have verified it in below env:

[root@c712ems4 Updates]# lsxcatd -v
Version 2.12.1 (git commit 0919bf649d99fc957236dbb42cfa3afc087ddad2, built Thu Jul  7 06:18:01 EDT 2016)

[2016-07-21 07:27] #1462 closed

[2016-07-21 07:35] zet809 commented on #1567
Talking with @daniceexi shows that, if we want to return more helpful message, the performance of MacMap.pm will be a problem. Maybe we can add an option "--cache" for "xcatprobe switch-macmap", and call it within "xcatprobe discovery".
@whowutwut Do you have any idea?

[2016-07-21 10:29] zhanggbj commented on #1559
@daniceexi Yes, we are using static ip. And I'm also comparing our scripts with the doc you mentioned. Thanks a lot for helping:)

[2016-07-21 15:36] pdlun92 opened #1569 "yum install xCAT returns dependency errors with latest devel online repositories"
Running `yum install xCAT` on PowerKVM VM machine with RH7.2 installed, the following errors are observed
[code]
additionally the following error message was observed for each of the above rpms
[code]

I believe the issue is with `xCAT-dep.repo` pointing to online development repo.  For the above errors, `xCAT-dep.repo` contains:
[code]
When switching to local repo, one expected error was observed

[2016-07-21 17:30] whowutwut commented on #1569
I rebuilt the xcat-dep with the changes in #1531.. but results in the same issue with the public yum repo for xcat-dep
[code]
Downloading that xcat-dep and running as a local repo, we get past these issues and xCAT installs.   So something is wrong with the public repo that is sync'ed onto xcat.org....

[2016-07-21 18:54] gurevichmark commented on #1557
1. Will implement.
2. As discussed on Wednesday conference call, if `vmstorage` attribute is not defined, `chvm -a` will return an error.
3. It appears kvm does support volume resize with `vol-resize <vol> <capacity> [--pool <string>] [--allocate] [--delta] [--shrink]`. I will open a separate issue to fix that.

[2016-07-21 22:02] JBBIntel opened #1572 "Problem using xCat on Knights Landing (Xeon Phi)"
I have been trying to get xCat to work on some KNL Xeon Phis. I was able to get through discovery, but the stateless osimage hangs. Has anyone been successful using stateless images with KNL? Are there known issues?

[2016-07-22 01:46] immarvin commented on #1569
hi @whowutwut @pdlun92 ,

I tried to install xcat via online repo on xcat.org, did not see any errors

[code]

[2016-07-22 01:47] immarvin commented on #1569
[root@c910f03c05k27-pub yum.repos.d]# lsxcatd -v
Version 2.12.2 (git commit aa840eb1074fd7bb8557105d18eec632325114d8, built Thu Jul 21 06:16:00 EDT 2016)

[2016-07-22 01:50] #715 closed

[2016-07-22 02:04] lxguang opened #1573 "Request support for RHEV for OpenPower"
Hi !
The LTC strategy for virtualization is changing.  RHEV and Ubuntu KVM are now the strategic virtualization approaches (hypervisors).  PowerKVM will be sunset in the near future.  For our work, with RHEL being the most relevant OS, RHEV will be our strategic hypervisor.
It is highly desired to have RHEV 3.5 or 3.6/4.0 enablement for OpenPower/Power8 on Habanero or Tuleta in XCAT.
Please let me

[2016-07-22 06:17] immarvin opened #1575 "[DEV] "makehosts" generates the /etc/hosts entries with wrong domain name for node with "otherinterfaces" attribute"
[code]

[2016-07-22 06:30] immarvin commented on #1575
fixed in https://github.com/xcat2/xcat-core/pull/1576

[2016-07-22 07:24] #1575 closed

[2016-07-22 08:27] immarvin commented on #1502
hi @samveen , currently, xCAT requires the mac of the install NIC to be specified in the mac attribute.
For your requirement, is it acceptable to specify the management network hostname"$NODE-priv" to be an alias of "$NODE"?

if yes. the nics table can be an option for you. The example steps is like this:

[code]

[2016-07-22 10:01] daniceexi commented on #1573
@lxguang You can download the rhev-h for power from the ftp3:/redhat/release_cds/RHEV/ppc64

@immarvin Since xCAT has supported the rhev for x86_64, could you try to install the rhev/ppc64 with xCAT?

[2016-07-22 10:27] daniceexi commented on #1572
xCAT have not been maintaining  the Xeon Phi support for a while. Could send an email to maillist for help?

[2016-07-22 15:31] whowutwut commented on #1569
@immarvin  thanks for taking a look.  Did you install from scratch?  The issue seems to happen on a brand new install of xCAT.

[2016-07-23 04:43] lxguang commented on #1573
Hi,
I just need to install RHEV onto OpenPower/ppc64le instead of ppc64.
The ftp3 location(ftp://ftp3.linux.ibm.com/redhat/release_cds/RHEV/) has no
iso media for ppc64le.
It is required to support Habanero for RHEV.

----------------------------------------------------------------------------

 Jack Liu (刘晓光)
 IBM China Systems and Technology Laboratory(CSTL)
 Tel:    86-10-82450821
 Email:  lxgu

[2016-07-25 01:59] daniceexi commented on #1573
@lxguang Yes, currently there's only ``ppc64`` version of RHEV on ftp3. But base on our experience that Habanero should support ppc64 system well. So we will try this ppc64 version first. And could you send an email to ask the one who announce the RHEV support that where to get the ppc64le version?

[2016-07-25 08:17] junxiawang commented on #1569
I verified no errors .
[root@c910f03fsp03v142 yum.repos.d]# yum repoinfo
Loaded plugins: product-id, search-disabled-repos, subscription-manager
This system is not registered to Red Hat Subscription Management. You can use subscription-manager to register.
Repo-id      : xCAT-rhels7.2-path0
Repo-name    : xCAT-rhels7.2-path0
Repo-revision: 1446216199
Repo-updated : Fri Oct 30 10:43:20 2015
Repo-pk

[2016-07-25 08:52] immarvin commented on #1569
hi @whowutwut ,  the installation I mentioned was on the newly installed redhat7.2 ppc64le system. @junxiawang and I made several test on our nodes separately this afternoon, xCAT can be installed successfully. Can this problem be recreated  everytime in the node of you and @pdlun92 ?  I found an official tech note from Redhat on this problem: https://access.redhat.com/solutions/203603

[code]

[2016-07-25 13:20] gurevichmark commented on #1513
@caomengmeng Any updates to this issue? Were you able to reproduce it without autotest environment ?

[2016-07-25 13:58] whowutwut commented on #1509
@immarvin  I just did a `yum update '*xCAT*'` on a 2.12.1 build (July 5) -> 2.12.2 (July 25 build) and still see the warning msg...

[code]

[2016-07-25 15:02] whowutwut opened #1583 "xCAT-test framework does not allow for . in testcase names"
New to looking at xCAT-test autotest framework...

When trying to create a new testcase for testing xcat.org, in the `start:`  field, I used `xcat.org_xxx`.  Looks like a name with a period in it , ignores everything after the period.

Here's the new testcase that I created:
[code]

but when running xcattest -l , anything after the . is ignored...
[code]

This is OK to not support periods in the n

[2016-07-25 15:30] whowutwut opened #1584 "xCAT-test framework needs a way to view available test cases in bundles"
New to trying out the `xcattest` command and I'm trying to query the bundles and figure out what is available.  I find it difficult to connect the dots to understand what cases are available for me to execute.   Here's some issues that I see...

1) Unnecessary output in `xcattest -l` where we are printing out the list of files under the testcase directory...    Running `xcattest -l`  prints out:

[2016-07-25 16:04] whowutwut opened #1585 "Enhance xCAT-test framework to display components/commands"
The `xcattest` command has a `-c` option to specify the command list.  Can we enhance the command to have an option that will display the possible commands/components that is available to select and run?

For example:  `xcattest -c -l`
Without specifying a command list, we will display all possible commands that are available to specify

[2016-07-25 17:35] whowutwut commented on #1569
Very strange, I am unable to reproduce this today, so I will close this issue and re-open it if I see it in the future.

The only thing changed was I updated the mgmt node creating my VM to 2.12.2 but I don't think this has anything to do with the compute node that was being created where I was trying the install of xCAT from the online repo.  The online repo still looks to have the timestamp of J

[2016-07-25 17:35] #1569 closed

[2016-07-25 18:40] whowutwut commented on #1413
@hu-weihua  can we have someone verify on behalf of Ting Ting and close out this issue?

[2016-07-25 18:40] whowutwut commented on #898
@hu-weihua  can we have someone verify on behalf of Ting Ting and close out?

[2016-07-26 00:59] daniceexi commented on #1585
@whowutwut If you don't object, we hope our FVT could take the responsibility to enhance our automation framework. So I assign this issue to @caomengmeng

[2016-07-26 01:50] immarvin commented on #1509
hi @whowutwut , the fix was overwritten by the PR https://github.com/xcat2/xcat-core/pull/1537, I think we'd better avoid the things like this in the following commit and review process

[2016-07-26 01:55] hu-weihua commented on #1413
@junxiawang , Could you help to take look at this issue? thank you very much.

[2016-07-26 01:55] hu-weihua commented on #898
@junxiawang , Could you help to take look at this issue? thank you very much.

[2016-07-26 02:51] immarvin commented on #1509
fixed in https://github.com/xcat2/xcat-core/pull/1588

[2016-07-26 03:41] hu-weihua commented on #1583
@whowutwut ,  you are right,  depending on below code, we don't support ``.`` in the test case name, the valid characters are ``a-z A-Z 0-9 _ - ``  .

     534             if ($line =~ /^start\s*:\s*([\w-]+)/) {
     535                 $skip = 0;

[2016-07-26 05:43] wwzhubj opened #1589 "go-xcat -help has problem."
What I want is help message, but go-xcat runs the same way when with'-help' and without '-help'.
[code]

[2016-07-26 05:48] immarvin commented on #1431
seems "logger -n" does not work on ubuntu14.04.4 LTS.
opened a ticket to LTC: https://bugzilla.linux.ibm.com/show_bug.cgi?id=144136
@penguhyang ,please trace this ticket and answer the questions from LTC if any

[2016-07-26 06:20] hu-weihua commented on #1549
@whowutwut , if we fix issue #1571, the ``Permission denied``  of the issue will gone.

Due to xCAT probe reuses some code of xCAT, but we don't hope to maintain 2 copies of these file. so we just copy these file to ``xCAT-probe`` directory when we do probe package. so there isn't ``xCAT/GlobalDef.pm`` under ``xCAT-probe/lib/perl/``.

[2016-07-26 06:27] daniceexi commented on #1589
I also prefer the run ``go-xcat`` without any parameter, the default action is to display the help message.

[2016-07-26 06:37] neo954 commented on #1589
Will working on it.

[2016-07-26 08:42] DanielXLee opened #1591 "Genesis loading hang in firestone node if ntp time offset is too large"
Sometimes, genesis loading hang at the script `/usr/bin/doxcat` in Firestone node, and we found the progress stayed at the below while statement for a long time due the large `ntp` offset in node:

----------------------------

[code]
--------------------
[code]
--------------------------

In fact, the unit of value of offset is milliseconds, and 1000 ms is too little to identify ntp service. By d

[2016-07-26 08:50] penguhyang commented on #1431
Ubuntu 14.04.4 use version 2.20.1
It builds fine but ignores the -n switch just like the installed version.

[2016-07-26 08:53] lxguang commented on #1573
RHEV 3.6 on POWER for use with RHEL7.2 on ppc64le
(as made initially available by Red Hat at 01/28/2016 on RHN through https://access.redhat.com/errata/product/279/ver=/rhel---7/ppc64le/RHBA-2016:0080 ...)
is available on ftp3 ...

... please see the related ftp3 directories (with all recent RHN updates for RHEV ...) at
https://ftp3.linux.ibm.com/files/redhat/power-le/7/7.2/ppc64le/rhev-mgmt-agent

[2016-07-26 09:36] junxiawang commented on #1413
@daniceexi @cxhong @whowutwut
Test results:
1.Test ok on:sles12.1  ppc64le xcatversion is 2.12.2
2.But sles12 on x86_64 still could not work
c910f04x30v01:/etc/zypp/repos.d # mysqlsetup -i
MySQL is running.  Database initialization will not take place.
Input the alpha-numberic  password for xcatadmin in the MySQL database:
Input the password for root in the MySQL database:
Backing up xCAT Database

[2016-07-26 10:10] daniceexi commented on #1413
@junxiawang Please refine the format of your issue description.

Does the failure caused by the error ``Hostname resolution for failed.``? Could you make sure the name resolution is ok for your MN and SN?

[2016-07-26 14:52] whowutwut commented on #1090
@ralphbellofatto  We created a new ipmitool-xcat-1.8.15-2, can you update your xCAT to the latest development version:
xcat-core: https://xcat.org/files/xcat/repos/yum/devel/core-snap/xCAT-core.repo
xcat-dep: https://xcat.org/files/xcat/repos/yum/xcat-dep/rh7/ppc64le/xCAT-dep.repo

Then run `yum update '*xCAT*'`, you should get the patched version and let us know if this resolves the issue?

[2016-07-26 19:20] whowutwut commented on #1549
After pulling in the code change from the pull request #1571 , building in my forked copy, I don't see this untracked file anymore.  Closing the issue for now .

[2016-07-26 19:20] #1549 closed

[2016-07-26 20:30] whowutwut commented on #1585
@daniceexi  Sure, I think what I was trying to understand is how we can use the `xcattest` command to figure out what testcases can be run without the need to edit and view the `casesX` files

[2016-07-27 01:27] junxiawang commented on #898
@whowutwut @daniceexi @cxhong
sles12.1 on ppc64le could work for hierarchy
But sles12 on x86_64 could not work

[2016-07-27 03:59] caomengmeng commented on #1583
@whowutwut @hu-weihua
1. The function name can only contains: a-z A-Z 0-9 _ - , I also agree, this makes sense.
2. How to make the output more friendly:
   2.1 update xcattest man page to make the function name more clearly
   2.2 update xcattest command to output message when the function name contain other characters that not allowed.
How to you think?

[2016-07-27 04:04] caomengmeng commented on #1585
@whowutwut  just take this into consideration now, and there are two ways, firstly, get the commands automated by code, that depends on the current existed all cases, I will make deep research about the commands and cases relationship. secondly, to maintain a list by a file, while there are cases added, this file should be updated.

[2016-07-27 06:18] caomengmeng commented on #1584
@whowutwut
Agree with you for 1) 2) and will fix them
But for 3），as bundle files are defined by users themselves, they are just some files, so I don't think it is necessary to show them by some xCAT command. Just like the xCAT logs files created by xCAT, we don't need to support some xCAT commands to show users them.

[2016-07-27 07:46] fenggaobj opened #1596 "Enhance the process of reinstall for PCM"
For pcm reinstall node, if the IP  range and netmask are the same, the node will be assigned with new IP, it will keep the old IP assigned before.
The code need to change is "profilednodes.pm"

[2016-07-27 08:12] neo954 commented on #1591
More then 1000ms time offset in a NTP network environment is quiet abnormal. In regular gigabit ethernet network environment, the typical time offset between NTP server and NTP client is less than 5ms. Even in wide area network environment, the offset is less than 50ms.

[2016-07-27 08:27] junxiawang commented on #1413
@daniceexi  nslookup work

[2016-07-27 09:00] daniceexi commented on #1585
@caomengmeng I think that make the code to read all the available command in run-time will be better. We should ignore to maintain a list which can be calculated automatically.

[2016-07-27 14:33] cxhong commented on #898
since mysql is running on the system before we ran "mysqlsetup -i" , xcat will not run initialization again.
[code]
so if password is not matched, it will exit with "Wrong MySQL root password".

For debian and sles12.1,   after install mysql/mariadb server, the mysql will running, so we will stop mysql first, then run initialization.

I don't think mysql is running after installation for sles12.

[2016-07-27 14:55] cxhong commented on #1413
@junxiawang , the problem is caused by you didn't define site.master.    mysqlsetup needs to get MN name from site.master in the backed up database during setup.
[code]

[2016-07-27 23:46] chrissamuel commented on #1572
@daniceexi from the mailing list this is about Knights Landing (KNL) nodes - not the old Knights Corner KNC accelerator cards!   These are compute nodes in their own right so it would be good to support them especially as major vendors are deploying them now.

[2016-07-28 02:56] tingtli commented on #1584
@whowutwut @caomengmeng we can think of providing way to list the bundle files. Then , users who wants to use the bundle file  can know which bundle file they could use, users don't need to rewritten a bundle file themselves.

[2016-07-28 03:00] tingtli commented on #1584
How about we provide 2 options. 1 option to display  all the bundle name, 1 option to display the bundle files contents?
e.g
xcattest -b -l means to list all the bundle files names.
xcattest -b xxx.bundle -l to list the xxx.bundle files contents

[2016-07-28 05:48] immarvin commented on #1413
hi @cxhong , according to the mysqlsetup code logic, if the "master" does not exist in site.master, it will try to get the hostname with command "hostname", seems there are some bugs, I tried to fix it in https://github.com/xcat2/xcat-core/pull/1600, please review

[2016-07-28 05:52] immarvin commented on #898
hi @cxhong , I think we do not need to stop mysql in the "mysqlsetup" code for the linux distributions except debian and sles12.1 since the mysqlsetup manpage has  mentioned this. I still have 2 questions on this:
1. when the message "MySQL is running.  Database initialization will not take place." is raised, why does "mysqlsetup -i" not return?
2. the message "MySQL is running.  Database initiali

[2016-07-28 06:39] tingtli commented on #1538
@immarvin
I just verified your fix, it seems there is no output when the initrd is created. Is this what we expected?

[code]

[2016-07-28 06:47] hu-weihua commented on #1584
@tingtli @whowutwut , I agree to list bundle files we have by command, but just list bundle files name or test case names may be not helpful enough, because user can't get what the bundle file or test case is used for through a simple name. May be show the description of one bundle or one test case at same time is helpful.  for example:

    #xcattest -b -l
    le_rhels_cmd.bundle         : descri

[2016-07-28 07:11] tingtli commented on #1539
@immarvin I am verifying this defect. It seems there is no error message.

[code]

[2016-07-28 07:22] tingtli commented on #1489
I think we should support the minor release. especially when we give important fix in the minor release and customer would like to update to this minor release. Why does go-xcat not support that?

[2016-07-28 07:24] tingtli commented on #1489
we upload the minor release to http://xcat.org/files/xcat/xcat-core/2.xx.x_Linux/xcat-core/. And we put the minor release version in the tar ball. What is the inconsistency in xcat.org

[2016-07-28 07:25] tingtli commented on #1395
@neo954 Do you have any updates for this bug?

[2016-07-28 07:27] daniceexi commented on #1584
@hu-weihua 👍

[2016-07-28 07:28] hu-weihua commented on #1583
@caomengmeng, I think we should use code to offer helpful message. Man page isn't visually. In fact not all the customer read man page ahead.

[2016-07-28 07:32] daniceexi commented on #1489
@tingtli The thing is we don't have online repo for each minor release.

http://xcat.org/files/xcat/repos/yum/2.12/xcat-core/ incldues the latest minor release for 2.12 branch, it could be 2.12.1 or 2.12.2. So we may make a separated dir for each minor release. This can resolve the issue.

[2016-07-28 07:57] tingtli commented on #1008
verified on rhels7.2 and ubutu14.04.4. There is no error message when restart xcatd.
root@c910f04x27v02:~# lsxcatd -v
Version 2.12.2 (git commit d3eaa578d09462577ccd43039af8ac75be3a1606, built Wed Jul 27 06:16:57 EDT 2016)

[2016-07-28 07:57] #1008 closed

[2016-07-28 08:02] tingtli commented on #537
same with defect #1008. close it

[2016-07-28 08:02] #537 closed

[2016-07-28 08:18] caomengmeng commented on #1583
@hu-weihua  Yes，2.2 means output messages.

[2016-07-28 08:36] caomengmeng commented on #1584
@hu-weihua
For these bundle files without os-arch.bundle names, they are not used for daily run now, and  I will delete them from the folder.
Then all the bundle files that will be shown are the os-arch.bundle files. The file name makes it clearly when they will be used, so do think a description is still needed for xcattest -b -l. If yes, that means there should be a description in all bundle fil

[2016-07-28 09:02] caomengmeng commented on #1584
@tingtli @whowutwut
If we show bundle files by xcattest command, that means the bundle files must be meaningful to users as they are not examples to help users write one by themselves, they are formally ones released by xCAT product.

Then, there are two questions:
1. Do users use the bundle files we listed directly? Take "rhels7.2_ppc64.bundle" as an example: if users use it directly, then they w

[2016-07-28 12:43] #1413 closed

[2016-07-28 14:12] gurevichmark commented on #1557
This issue is fixed by pull request #1593 for xCAT 2.12 and pull request #1594 for xCAT 2.9.

[2016-07-28 14:21] cxhong commented on #898
@immarvin , looking the code, if mysql is already running,  we are not going to initialize the database again, like setup my.cnf, chkconfig on and set mysql root password.  xCAT will assume root password is already set in this case and will get to verify mysql root password step.
we can change that message to: "MYSQL IS RUNNING.  please stop it first, otherwise Database initialization will not tak

[2016-07-28 14:31] daniceexi commented on #1584
@caomengmeng As we discussed today that the bundle files are used for xCAT team basically. So all this requirement is for xCAT FVT and DEV to aware the test case list for daily run since we are using bundle to include the test cases.

[2016-07-29 02:41] caomengmeng commented on #1489
@tingtli , as go-xcat test cases failed sles11, sles12.1, ubuntu14.04.4 and ubuntu16.04, so test cases should be updated accordingly.

[2016-07-29 02:52] immarvin commented on #898
@cxhong , ok

[2016-07-29 06:45] tingtli opened #1603 "[FVT]:go xcat failed with xcat-genesis-scripts installation failure"
xCAT 2.12 on ubuntu 16.04

[code]

[2016-07-29 06:49] daniceexi commented on #1489
@caomengmeng We will talk with issue in next Monday's interlock meeting. So keep the test case as is now.

[2016-07-29 07:06] tingtli opened #1604 "[FVT]:ubuntu build script build-ubunturepo does not support minor release"
xCAT 2.12.2
I found for the 2.12.1 and 2.12.2 ubuntu package, we have following package names:
[code]

Looking into build-ubunturepo and find there is  the problem
[code]
And the package name use short_ver as their version, then if we build 2.12.2 package, the package only has 2.12 as their package name.
[code]

[2016-07-29 07:23] daniceexi commented on #1604
General speaking, this is a legacy problem. @immarvin Could this issue be fixed easily?

[2016-07-29 15:20] neo954 commented on #1603
Let us create a fake ``xcat-genesis-scripts`` deb package.

[2016-08-01 02:44] xuweibj opened #1609 "[DEV]xdsh cannot propagate Ctrl+c signal to the remote targets"
Comand: ``xdsh c910f03c17k17 -s "tail -f /tmp/probe.test"``
Operation: Ctrl + c

The process on c910f03c17k17 did not be killed.

[2016-08-01 09:27] immarvin opened #1611 "[DEV]"genimage ubuntu16.04.1-ppc64el-netboot-compute" failed"
[code]

[2016-08-01 11:47] wangwhao opened #1612 "go-xcat failed due to dependency on libcrypto.so.10"
On my RHEL 6.3 server, openssl version is openssl-1.0.0-20.el6_2.5.x86_64. go-xcat update failed with such error message
[code]
It seems we are requiring the specified version of openssl unnecessarily. Need remove the restriction.

[2016-08-01 11:55] zet809 commented on #1612
The ipmitool-xcat-1.8.15-2 shall be build on an early version of RH both for x86_64 and ppc64.

[2016-08-02 05:55] #1431 closed

[2016-08-02 08:45] #922 closed

[2016-08-02 08:55] caomengmeng commented on #1457
reproduced this issue with latest daily build:　
Test ENV:
[code]
Details:
[code]

[2016-08-02 09:05] caomengmeng commented on #1546
This cases failed on latest daily build: ubuntu14.04.4 x86 test environment

[code]

[2016-08-02 09:37] zet809 commented on #1457
It seems the docker repo is not stable enough.

[2016-08-02 10:57] whowutwut commented on #1603
On Ubuntu we do not have this?

[2016-08-02 14:01] whowutwut opened #1616 "Create a table that indicates the supported OS for go-xcat install script"
I'd like to suggest that we create a matrix table where we indicate the platforms that have been verified by the xCAT team using `go-xcat` to install xCAT on diskful nodes.

We can create this table on RTD and link to it from the http://xcat.org/download.html page

[2016-08-02 14:09] daniceexi commented on #1603
xcat-genesis-script was the old one. now it has been replaced by the one with arch as postfix.  But the old one was required by xCAT. So we need a way to let xCAT think the old one is still installed.

[2016-08-02 15:51] whowutwut commented on #280
The fix that @cxhong  made was for the node that was provisioned.  The issue here is that the mgmt node needs to clear out the key in `~/.ssh/known_hosts`.  The `ssh-keygen -R <node>` would  clear it , but when is the best way to do this....?

1) if we do it on the `nodeset <node> osimage=...`, the user can still ssh to the existing node before starting the re-provision and the old key will get st

[2016-08-02 16:00] whowutwut commented on #1589
:+1:  I also agree with @daniceexi , I just started trying the `go-xcat` command and hit the same issues as described by @wwzhubj

I think `go-xcat` without any options should either:

1. install the latest GA of xCAT (update if xCAT is already installed and there is an avail update)
2. display the help message

I think 2 is better in this case to not complicate things

[2016-08-02 17:24] whowutwut opened #1618 "go-xcat creating repo files with different filename than what is shipped on xcat.org"
When running `go-xcat` , I took a look at the repo files that are stored in `/etc/yum.repos.d` and noticed that the xcat-core.repo and xcat-dep.repo filenames are different than what is shipped on xcat.org.

[code]

however, the .repo files that we provide are named the following:

[code]

I think we should make the name of the repo file consistent.

[2016-08-02 18:07] whowutwut commented on #1612
Investigated this today...  I was able to re-create using go-xcat...

The version that is downloaded from xcat.org has the following requirements based on querying the RPM:

[code]

Then re-building on a RHEL 6.0 machine resulted in the following file:
[code]

Re-building this RPM on a RHEL 6.3 machine resulted in the following:
[code]

So it looks like something is strange with the build machine

[2016-08-02 18:19] whowutwut commented on #1612
@tingtli @neo954  Do we have `go-xcat` testcases that will be able to detect the issue here? We should validate that `go-xcat` works with all the platform/arch/OS that we support with the latest mod level of the OS.  I think that would be best done using automation testing.  I added the "testcase_requested" label, if you have a pull request that adds the testcases you can associate with this issue

[2016-08-02 18:26] whowutwut commented on #1612
With the new package uploaded to xcat.org, I am able to install xCAT using the `go-xcat` script on RHEL 6.3 x86_64.
[code]
@wangwhao  You should be able to install now using `go-xcat`   thanks for reporting this bug!

[2016-08-03 01:53] daniceexi commented on #280
xCAT has a dedicated command ``makeknownhosts`` to handle the known host keys.

Yes, use ``rinstall`` is a choice. But if the issue has been fixed through @cxhong 's change, that means user would not encounter this problem any more. If user really want to handle 'known hosts' entry, should we recommend them to handle it by themselves through ``makeknownhosts`` command?

[2016-08-03 01:56] wangwhao commented on #1612
I was able to update xCAT to 2.12.1 this time. Thanks for the quick fix.

[2016-08-03 02:21] zet809 commented on #1612
@wangwhao Will you pls close this defect?

[2016-08-03 02:23] #1612 closed

[2016-08-03 03:25] immarvin opened #1620 "[DEV]"packimage" returns wrong message"
[code]
The cpio is archive method, not compress method

[2016-08-03 04:01] caomengmeng opened #1621 "[FVT] updatenode CN without return value for more than hours"
Description: Failed to get updatenode CN return value after more than hours
Test ENV:
[code]
Details:
[code]

[2016-08-03 05:59] #1620 closed

[2016-08-03 06:23] immarvin commented on #1621
The following code slice in remoteshell
[code]
hang at
[code]

[2016-08-03 06:30] immarvin commented on #1621
fixed in https://github.com/xcat2/xcat-core/pull/1623

[2016-08-03 06:31] wjianf commented on #1591
In IBM OpenPower Firestone node provisioning, the value of offset is in 50 to 1000 ms when xCAT genesis loading in most time, but sometimes, the value is greater than 1000 ms, and the adjustment is very slow. So the provisioning process sames like hang at the scripts doxcat.

[2016-08-03 06:43] caomengmeng opened #1624 "[FVT] xdsh CN 'service nfsserver restart' executed with error"
Test ENV: sles11.4-ppc64, with latest daily build
Description and details:
Failed to run xdsh c910f02c08p09 'service nfsserver restart'.
[code]

[2016-08-03 07:11] caomengmeng opened #1625 "[FVT]when daily run time is more than 8 hours, test result should contain in mails"
When test daily run is more than 8 hours, the test result should be analyzed and listed in mail too. Not only the "more than 8 hours" message shown.

[2016-08-03 07:14] caomengmeng commented on #1621
Will verify it tomorrow then close it.

[2016-08-03 13:58] pdlun92 commented on #1183
It seems that there is no timetable for fix to be implemented on firmware side, will begin working on a workaround in the mean time

[2016-08-03 19:42] gurevichmark opened #1628 "Add disk to powered on kvm fails."
Currently adding a disk to a kvm (`chvm -a`) works for a kvm that is **not** powered on. But fails for a kvm that is already powered on.

[2016-08-04 03:16] caomengmeng opened #1629 "[FVT] Please update go_xcat_local_repo_case1 case"
file: testcase/go-xcat/case0
case: go_xcat_local_repo_case1
description:The go-xcat command is failed to install xCAT in CN,  when executing "xdsh CN "service xcatd status"" in MN, this caused the test environment hang as out of 8 hours. This happened in ubuntu16.04 x84 and ppc64le

[code]

[2016-08-04 05:31] caomengmeng opened #1630 "[FVT]Failed to execute the genimage command in rh6.8 ppc64 and x86"
Test ENV: rh6.8 in ppc64 and x86_64 with latest daily build
Description: when executing genimage for netboot or statelite:
[code]
 command failed with below messages:
[code]

[2016-08-04 05:40] immarvin commented on #1628
hi @gurevichmark , maybe you can try  ``virsh attach-disk <domain> <source> <target>``. the <source> is the full path of the qcow2 file on the kvm host. the <target> is the disk device name for the newly added disk on the kvm guest, you should make sure the specified <target> does not exist on the kvm guest.

[2016-08-04 06:18] tingtli commented on #1629
@caomengmeng  I don't think this is case issue.
The problem is when execute xdsh CN service xcatd status, the xdsh hangs there. I will open a defect for xdsh to trace this issue.

[2016-08-04 06:18] #1629 closed

[2016-08-04 06:25] tingtli opened #1633 "[FVT]:xdsh CN service xcatd status hangs when xcat is not installed on cn"
xcat 2.12.2 on ubuntu16.04
[code]
I notice there is some code change for xdsh.
please refer to #1610

[2016-08-04 06:35] #1630 closed

[2016-08-04 08:17] caomengmeng opened #1634 "[FVT]restore option is listed in "xcattest -h" but no man page description"
Description: restore option is listed in "xcattest -h" but no man page description, unify the two.

[code]

[2016-08-04 12:43] gurevichmark commented on #1628
@immarvin Thank you for the suggestion, I tried `virsh attach-disk <domain> <source> <target>` and the results are the same as with `virsh attach-device <xml file>`.
[code]

I also tried running it with a flag `--live`, same result.

[2016-08-04 14:08] immarvin commented on #1611
fixed in https://github.com/xcat2/xcat-core/pull/1636

[2016-08-04 14:18] immarvin commented on #1628
hi @gurevichmark , would you please run``virsh dumpxml mgXgeneratedvm1 `` on the kvm host or "fdisk -l" inside the kvm guest, is there already a disk named "sdb" in the kvm guest?

For "/var/lib/libvirt/images/mgXgeneratedvm1.sdd.qcow2", how was this qcow2 file produced?

[2016-08-04 15:27] gurevichmark commented on #1628
I think the problem might be with the `target` we assign to the disk to be attached. It seems that when a vm is created target `sda` is for a disk, and `sdb` is for cdrom. However when `chvm -a <size>` is issued on this vm, we attempt to create a disk with `sdb` target, even though `sdb` is already assigned to the cdrom.
I think the solution should be to fix `chvm -a` processing to skip the target

[2016-08-04 16:01] gurevichmark opened #1637 "Purge disk on kvm does not work for a list of disks"
kvm command for purging disks does not work when list of disks is specified: `chvm -p sdb,sdc,sde,...`
It works ok for one disk. I think the problem is with `get_disks_by_userspecs` function in kvm.pm
It does not process the disk list correctly which is passed into the `$specs` variable.
1. The list should be split on a `,` before looping over the list (`my @speclist        = split /,/, @$specs[0]

[2016-08-04 18:08] gurevichmark commented on #1628
The root cause seems to me is `get_multiple_paths_by_url()` in kvm.pm.
When `chvm -a <size>` is issued, the `chvm()` tries to figure out what letter to use for suffix of the new disk - `b`, `c`, `d`, etc. It does that by calling `get_multiple_paths_by_url()` which returns a hash of existing volumes on the VM with its target name - `sdb`,`sdc`,`sdd`, etc. The existing volumes are retrieved by using

[2016-08-05 06:49] zet809 opened #1638 "[DEV] Genesis not wait long enough time to have NICs get IP address when STP is not closed"
For currect genesis base for ppc64, the NICs will be in DOWN state when genesis kernel is running. We have set it up within xcat genesis doxcat script.
The issue is, if not close STP on switch or set port fast, it will be about 50 seconds before the first package can be send out.
Currently, within doxcat, we only wait for 20 seconds to check whether the NICs can get IP address through DHCP, it is

[2016-08-05 08:10] caomengmeng commented on #1621
Works well for several days, so close it

[2016-08-05 08:10] #1621 closed

[2016-08-05 08:12] caomengmeng commented on #1421
Not reproduced, so close it.

[2016-08-05 08:12] #1421 closed

[2016-08-05 08:13] caomengmeng commented on #1513
@gurevichmark  it works well for more than one week, and not reproduced out of autotest environment, so close it.

[2016-08-05 08:13] #1513 closed

[2016-08-05 08:14] caomengmeng commented on #1457
Discussed with @zet809 and as it is not xCAT issue, so close it.

[2016-08-05 08:14] #1457 closed

[2016-08-05 08:15] caomengmeng commented on #1546
This issue will be fixed with https://github.com/xcat2/xcat-core/pull/1579

[2016-08-05 08:26] neo954 commented on #1618
This is worked as design. Since xCAT shipped with different spelling across difference place. On Red Hat and SuSE, xCAT use ``xCAT-core.repo`` to named the repo file, but the name of repo is actually ``xcat-2-core``. And the subdirectory was named ``xcat-core`` or ``core-snap``.

What is a mess.

In ``go-xcat``, I just renamed everything to ``xcat-core`` to make life easier.

[2016-08-05 08:31] neo954 commented on #1074
Hello Everyone,

I suggest we change the package name back to ``xcat-genesis-base-amd64`` before we release xCAT 2.12.2. I have a bunch of reasons. I listed them below.

  * For RPM package, we choose the package name ``xCAT-genesis-base-x86_64``. But the underscore character, ``_`` is not a valid character in the DEB package name, which cause the DEB package name changed to ``xcat-genesis-base-x8

[2016-08-05 10:26] arif-ali commented on #1110
@daniceexi, we had same issues when we did another recent installation, but discovery through switch.

After discovering a nextscale chassis, we kept getting same messages, and we could only resolve the issue by restarting the `xcatd` daemon after discovering those set of nodes

[2016-08-05 11:12] whowutwut commented on #1074
Seems like reasonable reasons to change the name back to amd64. We should try and follow Debian naming conventions ...

[2016-08-05 11:16] whowutwut commented on #1618
Maybe then it makes sense to change the public repo files to lower case to match what go-xcat is doing.

I just don't want to have things out of sync we should be consistent.

I can make the changes in the build script and in the xcat-dep staging directories if we agree

[2016-08-05 13:05] cxhong commented on #280
I couldn't recreate this issue on ppc64le or x86 VMs.  I think this is issue caused by MN on some bad state while node provisioned (nslookup failed is one of case).  makeknownhosts or updatenode -K will get rid of "man in the middle" message.

[2016-08-05 13:17] whowutwut commented on #1638
@zet809  Should the solution be to wait longer? I think an alternative is to have it documented that we need to set port fast switching on the switches to work with OpenPower servers.  @cxhong  is working on a script to configure the switches and we should have it set port-fast or at least check for it.

Also the `xcatprobe` could do a test to see whether the switches are configured properly, this

[2016-08-05 14:28] whowutwut opened #1641 "go-xcat update will continue even if required repoquery command is not installed"
Using `go-xcat` to update a development version of xCAT...
[code]

we see messages that repoquery is not found.

I think we should pre-check for required commands, or we do not run go-xcat.  We don't want the user to see errors when running the go-xcat.

[2016-08-05 14:34] whowutwut opened #1642 "go-xcat should not print out the "Congratulations" message on update, only on install"
When running `go-xcat update` , there's no need to print the message the end that xCAT has been installed correctly because we are updating xCAT and not installing xCAT for the first time.

[code]

Other comments
- Why do we need to list out xCAT Core Package and xCAT Dependency Packages at the end...  the output from yum seems sufficient to identify the packages that have been updated... .  By li

[2016-08-05 15:39] whowutwut commented on #898
I'm going to move this to 2.12.2 and remove pending since it seems like there is some additional work required.

[2016-08-05 18:16] #1524 closed

[2016-08-07 14:12] zet809 commented on #1074
I agree with @neo954 that we shall not modify the package name from amd64 to x86-64. We got no benefit from it but suffering a lot.

[2016-08-08 01:01] daniceexi commented on #1074
Good, then we made the agreement that revert all the changes we have made for the genesis name changing.

To achieve our original idea to simplify the procedure to make genesis-base, we might work out a script to reduce the complicacy of the procedure.

[2016-08-08 01:17] daniceexi commented on #1513
If we encountered a problem but could not create it anymore without a fix, it means mostly it would be recur someday later.
Anyway, we can reopen this issue when encounter again.

[2016-08-08 04:45] tingtli opened #1645 "[FVT]:rinv does not have manpage for openpower"
I didn't find the openpower section in the manpage of rinv. Please update that. Thanks!

[2016-08-08 06:06] zet809 commented on #1110
@arif-ali As you were using xCAT 2.12.1, will you pls send me the log file /var/log/xcat/cluster.log which include the keywords like "xcat.discovery"?
Within xcat2.12.1, we provide a tool called xcatprobe, will you pls run "xcatprobe switch-macmap <switch_node>" against the switch nodes and send the output to me?

[2016-08-08 06:18] zet809 commented on #1457
@caomengmeng It seems the public docker repo is not stable enough, I am wondering how do you deal with this test case in automation?

[2016-08-08 06:31] zet809 commented on #1638
@whowutwut Yes, the current solution is to wait longer.
It's true that we can either document to configure port fast or have a script to configure switches automatically. But we can only support several kind of most commonly using switches.
My idea is that if the OS installation works without doing anything for the switches, wait longer is acceptable. What is your idea?

[2016-08-08 06:57] zet809 commented on #1416
@torkelsson Do you mean you'd like to install xCAT on an i386 server?

[2016-08-08 07:32] tingtli commented on #1641
update is a second version for the go-xcat, we need to add cases to cover this option

[2016-08-08 07:35] neo954 commented on #1642
Good point.

[2016-08-08 09:33] wwzhubj commented on #1523
Close it since it's  incorrect usage.

[2016-08-08 09:33] #1523 closed

[2016-08-08 09:47] zhanggbj opened #1648 "makedns: Failure encountered updating 109.113.10.IN-ADDR.ARPA., error was FORMERR."
These error messages showed up several times when to run **makedns** {my baremetal server} It seems that doesn't fail the provisioning process, but I'm not sure what these error mean and whether it will break something else. And it can't be recreated 100%. Here is the log. Thanks.
Also cc @mattcui

---

makedns {my baremetal server}

Error: Failure encountered updating 109.113.10.IN-ADDR.ARPA., er

[2016-08-08 10:40] zhanggbj commented on #1559
I noticed new release 2.12.1 have some cool new features, like rintall enhancement and xcatprobe tool, so I upgrade xCAT in my environment. Unfortunately, this issue still remains. I tried to do some debug on os deployment but didn't find any valuable information. Could you please help to take a look and provide some more precise debug instructions. Thanks a lot:)

## Environment:
**xCAT version**

[2016-08-08 14:11] whowutwut opened #1649 "xcatprobe switch-macmap should display the ports in numeric order"
Using the 8/4/16 build of xCAT 2.12.2, the `xcatprobe switch-macmap` output looks like the following:

[code]

* Sort the ethernet ports in numeric order.  1,2,3... instead of 1,10,11... 2,20,21...
* Do we need to label the port "EthernetX" or can we have just the port number?
* If we can just have port number, maybe we can have another column for Type...  Do we really need type?  What are the typ

[2016-08-08 14:55] whowutwut opened #1650 "xcatprobe switch-macmap has some usability issue when helping to resolve errors in node definition"
Some usability issues with `xcatprobe switch-macmap` when using it.

1) I have a switch definition that is not configured correctly.  I think FVT team should also create a testcase for this so to test out the effectiveness of the probe command helping the user fix what is wrong.

When `nodetype != switch`, we should print out a usage error, not a probe failure because we do not want compute nodes

[2016-08-08 20:02] whowutwut commented on #1649
@zet809  I created a pull request to handle the 1st issue mentioned. Can you provide some information about the other bullets?

[2016-08-08 22:33] arif-ali commented on #1110
Hi @zet809,

Below are the details to download the cluster.log from the machine we are installing

* Link: http://owncloud.ocf.co.uk/index.php/s/acZR7570A7iOe0O
* Password: eGXMXVrNcBg9

See below, on the command `xcatprobe`, which didn't work

[code]

[2016-08-09 02:00] immarvin commented on #1514
hi @caomengmeng , can this be recreated?

is this a duplicate with the issue on sles12.1 statelite?

[2016-08-09 02:02] immarvin commented on #1502
since there is no response from @samveen
move this to 2.12.3

[2016-08-09 02:03] immarvin commented on #1422
hi @wwzhubj , does this issue still exist ?

[2016-08-09 02:06] immarvin commented on #1247
close this issue, please reopen it if be recreated

[2016-08-09 02:07] #1247 closed

[2016-08-09 02:09] #1611 closed

[2016-08-09 02:14] zet809 opened #1652 "[DEV] Need to enhance switch configuration script in order to use it externally"
For configuring switch after switch was discovered, we provide 2 scripts xCAT-server/share/xcat/tools/configBNT and  xCAT-server/share/xcat/tools/configMellanox to configure static IP address, hostname and SNMP enablement. It is good enough for internal using, but for external using, enhancement is needed.
For example, need to deal with specified IP address and/or hostname for the specified switch

[2016-08-09 02:19] immarvin commented on #1648
hi @zhanggbj , would you please provide the output of  following commands:
``tabdump site ``

``tabdump network``

and provide a simple description of the dns configuration in your cluster?

thanks

[2016-08-09 06:33] zhanggbj commented on #1648
Hi, here are the outputs of table site and networks. Thanks:)

#key,value,comments,disable
"blademaxp","64",,
"fsptimeout","0",,
"installdir","/install",,
"ipmimaxp","64",,
"ipmiretries","3",,
"ipmitimeout","2",,
"consoleondemand","no",,
"master","10.113.205.251",,
"forwarders","10.113.205.251",,
"nameservers","10.113.205.251",,
"maxssh","8",,
"ppcmaxp","64",,
"ppcretry","3",,
"ppctimeout","0",,
"

[2016-08-09 06:58] zet809 commented on #1649
@whowutwut I don't think it is a good idea to remove the characters from the port name column. The following result is got from test team. The port name is like <group_name>/<unit_num>/<port_num>, so the whole port name is more meaningful.

# xcatprobe switch-macmap c712f11u30vc
Switch        Port         MAC address         Node
------------------------------------------------------------------
c

[2016-08-09 07:04] daniceexi commented on #1648
Refer to the error message: Error: Failure encountered updating 109.113.10.IN-ADDR.ARPA., error was FORMERR. See more details in system log.

You can search the keyword ``109.113.10.IN-ADDR.ARPA.`` in the syslog file, there should have some more detail info for the failure.

[2016-08-09 07:40] immarvin commented on #1604
fixed in https://github.com/xcat2/xcat-core/pull/1655

[2016-08-09 07:41] zet809 commented on #1110
@arif-ali Will you pls try the release version of xcat2.12.1 from http://xcat.org/files/xcat/xcat-core/2.12.x_Linux/xcat-core/xcat-core-2.12.1-linux.tar.bz2? It was built at July 8.
Then,  send the log file /var/log/xcat/cluster.log to me. Thx!

[2016-08-09 16:05] whowutwut commented on #898
@immarvin  I think we agree that we should not stop MySQL. The user could be using the DB for something other than xCAT and if it's running, we just want to put the xCAT data into the database.  I think the `Database initialization will not take place` just means that we will not initialize the database with a password.  The admin already initialized the DB so they need to provide xCAT with the ri

[2016-08-09 17:30] whowutwut commented on #992
@daniceexi  What if we only do this on a new install of xCAT where there is no existing instance of postgres running?  This way we do not trample over existing Postgres configurations?

[2016-08-09 17:59] whowutwut commented on #1183
Let's target this for the 2.12.2 release and make a code change to:
* If the FW level is too early, stop rflash with a msg to ask Admin to manually update to the stable version
* Detect GRS server and update using the different buffer size

Then the other teams can at least start running rflash at a larger scale

[2016-08-09 18:13] whowutwut commented on #976
@daniceexi Thinking about this some more.  as a first step,  we might want to create a documentation page on our RTD that has some updated information about the configuration of Spectrum Scale similar to the URL metioned above...  rather than try and support the install using xCAT kits..

[2016-08-09 18:19] markprez commented on #976
Here is how we install GPFS on RH72 Firestone/Garrison:
1) Create an otherpkgs list /install/custom/gpfs/gpfs.otherpkgs.pkglist
    gpfs/gpfs.base
    gpfs/gpfs.docs
    gpfs/gpfs.gpl
    gpfs/gpfs.msg.en_US
    assign to osime.

2) For diskfull run a postscript that builds the GPL or xdsh it to the node after install.

3) For diskless we currently use the following postscript:
#!/bin/sh
# Script

[2016-08-09 20:37] whowutwut commented on #1649
Thanks, let's close this Isssue

[2016-08-09 20:37] #1649 closed

[2016-08-10 03:41] neo954 commented on #1359
This issue is already solved by commit ``20f186e``. Please check the pull request #1278.

[2016-08-10 03:45] neo954 commented on #1175
This problem was already solved. It is due to a PowerKVM bug.

https://bugzilla.linux.ibm.com/show_bug.cgi?id=135113

[2016-08-10 03:45] neo954 commented on #1175
Will close this one.

[2016-08-10 03:45] #1175 closed

[2016-08-10 03:46] neo954 commented on #1395
Specify local repo files on Ubuntu is unsupported.

[2016-08-10 03:47] neo954 commented on #1395
Will close this one.

[2016-08-10 03:47] #1395 closed

[2016-08-10 04:15] neo954 commented on #1641
It worked as design.

The command ``repoquery`` is provided by the RPM package ``yum-utils`` on RHEL. And package ``yum-utils`` will be installed even if you choose "minimal install" during the operating system installation. Thus, there is no way to get a living RHEL system without the command ``repoquery``.

There is where xCAT involved. When you install a compute node with xCAT. xCAT will pass a

[2016-08-10 04:17] neo954 commented on #1641
BTW, @whowutwut, what is the proper behavior you expect for ``go-xcat`` in this situation?

[2016-08-10 05:40] wwzhubj opened #1660 "incorrect warning message when define an osimage"
I have an stanza file:
[code]
[code]
The "Warning: The node name ...." confused user.

[2016-08-10 06:02] daniceexi commented on #1660
@bybai could you take a look of this issue?

[2016-08-10 06:11] zet809 commented on #1548
Will deal with this issue in 2.12.3.

[2016-08-10 06:12] zet809 commented on #1547
Will deal with this issue in 2.12.3.

[2016-08-10 06:17] zet809 commented on #1489
@tingtli It seems the conclusion is we will update the directory structure on xcat.org, does this defect just use to trace the action?

[2016-08-10 06:26] neo954 commented on #1404
@tingtli, since this feature is already available. Please consider update our Jenkins test script, and include this git commit number in the xCAT Jenkins test log files.

[2016-08-10 06:26] tingtli commented on #1489
@zet809 i think so. I will reopen this issue to trace that. I think we need to support the minor release. I will discuss with @whowutwut  and @neo954  to see what should be done on xcat.org directory.

[2016-08-10 06:41] AsirXing commented on #1495
The fix works according to my testing.
[root@db04b11 ~]# lsdef db04b12 | grep status
    appstatus=provision=provisioned
    appstatustime=07-26-2016 03:49:07
    status=booted
    statustime=07-26-2016 03:49:07
[root@db04b11 ~]# xdsh db04b12 uptime
db04b12:  03:54:42 up 10 min,  0 users,  load average: 0.04, 0.72, 0.61
[root@db04b11 ~]# rpower db04b12 stat
db04b12: on
[root@db04b11 ~]#

[2016-08-10 06:41] #1495 closed

[2016-08-10 09:41] neo954 commented on #1616
I think any Linux distro xCAT support officially should be supported by ``go-xcat``.

If it is not the case, please open a bug with all the details, like the architecture, the name of the Linux distro, and the version of xCAT user intend to install.

[2016-08-10 09:44] neo954 commented on #1616
At the original development stage of ``go-xcat``, only RHEL 6.7, 6.8, 7.1, 7.2, SLES 11.3, 11.4, 12, 12.1, Ubuntu 14.04.4, 16.04, Fedora 23 were tested and verified by myself.

[2016-08-10 10:20] zhanggbj opened #1665 "rinstall node fails to rsetboot"
When to rinstall a node (baremetal on softlayer), it fails and print error message as below.  This issue can't be reproduced stably and some node just works well. Thanks.

[code]
Here are some configurations.
[code]

[2016-08-10 11:35] torkelsson commented on #1416
@zet809 No, I'm installing xCAT on an amd64 server, which is multiarch enabled, i.e it looks for i386 packages too when running apt-get update. However as the repository does not provide the i386 archive (not even an empty one) I get the message from the initial report.

Please, either provide a i386 archive (perhaps empty) or add to the documentation, how to set up  apt-sources to only look for a

[2016-08-10 13:02] daniceexi commented on #1665
@zhanggbj run ``rinstall`` with ``-V`` can get more verbose information.

And from the message you posted in this issue. There was problem for xCAT to connect to BMC.

How could you try to run 'rpower' against the node?

[2016-08-10 13:05] daniceexi commented on #1616
Our automation will switch to use ``go-xcat`` to install the test env, so that means the ``go-xcat`` will be verified for all the OS/ARCH that have been covered by xCAT automation.  In this case, I think we can claim that ``go-xcat`` can support all the xCAT supported OS/ARCH.

[2016-08-10 14:03] daniceexi commented on #976
Just as we did for OFED install, offer a script for GPFS install might also acceptable.

[2016-08-10 14:07] daniceexi commented on #992
@whowutwut I am good with your idea. Is Postgresql packages included in the ISO by default for all the xCAT supported OS?

[2016-08-10 15:42] zhanggbj commented on #1665
hi @daniceexi, here is the output against another node(same issue). Thanks.

[code]

[2016-08-10 16:00] cxhong opened #1666 "[DEV] Diskless boot failed for rhel7.3 because selinux disabled."
I am trying to boot up a diskless node with rhel7.3 image.  it failed at:
[code]
looking into rootimg dir,  the selinux is enabled.
[code]
xCAT disable the selinux during provision and cause boot hang with that error message

[2016-08-10 23:57] daniceexi commented on #1665
@zhanggbj That means your BMC configuration has problem. So you need the correct the BMC setting or make sure the BMC has been configured for the node?

BTW, could you try whether the BMC is pingable?

[2016-08-11 00:55] daniceexi commented on #1559
@zhanggbj , is it possible for @bybai to log in your xCAT MN to take a look what happened?

[2016-08-11 03:13] zet809 commented on #1638
The verification shows that without closing STP, the rh7.2 can be installed successfully, so close this defect first and we can reopen this defect once we encountered again.

[2016-08-11 03:13] #1638 closed

[2016-08-11 05:20] chrissamuel opened #1671 "mkdef -z does not work when reading redirected input from a file"
Noticed this for a while, but given it's still in 2.12.1 I thought I'd make a ticket for it:
[code]
compared to the successful:
[code]
It's rather counter-intuitive.

Any ideas?

cheers!
Chris

[2016-08-11 06:04] zet809 commented on #1416
@torkelsson Thank you for point out this issue, we will modify our documentation like below:
deb [arch=amd64] http://xcat.org/files/xcat/repos/apt/devel/core-snap trusty main # for x86_64 server
deb [arch=ppc64el] http://xcat.org/files/xcat/repos/apt/devel/core-snap trusty main # for ppc64le server

[2016-08-11 06:21] junxiawang opened #1672 "[fvt]2.12.2 xcatprobe need add fullmsg Option in usage"
env:all os
build:latest build
How to reproduce:
[code]

[2016-08-11 07:16] junxiawang opened #1673 "[fvt]2.12.2 xcatprobe xcatmn check mount folder failed"
env:all os
build:[root@c910f02c01p13 subcmds]# lsxcatd -v
Version 2.12.2 (git commit b7e752c2117f65c98916a0e3a93f45096765a605, built Wed Aug 10 06:16:31 EDT 2016
[root@c910f02c01p13 subcmds]#
How to reproduce:
[code]

[2016-08-11 08:49] junxiawang opened #1674 "[2.12.2]xcatprobe xcatmn check dhcp failed in hierarchical envionment if servicenode off"
env:all
build:latest [root@c910f02c01p13 subcmds]# lsxcatd -v
Version 2.12.2 (git commit b7e752c2117f65c98916a0e3a93f45096765a605, built Wed Aug 10 06:16:31 EDT 2016)
[root@c910f02c01p13 subcmds]#
How to reproduce:
[code]

[2016-08-11 09:03] junxiawang opened #1675 "[fvt]2.12. xcatprobe xcatmn need modify output msg"
env:all
build:[root@c910f02c01p14 subcmds]# lsxcatd  -v
Version 2.12.2 (git commit b7e752c2117f65c98916a0e3a93f45096765a605, built Wed Aug 10 06:16:31 EDT 2016)
[root@c910f02c01p14 subcmds]#
How to reproduce:
[code]

[2016-08-11 09:20] immarvin commented on #1666
fixed in https://github.com/xcat2/xcat-core/pull/1676

[2016-08-11 13:02] #1666 closed

[2016-08-11 13:26] LudovicEnault opened #1677 "Netboot/Ubuntu: issue with kernel levels and linux-headers"
Hello,

I am generating a netboot image for Ubuntu16.04.1.
The basic image (deboostrap) is generating successfully, with the expected kernel (4.4.0-31). However in the otherpkgs operation, it's updating the kernel to 4.4.0-34 without the according linux-headers.
Installation of some packages (like CUDA drivers) fails because headers are not present.

I had previoulsy "linux-headers-*" on the pkgli

[2016-08-11 15:34] cxhong commented on #1356
For cuda8 on rhel7.3,  addiing grub2 and grub2-tools to package list will get rid of the error messages on genimage.

[2016-08-11 20:05] whowutwut commented on #1584
Right, this is more for internal use.  If more members of the team are able to understand what is being executed, we might be able to better leverage this framework, moving to 2.12.3 since it's been idle for a while.

[2016-08-11 20:08] whowutwut commented on #1634
@caomengmeng  please assign this to a milestone.  If it's just a documentation change, maybe we can finish and close it out in 2.12.2

[2016-08-11 20:20] whowutwut commented on #1660
@bybai    We hit something similar recently,.. wanted to share the data...

If we create the following VMs
1) fs2VM121
2) fs2vm_122

The uppercase one is OK, we print out that warning, but DNS seems to accept it and nslookup works.
[code]

However, the underscore case does not work and we are not catching it...
[code]

So from that message, we should prevent the underscore from being used.   The m

[2016-08-11 20:35] whowutwut commented on #1641
@neo954 Sorry for my delay response.

Yes, I agree that in a normal customer situation, this should not ever occur.

But many of us in the dev/test teams are using xCAT to install another node to become mgmt nodes.
It would be better if we do things to ensure that the script runs without any errors.   Seeing WARNINGS is not good and not everyone know that yum-utils provides repoquery. So having a

[2016-08-11 20:39] whowutwut commented on #1557
Customer received the fix and said it resolved the issue.  Will close based on that comment.

[2016-08-11 20:39] #1557 closed

[2016-08-11 20:41] whowutwut commented on #1642
@neo954  @daniceexi  I tested go-xcat today and it does not contain the changes.   Have we thought about how to best sync go-xcat?     I don't like the idea of having to manually upload a copy.  If we sync with xcat.org repo, we still need to git pull.....  which is also a manual step.

[2016-08-12 02:06] zet809 commented on #1329
The priority is very low, move to next release.

[2016-08-12 02:06] daniceexi commented on #1642
@whowutwut I understand your concern. If we'd like to make all the update to be automatic, we may do following:

1. put go-xcat in xcat.org repo
2. dev should check in go-xcat to both master and stable version
3. on xcat.org, run a cron job to pull new changes periodically

[2016-08-12 02:14] zet809 commented on #1489
@tingtli Hi, ting ting, will you pls confirm how to modify the directory structure on xcat.org? Once it is done, you can close this defect.

[2016-08-12 02:19] zet809 commented on #1422
Talking with @wwzhubj shows that this issue can not be reproduced easily at present, so move to next release.

[2016-08-12 02:20] daniceexi commented on #1660
@whowutwut We warn the capital character in the node name for makedns, because dns treats hostname as case-insensitive. So that means if you have two nodes which just have capital difference, it would cause problem.

And was you idea to restrict to use ``_`` in the ``mkdef`` command? It's possible that user defines a node which won't use **DNS**.

BTW, @wwzhubj opened this issue because the defini

[2016-08-12 02:22] whowutwut commented on #1660
Oh ok. maybe we should just leave it as is and let the makedns error inform the user to change the node definition.

[2016-08-12 03:08] junxiawang opened #1681 "[fvt]2.12.2 xcatprobe could not installed on servicenode"
env:all platform
build:
[root@c910f02c01p07 xcat]# lsxcatd -v
Version 2.12.2 (git commit 79426ad21e602b8a1bf5c02084ffb8c8ca9bf01e, built Thu Aug 11 06:16:05 EDT 2016)
[root@c910f02c01p07 xcat]#
How to reprpoduce:
[code]

[2016-08-12 03:12] immarvin commented on #1556
since  this is a usage error. will close first, please reopen it if recreated

[2016-08-12 03:13] #1556 closed

[2016-08-12 03:13] #1562 closed

[2016-08-12 03:22] junxiawang opened #1682 "[fvt]2.12.2 xcatprobe xcatmn ctrl+c need modified"
env:all os
build:[root@c910f02c01p13 ~]# ^C
[root@c910f02c01p13 ~]# lsxcatd -v
Version 2.12po.2 (git commit 79426ad21e602b8a1bf5c02084ffb8c8ca9bf01e, built Thu Aug 11 06:16:05 EDT 2016)
[root@c910f02c01p13 ~]#
How to reproduce:
[code]

[2016-08-12 05:37] #1074 closed

[2016-08-12 05:39] junxiawang opened #1683 "[fvt]2.12.2 xcatprobe xcatmn could not return clear summary if check many servicenode"
env:all os
build:c910f04x27v05:~ # lsxcatd -v
Version 2.12.2 (git commit 79426ad21e602b8a1bf5c02084ffb8c8ca9bf01e, built Thu Aug 11 06:16:05 EDT 2016)
c910f04x27v05:~ #
How to reproduce:
[code]
---------------------------> There are 3 servicenode c910f04x27v060,c910f04x18v015,c910f04x27v06 but the summary could not clear output..

[2016-08-12 05:58] tingtli opened #1684 "[FVT]:packimage -m cpio -c gzip osimage does not get the same file size with packimage"
xcat 2.12.2 ubuntu14.04.4
By reading the design, packimage osimage should have the same rootimg compress file with packimage -m cpio -c gzip osimage. But the test result is not what the design expects. Please take a look.

[code]

[2016-08-12 06:28] immarvin commented on #1684
might be caused by this commit
[code]

the rootimg.gz differs on  each ``packimage``

[2016-08-12 07:00] immarvin commented on #1097
The message is refined in this PR https://github.com/xcat2/xcat-core/pull/1686

The --template option has been supported
https://github.com/xcat2/xcat-core/pull/1254

[2016-08-12 07:00] #1097 closed

[2016-08-12 07:15] immarvin commented on #1616
so @whowutwut , what's the final decision, is it ok to close this issue?

[2016-08-12 07:18] zet809 commented on #1591
Move to next release to reconsider this issue.

[2016-08-12 07:20] chenglch commented on #1633
As the change https://github.com/xcat2/xcat-core/pull/1610 has been reverted here https://github.com/xcat2/xcat-core/pull/1632
this issue is not exist, close this one at first.

Use https://github.com/xcat2/xcat-core/issues/1609 to track this xdsh issue.

[2016-08-12 07:20] #1633 closed

[2016-08-12 07:22] immarvin commented on #1618
since the final decision is not made, move to next release

[2016-08-12 07:24] immarvin commented on #1514
sles12.1 statelite is low priority and @penguhyang will work on this

[2016-08-12 07:24] chenglch commented on #1609
As the fix https://github.com/xcat2/xcat-core/pull/1610 has been revert at https://github.com/xcat2/xcat-core/pull/1632, this problem remain.

[2016-08-12 07:25] junxiawang opened #1687 "[fvt]2.12.2:xcatprobe could not surpport xcatmn command on ubuntu"
env:all ubuntu environment
build:root@c910f03c17k27:/opt/xcat/probe/subcmds# lsxcatd -v
Version 2.12.2 (git commit 79426ad21e602b8a1bf5c02084ffb8c8ca9bf01e, built Thu Aug 11 06:17:21 EDT 2016)
root@c910f03c17k27:/opt/xcat/probe/subcmds#
How to reproduce:
[code]

[2016-08-12 07:26] junxiawang commented on #1687
root@c910f03c17k27:/opt/xcat/probe/subcmds# /opt/xcat/probe/subcmds/xcatmn -i eth0
Can't locate xCAT/ServiceNodeUtils.pm in @INC (you may need to install the xCAT::ServiceNodeUtils module) (@INC contains: /opt/xcat/probe/lib/perl /etc/perl /usr/local/lib/powerpc64le-linux-gnu/perl/5.22.1 /usr/local/share/perl/5.22.1 /usr/lib/powerpc64le-linux-gnu/perl5/5.22 /usr/share/perl5 /usr/lib/powerpc64le-li

[2016-08-12 07:33] zet809 commented on #1650
Move the next release to fix this issue.

[2016-08-12 07:34] zet809 commented on #1567
Move to next release to rethink the solution.

[2016-08-12 08:13] tingtli opened #1688 "[FVT]:diskless provision broken using rootimg.tar.gz created by packimage -m tar osimage"
ubuntu16.04.1. xCAT 2.12.2
This is the steps to create rootimg.tar.gz
[code]
Monitor the diskless provision screen and it gets broken here
[code]

[2016-08-12 08:36] tingtli opened #1689 "[FVT]on rhels6.8, rootimg.tar.gz is only 20 bytes after run packimage -m tar rhels6.8-ppc64-netboot-compute"
rhels6.8 xCAT 2.12.2
[code]

[2016-08-12 09:58] hu-weihua commented on #1687
Fixed by pull request #1691 . @junxiawang Could you help to verify it ? thanks

[2016-08-12 15:24] zet809 commented on #1504
Will fix in next release.

[2016-08-12 15:29] zet809 commented on #685
Need to do more investigation together with Firmware team. Move to next release.

[2016-08-12 15:34] zet809 opened #1692 "[DEV] Improve the code logic of replaying and state controling function for os provision probe"
The defect is used to trace the improvement of the code logic for pull request #1653

[2016-08-12 19:13] whowutwut commented on #1509
Looks good with 8/12 build of xCAT
[code]

[2016-08-12 19:13] #1509 closed

[2016-08-12 19:16] whowutwut commented on #1642
@daniceexi  for 2, maybe we should only check into master and create pull requests to the stable branch when we want to update..    Instead of having the developers check in to two branches...

Is there a need to keep `go-xcat` in the tools directory? If the user did not use go-xcat to install, would they want to use it to update?   It will be more difficult but not impossible to sync go-xcat usin

[2016-08-12 20:37] whowutwut commented on #1504
@zet809 I forgot to associate the pull request with this issue.  I think the only lingering comment left to change is the following:

- How come the following messages do not have the same log tags?

[code]

- `xcat: c910f05c29 has been discovered`
I would like this to be something like:
   `xcat: c910f05c29 (node-8335-gtb-100464a) has been discovered` so we can correlate the discovered definition

[2016-08-13 04:50] immarvin commented on #1689
fixed in https://github.com/xcat2/xcat-core/pull/1694

[2016-08-13 04:50] immarvin commented on #1688
fixed in https://github.com/xcat2/xcat-core/pull/1694

[2016-08-13 06:11] immarvin opened #1695 "[DEV] it is ambiguous to determine which compressed rootimg to use among rootimg.tar.gz,rootimg.cpio.gz,rootimg.tar.xz..."
currently, the compressed rootimg is determined by the following code logic:
[code]
"rootimg.tar.xz" always takes the highest priority.

In the user's aspect,  the compressed rootimg generated by the latest "packimage" before "nodeset" should be used.

[2016-08-13 06:58] immarvin commented on #1695
fixed in https://github.com/xcat2/xcat-core/pull/1694

[2016-08-14 08:14] immarvin commented on #1305
hi @zet809 , has this issue already been fixed? if yes, please set it to "pending", thanks

[2016-08-14 08:17] immarvin commented on #898
hi @junxiawang @tingtli , regarding to the comments by @cxhong ans @whowutwut , would you please verify the issue whether this issue still exist? thanks

[2016-08-14 08:22] immarvin commented on #1024
hi @xuweibj , has this been fixed?

[2016-08-14 10:18] immarvin commented on #1529
fix https://github.com/xcat2/xcat-core/pull/1696

[2016-08-14 10:29] immarvin commented on #104
NetworkManager should have been stopped in the following commit:

[code]

hi @onimsha , would you please try the latest xcat build?

[2016-08-14 23:42] whowutwut commented on #104
@immarvin  i think @onimsha  is asking for xCAT team to support using NetworkManager to configure the network settings, instead of disabling it.

[2016-08-15 02:51] #1688 closed

[2016-08-15 02:51] #1689 closed

[2016-08-15 02:51] #1695 closed

[2016-08-15 02:57] junxiawang commented on #1675
[root@c910f02c01p14 ~]# xcatprobe xcatmn -i eth0
[MN]: Sub process 'xcatd: SSL listener' is running                                                                [ OK ]
[MN]: Sub process 'xcatd: DB Access' is running                                                                   [ OK ]
[MN]: Sub process 'xcatd: UDP listener' is running

[2016-08-15 03:02] daniceexi commented on #1529
I am OK with the change.

@immarvin The code logic is OK, but the code format needs be refined to follow xCAT's code format standard. I'll merge it now catch the RC.

[2016-08-15 03:03] #1529 closed

[2016-08-15 05:56] penguhyang commented on #1684
Node provision is successful.
The priority is low, move to next release.

[2016-08-15 05:57] daniceexi commented on #1642
@whowutwut I am fine with your idea. And if we move go-xcat to xcat.org repo, I think we should remove it from xcat-core since it's very hard to sync it between two repos.

[2016-08-15 06:20] junxiawang opened #1697 "[fvt]2.12.2 xCAT probe osdeploy miss function "convert_to_epoch_seconds""
env:all platform
build:
[root@c910f02c01p14 ~]# lsxcatd -v
Version 2.12.2 (git commit 665bf66f47cf569d4799e0eeb7d078ae1c66f293, built Sat Aug 13 06:15:57 EDT 2016)
[root@c910f02c01p14 ~]#
How to reproduce:
[code]

[2016-08-15 08:28] hu-weihua commented on #1697
Fixed by pull request #1701, @junxiawang , could you help to verify this bug? thanks

[2016-08-15 08:28] hu-weihua commented on #1675
Fixed by pull request #1701, @junxiawang , could you help to verify this bug? thanks

[2016-08-15 08:29] hu-weihua commented on #1681
Fixed by pull request #1701, @junxiawang , could you help to verify this bug? thanks

[2016-08-15 08:36] hu-weihua commented on #1491
@pdlun92 , thank you for your suggestion. xcat probe  sub_command  ``osdeploy`` add a new feature "replay the log" can cover your requirement for provision. usage is ``osdeploy -n <node_range> -r <xxhxxm> [-V]``.

If this feature comes to stable, we will implement is on discovery.

[2016-08-15 08:39] hu-weihua commented on #1528
Fix this bug by pull request #1701, @neo954 , could you help to verify it? thanks

[2016-08-15 08:40] hu-weihua commented on #1672
Fixed this bug by pull request #1701, @junxiawang , could you  help to verify it? thanks

[2016-08-15 09:12] junxiawang commented on #1203
@daniceexi @gurevichmark  will talk with yangsong about this part.And will mofiy this doc next spring

[2016-08-15 09:15] junxiawang commented on #1202
@daniceexi @gurevichmark @immarvin
could not find nics introduce in our new doc and will talk to yangsong later to modify this document next spring.

[2016-08-15 09:17] junxiawang commented on #1546
@caomengmeng @daniceexi  Just testcases error and will modify cases later.

[2016-08-15 09:30] junxiawang commented on #1546
@caomengmeng @daniceexi  ertao will modify genesis code for this issue later

[2016-08-15 12:49] tingtli commented on #898
@immarvin @cxhong
I provision a fresh sles12 node, configure it as mn, and install the mariadb packages. Then run mysqlsetup -i to initialize the db. there still has issue.

[code]
This node is in problem state, please login this node to take a look.

[2016-08-15 16:46] cxhong commented on #898
/usr/bin/mysql_install_db is not available in the system,
[code]
 you didn't install mariadb package on your system
[code]
that's the required packages to running on mariadb on sles and documented on xcat doc..
[code]

anyway, I will open a pull request to add the code to check if this command exists.

[2016-08-15 21:19] whowutwut commented on #1090
@ralphbellofatto  We updated the xCAT dependency package to contain a new `ipmitool-xcat-1.8.15-3` version which handles the SIGHUP and SIGTERM..

[2016-08-15 22:45] whowutwut commented on #1642
Yea, we should just update the version manually for now... perhaps there will be less changes are time goes by...

[2016-08-15 23:57] whowutwut commented on #1645
@tingtli  @neo954  Are there specific things that need to be addressed for OpenPower servers that is different on `rinv`?

[2016-08-16 00:08] whowutwut commented on #1422
We might need to consider how to debug these issues at scale.  Whether or not we can replay the console like what @hu-weihua  just added.  Maybe these things will occur more frequently when we are discovering a large set up nodes so it would be helpful if we had the logs needed to debug.

[2016-08-16 00:10] whowutwut commented on #1404
I think we can close out this issue

[2016-08-16 00:16] whowutwut commented on #1538
@immarvin  can you take a look at @tingtli comment to see whether or not this issue can be verified.

[2016-08-16 00:16] whowutwut commented on #1539
@tingtli @immarvin  Is this verified?

[2016-08-16 00:24] #560 closed

[2016-08-16 00:33] daniceexi commented on #1642
Yes, I agree. We should not put effort to automate the thing which does not happen often.
The owner of the ``go-xcat`` defect should verify it base on the one in xcat.org, this can make sure the new version of ``go-xcat`` is updated to xcat.org.

[2016-08-16 00:43] whowutwut commented on #1489
I think the decision here is to close this issue right now.  The `go-xcat` tool is suppose to help the new user have a very easy way to install/update xCAT.  I think we normally stress to the user to run the latest xCAT code as much as possible, so let's not plan to support minor releases in the xcat.org public yum repo unless we have some customer requirements to do so.

[2016-08-16 00:43] #1489 closed

[2016-08-16 00:52] whowutwut commented on #1547
Since this is a big change in behavior, should we deal with this and target a 2.13 release? Maybe we should have the changes in separate branch off of `xcat2/xcat-core` and we can test it separately, then if we feel it's good to go, we can merge it into master, instead of just directly merging into master?

[2016-08-16 00:54] whowutwut commented on #1325
Yes, i'm excited to give that function a try in the next few days.

[2016-08-16 01:01] whowutwut commented on #1416
@zet809  Is this target to be changed on the xcat.org download page?  or other places in our documentation? https://github.com/xcat2/xcat.org/blob/master/download.html

[2016-08-16 01:15] immarvin commented on #1538
hi @tingtli ,please make sure the netdrivers attribute of osdistroupdate is not blank

[2016-08-16 02:50] tingtli commented on #898
That's weird. I check the packages before I install.
I will go ahead to verify the sn provision.

[2016-08-16 07:01] tingtli opened #1706 "[FVT]:use the same way to process the invalid archive and compress method for packimage"
xCAT 2.12.2
This is a low priority requirement. i found when use invalid archive and compress method. The code logic is different. If the return warning message is the same, that would be great!

[code]

[2016-08-16 07:16] junxiawang opened #1707 "[fvt]2.12.2 xcatprobe osdeploy -n node -r 24h could not get right deploy messages"
env:all platform
build:
# lsxcatd -v
Version 2.12.2 (git commit f371073d92da1546259d18bf10162636fe2bcaaf, built Mon Aug 15 06:15:55 EDT 2016)
 #
How to reproduce:
[code]

[2016-08-16 07:19] zet809 commented on #1416
@whowutwut I think both of them needed to be updated. I tried to modify the readthedoc within pull request #1705.
And for the download page of xcat.org, I think it shall be like this, but can not modify the html file. Will you pls do the modification? Thx!

    For x86_64 servers: deb [arch=amd64] http://xcat.org/files/xcat/repos/apt/latest/xcat-core trusty main
    For ppc64el servers: deb [arch=

[2016-08-16 07:30] zet809 commented on #1422
The root cause is nodeset doesn't write currchain and currstate when doing OS deployment. It is a little hard to use replaying to debug the issue since there is no log recording this expect running lsdef manually.
A possible solution may be to check those 2 attributes (currchain and currstate) of a node before nodeset <node> osimage=<image_obj> return.

[2016-08-16 08:23] junxiawang opened #1708 "[fvt]2.12.2 xcatprobe osdeploy -n could not monitor the node deploy process"
env:sles12.1 x86 and ppc64le
build:
c910f03fsp03v02:~ # lsxcatd -v
Version 2.12.2 (git commit f371073d92da1546259d18bf10162636fe2bcaaf, built Mon Aug 15 06:15:55 EDT 2016)
c910f03fsp03v02:~ #
How to reproduce:
[code]

[2016-08-16 09:48] hu-weihua commented on #1707
@junxiawang , I have fixed this issue by pull request #1710 . Could you help to verify it ? thanks

[2016-08-16 09:53] hu-weihua commented on #1708
In @junxiawang 's environment, the format of ``/var/log/messages`` is different with common log format, so in 2.12.2, we don't cover this scenario.
we will do investigation in 2.12.3.

[2016-08-16 10:20] zhanggbj commented on #1559
Hi @daniceexi

It seems @bybai is offline today and I'll try to contact her tomorrow. At the same time, I re-compared the successful and failed node and found some more details. Hope these can provide some more debug information. Would you please help to take a look and provide some instructions on further investigation？Thank you.

**httpd log**

for successful node, there are lots of files transp

[2016-08-16 12:41] natefalkibm commented on #1539
We verified the fix in our environment by generating a patch file from git and applying it on our 2.12.1 system. We have not installed a 2.12.2 build to verify the fix in that environment.

[2016-08-16 12:43] natefalkibm commented on #1538
We verified the fix in our environment by generating a patch file from git and applying it on our 2.12.1 system. We have not installed a 2.12.2 build to verify the fix in that environment.

[2016-08-16 13:56] whowutwut commented on #1706
I think that we should error out right away instead of printing any messages if the options are invalid. Do not print the "packing contents of..." message. . do all the error checking up front and  print the error only instead of printing attempting to start the packing or compression.

This is kind is misleading in my opinion

[2016-08-16 15:05] whowutwut commented on #1642
Fixed with `go-xcat` version 1.0.2

[2016-08-16 15:05] #1642 closed

[2016-08-16 15:49] whowutwut commented on #1305
@immarvin  @zet809  I set this to pending during our call because we discussed that the fix has been made.  However, in my testing, I don't see it completely done...  I think we should remove the pending status.. Is there a pull request that we can associate with this Issue?

I see the genesis base installed for x86_64 and ppc64
[code]

But I don't see anywhere that we run the mknb so that x86_64

[2016-08-16 17:05] whowutwut commented on #1382
Verified using the Release candidate build
[code]

During discovery, after the restart of the network interface,  since we have the `chain=runcmd=bmcsetup,...` set, we are now seeing the messages coming back to the MN node from bmcsetup (via syslog) .

[code]

FYI the new changes @hu-weihua , we possibly could use some of these messages in the xcatprobe, if we are not already.

[2016-08-16 17:05] #1382 closed

[2016-08-16 17:09] cxhong commented on #280
@whowutwut @daniceexi  how we handle this issue?  rinstall  or run makeknownhosts command manually?

[2016-08-16 17:47] whowutwut commented on #1638
Hi @zet809 , I've noticed the following...

I've been noticing this a few times last week and today...  When the node is idle for some time, the compute side no longer shows up on the switch table.
[code]

Could this be caused by not enabling the port fast?

[2016-08-16 18:07] whowutwut commented on #1001
@neo954   I think we had talked about this on the interlock call.   The issue here is that a non root user has been given permission to use xdcp.  (distributed copy).  As a non root user, using `xdcp` to copy a file over to another node results in that file being created as the root user.  This is the bug.

If we look at normal scp, the behavior preserves the ownership of the file.

Taking two VMs

[2016-08-16 18:38] whowutwut commented on #1202
The links are not really that effective because we start get a lot of those duplicate label messages.  Maybe should just put the document in-place

[2016-08-16 19:37] whowutwut commented on #1416
Created pull request: https://github.com/xcat2/xcat.org/pull/25  Can you please double check the changes?

[2016-08-17 00:14] daniceexi opened #1714 "Remove the Debian Support Message in the xcatprobe command."
Since xCAT does not support latest Debian for a while, please remove the messages which related to `Debian` in the xcatprobe command.

[2016-08-17 01:06] daniceexi commented on #1638
@whowutwut The switch mac table has an ``ageing time`` for each mac address. When the ``ageing time`` expired, the mac address is removed. Generally the ``ageing time`` is 300s.

[2016-08-17 03:18] zet809 commented on #1559
Are you able to open console for the failed node to take a look at what the current state is? Can you get the console output?

[2016-08-17 05:43] hu-weihua commented on #1714
@daniceexi , I have fixed this issue by pull request #1715 , Could you review and merge it? thanks.

[2016-08-17 06:32] junxiawang commented on #1683
verified

[2016-08-17 06:32] #1683 closed

[2016-08-17 06:34] junxiawang commented on #1673
verified

[2016-08-17 06:34] #1673 closed

[2016-08-17 07:42] junxiawang opened #1717 "[fvt]2.12.2 xcatprobe osdeploy -n could not monitor the node deploy process if message's log : dhcp[process id]"
env:ubuntu16.04.1
build:
root@c910f04x21v02:~# lsxcatd  -v
Version 2.12.2 (git commit 9298b5ff211500e22398abd7c35b3fe28038feff, built Tue Aug 16 09:12:17 EDT 2016)
root@c910f04x21v02:~#
How to reproduce:
[code]

[2016-08-17 08:20] junxiawang opened #1719 "[fvt]xcatprobe osdeploy -n node's result -r 4h could not same with -r 40h"
env:sles11.4
build:
c910f02c08p08:~ # lsxcatd -v
Version 2.12.2 (git commit 9298b5ff211500e22398abd7c35b3fe28038feff, built Tue Aug 16 06:16:00 EDT 2016)
c910f02c08p08:~ #
How to reproduce:
[code]

[2016-08-17 08:21] tingtli opened #1720 "[FVT] go-xcat has a typo for xcat-genesis-scripts-ppc64"
xCAT 2.12.2
go-xcat failed on ubuntu because there  is a typo for xcat-genesis-script-ppc64

[code]
and here
[code]

[2016-08-17 08:23] neo954 commented on #1720
Fixed in pull request #1721.

[2016-08-17 08:57] caomengmeng commented on #898
@tingtli
With latest daily build, after SN is booted successfully, failed to boot CN after retry for several times, CN is booting status, and rcons CN, messages in screen are below:
···
 If using -m squashfs did you include aufs.ko with geninitrd?
  e.g.:  -n tg3,squashfs,aufs,loop
* If using -m nfs did you export NFS and sync rootimg?  And
  did you include the aufs and nfs modules in the proper

[2016-08-17 09:34] junxiawang commented on #1682
verified

[2016-08-17 09:34] #1682 closed

[2016-08-17 09:35] zhanggbj commented on #1665
Seems BMC is disconnected at that time, so it reported time out error. This issue doesn't happen again so I'll close it. Thank you for your reply:)

[2016-08-17 09:35] #1665 closed

[2016-08-17 10:03] bybai commented on #1559
Hi @zhanggbj ,
After pushinitrd command, could you try this?
To login the failed node, and check  /boot/grub/menu.list with right ip netmask gateway, then did rsetboot and rpower reset command in xcat MN.

[2016-08-17 10:21] bybai commented on #1559
@zhanggbj , systems from softlayer should have OS, so you can refer to doc: https://sourceforge.net/p/xcat/wiki/Using_xCAT_in_SoftLayer/, then you can check if menu.list correct or not.

[2016-08-17 13:08] whowutwut commented on #1720
Also commented in the pull request, but maybe need another pull request to bump up the version number and also push the changes to xcat.org.

[2016-08-17 18:44] whowutwut opened #1725 "xcatprobe xcatmn usage errors in help menu"
Few comments on xcatprobe:
- The `-i` option is required , so it should not be surrounded by `[ ]` brackets which indicate optional argumnets...
- replace `xcat` with `xCAT` to be consistent with the naming of the product.

[code]

[2016-08-17 18:44] whowutwut commented on #1725
I'm ok to move this to 2.12.3..

[2016-08-17 18:45] whowutwut commented on #1305
Looks good with todays build.

[2016-08-17 18:45] #1305 closed

[2016-08-17 23:39] immarvin commented on #898
what is the node definition ang osimage definition of the cn?

[2016-08-18 01:51] tingtli commented on #898
@caomengmeng @immarvin
 I take a look at the CN. The issue is because the CN get dhcp reply from other node, not SN. I login the node and delete the CN in dhcp release, then rerun the provision. It succeeded.
I run both diskful and diskless provision. All passed. I will close this issue.
I find another small issue, i will open another defect to trace that.

[2016-08-18 01:51] #898 closed

[2016-08-18 01:56] hu-weihua commented on #1717
@junxiawang ,  I have fixed this bug by pull request  #1726.Could you help to verify it ? thanks

[2016-08-18 02:04] hu-weihua commented on #1719
@junxiawang , the process during  40 hours is different with the process during 4 hours in your environment. the root reason is there are processes except provision happened during 40 hours, ``osdeploy`` can't handle this complicated scenario very well now. we need to enhance the code logic.
but it seems can't be done in 2.12.2. so I move this issue to next release.

[2016-08-18 06:01] junxiawang commented on #1681
verified

[2016-08-18 06:01] #1681 closed

[2016-08-18 06:02] junxiawang commented on #1707
verified

[2016-08-18 06:02] #1707 closed

[2016-08-18 06:17] junxiawang commented on #1708
verified

[2016-08-18 06:17] #1708 closed

[2016-08-18 06:25] junxiawang commented on #1479
@xuweibj @hu-weihua
discussed with wihua move this bug to 2.12.3

[2016-08-18 06:38] junxiawang opened #1727 "[fvt]2.12.2 xcatprobe discovery Unescaped left brace"
env: ubuntu 16.04.1
build:root@c910f03c17k27:~# lsxcatd -v
Version 2.12.2 (git commit 29eeef24abec7692194ef4c71b5cccfab89b01d1, built Wed Aug 17 06:21:09 EDT 2016)
root@c910f03c17k27:~#
How to reproduce:
[code]

[2016-08-18 06:40] junxiawang commented on #1672
verified

[2016-08-18 06:40] #1672 closed

[2016-08-18 07:35] junxiawang commented on #1487
verified

[2016-08-18 07:35] #1487 closed

[2016-08-18 07:36] junxiawang commented on #1697
verified

[2016-08-18 07:36] #1697 closed

[2016-08-18 07:46] junxiawang commented on #1674
verified

[2016-08-18 07:46] #1674 closed

[2016-08-18 07:47] junxiawang commented on #1687
verified

[2016-08-18 07:47] #1687 closed

[2016-08-18 07:48] junxiawang commented on #1675
verified

[2016-08-18 07:48] #1675 closed

[2016-08-18 08:03] tingtli opened #1730 "[FVT]: sed: can't read /boot/grub/grub.conf in servicenode log file"
I remember we ever had this issue in CN's log when we support rh7.2 and sles12.1 on flat cluster.   Please double check the code and give a patch for servicenode Thanks!

[2016-08-18 08:36] daniceexi commented on #1730
The issue caused by the following piece of code. I don't think we have fix for this issue.
Since this issue was there for a long time. We can move it to next release.
@immarvin when fix this issue, please add comments why we need change the grub.conf?

./xCAT-server/share/xcat/install/scripts/post.xcat
[code]

[2016-08-18 08:36] junxiawang commented on #1415
verified

[2016-08-18 08:36] #1415 closed

[2016-08-18 08:57] junxiawang opened #1731 "[fvt]2.12.3 xcatprobe image -n node -d need to do error switch if xdsh diskless node failed"
env:all os
build:
c910f03c17k27:/opt/xcat/share/xcat/tools/autotest/result# lsdef -v
lsdef - Version 2.12.2 (git commit 4b3b4f335db70103098931538a6db2be50bbe0d9, built Thu Aug 18 04:06:02 EDT 2016)
root@c910f03c17k27:/opt/xcat/share/xcat/tools/autotest/result#
How to reproduce:
[code]

[2016-08-18 09:26] junxiawang commented on #1717
verified

[2016-08-18 09:26] #1717 closed

[2016-08-18 09:28] zet809 opened #1732 "[DEV]Add usage and manpage for switch based switch discovery"
Pls update Usage and manpage of switchdiscover with "--setup" for switch-based switch discovery and configuration.

[2016-08-18 09:50] junxiawang commented on #1507
verified

[2016-08-18 09:50] #1507 closed

[2016-08-18 09:50] daniceexi opened #1734 "Update the help info for node.mac to know how to handle installnic bond"
xCAT supports to use `bond` for install nics. The discovery process can set the `node.mac` attribute with a special format for `bond` support, but we have not a description for `node.mac` for user to know how to set it manually.

[2016-08-18 10:27] daniceexi opened #1735 "Enabling x86_64 genesis has problem on ppc64le MN"
We have made a feature to install x86_64 genesis and run `mknb` on ppc64le MN by default. But we did not enable the xnba on ppc64le MN which caused CN cannot load genesis.

[2016-08-18 11:36] daniceexi commented on #280
I recommend to run ``makeknownhosts`` by customer.

[2016-08-18 13:57] whowutwut opened #1738 "Add transparency on the Jenkins result email to accurately show problems with framework or code"
I have brought this up in the past and I think that it's really something that needs to be changed regarding the way we are reporting the status on the automated testing.

I think the subject line should be a accurate indicate of something wrong in the testing suite, regardless of whether it's because of code bugs or because of testing framework bugs.  If we are going to leverage the autotest for

[2016-08-18 14:34] whowutwut commented on #1731
@cxhong  is this similar to the ssh key issue in known_hosts?

[2016-08-18 14:39] whowutwut commented on #1539
Closing this issue for 2.12.2 release on Friday, please reopen if something else needs to be addressed

[2016-08-18 14:39] #1539 closed

[2016-08-18 14:39] whowutwut commented on #1538
Closing this issue for 2.12.2 release on Friday, please reopen if something else needs to be addressed

[2016-08-18 14:39] #1538 closed

[2016-08-18 15:54] #1404 closed

[2016-08-18 16:02] gurevichmark commented on #1628
Similar problem exists if we first do `chvm -a <size>` on the powered **off** VM. The disk gets added to the `kvm_nodedata` table with `sdb` diskname. Then, when we poweron the VM, error is reported that there is a conflict of 2 devices with `sdb` name. The root cause is probably the same as above, name of the cdrom is not considered.

[2016-08-18 18:15] whowutwut opened #1740 "re-write the documentation install guide to leverage go-xcat"
Since our install process has been simplified by using the `go-xcat` script, consider re-writing or re-arranging the install guide section to reflect this change..

[2016-08-18 19:57] whowutwut commented on #1356
Closing this issue, @markprez  please re-open or create another issue if the problem persists.

[2016-08-18 19:57] #1356 closed

[2016-08-18 19:58] whowutwut commented on #1090
seems there still is some issues with `service conserver restart` case...

[2016-08-19 00:30] daniceexi commented on #1090
@whowutwut Could post the issues you found?
I move this issue to next release so that we can continue fix the potential issues.

[2016-08-19 05:33] tingtli opened #1742 "[FVT]:packimage -m tar -c gzip failed on sles11.4"
xCAT 2.12.2 8/17 build on sles11.4 ppc64
[code]

[2016-08-19 05:53] junxiawang commented on #1727
verified

[2016-08-19 05:53] #1727 closed

[2016-08-19 05:59] junxiawang commented on #1508
veriried

[2016-08-19 05:59] #1508 closed

[2016-08-19 08:21] tingtli opened #1744 "[FVT]:packimage -m cpio -c gzip rhels6.8-ppc64-netboot-compute get error image"
xCAT 2.12.2 on rhels6.8 ppc64
[code]

[2016-08-19 08:46] neo954 commented on #1528
Please read the last comment I wrote. That problem is still there.

[2016-08-19 08:53] neo954 commented on #1528
Okay, I will consider this bug was fixed properly, and close this one.

[2016-08-19 09:16] neo954 commented on #1528
Sorry. While I was reading the patch. There is one problem still unfixed.

Consider the directory `/tmp` or `/install` is not a separate file system, and is not a part of the root file system as well. Instead, it is a symbolic link point to another directory in a separate file system other than the root file system. In this case, the code logic is wrong.

For example, `/install` is a symbolic link

[2016-08-19 10:23] daniceexi commented on #980
The change has been verified.

[2016-08-19 10:23] #980 closed

[2016-08-19 11:55] tingtli opened #1747 "[FVT]:mkvm returns Unknown issue Path on ppc64le vm"
xCAT 2.12.2 8/17 build. both on rhels7.2 and ubuntu14.04.1

[code]

@gurevichmark  This issue occurs on our daily run test environment. it will be reinstalled again and again. Let me know if you need me to setup a environment.

[2016-08-19 12:18] whowutwut commented on #1747
@tingtli Can you also provide the output for "ls -ltr /var/lib/libvirt/images" or provide us the machine to debug on? Is the hyper visor reinstalled on each run or the rmvm run to clean up the old vm before this is executed again?

[2016-08-19 12:31] gurevichmark commented on #1747
@tingtli I think this is working correctly. When you run `rmvm <vmname>` the VM is removed but the disks are left untouched. Then when you run `mkvm <vmname> -s <size>` you are asking to create a VM with a new disk, but the old disk is still there.
So there are 2 choices here:
1. If you wish to keep the old disk to be reused by the VM, the commands should be
-`rmvm <vmname>`
-`mkvm <vmname>`
2. If

[2016-08-19 14:23] tingtli commented on #1747
@gurevichmark @whowutwut  I am sorry. The steps should be
rmvm c910f03fsp03v04 -f -p
@gurevichmark  Please login node c910f03fsp03v02(10.3.9.2) to take a look. When you login node c910f03fsp03v02, please first login 10.4.31.1, then ssh to c910f03fsp03v02.

[2016-08-19 15:11] gurevichmark commented on #1747
@tingtli I logged onto your system to see what is going on. It appears that on the KVM host system **node-32030901**, you have 4 running VMs:
[code]

But there are some disks defined for VMs that are not running:
[code]

Generally that is not a problem, these disks can stay around in case you want to define a VM and reuse old disks with a command `mkvm <vmname>`. But if you want to start from scra

[2016-08-19 18:33] whowutwut commented on #450
Closing this issue, please open a new issue if the problem persists

[2016-08-19 18:33] #450 closed

[2016-08-19 18:36] whowutwut commented on #1604
@tingtli  please verify and close this issue ASAP so we can close out the 2.12.2 milestone.

[2016-08-19 18:39] whowutwut commented on #1589
Verified with the latest downloadable version of `go-xcat`

[code]

running without --help causes the usage message to appear.

[2016-08-19 18:39] #1589 closed

[2016-08-19 18:44] #1183 closed

[2016-08-19 18:51] whowutwut commented on #1616
@neo954  When running `go-xcat` on RHEL 6.0, the following error occurs:

[code]

So we really should have some sort of yum check for level of yum... or something else to prevent this error and let the user know that we do not support running go-xcat at a certain level.

Or the solution is to not use options that are not supported by older versions of yum  `updateinfo` is not avail in yum on RHEL

[2016-08-19 20:00] whowutwut commented on #711
Moved to 2.12.3.   @bybai  since this is high priority, please see if you can take a look at it for the next sprint, it not, let's get someone else on the team to take a closer look.

@tingtli  In parallel, can we create a testcase for this issue or identify the dns testing bucket and exercise it to see if we can detect this.  If not, then we want to create new testcases.  Make sure that we exerci

[2016-08-19 20:02] whowutwut commented on #1359
@caomengmeng  please verify and close out this issue so we can close the milestone.

[2016-08-19 20:02] whowutwut commented on #1603
@tingtli  please verify and close out this issue so we can close the milestone.

[2016-08-19 20:03] whowutwut commented on #1720
@tingtli please verify and close out this issue so we can close the milestone.

[2016-08-19 20:06] whowutwut opened #1748 "go-xcat does not show prompt from yum and fails on RHEL 7 x86_64"
Using the latest go-xcat today for the 2.12.2 GA, i find some issues on x86_64 rhel 7

[code]

Right here, it's trying to prompt for user response, but I do not see any prompt.

When I hit enter, go-xcat fails...

[code]

[2016-08-22 00:21] tingtli commented on #1720
verified and close it.

[2016-08-22 00:21] #1720 closed

[2016-08-22 05:32] tingtli commented on #1738
"Not run" case number is total case number minus "pass" and "failed" cases.
The all 0 line is because the mn provision is failed,  the test is not started, so the total case is 0.
FVT is refining the code to take mn provision as a test case. then we could get the total case before mn provision.

[2016-08-22 05:39] #1706 closed

[2016-08-22 06:00] tingtli commented on #1738
@whowutwut  I am not very clear for your requirement to add the failed reason in the subject. The summary email only gives out the test result on different platforms. For each platform, we have independent email to indicate the test result.  The email fo reach platform is
[code]

[2016-08-22 06:10] tingtli commented on #1645
For the manpage of rinv, we have several sections for each hardware platform. e.g
BMC/MPA specific:,  PPC (with HMC) specific: etc.
I think we need to add a section for "OpenPOWER BMC specific:" to let the users know which options would be used for rinv on OpenPOWER.
See manpage of rflash.

[2016-08-22 06:22] tingtli commented on #1747
@gurevichmark  Mark, i use your way and it works now. My question is why we need to delete it using the virsh commands. Why rmvm does not do that?

[2016-08-22 06:28] zet809 opened #1750 "[DEV] Remove the hardcoded password for dev"

[2016-08-22 14:42] whowutwut commented on #1738
@tingtli  I'm not asking to add the failed reason into the subject.  I just want an accurate count of failures, and I think that "no run" is the same thing as "failed" regardless of whether the testcase failed because of a bug or the framework has problems.   It should not be total case - failed - pass unless we know that total case is NOT 0.   If we can know the size of the bucket before hand, th

[2016-08-22 15:48] gurevichmark commented on #1747
I think this is what is happening:
1. At one point there was a running VM `c910f03fsp03v04` with a disk `c910f03fsp03v04.sda.qcow2`
2. A command `rmvm c910f03fsp03v04` was issued. This removed the VM, but since `-p` option was not used, the disk `c910f03fsp03v04.sda.qcow2` was not removed from the KVM host.
3. Now, when you try to create a new VM with the same name and use `-s <size>` option, an e

[2016-08-22 15:52] whowutwut commented on #1748
On a clean install of RHEL 7.2 x86_64 , I run `/tmp/go-xcat -y install` to get past the first problem above, but I encounter this 2nd issue.

[code]

Running the suggestion ,  `yum --enablerepo=xcat-dep clean metadata` resolves the problem...  How come we do not resolve this for the user and avoid this issue alltogether so that go-xcat succeeds 100% the first time?

@tingtli Any testcase being use

[2016-08-22 17:41] richsudlow commented on #711
If you'd like I'm willing to test fixes you might have.

[2016-08-22 19:40] whowutwut commented on #711
@richsudlow Can you provide the error you are seeing?  or a way to re-create this?  I see you have external DNS, but I'm assuming the hostnames of the machines you are creating will be managed by the xCAT MN node?

I did the following, created a VM and installed the GA 2.12.2 version of xCAT.  Then ran the following test.  The VM has the following configuration:
[code]

Then I create a script to a

[2016-08-22 19:42] whowutwut commented on #1645
@zet809 I think we currently do not support any options to rinv for OpenPower..

[2016-08-22 20:08] richsudlow commented on #711
On 08/22/2016 03:40 PM, Victor Hu wrote:

[root@opt-mgmt ~]# lsxcatd -v
Version 2.12 (git commit 588076d19fdf219157690ce65299e92ca42f1398, built Fri May
20 03:10:38 EDT 2016)

[root@opt-mgmt ~]# tabdump networks
#netname,net,mask,mgtifname,gateway,dhcpserver,tftpserver,nameservers,ntpservers,logservers,dynamicrange,staticrange,staticrangeincrement,nodehostname,ddnsdomain,vlanid,domain,comments,dis

[2016-08-23 03:00] immarvin commented on #1671
Currently, the mkdef only support the stanza file piped to STDIN,  for the stanza file redirected to STDIN, we can enhance it if required,

[code]

[2016-08-23 05:27] chenglch commented on #1090
@whowutwut ， I have tested on your c910f02c05p03 node again, I can't reproduce this issue on both c910f05c39 and c910f05c33 when running `server conserver restart`

[2016-08-23 06:07] neo954 commented on #1359
Will close this one. @caomengmeng, please feel free to reopen this issue in case needed.

[2016-08-23 06:07] #1359 closed

[2016-08-23 06:10] neo954 commented on #1603
Will close this one. @tingtli, please feel free to reopen this issue in case needed.

[2016-08-23 06:10] #1603 closed

[2016-08-23 07:09] AsirXing commented on #1086
It should be a new requirement for xCAT, we want to xCAT can resolve the private and public FQDN for a node. For example, in my environment, there are 2 networks with domains as below:
...............
[root@db04b11 ~]# tabdump networks
#netname,net,mask,mgtifname,gateway,dhcpserver,tftpserver,nameservers,ntpservers,logservers,dynamicrange,staticrange,staticrangeincrement,nodehostname,ddnsdomain,vl

[2016-08-23 07:57] penguhyang commented on #1744
``packimage -o rhels6.8 -p compute -m cpio -c gzip``
The -o -p -a options will not support any more.

[2016-08-23 07:57] #1744 closed

[2016-08-23 08:39] daniceexi commented on #1086
@AsirXing As you have made a clear requirement for the requirement, could you open an new issue and close this one?

@bybai Could you investigate how many effort we need to fix it?

[2016-08-23 08:40] tingtli commented on #1744
@penguhyang  I will update the test cases.
And please remove the -o -p -a options in packimage manpage. Thanks!

[2016-08-23 08:43] wwzhubj opened #1752 "bmc tmperary nodes are not deleted after the bmc setup has finished."
issue: bmc temp nodes are not deleted after the bmc setup has finished.
Yesterday  Dave discovered  5 JEMTs and entered into the xcat db (via  bmcdiscover -s nmap --range 192.168.130.100-140 -t -z -w )
which created the 5 temp nodes
node-8335-gtb-2109c4a
node-8335-gtb-2109c6a
node-8335-gtb-2109c8a
node-8335-gtb-2109e9a
node-8335-gtb-2109eaa

After powered up these 5 temp nodes
and they are stucked

[2016-08-23 08:47] wwzhubj commented on #1752
In our environment , I found totally 13 nodes are not deleted
[root@c712ems4 httpd]# nodels all |grep node
node-8335-gtb-100463a
node-8335-gtb-100469a
node-8335-gtb-100582a
node-8335-gtb-2109c4a
node-8335-gtb-2109c6a
node-8335-gtb-2109c8a
node-8335-gtb-2109c9a
node-8335-gtb-2109cfa
node-8335-gtb-2109d5a
node-8335-gtb-2109e9a
node-8335-gtb-2109eaa
node-8335-gtb-2109f6a
node-8335-gtb-210a01a
 I don'

[2016-08-23 09:27] daniceexi commented on #1752
@zet809 Could you confirm whether the nodes were missed to be cleaned up when the MN was using old code?

[2016-08-23 13:06] whowutwut commented on #1604
Can we close this issue? has it been verified?

[2016-08-23 14:42] daniceexi commented on #1604
Yes, it has been fixed.

[2016-08-23 14:42] #1604 closed

[2016-08-23 16:05] whowutwut commented on #1750
@zet809  I'm going to close this for now, since the parent task has been cancelled.

[2016-08-24 03:37] bybai commented on #1553
@wwzhubj , I want to confirm with you.
9.114.75.32 .pok.stglabs.ibm.com c712f7n02
ip is 9.114.75.32 ?
.pok.stglabs.ibm.com is domain without hostname?
c712f7n02 is short name?

[2016-08-24 03:47] bybai commented on #1660
@daniceexi , we can use capital check for node; for osimage, xcat can use capital. I will fix this.

[2016-08-24 04:06] whowutwut commented on #711
@bybai any idea here?

[2016-08-24 04:13] #1742 closed

[2016-08-24 05:23] tingtli opened #1755 "[FVT]since -o -a and -p are not supported in packimage, please give warnings and return when use it."
We have decide not to support -a -o and -p in packimage, but when i use it, i found it could pack the image and return normally. but , when i use nodeset to set the image with the node, it will gives error message.  see following example,
[code]

I think since -a -o and -p are not supported anymore, please give warning and exit when user uses it.

[2016-08-24 07:18] wwzhubj commented on #1553
yes

[2016-08-24 07:36] neo954 commented on #1591
This is the real problem. Cannot access the hardware clock. :(

    [xCAT Genesis running on c910f03c25 /]# hwclock
    hwclock: Cannot access the Hardware Clock via any known method.
    hwclock: Use the --debug option to see the details of our search for an access method.

[2016-08-24 07:45] neo954 commented on #1591
This is the correct shape on another Firestone machine runs RHEL 7.3 Beta. It seems we really need the kernel module `rtc_opal` in genesis for Firestone machine.

    [root@c910f05c35 ~]# hwclock
    Wed 24 Aug 2016 03:41:42 AM EDT  -0.693350 seconds
    [root@c910f05c35 ~]# ls -l /dev/rtc*
    lrwxrwxrwx 1 root root      4 Aug 17 22:54 /dev/rtc -> rtc0
    crw------- 1 root root 254, 0 Aug 17 22:

[2016-08-24 08:10] neo954 commented on #1591
I think xCAT needs a least include `rtc-opal.ko` in genesis. Further more, xCAT needs to include all the kernel modules Fedora shipped in genesis as well. Since xCAT rely on genesis to do the hardware detecting. xCAT shipped genesis has to be in the right shape.

[2016-08-24 08:21] dillonfzw commented on #581
We recreated this problem in both 8247-22A and 8247-22L with SV840-118 firmware these days.

It seems it related to the formula which we used to calculate the lpar memory. New firmware, SV840, seems require reserving more memory for the firmware and others than old release firmware, such as SV810

[root@smn ideav2]# rinv test1 firm
Server-8284-22A-SN101B17V: Release Level  : 01SV840
Server-8284-22

[2016-08-24 08:38] zet809 commented on #1750
@whowutwut Thx!

[2016-08-24 11:11] whowutwut commented on #1591
Do we need to recreate the Genesis base?

[2016-08-25 03:04] caomengmeng opened #1758 "[FVT]Please update bundle files as cases are deleted."
@tingtli
As this test case: packimage_p_a_o is deleted, but it is listed in bundle files, which caused the total number and run number are not consistent, would you please update bundle files?
Thanks.

[2016-08-25 03:10] #1755 closed

[2016-08-25 04:43] caomengmeng opened #1760 "[FVT]rmvm returns error message on ppc64le test machines"
rmvm returns error message on ppc64le test machines:

[code]

[2016-08-25 05:41] immarvin opened #1761 "[DEV]"packimage" return code is 0 when there are errors"
[code]

There are many places in packimage.pm
[code]

it should be like this, otherwise, error code can not be passed as the return code of the command:
[code]

please fix all the errors in packimage.pm like this

[2016-08-25 06:26] zet809 commented on #1591
@whowutwut I have build a genesis-base ppc64 and have PCM team to try that, if this defect is fixed, I will commit both the modification and the genesis-base package.

[2016-08-25 06:48] #1761 closed

[2016-08-25 07:09] tingtli commented on #1760
@caomengmeng  please see defect #1747
I will close this one and trace that on 1747

[2016-08-25 07:09] #1760 closed

[2016-08-25 07:15] tingtli commented on #1738
@whowutwut "no run" is different with "failed" because we have a stop label in the test cases. That means, when there is a case failed, if the case has a stop label on itself, the test will stop at the case and the cases after it will be "not run" case.

The scenario which you concern only happens when the mn provision failed. Then the test was not triggered and the total case number is not gotten

[2016-08-25 07:36] samveen opened #1764 "[Feature Request] `makedhcp` should warn if a node's IP falls inside a network's dynamic range"
I'm running  xCAT-2.9.1 on a centos7 environment.

Relevant fields of my node definition:

[code]

Snippets from the node's console log during kickstart installation(ellipsis denotes truncation) :

[code]

My problem is that the node receives the correct IP during the PXE boot process, but then gets another IP during the kickstart process. This causes the usual problem of a post-install stuck on u

[2016-08-25 07:42] samveen commented on #1671
@chrissamuel  To revisit your original question on the `xcat-users` mailing list:
https://sourceforge.net/p/xcat/mailman/message/34544088/
and the associated caveats
https://sourceforge.net/p/xcat/mailman/message/34544204/

[2016-08-25 07:45] daniceexi commented on #1764
It's a valid request if we don't have the check in our latest code @baiy

[2016-08-25 08:53] wwzhubj opened #1766 "redhat7.3 beta install failed on garrison."
I got the rh73 beta from ftp://ftp3.linux.ibm.com/redhat/beta_cds/RHEL-7.3-Beta-1/Server/ppc64le/iso/
put at:
/root/Downloads/RHEL-7.3-20160817.1-Server-ppc64le-dvd1.iso
# ls -l /root/Downloads/RHEL-7.3-20160817.1-Server-ppc64le-dvd1.iso
-rw-r--r-- 1 root root 3192926208 Aug 24 13:02 /root/Downloads/RHEL-7.3-20160817.1-Server-ppc64le-dvd1.iso

then I ran
copycds -n rhels7.3 -p /install/rhels7.3bet

[2016-08-25 09:15] immarvin commented on #1766
open a ticket to LTC
https://bugzilla.linux.ibm.com/show_bug.cgi?id=145512

[2016-08-25 13:06] ralphbellofatto opened #1767 "genimage deleted /dev/* on the management node..."
we ran genimage on the following osimage stanza:

[code]

then ran genimage rhels72_compute:

right before it stopped it printed:

[code]

it appears to have deleted most of the content of the management nodes /dev directory, which makes the management node no longer functional, requiring a reset to recover.

[code]

I believe that part of the problem is this function in /opt/xcat/share/xcat/netbo

[2016-08-25 13:54] whowutwut commented on #1767
@immarvin I know we found this issue towards the end of last release. Was another issue already opened that we  could duplicate or was there a pull request that was made to fix it?

[2016-08-25 13:55] whowutwut commented on #1767
Adding @hu-weihua  also, since I think she might have some info

[2016-08-25 14:26] ralphbellofatto commented on #1767
to prevent crashing our managment node i modified the code in:
/opt/xcat/share/xcat/netboot/rh/genimage

[code]

and now i see the error message reads:

[code]

This at least demonstrates that this error can be guarded against.

[2016-08-25 14:28] ralphbellofatto commented on #1767
now that we have the management node back, the version we are running is:
[root@c460mgt01 ralphbel]# lsxcatd -v
Version 2.12.2 (git commit e4a7359d31008d81c4c57e0857d5f09009a3269c, built Thu Aug 18 06:43:29 EDT 2016)

I also checked the master branch for this on github and did not find any guard code for the rootimage_dir being blank.

[2016-08-25 15:03] ralphbellofatto commented on #1767
I think i found the missconfiguration that triggered this glitch..

the "kernel" module was missing from the compute pkg list file.

Here is the contents of the offending package list...

[code]

when we added the kernel module along with the other packages from
 /opt/xcat/share/xcat/netboot/rh/compute.rhels7.ppc64le.pkglist

this problem does not happen.

I also took the file  /opt/xcat/share/xca

[2016-08-25 18:03] whowutwut commented on #1766
Thanks @immarvin  for opening the issue to LTC

[2016-08-25 19:07] gurevichmark opened #1768 "Disks added to kvm do not match device labels"
On MN create a VM with an initial disk of 15G, then I add a disk of 10G and another disk of 5G:

mkvm <vmname> -s 15G
chvm <vmname> -a 10G
chvm <vmname> -a 5G
rpower <vmname> on

On the KVM host things appear as expected:
`virsh dumpxml <vmname>` displays 3 disks: sda size of 15G, sdb size of 10G and sdc size of 5G

![image](https://cloud.githubusercontent.com/assets/16106630/17981969/f40e0572-6ad

[2016-08-25 19:19] whowutwut commented on #1750
Seems like they re-opened the task ..

[2016-08-25 23:21] whowutwut commented on #1738
Thanks! I'm ok with however you want to implement it, I just want to make sure that we avoid any scenario where the autotest will report 0 fail and 0 no run , when really there is some problem.

[2016-08-25 23:24] whowutwut commented on #1591
👍

[2016-08-26 01:48] penguhyang commented on #1684
The rootimg.gz differs on each  packimage. So the packimage -m cpio -c gzip osimage does not get the same file size with packimage

[2016-08-26 01:48] #1684 closed

[2016-08-26 02:14] immarvin commented on #1767
hi @ralphbellofatto , thanks for your feedback.

The removal of "/dev" on MN is a bug in xCAT,  fixed in https://github.com/xcat2/xcat-core/pull/1769/files

When you create a customised osimage, you'd better  make sure the "pkglist" at lease includes all the packages inside the pkglist shipped in xCAT.

A tip: xCAT 2.12.2 provides an option "--template" to simplify the creation of customised node/

[2016-08-26 02:33] immarvin commented on #1768
hi @gurevichmark ,

http://libvirt.org/formatdomain.html#elementsDisks mentions:
[code]

Suppose that you get a physical machine with several disks, you specify the name for them "sda","sdb"...,  you can only identify them with the pci slot or scsi address in the guest os.
If you expect them to be named as you specified, you may need to write own udev rules for the disk devices, considering the va

[2016-08-26 02:54] xuweibj opened #1770 "[DEV] After update MN, SN SSL connect failed"
SN: c910f03c17k17

[code]

[2016-08-26 02:57] immarvin commented on #1770
can be workaround by "update node SN -P servicenode" after MN updating. Maybe we should add this into xCAT Doc

[2016-08-26 03:07] daniceexi commented on #1767
We should make sure no critical issue happens when any incorrect define made by user.

[2016-08-26 05:50] immarvin commented on #1766
some updates on this:

The same issue can be recreated on power LE kvm node.

if I modify the line "network --onboot=yes --bootproto=dhcp --device=42:dc:da:97:e5:ab" in kickstart response file "/install/autoinst/NODE" to "network --onboot=yes --bootproto=dhcp ", The node can be installed, however, the NICs seems can not be activated:
[code]

[2016-08-26 06:22] caomengmeng opened #1772 "[FVT]Please update packimage releated cases"
@tingtli
As the optional are not supported to be used together, please update related test cases.

[code]

[2016-08-26 07:16] caomengmeng commented on #1772
Another failed scripts impact 2 cases:
[code]

[2016-08-26 07:20] tingtli commented on #1772
please see #1773

[2016-08-26 19:36] gurevichmark commented on #1768
I agree this work might not be worth it.

Perhaps a better solution could be to make `lsvm` command return a list of device names and which qcow2 files they are mapped to. This way user will have some idea of the mapping when they change size or remove disks.

[2016-08-29 06:56] bybai commented on #711
@whowutwut , let me investigate again.

[2016-08-29 08:29] immarvin commented on #1660
hi @bybai , current xCAT does not restrict the usage of capital letters in osimage names.
[root@c910f04x30v02 initrd]# mkdef -t osimage -o AAA pkgdir=pp imagetype=linux
1 object definitions have been created or modified.

[root@c910f04x30v02 initrd]# lsdef -t osimage -o AAA
Object name: AAA
    imagetype=linux
    pkgdir=pp

[2016-08-29 12:37] gurevichmark commented on #1628
Fixed by #1751

[2016-08-29 12:38] #1628 closed

[2016-08-29 12:49] gurevichmark commented on #1747
@tingtli Can you please let me know if you agree with my explanation in the last comment for this issue. If you agree, can you please close this issue.

[2016-08-29 18:06] gurevichmark commented on #1731
Fixed by pull request #1741

[2016-08-30 03:30] penguhyang commented on #1677
Hi, @LudovicEnault genimage provide a option --noupdate
``This flag allows the user to bypass automatic package updating when installing other packages.`` which may be helpful for you.

[2016-08-30 06:32] samveen opened #1783 "[Feature request]non-interactive option for "/opt/xcat/share/xcat/scripts/setup-local-client.sh""
When the command  `/opt/xcat/share/xcat/scripts/setup-local-client.sh` is run, the `openssl req` command prompts for `[y/n]` twice:
[code]
`openssl req` accepts a `-batch` option so that such prompts are no longer shown.
1. Can this script be changed to add this to the openssl command?
OR
2. If this user interaction is required, can an option  `-b` (or `--batch` ) be added to allow for non-interac

[2016-08-30 07:36] immarvin commented on #1783
hi @samveen , thanks for your proposal.  We prefer option 2:
[code]
The option should better be "-f|--force" to keep consistent with the existing xCAT command options.

If you are ok with this, please feel free to create a PR.

thanks

[2016-08-30 07:50] #1750 closed

[2016-08-30 08:55] neo954 opened #1785 "Lack of Linux kernel module rtc-opal.ko in genesis-base ppc64"
In the genesis environment running on Firestone machine. The hardware clock is not accessable. Due to the lack of Linux kernel module `rtc-opal.ko`.

[code]

[2016-08-30 08:56] neo954 commented on #1785
Issue #1591 is depend on this issue.

[2016-08-30 16:21] LudovicEnault commented on #1677
Thanks, I hadn't seen this option.
I will let you know if it has the expected behavior the net time there is a new kernel released!

[2016-08-30 16:42] whowutwut opened #1786 "By creating the documentation per tagged release, we have broken old links for xCAT docs"
In the 2.12.2 release, we tagged the release on GitHub. ReadTheDocs will detect it and we enabled that version of the documentation.

The 2.12 release docs are ALL the same because we only have 2.12 branch in xCAT, so there's no need to have 2.12, 2.12.1, and 2.12.2 docs built on RTD

![image](https://cloud.githubusercontent.com/assets/10049070/18098181/1be4465e-6eaf-11e6-8a7e-b665029d9408.png)

H

[2016-08-30 16:43] whowutwut commented on #1786
http://xcat-docs.readthedocs.io/en/2.12/index.html <-- this is a broken link, for example

[2016-08-30 16:45] whowutwut commented on #1786
For the meantime, since I need to provide links for the documentation, I re-enabled the 2.12 doc build.

[2016-08-30 17:05] whowutwut opened #1787 "Update the documentation to describe the HW discovery process for OpenPower when tagged VLANS are needed for BMC"
Update the documentation for hw discovery for Open Power machines when BMCs need to be tagged.
It might be also good to list the options that can be configured on the BMC

Added the testcase requested label to see if FVT team can create test bucket that can be executed in the discovery environment to verify that discovery is OK and things are set correctly, like netmask, IP address, etc..

[2016-08-30 17:17] whowutwut opened #1788 "Update the documentation to set the default behavior for node discovery to directly provision the OS"
The current documentation describes the process for running a chain command `runcmd=bmcsetup` to set up OpenPower servers.  However, the genesis kernel just sits there in a loop looking for the next chain command.

This seems to be an area where there is much confusion regarding what xCAT is doing and whether discovery is complete or in some error state (Maybe a update to the msg should be made to

[2016-08-30 18:36] samveen commented on #1783
@immarvin I'll get it done in a couple of days. (Feel free to add  me in the assigned list)

[2016-08-31 09:32] zhanggbj commented on #1559
Hi @bybai ,
Last week we did some offline debug with @immarvin.  Here are some updates and progress for your reference. Thanks.

1. Tried `pushinitrd` command after nodeset, but got errors as below. And it seems like that `pushinitrd `is for `diskful` and we are using `diskless`. So didn't go further to check menu.list
[code]

2. Logged on remote console and run `rinstall` with failed node. It fai

[2016-08-31 09:37] bybai commented on #711
Hi @richsudlow , I used the same data in networks table, and add some omitted node you mentioned in /etc/hosts, I cannot recreate issue.  Can you give a small example?

[root@c910f04x41 ~]# lsdef -t network semiprivate
Object name: semiprivate
    dhcpserver=10.32.64.2
    gateway=10.32.127.254
    mask=255.255.192.0
    mgtifname=ens1f0
    nameservers=10.4.41.1      ==============> this is my MN

[2016-08-31 13:39] whowutwut opened #1791 "mknb is inconsistent in behavior when upgrading xCAT"
We have seen some issues when upgrading xCAT the mknb does not actually update the genesis kernel so that the files changes are not updated when updating xCAT.  Can someone verify that this is actually working as intended.

The issue happened when we moved the /bin/restart file and on a system installed prior to the move of the file, after upgrading xCAT, the genesis complained that /bin/restart ,

[2016-08-31 13:41] whowutwut commented on #1783
@samveen  I just added you to the xcat contributor team, without this we cannot assign you in the "asignee list"  If you accept the invite, we can assign you this issue.  :)

[2016-08-31 14:36] daniceexi commented on #1791
@whowutwut You mentioned **genesis complained that /bin/restart**, did it happen during the install/updating of genesis? IF this is the case, the installation would fail.

[2016-08-31 14:55] gurevichmark commented on #1791
I remember seeing some code that on **update** of xCAT issues a message telling the user to manually run `mknb`.

[2016-09-01 01:32] immarvin commented on #1766
The problem has been fixed in the rhels7.3 snapshot1

[2016-09-01 01:32] whowutwut commented on #1791
Here's an example of what is seen in genesis...

[code]

[2016-09-01 02:28] samveen commented on #1783
@whowutwut Victor, accepted with great pleasure :)

[2016-09-01 02:43] wwzhubj opened #1792 "copycds report no error when it is not complete successfully."
I use :
 copycds -p /install/rh73snapshot1 -n rhels73 /root/Downloads/RHEL-7.3-20160825.1-Server-ppc64le-dvd1.iso
Copying media to /install/rh73snapshot1

Normally, after it completed, lsdef -t osimage can show the template osimage created for snapshot1. but I can not find.  Which means the copycds haven't ran successfully.
In this condition, the user should get some error / failure message.
the v

[2016-09-01 02:45] immarvin commented on #1792
please use "-n rhels7.3"

[2016-09-01 02:53] wwzhubj commented on #1792
yes, I know "-n rhels7.3" can work. But there are 2 issues:
1. why  "rhels73 " will fail?
2. when it fails, why the copycds shows no any error or failure message to user?

[2016-09-01 02:58] immarvin commented on #1792
"-n" should only be used when the xCAT cannot recognise the iso, this is obviously not the case here. in fact, without "-n", xcat can recognise the iso and "copycds" works well.

It is not a error for xcat, you just specified an arbitrary os name that xcat does not know what it is, so xcat cannot  create the osimage for it.

[2016-09-01 08:44] caomengmeng opened #1795 "[FVT]Please add confignics man page"
Please add confignics man page

[code]

[2016-09-01 09:02] caomengmeng opened #1796 "[FVT]Please add man page for mkntp"
Please add man page for mkntp

[code]

[2016-09-01 09:40] #1796 closed

[2016-09-01 10:22] daniceexi commented on #1795
We don't have man page for postscript.

Is this doc good enough?
http://xcat-docs.readthedocs.io/en/stable/guides/admin-guides/manage_clusters/ppc64le/diskful/customize_image/cfg_network_adapter.html

[2016-09-01 13:25] whowutwut commented on #1792
@wwzhubj  I'm not too clear about the issue you encountered.  Can you please provide some proof in the issue of the osimages after running copycds?  I ran the same command and it succeeded for me on my test machine...

[code]

Using "-n rhels73" is OK, we still are able to pick up the rhels7 as the default.   However, by not using the "7.3" convention, if xCAT ship a specific template for 7.3, you

[2016-09-01 13:38] whowutwut opened #1797 "Using the --template option to create a new osimage definition for netboot does not create a new rootimgdir"
I tried the --template option to create a new osimage definition from a netboot (diskless) osimage, and the result does not create a new `rootimgdir` attribute.  It re-uses the image directory from the template.

I think this is very dangerous for the new user to xCAT who is trying to duplicate diskless osimages and we should provide some protection.   If a osimgae is copied using this feature, ru

[2016-09-01 14:40] daniceexi commented on #1797
@whowutwut
It does have the issue as you mentioned. But the current implementation also has some goodness,
1. From user, it's consistent for mkdef that mkdef won't do any specific operation. If we make mkdef handle the **rootimgdir** in a specific way, user might worry is there any other attributes have special handling?
2. For code, it's consistent that no special code logic for specific attribut

[2016-09-01 15:43] whowutwut commented on #1797
Sure, if we want to keep the code changes to a minimium, then maybe suggest a warning message if the template contains a `rootimgdir` attribute , such as:
[code]

[2016-09-01 17:59] ralphbellofatto opened #1798 "xcatprobe switch-macmap fails when snmp community string is not "public""
We have a setup where we have programmed the switch community strings to somethng other than public and set that value in the site table...

[code]

the switch is progammed to respond to this community string and we have verified it with snmpwalk.

however when we run we get a timeout:

[code]

the /var/log/xcat/cluster.log show:
[code]

switch based discover in the /opt/xcat/lib/perl/xCAT_plugin/

[2016-09-02 02:01] immarvin commented on #1797
hi @whowutwut , the design of "mkdef --template" is creating object definitions based on xCAT shipped object definition templates or existing object definitions, it just manipulate the records in xCAT database, it's user's responsibility to specify the correct attributes and prepare the underlie entity of the object attributes.

[code]

So the issue you described is the behaviour by design. The me

[2016-09-02 02:11] cxhong commented on #1798
@ralphbellofatto , we will add code to the dump_mac_info subroutine to read community from site table,

[2016-09-02 10:19] daniceexi commented on #1786
@whowutwut
I did not realize that. My thought was since we have doc change for each minor release so I'd like to make each release has corresponding doc version. For example, even after the release of 2.12.2, the xCAT 2.12.1 still has a doc of 2.12.1 in RTD which is different with the 2.12.2.

What do you think that we enable all the minor versions for a branch like 2.12, 2.12.1, 2.12.2?

[2016-09-02 11:38] ralphbellofatto opened #1801 "creating a lot of new nodes during pre-disovery causes conserver a long time to acquire locks."
We Are attempting to use MTMS based discovery so we created a stanza file containing 80+ new nodes.

When we do this and then startup conserver, we notice that it takes a long for the console to acquire their lock before we can use them.

we have setup our site configuration with "consoleondemand=no" so we are logging all of the console traffic all of the time.

I have attached the stanza file wit

[2016-09-02 11:42] whowutwut commented on #1786
@gurevichmark is looking at this. I think yesterday we decided it might just be better to link just to the documentation and not a specific build of the doc. If we enable each release we will have so many different versions and really that seems pointless since as always ask the customer to go to the latest mod release. And we will keep around the latest in the doc, 2.12.2 right now

[2016-09-02 11:59] whowutwut commented on #1797
Thanks for the explanation. I'm ok with it

[2016-09-02 12:00] whowutwut commented on #1797
@immarvin do you think we should at least print a warning msg?

[2016-09-02 15:03] whowutwut commented on #1801
I haven't kept up with the changes that @jjohnson42  has been making into confluent.   But I do think that we should get confluent-deps re-built on Power operating systems and really have the abililty to replace conserver with confluent  for console management..  We can do a performance test for confluent and see whether we even have this issue at all, if not, maybe that's the solution we have mov

[2016-09-02 15:36] ralphbellofatto commented on #1801
I don't think this is a confluent vs xcat problem.  I think the problem has to do with the fact that the getbmc getipmicons call is done under lock a file lock in /tmp/xcat/consolelock and when a bmc is unreachable, there is a 10 second or so timeout.

This is done in in the /opt/xcat/share/xcat/cons/ipmi file.

This results in a lot of consoles waiting for locks.

I have found a temporary way aro

[2016-09-02 19:58] ralphbellofatto opened #1803 "node discovery won't keep nodeset parameters if genesis is still running."
We attempted use the MTMS method to do discovery.    We are generally following this process..

http://xcat-docs.readthedocs.io/en/stable/guides/admin-guides/manage_clusters/ppc64le/discovery/mtms/discovery_using_defined.html

When we get to the end of this process, the genesis image is still running on the system in a loop:

we will see this on the rcons:
[code]

this will loop about every 30 or

[2016-09-05 01:44] immarvin commented on #1792
hi @whowutwut ,
On the "copycds -n" issue, I talked with WeiWei last Friday to confirm their requirement, I think it is a real problem that "copycds" cannot differentiate the snapshots builds before the GA of os distributions, and might overwrite the installation resources under"/install/<os>/<arch>" and the osimage definitions created by default.

I am trying to enhance the "copycds -n" to make i

[2016-09-05 02:09] daniceexi commented on #1803
@zet809 I think we have tested this feature when the genesis is looping in waiting for the next task. Could you take a look of this issue?

[2016-09-05 02:52] daniceexi commented on #1786
So you meant all the 2.12.x release should use latest doc of the 2.12 branch. I am fine with that if you are fine with the following two facts

* There are doc differences between releases
* We do have the RTC doc for each release

[2016-09-05 06:42] bybai commented on #1795
hi @caomengmeng , could you check above doc ?

[2016-09-05 13:06] immarvin commented on #1797
hi @whowutwut , I think we do not need to print a warning message on this. The man page is clear enough.

Think of a scenario that user create a diskless osimage definition with "mkdef xxx <attribute>=yyy ..." without "--template" option or "cat <osimage definition stanza file>|mkdef -z", the problem of the "rootimgdir"  of 2 osimages refer to the same directory might still exist.

Another example

[2016-09-06 08:24] zet809 commented on #1803
@ralphbellofatto Can you show me the 'currchain,currstate,chain' attributes for the failed node after running nodeset?

[2016-09-06 10:34] arif-ali opened #1804 "[customer] Rest API not showing taggedvlan from ipmi table"
Hi

`lsdef` from a command for any node, that tagged vlan for the ipmi is not shown, see below for the details. This also means that the Rest API is not showing the details as well.

[code]

below is the version of xCAT we are running

[code]

[2016-09-06 11:54] daniceexi commented on #1797
Even I also want to keep the code of *def to be simple and clear, but to make xCAT to be easier to use I'd like we can do something here.

[2016-09-06 12:00] ralphbellofatto commented on #1803
this is are the settings after the nodeset command:
Object name: c460c018
    arch=ppc64le
    bmc=172.2.4.18
    bmcport=0
    chain=runcmd=bmcsetup
    cons=ipmi
    cpucount=160
    cputype=POWER8NVL (raw), altivec supported
    currchain=runcmd=bmcsetup
    currstate=netboot rhels7.2-ppc64le-compute
    disksize=sda:2000GB,sdb:2000GB
    groups=all,compute
    hostnames=c460f04u39
    initrd=x

[2016-09-06 17:27] gurevichmark commented on #1804
This issue has been fixed by pull request #1799

[2016-09-06 19:04] gurevichmark commented on #1801
I will take a look at what can be done.

[2016-09-06 19:16] gurevichmark commented on #1786
To make release numbers more consistent, I have created a new release 2.12.0 and tagged it to the same commit number as 2.12_release. So now Read The Docs can display documentation for 2.12.2, 2.12.1, 2.12.0, etc. `stable` is still `2.12.2` and `latest` is still `master` as before. I also changed the release notes documentation links to point to the correct URL for that release.
There is one probl

[2016-09-06 22:19] arif-ali commented on #1804
thanks

good to see, that it was already being worked on ;)

[2016-09-07 02:10] wwzhubj opened #1805 "Enable Kdump can not work on diskless image for rh7.3 snapshot1"
I follow steps in  the doc:
http://xcat-docs.readthedocs.io/en/stable/guides/admin-guides/manage_clusters/ppc64le/diskless/customize_image/enable_kdump.html
But the core files are not saved in the directory I set.
[root@c712ems4 ~]# lsxcatd -v
Version 2.12.2 (git commit 6fff020a905c64cabe31896e653aebc942ee0694, built Thu Sep  1 06:18:21 EDT 2016)

[2016-09-07 02:18] daniceexi commented on #1786
Yes, we can remove the 2.12_release.

[2016-09-07 02:29] xuweibj opened #1807 "[DEV] "provision completed" logged in computes.log when just rpower CN"
MN:10.3.5.4
CN: c910f02c03p22

Operation: rpower off -> rpower on
[code]

[2016-09-07 06:20] fenggaobj opened #1809 "2.12.2 xcat-core for pcm upgrade failed"
1. change the code branch to tag 2.12.2
   [root@ppc803c xcat-core]# git branch -v
2. 2.12.2 aa5f6af Merge pull request #1746 from daniceexi/2.12
   master fd747d5 give warnings and return when use -o -p -a for packimage (#1757)
3. build xcat-core for pcm
   ./buildcore.sh UP=0 BUILDALL=1 VERBOSE=1
   ./buildcore.sh UP=0 BUILDALL=1 VERBOSE=1 EMBED=pcm
4. upgrade xcat-core using the self-build pack

[2016-09-07 06:55] wjianf commented on #1591
With the fixes, ntp offset changed to 0 after genesis loaded 10 minutes. The fixes can be accepted.  Thanks

[2016-09-07 06:57] #1591 closed

[2016-09-07 08:13] arif-ali commented on #400
👍

[2016-09-07 08:31] daniceexi commented on #1809
@immarvin could you take a look why PCM's build does not include the xCAT-probe package?

[2016-09-07 10:18] whowutwut commented on #1786
@gurevichmark  agreed. Can you also update the release process wiki so we are consistent with the tagging conventions

[2016-09-07 14:34] gurevichmark commented on #1786
Release `2.12_release` removed and "Release process" wiki page modified.

[2016-09-08 06:51] zet809 commented on #1803
@ralphbellofatto Hi, Ralph, we have a better workaround:
When setting chain for a node, pls append 'standby' at the end of your tasks. Such as:
chdef node chain="runcmd=bmcsetup,standby"
Then, your compute node won't encounter the looping again after hardware discovery done.

For your current situation, after you modify the chain for all the compute node, you all need to set the currchain and curr

[2016-09-08 09:17] zhanggbj commented on #1559
Tried with the new netboot image, but reboot failed at the same stage. Have updated screenshot and whole reboot process to @immarvin for further debug. Thanks.

[2016-09-08 11:59] ralphbellofatto commented on #1803
ok, that covers a workaround,  is the documentation going to be updated for docovery, or xcat modified so this happens automatically?

[2016-09-09 02:08] zet809 commented on #1803
We will update our document that the task 'standby' need to be appended to 'chain' if  task 'runcmd=xxx' or 'runimage=xxx' is singly used.

[2016-09-09 03:07] caomengmeng commented on #1585
@whowutwut  @daniceexi
Fixed this issue with a new option: -cl, it will shows all the commands.
And commands means: the folder name under the "/opt/xcat/share/xcat/tools/autotest/" and there is "case*" file under this folder, for example:
/opt/xcat/share/xcat/tools/autotest/lsdef/cases0
"/opt/xcat/share/xcat/tools/autotest/" is the default folder for testcases.
sub-folder name is recognized as a c

[2016-09-09 03:13] caomengmeng commented on #1584
@whowutwut
1. there is no "xcattest -l" now:
[code]

For 2 and 3:
will also update man page to make it clear: the bundle file should be "*.bundle" file under the /opt/xcat/share/xcat/tools/autotest/bundle/
[code]

[2016-09-09 03:27] caomengmeng commented on #1583
@whowutwut @daniceexi
Fixed this issue with below output messages:
[code]

[2016-09-09 08:59] immarvin commented on #1805
fixed in https://github.com/xcat2/xcat-core/pull/1812

Test case required for rh7.x bundle

[2016-09-09 09:00] immarvin commented on #1805
ping @tingtli

[2016-09-09 11:34] LudovicEnault commented on #1677
Hell @penguhyang ,
I used "genimage --noupdate IMAGE_NAME", but it installed a newer kernel (4.4.0-36).

[2016-09-09 13:58] billwaj opened #1813 "renergy for Power 7 hardware does not work in xcat 2.12 on redhat 2.7"
The xcat 2.12.2 renergy man page states that it supports older Power 7 hardware which should use the PPCenergy.pm code to ultimately use the xCAT-pEnergy rpm to obtain the specified values.  However, PPCenergy.pm is not used and energy.pm is used and has errors with some values.

Is older Power 7 and Power 6 hardware still supported in xCAT 2.12 ?

[2016-09-09 15:18] serbanmaerean opened #1815 "[CORAL-EA]Failure to handle directory path names with blank spaces in them"
addkit command fails to add a kit located in a directory path name that contains blank spaces.

For example, if my kit is located in /repo/kits/Parallel Performance Toolkit/ and I run addkit command, I get the following error:
[code]
However, if I rename the "Parallel Performance Toolkit" to Parallel_Performance_Toolkit, basically eliminating the blank spaces, the addkit command succeeds:
[code]

[2016-09-10 18:32] whowutwut opened #1816 "[CORAL-EA]: Mellanox IB installer cannot support multiple kernels on RHEL 7.x"
In the hack_uname function, it doesn't support multiple kernels correctly.  Introduced to fix Issue #316   The `uname -r` command looks in the `/lib/modules` directory but only echos 1 kernel back.  If there are more, it will pick the wrong one and fail when `uname -m` is called because it takes the output of `uname -r` and passes it to rpm.

We will get a message like:
[code]

The other issue fou

[2016-09-10 19:32] whowutwut commented on #1813
@zet809  could you take a look at this?

[2016-09-11 10:00] #1660 closed

[2016-09-12 02:52] daniceexi commented on #1813
@billwaj The energy management for none-OPAL is supported in 2.12.2.
In xCAT code, we need a way to use the machine type to figure out whether it's a OPAL server. So we have a list for all none-OPAL server. The ones which are not in the list are considered as OPAL.

So I guess you problem was you run renergy against a non-OPAL server which is not in the **non-OPAL** list.

Then what's the MTMS of

[2016-09-12 04:38] neo954 commented on #1816
@whowutwut, if there are multiple linux kernel installed on the same machine, the `hack_uname()` will choose the latest one, which is the one has larger version number. There is no way to guess which is the right one. The administrator just know which is the right one in his/her mind. There is no way to guess it properly.

[2016-09-12 04:41] neo954 commented on #1816
@whowutwut, on a ppc64le system, `uname -m` always show `ppc64le`, no matter on RHEL or Ubuntu. There is no chance of it to show `ppc64el`. The function `hack_uname` just mimic the behavior of the real `uname` command.

[2016-09-12 06:48] hu-weihua commented on #1816
Hi @whowutwut , how does ``hack_uname()`` work just as @neo954 explained above, we can't anticipate the right kernel version unless administrator tell us. If we must know some information from administrator before running IB installer, we have to offer a command option to administrator to input such information.  But it is a real good option?  xCAT really can support multiple kernel well?  I think

[2016-09-12 06:51] daniceexi commented on #1090
@chenglch @zet809 Please update the status for this issue to make sure all the problems mentioned in this issue has been fixed.

[2016-09-12 07:20] junxiawang opened #1817 "[fvt]2.12.3 man page for rcons need modified to exit console session"
How to reproduce:
 If conserver-host is specified, the conserver daemon on that host will be contacted, instead of on the local host.

       To exit the console session, enter:  <ctrl><shift>e c .
-----------------> could not be exited using such command above

[2016-09-12 08:43] zet809 commented on #1090
No more issues encountered with ipmitool-xcat-1.8.15-3, so close this defect.

[2016-09-12 08:47] zet809 commented on #1652
@cxhong Hi, casandra, do you plan to enhance the 2 switch configuration scripts? If not, I'll move it to the next release.

[2016-09-12 09:18] wjianf opened #1818 "Configbond is not work"
## Configured nic bonding with "configbond bond0 ib0@ib2 mode=1", but the bonding nic couldn't be brought up with the message as below:

[root@pcm421rhel71mn postscripts]# updatenode compute000 confignics
compute000: Mon Sep 12 05:08:39 EDT 2016 Running postscript: confignics
compute000: confignics on compute000: config install nic:0, remove: 0, iba ports:
compute000: eth2!192.168.12.3
compute000:

[2016-09-12 12:04] billwaj commented on #1813
The machine type and model of the power 7 I tested for was 9125-F2C.

[2016-09-12 14:17] daniceexi commented on #1818
@bybai could you take a look of this issue?

[2016-09-12 14:19] whowutwut commented on #1816
@neo954 @hu-weihua  If you look at our code for https://github.com/xcat2/xcat-core/blob/master/xCAT-server/share/xcat/ib/scripts/Mellanox/mlnxofed_ib_install.v2 , at line 150, we have the following code...

[code]

Was that a typo in our code for the case statement?  `ppc64el`

[2016-09-12 14:32] whowutwut commented on #1816
Thinking about this some more,  I really only want to achieve a few simple goals here:

1) Allow for debugging of these special hacks easily without the developer/customer needing to modify the code, but just modify the caller with a verbose option.    I don't like to just enable that `set -x`  command.  And because of the hack that we did for uname, we can't replicate the problem by doing a `chro

[2016-09-12 14:46] whowutwut commented on #842
@daniceexi  I think if this change requires too much effort, Instead of doing all or nothing, maybe we can at least create a few pull request that would work us towards this end goal.  The first being...  partition `/var` to something like 4GB so that we cannot fill the entire filesystem from entries in /var/logs

[2016-09-12 14:48] whowutwut opened #1821 "[CORAL-EA] Increase the size of the /boot partition to be a little larger"
The 256MB size that we set for the `/boot` partition seems to be quite small now and see some customers hitting issues with `/boot drive has no more space.` when making any customization to the osimages.

Consider bumping this up to 500MB.

Should be applied to all partition schemes that xCAT supports

[2016-09-12 14:53] whowutwut commented on #1821
On 2nd thought, let me find some more details about this before anyone makes a change to this `/boot` partition to see if the customer ran into the issue because of some other usage error.

[2016-09-12 17:03] neo954 commented on #1816
@whowutwut,

No, `ppc64el` is not a typo. It seems you do not really understand the story between `ppc64le` and `ppc64el`.

To make the long story short, on ppc64le machine which runs Ubuntu, `dpkg --print-architecture` shows `ppc64el`, and `uname -m` shows `ppc64le`. The hacked `uname` does exactly what it looks like.

[2016-09-12 19:51] whowutwut commented on #1816
@neo954  Thanks,..  I see now.    It's only testing for the case where  Ubuntu returns something else and re-setting ARCH.  Ok, I figured that the change LBS made was causing a failure and it helped to resolve it. but looks like it wasn't something that was needed.

[2016-09-12 21:43] markprez opened #1822 "rflash through xcat is failing, but the command xcat is using works."
rflash through xcat is failing, but the command xcat is using works.

[root@c712ems4 tom]# rflash ./8335GTB_820.1634.20160907b_update.hpm
Error: Invalid nodes and/or groups in noderange: ./8335GTB_820.1634.20160907b_update.hpm
[root@c712ems4 tom]# rflash c712f7n06-pvt ./8335GTB_820.1634.20160907b_update.hpm
c712f7n06-pvt: rflash started, please wait.......
c712f7n06-pvt: Error: Running ipmitool co

[2016-09-12 21:44] markprez commented on #1822
[root@c712ems4 tom]# lsxcatd -v
Version 2.12.2 (git commit 6fff020a905c64cabe31896e653aebc942ee0694, built Thu Sep  1 06:18:21 EDT 2016)

[2016-09-13 00:22] whowutwut commented on #1822
@markprez  can you also show us the version of ipmitool-xcat? `rpm -qa | grep ipmitool-xcat` Thanks

[2016-09-13 01:26] daniceexi commented on #1821
Currently, we are using the default configuration from the installer. Not sure there's an easy way to do that instead of making the fix size in the template file.

[2016-09-13 01:37] daniceexi commented on #842
Looking forward the input from @immarvin

[2016-09-13 01:47] markprez commented on #1822
ipmitool-xcat-1.8.15-2.ppc64le

[2016-09-13 02:24] bybai commented on #711
Cannot recreate it easily, move to next release.

[2016-09-13 02:26] #1553 closed

[2016-09-13 02:29] chenglch commented on #1822
Services may be affected during upgrade. Do you wish to continue? (y/n): y

The output of the prompt above make me confusing, not sure if the rflash patch for ipmitool-xcat enabled or not while building the ipmitool-xcat package.

[2016-09-13 02:30] xuweibj opened #1824 "[DEV] After OS provision, there is no "provision completed" in computes.log"
MN : 10.3.5.4 (Redhat 7.2)
CN : c910f03c17k20

Command : ```rinstall c910f03c17k20 osimage=sles12-ppc64le-install-compute```

Sometimes the log is as below.
[code]

But, sometimes the log is below:
[code]

[2016-09-13 02:33] neo954 commented on #1816
@whowutwut, The `kernelver` attribute is not always available for an osimage. And the code of xCAT should definitely work without `kernelver` attribute set in an osimag.

[2016-09-13 02:41] tingtli commented on #1738
just under discussion. Move to 2.12.4

[2016-09-13 02:41] whowutwut commented on #1816
Sure, those are just some suggestions to make this situation better or work around the problem in xcat without the user modifying a script to support a different kernel is ok.

[2016-09-13 02:47] #1758 closed

[2016-09-13 02:47] caomengmeng commented on #1758
works well now

[2016-09-13 02:48] caomengmeng commented on #1772
works well now

[2016-09-13 02:48] #1772 closed

[2016-09-13 02:50] caomengmeng commented on #1420
This is hard to reproduced and not happened form the last two months, so close it

[2016-09-13 02:50] #1420 closed

[2016-09-13 02:50] cxhong commented on #280
can we close this issue then if we recommend to run makeknowhosts by customer?

[2016-09-13 02:52] caomengmeng commented on #1624
works well for the last one month, so close it.

[2016-09-13 02:52] #1624 closed

[2016-09-13 03:04] penguhyang commented on #1082
This feature will move to 2.12.4

[2016-09-13 03:21] wwzhubj opened #1826 "incorrect Warning message when the ip address is in dynamic range."
The node installation will falling into install-reboot-reinstall loop when the ip address set to the node is in the dynamic range in networks table.  But when I ran nodeset, only Warning message is given, this is not right, it should be Error message, because it cause the installation failure.

[code]
[code]

[2016-09-13 03:22] daniceexi commented on #1813
@zet809 could you check whether the 9125-F2c has been added in the power6 list. In certain subroutine in the Utils.pm.

[2016-09-13 05:12] zet809 commented on #1813
It seems the MTM 9125-F2C is not put in the power6 list.
@billwaj Hi, bill, the hash below include the machine type/model for p6 and p7 servers, will you pls add MTM for your servers to have a try? If works, pls tell us all the MTM you'd like to add into the list and then we can check them in xcat. Thx!

# the MTM of P6 and P7 machine
my %MTM_P6P7 = (
    # P6 systems
    'xxxx-xxx' => 1,
    # P7

[2016-09-13 05:26] daniceexi commented on #1805
@immarvin for the fix which needs to be test or add new test case, add the label **component:test**

[2016-09-13 05:52] bybai commented on #1818
TYPE=Bond is missing from configbond

[2016-09-13 06:04] #1766 closed

[2016-09-13 06:26] bhbai opened #1828 "xCAT not start from hard disk after provsioned statefull node"
Env:

Expected result: xCAT must/should boot from hard disk automatically while provision with statefull image.

Detail steps as following:
[code]

Check result:xCAT not choose start from hard-disk option. refer to:
![2016-09-08 17_27_xcatbooterr](https://cloud.githubusercontent.com/assets/18112233/18463580/be5d7644-79bd-11e6-9fb9-fd7c803904d5.png)

[2016-09-13 06:50] wjianf commented on #1818
Please help merge the fix into 2.9.1-pcm and 2.11-pcm branch. Thanks!!

[2016-09-13 06:54] wjianf commented on #1818
Please also commit the fix into 2.12-pcm branch.

[2016-09-13 07:09] hu-weihua commented on #1816
@whowutwut, I think we can take your 2 requirement into account. it make the IB installer script better.
But I need to know the priority of this item. it seams it isn't a block issue. Do we need to do it in xCAT 2.12.3? We have a lot high priority work item during next 3 weeks.

I still hope you could offer the directory structure of ``/lib/modules`` in customer 's environment for me. it's helpful

[2016-09-13 07:31] tingtli commented on #1828
@junxiawang  Would you please take a look at this defect to see if it could be recreated?
I think we ever run the test

[2016-09-13 07:59] zet809 commented on #1828
The data below can be got both from petitboot menu and diskful OS, it shows that the server need to boot from network but empty petitboot configuration file got. That is why the server hung at petitboot menu.
 # nvram --print-config
"common" Partition
---------------------
petitboot,bootdevs=uuid:00:90:fa:b9:ba:ae uuid:07cf7177-43fe-4141-a38d-53b7e4f37994
petitboot,network=00:90:fa:b9:ba:ae,dhcp
p

[2016-09-13 08:32] wwzhubj commented on #1828
I hit this problem in firestone node.
c712f1n01-pvt: System Firmware Product Version: IBM-firestone-ibm-OP8_v1.7_1.62
c712f1n01-pvt: System Firmware Product Additional Info: hostboot-bc98d0b-1a29dff
c712f1n01-pvt: System Firmware Product Additional Info: occ-0362706-16fdfa7
c712f1n01-pvt: System Firmware Product Additional Info: skiboot-5.1.13
c712f1n01-pvt: System Firmware Product Additional Info

[2016-09-13 08:39] immarvin commented on #1821
For Redhat7, the default partition scheme is generated in the %pre section of anaconda, current the default size is 256MB, it can be modified in the following code:
[code]

For ubuntu, the default partition scheme of ppc64le and x86_64 is different, "/boot" is a directory on "/" partition instead of a separate partition in ppc64le. The "/boot" partition is about 100MB on x86_64 node. The partition

[2016-09-13 08:44] neo954 commented on #1618
I do not intend to fix this issue.

[2016-09-13 08:49] bybai commented on #1818
Hi @wjianf, I cannot find 2.12-pcm from pull request page, could you check if this branch is fine?

[2016-09-13 08:50] neo954 commented on #1616
`yum updateinfo` is provided with the plugin yum-security. This plugin extends yum to allow lists and updates to be limited using security relevant criteria.
In order to use it, install yum-security:

    # yum install yum-security

[2016-09-13 08:54] zet809 commented on #1828
After clean the nvram, the node can boot successfully.
But the current problem is, who and when the nvram data is wrote. From xcat point of view, we need to clean up the nvram if there is any in setbootfromdisk script.

[2016-09-13 10:11] zet809 commented on #685
@flystar0439 Will you pls verified this issue with our latest ipmitool-xcat-1.8.15-3?

[2016-09-13 12:04] richsudlow commented on #711
On 09/12/2016 10:24 PM, Yuan Bai wrote:

ok Thanks for your efforts.

Rich

--
Rich Sudlow
University of Notre Dame
Center for Research Computing - Union Station
506 W. South St
South Bend, In 46601

(574) 631-7258 (office)
(574) 807-1046 (cell)

[2016-09-14 01:52] whowutwut commented on #1822
@chenglch yes good catch. It seems like this version of ipmitool-xcat isn't patched correctly... I wonder how this happened...

Perhaps we need to test the build of ipmitool-xcat after we build to verify the patches are implemented correctly

[2016-09-14 01:54] whowutwut commented on #1090
@ralphbellofatto are you ok with the fix? Can we close this and if there are additional issues we can open another to track?

[2016-09-14 03:15] zet809 commented on #1813
@billwaj Hi, Bill, any update?

[2016-09-14 08:21] zet809 commented on #1735
@immarvin Hi, Yang song, will you pls take a look at this issue?

[2016-09-14 08:40] immarvin commented on #1809
seems xCAT-probe is not included for "PCM"
[code]

[2016-09-14 09:06] immarvin commented on #1735
fixed in https://github.com/xcat2/xcat-core/pull/1835

[2016-09-14 11:29] daniceexi commented on #280
I think so.

[2016-09-14 11:41] whowutwut commented on #1821
I think we should do a install of rhels7 from a USB stick snd take a look at the default partition file set up... Then maybe it's time to update the partition schemes to that.  @pdlun92 can you do this?

Talking to @markrprez some more it looks like they wanted to install multiple kernels to the diskful images   But diskless probably doesn't need an increase. But let's see the defaults first.

[2016-09-14 12:35] wangwhao opened #1836 "go-xcat failed to call non-existing yum subcommand on RHEL 6"
On RHEL 6.7, go-xcat tried to call "yum --nogpgcheck updateinfo", which does not exist.

[root@c853mgrs1 yum.repos.d]# /tmp/go-xcat
go-xcat version 1.0.2

Usage: go-xcat [OPTION]... [ACTION]
Install xCAT automatically

Options:
Mandatory arguments to long options are mandatory for short options too.
  -h, --help                    display this help and exit
  --xcat-core=[URL]             use a di

[2016-09-14 13:48] billwaj commented on #1813
Yes and thanks, adding 9125-F2C to %MTM_P6P7 in Utils.pm now successfully calls the PPCenergy plugin  which in turn calls xCAT_cim_client.

One problem I am now working through is that xCAT_cim_client is passed in the hostname of the specified FSP and not the ip address as was done in past xCAT release.  This is causing an error which I am now investigating.

________________________________
From:

[2016-09-14 14:17] immarvin opened #1837 "[Customer]a network configuration of interface named "bootnic" will be created on CN when the "site.managedaddressmode='static'""
from mail list:

[2016-09-14 14:43] immarvin commented on #1837
fixed in https://github.com/xcat2/xcat-core/pull/1838

[2016-09-14 14:57] whowutwut commented on #1816
@hu-weihua, thanks for flagging this early! If you are busy, we can find someone else to work on this, no worries.

@gurevichmark  will make some quick changes for the 2.12.3 and decide on a longer term solution. I want to at least fix the problem where uname hack is hidden from the user.   We can't reproduct this in a chroot environment because we restored it after `genimage` failed.  So I just w

[2016-09-14 15:31] #280 closed

[2016-09-14 15:38] pdlun92 commented on #1822
Per note from @markprez

[2016-09-14 15:40] pdlun92 commented on #1822
Per note from @markprez

[code]

This leads me to believe ipmitool-xcat-1.8.15-2 was overwritten by source ipmitool-1.8.17 compiled as ipmitool-xcat-1.8.17.  If it is source, that would explain the absence of rflash patch.

Rejecting this issue

[2016-09-14 15:40] #1822 closed

[2016-09-14 16:10] whowutwut commented on #1821
Looks like the SLES file is setting the partition to 128mb in `scripts/pre,sles`.   Seems awfully small.    I'm OK changing ALL OS to 512MB or just changing the RHEL to 512MB.   I would like this to be done before the 2.12.3 GA.

[2016-09-14 16:16] neo954 commented on #1809
Maybe, PCM does not need package `xCAT-probe`. We may just remove this dependency.

[2016-09-14 18:51] gurevichmark commented on #1816
Pull request #1839 used to add debug statement before and after `hack_uname()`.
This issue will be moved to the next release to fix the `hack_uname()` to handle multiple kernels in `/lib/modules` directory.

[2016-09-14 19:40] whowutwut commented on #1816
Thinking about this some more, should we just not specify the exact kernel version to get the architecture of the machine?

The `uname -r` providing a random kernel response is still concerning, need to check what Mellanox installer script is using `-r` for...

But anyway.....

[code]

[2016-09-15 01:26] whowutwut commented on #1618
If we agree then I can do change the xcat.org repo files to be lower case instead of camel case. That will match go-xcat

[2016-09-15 10:36] whowutwut commented on #1824
@gurevichmark if you can fix this while China is on holiday. Please do

[2016-09-15 13:42] cxhong commented on #1752
The Lab Service also reported this issue:  the bmc node definition didn't delete after compute node provisioned.

[2016-09-15 15:44] whowutwut opened #1842 "[CUSTOMER] Feedback on xCAT documentation"
Some feedback was given from an xCAT customer. Opening this issue to track.  Maybe the RTD documentation is too basic for all users of xCAT and we need to cover more advanced management.

Add some sections on how the user can determine the type of power machines they are on. Can xCAT provide a tool or maybe incorporate this into the wizard or probe commands.   Sections for x86_64 maybe need to be

[2016-09-15 15:56] jet737700 opened #1843 "genimage doesn't pull pkgdir, pkglist, otherpkgdir, otherpkglist from osimage/linuximage tables"
genimage will use the osimage definition for information to generate
       this image.  Additional options specified on the command line will
       override any corresponding previous osimage settings, and will be
       written back to the osimage definition.

It looks like what it really does is to pull them from the "old" default locations and ignores the osimage/linuximage definitions.

In t

[2016-09-16 00:44] ralphbellofatto opened #1846 "rhel7.2 service node install sample results in broken yum install."
When we use the example osimage rhels7.2-ppc64le-install-service, it results in an installation where yum won't work on the node once it is booted up.

We started with a rehl7.2 + patches disk for the power8 garison nodes, (although I think this would also be a problem with the ga software disk).

We did the following:
[code]

once we are booted exeucting:
"xdsh c460c004 ls /etc/yum.repos.d | sort

[2016-09-16 03:18] samveen commented on #1786
`README.rst` needs the update too, as it uses `2.12` for the docs badge and the doc URL instead of `2.12.0` . I've created #1847 for it.

[2016-09-16 03:31] samveen commented on #1826
Is this related to #1764 ?

[2016-09-16 05:22] samveen opened #1848 "[Feature Request] Policy table entries for groups"
Is it possible to implement policy checks on a `user group` level instead of on a `per user` level? An example is given below:

## Existing Situation
[code]

## What I want
[code]
I create policy entries for groups instead of users, which allows me to reduce my policy rule complexity to groups of users instead of all users. Now, if there are new members of the `xCATEng` or `SysEng` groups, I will

[2016-09-16 16:50] markprez opened #1849 "rflash does not display any output or progress"
[code]

rflash against Garrison node does not display any output or indicate progress.
Also, I am not sure if the rflash is will continue if the session is disconnected. If not, it would be good to have this. On some earlier hardware, rflash would write to the screen and  a log (/var/log/xcat/rflash/<hostname> or something similar) and continue if the console disconnected.  Status could then be ob

[2016-09-16 18:49] whowutwut commented on #1849
@pdlun92  Please work with @zet809  to see if there's a good way to provide some status during the update of the firmware.

[2016-09-16 19:25] whowutwut commented on #1786
@gurevichmark  One last thing, can you add a badge on the https://github.com/xcat2/xcat-core README.rst file to show the status of the 2.12.2 doc build?

[2016-09-16 20:04] cxhong commented on #1846
per conversation with Ralph:
The stateful service node does not work out of the box, it requires another repository to exist where the othepkgs dir is.  the install proceeds, but when done, yum is broken...
at least some warnings would be helpful or something to tell us we are missing something...
the others were user error, but user error that is easy to make.

[2016-09-16 20:24] gurevichmark commented on #1824
I could not recreate this problem on any of my systems. I used kVMs.
I noticed that the xCAT build installed on MN was several weeks old.
Perhaps a newer build can be tried ?

[2016-09-17 06:15] neo954 commented on #1836
I will look into this one.

[2016-09-17 14:36] bhbai opened #1850 "xCAT log into genesis shell after reboot"
Env: IBM Power Systems S822LC(8247-42L) with minimum firmware version OP810.10/OP8_v1.7_1.13

xCAT log into genesis shell after reboot
Expected behavior: Should not loginto genesis shell,the genesis should continue work to get Mac in CN.

=======

[code]

[2016-09-17 14:39] bhbai commented on #1850
Note:
1. **Occasionally** will encounter this defect.
2. With the help of Raymond, we found the root cause, but hope you can fix it in 2.12.3 if possible.

[code]

[2016-09-17 17:39] whowutwut commented on #1797
Another option is similar to nodecheck option for xcatprobe we could have osimagecheck which would be separate from the xcat main path code but check things like multiple diskless osimage definitions using the same rootimg dir...

[2016-09-17 21:57] ralphbellofatto opened #1851 "netboot install has yum broken.."
We have a user requirement to be able to run yum install on netboot images, so that we can update a running system without having to reboot the node.  In addition, When running postinstall scripts we would like to be able to use yum to install packages, especially to ensure that prerequesite packages are installed prior to running other install scripts.  It is easiest to main these in the same pos

[2016-09-17 23:05] ralphbellofatto opened #1852 "when using copycds -p, stateful install has yum point to the wrong repository."
we installed a new iso to a different directory with
copycds isoname.iso -p /install/RHEL-7.2-20160512.0-Garrison

And we created a repository that points the pkgdir attribute to this directory.

And then provisioned a node with this image:  after the node boots we inspected the /etc/yum.repos.d file and found the following:'

[root@c460c072 yum.repos.d]# ls /etc/yum.repos.d
local-repository.repo

[2016-09-18 12:16] ralphbellofatto opened #1853 "bmcdiscover has problems with mtm discovery."
We attempted to use bmcdiscover with MTMS based discovery.  It fails to discover when doing this.

the xcat/cluster.log produces the following message:
[code]

the directions here are a bit sparse:
http://xcat-docs.readthedocs.io/en/stable/guides/admin-guides/manage_clusters/ppc64le/discovery/mtms/index.html

so we combined the directions from the switch based discover process with this to do:

[c

[2016-09-18 12:27] ralphbellofatto opened #1854 "mtm based discovery produces an unhelpful message"
http://xcat-docs.readthedocs.io/en/stable/guides/admin-guides/manage_clusters/ppc64le/discovery/mtms/index.html

If there are more than one node with the same mtm information available we get a message which is a bit unhelpful.

[code]
If this error message was changed to print out the $mtms information, then it would be a great help in finding the error.

To duplicate this problem, one needs to c

[2016-09-18 14:14] whowutwut commented on #1797
Perhaps @gurevichmark  can work on the probe command for that and that could be the solution here instead of changing any main xCAT code path

[2016-09-18 14:17] whowutwut commented on #1792
@immarvin  I think one of the bigger issues here is that some folks are using names like `rh73` that is not following our convention of `rhels`.   I don't think we want to even attempt to address covering those scenarios in your enhancement.  A long time ago RedHat did have a RedHat 7.3 (not RHEL) ....  In Issue #1797 I suggested the `osimage` option for xcatprobe which could be enough to cover th

[2016-09-18 14:56] whowutwut commented on #1618
@neo954, If you look at the way we are doing otherpkgdir, it looks like we are creating yum repo files using the camel case spelling .. `xCAT-...repo`. @gurevichmark can you confirm?  If this is the case, then i think `go-xcat` naming of the repo files is not consistent with the rest of the xCAT product.

[2016-09-18 14:57] whowutwut commented on #1082
@penguhyang  has any investigation been done to estimate the size of this work?

[2016-09-18 17:23] ralphbellofatto commented on #1851
we found that if we add ospkgs to the xcatdefault postscripts list, this problem be corrected.   the ospkgs postscript will create the yum.repos.d files correctly if yum is installed.

our xcatdefauts table looks like this now:
	"xcatdefaults","syslog,remoteshell,syncfiles,ospkgs,otherpkgs","syncfiles",,

so the ospkgs and otherpkgs get run on netboot installs at boot time.

[2016-09-19 01:17] immarvin commented on #1843
hi @jet737700 , would you please provide the directory hierarchy of "/install/rhel7.2/x86_64/updates" and "/install/software/zfs/localrepo", is there any repo created under these 2 directories?

[2016-09-19 01:32] daniceexi commented on #1851
@ralphbellofatto The postscript **ospkgs** does try to create repository file and install/update the packages from pkgdir. So ``updatenode <node> ospkgs`` might be the correct way to use want to use.

[2016-09-19 02:11] immarvin commented on #1826
yes, this is a duplicate bug with https://github.com/xcat2/xcat-core/issues/1764

[2016-09-19 02:30] daniceexi commented on #1618
General comment that we should only use low-case characters in all the code relative file or file names to avoid the case sensitive issues.

I found we created two branches for pcm against 2.12 branch: 2.12-pcm and 2.12-PCM, but in certain Operating System, git is confusing about the two branches.

[2016-09-19 03:32] zet809 commented on #1850
Duplicated with #1638 , had been included in xcat 2.12.2 release.

[2016-09-19 05:54] caomengmeng commented on #1795
Close this issue for there is a doc.

[2016-09-19 05:54] #1795 closed

[2016-09-19 06:12] zet809 commented on #1422
@wwzhubj Hi, wei wei, will you pls verify with our latest document that append osimage=<xxx> after runcmd=bmcsetup for chain to make sure whether this issue can be reproduced?

[2016-09-19 06:14] zet809 commented on #581
@xuweibj Hi, xuwei, will you pls take a look at this issue?

[2016-09-19 06:43] bybai commented on #1086
I looked into you requirement,in your case, db04b11 is short name of db04b11.private.zone, but you want xcat resolve db04b11.eng.platformlab.ibm.com.

The 2 domains are for 2 different networks. As a result, the domain for db04b11 is confused, db04b11 is hard to choose which one is its domain name.

Current results are following:

[root@db04b11 ~]# cat /etc/hosts | grep db04b11
192.168.108.80 db04

[2016-09-19 07:54] immarvin commented on #1821
hi @pdlun92 , for SLES, please refer to the autoyast doc https://www.suse.com/documentation/sles-12/book_autoyast/data/createprofile_partitioning.html on the partition scheme

[2016-09-19 08:30] immarvin commented on #1671
hi @chenglch , would you please take a look at this bug?

thanks

[2016-09-19 08:35] wwzhubj opened #1855 "rh7.3 and rh7.2 diskless image installation failed."
diskless image failed installation.
[code]
[code]
[code]
[code]

[2016-09-19 08:35] wwzhubj commented on #1855
genimage and packimage ran successfully, but the installation failed.

[2016-09-19 08:46] junxiawang commented on #1089
I have modified the template according to :https://github.com/xcat2/xcat-core/pull/1580 ,so I will close the bug.

[2016-09-19 08:46] #1089 closed

[2016-09-19 08:50] zet809 commented on #1853
@ralphbellofatto Can you show me the result of "tabdump vpd | grep -i 100a4ea" before "chdef node-8335-gtb-100a4ea mtm="?
From xcat point of view, even the pre-defined node newnode and node-8335-gtb-100a4ea have same mtm and serial, they have different nodetype and hwtype attributes, can you show me the node definition for the 2 nodes?

[2016-09-19 09:47] fenggaobj opened #1856 "Diskless boot failed for rhel7.3 because selinux disabled"
Maybe the ticket code does not work. https://github.com/xcat2/xcat-core/issues/1666

[root@pcmautorhelmn ~]# xcatconfig -v
Version 2.12.2 (git commit aa5f6af055544dc92f547ee9a96b90b286c4477b, built Fri Sep  9 03:12:54 EDT 2016)

[root@pcmautorhelmn ~]# cat /opt/xcat/share/xcat/netboot/rh/compute.rhels7.x86_64.postinstall | grep SELINUX
    sed -i 's/SELINUX=enforcing|permissive/SELINUX=disabled/'

[2016-09-19 13:07] ralphbellofatto commented on #1853
node-8335-gtb-100a4ea:
        objtype=node
        groups=all
        bmc=172.2.1.1
        cons=ipmi
        mgt=ipmi
        mtm=8335-GTB
        serial=100A4EA

[2016-09-19 13:54] gurevichmark commented on #1786
Done. Updated README.rst to include 2.12.2 badge

[2016-09-19 14:08] ralphbellofatto commented on #1853
this is a typical definition of a node we are going to try to configure with mtm
Object name: c460c090
    bmc=172.2.6.18
    bmcport=0
    chain=runcmd=bmcsetup
    cons=ipmi
    consoleondemand=1
    currstate=offline
    groups=all,compute,c460f06
    hostnames=c460f06u39
    installnic=mac
    ip=172.1.6.18
    mgt=ipmi
    mtm=8335-GTBx
    netboot=petitboot
    postbootscripts=syncfiles,conf

[2016-09-19 14:45] gurevichmark commented on #1618
When creating the repo file for `otherpkg` the file is `/etc/yum.repo.d/xCAT-otherpkgs0.repo`.
But the contents inside the file, use names with all lowercase:

[code]

[2016-09-19 15:46] ralphbellofatto opened #1857 "netboot postscripts have no knowledge about the osimage it is installing."
We have a need to bake somethings in the image created in the directory that come from the site table as well as the osimage definition itself.

for example we need to know the address of the management node as well as the ospkgdir and otherpkgdir specification so we can do some additional setup in the postinstall scripts to bake somethings into the image.

Currently there is nothing on the comman

[2016-09-19 19:37] cxhong commented on #1853
Hi, Ralph:
I couldn't recreate this issue in our test system with Garrison node.

looking at your bmc node stanza again.  I think your bmc node stanza missed nodetype and hwtype.
the nodetype and hwtype are created when run "bmcdiscover --range ip_range -t -z -w",  the flag "-t" is very improtant here.

after -t option ran, the mp table will create a entry with bmc node,
[code]

the findme() in th

[2016-09-19 19:43] markprez commented on #1855
I had been looking at this too and felt something got out of sync. The system had been up for 72days and had several xcat updates and recycles. I tried to recycle xcat this weekend but it did
not help. I rebooted the EMS and the problem has cleared up.

[2016-09-20 00:55] tingtli opened #1858 "[FVT]:investigate the output of rinv on Garrision"
Test platform(including OS and Hardware):  RHELS7.2 , CN:Garrision
Test xCAT version: Version 2.12.3 (git commit 2a6d45602969f7f0120a168c7c3ae4adb6894377, built Wed Sep  7 06:16:01 EDT 2016)
How to reproduce:
Here i gives out the message. There is some message which is not meaningful. Please investigate the message.
[root@fs1 ~]# rinv frame45cn02 all
frame45cn02: BMC Firmware: 2.13
frame45cn02: BM

[2016-09-20 01:17] daniceexi commented on #1858
We need to refine the format of content for a new issue.

We have a format for new issue but why don't use that any more?

[2016-09-20 01:58] immarvin commented on #1855
fixed in https://github.com/xcat2/xcat-core/pull/1859

[2016-09-20 02:03] immarvin commented on #1856
hi, would you please provide the diskless osimage definition?

[2016-09-20 02:08] fenggaobj commented on #1856
[root@pcmautorhelmn ~]# lsdef -t osimage  -o rhels7.3-x86_64-stateless-compute
Object name: rhels7.3-x86_64-stateless-compute
    addkcmdline=net.ifnames=0
    cfmdir=/install/osimages/rhels7.3-x86_64-stateless-compute/cfmdir
    description=The rhels 7.3 x86_64 stateless compute image profile
    imagetype=linux
    isdeletable=0
    kitcomponents=component-pcm-monitoring-agent-4.3-1.rhels-7-x86_

[2016-09-20 02:29] whowutwut commented on #1791
I don't think we were able to re-create this or think of a scenario where this would actually happen, so closing this for now.

[2016-09-20 02:29] #1791 closed

[2016-09-20 02:32] tingtli opened #1860 "［FVT］:rflash --check gives out different HPM firmwares for BIOS component"
Test platform(including OS and Hardware): RHELS7.2 , CN:Garrision
Test xCAT version: Version 2.12.3 (git commit 2a6d456, built Wed Sep 7 06:16:01 EDT 2016)
How to reproduce:
[root@fs1 ~]# rpm -qa |grep -i ipmitool
ipmitool-xcat-1.8.15-3.ppc64le
[root@fs1 ~]# rflash frame45cn02 /iso/8335GTB_820.1634.20160902a_update.hpm --check
HPM firmware version for BOOT component:  2.13 35000000
HPM firmware ve

[2016-09-20 02:41] zet809 opened #1862 "[DEV]Calling 'rmdef' with doreq doesn't remove a node definition"
At the end of hardware discovery, the temporary BMC node need to be removed. But the current code that calling rmdef with doreq "$doreq->({ command => ['rmdef'], arg => [$bmc_node] })" doesn't work in some case.
Open the defect to trace finding the root cause the this issue.

[2016-09-20 02:43] immarvin commented on #1856
what is ``/install/osimages/rhels7.3-x86_64-stateless-compute/kits/KIT_COMPONENTS.postinstall``? does it include the ``/opt/xcat/share/xcat/netboot/rh/compute.rhels7.x86_64.postinstall ``?

[2016-09-20 03:08] #1329 closed

[2016-09-20 05:56] immarvin commented on #1855
please try the latest cat snapshot build including the fix:
http://xcat.org/files/xcat/xcat-core/devel/Linux/core-snap/20160919.2221-core-rpms-snap.tar.bz2

[2016-09-20 06:44] neo954 commented on #1616
The problem mentioned above was fixed in pull request #1864.

[2016-09-20 06:47] neo954 commented on #1333
This is not an xCAT related problem.

[2016-09-20 06:53] caomengmeng commented on #1188
close this issue, and track it in: https://bugzilla.linux.ibm.com/show_bug.cgi?id=142326

[2016-09-20 06:53] #1188 closed

[2016-09-20 06:58] caomengmeng commented on #1255
PR: https://github.com/xcat2/xcat-core/pull/1372

[2016-09-20 06:59] caomengmeng commented on #1271
updated and works well now

[2016-09-20 06:59] #1271 closed

[2016-09-20 07:00] caomengmeng commented on #1347
Works well after that fixed till now, so close it

[2016-09-20 07:00] #1347 closed

[2016-09-20 07:02] caomengmeng commented on #1634
No need to open this option, so just delete the related code in usage, and will fixed by: https://github.com/xcat2/xcat-core/pull/1833

[2016-09-20 07:03] caomengmeng commented on #1386
updated and works well, so close it

[2016-09-20 07:03] #1386 closed

[2016-09-20 07:05] caomengmeng opened #1865 "[FVT] Update bundle files with a description"
Update all bundle files with a description as there is new option: xcattest -s bundle to show all bundle files list and description

[2016-09-20 07:42] immarvin commented on #1851
any update?

[2016-09-20 07:47] penguhyang commented on #1082
@whowutwut No, I will try this on next release.

[2016-09-20 08:00] immarvin commented on #1846
hi @ralphbellofatto ,  please try the following steps on MN:
[code]
download xcat-core and xcat-dep tarballs under "/install/post/otherpkgs/rhels7.2/ppc64le/xcat" and decompress them under  "/install/post/otherpkgs/rhels7.2/ppc64le/xcat".

We will try to add some useful message for user when user run "nodeset".

hi @cxhong , what do you mean by "yum is broken"? is yum still broken even when the co

[2016-09-20 08:02] immarvin commented on #1852
need some time to look into this problem

[2016-09-20 08:26] immarvin commented on #1857
hi @ralphbellofatto , we will try to pass all the specified attributes of the osimage definition via command line arguments or environment variables.

Generally, it is not a good idea for us to take any other attribute except the osimage attributes, such as the attributes of the cluster or the provisioning nodes into the osimage itself, if you need the attributes of this kind, you can run linux co

[2016-09-20 10:01] bhbai commented on #1850
After replace with xcat 2.12.2 release(None MCP genesis: **CAT-genesis-base-ppc64-2.12-snap201607221057.noarch**) this issue still can be reproduced.

Expected behavior: Should not loginto genesis shell,the genesis should continue work.

 replace xCAT 2.12.2 rpm as following:

[2016-09-20 10:23] ralphbellofatto commented on #1857
some of the information we want to get at here comes from the osimage itself, and it would appear that we are lacking the information at the postinstall step to know what image we are dealing with.

[2016-09-20 10:27] ralphbellofatto commented on #1857
The specific roadblock we have right now is that we need to know the ospkgdir value, but there will probably be other values that we may need to know in a postinstall script as well..

We can't get at them via executing xcat commands directly this point because no information is available as to what the current ospackage is..

[2016-09-20 12:06] tingtli opened #1870 "[FVT]:should we change go-xcat on xcat.org permission to be executable."
I found the permission of go-xcat on xcat.org is 644, when user download it, users need to change the permission to execute it. I don't think it is convenient. How about we change it to executable?

[2016-09-20 13:37] gurevichmark commented on #1804
@arif-ali Do you feel this issue is resolved and can be closed ?

[2016-09-20 13:39] gurevichmark commented on #1747
@tingtli Since there is no activity on this issue for 22 days, I am going to close it. Please re-open if you feel the issue is still there.

[2016-09-20 14:29] daniceexi commented on #1857
Is it an easy solution that support key word like ``#osimage.ospkgdir#`` in postinstall script, xCAT replace the key word to the real value from the osimage definition before executing the postinstall?

[2016-09-20 14:31] arif-ali commented on #1804
sure, yes, I will test, on my test machine soon

[2016-09-20 14:31] #1804 closed

[2016-09-20 15:48] ralphbellofatto commented on #1857
are you proposing adding this as an environment variable available at the postinstall step?

[2016-09-20 20:39] cxhong commented on #1047
I reopen this issue because it hits on research cluster again when they run "yum update xCAT", the workaround is change "TLSv1" to "TLSv12".  He didn't recall what was value for "xcatsslverison" before ran "yum update".

but I found the system had two sets of xCAT repo,  2.10 was point to souceforge
[code]
yum repolist and yum repoinfo are point to xCAT repo file at /etc/yum.repos.d
[code]

Do u t

[2016-09-21 01:50] daniceexi commented on #1047
@tingtli Please confirm whether the test case for this scenario is running every day and no problem.

[2016-09-21 05:45] zet809 commented on #1853
@ralphbellofatto Hi，ralph, will you pls close this defect if bmcdiscovery -t fix this defect for you? Thx a lot.

[2016-09-21 05:58] daniceexi commented on #1857
@ralphbellofatto Yes.

@immarvin Please estimate which one is easier to implement?

[2016-09-21 06:44] zet809 commented on #1854
@xuweibj Hi, xu wei, will you pls help to add this information within the log message? Thx!

[2016-09-21 06:45] zet809 commented on #1504
@xuweibj Hi, xu wei, will you pls help to modify the discovery related log message? Thx a lot!

[2016-09-21 06:57] immarvin commented on #1852
hi @penguhyang , can you take a look at this issue? thanks

[2016-09-21 07:04] tingtli opened #1871 "[FVT]remove the dependency of perl-xCAT package by xCAT-test"
From xCAT 2.12.2 , we found xCAT-test requires perl-xCAT, since we would like to have xCAT-test as an independent package, we would like to remove the requires from xCAT-test and perl-xCAT

[code]

This is introduced by genesistest.pl.

[code]

@junxiawang , please think about this and provide your fix for this. Thanks!

[2016-09-21 08:18] caomengmeng opened #1872 "[FVT] "bmcdiscover -i IP -u USERID -p PASSW0RD --ipsource" failed"
Test environment: rh7.2 and rh6.8 ppc64
Details:
[code]

[2016-09-21 08:45] caomengmeng opened #1873 "[FVT] Failed to find the directory: /.statelite/persistent after statelite installation"
For rh7.2, rh7.3 ppc64 and x86 platform, failed to find the /.statelite/persistent  folder after the statelite installation.
Please help to resolve this problem

[2016-09-21 09:07] tingtli commented on #1860
[root@fs1 ~]# rflash frame45cn02,frame45cn06 /iso/8335GTB_820.1634.20160917a_update.hpm --check
HPM firmware version for BOOT component:  2.13 35000000
HPM firmware version for APP  component:  2.13 35000000
HPM firmware version for BIOS component:  1.0b 00000001
frame45cn06: Node firmware version for BOOT component:   2.13 35000000
frame45cn06: Node firmware version for APP component:   2.13 3500

[2016-09-21 09:22] immarvin commented on #1857
hi @ralphbellofatto @daniceexi ,  I prefer the option to pass the required osimage attribute via environment variables, I added the following attributes in the environment variables of the postinstall script

[code]

is it enough?

[2016-09-21 09:23] immarvin commented on #1857
if you agree this option, I will create a PR soon

[2016-09-21 10:03] ralphbellofatto commented on #1857
Can you add the osimage name?

[2016-09-21 10:03] ralphbellofatto commented on #1857
the rest of the list looks good.

[2016-09-21 10:33] whowutwut commented on #1860
@tingtli please get the 1.8.17 version from the shared gpfs directrory. Email Pat for the location. We need to test with that version for 2.12.3.   It's not clear to me what the issue is you are opening against.   What is the version suppose to be and what is it showing?

[2016-09-21 10:34] whowutwut commented on #1860
Please assign rflash issues to @pdlun92

[2016-09-21 13:24] immarvin commented on #1857
hi @ralphbellofatto , is osimage name mandatory? If you will not run xcat command in the postinstall script, the osimage name is just a string and make any sense. If you really need it, I need to change the current interface of "rh/genimage"

[2016-09-21 13:48] ralphbellofatto commented on #1857
well, one of our CORAL requirements we have is that the compute node itself can report what image name it is actually booted with.

So, without the  osimage name, i would have to try to figure out what image it is.

[2016-09-21 14:44] chenglch commented on #1860
This issue is that the BIOS version from HPM file and BMC is different. `1.0b` vs`1.11` from tingting's comment.

I guess this is the hex format from hpm file and decimal format from the BMC.
As the BIOS version from the old BMC can not be detected, we do not pay much attention to this before.

From the code for HPM file
https://github.com/xcat2/xcat-core/blob/master/xCAT-server/lib/xcat/plugins/i

[2016-09-21 14:59] cxhong commented on #1872
[code]

Userid and password passed in by ($::opt_U) and ($::opt_P),  but never set to $bmc_user and $bmc_pass for this --ipsource option.

[2016-09-21 17:38] cxhong commented on #1857
Actually, We implemented this requirement already in the packimage process.  the image name will be stored in the /opt/xcat/xcatinfo on the compute node.

[2016-09-22 01:43] immarvin commented on #1857
hi @ralphbellofatto , just as @cxhong mentioned, we have the following info in "/opt/xcat/xcatinfo" file  in the rootimg.gz on MN and the root file system of running diskless node:
[code]

[2016-09-22 02:02] tingtli opened #1875 "[FVT]add statelite cases in sles12/sles12.1 bundle file"
We remove statelite cases in sles12 and sles12.1 last year since we didn't support that on sles12/sles12.1 and that was low priority. Since there is some customer requirement, we will support that and we need to add back these cases to bundle file.

[2016-09-22 02:05] chenglch commented on #1860
From my investigation, the output from both `ipmitool-xcat` and `ipmitool-1.8.17` is like this:

[code]

I have no idea to fix this issue, if the lower case version like `1.0b` is reasonable, there may be issue on the BMC or firmware side to fill the BIOS version field.

[2016-09-22 05:34] daniceexi commented on #1813
@billwaj
Besides ``9125-F2C``, are there any other server types you want to add in the P6P7 support list?

[2016-09-22 06:06] wwzhubj commented on #1855
Verified on 9/19 version. close it.

[2016-09-22 06:06] #1855 closed

[2016-09-22 06:45] junxiawang opened #1878 "[fvt]2.12.3 switch based switchdiscover could not update pre-definied switch in XCAT db if only change ip for this switch"
env :
MN:fs1
core switch :switch-10-5-23-1
edge switch:c910f05ibsw1mgt1
How to reproduce:
[code]

[2016-09-22 07:16] zet809 commented on #1828
I have opened a defect https://bugzilla.linux.ibm.com/show_bug.cgi?id=146624 on bugzilla to trace this issue from LTC point of view.

[2016-09-22 07:36] zet809 commented on #1548
The pull request #1659 and #1385 can fix this issue.

[2016-09-22 07:36] zet809 commented on #1547
The pull request #1659 and #1385 can fix this issue.

[2016-09-22 08:45] immarvin commented on #1857
fixed in https://github.com/xcat2/xcat-core/pull/1877

[2016-09-22 09:28] #1857 closed

[2016-09-22 10:45] ralphbellofatto commented on #1857
ok, that's perfect.  somehow I missed that file earlier..

Ralph Bellofatto
IBM TJ Watson Research
1-914-945-3321
ralphbel@us.ibm.com

From:	yangsong <notifications@github.com>
To:	xcat2/xcat-core <xcat-core@noreply.github.com>
Cc:	Ralph Bellofatto/Watson/IBM@IBMUS, Mention
            <mention@noreply.github.com>
Date:	09/21/2016 09:43 PM
Subject:	Re: [xcat2/xcat-core] netboot postscripts have no

[2016-09-22 15:14] markprez opened #1881 "Minsky boots genesis kernel when mutliple interfaces have dhcp dynamic ranges."
xCAT's default response to a dhcp bootp request is to boot the genesis kernel.
If you have multiple interfaces service dhcp dynamic responses but only one setup to provision and run distributed commands to the nodes the default on the other network will be genesis boot.
To dedicate the shared BMC port to BMC traffic only, we need to prevent dhcp responses to the OS side of the shared connection (e

[2016-09-22 15:15] ralphbellofatto commented on #1857
packimage, that is too late...

[2016-09-22 16:02] cxhong commented on #1881
Ralph suggested we should modify the dhcpd.conf too .

[2016-09-22 18:46] billwaj commented on #1813
The one I'm interested in is 9125-F2C but you can add 8233-E8B and 8236-E8C which can be used for a management node.

thanks.

________________________________
From: Xiaopeng Wang <notifications@github.com>
Sent: Thursday, September 22, 2016 1:34 AM
To: xcat2/xcat-core
Cc: billwaj; Mention
Subject: Re: [xcat2/xcat-core] renergy for Power 7 hardware does not work in xcat 2.12 on redhat 2.7 (#1813)

[2016-09-22 18:50] natefalkibm commented on #685
I am seeing this problem, too. I had ipmitool-xcat-1.8.15-2 installed and updated it to ipmitool-xcat-1.8.15-3, but I still see the issue.

When I use "ipmitool-xcat ... sol activate" directly, I never see these "SOL session closed by BMC" messages.

When I am using conserver with consoleondemand=no, I see the ""SOL session closed by BMC" every few seconds. It also seems to interfere with the syst

[2016-09-23 00:45] daniceexi commented on #1873
@penguhyang Could you take a look of this problem?

[2016-09-23 00:48] ralphbellofatto opened #1882 "todays development version of xcat has a dramatically longer netboot time."
There is a dramatic increase in the time it takes to decompress the rootimg.cpio.gz with the development branch of xcat:

lsxcatd -v
Version 2.12.3 (git commit ee11ecddb7e3c323b11857826a072303ae5a7b20, built Thu Sep 22 06:16:00 EDT 2016)

we recently changed from the "latest" xcat core code to the development code to pick up some recent changes.

previous version:
[code]

and the new version:
[roo

[2016-09-23 00:50] daniceexi commented on #1813
@zet809
Please guide @xuweibj to make the change. Thanks.

[2016-09-23 01:17] daniceexi commented on #1882
@immarvin and @penguhyang

Please take a look whether this caused by the change that we made to support ``tar`` to archive the osmage?

[2016-09-23 01:28] ralphbellofatto commented on #1882
These look like they are wget progress messages.

Ralph Bellofatto
IBM TJ Watson Research
1-914-945-3321
ralphbel@us.ibm.com

From:	Xiaopeng Wang <notifications@github.com>
To:	xcat2/xcat-core <xcat-core@noreply.github.com>
Cc:	Ralph Bellofatto/Watson/IBM@IBMUS, Author
            <author@noreply.github.com>
Date:	09/22/2016 09:17 PM
Subject:	Re: [xcat2/xcat-core] todays development version of xca

[2016-09-23 01:38] daniceexi commented on #1881
We may enhance the ``dhcpinterfaces`` to specify which nic cannot ``boot`` by adding a pending ``noboot`` keyword like following. If this is configured, we won't add the genesis load entry in the dhcpd.conf for this nic.

[code]

[2016-09-23 02:46] ralphbellofatto commented on #1882
while this may not be the cause of the change in behavior, I made an
experimental change to the following two files:

/opt/xcat/share/xcat/netboot/rh/dracut/xcatroot
/opt/xcat/share/xcat/netboot/rh/dracut_033/xcatrool

I changed:
                        logger "Getting $imgurl..."
                        echo Getting $imgurl...
                        if ! wget $imgurl; then
                [ "$xc

[2016-09-23 03:07] ralphbellofatto commented on #1882
just fyi,

our large 6GB compressed file was taking about 5.6 minutes to download and
now with the wget -nv option it takes 3.8 minutes...

So, i think the change is worth leaving in,....

If there are wget flags that can print out the download speed that would be
useful information that we are giving up here,

[2016-09-23 05:26] immarvin commented on #1882
fixed in https://github.com/xcat2/xcat-core/pull/1884

[2016-09-23 05:31] #1882 closed

[2016-09-23 06:42] caomengmeng opened #1886 "[FVT]Failed to run rpower pause after docker installed successfully on ubuntu14.04.4 x86"
Test ENV: ubuntu14.04.4  x86_64
Description: Failed to run rpower pause after docker installed successfully.

[code]

[2016-09-23 06:43] immarvin commented on #1857
added in https://github.com/xcat2/xcat-core/pull/1885

[2016-09-23 06:44] caomengmeng opened #1887 "[FVT]Failed to run "lsdocker -l" on ubuntu14.04.4 x86"
Test ENV: ubuntu14.04.4 x86_64
Description: Failed to run "lsdocker -l" after docker installed successfully.

[code]

[2016-09-23 06:57] caomengmeng commented on #1747
reproduced on sles12.1 ppc64le test environment:
[code]

[2016-09-23 08:00] #1824 closed

[2016-09-23 08:36] tingtli commented on #1747
@gurevichmark  We follow your guide to delete the disk files on node-32030901 manually.  Then it seems that this problem was resolved. But after running about 1 mouths. it seems it happens again.
As you mentioned, Normally rmvm <vmname> -f -p would do that, but somehow things got out of sync on node-32030901.
So, i guess probably, -p is not work correctly. Would you please take a look at it again.

[2016-09-23 08:50] #1837 closed

[2016-09-23 08:51] #1826 closed

[2016-09-23 08:54] immarvin commented on #1783
fixed in https://github.com/xcat2/xcat-core/pull/1793

[2016-09-23 08:54] #1783 closed

[2016-09-23 08:56] immarvin commented on #1264
close this issue. please open it when recreate

[2016-09-23 08:56] #1264 closed

[2016-09-23 08:56] robin2008 opened #1889 "Support to customize the directory to build the stateless image"
Just want to set the buildroot to a different path instead of the default one, for example, use high speed storage like flash.
Note: only for the build root, image is still stored in original path as high-speed storage may not have enough space for all stateless images.

It also could address the NFS issue:
Refer to this old issue: https://bugzilla.linux.ibm.com/show_bug.cgi?id=124177

Now, it cou

[2016-09-23 09:29] immarvin commented on #1889
you can change the "rootimgdir"
[code]

since during diskless installation, the rootimg.gz will be downloaded via http, so please make sure the newly specified rootimgdir is exported  in httpd/apacha config

[2016-09-23 12:07] ralphbellofatto commented on #1881
That looks like a good way to express this.....

What is the time line for getting this implemented...

[2016-09-23 12:19] gurevichmark commented on #1747
@tingtli It is hard to recreate this problem, and see what is going on, since it does not happen every time. I still think somehow, someone either manually or as part of the test, runs `rmvm` for that VM and does not specify `-p` option. This removes VM and leaves the disk there. After that `rmvm -p` from your test run can not remove the disk, because the VM is not there anymore.

I think we have

[2016-09-23 12:35] immarvin commented on #1889
another option is to bind mount the build directory on high speed storage to "$rootingdir/rootimg"

[2016-09-23 18:47] ralphbellofatto commented on #1881
I have been talking to our engineers who are successfully setting up garisions with dual cables, I think xcat already handles this case.

The trick is to place each of the cables on connected to the garison's on a separate vlan, such that untagged traffic.  This way the untagged traffic gets directed to different ip addresses on the managemt node depending on what vlan was assigned to the switch.

[2016-09-23 20:05] khm opened #1890 "cryptmethod support on linux"
Currently, xCAT passwd table does not support any sort of cryptmethod except md5 on linux.  glibc and musl both support sha256 ($5) and sha512 ($6) crypt methods, so there's no good reason to continue defaulting to md5.

Please consider at least introducing support for other cryptmethods, and preferably making the default choice stronger.

[2016-09-24 02:49] daniceexi commented on #1881
@ralphbellofatto I think for the case that make bmc use the port 0 dedicatedly, you don't need to use tagged vlan anymore. Just two ports, each one do it's job separately.

[2016-09-24 11:36] whowutwut commented on #1890
Thanks @khm   I also agree that this is something we should look into.

[2016-09-24 14:03] ralphbellofatto commented on #1881
For the genesis to work correctly, eth0 and eth1 need reach the management on different NICS.  That can be done by assigning each on its own vlan, or use completely separate switches.
  Then the genesis sorts out the mac address, it and writes out the data as follows:

[code]

This results in the leases file containing this after discovery:

[code]

This will result in a dynamic address being assi

[2016-09-26 01:34] tingtli commented on #1872
@caomengmeng  I think when we open defect, we need to give the steps which developers could use to reproduce the issue. Not the logs which in our test log. This one is simple, but sometimes, in our test log, there is some scripts, it is not easy to understand.
E.g for this example, we need to use this one:
[root@c910f02c08p05 result]# bmcdiscover -i 10.4.30.254 -u USERID -p PASSW0RD --ipsource
Err

[2016-09-26 02:20] ralphbellofatto commented on #1881
I further analyzed the system from which the above dhcp leases file and came from and i'm seeing the mac settings in the lsdef file are inconsistent, even though the person who set the system up reported them working reliably..

here are a subset of the lsdef sections that we had pulled from this system:

[code]

notice that some of the nodes identified themselves with the NOIP and some did not.

[2016-09-26 02:33] caomengmeng commented on #1514
works well for many days, so close it.

[2016-09-26 02:33] #1514 closed

[2016-09-26 06:10] junxiawang opened #1892 "[fvt]2.12.3 configMellanox usage output wrong"
env:fs1
build:
[root@fs1 script[root@fs1 scripts]# lsdef -v
lsdef - Version 2.12.3 (git commit 52c71293037e93bc42e0cd9c60f5a1d977be18f0, built Tue Sep 20 06:15:55 EDT 2016)
How to reproduce:
[code]

[2016-09-26 06:22] junxiawang opened #1893 "[fvt]2.13 configMellanox could not set ip for switch if only change switch's ip"
env：fs1
build:root@fs1 scripts]# lsdef -v
lsdef - Version 2.12.3 (git commit 52c71293037e93bc42e0cd9c60f5a1d977be18f0, built Tue Sep 20 06:15:55 EDT 2016)
[root@fs1 scripts]#
How to reproduce:
[code]

[2016-09-26 07:17] immarvin commented on #1875
hi @caomengmeng , please update the status of this ticket

[2016-09-26 07:18] caomengmeng commented on #1875
Add related case in PR: https://github.com/xcat2/xcat-core/pull/1879
Please close this issue.

[2016-09-26 07:20] tingtli commented on #1873
@penguhyang  I think it is a very important bug. This will cause our persistent feature for statelite provision.

[2016-09-26 07:29] zet809 commented on #1860
@pdlun92 Hi, Pat, do you think this defect can be fixed in this release? If not, we shall move it forward.

[2016-09-26 07:33] #1851 closed

[2016-09-26 07:36] immarvin commented on #1787
hi @gurevichmark , would you please take a look at this?

thanks

[2016-09-26 07:43] #1875 closed

[2016-09-26 07:44] neo954 commented on #1870
There is no point to the the file permission on the remote site. When you download a file via wget from the Internet, the file permission is calculated base on the umask in your environment. And there is no way to create new file with execution permission automatically. It is just the nature of Unix/Linux.

Anyway, follow the document [1], document is good.

[1] http://xcat.org/download.html